Repository doocs/leetcode, pull requests merged in 2023-09, with the labels that each got.

#1605 ci: add pr-add-label
  .github/workflows/pr-add-label.yml
Labels: Core Team, yml

#1606 feat: add rust solution to lc problem: No.0443
  solution/0400-0499/0443.String Compression/README.md
  solution/0400-0499/0443.String Compression/README_EN.md
  solution/0400-0499/0443.String Compression/Solution.rs
Labels: md, rs, Core Team

#1607 feat: add solutions to lc problem: No.2850
  solution/2800-2899/2849.Determine if a Cell Is Reachable at a Given Time/images/example2.svg
  solution/2800-2899/2850.Minimum Moves to Spread Stones Over Grid/README.md
  solution/2800-2899/2850.Minimum Moves to Spread Stones Over Grid/README_EN.md
  solution/2800-2899/2850.Minimum Moves to Spread Stones Over Grid/Solution.cpp
  solution/2800-2899/2850.Minimum Moves to Spread Stones Over Grid/Solution.go
  solution/2800-2899/2850.Minimum Moves to Spread Stones Over Grid/Solution.java
  solution/2800-2899/2850.Minimum Moves to Spread Stones Over Grid/Solution.py
  solution/2800-2899/2850.Minimum Moves to Spread Stones Over Grid/Solution.ts
  solution/2800-2899/2850.Minimum Moves to Spread Stones Over Grid/images/example1-3.svg
Labels: md, ts, py, go, java, cpp, core team, svg

#1608 feat: add solutions to lc problem: No.0070
  solution/0000-0099/0070.Climbing Stairs/README.md
  solution/0000-0099/0070.Climbing Stairs/README_EN.md
Labels: md, core team

#1611 chore: update workflow
  .github/workflows/pr-add-label.yml
Labels: yml

#1614 feat: add solutions to lc problem: No.0356
  solution/0300-0399/0356.Line Reflection/README.md
  solution/0300-0399/0356.Line Reflection/README_EN.md
  solution/0300-0399/0356.Line Reflection/Solution.cpp
  solution/0300-0399/0356.Line Reflection/Solution.go
  solution/0300-0399/0356.Line Reflection/Solution.java
  solution/0300-0399/0356.Line Reflection/Solution.py
Labels: md, py, go, java, cpp

#1616 feat: update ts solution to lc problem: No.2696
  solution/2600-2699/2696.Minimum String Length After Removing Substrings/README.md
  solution/2600-2699/2696.Minimum String Length After Removing Substrings/README_EN.md
  solution/2600-2699/2696.Minimum String Length After Removing Substrings/Solution.ts
Labels: md, ts, core team

#1617 feat: update Java solution to lc problem: No.135
  solution/0100-0199/0135.Candy/README.md
  solution/0100-0199/0135.Candy/README_EN.md
  solution/0100-0199/0135.Candy/Solution.java
Labels: md, java, json

#1619 feat: add solutions to lcci problem: No.08.01
  lcci/08.01.Three Steps Problem/README.md
  lcci/08.01.Three Steps Problem/README_EN.md
  lcci/08.01.Three Steps Problem/Solution.c
  lcci/08.01.Three Steps Problem/Solution.cpp
  lcci/08.01.Three Steps Problem/Solution.go
  lcci/08.01.Three Steps Problem/Solution.java
  lcci/08.01.Three Steps Problem/Solution.js
  lcci/08.01.Three Steps Problem/Solution.py
  lcci/08.01.Three Steps Problem/Solution.rs
Labels: js, md, py, go, java, cpp, rs, core team, c

#1620 feat: add solutions to lc/lcci problems
  lcci/08.01.Three Steps Problem/README.md
  lcci/08.01.Three Steps Problem/README_EN.md
  lcci/08.01.Three Steps Problem/Solution.py
  solution/0000-0099/0070.Climbing Stairs/README.md
  solution/0000-0099/0070.Climbing Stairs/README_EN.md
  solution/1100-1199/1137.N-th Tribonacci Number/README.md
  solution/1100-1199/1137.N-th Tribonacci Number/README_EN.md
  solution/1100-1199/1137.N-th Tribonacci Number/Solution.py
  solution/1200-1299/1220.Count Vowels Permutation/README.md
  solution/1200-1299/1220.Count Vowels Permutation/README_EN.md
  solution/1200-1299/1220.Count Vowels Permutation/Solution.py
Labels: md, py, core team

#1621 feat: add rust solution to lc problem: No.0724
  solution/0700-0799/0724.Find Pivot Index/README.md
  solution/0700-0799/0724.Find Pivot Index/README_EN.md
  solution/0700-0799/0724.Find Pivot Index/Solution.rs
Labels: md, rs, core team

#1622 feat: add solutions to lc problem: No.2852
  solution/2800-2899/2852.Sum of Remoteness of All Cells/README.md
  solution/2800-2899/2852.Sum of Remoteness of All Cells/README_EN.md
  solution/2800-2899/2852.Sum of Remoteness of All Cells/Solution.cpp
  solution/2800-2899/2852.Sum of Remoteness of All Cells/Solution.go
  solution/2800-2899/2852.Sum of Remoteness of All Cells/Solution.java
  solution/2800-2899/2852.Sum of Remoteness of All Cells/Solution.py
  solution/2800-2899/2852.Sum of Remoteness of All Cells/Solution.ts
  solution/2800-2899/2852.Sum of Remoteness of All Cells/images/1-new.png
  solution/2800-2899/2852.Sum of Remoteness of All Cells/images/2.png
  solution/README.md
  solution/README_EN.md
  solution/summary.md
  solution/summary_en.md
Labels: md, ts, py, go, java, cpp, png

#1623 feat: add solutions to lc problem: No.0372
  solution/0300-0399/0372.Super Pow/README.md
  solution/0300-0399/0372.Super Pow/README_EN.md
  solution/0300-0399/0372.Super Pow/Solution.cpp
  solution/0300-0399/0372.Super Pow/Solution.go
  solution/0300-0399/0372.Super Pow/Solution.java
  solution/0300-0399/0372.Super Pow/Solution.py
  solution/0300-0399/0372.Super Pow/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#1624 feat: add Java solution to lc problem: No.332
  solution/0300-0399/0332.Reconstruct Itinerary/README.md
  solution/0300-0399/0332.Reconstruct Itinerary/README_EN.md
  solution/0300-0399/0332.Reconstruct Itinerary/Solution.java
Labels: md, java

#1626 feat: add solutions to lc problem: No.0311
  solution/0300-0399/0311.Sparse Matrix Multiplication/README.md
  solution/0300-0399/0311.Sparse Matrix Multiplication/README_EN.md
  solution/0300-0399/0311.Sparse Matrix Multiplication/Solution.cpp
  solution/0300-0399/0311.Sparse Matrix Multiplication/Solution.go
  solution/0300-0399/0311.Sparse Matrix Multiplication/Solution.java
  solution/0300-0399/0311.Sparse Matrix Multiplication/Solution.py
  solution/0300-0399/0311.Sparse Matrix Multiplication/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#1627 feat: add solutions to lc problem: No.0505
  solution/0500-0599/0505.The Maze II/README.md
  solution/0500-0599/0505.The Maze II/README_EN.md
  solution/0500-0599/0505.The Maze II/Solution.cpp
  solution/0500-0599/0505.The Maze II/Solution.go
  solution/0500-0599/0505.The Maze II/Solution.java
  solution/0500-0599/0505.The Maze II/Solution.py
  solution/0500-0599/0505.The Maze II/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#1628 feat: add rust solution to lc problem: No.0649
  solution/0600-0699/0649.Dota2 Senate/README.md
  solution/0600-0699/0649.Dota2 Senate/README_EN.md
  solution/0600-0699/0649.Dota2 Senate/Solution.rs
Labels: md, rs, core team

#1630 feat: add solutions to lc problem: No.2188
  README.md
  README_EN.md
  solution/2100-2199/2188.Minimum Time to Finish the Race/README.md
  solution/2100-2199/2188.Minimum Time to Finish the Race/README_EN.md
  solution/2100-2199/2188.Minimum Time to Finish the Race/Solution.cpp
  solution/2100-2199/2188.Minimum Time to Finish the Race/Solution.go
  solution/2100-2199/2188.Minimum Time to Finish the Race/Solution.java
  solution/2100-2199/2188.Minimum Time to Finish the Race/Solution.py
  solution/2100-2199/2188.Minimum Time to Finish the Race/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#1631 feat: add solutions to lc problem: No.2192
  solution/2100-2199/2192.All Ancestors of a Node in a Directed Acyclic Graph/README.md
  solution/2100-2199/2192.All Ancestors of a Node in a Directed Acyclic Graph/README_EN.md
  solution/2100-2199/2192.All Ancestors of a Node in a Directed Acyclic Graph/Solution.cpp
  solution/2100-2199/2192.All Ancestors of a Node in a Directed Acyclic Graph/Solution.go
  solution/2100-2199/2192.All Ancestors of a Node in a Directed Acyclic Graph/Solution.java
  solution/2100-2199/2192.All Ancestors of a Node in a Directed Acyclic Graph/Solution.py
  solution/2100-2199/2192.All Ancestors of a Node in a Directed Acyclic Graph/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#1633 feat: add rust solution to lc problem:No.1679
  solution/1600-1699/1679.Max Number of K-Sum Pairs/README.md
  solution/1600-1699/1679.Max Number of K-Sum Pairs/README_EN.md
  solution/1600-1699/1679.Max Number of K-Sum Pairs/Solution.rs
Labels: md, rs, core team

#1635 feat: add solutions to lc problem: No.1937
  solution/1900-1999/1937.Maximum Number of Points with Cost/README.md
  solution/1900-1999/1937.Maximum Number of Points with Cost/README_EN.md
  solution/1900-1999/1937.Maximum Number of Points with Cost/Solution.cpp
  solution/1900-1999/1937.Maximum Number of Points with Cost/Solution.go
  solution/1900-1999/1937.Maximum Number of Points with Cost/Solution.java
  solution/1900-1999/1937.Maximum Number of Points with Cost/Solution.py
  solution/1900-1999/1937.Maximum Number of Points with Cost/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#1634 feat: add solutions to lc problems: No.2853,2854
  solution/2800-2899/2853.Highest Salaries Difference/README.md
  solution/2800-2899/2853.Highest Salaries Difference/README_EN.md
  solution/2800-2899/2853.Highest Salaries Difference/Solution.sql
  solution/2800-2899/2854.Rolling Average Steps/README.md
  solution/2800-2899/2854.Rolling Average Steps/README_EN.md
  solution/2800-2899/2854.Rolling Average Steps/Solution.sql
  solution/README.md
  solution/README_EN.md
  solution/summary.md
  solution/summary_en.md
Labels: md, core team, sql

#1636 feat: add solutions to lc problem: No.1883
  solution/1800-1899/1883.Minimum Skips to Arrive at Meeting On Time/README.md
  solution/1800-1899/1883.Minimum Skips to Arrive at Meeting On Time/README_EN.md
  solution/1800-1899/1883.Minimum Skips to Arrive at Meeting On Time/Solution.cpp
  solution/1800-1899/1883.Minimum Skips to Arrive at Meeting On Time/Solution.go
  solution/1800-1899/1883.Minimum Skips to Arrive at Meeting On Time/Solution.java
  solution/1800-1899/1883.Minimum Skips to Arrive at Meeting On Time/Solution.py
  solution/1800-1899/1883.Minimum Skips to Arrive at Meeting On Time/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#1637 feat: add solutions to lc problem: No.1363
  solution/1300-1399/1363.Largest Multiple of Three/README.md
  solution/1300-1399/1363.Largest Multiple of Three/README_EN.md
  solution/1300-1399/1363.Largest Multiple of Three/Solution.cpp
  solution/1300-1399/1363.Largest Multiple of Three/Solution.go
  solution/1300-1399/1363.Largest Multiple of Three/Solution.java
  solution/1300-1399/1363.Largest Multiple of Three/Solution.py
  solution/1300-1399/1363.Largest Multiple of Three/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#1638 feat: add rust solution to lc problem: No.0847
  solution/0800-0899/0847.Shortest Path Visiting All Nodes/README.md
  solution/0800-0899/0847.Shortest Path Visiting All Nodes/README_EN.md
  solution/0800-0899/0847.Shortest Path Visiting All Nodes/Solution.rs
Labels: md, rs, core team

#1639 feat: add solutions to lc problems: No.2855~2858
  solution/2800-2899/2855.Minimum Right Shifts to Sort the Array/README.md
  solution/2800-2899/2855.Minimum Right Shifts to Sort the Array/README_EN.md
  solution/2800-2899/2855.Minimum Right Shifts to Sort the Array/Solution.cpp
  solution/2800-2899/2855.Minimum Right Shifts to Sort the Array/Solution.go
  solution/2800-2899/2855.Minimum Right Shifts to Sort the Array/Solution.java
  solution/2800-2899/2855.Minimum Right Shifts to Sort the Array/Solution.py
  solution/2800-2899/2855.Minimum Right Shifts to Sort the Array/Solution.ts
  solution/2800-2899/2856.Minimum Array Length After Pair Removals/README.md
  solution/2800-2899/2856.Minimum Array Length After Pair Removals/README_EN.md
  solution/2800-2899/2856.Minimum Array Length After Pair Removals/Solution.cpp
  solution/2800-2899/2856.Minimum Array Length After Pair Removals/Solution.go
  solution/2800-2899/2856.Minimum Array Length After Pair Removals/Solution.java
  solution/2800-2899/2856.Minimum Array Length After Pair Removals/Solution.py
  solution/2800-2899/2856.Minimum Array Length After Pair Removals/Solution.ts
  solution/2800-2899/2857.Count Pairs of Points With Distance k/README.md
  solution/2800-2899/2857.Count Pairs of Points With Distance k/README_EN.md
  solution/2800-2899/2857.Count Pairs of Points With Distance k/Solution.cpp
  solution/2800-2899/2857.Count Pairs of Points With Distance k/Solution.java
  solution/2800-2899/2857.Count Pairs of Points With Distance k/Solution.py
  solution/2800-2899/2857.Count Pairs of Points With Distance k/Solution.ts
  solution/2800-2899/2857.Count Pairs of Points With Distance k/Soution.go
  solution/2800-2899/2858.Minimum Edge Reversals So Every Node Is Reachable/README.md
  solution/2800-2899/2858.Minimum Edge Reversals So Every Node Is Reachable/README_EN.md
  solution/2800-2899/2858.Minimum Edge Reversals So Every Node Is Reachable/Solution.cpp
  solution/2800-2899/2858.Minimum Edge Reversals So Every Node Is Reachable/Solution.go
  solution/2800-2899/2858.Minimum Edge Reversals So Every Node Is Reachable/Solution.java
  solution/2800-2899/2858.Minimum Edge Reversals So Every Node Is Reachable/Solution.py
  solution/2800-2899/2858.Minimum Edge Reversals So Every Node Is Reachable/Solution.ts
  solution/2800-2899/2858.Minimum Edge Reversals So Every Node Is Reachable/images/image-20230826221104-3.png
  solution/2800-2899/2858.Minimum Edge Reversals So Every Node Is Reachable/images/image-20230826225541-2.png
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/summary.md
  solution/summary_en.md
Labels: md, ts, py, go, java, cpp, core team, png

#1640 chore: add new lc problems
  solution/2800-2899/2859.Sum of Values at Indices With K Set Bits/README.md
  solution/2800-2899/2859.Sum of Values at Indices With K Set Bits/README_EN.md
  solution/2800-2899/2860.Happy Students/README.md
  solution/2800-2899/2860.Happy Students/README_EN.md
  solution/2800-2899/2861.Maximum Number of Alloys/README.md
  solution/2800-2899/2861.Maximum Number of Alloys/README_EN.md
  solution/2800-2899/2862.Maximum Element-Sum of a Complete Subset of Indices/README.md
  solution/2800-2899/2862.Maximum Element-Sum of a Complete Subset of Indices/README_EN.md
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/summary.md
  solution/summary_en.md
Labels: md, core team

#1641 feat: add Java solutions to lc problem(s): No.2859~2862
  solution/2800-2899/2859.Sum of Values at Indices With K Set Bits/README.md
  solution/2800-2899/2859.Sum of Values at Indices With K Set Bits/README_EN.md
  solution/2800-2899/2859.Sum of Values at Indices With K Set Bits/Solultion.java
  solution/2800-2899/2860.Happy Students/README.md
  solution/2800-2899/2860.Happy Students/README_EN.md
  solution/2800-2899/2860.Happy Students/Solution.java
  solution/2800-2899/2861.Maximum Number of Alloys/README.md
  solution/2800-2899/2861.Maximum Number of Alloys/README_EN.md
  solution/2800-2899/2861.Maximum Number of Alloys/Solution.java
  solution/2800-2899/2862.Maximum Element-Sum of a Complete Subset of Indices/README.md
  solution/2800-2899/2862.Maximum Element-Sum of a Complete Subset of Indices/README_EN.md
  solution/2800-2899/2862.Maximum Element-Sum of a Complete Subset of Indices/Solution.java
Labels: md, java, json

#1642 feat: add rust solution to lc problem: No.0214
  solution/0200-0299/0214.Shortest Palindrome/README.md
  solution/0200-0299/0214.Shortest Palindrome/README_EN.md
  solution/0200-0299/0214.Shortest Palindrome/Solution.rs
Labels: md, rs, core team

#1643 feat: add solutions to lc problems: No.0337,0338
  solution/0300-0399/0337.House Robber III/README.md
  solution/0300-0399/0337.House Robber III/README_EN.md
  solution/0300-0399/0337.House Robber III/Solution.cpp
  solution/0300-0399/0337.House Robber III/Solution.go
  solution/0300-0399/0337.House Robber III/Solution.java
  solution/0300-0399/0337.House Robber III/Solution.py
  solution/0300-0399/0337.House Robber III/Solution.ts
  solution/0300-0399/0338.Counting Bits/README.md
  solution/0300-0399/0338.Counting Bits/README_EN.md
  solution/0300-0399/0338.Counting Bits/Solution.cpp
  solution/0300-0399/0338.Counting Bits/Solution.java
  solution/0300-0399/0338.Counting Bits/Solution.py
  solution/0300-0399/0338.Counting Bits/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#1644 feat: add solutions to lc problems: No.2859~2861
  solution/2800-2899/2859.Sum of Values at Indices With K Set Bits/README.md
  solution/2800-2899/2859.Sum of Values at Indices With K Set Bits/README_EN.md
  solution/2800-2899/2859.Sum of Values at Indices With K Set Bits/Solution.cpp
  solution/2800-2899/2859.Sum of Values at Indices With K Set Bits/Solution.go
  solution/2800-2899/2859.Sum of Values at Indices With K Set Bits/Solution.py
  solution/2800-2899/2859.Sum of Values at Indices With K Set Bits/Solution.ts
  solution/2800-2899/2860.Happy Students/README.md
  solution/2800-2899/2860.Happy Students/README_EN.md
  solution/2800-2899/2860.Happy Students/Solution.cpp
  solution/2800-2899/2860.Happy Students/Solution.go
  solution/2800-2899/2860.Happy Students/Solution.py
  solution/2800-2899/2860.Happy Students/Solution.ts
  solution/2800-2899/2861.Maximum Number of Alloys/README.md
  solution/2800-2899/2861.Maximum Number of Alloys/README_EN.md
  solution/2800-2899/2861.Maximum Number of Alloys/Solution.cpp
  solution/2800-2899/2861.Maximum Number of Alloys/Solution.go
  solution/2800-2899/2861.Maximum Number of Alloys/Solution.java
  solution/2800-2899/2861.Maximum Number of Alloys/Solution.py
  solution/2800-2899/2861.Maximum Number of Alloys/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#1645 feat: add solutions to lc problem: No.2862
  solution/2800-2899/2862.Maximum Element-Sum of a Complete Subset of Indices/README.md
  solution/2800-2899/2862.Maximum Element-Sum of a Complete Subset of Indices/README_EN.md
  solution/2800-2899/2862.Maximum Element-Sum of a Complete Subset of Indices/Solution.cpp
  solution/2800-2899/2862.Maximum Element-Sum of a Complete Subset of Indices/Solution.go
  solution/2800-2899/2862.Maximum Element-Sum of a Complete Subset of Indices/Solution.java
  solution/2800-2899/2862.Maximum Element-Sum of a Complete Subset of Indices/Solution.py
  solution/2800-2899/2862.Maximum Element-Sum of a Complete Subset of Indices/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#1646 feat: add rust solution to lc problem: No.0399
  solution/0300-0399/0399.Evaluate Division/README.md
  solution/0300-0399/0399.Evaluate Division/README_EN.md
  solution/0300-0399/0399.Evaluate Division/Solution.rs
Labels: md, rs, core team

#1648 feat: add rust solution to lc problem: No.0287
  solution/0200-0299/0287.Find the Duplicate Number/README.md
  solution/0200-0299/0287.Find the Duplicate Number/README_EN.md
  solution/0200-0299/0287.Find the Duplicate Number/Solution.rs
Labels: md, rs, core team

#1649 feat: add solutions to lcp problems: No.06,07
  lcp/LCP 06. 拿硬币/README.md
  lcp/LCP 06. 拿硬币/Solution.c
  lcp/LCP 06. 拿硬币/Solution.cpp
  lcp/LCP 06. 拿硬币/Solution.go
  lcp/LCP 06. 拿硬币/Solution.java
  lcp/LCP 06. 拿硬币/Solution.php
  lcp/LCP 06. 拿硬币/Solution.py
  lcp/LCP 06. 拿硬币/Solution.rs
  lcp/LCP 06. 拿硬币/Solution.ts
  lcp/LCP 07. 传递信息/README.md
  lcp/LCP 07. 传递信息/Solution.cpp
  lcp/LCP 07. 传递信息/Solution.go
  lcp/LCP 07. 传递信息/Solution.java
  lcp/LCP 07. 传递信息/Solution.py
  lcp/LCP 07. 传递信息/Solution.ts
Labels: md, ts, py, go, java, cpp, rs, core team, c, php

#1650 feat: add last modified
  index.html
Labels: core team, html

#1652 feat: add rust solution to lc problem: No.0076
  solution/0000-0099/0076.Minimum Window Substring/README.md
  solution/0000-0099/0076.Minimum Window Substring/README_EN.md
  solution/0000-0099/0076.Minimum Window Substring/Solution.rs
Labels: md, rs, core team

#1653 feat: add solutions to lcci problem: No.16.18
  lcci/16.18.Pattern Matching/README.md
  lcci/16.18.Pattern Matching/README_EN.md
  lcci/16.18.Pattern Matching/Solution.cpp
  lcci/16.18.Pattern Matching/Solution.go
  lcci/16.18.Pattern Matching/Solution.java
  lcci/16.18.Pattern Matching/Solution.py
  lcci/16.18.Pattern Matching/Solution.ts
  solution/2600-2699/2603.Collect Coins in a Tree/README.md
Labels: md, ts, py, go, java, cpp, core team

#1654 feat: add solutions to lcci problem: No.16.16
  lcci/16.16.Sub Sort/README.md
  lcci/16.16.Sub Sort/README_EN.md
  lcci/16.16.Sub Sort/Solution.cpp
  lcci/16.16.Sub Sort/Solution.go
  lcci/16.16.Sub Sort/Solution.java
  lcci/16.16.Sub Sort/Solution.py
  lcci/16.16.Sub Sort/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#1655 feat: add rust solution to lc problem: No.0086
  solution/0000-0099/0086.Partition List/README.md
  solution/0000-0099/0086.Partition List/README_EN.md
  solution/0000-0099/0086.Partition List/Solution.rs
Labels: md, rs, core team

#1656 feat: add solutions to lc problem: No.2863
  solution/2800-2899/2863.Maximum Length of Semi-Decreasing Subarrays/README.md
  solution/2800-2899/2863.Maximum Length of Semi-Decreasing Subarrays/README_EN.md
  solution/2800-2899/2863.Maximum Length of Semi-Decreasing Subarrays/Solution.cpp
  solution/2800-2899/2863.Maximum Length of Semi-Decreasing Subarrays/Solution.go
  solution/2800-2899/2863.Maximum Length of Semi-Decreasing Subarrays/Solution.java
  solution/2800-2899/2863.Maximum Length of Semi-Decreasing Subarrays/Solution.py
  solution/2800-2899/2863.Maximum Length of Semi-Decreasing Subarrays/Solution.ts
  solution/README.md
  solution/README_EN.md
  solution/summary.md
  solution/summary_en.md
Labels: md, ts, py, go, java, cpp, core team

#1658 feat: add ts solution to lc problem: No.0982
  solution/0900-0999/0972.Equal Rational Numbers/README.md
  solution/0900-0999/0972.Equal Rational Numbers/README_EN.md
  solution/0900-0999/0982.Triples with Bitwise AND Equal To Zero/README.md
  solution/0900-0999/0982.Triples with Bitwise AND Equal To Zero/README_EN.md
  solution/0900-0999/0982.Triples with Bitwise AND Equal To Zero/Solution.ts
Labels: md, ts, core team

#1660 feat: add solutions to lc/lcci problems
  lcci/10.03.Search Rotate Array/README.md
  lcci/10.03.Search Rotate Array/README_EN.md
  lcci/10.03.Search Rotate Array/Solution.cpp
  lcci/10.03.Search Rotate Array/Solution.go
  lcci/10.03.Search Rotate Array/Solution.java
  lcci/10.03.Search Rotate Array/Solution.py
  lcci/10.03.Search Rotate Array/Solution.ts
  solution/0000-0099/0081.Search in Rotated Sorted Array II/README.md
  solution/0000-0099/0081.Search in Rotated Sorted Array II/README_EN.md
  solution/0000-0099/0081.Search in Rotated Sorted Array II/Solution.cpp
  solution/0000-0099/0081.Search in Rotated Sorted Array II/Solution.go
  solution/0000-0099/0081.Search in Rotated Sorted Array II/Solution.java
  solution/0000-0099/0081.Search in Rotated Sorted Array II/Solution.py
  solution/0000-0099/0081.Search in Rotated Sorted Array II/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#1661 feat: add C# solution to lc problem: No.1603
  solution/1600-1699/1603.Design Parking System/README.md
  solution/1600-1699/1603.Design Parking System/README_EN.md
  solution/1600-1699/1603.Design Parking System/Solution.cs
Labels: md, cs

#1662 chore: use lastModified cdn
  index.html
Labels: core team, html

#1663 chore: separate configuration
  index.html
  main.js
Labels: js, core team, html

#1664 feat: update rust solution to lc problem: No.0206
  solution/0200-0299/0206.Reverse Linked List/README.md
  solution/0200-0299/0206.Reverse Linked List/README_EN.md
  solution/0200-0299/0206.Reverse Linked List/Solution.rs
Labels: md, rs, core team

#1666 chore: add lastModifiedConfig
  main.js
Labels: js, core team

#1665 feat: add solutions to lc problem: No.1993
  solution/1900-1999/1993.Operations on Tree/README.md
  solution/1900-1999/1993.Operations on Tree/README_EN.md
  solution/1900-1999/1993.Operations on Tree/Solution.cpp
  solution/1900-1999/1993.Operations on Tree/Solution.go
  solution/1900-1999/1993.Operations on Tree/Solution.java
  solution/1900-1999/1993.Operations on Tree/Solution.py
  solution/1900-1999/1993.Operations on Tree/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#1667 chore: Change configuration for pagination plugin
  main.js
Labels: js, core team

#1668 chore: modify configuration for lastModified plugin
  main.js
Labels: js, core team

#1669 feat: update solutions to lc problem: No.1518
  .prettierignore
  .prettierrc
  solution/1500-1599/1518.Water Bottles/README.md
  solution/1500-1599/1518.Water Bottles/README_EN.md
  solution/1500-1599/1518.Water Bottles/Solution.cpp
  solution/1500-1599/1518.Water Bottles/Solution.go
  solution/1500-1599/1518.Water Bottles/Solution.java
  solution/1500-1599/1518.Water Bottles/Solution.js
  solution/1500-1599/1518.Water Bottles/Solution.php
  solution/1500-1599/1518.Water Bottles/Solution.ts
  solution/1600-1699/1603.Design Parking System/README.md
  solution/1600-1699/1603.Design Parking System/README_EN.md
  solution/1600-1699/1603.Design Parking System/Solution.cs
Labels: js, md, ts, go, java, cpp, core team, cs, php, prettierignore, prettierrc

#1670 feat: add ts solution to lc problem: No.0146
  solution/0100-0199/0146.LRU Cache/README.md
  solution/0100-0199/0146.LRU Cache/README_EN.md
  solution/0100-0199/0146.LRU Cache/Solution.ts
Labels: md, ts, core team

#1672 feat: add solutions to lc problems: No.2864~2866
  solution/2800-2899/2864.Maximum Odd Binary Number/README.md
  solution/2800-2899/2864.Maximum Odd Binary Number/README_EN.md
  solution/2800-2899/2864.Maximum Odd Binary Number/Solution.cpp
  solution/2800-2899/2864.Maximum Odd Binary Number/Solution.go
  solution/2800-2899/2864.Maximum Odd Binary Number/Solution.java
  solution/2800-2899/2864.Maximum Odd Binary Number/Solution.py
  solution/2800-2899/2864.Maximum Odd Binary Number/Solution.ts
  solution/2800-2899/2865.Beautiful Towers I/README.md
  solution/2800-2899/2865.Beautiful Towers I/README_EN.md
  solution/2800-2899/2865.Beautiful Towers I/Solution.cpp
  solution/2800-2899/2865.Beautiful Towers I/Solution.go
  solution/2800-2899/2865.Beautiful Towers I/Solution.java
  solution/2800-2899/2865.Beautiful Towers I/Solution.py
  solution/2800-2899/2865.Beautiful Towers I/Solution.ts
  solution/2800-2899/2866.Beautiful Towers II/README.md
  solution/2800-2899/2866.Beautiful Towers II/README_EN.md
  solution/2800-2899/2866.Beautiful Towers II/Solution.cpp
  solution/2800-2899/2866.Beautiful Towers II/Solution.go
  solution/2800-2899/2866.Beautiful Towers II/Solution.java
  solution/2800-2899/2866.Beautiful Towers II/Solution.py
  solution/2800-2899/2866.Beautiful Towers II/Solution.ts
  solution/2800-2899/2867.Count Valid Paths in a Tree/README.md
  solution/2800-2899/2867.Count Valid Paths in a Tree/README_EN.md
  solution/2800-2899/2867.Count Valid Paths in a Tree/images/example1.png
  solution/2800-2899/2867.Count Valid Paths in a Tree/images/example2.png
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/summary.md
  solution/summary_en.md
Labels: md, ts, py, go, java, cpp, core team, png

#1673 feat: add rust solution to lc problem: No.0092
  solution/0000-0099/0092.Reverse Linked List II/README.md
  solution/0000-0099/0092.Reverse Linked List II/README_EN.md
  solution/0000-0099/0092.Reverse Linked List II/Solution.rs
Labels: md, rs, core team

#1674 added solutions to 2867 Count valid paths in a tree
  solution/2800-2899/2867.Count Valid Paths in a Tree/Solution.cpp
  solution/2800-2899/2867.Count Valid Paths in a Tree/Solution.java
  solution/2800-2899/2867.Count Valid Paths in a Tree/Solution.py
Labels: py, java, cpp

#1675 feat: add solutions to lc problem: No.0460
  solution/0400-0499/0460.LFU Cache/README.md
  solution/0400-0499/0460.LFU Cache/README_EN.md
  solution/0400-0499/0460.LFU Cache/Solution.cpp
  solution/0400-0499/0460.LFU Cache/Solution.py
Labels: md, py, cpp, core team

#1677 feat: add solutions to lc problem: No.0474
  solution/0400-0499/0474.Ones and Zeroes/README.md
  solution/0400-0499/0474.Ones and Zeroes/README_EN.md
  solution/0400-0499/0474.Ones and Zeroes/Solution.cpp
  solution/0400-0499/0474.Ones and Zeroes/Solution.go
  solution/0400-0499/0474.Ones and Zeroes/Solution.java
  solution/0400-0499/0474.Ones and Zeroes/Solution.py
  solution/0400-0499/0474.Ones and Zeroes/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#1676 added solutions to 2851 String Transformation
  solution/2800-2899/2851.String Transformation/Solution.cpp
  solution/2800-2899/2851.String Transformation/Solution.java
  solution/2800-2899/2851.String Transformation/Solution.py
Labels: py, java, cpp

#1678 feat: add giscus plugin
  index.html
  main.js
Labels: js, core team, html

#1687 feat: add rust solution to lc problem: No.0025
  solution/0000-0099/0025.Reverse Nodes in k-Group/README.md
  solution/0000-0099/0025.Reverse Nodes in k-Group/README_EN.md
  solution/0000-0099/0025.Reverse Nodes in k-Group/Solution.rs
Labels: md, rs, core team

#1703 fix: remove duplicated js file
  index.html
  main.js
Labels: js, core team, html

#1705 fix: update main script
  main.js
Labels: js, core team

#1699 feat: generate sub category summary
  README.md
  README_EN.md
  lcci/README.md
  lcci/README_EN.md
  lcof/README.md
  lcof/README_EN.md
  lcof2/README.md
  lcp/README.md
  lcs/README.md
  main.js
  solution/DATABASE_README.md
  solution/DATABASE_README_EN.md
  solution/JAVASCRIPT_README.md
  solution/JAVASCRIPT_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/database-summary.md
  solution/database-summary_en.md
  solution/javascript-summary.md
  solution/javascript-summary_en.md
  solution/template.md
  solution/util.py
Labels: js, md, py, core team

#1711 feat: update solutions to lc problems: No.0176~0178
  solution/0100-0199/0176.Second Highest Salary/README.md
  solution/0100-0199/0176.Second Highest Salary/README_EN.md
  solution/0100-0199/0176.Second Highest Salary/Solution.sql
  solution/0100-0199/0177.Nth Highest Salary/README.md
  solution/0100-0199/0177.Nth Highest Salary/README_EN.md
  solution/0100-0199/0177.Nth Highest Salary/Solution.sql
  solution/0100-0199/0178.Rank Scores/README.md
  solution/0100-0199/0178.Rank Scores/README_EN.md
  solution/0100-0199/0178.Rank Scores/Solution.sql
Labels: md, core team, sql

#1713 style: format index.html
  index.html
Labels: core team, html

#1714 feat: add solutions to lc problems: No.2864~2867
  solution/2800-2899/2864.Maximum Odd Binary Number/README.md
  solution/2800-2899/2865.Beautiful Towers I/README.md
  solution/2800-2899/2865.Beautiful Towers I/README_EN.md
  solution/2800-2899/2866.Beautiful Towers II/README.md
  solution/2800-2899/2867.Count Valid Paths in a Tree/README.md
  solution/2800-2899/2867.Count Valid Paths in a Tree/README_EN.md
  solution/2800-2899/2867.Count Valid Paths in a Tree/Solution.go
  solution/2800-2899/2867.Count Valid Paths in a Tree/Solution.ts
Labels: md, ts, go, core team

#1715 feat: add solutions to lc problem: No.2136
  solution/2100-2199/2136.Earliest Possible Day of Full Bloom/README.md
  solution/2100-2199/2136.Earliest Possible Day of Full Bloom/README_EN.md
  solution/2100-2199/2136.Earliest Possible Day of Full Bloom/Solution.cpp
  solution/2100-2199/2136.Earliest Possible Day of Full Bloom/Solution.go
  solution/2100-2199/2136.Earliest Possible Day of Full Bloom/Solution.java
  solution/2100-2199/2136.Earliest Possible Day of Full Bloom/Solution.py
  solution/2100-2199/2136.Earliest Possible Day of Full Bloom/Solution.rs
  solution/2100-2199/2136.Earliest Possible Day of Full Bloom/Solution.ts
Labels: md, ts, py, go, java, cpp, rs, core team

#1717 feat: add solutions to lc problems: No.2255,2256
  solution/2200-2299/2255.Count Prefixes of a Given String/README.md
  solution/2200-2299/2255.Count Prefixes of a Given String/README_EN.md
  solution/2200-2299/2255.Count Prefixes of a Given String/Solution.cpp
  solution/2200-2299/2255.Count Prefixes of a Given String/Solution.go
  solution/2200-2299/2255.Count Prefixes of a Given String/Solution.java
  solution/2200-2299/2255.Count Prefixes of a Given String/Solution.py
  solution/2200-2299/2255.Count Prefixes of a Given String/Solution.ts
  solution/2200-2299/2256.Minimum Average Difference/README.md
  solution/2200-2299/2256.Minimum Average Difference/README_EN.md
  solution/2200-2299/2256.Minimum Average Difference/Solution.cpp
  solution/2200-2299/2256.Minimum Average Difference/Solution.go
  solution/2200-2299/2256.Minimum Average Difference/Solution.java
  solution/2200-2299/2256.Minimum Average Difference/Solution.py
  solution/2200-2299/2256.Minimum Average Difference/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#1718 feat: add solutions to lc problems: No.2257,2258
  solution/2200-2299/2257.Count Unguarded Cells in the Grid/README.md
  solution/2200-2299/2257.Count Unguarded Cells in the Grid/README_EN.md
  solution/2200-2299/2257.Count Unguarded Cells in the Grid/Solution.ts
  solution/2200-2299/2258.Escape the Spreading Fire/README.md
  solution/2200-2299/2258.Escape the Spreading Fire/README_EN.md
  solution/2200-2299/2258.Escape the Spreading Fire/Solution.cpp
  solution/2200-2299/2258.Escape the Spreading Fire/Solution.go
  solution/2200-2299/2258.Escape the Spreading Fire/Solution.java
  solution/2200-2299/2258.Escape the Spreading Fire/Solution.py
  solution/2200-2299/2258.Escape the Spreading Fire/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#1719 feat: update solutions to lc problems: No.2262,2264
  solution/2200-2299/2262.Total Appeal of A String/README.md
  solution/2200-2299/2262.Total Appeal of A String/README_EN.md
  solution/2200-2299/2262.Total Appeal of A String/Solution.ts
  solution/2200-2299/2264.Largest 3-Same-Digit Number in String/README.md
  solution/2200-2299/2264.Largest 3-Same-Digit Number in String/README_EN.md
  solution/2200-2299/2264.Largest 3-Same-Digit Number in String/Solution.cpp
  solution/2200-2299/2264.Largest 3-Same-Digit Number in String/Solution.go
  solution/2200-2299/2264.Largest 3-Same-Digit Number in String/Solution.java
  solution/2200-2299/2264.Largest 3-Same-Digit Number in String/Solution.py
  solution/2200-2299/2264.Largest 3-Same-Digit Number in String/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#1720 feat: add rust solution to lc problem: No.0139
  solution/0100-0199/0139.Word Break/README.md
  solution/0100-0199/0139.Word Break/README_EN.md
  solution/0100-0199/0139.Word Break/Solution.rs
Labels: md, rs, core team

#1721 feat: add rust solution to lc problem: No.2251
  solution/2200-2299/2251.Number of Flowers in Full Bloom/README.md
  solution/2200-2299/2251.Number of Flowers in Full Bloom/README_EN.md
  solution/2200-2299/2251.Number of Flowers in Full Bloom/Solution.rs
Labels: md, rs, core team

#1722 feat: add ts solution to lc problem: No.0605
  solution/0600-0699/0605.Can Place Flowers/README.md
  solution/0600-0699/0605.Can Place Flowers/README_EN.md
  solution/0600-0699/0605.Can Place Flowers/Solution.ts
Labels: md, ts, core team

#1723 feat: add solutions to lc problem: No.2868
  solution/2800-2899/2868.The Wording Game/README.md
  solution/2800-2899/2868.The Wording Game/README_EN.md
  solution/2800-2899/2868.The Wording Game/Solution.cpp
  solution/2800-2899/2868.The Wording Game/Solution.go
  solution/2800-2899/2868.The Wording Game/Solution.java
  solution/2800-2899/2868.The Wording Game/Solution.py
  solution/2800-2899/2868.The Wording Game/Solution.ts
  solution/README.md
  solution/README_EN.md
  solution/summary.md
  solution/summary_en.md
Labels: md, ts, py, go, java, cpp, core team

#1724 feat: add ts solution to lc problem: No.2137
  solution/2100-2199/2137.Pour Water Between Buckets to Make Water Levels Equal/README.md
  solution/2100-2199/2137.Pour Water Between Buckets to Make Water Levels Equal/README_EN.md
  solution/2100-2199/2137.Pour Water Between Buckets to Make Water Levels Equal/Solution.ts
Labels: md, ts, core team

#1725 feat: add solutions to lc problem: No.2139
  solution/2100-2199/2139.Minimum Moves to Reach Target Score/README.md
  solution/2100-2199/2139.Minimum Moves to Reach Target Score/README_EN.md
  solution/2100-2199/2139.Minimum Moves to Reach Target Score/Solution.cpp
  solution/2100-2199/2139.Minimum Moves to Reach Target Score/Solution.go
  solution/2100-2199/2139.Minimum Moves to Reach Target Score/Solution.java
  solution/2100-2199/2139.Minimum Moves to Reach Target Score/Solution.py
  solution/2100-2199/2139.Minimum Moves to Reach Target Score/Solution.ts
Labels: md, ts, py, go, java, cpp, core team
