Repository doocs/leetcode, pull requests merged in 2023-11, with the labels that each got.

#1910 feat: add solutions to lc problem: No.2127
  solution/2100-2199/2127.Maximum Employees to Be Invited to a Meeting/README.md
  solution/2100-2199/2127.Maximum Employees to Be Invited to a Meeting/README_EN.md
  solution/2100-2199/2127.Maximum Employees to Be Invited to a Meeting/Solution.py
  solution/2100-2199/2127.Maximum Employees to Be Invited to a Meeting/Solution.ts
  solution/2100-2199/2127.Maximum Employees to Be Invited to a Meeting/images/05Dxh9.png
Labels: md, ts, py, core team, png

#1911 feat: add solutions to lc problem: No.2586,2587
  solution/2500-2599/2586.Count the Number of Vowel Strings in Range/README.md
  solution/2500-2599/2586.Count the Number of Vowel Strings in Range/README_EN.md
  solution/2500-2599/2586.Count the Number of Vowel Strings in Range/Solution.rs
  solution/2500-2599/2586.Count the Number of Vowel Strings in Range/Solution.ts
  solution/2500-2599/2587.Rearrange Array to Maximize Prefix Score/README.md
  solution/2500-2599/2587.Rearrange Array to Maximize Prefix Score/README_EN.md
  solution/2500-2599/2587.Rearrange Array to Maximize Prefix Score/Solution.rs
Labels: md, ts, rs, core team

#1912 feat: add solutions to lc problems: No.1787,1788
  solution/1700-1799/1787.Make the XOR of All Segments Equal to Zero/README.md
  solution/1700-1799/1787.Make the XOR of All Segments Equal to Zero/README_EN.md
  solution/1700-1799/1787.Make the XOR of All Segments Equal to Zero/Solution.cpp
  solution/1700-1799/1787.Make the XOR of All Segments Equal to Zero/Solution.java
  solution/1700-1799/1788.Maximize the Beauty of the Garden/README.md
  solution/1700-1799/1788.Maximize the Beauty of the Garden/README_EN.md
  solution/1700-1799/1788.Maximize the Beauty of the Garden/Solution.java
  solution/1700-1799/1788.Maximize the Beauty of the Garden/Solution.py
  solution/1700-1799/1788.Maximize the Beauty of the Garden/Solution.rs
  solution/1700-1799/1788.Maximize the Beauty of the Garden/Solution.ts
Labels: md, ts, py, java, cpp, rs, core team

#1913 feat: add ts solution to lc problem: No.1793
  solution/1700-1799/1793.Maximum Score of a Good Subarray/README.md
  solution/1700-1799/1793.Maximum Score of a Good Subarray/README_EN.md
  solution/1700-1799/1793.Maximum Score of a Good Subarray/Solution.ts
  solution/1700-1799/1794.Count Pairs of Equal Substrings With Minimum Difference/README.md
Labels: md, ts, core team

#1914 feat: add solutions to lc problem: No.2103
  solution/2100-2199/2103.Rings and Rods/README.md
  solution/2100-2199/2103.Rings and Rods/README_EN.md
  solution/2100-2199/2103.Rings and Rods/Solution.c
  solution/2100-2199/2103.Rings and Rods/Solution.cpp
  solution/2100-2199/2103.Rings and Rods/Solution.go
  solution/2100-2199/2103.Rings and Rods/Solution.java
  solution/2100-2199/2103.Rings and Rods/Solution.py
  solution/2100-2199/2103.Rings and Rods/Solution.rs
  solution/2100-2199/2103.Rings and Rods/Solution.ts
Labels: md, ts, py, go, java, cpp, rs, core team, c

#1915 feat: add solutions to lc problem: No.2107
  solution/2100-2199/2107.Number of Unique Flavors After Sharing K Candies/README.md
  solution/2100-2199/2107.Number of Unique Flavors After Sharing K Candies/README_EN.md
  solution/2100-2199/2107.Number of Unique Flavors After Sharing K Candies/Solution.cpp
  solution/2100-2199/2107.Number of Unique Flavors After Sharing K Candies/Solution.go
  solution/2100-2199/2107.Number of Unique Flavors After Sharing K Candies/Solution.java
  solution/2100-2199/2107.Number of Unique Flavors After Sharing K Candies/Solution.py
  solution/2100-2199/2107.Number of Unique Flavors After Sharing K Candies/Solution.rs
  solution/2100-2199/2107.Number of Unique Flavors After Sharing K Candies/Solution.ts
Labels: md, ts, py, go, java, cpp, rs, core team

#1916 feat: add ts solution to lc problem: No.2103
  solution/2100-2199/2103.Rings and Rods/README.md
  solution/2100-2199/2103.Rings and Rods/README_EN.md
Labels: md, core team

#1917 feat: update sql solution to lc problem: No.0585
  solution/0500-0599/0585.Investments in 2016/README.md
  solution/0500-0599/0585.Investments in 2016/README_EN.md
  solution/0500-0599/0585.Investments in 2016/Solution.sql
Labels: md, core team, sql

#1918 feat: add sql solution to lc problem: No.2922
  solution/2900-2999/2921.Maximum Profitable Triplets With Increasing Prices II/README.md
  solution/2900-2999/2921.Maximum Profitable Triplets With Increasing Prices II/README_EN.md
  solution/2900-2999/2922.Market Analysis III/README.md
  solution/2900-2999/2922.Market Analysis III/README_EN.md
  solution/2900-2999/2922.Market Analysis III/Solution.sql
  solution/DATABASE_README.md
  solution/DATABASE_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/database-summary.md
  solution/database-summary_en.md
  solution/summary.md
  solution/summary_en.md
Labels: md, core team, sql

#1919 feat: add solutions to lc problem: No.0117
  solution/0100-0199/0117.Populating Next Right Pointers in Each Node II/README.md
  solution/0100-0199/0117.Populating Next Right Pointers in Each Node II/README_EN.md
  solution/0100-0199/0117.Populating Next Right Pointers in Each Node II/Solution.cs
  solution/0100-0199/0117.Populating Next Right Pointers in Each Node II/Solution.ts
Labels: md, ts, core team, cs

#1920 feat: add solutions to lc problems: No.2907,2921
  solution/0100-0199/0114.Flatten Binary Tree to Linked List/README.md
  solution/0100-0199/0115.Distinct Subsequences/README_EN.md
  solution/2900-2999/2907.Maximum Profitable Triplets With Increasing Prices I/README.md
  solution/2900-2999/2907.Maximum Profitable Triplets With Increasing Prices I/README_EN.md
  solution/2900-2999/2921.Maximum Profitable Triplets With Increasing Prices II/README.md
  solution/2900-2999/2921.Maximum Profitable Triplets With Increasing Prices II/README_EN.md
  solution/2900-2999/2921.Maximum Profitable Triplets With Increasing Prices II/Solution.cpp
  solution/2900-2999/2921.Maximum Profitable Triplets With Increasing Prices II/Solution.go
  solution/2900-2999/2921.Maximum Profitable Triplets With Increasing Prices II/Solution.java
  solution/2900-2999/2921.Maximum Profitable Triplets With Increasing Prices II/Solution.py
  solution/2900-2999/2921.Maximum Profitable Triplets With Increasing Prices II/Solution.rs
  solution/2900-2999/2921.Maximum Profitable Triplets With Increasing Prices II/Solution.ts
Labels: md, ts, py, go, java, cpp, rs, core team

#1921 feat: add solutions to lc problem: No.1586
  solution/1500-1599/1586.Binary Search Tree Iterator II/README.md
  solution/1500-1599/1586.Binary Search Tree Iterator II/README_EN.md
  solution/1500-1599/1586.Binary Search Tree Iterator II/Solution.cpp
  solution/1500-1599/1586.Binary Search Tree Iterator II/Solution.go
  solution/1500-1599/1586.Binary Search Tree Iterator II/Solution.java
  solution/1500-1599/1586.Binary Search Tree Iterator II/Solution.py
  solution/1500-1599/1586.Binary Search Tree Iterator II/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#1922 chore: update lc problems
  solution/0200-0299/0264.Ugly Number II/README.md
  solution/0200-0299/0275.H-Index II/README.md
  solution/0400-0499/0484.Find Permutation/README.md
  solution/0600-0699/0603.Consecutive Available Seats/README.md
  solution/0600-0699/0603.Consecutive Available Seats/README_EN.md
  solution/1100-1199/1159.Market Analysis II/README.md
  solution/1200-1299/1220.Count Vowels Permutation/README_EN.md
  solution/1900-1999/1965.Employees With Missing Information/README.md
  solution/2100-2199/2127.Maximum Employees to Be Invited to a Meeting/README.md
  solution/2100-2199/2171.Removing Minimum Number of Magic Beans/README_EN.md
  solution/2500-2599/2561.Rearranging Fruits/README.md
  solution/2500-2599/2561.Rearranging Fruits/README_EN.md
  solution/2700-2799/2764.is Array a Preorder of Some ‌Binary Tree/README.md
  solution/2700-2799/2778.Sum of Squares of Special Elements/README.md
  solution/2900-2999/2919.Minimum Increment Operations to Make Array Beautiful/README.md
  solution/2900-2999/2920.Maximum Points After Collecting Coins From All Nodes/README.md
  solution/2900-2999/2920.Maximum Points After Collecting Coins From All Nodes/README_EN.md
  solution/JAVASCRIPT_README.md
  solution/JAVASCRIPT_README_EN.md
  solution/README.md
  solution/README_EN.md
Labels: md, core team

#1923 feat: add solutions to lc problem: No.0421
  solution/0400-0499/0421.Maximum XOR of Two Numbers in an Array/README.md
  solution/0400-0499/0421.Maximum XOR of Two Numbers in an Array/README_EN.md
  solution/0400-0499/0421.Maximum XOR of Two Numbers in an Array/Solution.cpp
  solution/0400-0499/0421.Maximum XOR of Two Numbers in an Array/Solution.go
  solution/0400-0499/0421.Maximum XOR of Two Numbers in an Array/Solution.java
  solution/0400-0499/0421.Maximum XOR of Two Numbers in an Array/Solution.py
  solution/0400-0499/0421.Maximum XOR of Two Numbers in an Array/Solution.rs
Labels: md, py, go, java, cpp, rs, core team

#1924 Add C# Solution
  solution/0300-0399/0349.Intersection of Two Arrays/README.md
  solution/0300-0399/0349.Intersection of Two Arrays/README_EN.md
  solution/0300-0399/0349.Intersection of Two Arrays/solution.cs
Labels: md, cs

#1925 Add C# solution of 0350
  solution/0300-0399/0350.Intersection of Two Arrays II/README.md
  solution/0300-0399/0350.Intersection of Two Arrays II/README_EN.md
  solution/0300-0399/0350.Intersection of Two Arrays II/Solution.cs
Labels: md, cs

#1926 feat: update solutions to lc problem: No.0187
  solution/0100-0199/0187.Repeated DNA Sequences/README.md
  solution/0100-0199/0187.Repeated DNA Sequences/README_EN.md
  solution/0100-0199/0187.Repeated DNA Sequences/Solution.cpp
  solution/0100-0199/0187.Repeated DNA Sequences/Solution.cs
  solution/0100-0199/0187.Repeated DNA Sequences/Solution.go
  solution/0100-0199/0187.Repeated DNA Sequences/Solution.java
  solution/0100-0199/0187.Repeated DNA Sequences/Solution.js
  solution/0100-0199/0187.Repeated DNA Sequences/Solution.py
  solution/0100-0199/0187.Repeated DNA Sequences/Solution.rs
  solution/0100-0199/0187.Repeated DNA Sequences/Solution.ts
Labels: js, md, ts, py, go, java, cpp, rs, core team, cs

#1927 feat: add weekly contest 370
  solution/0300-0399/0350.Intersection of Two Arrays II/README_EN.md
  solution/2900-2999/2923.Find Champion I/README.md
  solution/2900-2999/2923.Find Champion I/README_EN.md
  solution/2900-2999/2924.Find Champion II/README.md
  solution/2900-2999/2924.Find Champion II/README_EN.md
  solution/2900-2999/2924.Find Champion II/images/graph-3.png
  solution/2900-2999/2924.Find Champion II/images/graph-4.png
  solution/2900-2999/2925.Maximum Score After Applying Operations on a Tree/README.md
  solution/2900-2999/2925.Maximum Score After Applying Operations on a Tree/README_EN.md
  solution/2900-2999/2925.Maximum Score After Applying Operations on a Tree/images/graph-13-1.png
  solution/2900-2999/2925.Maximum Score After Applying Operations on a Tree/images/graph-14-2.png
  solution/2900-2999/2926.Maximum Balanced Subsequence Sum/README.md
  solution/2900-2999/2926.Maximum Balanced Subsequence Sum/README_EN.md
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/JAVASCRIPT_README.md
  solution/JAVASCRIPT_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/summary.md
  solution/summary_en.md
Labels: md, core team, png

#1928 feat: add solutions to lc problem: No.1535
  solution/1500-1599/1535.Find the Winner of an Array Game/solution.cs
Labels: cs

#1929 feat : Update README_EN.md to lc problem: No.1535
  solution/1500-1599/1535.Find the Winner of an Array Game/README.md
  solution/1500-1599/1535.Find the Winner of an Array Game/README_EN.md
Labels: md

#1930 feat: update solutions to lc problem: No.0020
  solution/0000-0099/0020.Valid Parentheses/README.md
  solution/0000-0099/0020.Valid Parentheses/README_EN.md
Labels: md

#1931 feat: added solutions to lc problem: No.0020
  solution/0000-0099/0020.Valid Parentheses/solutions.cs
Labels: cs

#1932 feat: add solutions to lc problem: No.0318
  solution/0300-0399/0318.Maximum Product of Word Lengths/README.md
  solution/0300-0399/0318.Maximum Product of Word Lengths/README_EN.md
  solution/0300-0399/0318.Maximum Product of Word Lengths/Solution.cpp
  solution/0300-0399/0318.Maximum Product of Word Lengths/Solution.go
  solution/0300-0399/0318.Maximum Product of Word Lengths/Solution.java
  solution/0300-0399/0318.Maximum Product of Word Lengths/Solution.py
  solution/0300-0399/0318.Maximum Product of Word Lengths/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#1933 feat: add solutions to lc problems: No.2923,2924
  solution/2900-2999/2923.Find Champion I/README.md
  solution/2900-2999/2923.Find Champion I/README_EN.md
  solution/2900-2999/2923.Find Champion I/Solution.cpp
  solution/2900-2999/2923.Find Champion I/Solution.go
  solution/2900-2999/2923.Find Champion I/Solution.java
  solution/2900-2999/2923.Find Champion I/Solution.py
  solution/2900-2999/2923.Find Champion I/Solution.ts
  solution/2900-2999/2924.Find Champion II/README.md
  solution/2900-2999/2924.Find Champion II/README_EN.md
  solution/2900-2999/2924.Find Champion II/Solution.cpp
  solution/2900-2999/2924.Find Champion II/Solution.go
  solution/2900-2999/2924.Find Champion II/Solution.java
  solution/2900-2999/2924.Find Champion II/Solution.py
  solution/2900-2999/2924.Find Champion II/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#1935 feat: add rust solution to lc problem: No.0632
  solution/0600-0699/0632.Smallest Range Covering Elements from K Lists/README.md
  solution/0600-0699/0632.Smallest Range Covering Elements from K Lists/README_EN.md
  solution/0600-0699/0632.Smallest Range Covering Elements from K Lists/Solution.rs
Labels: md, rs, core team

#1934 feat: add cs solution to lc problem: No.1845
  solution/1800-1899/1845.Seat Reservation Manager/README.md
  solution/1800-1899/1845.Seat Reservation Manager/README_EN.md
  solution/1800-1899/1845.Seat Reservation Manager/Solution.cs
Labels: md, cs

#1936 feat: use the built-in slices.Min/Max functions in Go 1.21.0+
  lcp/LCP 34. 二叉树染色/README.md
  lcp/LCP 34. 二叉树染色/Solution.go
  solution/1700-1799/1787.Make the XOR of All Segments Equal to Zero/README.md
  solution/1700-1799/1787.Make the XOR of All Segments Equal to Zero/README_EN.md
  solution/1700-1799/1787.Make the XOR of All Segments Equal to Zero/Solution.go
Labels: md, go, core team

#1938 feat: add solution description to lc problems: No.2533~2541
  solution/2500-2599/2533.Number of Good Binary Strings/README_EN.md
  solution/2500-2599/2535.Difference Between Element Sum and Digit Sum of an Array/README.md
  solution/2500-2599/2535.Difference Between Element Sum and Digit Sum of an Array/README_EN.md
  solution/2500-2599/2537.Count the Number of Good Subarrays/README.md
  solution/2500-2599/2537.Count the Number of Good Subarrays/README_EN.md
  solution/2500-2599/2538.Difference Between Maximum and Minimum Price Sum/README.md
  solution/2500-2599/2538.Difference Between Maximum and Minimum Price Sum/README_EN.md
  solution/2500-2599/2539.Count the Number of Good Subsequences/README.md
  solution/2500-2599/2540.Minimum Common Value/README.md
  solution/2500-2599/2540.Minimum Common Value/README_EN.md
  solution/2500-2599/2541.Minimum Operations to Make Array Equal II/README_EN.md
Labels: md, core team

#1939 feat: add solution.cs to lc problems: No.1921
  solution/1900-1999/1921.Eliminate Maximum Number of Monsters/README.md
  solution/1900-1999/1921.Eliminate Maximum Number of Monsters/README_EN.md
  solution/1900-1999/1921.Eliminate Maximum Number of Monsters/Solution.cs
Labels: md, cs

#1940 feat: add solutions to lc problem: No.2925
  run_format.py
  solution/2900-2999/2925.Maximum Score After Applying Operations on a Tree/README.md
  solution/2900-2999/2925.Maximum Score After Applying Operations on a Tree/README_EN.md
  solution/2900-2999/2925.Maximum Score After Applying Operations on a Tree/Solution.cpp
  solution/2900-2999/2925.Maximum Score After Applying Operations on a Tree/Solution.go
  solution/2900-2999/2925.Maximum Score After Applying Operations on a Tree/Solution.java
  solution/2900-2999/2925.Maximum Score After Applying Operations on a Tree/Solution.py
  solution/2900-2999/2925.Maximum Score After Applying Operations on a Tree/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#1942 feat: add solutions to lc problem: No.2926
  solution/2600-2699/2609.Find the Longest Balanced Substring of a Binary String/README.md
  solution/2900-2999/2926.Maximum Balanced Subsequence Sum/README.md
  solution/2900-2999/2926.Maximum Balanced Subsequence Sum/README_EN.md
  solution/2900-2999/2926.Maximum Balanced Subsequence Sum/Solution.cpp
  solution/2900-2999/2926.Maximum Balanced Subsequence Sum/Solution.go
  solution/2900-2999/2926.Maximum Balanced Subsequence Sum/Solution.java
  solution/2900-2999/2926.Maximum Balanced Subsequence Sum/Solution.py
  solution/2900-2999/2926.Maximum Balanced Subsequence Sum/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#1943 feat: add solution.cs to lc problems: No.2849
  solution/2800-2899/2849.Determine if a Cell Is Reachable at a Given Time/README.md
  solution/2800-2899/2849.Determine if a Cell Is Reachable at a Given Time/README_EN.md
  solution/2800-2899/2849.Determine if a Cell Is Reachable at a Given Time/Solution.cs
Labels: md, cs

#1944 feat: add solution.cs to lc problems: No.0501
  solution/0500-0599/0501.Find Mode in Binary Search Tree/README.md
  solution/0500-0599/0501.Find Mode in Binary Search Tree/README_EN.md
  solution/0500-0599/0501.Find Mode in Binary Search Tree/Solution.cs
Labels: md, cs

#1945 feat: add solutions to lc problem: No.2927
  solution/2900-2999/2927.Distribute Candies Among Children III/README.md
  solution/2900-2999/2927.Distribute Candies Among Children III/README_EN.md
  solution/2900-2999/2927.Distribute Candies Among Children III/Solution.cpp
  solution/2900-2999/2927.Distribute Candies Among Children III/Solution.go
  solution/2900-2999/2927.Distribute Candies Among Children III/Solution.java
  solution/2900-2999/2927.Distribute Candies Among Children III/Solution.py
  solution/2900-2999/2927.Distribute Candies Among Children III/Solution.ts
  solution/README.md
  solution/README_EN.md
  solution/summary.md
  solution/summary_en.md
Labels: md, ts, py, go, java, cpp, core team

#1947 feat: add solution.cs to lc problems: No.1759
  solution/1700-1799/1759.Count Number of Homogenous Substrings/README.md
  solution/1700-1799/1759.Count Number of Homogenous Substrings/README_EN.md
  solution/1700-1799/1759.Count Number of Homogenous Substrings/Solution.cs
Labels: md, cs

#1948 feat:add php solution to lc problems:No.0002,0003
  solution/0000-0099/0002.Add Two Numbers/README.md
  solution/0000-0099/0002.Add Two Numbers/README_EN.md
  solution/0000-0099/0002.Add Two Numbers/Solution.php
  solution/0000-0099/0003.Longest Substring Without Repeating Characters/README.md
  solution/0000-0099/0003.Longest Substring Without Repeating Characters/README_EN.md
  solution/0000-0099/0003.Longest Substring Without Repeating Characters/Solution.php
Labels: md, php

#1949 feat: add solutions to lc problem: No.2920
  solution/2300-2399/2300.Successful Pairs of Spells and Potions/README.md
  solution/2900-2999/2920.Maximum Points After Collecting Coins From All Nodes/README.md
  solution/2900-2999/2920.Maximum Points After Collecting Coins From All Nodes/README_EN.md
  solution/2900-2999/2920.Maximum Points After Collecting Coins From All Nodes/Solution.cpp
  solution/2900-2999/2920.Maximum Points After Collecting Coins From All Nodes/Solution.go
  solution/2900-2999/2920.Maximum Points After Collecting Coins From All Nodes/Solution.java
  solution/2900-2999/2920.Maximum Points After Collecting Coins From All Nodes/Solution.py
  solution/2900-2999/2920.Maximum Points After Collecting Coins From All Nodes/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#1950 chore: update lc problems
  solution/2100-2199/2171.Removing Minimum Number of Magic Beans/README.md
  solution/2900-2999/2921.Maximum Profitable Triplets With Increasing Prices II/README.md
  solution/2900-2999/2922.Market Analysis III/README.md
  solution/2900-2999/2923.Find Champion I/README.md
  solution/2900-2999/2923.Find Champion I/README_EN.md
  solution/2900-2999/2927.Distribute Candies Among Children III/README.md
  solution/DATABASE_README.md
  solution/JAVASCRIPT_README.md
  solution/JAVASCRIPT_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/database-summary.md
  solution/summary.md
Labels: md, core team

#1952 feat: add solution.cs to lc problems: No.1743
  solution/1700-1799/1743.Restore the Array From Adjacent Pairs/README.md
  solution/1700-1799/1743.Restore the Array From Adjacent Pairs/README_EN.md
  solution/1700-1799/1743.Restore the Array From Adjacent Pairs/Solution.cs
Labels: md, cs

#1953 feat: add cs solution to lc problem: No.2642
  solution/2600-2699/2642.Design Graph With Shortest Path Calculator/README.md
  solution/2600-2699/2642.Design Graph With Shortest Path Calculator/README_EN.md
  solution/2600-2699/2642.Design Graph With Shortest Path Calculator/Solution.cs
Labels: md, cs

#1954 feat: add solutions to lc problem: No.0715
  solution/0700-0799/0715.Range Module/README.md
  solution/0700-0799/0715.Range Module/README_EN.md
  solution/0700-0799/0715.Range Module/Solution.py
  solution/0700-0799/0715.Range Module/Solution.ts
Labels: md, ts, py, core team

#1955 feat: add biweekly contest 117
  solution/2900-2999/2928.Distribute Candies Among Children I/README.md
  solution/2900-2999/2928.Distribute Candies Among Children I/README_EN.md
  solution/2900-2999/2929.Distribute Candies Among Children II/README.md
  solution/2900-2999/2929.Distribute Candies Among Children II/README_EN.md
  solution/2900-2999/2930.Number of Strings Which Can Be Rearranged to Contain Substring/README.md
  solution/2900-2999/2930.Number of Strings Which Can Be Rearranged to Contain Substring/README_EN.md
  solution/2900-2999/2931.Maximum Spending After Buying Items/README.md
  solution/2900-2999/2931.Maximum Spending After Buying Items/README_EN.md
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/summary.md
  solution/summary_en.md
Labels: md, core team

#1956 feat: add solutions to lc problems: No.2928,2929
  solution/2900-2999/2928.Distribute Candies Among Children I/README.md
  solution/2900-2999/2928.Distribute Candies Among Children I/README_EN.md
  solution/2900-2999/2928.Distribute Candies Among Children I/Solution.cpp
  solution/2900-2999/2928.Distribute Candies Among Children I/Solution.go
  solution/2900-2999/2928.Distribute Candies Among Children I/Solution.java
  solution/2900-2999/2928.Distribute Candies Among Children I/Solution.py
  solution/2900-2999/2928.Distribute Candies Among Children I/Solution.ts
  solution/2900-2999/2929.Distribute Candies Among Children II/README.md
  solution/2900-2999/2929.Distribute Candies Among Children II/README_EN.md
  solution/2900-2999/2929.Distribute Candies Among Children II/Solution.cpp
  solution/2900-2999/2929.Distribute Candies Among Children II/Solution.go
  solution/2900-2999/2929.Distribute Candies Among Children II/Solution.java
  solution/2900-2999/2929.Distribute Candies Among Children II/Solution.py
  solution/2900-2999/2929.Distribute Candies Among Children II/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#1957 feat: add cs solution to lc problem: No.815
  solution/0800-0899/0815.Bus Routes/README.md
  solution/0800-0899/0815.Bus Routes/README_EN.md
  solution/0800-0899/0815.Bus Routes/Solution.cs
Labels: md, cs

#1958 feat: add weekly contest 371
  solution/2900-2999/2932.Maximum Strong Pair XOR I/README.md
  solution/2900-2999/2932.Maximum Strong Pair XOR I/README_EN.md
  solution/2900-2999/2933.High-Access Employees/README.md
  solution/2900-2999/2933.High-Access Employees/README_EN.md
  solution/2900-2999/2934.Minimum Operations to Maximize Last Elements in Arrays/README.md
  solution/2900-2999/2934.Minimum Operations to Maximize Last Elements in Arrays/README_EN.md
  solution/2900-2999/2935.Maximum Strong Pair XOR II/README.md
  solution/2900-2999/2935.Maximum Strong Pair XOR II/README_EN.md
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/summary.md
  solution/summary_en.md
Labels: md, core team

#1959 feat: add solutions to lc problem: No.0307
  solution/0300-0399/0307.Range Sum Query - Mutable/README.md
  solution/0300-0399/0307.Range Sum Query - Mutable/README_EN.md
  solution/0300-0399/0307.Range Sum Query - Mutable/Solution.cpp
  solution/0300-0399/0307.Range Sum Query - Mutable/Solution.cs
  solution/0300-0399/0307.Range Sum Query - Mutable/Solution.go
  solution/0300-0399/0307.Range Sum Query - Mutable/Solution.java
  solution/0300-0399/0307.Range Sum Query - Mutable/Solution.py
  solution/0300-0399/0307.Range Sum Query - Mutable/Solution.ts
Labels: md, ts, py, go, java, cpp, core team, cs

#1960 feat: add cs solution to lc problem: No.2785
  solution/2700-2799/2785.Sort Vowels in a String/README.md
  solution/2700-2799/2785.Sort Vowels in a String/README_EN.md
  solution/2700-2799/2785.Sort Vowels in a String/Solution.cs
Labels: md, cs

#1961 feat: add solutions to lc problems: No.2932,2935
  solution/2900-2999/2932.Maximum Strong Pair XOR I/README.md
  solution/2900-2999/2932.Maximum Strong Pair XOR I/README_EN.md
  solution/2900-2999/2932.Maximum Strong Pair XOR I/Solution.cpp
  solution/2900-2999/2932.Maximum Strong Pair XOR I/Solution.go
  solution/2900-2999/2932.Maximum Strong Pair XOR I/Solution.java
  solution/2900-2999/2932.Maximum Strong Pair XOR I/Solution.py
  solution/2900-2999/2932.Maximum Strong Pair XOR I/Solution.ts
  solution/2900-2999/2935.Maximum Strong Pair XOR II/README.md
  solution/2900-2999/2935.Maximum Strong Pair XOR II/README_EN.md
  solution/2900-2999/2935.Maximum Strong Pair XOR II/Solution.cpp
  solution/2900-2999/2935.Maximum Strong Pair XOR II/Solution.go
  solution/2900-2999/2935.Maximum Strong Pair XOR II/Solution.java
  solution/2900-2999/2935.Maximum Strong Pair XOR II/Solution.py
  solution/2900-2999/2935.Maximum Strong Pair XOR II/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#1962 feat: add solutions to lc problems: No.2933,2934
  solution/2900-2999/2933.High-Access Employees/README.md
  solution/2900-2999/2933.High-Access Employees/README_EN.md
  solution/2900-2999/2933.High-Access Employees/Solution.cpp
  solution/2900-2999/2933.High-Access Employees/Solution.go
  solution/2900-2999/2933.High-Access Employees/Solution.java
  solution/2900-2999/2933.High-Access Employees/Solution.py
  solution/2900-2999/2933.High-Access Employees/Solution.ts
  solution/2900-2999/2934.Minimum Operations to Maximize Last Elements in Arrays/README.md
  solution/2900-2999/2934.Minimum Operations to Maximize Last Elements in Arrays/README_EN.md
  solution/2900-2999/2934.Minimum Operations to Maximize Last Elements in Arrays/Solution.cpp
  solution/2900-2999/2934.Minimum Operations to Maximize Last Elements in Arrays/Solution.go
  solution/2900-2999/2934.Minimum Operations to Maximize Last Elements in Arrays/Solution.java
  solution/2900-2999/2934.Minimum Operations to Maximize Last Elements in Arrays/Solution.py
  solution/2900-2999/2934.Minimum Operations to Maximize Last Elements in Arrays/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#1964 feat: add cs solution to lc problem: No.1930
  solution/1900-1999/1930.Unique Length-3 Palindromic Subsequences/README.md
  solution/1900-1999/1930.Unique Length-3 Palindromic Subsequences/README_EN.md
  solution/1900-1999/1930.Unique Length-3 Palindromic Subsequences/Solution.cs
Labels: md, cs

#1965 feat: add solutions to lc problem: No.2736
  solution/2700-2799/2736.Maximum Sum Queries/README.md
  solution/2700-2799/2736.Maximum Sum Queries/README_EN.md
  solution/2700-2799/2736.Maximum Sum Queries/Solution.cpp
  solution/2700-2799/2736.Maximum Sum Queries/Solution.go
  solution/2700-2799/2736.Maximum Sum Queries/Solution.java
  solution/2700-2799/2736.Maximum Sum Queries/Solution.py
  solution/2700-2799/2736.Maximum Sum Queries/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#1966 feat: add solutions to lc problem: No.2760
  solution/2700-2799/2760.Longest Even Odd Subarray With Threshold/README.md
  solution/2700-2799/2760.Longest Even Odd Subarray With Threshold/README_EN.md
  solution/2700-2799/2760.Longest Even Odd Subarray With Threshold/Solution.cpp
  solution/2700-2799/2760.Longest Even Odd Subarray With Threshold/Solution.go
  solution/2700-2799/2760.Longest Even Odd Subarray With Threshold/Solution.java
  solution/2700-2799/2760.Longest Even Odd Subarray With Threshold/Solution.py
  solution/2700-2799/2760.Longest Even Odd Subarray With Threshold/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#1967 feat: add solutions to lc problem: No.2657
  solution/2600-2699/2657.Find the Prefix Common Array of Two Arrays/README.md
  solution/2600-2699/2657.Find the Prefix Common Array of Two Arrays/README_EN.md
  solution/2600-2699/2657.Find the Prefix Common Array of Two Arrays/Solution.cpp
  solution/2600-2699/2657.Find the Prefix Common Array of Two Arrays/Solution.go
  solution/2600-2699/2657.Find the Prefix Common Array of Two Arrays/Solution.java
  solution/2600-2699/2657.Find the Prefix Common Array of Two Arrays/Solution.py
  solution/2600-2699/2657.Find the Prefix Common Array of Two Arrays/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#1968 feat: add solutions to lc problem: No.2931
  solution/2900-2999/2931.Maximum Spending After Buying Items/README.md
  solution/2900-2999/2931.Maximum Spending After Buying Items/README_EN.md
  solution/2900-2999/2931.Maximum Spending After Buying Items/Solution.cpp
  solution/2900-2999/2931.Maximum Spending After Buying Items/Solution.go
  solution/2900-2999/2931.Maximum Spending After Buying Items/Solution.java
  solution/2900-2999/2931.Maximum Spending After Buying Items/Solution.py
  solution/2900-2999/2931.Maximum Spending After Buying Items/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#1969 feat: add solutions to lc problem: No.2930
  solution/2900-2999/2930.Number of Strings Which Can Be Rearranged to Contain Substring/README.md
  solution/2900-2999/2930.Number of Strings Which Can Be Rearranged to Contain Substring/README_EN.md
  solution/2900-2999/2930.Number of Strings Which Can Be Rearranged to Contain Substring/Solution.cpp
  solution/2900-2999/2930.Number of Strings Which Can Be Rearranged to Contain Substring/Solution.go
  solution/2900-2999/2930.Number of Strings Which Can Be Rearranged to Contain Substring/Solution.java
  solution/2900-2999/2930.Number of Strings Which Can Be Rearranged to Contain Substring/Solution.py
  solution/2900-2999/2930.Number of Strings Which Can Be Rearranged to Contain Substring/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#1970 feat: add cs solution to lc problem: No.1846
  solution/1800-1899/1846.Maximum Element After Decreasing and Rearranging/README.md
  solution/1800-1899/1846.Maximum Element After Decreasing and Rearranging/README_EN.md
  solution/1800-1899/1846.Maximum Element After Decreasing and Rearranging/Solution.cs
Labels: md, cs

#1971 chore: update lc problems
  solution/2900-2999/2936.Number of Equal Numbers Blocks/README.md
  solution/2900-2999/2936.Number of Equal Numbers Blocks/README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/summary.md
  solution/summary_en.md
Labels: md, core team

#1972 feat: add solutions to lc problems: No.2216,2936
  solution/2200-2299/2216.Minimum Deletions to Make Array Beautiful/README.md
  solution/2200-2299/2216.Minimum Deletions to Make Array Beautiful/README_EN.md
  solution/2200-2299/2216.Minimum Deletions to Make Array Beautiful/Solution.cpp
  solution/2200-2299/2216.Minimum Deletions to Make Array Beautiful/Solution.go
  solution/2200-2299/2216.Minimum Deletions to Make Array Beautiful/Solution.java
  solution/2200-2299/2216.Minimum Deletions to Make Array Beautiful/Solution.py
  solution/2200-2299/2216.Minimum Deletions to Make Array Beautiful/Solution.rs
  solution/2200-2299/2216.Minimum Deletions to Make Array Beautiful/Solution.ts
  solution/2700-2799/2760.Longest Even Odd Subarray With Threshold/README.md
  solution/2900-2999/2936.Number of Equal Numbers Blocks/README.md
  solution/2900-2999/2936.Number of Equal Numbers Blocks/README_EN.md
  solution/2900-2999/2936.Number of Equal Numbers Blocks/Solution.cpp
  solution/2900-2999/2936.Number of Equal Numbers Blocks/Solution.java
  solution/2900-2999/2936.Number of Equal Numbers Blocks/Solution.py
  solution/2900-2999/2936.Number of Equal Numbers Blocks/Solution.ts
Labels: md, ts, py, go, java, cpp, rs, core team

#1974 feat: add solutions to lc problem: No.0320
  solution/0300-0399/0320.Generalized Abbreviation/README.md
  solution/0300-0399/0320.Generalized Abbreviation/README_EN.md
  solution/0300-0399/0320.Generalized Abbreviation/Solution.cpp
  solution/0300-0399/0320.Generalized Abbreviation/Solution.go
  solution/0300-0399/0320.Generalized Abbreviation/Solution.java
  solution/0300-0399/0320.Generalized Abbreviation/Solution.py
  solution/0300-0399/0320.Generalized Abbreviation/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#1975 chore: update lc problems
  solution/0000-0099/0027.Remove Element/README.md
  solution/0200-0299/0205.Isomorphic Strings/README.md
  solution/0400-0499/0410.Split Array Largest Sum/README.md
  solution/0400-0499/0489.Robot Room Cleaner/README.md
  solution/0500-0599/0532.K-diff Pairs in an Array/README.md
  solution/0600-0699/0631.Design Excel Sum Formula/README.md
  solution/1200-1299/1236.Web Crawler/README.md
  solution/1900-1999/1921.Eliminate Maximum Number of Monsters/README_EN.md
  solution/2600-2699/2666.Allow One Function Call/README.md
  solution/2800-2899/2881.Create a New Column/README_EN.md
  solution/2900-2999/2922.Market Analysis III/README.md
  solution/2900-2999/2927.Distribute Candies Among Children III/README.md
  solution/DATABASE_README.md
  solution/DATABASE_README_EN.md
  solution/JAVASCRIPT_README.md
  solution/README.md
  solution/README_EN.md
  solution/javascript-summary.md
  solution/summary.md
Labels: md, core team

#1976 feat: add solutions to lc problem: No.0288
  solution/0200-0299/0288.Unique Word Abbreviation/README.md
  solution/0200-0299/0288.Unique Word Abbreviation/README_EN.md
  solution/0200-0299/0288.Unique Word Abbreviation/Solution.cpp
  solution/0200-0299/0288.Unique Word Abbreviation/Solution.go
  solution/0200-0299/0288.Unique Word Abbreviation/Solution.java
  solution/0200-0299/0288.Unique Word Abbreviation/Solution.py
  solution/0200-0299/0288.Unique Word Abbreviation/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#1977 feat: add solutions to lc problems: No.0408~0410
  solution/0400-0499/0408.Valid Word Abbreviation/README.md
  solution/0400-0499/0408.Valid Word Abbreviation/README_EN.md
  solution/0400-0499/0408.Valid Word Abbreviation/Solution.cpp
  solution/0400-0499/0408.Valid Word Abbreviation/Solution.go
  solution/0400-0499/0408.Valid Word Abbreviation/Solution.java
  solution/0400-0499/0408.Valid Word Abbreviation/Solution.py
  solution/0400-0499/0408.Valid Word Abbreviation/Solution.ts
  solution/0400-0499/0409.Longest Palindrome/README_EN.md
  solution/0400-0499/0410.Split Array Largest Sum/README.md
  solution/0400-0499/0410.Split Array Largest Sum/README_EN.md
Labels: md, ts, py, go, java, cpp, core team

#1978 feat: add cs solution to lc problem: No.1877
  solution/1800-1899/1877.Minimize Maximum Pair Sum in Array/README.md
  solution/1800-1899/1877.Minimize Maximum Pair Sum in Array/README_EN.md
  solution/1800-1899/1877.Minimize Maximum Pair Sum in Array/Solution.cs
Labels: md, cs

#1979 feat: add solutions to lc problem: No.2342
  solution/2300-2399/2342.Max Sum of a Pair With Equal Sum of Digits/README.md
  solution/2300-2399/2342.Max Sum of a Pair With Equal Sum of Digits/README_EN.md
  solution/2300-2399/2342.Max Sum of a Pair With Equal Sum of Digits/Solution.cpp
  solution/2300-2399/2342.Max Sum of a Pair With Equal Sum of Digits/Solution.go
  solution/2300-2399/2342.Max Sum of a Pair With Equal Sum of Digits/Solution.java
  solution/2300-2399/2342.Max Sum of a Pair With Equal Sum of Digits/Solution.py
  solution/2300-2399/2342.Max Sum of a Pair With Equal Sum of Digits/Solution.rs
  solution/2300-2399/2342.Max Sum of a Pair With Equal Sum of Digits/Solution.ts
Labels: md, ts, py, go, java, cpp, rs, core team

#1981 feat: add solutions to lc problem: No.1866
  solution/1800-1899/1866.Number of Ways to Rearrange Sticks With K Sticks Visible/README.md
  solution/1800-1899/1866.Number of Ways to Rearrange Sticks With K Sticks Visible/README_EN.md
  solution/1800-1899/1866.Number of Ways to Rearrange Sticks With K Sticks Visible/Solution.ts
Labels: md, ts, core team

#1982 feat: add solutions to lc problem: No.0689
  solution/0600-0699/0689.Maximum Sum of 3 Non-Overlapping Subarrays/README.md
  solution/0600-0699/0689.Maximum Sum of 3 Non-Overlapping Subarrays/README_EN.md
  solution/0600-0699/0689.Maximum Sum of 3 Non-Overlapping Subarrays/Solution.cpp
  solution/0600-0699/0689.Maximum Sum of 3 Non-Overlapping Subarrays/Solution.go
  solution/0600-0699/0689.Maximum Sum of 3 Non-Overlapping Subarrays/Solution.java
  solution/0600-0699/0689.Maximum Sum of 3 Non-Overlapping Subarrays/Solution.py
  solution/0600-0699/0689.Maximum Sum of 3 Non-Overlapping Subarrays/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#1983 feat: add weekly contest 372
  solution/2900-2999/2937.Make Three Strings Equal/README.md
  solution/2900-2999/2937.Make Three Strings Equal/README_EN.md
  solution/2900-2999/2938.Separate Black and White Balls/README.md
  solution/2900-2999/2938.Separate Black and White Balls/README_EN.md
  solution/2900-2999/2939.Maximum Xor Product/README.md
  solution/2900-2999/2939.Maximum Xor Product/README_EN.md
  solution/2900-2999/2940.Find Building Where Alice and Bob Can Meet/README.md
  solution/2900-2999/2940.Find Building Where Alice and Bob Can Meet/README_EN.md
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/summary.md
  solution/summary_en.md
Labels: md, core team

#1984 feat: add cs solution to lc problem: No.1887
  solution/1800-1899/1887.Reduction Operations to Make the Array Elements Equal/README.md
  solution/1800-1899/1887.Reduction Operations to Make the Array Elements Equal/README_EN.md
  solution/1800-1899/1887.Reduction Operations to Make the Array Elements Equal/Solution.cs
Labels: md, cs

#1985 feat: add solutions to lc problems: No.2937,2938
  solution/2900-2999/2937.Make Three Strings Equal/README.md
  solution/2900-2999/2937.Make Three Strings Equal/README_EN.md
  solution/2900-2999/2937.Make Three Strings Equal/Solution.cpp
  solution/2900-2999/2937.Make Three Strings Equal/Solution.go
  solution/2900-2999/2937.Make Three Strings Equal/Solution.java
  solution/2900-2999/2937.Make Three Strings Equal/Solution.py
  solution/2900-2999/2937.Make Three Strings Equal/Solution.ts
  solution/2900-2999/2938.Separate Black and White Balls/README.md
  solution/2900-2999/2938.Separate Black and White Balls/README_EN.md
  solution/2900-2999/2938.Separate Black and White Balls/Solution.cpp
  solution/2900-2999/2938.Separate Black and White Balls/Solution.go
  solution/2900-2999/2938.Separate Black and White Balls/Solution.java
  solution/2900-2999/2938.Separate Black and White Balls/Solution.py
  solution/2900-2999/2938.Separate Black and White Balls/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#1986 feat: add solutions to lc problem: No.2939
  solution/2900-2999/2939.Maximum Xor Product/README.md
  solution/2900-2999/2939.Maximum Xor Product/README_EN.md
  solution/2900-2999/2939.Maximum Xor Product/Solution.cpp
  solution/2900-2999/2939.Maximum Xor Product/Solution.go
  solution/2900-2999/2939.Maximum Xor Product/Solution.java
  solution/2900-2999/2939.Maximum Xor Product/Solution.py
  solution/2900-2999/2939.Maximum Xor Product/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#1987 feat: add solutions to lc problem: No.2940
  solution/2700-2799/2736.Maximum Sum Queries/README.md
  solution/2700-2799/2736.Maximum Sum Queries/README_EN.md
  solution/2900-2999/2940.Find Building Where Alice and Bob Can Meet/README.md
  solution/2900-2999/2940.Find Building Where Alice and Bob Can Meet/README_EN.md
  solution/2900-2999/2940.Find Building Where Alice and Bob Can Meet/Solution.cpp
  solution/2900-2999/2940.Find Building Where Alice and Bob Can Meet/Solution.go
  solution/2900-2999/2940.Find Building Where Alice and Bob Can Meet/Solution.java
  solution/2900-2999/2940.Find Building Where Alice and Bob Can Meet/Solution.py
  solution/2900-2999/2940.Find Building Where Alice and Bob Can Meet/Solution.ts
  solution/README.md
  solution/summary.md
Labels: md, ts, py, go, java, cpp, core team

#1988 feat: use sort.SearchInts in golang code snippets
  solution/0000-0099/0034.Find First and Last Position of Element in Sorted Array/README.md
  solution/0000-0099/0034.Find First and Last Position of Element in Sorted Array/README_EN.md
  solution/0000-0099/0034.Find First and Last Position of Element in Sorted Array/Solution.go
  solution/0000-0099/0035.Search Insert Position/README.md
  solution/0000-0099/0035.Search Insert Position/README_EN.md
  solution/1100-1199/1150.Check If a Number Is Majority Element in a Sorted Array/README.md
  solution/1100-1199/1150.Check If a Number Is Majority Element in a Sorted Array/README_EN.md
  solution/1100-1199/1150.Check If a Number Is Majority Element in a Sorted Array/Solution.go
  solution/1400-1499/1488.Avoid Flood in The City/README.md
  solution/1400-1499/1488.Avoid Flood in The City/README_EN.md
  solution/1400-1499/1488.Avoid Flood in The City/Solution.go
  solution/1700-1799/1774.Closest Dessert Cost/README.md
  solution/1700-1799/1774.Closest Dessert Cost/README_EN.md
  solution/1700-1799/1774.Closest Dessert Cost/Solution.go
  solution/1800-1899/1818.Minimum Absolute Sum Difference/README.md
  solution/1800-1899/1818.Minimum Absolute Sum Difference/README_EN.md
  solution/1800-1899/1818.Minimum Absolute Sum Difference/Solution.go
Labels: md, go, core team

#1990 feat: add cs solution to lc problem: No.2391
  solution/2300-2399/2391.Minimum Amount of Time to Collect Garbage/README.md
  solution/2300-2399/2391.Minimum Amount of Time to Collect Garbage/README_EN.md
  solution/2300-2399/2391.Minimum Amount of Time to Collect Garbage/Solution.cs
Labels: md, cs

#1991 feat: update solutions to lc problem: No.2304
  solution/2300-2399/2304.Minimum Path Cost in a Grid/README.md
  solution/2300-2399/2304.Minimum Path Cost in a Grid/README_EN.md
  solution/2300-2399/2304.Minimum Path Cost in a Grid/Solution.rs
  solution/2300-2399/2304.Minimum Path Cost in a Grid/Solution.ts
Labels: md, ts, rs, core team

#1992 feat: add solutions to lc problem: No.2306
  solution/2300-2399/2306.Naming a Company/README.md
  solution/2300-2399/2306.Naming a Company/README_EN.md
  solution/2300-2399/2306.Naming a Company/Solution.cpp
  solution/2300-2399/2306.Naming a Company/Solution.go
  solution/2300-2399/2306.Naming a Company/Solution.ts
Labels: md, ts, go, cpp, core team

#1994 feat: add solutions to lc problem: No.2204
  solution/2200-2299/2204.Distance to a Cycle in Undirected Graph/README.md
  solution/2200-2299/2204.Distance to a Cycle in Undirected Graph/README_EN.md
  solution/2200-2299/2204.Distance to a Cycle in Undirected Graph/Solution.cpp
  solution/2200-2299/2204.Distance to a Cycle in Undirected Graph/Solution.go
  solution/2200-2299/2204.Distance to a Cycle in Undirected Graph/Solution.java
  solution/2200-2299/2204.Distance to a Cycle in Undirected Graph/Solution.py
  solution/2200-2299/2204.Distance to a Cycle in Undirected Graph/Solution.ts
  solution/2600-2699/2603.Collect Coins in a Tree/README.md
  solution/2600-2699/2603.Collect Coins in a Tree/README_EN.md
Labels: md, ts, py, go, java, cpp, core team

#1995 feat: add solutions to lc problem: No.1627
  solution/1600-1699/1627.Graph Connectivity With Threshold/README.md
  solution/1600-1699/1627.Graph Connectivity With Threshold/README_EN.md
  solution/1600-1699/1627.Graph Connectivity With Threshold/Solution.cpp
  solution/1600-1699/1627.Graph Connectivity With Threshold/Solution.go
  solution/1600-1699/1627.Graph Connectivity With Threshold/Solution.java
  solution/1600-1699/1627.Graph Connectivity With Threshold/Solution.py
  solution/1600-1699/1627.Graph Connectivity With Threshold/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#1996 feat: add solutions to lc problem: No.1724
  solution/1700-1799/1724.Checking Existence of Edge Length Limited Paths II/README.md
  solution/1700-1799/1724.Checking Existence of Edge Length Limited Paths II/README_EN.md
  solution/1700-1799/1724.Checking Existence of Edge Length Limited Paths II/Solution.cpp
  solution/1700-1799/1724.Checking Existence of Edge Length Limited Paths II/Solution.go
  solution/1700-1799/1724.Checking Existence of Edge Length Limited Paths II/Solution.java
  solution/1700-1799/1724.Checking Existence of Edge Length Limited Paths II/Solution.py
  solution/1700-1799/1724.Checking Existence of Edge Length Limited Paths II/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#1997 feat: add cs solution to lc problem: No.1814
  solution/1800-1899/1814.Count Nice Pairs in an Array/README.md
  solution/1800-1899/1814.Count Nice Pairs in an Array/README_EN.md
  solution/1800-1899/1814.Count Nice Pairs in an Array/Solution.cs
Labels: md, cs

#1998 feat: add cs solution to lc problem: No.1424
  solution/1400-1499/1424.Diagonal Traverse II/README.md
  solution/1400-1499/1424.Diagonal Traverse II/README_EN.md
  solution/1400-1499/1424.Diagonal Traverse II/Solution.cs
Labels: md, cs

#1999 feat: add solutions to lc problem: No.1931
  solution/1900-1999/1931.Painting a Grid With Three Different Colors/README.md
  solution/1900-1999/1931.Painting a Grid With Three Different Colors/README_EN.md
  solution/1900-1999/1931.Painting a Grid With Three Different Colors/Solution.cpp
  solution/1900-1999/1931.Painting a Grid With Three Different Colors/Solution.go
  solution/1900-1999/1931.Painting a Grid With Three Different Colors/Solution.java
  solution/1900-1999/1931.Painting a Grid With Three Different Colors/Solution.py
  solution/1900-1999/1931.Painting a Grid With Three Different Colors/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2000 feat: add solutions to lc problem: No.1933
  solution/1900-1999/1933.Check if String Is Decomposable Into Value-Equal Substrings/README.md
  solution/1900-1999/1933.Check if String Is Decomposable Into Value-Equal Substrings/README_EN.md
  solution/1900-1999/1933.Check if String Is Decomposable Into Value-Equal Substrings/Solution.cpp
  solution/1900-1999/1933.Check if String Is Decomposable Into Value-Equal Substrings/Solution.ts
Labels: md, ts, cpp, core team

#2001 feat: add ts solution to lc problem: No.1410
  solution/1400-1499/1410.HTML Entity Parser/README.md
  solution/1400-1499/1410.HTML Entity Parser/README_EN.md
  solution/1400-1499/1410.HTML Entity Parser/Solution.ts
Labels: md, ts, core team

#2003 feat: add solutions to lc problem: No.1411
  solution/1400-1499/1411.Number of Ways to Paint N × 3 Grid/README.md
  solution/1400-1499/1411.Number of Ways to Paint N × 3 Grid/README_EN.md
  solution/1400-1499/1411.Number of Ways to Paint N × 3 Grid/Solution.ts
  solution/1900-1999/1931.Painting a Grid With Three Different Colors/README.md
  solution/1900-1999/1931.Painting a Grid With Three Different Colors/README_EN.md
  solution/1900-1999/1931.Painting a Grid With Three Different Colors/Solution.cpp
  solution/1900-1999/1931.Painting a Grid With Three Different Colors/Solution.go
  solution/1900-1999/1931.Painting a Grid With Three Different Colors/Solution.java
  solution/1900-1999/1931.Painting a Grid With Three Different Colors/Solution.ts
Labels: md, ts, go, java, cpp, core team

#2004 feat: add solutions to lc problem: No.1457
  solution/1400-1499/1457.Pseudo-Palindromic Paths in a Binary Tree/README.md
  solution/1400-1499/1457.Pseudo-Palindromic Paths in a Binary Tree/README_EN.md
  solution/1400-1499/1457.Pseudo-Palindromic Paths in a Binary Tree/Solution.cpp
  solution/1400-1499/1457.Pseudo-Palindromic Paths in a Binary Tree/Solution.go
  solution/1400-1499/1457.Pseudo-Palindromic Paths in a Binary Tree/Solution.java
  solution/1400-1499/1457.Pseudo-Palindromic Paths in a Binary Tree/Solution.py
  solution/1400-1499/1457.Pseudo-Palindromic Paths in a Binary Tree/Solution.rs
  solution/1400-1499/1457.Pseudo-Palindromic Paths in a Binary Tree/Solution.ts
Labels: md, ts, py, go, java, cpp, rs, core team

#2005 feat: add solutions to lc problem: No.2941
  solution/2900-2999/2941.Maximum GCD-Sum of a Subarray/README.md
  solution/2900-2999/2941.Maximum GCD-Sum of a Subarray/README_EN.md
  solution/2900-2999/2941.Maximum GCD-Sum of a Subarray/Solution.cpp
  solution/2900-2999/2941.Maximum GCD-Sum of a Subarray/Solution.go
  solution/2900-2999/2941.Maximum GCD-Sum of a Subarray/Solution.java
  solution/2900-2999/2941.Maximum GCD-Sum of a Subarray/Solution.py
  solution/2900-2999/2941.Maximum GCD-Sum of a Subarray/Solution.ts
  solution/README.md
  solution/README_EN.md
  solution/summary.md
  solution/summary_en.md
Labels: md, ts, py, go, java, cpp, core team

#2006 feat: add cs solution to lc problem: No.1630
  solution/1600-1699/1630.Arithmetic Subarrays/README.md
  solution/1600-1699/1630.Arithmetic Subarrays/README_EN.md
  solution/1600-1699/1630.Arithmetic Subarrays/Solution.cs
Labels: md, cs

#2007 feat: add solutions to lc problems: No.2824~2867
  solution/2800-2899/2824.Count Pairs Whose Sum is Less than Target/README_EN.md
  solution/2800-2899/2825.Make String a Subsequence Using Cyclic Increments/README_EN.md
  solution/2800-2899/2826.Sorting Three Groups/README.md
  solution/2800-2899/2826.Sorting Three Groups/README_EN.md
  solution/2800-2899/2828.Check if a String Is an Acronym of Words/README_EN.md
  solution/2800-2899/2829.Determine the Minimum Sum of a k-avoiding Array/README_EN.md
  solution/2800-2899/2830.Maximize the Profit as the Salesman/README_EN.md
  solution/2800-2899/2831.Find the Longest Equal Subarray/README_EN.md
  solution/2800-2899/2832.Maximal Range That Each Element Is Maximum in It/README_EN.md
  solution/2800-2899/2833.Furthest Point From Origin/README_EN.md
  solution/2800-2899/2834.Find the Minimum Possible Sum of a Beautiful Array/README_EN.md
  solution/2800-2899/2835.Minimum Operations to Form Subsequence With Target Sum/README_EN.md
  solution/2800-2899/2836.Maximize Value of Function in a Ball Passing Game/README_EN.md
  solution/2800-2899/2837.Total Traveled Distance/README_EN.md
  solution/2800-2899/2838.Maximum Coins Heroes Can Collect/README_EN.md
  solution/2800-2899/2839.Check if Strings Can be Made Equal With Operations I/README_EN.md
  solution/2800-2899/2840.Check if Strings Can be Made Equal With Operations II/README_EN.md
  solution/2800-2899/2841.Maximum Sum of Almost Unique Subarray/README_EN.md
  solution/2800-2899/2842.Count K-Subsequences of a String With Maximum Beauty/README_EN.md
  solution/2800-2899/2843.Count Symmetric Integers/README_EN.md
  solution/2800-2899/2844.Minimum Operations to Make a Special Number/README_EN.md
  solution/2800-2899/2845.Count of Interesting Subarrays/README_EN.md
  solution/2800-2899/2846.Minimum Edge Weight Equilibrium Queries in a Tree/README_EN.md
  solution/2800-2899/2847.Smallest Number With Given Digit Product/README_EN.md
  solution/2800-2899/2848.Points That Intersect With Cars/README_EN.md
  solution/2800-2899/2850.Minimum Moves to Spread Stones Over Grid/README_EN.md
  solution/2800-2899/2852.Sum of Remoteness of All Cells/README_EN.md
  solution/2800-2899/2853.Highest Salaries Difference/README_EN.md
  solution/2800-2899/2854.Rolling Average Steps/README_EN.md
  solution/2800-2899/2855.Minimum Right Shifts to Sort the Array/README_EN.md
  solution/2800-2899/2856.Minimum Array Length After Pair Removals/README_EN.md
  solution/2800-2899/2857.Count Pairs of Points With Distance k/README_EN.md
  solution/2800-2899/2859.Sum of Values at Indices With K Set Bits/README_EN.md
  solution/2800-2899/2860.Happy Students/README_EN.md
  solution/2800-2899/2861.Maximum Number of Alloys/README_EN.md
  solution/2800-2899/2862.Maximum Element-Sum of a Complete Subset of Indices/README_EN.md
  solution/2800-2899/2863.Maximum Length of Semi-Decreasing Subarrays/README_EN.md
  solution/2800-2899/2864.Maximum Odd Binary Number/README_EN.md
  solution/2800-2899/2865.Beautiful Towers I/README_EN.md
  solution/2800-2899/2866.Beautiful Towers II/README_EN.md
  solution/2800-2899/2867.Count Valid Paths in a Tree/README_EN.md
Labels: md, core team

#2008 feat: update lc problems
  solution/0500-0599/0570.Managers with at Least 5 Direct Reports/README.md
  solution/0500-0599/0570.Managers with at Least 5 Direct Reports/README_EN.md
  solution/0700-0799/0700.Search in a Binary Search Tree/README.md
  solution/0800-0899/0815.Bus Routes/README_EN.md
  solution/1200-1299/1293.Shortest Path in a Grid with Obstacles Elimination/README.md
  solution/1200-1299/1293.Shortest Path in a Grid with Obstacles Elimination/images/1700710701-uPqkZe-img_v3_025f_0edd50fb-8a70-4a42-add0-f602caaad35g.jpg
  solution/1200-1299/1293.Shortest Path in a Grid with Obstacles Elimination/images/1700710956-kcxqcC-img_v3_025f_d55a658c-8f40-464b-800f-22ccd27cc9fg.jpg
  solution/1700-1799/1759.Count Number of Homogenous Substrings/README.md
  solution/1800-1899/1846.Maximum Element After Decreasing and Rearranging/README_EN.md
  solution/2900-2999/2936.Number of Equal Numbers Blocks/README.md
  solution/CONTEST_README.md
  solution/README.md
  solution/README_EN.md
  solution/main.py
Labels: md, py, core team, jpg

#2009 feat: add solutions to lc problem: No.2336
  solution/2300-2399/2336.Smallest Number in Infinite Set/README.md
  solution/2300-2399/2336.Smallest Number in Infinite Set/README_EN.md
  solution/2300-2399/2336.Smallest Number in Infinite Set/Solution.cpp
  solution/2300-2399/2336.Smallest Number in Infinite Set/Solution.go
  solution/2300-2399/2336.Smallest Number in Infinite Set/Solution.java
  solution/2300-2399/2336.Smallest Number in Infinite Set/Solution.py
  solution/2300-2399/2336.Smallest Number in Infinite Set/Solution.rs
  solution/2300-2399/2336.Smallest Number in Infinite Set/Solution.ts
Labels: md, ts, py, go, java, cpp, rs, core team

#2012 feat: add ts solution to lc problem: No.0001
  solution/0000-0099/0001.Two Sum/README.md
  solution/0000-0099/0001.Two Sum/README_EN.md
  solution/0000-0099/0001.Two Sum/Solution.ts
Labels: md, ts

#2014 feat: add solutions to lc problem: No.0880
  solution/0800-0899/0880.Decoded String at Index/README.md
  solution/0800-0899/0880.Decoded String at Index/README_EN.md
  solution/0800-0899/0880.Decoded String at Index/Solution.cpp
  solution/0800-0899/0880.Decoded String at Index/Solution.go
  solution/0800-0899/0880.Decoded String at Index/Solution.java
  solution/0800-0899/0880.Decoded String at Index/Solution.py
  solution/0800-0899/0880.Decoded String at Index/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2015 feat: add biweekly contest 118
  solution/2900-2999/2942.Find Words Containing Character/README.md
  solution/2900-2999/2942.Find Words Containing Character/README_EN.md
  solution/2900-2999/2943.Maximize Area of Square Hole in Grid/README.md
  solution/2900-2999/2943.Maximize Area of Square Hole in Grid/README_EN.md
  solution/2900-2999/2943.Maximize Area of Square Hole in Grid/images/screenshot-from-2023-11-04-17-01-02.png
  solution/2900-2999/2943.Maximize Area of Square Hole in Grid/images/screenshot-from-2023-11-05-22-33-35.png
  solution/2900-2999/2943.Maximize Area of Square Hole in Grid/images/screenshot-from-2023-11-05-22-40-25.png
  solution/2900-2999/2944.Minimum Number of Coins for Fruits/README.md
  solution/2900-2999/2944.Minimum Number of Coins for Fruits/README_EN.md
  solution/2900-2999/2945.Find Maximum Non-decreasing Array Length/README.md
  solution/2900-2999/2945.Find Maximum Non-decreasing Array Length/README_EN.md
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/main.py
  solution/summary.md
  solution/summary_en.md
Labels: md, py, core team, png

#2016 feat: add TypeScript/Rust solutions to lc problem: No.0828
  solution/0800-0899/0828.Count Unique Characters of All Substrings of a Given String/README.md
  solution/0800-0899/0828.Count Unique Characters of All Substrings of a Given String/README_EN.md
  solution/0800-0899/0828.Count Unique Characters of All Substrings of a Given String/Solution.go
  solution/0800-0899/0828.Count Unique Characters of All Substrings of a Given String/Solution.rs
  solution/0800-0899/0828.Count Unique Characters of All Substrings of a Given String/Solution.ts
Labels: md, ts, go, rs, core team

#2017 feat: add weekly contest 373
  solution/2900-2999/2946.Matrix Similarity After Cyclic Shifts/README.md
  solution/2900-2999/2946.Matrix Similarity After Cyclic Shifts/README_EN.md
  solution/2900-2999/2946.Matrix Similarity After Cyclic Shifts/images/similarmatrix.png
  solution/2900-2999/2947.Count Beautiful Substrings I/README.md
  solution/2900-2999/2947.Count Beautiful Substrings I/README_EN.md
  solution/2900-2999/2948.Make Lexicographically Smallest Array by Swapping Elements/README.md
  solution/2900-2999/2948.Make Lexicographically Smallest Array by Swapping Elements/README_EN.md
  solution/2900-2999/2949.Count Beautiful Substrings II/README.md
  solution/2900-2999/2949.Count Beautiful Substrings II/README_EN.md
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/summary.md
  solution/summary_en.md
Labels: md, core team, png

#2019 feat: add ts solution to lc problem: No.1727
  solution/1700-1799/1727.Largest Submatrix With Rearrangements/README.md
  solution/1700-1799/1727.Largest Submatrix With Rearrangements/README_EN.md
  solution/1700-1799/1727.Largest Submatrix With Rearrangements/Solution.ts
Labels: md, ts

#2020 feat: add solutions to lc problem: No.2942
  solution/2900-2999/2942.Find Words Containing Character/README.md
  solution/2900-2999/2942.Find Words Containing Character/README_EN.md
  solution/2900-2999/2942.Find Words Containing Character/Solution.cpp
  solution/2900-2999/2942.Find Words Containing Character/Solution.go
  solution/2900-2999/2942.Find Words Containing Character/Solution.java
  solution/2900-2999/2942.Find Words Containing Character/Solution.py
  solution/2900-2999/2942.Find Words Containing Character/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2021 feat: add solutions to lc problem: No.0907
  solution/0900-0999/0907.Sum of Subarray Minimums/README.md
  solution/0900-0999/0907.Sum of Subarray Minimums/README_EN.md
  solution/0900-0999/0907.Sum of Subarray Minimums/Solution.cpp
  solution/0900-0999/0907.Sum of Subarray Minimums/Solution.go
  solution/0900-0999/0907.Sum of Subarray Minimums/Solution.java
  solution/0900-0999/0907.Sum of Subarray Minimums/Solution.rs
  solution/0900-0999/0907.Sum of Subarray Minimums/Solution.ts
Labels: md, ts, go, java, cpp, rs, core team

#2022 feat: add solutions to lc problems: No.2943,2944
  solution/2900-2999/2943.Maximize Area of Square Hole in Grid/README.md
  solution/2900-2999/2943.Maximize Area of Square Hole in Grid/README_EN.md
  solution/2900-2999/2943.Maximize Area of Square Hole in Grid/Solution.cpp
  solution/2900-2999/2943.Maximize Area of Square Hole in Grid/Solution.go
  solution/2900-2999/2943.Maximize Area of Square Hole in Grid/Solution.java
  solution/2900-2999/2943.Maximize Area of Square Hole in Grid/Solution.py
  solution/2900-2999/2943.Maximize Area of Square Hole in Grid/Solution.rs
  solution/2900-2999/2943.Maximize Area of Square Hole in Grid/Solution.ts
  solution/2900-2999/2944.Minimum Number of Coins for Fruits/README.md
  solution/2900-2999/2944.Minimum Number of Coins for Fruits/README_EN.md
  solution/2900-2999/2944.Minimum Number of Coins for Fruits/Solution.cpp
  solution/2900-2999/2944.Minimum Number of Coins for Fruits/Solution.go
  solution/2900-2999/2944.Minimum Number of Coins for Fruits/Solution.java
  solution/2900-2999/2944.Minimum Number of Coins for Fruits/Solution.py
  solution/2900-2999/2944.Minimum Number of Coins for Fruits/Solution.ts
Labels: md, ts, py, go, java, cpp, rs, core team

#2024 feat: add solutions to lc problems: No.2945~2947
  solution/2900-2999/2945.Find Maximum Non-decreasing Array Length/README.md
  solution/2900-2999/2945.Find Maximum Non-decreasing Array Length/README_EN.md
  solution/2900-2999/2945.Find Maximum Non-decreasing Array Length/Solution.cpp
  solution/2900-2999/2945.Find Maximum Non-decreasing Array Length/Solution.go
  solution/2900-2999/2945.Find Maximum Non-decreasing Array Length/Solution.java
  solution/2900-2999/2945.Find Maximum Non-decreasing Array Length/Solution.py
  solution/2900-2999/2945.Find Maximum Non-decreasing Array Length/Solution.ts
  solution/2900-2999/2946.Matrix Similarity After Cyclic Shifts/README.md
  solution/2900-2999/2946.Matrix Similarity After Cyclic Shifts/README_EN.md
  solution/2900-2999/2946.Matrix Similarity After Cyclic Shifts/Solution.cpp
  solution/2900-2999/2946.Matrix Similarity After Cyclic Shifts/Solution.go
  solution/2900-2999/2946.Matrix Similarity After Cyclic Shifts/Solution.java
  solution/2900-2999/2946.Matrix Similarity After Cyclic Shifts/Solution.py
  solution/2900-2999/2946.Matrix Similarity After Cyclic Shifts/Solution.ts
  solution/2900-2999/2947.Count Beautiful Substrings I/README.md
  solution/2900-2999/2947.Count Beautiful Substrings I/README_EN.md
  solution/2900-2999/2947.Count Beautiful Substrings I/Solution.cpp
  solution/2900-2999/2947.Count Beautiful Substrings I/Solution.go
  solution/2900-2999/2947.Count Beautiful Substrings I/Solution.java
  solution/2900-2999/2947.Count Beautiful Substrings I/Solution.py
  solution/2900-2999/2947.Count Beautiful Substrings I/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2025 feat: add ts solution to lc problem: No.935
  solution/0900-0999/0935.Knight Dialer/README.md
  solution/0900-0999/0935.Knight Dialer/README_EN.md
  solution/0900-0999/0935.Knight Dialer/solution.ts
Labels: md, ts

#2026 feat: add solutions to lc problems
  solution/1000-1099/1094.Car Pooling/README.md
  solution/1000-1099/1094.Car Pooling/README_EN.md
  solution/1000-1099/1094.Car Pooling/Solution.cs
  solution/1000-1099/1094.Car Pooling/Solution.go
  solution/1000-1099/1094.Car Pooling/Solution.js
  solution/1000-1099/1094.Car Pooling/Solution.py
  solution/1000-1099/1094.Car Pooling/Solution.rs
  solution/1000-1099/1094.Car Pooling/Solution.ts
  solution/1000-1099/1099.Two Sum Less Than K/README_EN.md
  solution/1100-1199/1100.Find K-Length Substrings With No Repeated Characters/README_EN.md
  solution/1100-1199/1101.The Earliest Moment When Everyone Become Friends/README_EN.md
  solution/1100-1199/1102.Path With Maximum Minimum Value/README_EN.md
  solution/1100-1199/1103.Distribute Candies to People/README_EN.md
  solution/1100-1199/1104.Path In Zigzag Labelled Binary Tree/README_EN.md
  solution/1100-1199/1105.Filling Bookcase Shelves/README_EN.md
  solution/1100-1199/1106.Parsing A Boolean Expression/README.md
  solution/1100-1199/1106.Parsing A Boolean Expression/README_EN.md
  solution/1100-1199/1108.Defanging an IP Address/README_EN.md
  solution/1100-1199/1109.Corporate Flight Bookings/README_EN.md
  solution/1100-1199/1110.Delete Nodes And Return Forest/README_EN.md
  solution/1100-1199/1111.Maximum Nesting Depth of Two Valid Parentheses Strings/README_EN.md
  solution/1100-1199/1114.Print in Order/README_EN.md
  solution/1100-1199/1115.Print FooBar Alternately/README_EN.md
  solution/1100-1199/1116.Print Zero Even Odd/README_EN.md
  solution/1100-1199/1118.Number of Days in a Month/README_EN.md
  solution/1100-1199/1119.Remove Vowels from a String/README_EN.md
  solution/1100-1199/1120.Maximum Average Subtree/README_EN.md
  solution/1100-1199/1121.Divide Array Into Increasing Sequences/README.md
  solution/1100-1199/1121.Divide Array Into Increasing Sequences/README_EN.md
  solution/1100-1199/1122.Relative Sort Array/README_EN.md
  solution/2900-2999/2948.Make Lexicographically Smallest Array by Swapping Elements/README.md
  solution/2900-2999/2948.Make Lexicographically Smallest Array by Swapping Elements/README_EN.md
  solution/2900-2999/2948.Make Lexicographically Smallest Array by Swapping Elements/Solution.cpp
  solution/2900-2999/2948.Make Lexicographically Smallest Array by Swapping Elements/Solution.go
  solution/2900-2999/2948.Make Lexicographically Smallest Array by Swapping Elements/Solution.java
  solution/2900-2999/2948.Make Lexicographically Smallest Array by Swapping Elements/Solution.py
  solution/2900-2999/2948.Make Lexicographically Smallest Array by Swapping Elements/Solution.ts
Labels: js, md, ts, py, go, rs, core team, cs

#2028 feat: add ts solution to lc problem: No.2147
  solution/2100-2199/2147.Number of Ways to Divide a Long Corridor/README.md
  solution/2100-2199/2147.Number of Ways to Divide a Long Corridor/README_EN.md
  solution/2100-2199/2147.Number of Ways to Divide a Long Corridor/solution.ts
Labels: md, ts

#2030 feat: add solutions to lc problems
  solution/0000-0099/0002.Add Two Numbers/README.md
  solution/0000-0099/0002.Add Two Numbers/README_EN.md
  solution/0000-0099/0004.Median of Two Sorted Arrays/README_EN.md
  solution/0000-0099/0005.Longest Palindromic Substring/README_EN.md
  solution/0000-0099/0006.Zigzag Conversion/README_EN.md
  solution/0000-0099/0007.Reverse Integer/README_EN.md
  solution/0000-0099/0008.String to Integer (atoi)/README.md
  solution/0000-0099/0008.String to Integer (atoi)/README_EN.md
  solution/0000-0099/0009.Palindrome Number/README_EN.md
  solution/0000-0099/0010.Regular Expression Matching/README_EN.md
  solution/0000-0099/0011.Container With Most Water/README_EN.md
  solution/0000-0099/0012.Integer to Roman/README_EN.md
  solution/0000-0099/0013.Roman to Integer/README_EN.md
  solution/0000-0099/0014.Longest Common Prefix/README_EN.md
  solution/0000-0099/0016.3Sum Closest/README_EN.md
  solution/0000-0099/0017.Letter Combinations of a Phone Number/README.md
  solution/0000-0099/0017.Letter Combinations of a Phone Number/README_EN.md
  solution/0000-0099/0017.Letter Combinations of a Phone Number/Solution.cpp
  solution/0000-0099/0017.Letter Combinations of a Phone Number/Solution.js
  solution/0000-0099/0017.Letter Combinations of a Phone Number/Solution.py
  solution/0000-0099/0017.Letter Combinations of a Phone Number/Solution.rs
  solution/0000-0099/0017.Letter Combinations of a Phone Number/Solution.ts
  solution/0000-0099/0018.4Sum/README_EN.md
  solution/0000-0099/0019.Remove Nth Node From End of List/README.md
  solution/0000-0099/0019.Remove Nth Node From End of List/README_EN.md
  solution/0000-0099/0020.Valid Parentheses/README_EN.md
  solution/0000-0099/0021.Merge Two Sorted Lists/README_EN.md
  solution/0000-0099/0022.Generate Parentheses/README_EN.md
  solution/0000-0099/0023.Merge k Sorted Lists/README_EN.md
  solution/0000-0099/0024.Swap Nodes in Pairs/README_EN.md
  solution/0000-0099/0025.Reverse Nodes in k-Group/README_EN.md
  solution/0000-0099/0026.Remove Duplicates from Sorted Array/README.md
  solution/0000-0099/0026.Remove Duplicates from Sorted Array/README_EN.md
  solution/0000-0099/0028.Find the Index of the First Occurrence in a String/README.md
  solution/0000-0099/0028.Find the Index of the First Occurrence in a String/README_EN.md
  solution/0000-0099/0029.Divide Two Integers/README_EN.md
  solution/0000-0099/0030.Substring with Concatenation of All Words/README_EN.md
  solution/0000-0099/0033.Search in Rotated Sorted Array/README.md
  solution/0000-0099/0033.Search in Rotated Sorted Array/README_EN.md
  solution/0000-0099/0034.Find First and Last Position of Element in Sorted Array/README.md
  solution/0000-0099/0034.Find First and Last Position of Element in Sorted Array/README_EN.md
  solution/0000-0099/0035.Search Insert Position/README.md
  solution/0000-0099/0035.Search Insert Position/README_EN.md
  solution/0000-0099/0037.Sudoku Solver/README_EN.md
Labels: js, md, ts, py, cpp, rs, core team

#2032 feat: add solutions to lc problem: No.0120
  solution/0100-0199/0120.Triangle/README.md
  solution/0100-0199/0120.Triangle/README_EN.md
  solution/0100-0199/0120.Triangle/Solution.cpp
  solution/0100-0199/0120.Triangle/Solution.go
  solution/0100-0199/0120.Triangle/Solution.java
  solution/0100-0199/0120.Triangle/Solution.py
  solution/0100-0199/0120.Triangle/Solution.rs
  solution/0100-0199/0120.Triangle/Solution.ts
Labels: md, ts, py, go, java, cpp, rs, core team

#2035 feat: add ts solution to lc problem: No.191
  solution/0100-0199/0191.Number of 1 Bits/README.md
  solution/0100-0199/0191.Number of 1 Bits/README_EN.md
  solution/0100-0199/0191.Number of 1 Bits/solution.ts
Labels: md, ts

#2036 feat: add solutions to lc problems
  solution/0000-0099/0049.Group Anagrams/README_EN.md
  solution/0100-0199/0122.Best Time to Buy and Sell Stock II/README_EN.md
  solution/0100-0199/0123.Best Time to Buy and Sell Stock III/README_EN.md
  solution/0100-0199/0124.Binary Tree Maximum Path Sum/README_EN.md
  solution/0100-0199/0125.Valid Palindrome/README_EN.md
  solution/0100-0199/0127.Word Ladder/README.md
  solution/0100-0199/0127.Word Ladder/README_EN.md
  solution/0100-0199/0128.Longest Consecutive Sequence/README_EN.md
  solution/0100-0199/0129.Sum Root to Leaf Numbers/README_EN.md
  solution/0100-0199/0191.Number of 1 Bits/README.md
  solution/0100-0199/0191.Number of 1 Bits/README_EN.md
  solution/0100-0199/0191.Number of 1 Bits/solution.ts
  solution/2600-2699/2660.Determine the Winner of a Bowling Game/README.md
  solution/2600-2699/2660.Determine the Winner of a Bowling Game/README_EN.md
  solution/2600-2699/2660.Determine the Winner of a Bowling Game/Solution.cpp
  solution/2600-2699/2660.Determine the Winner of a Bowling Game/Solution.py
  solution/2600-2699/2660.Determine the Winner of a Bowling Game/Solution.rs
  solution/2600-2699/2661.First Completely Painted Row or Column/README.md
  solution/2600-2699/2661.First Completely Painted Row or Column/README_EN.md
  solution/2600-2699/2661.First Completely Painted Row or Column/Solution.rs
  solution/2600-2699/2661.First Completely Painted Row or Column/Solution.ts
  solution/2600-2699/2664.The Knight’s Tour/README.md
  solution/2600-2699/2664.The Knight’s Tour/README_EN.md
  solution/2600-2699/2664.The Knight’s Tour/Solution.rs
  solution/2600-2699/2664.The Knight’s Tour/Solution.ts
Labels: md, ts, py, cpp, rs, core team

#2037 feat: add solutions to lc problem: No.1657
  solution/1600-1699/1657.Determine if Two Strings Are Close/README.md
  solution/1600-1699/1657.Determine if Two Strings Are Close/README_EN.md
  solution/1600-1699/1657.Determine if Two Strings Are Close/Solution.cpp
  solution/1600-1699/1657.Determine if Two Strings Are Close/Solution.go
  solution/1600-1699/1657.Determine if Two Strings Are Close/Solution.java
  solution/1600-1699/1657.Determine if Two Strings Are Close/Solution.py
  solution/1600-1699/1657.Determine if Two Strings Are Close/Solution.rs
  solution/1600-1699/1657.Determine if Two Strings Are Close/Solution.ts
Labels: md, ts, py, go, java, cpp, rs, core team

#2040 feat: add solutions to lc problem: No.2950
  solution/2900-2999/2950.Number of Divisible Substrings/README.md
  solution/2900-2999/2950.Number of Divisible Substrings/README_EN.md
  solution/2900-2999/2950.Number of Divisible Substrings/Solution.cpp
  solution/2900-2999/2950.Number of Divisible Substrings/Solution.go
  solution/2900-2999/2950.Number of Divisible Substrings/Solution.java
  solution/2900-2999/2950.Number of Divisible Substrings/Solution.py
  solution/2900-2999/2950.Number of Divisible Substrings/Solution.rs
  solution/2900-2999/2950.Number of Divisible Substrings/Solution.ts
  solution/README.md
  solution/README_EN.md
  solution/summary.md
  solution/summary_en.md
Labels: md, ts, py, go, java, cpp, rs, core team

#2041 feat: add solutions to lc problem: No.1862
  solution/1800-1899/1862.Sum of Floored Pairs/README.md
  solution/1800-1899/1862.Sum of Floored Pairs/README_EN.md
  solution/1800-1899/1862.Sum of Floored Pairs/Solution.cpp
  solution/1800-1899/1862.Sum of Floored Pairs/Solution.go
  solution/1800-1899/1862.Sum of Floored Pairs/Solution.java
  solution/1800-1899/1862.Sum of Floored Pairs/Solution.py
  solution/1800-1899/1862.Sum of Floored Pairs/Solution.rs
  solution/1800-1899/1862.Sum of Floored Pairs/Solution.ts
Labels: md, ts, py, go, java, cpp, rs, core team

#2042 chore: update lc problems
  solution/0000-0099/0085.Maximal Rectangle/README.md
  solution/0600-0699/0616.Add Bold Tag in String/README.md
  solution/0600-0699/0616.Add Bold Tag in String/README_EN.md
  solution/0800-0899/0828.Count Unique Characters of All Substrings of a Given String/README.md
  solution/1900-1999/1921.Eliminate Maximum Number of Monsters/README.md
  solution/2300-2399/2336.Smallest Number in Infinite Set/README.md
  solution/2300-2399/2397.Maximum Rows Covered by Columns/README.md
  solution/2500-2599/2528.Maximize the Minimum Powered City/README.md
  solution/2700-2799/2720.Popularity Percentage/README.md
  solution/2700-2799/2720.Popularity Percentage/README_EN.md
  solution/2900-2999/2922.Market Analysis III/README.md
  solution/2900-2999/2922.Market Analysis III/README_EN.md
  solution/2900-2999/2936.Number of Equal Numbers Blocks/README.md
  solution/2900-2999/2941.Maximum GCD-Sum of a Subarray/README.md
  solution/2900-2999/2946.Matrix Similarity After Cyclic Shifts/README.md
  solution/2900-2999/2950.Number of Divisible Substrings/README.md
  solution/2900-2999/2950.Number of Divisible Substrings/README_EN.md
  solution/2900-2999/2950.Number of Divisible Substrings/images/old_phone_digits.png
  solution/CONTEST_README.md
  solution/README.md
  solution/README_EN.md
  solution/summary.md
Labels: md, core team, png
