Repository doocs/leetcode, pull requests merged in 2023-12, with the labels that each got.

#2044 feat: add solutions to lc problem: No.2595
  solution/2500-2599/2588.Count the Number of Beautiful Subarrays/README_EN.md
  solution/2500-2599/2589.Minimum Time to Complete All Tasks/README_EN.md
  solution/2500-2599/2594.Minimum Time to Repair Cars/README_EN.md
  solution/2500-2599/2595.Number of Even and Odd Bits/README.md
  solution/2500-2599/2595.Number of Even and Odd Bits/README_EN.md
  solution/2500-2599/2595.Number of Even and Odd Bits/Solution.cpp
  solution/2500-2599/2595.Number of Even and Odd Bits/Solution.go
  solution/2500-2599/2595.Number of Even and Odd Bits/Solution.java
  solution/2500-2599/2595.Number of Even and Odd Bits/Solution.py
  solution/2500-2599/2595.Number of Even and Odd Bits/Solution.rs
Labels: md, py, go, java, cpp, rs, core team

#2045 feat: add solutions to lc problem: No.0936
  solution/0900-0999/0936.Stamping The Sequence/README.md
  solution/0900-0999/0936.Stamping The Sequence/README_EN.md
  solution/0900-0999/0936.Stamping The Sequence/Solution.cpp
  solution/0900-0999/0936.Stamping The Sequence/Solution.go
  solution/0900-0999/0936.Stamping The Sequence/Solution.java
  solution/0900-0999/0936.Stamping The Sequence/Solution.py
  solution/0900-0999/0936.Stamping The Sequence/Solution.rs
  solution/0900-0999/0936.Stamping The Sequence/Solution.ts
Labels: md, ts, py, go, java, cpp, rs, core team

#2047 feat: add solutions to lc problem: No.0674
  solution/0600-0699/0674.Longest Continuous Increasing Subsequence/README.md
  solution/0600-0699/0674.Longest Continuous Increasing Subsequence/README_EN.md
  solution/0600-0699/0674.Longest Continuous Increasing Subsequence/Solution.cpp
  solution/0600-0699/0674.Longest Continuous Increasing Subsequence/Solution.go
  solution/0600-0699/0674.Longest Continuous Increasing Subsequence/Solution.java
  solution/0600-0699/0674.Longest Continuous Increasing Subsequence/Solution.php
  solution/0600-0699/0674.Longest Continuous Increasing Subsequence/Solution.py
  solution/0600-0699/0674.Longest Continuous Increasing Subsequence/Solution.rs
  solution/0600-0699/0674.Longest Continuous Increasing Subsequence/Solution.ts
Labels: md, ts, py, go, java, cpp, rs, core team, php

#2048 feat: add solutions to lc problem: No.0673
  solution/0600-0699/0673.Number of Longest Increasing Subsequence/README.md
  solution/0600-0699/0673.Number of Longest Increasing Subsequence/README_EN.md
  solution/0600-0699/0673.Number of Longest Increasing Subsequence/Solution.cpp
  solution/0600-0699/0673.Number of Longest Increasing Subsequence/Solution.go
  solution/0600-0699/0673.Number of Longest Increasing Subsequence/Solution.java
  solution/0600-0699/0673.Number of Longest Increasing Subsequence/Solution.py
  solution/0600-0699/0673.Number of Longest Increasing Subsequence/Solution.rs
  solution/0600-0699/0673.Number of Longest Increasing Subsequence/Solution.ts
Labels: md, ts, py, go, java, cpp, rs, core team

#2049 feat: add solutions to lc problem: No.1101
  solution/1100-1199/1101.The Earliest Moment When Everyone Become Friends/README.md
  solution/1100-1199/1101.The Earliest Moment When Everyone Become Friends/README_EN.md
  solution/1100-1199/1101.The Earliest Moment When Everyone Become Friends/Solution.rs
  solution/1100-1199/1101.The Earliest Moment When Everyone Become Friends/Solution.ts
Labels: md, ts, rs, core team

#2050 feat: add solutions to lc problem: No.1102
  solution/1100-1199/1102.Path With Maximum Minimum Value/README.md
  solution/1100-1199/1102.Path With Maximum Minimum Value/README_EN.md
  solution/1100-1199/1102.Path With Maximum Minimum Value/Solution.py
  solution/1100-1199/1102.Path With Maximum Minimum Value/Solution.rs
  solution/1100-1199/1102.Path With Maximum Minimum Value/Solution.ts
Labels: md, ts, py, rs, core team

#2052 feat: add solutions to lc problem: No.1168
  solution/1100-1199/1168.Optimize Water Distribution in a Village/README.md
  solution/1100-1199/1168.Optimize Water Distribution in a Village/README_EN.md
  solution/1100-1199/1168.Optimize Water Distribution in a Village/Solution.cpp
  solution/1100-1199/1168.Optimize Water Distribution in a Village/Solution.go
  solution/1100-1199/1168.Optimize Water Distribution in a Village/Solution.java
  solution/1100-1199/1168.Optimize Water Distribution in a Village/Solution.py
  solution/1100-1199/1168.Optimize Water Distribution in a Village/Solution.rs
  solution/1100-1199/1168.Optimize Water Distribution in a Village/Solution.ts
Labels: md, ts, py, go, java, cpp, rs, core team

#2053 feat: add solutions to lc problem: No.0676
  solution/0600-0699/0676.Implement Magic Dictionary/README.md
  solution/0600-0699/0676.Implement Magic Dictionary/README_EN.md
  solution/0600-0699/0676.Implement Magic Dictionary/Solution.cpp
  solution/0600-0699/0676.Implement Magic Dictionary/Solution.go
  solution/0600-0699/0676.Implement Magic Dictionary/Solution.java
  solution/0600-0699/0676.Implement Magic Dictionary/Solution.py
  solution/0600-0699/0676.Implement Magic Dictionary/Solution.rs
  solution/0600-0699/0676.Implement Magic Dictionary/Solution.ts
Labels: md, ts, py, go, java, cpp, rs, core team

#2055 feat: add solutions to lc problem: No.2723
  solution/2700-2799/2723.Add Two Promises/README.md
  solution/2700-2799/2723.Add Two Promises/README_EN.md
  solution/2700-2799/2723.Add Two Promises/solution.js
Labels: js, md

#2056 feat: add weekly contest 374
  solution/2900-2999/2951.Find the Peaks/README.md
  solution/2900-2999/2951.Find the Peaks/README_EN.md
  solution/2900-2999/2952.Minimum Number of Coins to be Added/README.md
  solution/2900-2999/2952.Minimum Number of Coins to be Added/README_EN.md
  solution/2900-2999/2953.Count Complete Substrings/README.md
  solution/2900-2999/2953.Count Complete Substrings/README_EN.md
  solution/2900-2999/2954.Count the Number of Infection Sequences/README.md
  solution/2900-2999/2954.Count the Number of Infection Sequences/README_EN.md
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/summary.md
  solution/summary_en.md
Labels: md, core team

#2057 feat: add solutions to lc problems: No.2951,2952
  solution/2900-2999/2951.Find the Peaks/README.md
  solution/2900-2999/2951.Find the Peaks/README_EN.md
  solution/2900-2999/2951.Find the Peaks/Solution.cpp
  solution/2900-2999/2951.Find the Peaks/Solution.go
  solution/2900-2999/2951.Find the Peaks/Solution.java
  solution/2900-2999/2951.Find the Peaks/Solution.py
  solution/2900-2999/2951.Find the Peaks/Solution.ts
  solution/2900-2999/2952.Minimum Number of Coins to be Added/README.md
  solution/2900-2999/2952.Minimum Number of Coins to be Added/README_EN.md
  solution/2900-2999/2952.Minimum Number of Coins to be Added/Solution.cpp
  solution/2900-2999/2952.Minimum Number of Coins to be Added/Solution.go
  solution/2900-2999/2952.Minimum Number of Coins to be Added/Solution.java
  solution/2900-2999/2952.Minimum Number of Coins to be Added/Solution.py
  solution/2900-2999/2952.Minimum Number of Coins to be Added/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2058 feat: add solutions to lc problem: No.2953
  solution/2900-2999/2953.Count Complete Substrings/README.md
  solution/2900-2999/2953.Count Complete Substrings/README_EN.md
  solution/2900-2999/2953.Count Complete Substrings/Solution.cpp
  solution/2900-2999/2953.Count Complete Substrings/Solution.go
  solution/2900-2999/2953.Count Complete Substrings/Solution.java
  solution/2900-2999/2953.Count Complete Substrings/Solution.py
  solution/2900-2999/2953.Count Complete Substrings/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2060 feat: add solutions to lc problems: No.2951~2954
  solution/1400-1499/1411.Number of Ways to Paint N × 3 Grid/README.md
  solution/2900-2999/2951.Find the Peaks/README.md
  solution/2900-2999/2951.Find the Peaks/README_EN.md
  solution/2900-2999/2952.Minimum Number of Coins to be Added/README.md
  solution/2900-2999/2952.Minimum Number of Coins to be Added/README_EN.md
  solution/2900-2999/2954.Count the Number of Infection Sequences/README.md
  solution/2900-2999/2954.Count the Number of Infection Sequences/README_EN.md
  solution/2900-2999/2954.Count the Number of Infection Sequences/Solution.cpp
  solution/2900-2999/2954.Count the Number of Infection Sequences/Solution.go
  solution/2900-2999/2954.Count the Number of Infection Sequences/Solution.java
  solution/2900-2999/2954.Count the Number of Infection Sequences/Solution.py
  solution/2900-2999/2954.Count the Number of Infection Sequences/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2061 feat: add solutions to lc problems: No.2953,2954
  solution/1400-1499/1411.Number of Ways to Paint N × 3 Grid/README.md
  solution/2900-2999/2953.Count Complete Substrings/README.md
  solution/2900-2999/2953.Count Complete Substrings/README_EN.md
  solution/2900-2999/2954.Count the Number of Infection Sequences/README.md
  solution/2900-2999/2954.Count the Number of Infection Sequences/README_EN.md
Labels: md, core team

#2062 feat: add solutions to lc problem: No.2950
  solution/2900-2999/2950.Number of Divisible Substrings/README.md
  solution/2900-2999/2950.Number of Divisible Substrings/README_EN.md
  solution/2900-2999/2950.Number of Divisible Substrings/Solution.cpp
  solution/2900-2999/2950.Number of Divisible Substrings/Solution.go
  solution/2900-2999/2950.Number of Divisible Substrings/Solution.java
  solution/2900-2999/2950.Number of Divisible Substrings/Solution.py
  solution/2900-2999/2950.Number of Divisible Substrings/Solution.rs
  solution/2900-2999/2950.Number of Divisible Substrings/Solution.ts
Labels: md, ts, py, go, java, cpp, rs, core team

#2064 feat: add solutions to lc problems: No.2475~2477
  solution/2400-2499/2475.Number of Unequal Triplets in Array/README_EN.md
  solution/2400-2499/2476.Closest Nodes Queries in a Binary Search Tree/README.md
  solution/2400-2499/2476.Closest Nodes Queries in a Binary Search Tree/README_EN.md
  solution/2400-2499/2476.Closest Nodes Queries in a Binary Search Tree/Solution.cpp
  solution/2400-2499/2476.Closest Nodes Queries in a Binary Search Tree/Solution.go
  solution/2400-2499/2476.Closest Nodes Queries in a Binary Search Tree/Solution.java
  solution/2400-2499/2476.Closest Nodes Queries in a Binary Search Tree/Solution.py
  solution/2400-2499/2476.Closest Nodes Queries in a Binary Search Tree/Solution.ts
  solution/2400-2499/2477.Minimum Fuel Cost to Report to the Capital/README.md
  solution/2400-2499/2477.Minimum Fuel Cost to Report to the Capital/README_EN.md
Labels: md, ts, py, go, java, cpp, core team

#2067 feat: add solutions to lc problem: No.2048
  solution/2000-2099/2048.Next Greater Numerically Balanced Number/README.md
  solution/2000-2099/2048.Next Greater Numerically Balanced Number/README_EN.md
  solution/2000-2099/2048.Next Greater Numerically Balanced Number/Solution.cpp
  solution/2000-2099/2048.Next Greater Numerically Balanced Number/Solution.go
  solution/2000-2099/2048.Next Greater Numerically Balanced Number/Solution.java
  solution/2000-2099/2048.Next Greater Numerically Balanced Number/Solution.py
  solution/2000-2099/2048.Next Greater Numerically Balanced Number/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2068 feat: add solutions to lc problem: No.2008
  solution/2000-2099/2008.Maximum Earnings From Taxi/README.md
  solution/2000-2099/2008.Maximum Earnings From Taxi/README_EN.md
  solution/2000-2099/2008.Maximum Earnings From Taxi/Solution.cpp
  solution/2000-2099/2008.Maximum Earnings From Taxi/Solution.go
  solution/2000-2099/2008.Maximum Earnings From Taxi/Solution.java
  solution/2000-2099/2008.Maximum Earnings From Taxi/Solution.py
  solution/2000-2099/2008.Maximum Earnings From Taxi/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2069 feat: add new lc problem
  solution/0500-0599/0557.Reverse Words in a String III/README.md
  solution/0500-0599/0557.Reverse Words in a String III/README_EN.md
  solution/1000-1099/1084.Sales Analysis III/README.md
  solution/1500-1599/1522.Diameter of N-Ary Tree/README.md
  solution/1500-1599/1522.Diameter of N-Ary Tree/README_EN.md
  solution/2400-2499/2431.Maximize Total Tastiness of Purchased Fruits/README.md
  solution/2400-2499/2436.Minimum Split Into Subarrays With GCD Greater Than One/README.md
  solution/2600-2699/2661.First Completely Painted Row or Column/README.md
  solution/2700-2799/2715.Timeout Cancellation/README_EN.md
  solution/2900-2999/2948.Make Lexicographically Smallest Array by Swapping Elements/README.md
  solution/2900-2999/2955.Number of Same-End Substrings/README.md
  solution/2900-2999/2955.Number of Same-End Substrings/README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/main.py
  solution/summary.md
  solution/summary_en.md
Labels: md, py, core team

#2070 feat: add solutions to lc problem: No.2955
  solution/2900-2999/2955.Number of Same-End Substrings/README.md
  solution/2900-2999/2955.Number of Same-End Substrings/README_EN.md
  solution/2900-2999/2955.Number of Same-End Substrings/Solution.cpp
  solution/2900-2999/2955.Number of Same-End Substrings/Solution.go
  solution/2900-2999/2955.Number of Same-End Substrings/Solution.java
  solution/2900-2999/2955.Number of Same-End Substrings/Solution.py
  solution/2900-2999/2955.Number of Same-End Substrings/Solution.rs
  solution/2900-2999/2955.Number of Same-End Substrings/Solution.ts
Labels: md, ts, py, go, java, cpp, rs, core team

#2071 feat: add solutions to lc problem: No.1545
  solution/1500-1599/1545.Find Kth Bit in Nth Binary String/README.md
  solution/1500-1599/1545.Find Kth Bit in Nth Binary String/README_EN.md
  solution/1500-1599/1545.Find Kth Bit in Nth Binary String/Solution.cpp
  solution/1500-1599/1545.Find Kth Bit in Nth Binary String/Solution.go
  solution/1500-1599/1545.Find Kth Bit in Nth Binary String/Solution.java
  solution/1500-1599/1545.Find Kth Bit in Nth Binary String/Solution.py
  solution/1500-1599/1545.Find Kth Bit in Nth Binary String/Solution.ts
  solution/2000-2099/2008.Maximum Earnings From Taxi/README.md
Labels: md, ts, py, go, java, cpp, core team

#2073 feat: Update solution to lc problem: No.32
  solution/0000-0099/0032.Longest Valid Parentheses/README.md
  solution/0000-0099/0032.Longest Valid Parentheses/README_EN.md
  solution/0000-0099/0032.Longest Valid Parentheses/Solution.rs
Labels: md, rs

#2074 feat: add solutions to lc problem: No.1536
  solution/1500-1599/1536.Minimum Swaps to Arrange a Binary Grid/README.md
  solution/1500-1599/1536.Minimum Swaps to Arrange a Binary Grid/README_EN.md
  solution/1500-1599/1536.Minimum Swaps to Arrange a Binary Grid/Solution.cpp
  solution/1500-1599/1536.Minimum Swaps to Arrange a Binary Grid/Solution.go
  solution/1500-1599/1536.Minimum Swaps to Arrange a Binary Grid/Solution.java
  solution/1500-1599/1536.Minimum Swaps to Arrange a Binary Grid/Solution.py
  solution/1500-1599/1536.Minimum Swaps to Arrange a Binary Grid/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2075 fix: code
  solution/2000-2099/2048.Next Greater Numerically Balanced Number/README.md
Labels: md, core team

#2076 feat: add weekly contest 375 and biweekly contest 119
  solution/2900-2999/2956.Find Common Elements Between Two Arrays/README.md
  solution/2900-2999/2956.Find Common Elements Between Two Arrays/README_EN.md
  solution/2900-2999/2957.Remove Adjacent Almost-Equal Characters/README.md
  solution/2900-2999/2957.Remove Adjacent Almost-Equal Characters/README_EN.md
  solution/2900-2999/2958.Length of Longest Subarray With at Most K Frequency/README.md
  solution/2900-2999/2958.Length of Longest Subarray With at Most K Frequency/README_EN.md
  solution/2900-2999/2959.Number of Possible Sets of Closing Branches/README.md
  solution/2900-2999/2959.Number of Possible Sets of Closing Branches/README_EN.md
  solution/2900-2999/2959.Number of Possible Sets of Closing Branches/images/example11.png
  solution/2900-2999/2959.Number of Possible Sets of Closing Branches/images/example22.png
  solution/2900-2999/2960.Count Tested Devices After Test Operations/README.md
  solution/2900-2999/2960.Count Tested Devices After Test Operations/README_EN.md
  solution/2900-2999/2961.Double Modular Exponentiation/README.md
  solution/2900-2999/2961.Double Modular Exponentiation/README_EN.md
  solution/2900-2999/2962.Count Subarrays Where Max Element Appears at Least K Times/README.md
  solution/2900-2999/2962.Count Subarrays Where Max Element Appears at Least K Times/README_EN.md
  solution/2900-2999/2963.Count the Number of Good Partitions/README.md
  solution/2900-2999/2963.Count the Number of Good Partitions/README_EN.md
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/summary.md
  solution/summary_en.md
Labels: md, core team, png

#2077 feat: add solutions to lc problems: No.2956,2957
  solution/2900-2999/2956.Find Common Elements Between Two Arrays/README.md
  solution/2900-2999/2956.Find Common Elements Between Two Arrays/README_EN.md
  solution/2900-2999/2956.Find Common Elements Between Two Arrays/Solution.cpp
  solution/2900-2999/2956.Find Common Elements Between Two Arrays/Solution.go
  solution/2900-2999/2956.Find Common Elements Between Two Arrays/Solution.java
  solution/2900-2999/2956.Find Common Elements Between Two Arrays/Solution.py
  solution/2900-2999/2956.Find Common Elements Between Two Arrays/Solution.ts
  solution/2900-2999/2957.Remove Adjacent Almost-Equal Characters/README.md
  solution/2900-2999/2957.Remove Adjacent Almost-Equal Characters/README_EN.md
  solution/2900-2999/2957.Remove Adjacent Almost-Equal Characters/Solution.cpp
  solution/2900-2999/2957.Remove Adjacent Almost-Equal Characters/Solution.go
  solution/2900-2999/2957.Remove Adjacent Almost-Equal Characters/Solution.java
  solution/2900-2999/2957.Remove Adjacent Almost-Equal Characters/Solution.py
  solution/2900-2999/2957.Remove Adjacent Almost-Equal Characters/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2079 feat: add solution to lc problem: No.38 && fix: title to No.32
  solution/0000-0099/0032.Longest Valid Parentheses/README.md
  solution/0000-0099/0032.Longest Valid Parentheses/README_EN.md
  solution/0000-0099/0038.Count and Say/README.md
  solution/0000-0099/0038.Count and Say/README_EN.md
  solution/0000-0099/0038.Count and Say/Solution.rs
Labels: md, rs

#2080 feat: add solutions to lc problem: No.2958
  solution/2900-2999/2958.Length of Longest Subarray With at Most K Frequency/README.md
  solution/2900-2999/2958.Length of Longest Subarray With at Most K Frequency/README_EN.md
  solution/2900-2999/2958.Length of Longest Subarray With at Most K Frequency/Solution.cpp
  solution/2900-2999/2958.Length of Longest Subarray With at Most K Frequency/Solution.go
  solution/2900-2999/2958.Length of Longest Subarray With at Most K Frequency/Solution.java
  solution/2900-2999/2958.Length of Longest Subarray With at Most K Frequency/Solution.py
  solution/2900-2999/2958.Length of Longest Subarray With at Most K Frequency/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2081 feat: add solutions to lc problem: No.1631
  solution/1600-1699/1631.Path With Minimum Effort/README.md
  solution/1600-1699/1631.Path With Minimum Effort/README_EN.md
  solution/1600-1699/1631.Path With Minimum Effort/Solution.cpp
  solution/1600-1699/1631.Path With Minimum Effort/Solution.go
  solution/1600-1699/1631.Path With Minimum Effort/Solution.java
  solution/1600-1699/1631.Path With Minimum Effort/Solution.py
  solution/1600-1699/1631.Path With Minimum Effort/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2082 feat: add solutions to lc problem: No.2959
  solution/2900-2999/2959.Number of Possible Sets of Closing Branches/README.md
  solution/2900-2999/2959.Number of Possible Sets of Closing Branches/README_EN.md
  solution/2900-2999/2959.Number of Possible Sets of Closing Branches/Solution.cpp
  solution/2900-2999/2959.Number of Possible Sets of Closing Branches/Solution.go
  solution/2900-2999/2959.Number of Possible Sets of Closing Branches/Solution.java
  solution/2900-2999/2959.Number of Possible Sets of Closing Branches/Solution.py
  solution/2900-2999/2959.Number of Possible Sets of Closing Branches/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2083 feat: add solutions to lc problems: No.2960~2963
  solution/2900-2999/2960.Count Tested Devices After Test Operations/README.md
  solution/2900-2999/2960.Count Tested Devices After Test Operations/README_EN.md
  solution/2900-2999/2960.Count Tested Devices After Test Operations/Solution.cpp
  solution/2900-2999/2960.Count Tested Devices After Test Operations/Solution.go
  solution/2900-2999/2960.Count Tested Devices After Test Operations/Solution.java
  solution/2900-2999/2960.Count Tested Devices After Test Operations/Solution.py
  solution/2900-2999/2960.Count Tested Devices After Test Operations/Solution.ts
  solution/2900-2999/2961.Double Modular Exponentiation/README.md
  solution/2900-2999/2961.Double Modular Exponentiation/README_EN.md
  solution/2900-2999/2961.Double Modular Exponentiation/Solution.cpp
  solution/2900-2999/2961.Double Modular Exponentiation/Solution.go
  solution/2900-2999/2961.Double Modular Exponentiation/Solution.java
  solution/2900-2999/2961.Double Modular Exponentiation/Solution.py
  solution/2900-2999/2961.Double Modular Exponentiation/Solution.ts
  solution/2900-2999/2962.Count Subarrays Where Max Element Appears at Least K Times/README.md
  solution/2900-2999/2962.Count Subarrays Where Max Element Appears at Least K Times/README_EN.md
  solution/2900-2999/2962.Count Subarrays Where Max Element Appears at Least K Times/Solution.cpp
  solution/2900-2999/2962.Count Subarrays Where Max Element Appears at Least K Times/Solution.go
  solution/2900-2999/2962.Count Subarrays Where Max Element Appears at Least K Times/Solution.java
  solution/2900-2999/2962.Count Subarrays Where Max Element Appears at Least K Times/Solution.py
  solution/2900-2999/2962.Count Subarrays Where Max Element Appears at Least K Times/Solution.ts
  solution/2900-2999/2963.Count the Number of Good Partitions/README.md
  solution/2900-2999/2963.Count the Number of Good Partitions/README_EN.md
  solution/2900-2999/2963.Count the Number of Good Partitions/Solution.cpp
  solution/2900-2999/2963.Count the Number of Good Partitions/Solution.go
  solution/2900-2999/2963.Count the Number of Good Partitions/Solution.java
  solution/2900-2999/2963.Count the Number of Good Partitions/Solution.py
  solution/2900-2999/2963.Count the Number of Good Partitions/Solution.ts
  solution/config.py
Labels: md, ts, py, go, java, cpp, core team

#2084 feat: add solutions to lc problem: No.2697
  solution/2600-2699/2697.Lexicographically Smallest Palindrome/README.md
  solution/2600-2699/2697.Lexicographically Smallest Palindrome/README_EN.md
  solution/2600-2699/2697.Lexicographically Smallest Palindrome/Solution.cpp
  solution/2600-2699/2697.Lexicographically Smallest Palindrome/Solution.go
  solution/2600-2699/2697.Lexicographically Smallest Palindrome/Solution.java
  solution/2600-2699/2697.Lexicographically Smallest Palindrome/Solution.py
  solution/2600-2699/2697.Lexicographically Smallest Palindrome/Solution.rs
  solution/2600-2699/2697.Lexicographically Smallest Palindrome/Solution.ts
  solution/2700-2799/2702.Minimum Operations to Make Numbers Non-positive/README_EN.md
Labels: md, ts, py, go, java, cpp, rs, core team

#2085 feat: add solutions to lc problem: No.2415
  solution/2400-2499/2415.Reverse Odd Levels of Binary Tree/README.md
  solution/2400-2499/2415.Reverse Odd Levels of Binary Tree/README_EN.md
  solution/2400-2499/2415.Reverse Odd Levels of Binary Tree/Solution.cpp
  solution/2400-2499/2415.Reverse Odd Levels of Binary Tree/Solution.go
  solution/2400-2499/2415.Reverse Odd Levels of Binary Tree/Solution.java
  solution/2400-2499/2415.Reverse Odd Levels of Binary Tree/Solution.py
  solution/2400-2499/2415.Reverse Odd Levels of Binary Tree/Solution.ts
  solution/2900-2999/2960.Count Tested Devices After Test Operations/README.md
Labels: md, ts, py, go, java, cpp, core team

#2086 fix typos in './lcci/05.02.Binary Number to String/README_EN.md'
  lcci/05.02.Binary Number to String/README_EN.md
Labels: md

#2088 feat: update solutions to lcci problems
  lcci/04.12.Paths with Sum/README_EN.md
  lcci/05.01.Insert Into Bits/README_EN.md
  lcci/05.02.Binary Number to String/README_EN.md
  lcci/05.03.Reverse Bits/README_EN.md
  lcci/05.04.Closed Number/README_EN.md
  lcci/05.06.Convert Integer/README_EN.md
  lcci/08.01.Three Steps Problem/README_EN.md
  lcci/08.02.Robot in a Grid/README_EN.md
  lcci/08.04.Power Set/README.md
  lcci/08.04.Power Set/README_EN.md
  lcci/08.05.Recursive Mulitply/README_EN.md
  lcci/08.06.Hanota/README_EN.md
  lcci/08.08.Permutation II/README_EN.md
  lcci/08.09.Bracket/README_EN.md
  lcci/08.10.Color Fill/README_EN.md
  lcci/08.11.Coin/README_EN.md
  lcci/08.13.Pile Box/README_EN.md
  lcci/10.03.Search Rotate Array/README_EN.md
Labels: md, core team

#2090 feat: add solutions to lc problem: No.2200
  solution/2200-2299/2200.Find All K-Distant Indices in an Array/README.md
  solution/2200-2299/2200.Find All K-Distant Indices in an Array/README_EN.md
  solution/2200-2299/2200.Find All K-Distant Indices in an Array/Solution.cpp
  solution/2200-2299/2200.Find All K-Distant Indices in an Array/Solution.go
  solution/2200-2299/2200.Find All K-Distant Indices in an Array/Solution.java
  solution/2200-2299/2200.Find All K-Distant Indices in an Array/Solution.py
  solution/2200-2299/2200.Find All K-Distant Indices in an Array/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2091 feat: add solutions to lc problem: No.2200
  solution/2200-2299/2200.Find All K-Distant Indices in an Array/README.md
  solution/2200-2299/2200.Find All K-Distant Indices in an Array/README_EN.md
  solution/2200-2299/2201.Count Artifacts That Can Be Extracted/README.md
  solution/2200-2299/2201.Count Artifacts That Can Be Extracted/README_EN.md
  solution/2200-2299/2201.Count Artifacts That Can Be Extracted/Solution.cpp
  solution/2200-2299/2201.Count Artifacts That Can Be Extracted/Solution.go
  solution/2200-2299/2201.Count Artifacts That Can Be Extracted/Solution.java
  solution/2200-2299/2201.Count Artifacts That Can Be Extracted/Solution.py
  solution/2200-2299/2201.Count Artifacts That Can Be Extracted/Solution.rs
  solution/2200-2299/2201.Count Artifacts That Can Be Extracted/Solution.ts
Labels: md, ts, py, go, java, cpp, rs, core team

#2093 feat: add solutions to lcci problems: 01.01~01.06
  lcci/01.01.Is Unique/README.md
  lcci/01.01.Is Unique/README_EN.md
  lcci/01.02.Check Permutation/README.md
  lcci/01.02.Check Permutation/README_EN.md
  lcci/01.03.String to URL/README.md
  lcci/01.03.String to URL/README_EN.md
  lcci/01.04.Palindrome Permutation/README.md
  lcci/01.04.Palindrome Permutation/README_EN.md
  lcci/01.05.One Away/README.md
  lcci/01.05.One Away/README_EN.md
  lcci/01.05.One Away/Solution.cpp
  lcci/01.05.One Away/Solution.go
  lcci/01.05.One Away/Solution.java
  lcci/01.05.One Away/Solution.py
  lcci/01.05.One Away/Solution.ts
  lcci/01.06.Compress String/README.md
  lcci/01.06.Compress String/README_EN.md
  lcci/01.06.Compress String/Solution.cpp
  lcci/01.06.Compress String/Solution.go
  lcci/01.06.Compress String/Solution.java
  lcci/01.06.Compress String/Solution.js
  lcci/01.06.Compress String/Solution.py
  lcci/01.06.Compress String/Solution.rs
  solution/2600-2699/2697.Lexicographically Smallest Palindrome/README.md
  solution/2600-2699/2697.Lexicographically Smallest Palindrome/README_EN.md
  solution/2600-2699/2697.Lexicographically Smallest Palindrome/Solution.ts
Labels: js, md, ts, py, go, java, cpp, rs, core team

#2095 feat: add solutions to lc problems: No.2000+
  solution/2000-2099/2000.Reverse Prefix of Word/README_EN.md
  solution/2000-2099/2001.Number of Pairs of Interchangeable Rectangles/README.md
  solution/2000-2099/2001.Number of Pairs of Interchangeable Rectangles/README_EN.md
  solution/2000-2099/2002.Maximum Product of the Length of Two Palindromic Subsequences/README_EN.md
  solution/2000-2099/2006.Count Number of Pairs With Absolute Difference K/README.md
  solution/2000-2099/2006.Count Number of Pairs With Absolute Difference K/README_EN.md
  solution/2000-2099/2007.Find Original Array From Doubled Array/README_EN.md
  solution/2000-2099/2009.Minimum Number of Operations to Make Array Continuous/README_EN.md
  solution/2000-2099/2011.Final Value of Variable After Performing Operations/README.md
  solution/2000-2099/2011.Final Value of Variable After Performing Operations/README_EN.md
  solution/2000-2099/2012.Sum of Beauty in the Array/README.md
  solution/2000-2099/2012.Sum of Beauty in the Array/README_EN.md
  solution/2000-2099/2012.Sum of Beauty in the Array/Solution.cpp
  solution/2000-2099/2012.Sum of Beauty in the Array/Solution.go
  solution/2000-2099/2012.Sum of Beauty in the Array/Solution.java
  solution/2000-2099/2012.Sum of Beauty in the Array/Solution.py
  solution/2000-2099/2012.Sum of Beauty in the Array/Solution.ts
  solution/2000-2099/2013.Detect Squares/README_EN.md
  solution/2000-2099/2015.Average Height of Buildings in Each Segment/README.md
  solution/2000-2099/2015.Average Height of Buildings in Each Segment/README_EN.md
  solution/2000-2099/2016.Maximum Difference Between Increasing Elements/README.md
  solution/2000-2099/2016.Maximum Difference Between Increasing Elements/README_EN.md
  solution/2000-2099/2017.Grid Game/README_EN.md
  solution/2000-2099/2018.Check if Word Can Be Placed In Crossword/README_EN.md
  solution/2000-2099/2019.The Score of Students Solving Math Expression/README_EN.md
  solution/2000-2099/2021.Brightest Position on Street/README_EN.md
  solution/2000-2099/2022.Convert 1D Array Into 2D Array/README_EN.md
  solution/2000-2099/2023.Number of Pairs of Strings With Concatenation Equal to Target/README.md
  solution/2000-2099/2023.Number of Pairs of Strings With Concatenation Equal to Target/README_EN.md
  solution/2000-2099/2023.Number of Pairs of Strings With Concatenation Equal to Target/Solution.java
  solution/2000-2099/2024.Maximize the Confusion of an Exam/README.md
  solution/2000-2099/2025.Maximum Number of Ways to Partition an Array/README_EN.md
  solution/2000-2099/2027.Minimum Moves to Convert String/README_EN.md
  solution/2000-2099/2028.Find Missing Observations/README_EN.md
  solution/2000-2099/2032.Two Out of Three/README_EN.md
  solution/2000-2099/2033.Minimum Operations to Make a Uni-Value Grid/README_EN.md
  solution/2000-2099/2036.Maximum Alternating Subarray Sum/README_EN.md
  solution/2000-2099/2037.Minimum Number of Moves to Seat Everyone/README_EN.md
  solution/2000-2099/2042.Check if Numbers Are Ascending in a Sentence/README_EN.md
  solution/2000-2099/2043.Simple Bank System/README_EN.md
  solution/config.py
Labels: md, ts, py, go, java, cpp, core team

#2097 feat: add new lc problems
  solution/2900-2999/2964.Number of Divisible Triplet Sums/README.md
  solution/2900-2999/2964.Number of Divisible Triplet Sums/README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/summary.md
  solution/summary_en.md
Labels: md, core team

#2098 feat: add solutions to lc problem: No.2964
  solution/2900-2999/2964.Number of Divisible Triplet Sums/README.md
  solution/2900-2999/2964.Number of Divisible Triplet Sums/README_EN.md
  solution/2900-2999/2964.Number of Divisible Triplet Sums/Solution.cpp
  solution/2900-2999/2964.Number of Divisible Triplet Sums/Solution.go
  solution/2900-2999/2964.Number of Divisible Triplet Sums/Solution.java
  solution/2900-2999/2964.Number of Divisible Triplet Sums/Solution.py
  solution/2900-2999/2964.Number of Divisible Triplet Sums/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2099 feat: update lc problems
  solution/0000-0099/0038.Count and Say/README.md
  solution/0200-0299/0274.H-Index/README.md
  solution/0300-0399/0373.Find K Pairs with Smallest Sums/README_EN.md
  solution/0500-0599/0511.Game Play Analysis I/README.md
  solution/0500-0599/0598.Range Addition II/README.md
  solution/0600-0699/0663.Equal Tree Partition/README.md
  solution/0800-0899/0840.Magic Squares In Grid/README.md
  solution/1200-1299/1206.Design Skiplist/README.md
  solution/1200-1299/1222.Queens That Can Attack the King/README_EN.md
  solution/2500-2599/2533.Number of Good Binary Strings/README_EN.md
  solution/2600-2699/2692.Make Object Immutable/README_EN.md
  solution/2700-2799/2715.Timeout Cancellation/README_EN.md
  solution/2700-2799/2725.Interval Cancellation/README_EN.md
  solution/2800-2899/2865.Beautiful Towers I/README.md
  solution/2800-2899/2866.Beautiful Towers II/README.md
  solution/2800-2899/2868.The Wording Game/README.md
  solution/2900-2999/2936.Number of Equal Numbers Blocks/README.md
  solution/2900-2999/2955.Number of Same-End Substrings/README.md
  solution/2900-2999/2955.Number of Same-End Substrings/README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/summary.md
Labels: md, core team

#2100 feat: use slices.Clone() in go code snippets
  lcof/面试题34. 二叉树中和为某一值的路径/README.md
  lcof/面试题34. 二叉树中和为某一值的路径/Solution.go
  lcof2/剑指 Offer II 079. 所有子集/README.md
  lcof2/剑指 Offer II 079. 所有子集/Solution.go
  lcof2/剑指 Offer II 080. 含有 k 个元素的组合/README.md
  lcof2/剑指 Offer II 080. 含有 k 个元素的组合/Solution.go
  lcof2/剑指 Offer II 082. 含有重复元素集合的组合/README.md
  lcof2/剑指 Offer II 082. 含有重复元素集合的组合/Solution.go
  solution/0000-0099/0039.Combination Sum/README.md
  solution/0000-0099/0039.Combination Sum/README_EN.md
  solution/0000-0099/0039.Combination Sum/Solution.go
  solution/0000-0099/0040.Combination Sum II/README.md
  solution/0000-0099/0040.Combination Sum II/README_EN.md
  solution/0000-0099/0040.Combination Sum II/Solution.go
  solution/0000-0099/0046.Permutations/README.md
  solution/0000-0099/0046.Permutations/README_EN.md
  solution/0000-0099/0046.Permutations/Solution.go
  solution/0000-0099/0047.Permutations II/README.md
  solution/0000-0099/0047.Permutations II/README_EN.md
  solution/0000-0099/0047.Permutations II/Solution.go
  solution/0000-0099/0077.Combinations/README.md
  solution/0000-0099/0077.Combinations/README_EN.md
  solution/0000-0099/0077.Combinations/Solution.go
  solution/0100-0199/0113.Path Sum II/README.md
  solution/0100-0199/0113.Path Sum II/README_EN.md
  solution/0100-0199/0113.Path Sum II/Solution.go
  solution/0200-0299/0216.Combination Sum III/README.md
  solution/0200-0299/0216.Combination Sum III/README_EN.md
  solution/0200-0299/0216.Combination Sum III/Solution.go
  solution/0200-0299/0254.Factor Combinations/README.md
  solution/0200-0299/0254.Factor Combinations/README_EN.md
  solution/0200-0299/0254.Factor Combinations/Solution.go
  solution/0400-0499/0491.Non-decreasing Subsequences/README.md
  solution/0400-0499/0491.Non-decreasing Subsequences/README_EN.md
  solution/0400-0499/0491.Non-decreasing Subsequences/Solution.go
  solution/1200-1299/1206.Design Skiplist/images/1702370216-mKQcTt-1506_skiplist.gif
  solution/2100-2199/2184.Number of Ways to Build Sturdy Brick Wall/README.md
  solution/2100-2199/2184.Number of Ways to Build Sturdy Brick Wall/README_EN.md
  solution/2100-2199/2184.Number of Ways to Build Sturdy Brick Wall/Solution.go
Labels: md, go, core team

#2101 feat: add solutions to lc problem: No.1901
  solution/1900-1999/1901.Find a Peak Element II/README.md
  solution/1900-1999/1901.Find a Peak Element II/README_EN.md
  solution/1900-1999/1901.Find a Peak Element II/Solution.cpp
  solution/1900-1999/1901.Find a Peak Element II/Solution.go
  solution/1900-1999/1901.Find a Peak Element II/Solution.java
  solution/1900-1999/1901.Find a Peak Element II/Solution.py
  solution/1900-1999/1901.Find a Peak Element II/Solution.rs
  solution/1900-1999/1901.Find a Peak Element II/Solution.ts
Labels: md, ts, py, go, java, cpp, rs, core team

#2103 ci: pr template comment
  .github/workflows/pr-checker.yml
Labels: core team, yml

#2104 feat: add solutions to lc problem: No.2276
  solution/2200-2299/2276.Count Integers in Intervals/README.md
  solution/2200-2299/2276.Count Integers in Intervals/README_EN.md
  solution/2200-2299/2276.Count Integers in Intervals/Solution.cpp
  solution/2200-2299/2276.Count Integers in Intervals/Solution.go
  solution/2200-2299/2276.Count Integers in Intervals/Solution.py
Labels: md, py, go, cpp, core team

#2105 feat: add solutions to lc problems
  solution/0000-0099/0066.Plus One/README.md
  solution/0000-0099/0066.Plus One/README_EN.md
  solution/0200-0299/0242.Valid Anagram/README.md
  solution/0200-0299/0242.Valid Anagram/README_EN.md
  solution/0200-0299/0283.Move Zeroes/README_EN.md
  solution/0300-0399/0389.Find the Difference/README.md
  solution/0300-0399/0389.Find the Difference/README_EN.md
  solution/0300-0399/0389.Find the Difference/Solution.cpp
  solution/0300-0399/0389.Find the Difference/Solution.ts
  solution/1500-1599/1502.Can Make Arithmetic Progression From Sequence/README.md
  solution/1500-1599/1502.Can Make Arithmetic Progression From Sequence/README_EN.md
  solution/1500-1599/1502.Can Make Arithmetic Progression From Sequence/Solution.js
  solution/1700-1799/1768.Merge Strings Alternately/README.md
  solution/1700-1799/1768.Merge Strings Alternately/README_EN.md
  solution/1700-1799/1768.Merge Strings Alternately/Solution.ts
  solution/1800-1899/1822.Sign of the Product of an Array/README.md
  solution/1800-1899/1822.Sign of the Product of an Array/README_EN.md
Labels: js, md, ts, cpp, core team

#2107 feat: add solutions to lc problems: No.0896~0898
  solution/0800-0899/0896.Monotonic Array/README.md
  solution/0800-0899/0896.Monotonic Array/README_EN.md
  solution/0800-0899/0896.Monotonic Array/Solution.cpp
  solution/0800-0899/0896.Monotonic Array/Solution.go
  solution/0800-0899/0896.Monotonic Array/Solution.java
  solution/0800-0899/0896.Monotonic Array/Solution.js
  solution/0800-0899/0896.Monotonic Array/Solution.py
  solution/0800-0899/0896.Monotonic Array/Solution.rs
  solution/0800-0899/0896.Monotonic Array/Solution.ts
  solution/0800-0899/0897.Increasing Order Search Tree/README.md
  solution/0800-0899/0897.Increasing Order Search Tree/README_EN.md
  solution/0800-0899/0897.Increasing Order Search Tree/Solution.cpp
  solution/0800-0899/0897.Increasing Order Search Tree/Solution.py
  solution/0800-0899/0897.Increasing Order Search Tree/Solution.ts
  solution/0800-0899/0898.Bitwise ORs of Subarrays/README.md
  solution/0800-0899/0898.Bitwise ORs of Subarrays/README_EN.md
  solution/0800-0899/0898.Bitwise ORs of Subarrays/Solution.cpp
  solution/0800-0899/0898.Bitwise ORs of Subarrays/Solution.go
  solution/0800-0899/0898.Bitwise ORs of Subarrays/Solution.java
  solution/0800-0899/0898.Bitwise ORs of Subarrays/Solution.py
  solution/0800-0899/0898.Bitwise ORs of Subarrays/Solution.ts
Labels: js, md, ts, py, go, java, cpp, rs, core team

#2106 feat: add rust solution to lc problem: No.60
  solution/0000-0099/0060.Permutation Sequence/README.md
  solution/0000-0099/0060.Permutation Sequence/README_EN.md
  solution/0000-0099/0060.Permutation Sequence/Solution.rs
Labels: md, rs

#2110 feat: add solutions to lc problem: No.0748
  solution/0700-0799/0748.Shortest Completing Word/README.md
  solution/0700-0799/0748.Shortest Completing Word/README_EN.md
  solution/0700-0799/0748.Shortest Completing Word/Solution.cpp
  solution/0700-0799/0748.Shortest Completing Word/Solution.go
  solution/0700-0799/0748.Shortest Completing Word/Solution.java
  solution/0700-0799/0748.Shortest Completing Word/Solution.py
  solution/0700-0799/0748.Shortest Completing Word/Solution.rs
  solution/0700-0799/0748.Shortest Completing Word/Solution.ts
  solution/0700-0799/0750.Number Of Corner Rectangles/README_EN.md
Labels: md, ts, py, go, java, cpp, rs, core team

#2111 feat: add weekly contest 376
  solution/2900-2999/2965.Find Missing and Repeated Values/README.md
  solution/2900-2999/2965.Find Missing and Repeated Values/README_EN.md
  solution/2900-2999/2966.Divide Array Into Arrays With Max Difference/README.md
  solution/2900-2999/2966.Divide Array Into Arrays With Max Difference/README_EN.md
  solution/2900-2999/2967.Minimum Cost to Make Array Equalindromic/README.md
  solution/2900-2999/2967.Minimum Cost to Make Array Equalindromic/README_EN.md
  solution/2900-2999/2968.Apply Operations to Maximize Frequency Score/README.md
  solution/2900-2999/2968.Apply Operations to Maximize Frequency Score/README_EN.md
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/summary.md
  solution/summary_en.md
Labels: md, core team

#2112 feat: add solutions to lc problems: No.2965~2968
  solution/2900-2999/2965.Find Missing and Repeated Values/README.md
  solution/2900-2999/2965.Find Missing and Repeated Values/README_EN.md
  solution/2900-2999/2965.Find Missing and Repeated Values/Solution.cpp
  solution/2900-2999/2965.Find Missing and Repeated Values/Solution.go
  solution/2900-2999/2965.Find Missing and Repeated Values/Solution.java
  solution/2900-2999/2965.Find Missing and Repeated Values/Solution.py
  solution/2900-2999/2965.Find Missing and Repeated Values/Solution.ts
  solution/2900-2999/2966.Divide Array Into Arrays With Max Difference/README.md
  solution/2900-2999/2966.Divide Array Into Arrays With Max Difference/README_EN.md
  solution/2900-2999/2966.Divide Array Into Arrays With Max Difference/Solution.cpp
  solution/2900-2999/2966.Divide Array Into Arrays With Max Difference/Solution.go
  solution/2900-2999/2966.Divide Array Into Arrays With Max Difference/Solution.java
  solution/2900-2999/2966.Divide Array Into Arrays With Max Difference/Solution.py
  solution/2900-2999/2966.Divide Array Into Arrays With Max Difference/Solution.ts
  solution/2900-2999/2968.Apply Operations to Maximize Frequency Score/README.md
  solution/2900-2999/2968.Apply Operations to Maximize Frequency Score/README_EN.md
  solution/2900-2999/2968.Apply Operations to Maximize Frequency Score/Solution.cpp
  solution/2900-2999/2968.Apply Operations to Maximize Frequency Score/Solution.go
  solution/2900-2999/2968.Apply Operations to Maximize Frequency Score/Solution.java
  solution/2900-2999/2968.Apply Operations to Maximize Frequency Score/Solution.py
  solution/2900-2999/2968.Apply Operations to Maximize Frequency Score/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2113 feat: add solutions to lc problem: No.2967
  solution/2900-2999/2967.Minimum Cost to Make Array Equalindromic/README.md
  solution/2900-2999/2967.Minimum Cost to Make Array Equalindromic/README_EN.md
  solution/2900-2999/2967.Minimum Cost to Make Array Equalindromic/Solution.cpp
  solution/2900-2999/2967.Minimum Cost to Make Array Equalindromic/Solution.go
  solution/2900-2999/2967.Minimum Cost to Make Array Equalindromic/Solution.java
  solution/2900-2999/2967.Minimum Cost to Make Array Equalindromic/Solution.py
  solution/2900-2999/2967.Minimum Cost to Make Array Equalindromic/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2114 feat: add rust solution to lc problem: No.65
  solution/0000-0099/0065.Valid Number/README.md
  solution/0000-0099/0065.Valid Number/README_EN.md
  solution/0000-0099/0065.Valid Number/Solution.rs
Labels: md, rs

#2115 feat: add solutions to lc problem: No.0090
  solution/0000-0099/0038.Count and Say/Solution.rs
  solution/0000-0099/0065.Valid Number/README.md
  solution/0000-0099/0090.Subsets II/README.md
  solution/0000-0099/0090.Subsets II/README_EN.md
  solution/0000-0099/0090.Subsets II/Solution.cpp
  solution/0000-0099/0090.Subsets II/Solution.go
  solution/0000-0099/0090.Subsets II/Solution.java
  solution/0000-0099/0090.Subsets II/Solution.py
  solution/0000-0099/0090.Subsets II/Solution.rs
  solution/0000-0099/0090.Subsets II/Solution.ts
Labels: md, ts, py, go, java, cpp, rs, core team

#2116 docs: update readme documents
  README.md
  README_EN.md
  basic/README.md
  basic/README_EN.md
  lcci/README.md
  lcci/README_EN.md
  lcof/README.md
  lcof/README_EN.md
  lcof2/README.md
  lcp/README.md
  lcs/README.md
  solution/README.md
  solution/README_EN.md
  solution/template.md
Labels: md, core team

#2117 docs: add Open in GitHub Codespaces badge
  README.md
  README_EN.md
  basic/searching/BinarySearch/README.md
  basic/searching/BinarySearch/README_EN.md
Labels: md, core team

#2118 feat: add solutions to lc problem: No.1671
  solution/1600-1699/1671.Minimum Number of Removals to Make Mountain Array/README.md
  solution/1600-1699/1671.Minimum Number of Removals to Make Mountain Array/README_EN.md
  solution/1600-1699/1671.Minimum Number of Removals to Make Mountain Array/Solution.rs
  solution/1600-1699/1671.Minimum Number of Removals to Make Mountain Array/Solution.ts
Labels: md, ts, rs, core team

#2120 chore: update lc problems
  solution/0100-0199/0167.Two Sum II - Input Array Is Sorted/README_EN.md
  solution/1100-1199/1160.Find Words That Can Be Formed by Characters/README_EN.md
  solution/2500-2599/2563.Count the Number of Fair Pairs/README.md
  solution/2600-2699/2693.Call Function with Custom Context/README_EN.md
  solution/2700-2799/2700.Differences Between Two Objects/README_EN.md
  solution/2700-2799/2715.Timeout Cancellation/README_EN.md
  solution/2700-2799/2724.Sort By/README_EN.md
  solution/2700-2799/2725.Interval Cancellation/README_EN.md
  solution/2700-2799/2754.Bind Function to Context/README_EN.md
  solution/2700-2799/2756.Query Batching/README_EN.md
  solution/2700-2799/2764.Is Array a Preorder of Some ‌Binary Tree/README.md
  solution/2700-2799/2764.Is Array a Preorder of Some ‌Binary Tree/README_EN.md
  solution/2700-2799/2764.Is Array a Preorder of Some ‌Binary Tree/Solution.cpp
  solution/2700-2799/2764.Is Array a Preorder of Some ‌Binary Tree/Solution.go
  solution/2700-2799/2764.Is Array a Preorder of Some ‌Binary Tree/Solution.java
  solution/2700-2799/2764.Is Array a Preorder of Some ‌Binary Tree/Solution.py
  solution/2700-2799/2764.Is Array a Preorder of Some ‌Binary Tree/Solution.ts
  solution/2700-2799/2764.Is Array a Preorder of Some ‌Binary Tree/images/1.png
  solution/2700-2799/2764.Is Array a Preorder of Some ‌Binary Tree/images/2.png
  solution/2700-2799/2774.Array Upper Bound/README_EN.md
  solution/2700-2799/2776.Convert Callback Based Function to Promise Based Function/README_EN.md
  solution/2700-2799/2796.Repeat String/README_EN.md
  solution/DATABASE_README.md
  solution/DATABASE_README_EN.md
  solution/JAVASCRIPT_README.md
  solution/JAVASCRIPT_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/summary.md
  solution/summary_en.md
  solution/template.md
Labels: md, ts, py, go, java, cpp, core team, png

#2119 feat: add solutions to lc problems: No.1600+
  solution/1600-1699/1674.Minimum Moves to Make Array Complementary/README.md
  solution/1600-1699/1674.Minimum Moves to Make Array Complementary/README_EN.md
  solution/1600-1699/1675.Minimize Deviation in Array/README_EN.md
  solution/1600-1699/1678.Goal Parser Interpretation/README_EN.md
  solution/1600-1699/1679.Max Number of K-Sum Pairs/README.md
  solution/1600-1699/1679.Max Number of K-Sum Pairs/README_EN.md
  solution/1600-1699/1680.Concatenation of Consecutive Binary Numbers/README.md
  solution/1600-1699/1680.Concatenation of Consecutive Binary Numbers/README_EN.md
  solution/1600-1699/1681.Minimum Incompatibility/README_EN.md
  solution/1600-1699/1682.Longest Palindromic Subsequence II/README_EN.md
  solution/1600-1699/1684.Count the Number of Consistent Strings/README.md
  solution/1600-1699/1684.Count the Number of Consistent Strings/README_EN.md
  solution/1600-1699/1685.Sum of Absolute Differences in a Sorted Array/README.md
  solution/1600-1699/1685.Sum of Absolute Differences in a Sorted Array/README_EN.md
  solution/1600-1699/1686.Stone Game VI/README.md
  solution/1600-1699/1686.Stone Game VI/README_EN.md
  solution/1600-1699/1687.Delivering Boxes from Storage to Ports/README.md
  solution/1600-1699/1687.Delivering Boxes from Storage to Ports/README_EN.md
  solution/1600-1699/1688.Count of Matches in Tournament/README_EN.md
  solution/1600-1699/1689.Partitioning Into Minimum Number Of Deci-Binary Numbers/README.md
  solution/1600-1699/1689.Partitioning Into Minimum Number Of Deci-Binary Numbers/README_EN.md
  solution/1600-1699/1690.Stone Game VII/README_EN.md
  solution/1600-1699/1691.Maximum Height by Stacking Cuboids/README_EN.md
  solution/1600-1699/1692.Count Ways to Distribute Candies/README_EN.md
  solution/1600-1699/1694.Reformat Phone Number/README.md
  solution/1600-1699/1694.Reformat Phone Number/README_EN.md
  solution/1600-1699/1695.Maximum Erasure Value/README.md
  solution/1600-1699/1695.Maximum Erasure Value/README_EN.md
  solution/1600-1699/1696.Jump Game VI/README_EN.md
  solution/1600-1699/1698.Number of Distinct Substrings in a String/README_EN.md
  solution/1700-1799/1700.Number of Students Unable to Eat Lunch/README.md
  solution/1700-1799/1700.Number of Students Unable to Eat Lunch/README_EN.md
  solution/1700-1799/1701.Average Waiting Time/README.md
  solution/1700-1799/1701.Average Waiting Time/README_EN.md
  solution/1700-1799/1702.Maximum Binary String After Change/README.md
  solution/1700-1799/1702.Maximum Binary String After Change/README_EN.md
  solution/1700-1799/1703.Minimum Adjacent Swaps for K Consecutive Ones/README.md
  solution/1700-1799/1703.Minimum Adjacent Swaps for K Consecutive Ones/README_EN.md
  solution/1700-1799/1704.Determine if String Halves Are Alike/README.md
  solution/1700-1799/1704.Determine if String Halves Are Alike/README_EN.md
  solution/1700-1799/1705.Maximum Number of Eaten Apples/README_EN.md
Labels: md, core team

#2121 feat: add solutions to lc problems: No.1692,1695,1732+
  solution/1600-1699/1692.Count Ways to Distribute Candies/README.md
  solution/1600-1699/1692.Count Ways to Distribute Candies/README_EN.md
  solution/1600-1699/1692.Count Ways to Distribute Candies/Solution.ts
  solution/1600-1699/1695.Maximum Erasure Value/README.md
  solution/1600-1699/1695.Maximum Erasure Value/README_EN.md
  solution/1600-1699/1695.Maximum Erasure Value/Solution.ts
  solution/1700-1799/1732.Find the Highest Altitude/README_EN.md
  solution/1700-1799/1734.Decode XORed Permutation/README_EN.md
  solution/1700-1799/1735.Count Ways to Make Array With Product/README_EN.md
  solution/1700-1799/1736.Latest Time by Replacing Hidden Digits/README_EN.md
  solution/1700-1799/1737.Change Minimum Characters to Satisfy One of Three Conditions/README_EN.md
  solution/1700-1799/1738.Find Kth Largest XOR Coordinate Value/README.md
  solution/1700-1799/1738.Find Kth Largest XOR Coordinate Value/README_EN.md
  solution/1700-1799/1738.Find Kth Largest XOR Coordinate Value/Solution.ts
  solution/1700-1799/1739.Building Boxes/README.md
  solution/1700-1799/1739.Building Boxes/README_EN.md
Labels: md, ts, core team

#2122 feat: add solutions to lc problems: No.1708~1714
  solution/1700-1799/1708.Largest Subarray Length K/README.md
  solution/1700-1799/1708.Largest Subarray Length K/README_EN.md
  solution/1700-1799/1708.Largest Subarray Length K/Solution.cpp
  solution/1700-1799/1708.Largest Subarray Length K/Solution.go
  solution/1700-1799/1708.Largest Subarray Length K/Solution.java
  solution/1700-1799/1708.Largest Subarray Length K/Solution.py
  solution/1700-1799/1708.Largest Subarray Length K/Solution.rs
  solution/1700-1799/1708.Largest Subarray Length K/Solution.ts
  solution/1700-1799/1710.Maximum Units on a Truck/README.md
  solution/1700-1799/1710.Maximum Units on a Truck/README_EN.md
  solution/1700-1799/1711.Count Good Meals/README_EN.md
  solution/1700-1799/1712.Ways to Split Array Into Three Subarrays/README.md
  solution/1700-1799/1712.Ways to Split Array Into Three Subarrays/README_EN.md
  solution/1700-1799/1714.Sum Of Special Evenly-Spaced Elements In Array/README_EN.md
Labels: md, ts, py, go, java, cpp, rs, core team

#2124 feat: add solutions to lc problem: No.1771
  solution/1700-1799/1771.Maximize Palindrome Length From Subsequences/README.md
  solution/1700-1799/1771.Maximize Palindrome Length From Subsequences/README_EN.md
  solution/1700-1799/1771.Maximize Palindrome Length From Subsequences/Solution.py
  solution/1700-1799/1771.Maximize Palindrome Length From Subsequences/Solution.rs
  solution/1700-1799/1771.Maximize Palindrome Length From Subsequences/Solution.ts
  solution/1700-1799/1772.Sort Features by Popularity/README.md
  solution/1700-1799/1772.Sort Features by Popularity/README_EN.md
  solution/1700-1799/1772.Sort Features by Popularity/Solution.cpp
  solution/1700-1799/1772.Sort Features by Popularity/Solution.go
  solution/1700-1799/1772.Sort Features by Popularity/Solution.java
  solution/1700-1799/1772.Sort Features by Popularity/Solution.py
  solution/1700-1799/1772.Sort Features by Popularity/Solution.ts
Labels: md, ts, py, go, java, cpp, rs, core team

#2125 feat: add solutions to lc problems: No.1781+
  solution/1700-1799/1781.Sum of Beauty of All Substrings/README.md
  solution/1700-1799/1781.Sum of Beauty of All Substrings/README_EN.md
  solution/1700-1799/1784.Check if Binary String Has at Most One Segment of Ones/README.md
  solution/1700-1799/1784.Check if Binary String Has at Most One Segment of Ones/README_EN.md
  solution/1700-1799/1785.Minimum Elements to Add to Form a Given Sum/README.md
  solution/1700-1799/1785.Minimum Elements to Add to Form a Given Sum/README_EN.md
Labels: md, core team

#2126 feat: add solutions to lc problems: No.1790+
  solution/1700-1799/1790.Check if One String Swap Can Make Strings Equal/README.md
  solution/1700-1799/1790.Check if One String Swap Can Make Strings Equal/README_EN.md
  solution/1700-1799/1791.Find Center of Star Graph/README.md
  solution/1700-1799/1791.Find Center of Star Graph/README_EN.md
  solution/1700-1799/1792.Maximum Average Pass Ratio/README.md
  solution/1700-1799/1792.Maximum Average Pass Ratio/README_EN.md
  solution/1700-1799/1794.Count Pairs of Equal Substrings With Minimum Difference/README.md
  solution/1700-1799/1794.Count Pairs of Equal Substrings With Minimum Difference/README_EN.md
  solution/1700-1799/1794.Count Pairs of Equal Substrings With Minimum Difference/Solution.ts
  solution/1700-1799/1796.Second Largest Digit in a String/README.md
  solution/1700-1799/1796.Second Largest Digit in a String/README_EN.md
  solution/1700-1799/1797.Design Authentication Manager/README_EN.md
  solution/1700-1799/1798.Maximum Number of Consecutive Values You Can Make/README.md
  solution/1700-1799/1798.Maximum Number of Consecutive Values You Can Make/README_EN.md
  solution/1700-1799/1798.Maximum Number of Consecutive Values You Can Make/Solution.ts
  solution/1700-1799/1799.Maximize Score After N Operations/README_EN.md
  solution/1800-1899/1800.Maximum Ascending Subarray Sum/README.md
  solution/1800-1899/1800.Maximum Ascending Subarray Sum/README_EN.md
  solution/1800-1899/1801.Number of Orders in the Backlog/README_EN.md
  solution/1800-1899/1802.Maximum Value at a Given Index in a Bounded Array/README.md
  solution/1800-1899/1802.Maximum Value at a Given Index in a Bounded Array/README_EN.md
  solution/1800-1899/1803.Count Pairs With XOR in a Range/README_EN.md
  solution/1800-1899/1804.Implement Trie II (Prefix Tree)/README_EN.md
  solution/1800-1899/1805.Number of Different Integers in a String/README_EN.md
  solution/1800-1899/1806.Minimum Number of Operations to Reinitialize a Permutation/README_EN.md
  solution/1800-1899/1807.Evaluate the Bracket Pairs of a String/README_EN.md
  solution/1800-1899/1808.Maximize Number of Nice Divisors/README_EN.md
  solution/1800-1899/1812.Determine Color of a Chessboard Square/README.md
  solution/1800-1899/1812.Determine Color of a Chessboard Square/README_EN.md
  solution/1800-1899/1815.Maximum Number of Groups Getting Fresh Donuts/README_EN.md
  solution/1800-1899/1818.Minimum Absolute Sum Difference/README_EN.md
  solution/1800-1899/1819.Number of Different Subsequences GCDs/README_EN.md
  solution/1800-1899/1820.Maximum Number of Accepted Invitations/README.md
  solution/1800-1899/1820.Maximum Number of Accepted Invitations/README_EN.md
  solution/1800-1899/1824.Minimum Sideway Jumps/README.md
  solution/1800-1899/1824.Minimum Sideway Jumps/README_EN.md
  solution/1800-1899/1825.Finding MK Average/README_EN.md
  solution/1800-1899/1826.Faulty Sensor/README.md
  solution/1800-1899/1826.Faulty Sensor/README_EN.md
  solution/1800-1899/1827.Minimum Operations to Make the Array Increasing/README.md
  solution/1800-1899/1827.Minimum Operations to Make the Array Increasing/README_EN.md
  solution/1800-1899/1828.Queries on Number of Points Inside a Circle/README_EN.md
  solution/1800-1899/1829.Maximum XOR for Each Query/README_EN.md
  solution/1800-1899/1830.Minimum Number of Operations to Make String Sorted/README_EN.md
  solution/1800-1899/1832.Check if the Sentence Is Pangram/README.md
  solution/1800-1899/1832.Check if the Sentence Is Pangram/README_EN.md
  solution/1800-1899/1834.Single-Threaded CPU/README_EN.md
  solution/1800-1899/1837.Sum of Digits in Base K/README_EN.md
  solution/1800-1899/1838.Frequency of the Most Frequent Element/README_EN.md
  solution/1800-1899/1839.Longest Substring Of All Vowels in Order/README_EN.md
  solution/1800-1899/1840.Maximum Building Height/README.md
  solution/1800-1899/1840.Maximum Building Height/README_EN.md
Labels: md, ts, core team

#2127 feat: add solutions to lc problem: No.1842
  solution/1800-1899/1842.Next Palindrome Using Same Digits/README.md
  solution/1800-1899/1842.Next Palindrome Using Same Digits/README_EN.md
  solution/1800-1899/1842.Next Palindrome Using Same Digits/Solution.cpp
  solution/1800-1899/1842.Next Palindrome Using Same Digits/Solution.go
  solution/1800-1899/1842.Next Palindrome Using Same Digits/Solution.java
  solution/1800-1899/1842.Next Palindrome Using Same Digits/Solution.py
  solution/1800-1899/1842.Next Palindrome Using Same Digits/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2128 feat: add solutions to lc problems: No.1844+
  solution/1800-1899/1844.Replace All Digits with Characters/README_EN.md
  solution/1800-1899/1845.Seat Reservation Manager/README_EN.md
  solution/1800-1899/1846.Maximum Element After Decreasing and Rearranging/README.md
  solution/1800-1899/1846.Maximum Element After Decreasing and Rearranging/README_EN.md
  solution/1800-1899/1847.Closest Room/README_EN.md
  solution/1800-1899/1848.Minimum Distance to the Target Element/README.md
  solution/1800-1899/1848.Minimum Distance to the Target Element/README_EN.md
  solution/1800-1899/1849.Splitting a String Into Descending Consecutive Values/README_EN.md
  solution/1800-1899/1851.Minimum Interval to Include Each Query/README_EN.md
  solution/1800-1899/1852.Distinct Numbers in Each Subarray/README_EN.md
  solution/1800-1899/1854.Maximum Population Year/README_EN.md
  solution/1800-1899/1855.Maximum Distance Between a Pair of Values/README.md
  solution/1800-1899/1855.Maximum Distance Between a Pair of Values/README_EN.md
  solution/1800-1899/1856.Maximum Subarray Min-Product/README_EN.md
Labels: md, core team

#2130 feat: add solutions to lc problem: No.2031
  solution/2000-2099/2031.Count Subarrays With More Ones Than Zeros/README.md
  solution/2000-2099/2031.Count Subarrays With More Ones Than Zeros/README_EN.md
  solution/2000-2099/2031.Count Subarrays With More Ones Than Zeros/Solution.cpp
  solution/2000-2099/2031.Count Subarrays With More Ones Than Zeros/Solution.go
  solution/2000-2099/2031.Count Subarrays With More Ones Than Zeros/Solution.java
  solution/2000-2099/2031.Count Subarrays With More Ones Than Zeros/Solution.py
  solution/2000-2099/2031.Count Subarrays With More Ones Than Zeros/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2131 feat: add python solution to lc problem: No.2031
  solution/2000-2099/2031.Count Subarrays With More Ones Than Zeros/README.md
  solution/2000-2099/2031.Count Subarrays With More Ones Than Zeros/README_EN.md
  solution/2000-2099/2031.Count Subarrays With More Ones Than Zeros/Solution.py
  solution/2000-2099/2031.Count Subarrays With More Ones Than Zeros/Solution.ts
Labels: md, ts, py, core team

#2132 feat: add solutions to lc problems: No.1706,1707
  solution/1700-1799/1706.Where Will the Ball Fall/README.md
  solution/1700-1799/1706.Where Will the Ball Fall/README_EN.md
  solution/1700-1799/1706.Where Will the Ball Fall/Solution.cpp
  solution/1700-1799/1706.Where Will the Ball Fall/Solution.go
  solution/1700-1799/1706.Where Will the Ball Fall/Solution.py
  solution/1700-1799/1706.Where Will the Ball Fall/Solution.ts
  solution/1700-1799/1707.Maximum XOR With an Element From Array/README.md
  solution/1700-1799/1707.Maximum XOR With an Element From Array/README_EN.md
  solution/1700-1799/1707.Maximum XOR With an Element From Array/Solution.cpp
  solution/1700-1799/1707.Maximum XOR With an Element From Array/Solution.go
  solution/1700-1799/1707.Maximum XOR With an Element From Array/Solution.java
  solution/1700-1799/1707.Maximum XOR With an Element From Array/Solution.py
  solution/1700-1799/1707.Maximum XOR With an Element From Array/Solution.ts
  solution/1700-1799/1774.Closest Dessert Cost/README.md
Labels: md, ts, py, go, java, cpp, core team

#2133 feat: add new lc problem
  solution/2900-2999/2969.Minimum Number of Coins for Fruits II/README.md
  solution/2900-2999/2969.Minimum Number of Coins for Fruits II/README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/summary.md
  solution/summary_en.md
Labels: md, core team

#2134 feat: add solutions to lc problem: No.1778
  solution/1700-1799/1778.Shortest Path in a Hidden Grid/README.md
  solution/1700-1799/1778.Shortest Path in a Hidden Grid/README_EN.md
  solution/1700-1799/1778.Shortest Path in a Hidden Grid/Solution.cpp
  solution/1700-1799/1778.Shortest Path in a Hidden Grid/Solution.java
  solution/1700-1799/1778.Shortest Path in a Hidden Grid/Solution.py
Labels: md, py, java, cpp, core team

#2135 Added Rust Solution.rs to 0056
  solution/0000-0099/0054.Spiral Matrix/README.md
  solution/0000-0099/0054.Spiral Matrix/README_EN.md
  solution/0000-0099/0054.Spiral Matrix/Solution.rs
Labels: md, rs

#2137 feat: add solutions to lc problem: No.1850
  solution/1800-1899/1850.Minimum Adjacent Swaps to Reach the Kth Smallest Number/README.md
  solution/1800-1899/1850.Minimum Adjacent Swaps to Reach the Kth Smallest Number/README_EN.md
  solution/1800-1899/1850.Minimum Adjacent Swaps to Reach the Kth Smallest Number/Solution.cpp
  solution/1800-1899/1850.Minimum Adjacent Swaps to Reach the Kth Smallest Number/Solution.go
  solution/1800-1899/1850.Minimum Adjacent Swaps to Reach the Kth Smallest Number/Solution.java
  solution/1800-1899/1850.Minimum Adjacent Swaps to Reach the Kth Smallest Number/Solution.py
  solution/1800-1899/1850.Minimum Adjacent Swaps to Reach the Kth Smallest Number/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2138 feat: add solutions to lc problem: No.1852
  solution/1800-1899/1852.Distinct Numbers in Each Subarray/README.md
  solution/1800-1899/1852.Distinct Numbers in Each Subarray/README_EN.md
  solution/1800-1899/1852.Distinct Numbers in Each Subarray/Solution.cpp
  solution/1800-1899/1852.Distinct Numbers in Each Subarray/Solution.go
  solution/1800-1899/1852.Distinct Numbers in Each Subarray/Solution.java
  solution/1800-1899/1852.Distinct Numbers in Each Subarray/Solution.py
  solution/1800-1899/1852.Distinct Numbers in Each Subarray/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2139 feat: add solutions to lc problem: No.1848
  solution/1800-1899/1848.Minimum Distance to the Target Element/README.md
  solution/1800-1899/1848.Minimum Distance to the Target Element/README_EN.md
  solution/1800-1899/1848.Minimum Distance to the Target Element/Solution.py
  solution/1800-1899/1848.Minimum Distance to the Target Element/Solution.rs
  solution/1800-1899/1848.Minimum Distance to the Target Element/Solution.ts
Labels: md, ts, py, rs, core team

#2140 feat: add solutions to lc problems: No.34,1870,1894
  README.md
  README_EN.md
  solution/0000-0099/0034.Find First and Last Position of Element in Sorted Array/README.md
  solution/0000-0099/0034.Find First and Last Position of Element in Sorted Array/README_EN.md
  solution/0000-0099/0034.Find First and Last Position of Element in Sorted Array/Solution.ts
  solution/1600-1699/1671.Minimum Number of Removals to Make Mountain Array/README.md
  solution/1600-1699/1671.Minimum Number of Removals to Make Mountain Array/README_EN.md
  solution/1800-1899/1870.Minimum Speed to Arrive on Time/README.md
  solution/1800-1899/1870.Minimum Speed to Arrive on Time/README_EN.md
  solution/1800-1899/1894.Find the Student that Will Replace the Chalk/README.md
  solution/1800-1899/1894.Find the Student that Will Replace the Chalk/README_EN.md
  solution/1800-1899/1894.Find the Student that Will Replace the Chalk/Solution.cpp
  solution/1800-1899/1894.Find the Student that Will Replace the Chalk/Solution.go
  solution/1800-1899/1894.Find the Student that Will Replace the Chalk/Solution.java
  solution/1800-1899/1894.Find the Student that Will Replace the Chalk/Solution.py
  solution/1800-1899/1894.Find the Student that Will Replace the Chalk/Solution.rs
  solution/1800-1899/1894.Find the Student that Will Replace the Chalk/Solution.ts
  solution/1800-1899/1898.Maximum Number of Removable Characters/README.md
Labels: md, ts, py, go, java, cpp, rs, core team

#2141 feat: add solutions to lc problems: No.0043,0415
  solution/0000-0099/0043.Multiply Strings/README.md
  solution/0000-0099/0043.Multiply Strings/README_EN.md
  solution/0000-0099/0043.Multiply Strings/Solution.cs
  solution/0000-0099/0043.Multiply Strings/Solution.ts
  solution/0400-0499/0415.Add Strings/README.md
  solution/0400-0499/0415.Add Strings/README_EN.md
  solution/0400-0499/0415.Add Strings/Solution.js
  solution/0400-0499/0415.Add Strings/Solution.ts
Labels: js, md, ts, core team, cs

#2142 feat: add solutions to lc problems: No.303~305
  solution/0300-0399/0303.Range Sum Query - Immutable/README.md
  solution/0300-0399/0303.Range Sum Query - Immutable/README_EN.md
  solution/0300-0399/0303.Range Sum Query - Immutable/Solution.c
  solution/0300-0399/0303.Range Sum Query - Immutable/Solution.cpp
  solution/0300-0399/0303.Range Sum Query - Immutable/Solution.js
  solution/0300-0399/0303.Range Sum Query - Immutable/Solution.php
  solution/0300-0399/0303.Range Sum Query - Immutable/Solution.rs
  solution/0300-0399/0303.Range Sum Query - Immutable/Solution.ts
  solution/0300-0399/0304.Range Sum Query 2D - Immutable/README.md
  solution/0300-0399/0304.Range Sum Query 2D - Immutable/README_EN.md
  solution/0300-0399/0305.Number of Islands II/README.md
  solution/0300-0399/0305.Number of Islands II/README_EN.md
  solution/0300-0399/0305.Number of Islands II/Solution.cpp
  solution/0300-0399/0305.Number of Islands II/Solution.go
  solution/0300-0399/0305.Number of Islands II/Solution.java
  solution/0300-0399/0305.Number of Islands II/Solution.py
  solution/0300-0399/0305.Number of Islands II/Solution.ts
Labels: js, md, ts, py, go, java, cpp, rs, core team, c, php

#2143 feat: add solutions to lc problems: No.307+
  solution/0300-0399/0307.Range Sum Query - Mutable/README.md
  solution/0300-0399/0309.Best Time to Buy and Sell Stock with Cooldown/README.md
  solution/0300-0399/0309.Best Time to Buy and Sell Stock with Cooldown/README_EN.md
  solution/0300-0399/0311.Sparse Matrix Multiplication/README.md
  solution/0300-0399/0311.Sparse Matrix Multiplication/README_EN.md
  solution/0300-0399/0313.Super Ugly Number/README_EN.md
  solution/0300-0399/0314.Binary Tree Vertical Order Traversal/README_EN.md
  solution/0300-0399/0316.Remove Duplicate Letters/README.md
  solution/0300-0399/0316.Remove Duplicate Letters/README_EN.md
Labels: md, core team

#2144 feat: add solutions to lc problem: No.1962
  solution/1900-1999/1962.Remove Stones to Minimize the Total/README.md
  solution/1900-1999/1962.Remove Stones to Minimize the Total/README_EN.md
  solution/1900-1999/1962.Remove Stones to Minimize the Total/Solution.cpp
  solution/1900-1999/1962.Remove Stones to Minimize the Total/Solution.go
  solution/1900-1999/1962.Remove Stones to Minimize the Total/Solution.java
  solution/1900-1999/1962.Remove Stones to Minimize the Total/Solution.py
  solution/1900-1999/1962.Remove Stones to Minimize the Total/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2145 feat: add solutions to lc problems: No.1961~1964
  solution/1900-1999/1961.Check If String Is a Prefix of Array/README.md
  solution/1900-1999/1961.Check If String Is a Prefix of Array/README_EN.md
  solution/1900-1999/1961.Check If String Is a Prefix of Array/Solution.cpp
  solution/1900-1999/1961.Check If String Is a Prefix of Array/Solution.go
  solution/1900-1999/1961.Check If String Is a Prefix of Array/Solution.java
  solution/1900-1999/1961.Check If String Is a Prefix of Array/Solution.py
  solution/1900-1999/1961.Check If String Is a Prefix of Array/Solution.ts
  solution/1900-1999/1963.Minimum Number of Swaps to Make the String Balanced/README.md
  solution/1900-1999/1963.Minimum Number of Swaps to Make the String Balanced/README_EN.md
  solution/1900-1999/1963.Minimum Number of Swaps to Make the String Balanced/Solution.cpp
  solution/1900-1999/1963.Minimum Number of Swaps to Make the String Balanced/Solution.go
  solution/1900-1999/1963.Minimum Number of Swaps to Make the String Balanced/Solution.java
  solution/1900-1999/1963.Minimum Number of Swaps to Make the String Balanced/Solution.py
  solution/1900-1999/1963.Minimum Number of Swaps to Make the String Balanced/Solution.ts
  solution/1900-1999/1964.Find the Longest Valid Obstacle Course at Each Position/README.md
  solution/1900-1999/1964.Find the Longest Valid Obstacle Course at Each Position/README_EN.md
  solution/1900-1999/1964.Find the Longest Valid Obstacle Course at Each Position/Solution.cpp
  solution/1900-1999/1964.Find the Longest Valid Obstacle Course at Each Position/Solution.go
  solution/1900-1999/1964.Find the Longest Valid Obstacle Course at Each Position/Solution.java
  solution/1900-1999/1964.Find the Longest Valid Obstacle Course at Each Position/Solution.py
  solution/1900-1999/1964.Find the Longest Valid Obstacle Course at Each Position/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2146 feat: add solutions to lc problem: No.2735
  solution/2700-2799/2735.Collecting Chocolates/README.md
  solution/2700-2799/2735.Collecting Chocolates/README_EN.md
  solution/2700-2799/2735.Collecting Chocolates/Solution.cpp
  solution/2700-2799/2735.Collecting Chocolates/Solution.go
  solution/2700-2799/2735.Collecting Chocolates/Solution.java
  solution/2700-2799/2735.Collecting Chocolates/Solution.py
  solution/2700-2799/2735.Collecting Chocolates/Solution.rs
  solution/2700-2799/2735.Collecting Chocolates/Solution.ts
Labels: md, ts, py, go, java, cpp, rs, core team

#2147 feat: add biweekly contest 120
  solution/10000-10099/10031.Count the Number of Incremovable Subarrays I/README.md
  solution/10000-10099/10031.Count the Number of Incremovable Subarrays I/README_EN.md
  solution/10000-10099/10032.Find Polygon With the Largest Perimeter/README.md
  solution/10000-10099/10032.Find Polygon With the Largest Perimeter/README_EN.md
  solution/10000-10099/10033.Count the Number of Incremovable Subarrays II/README.md
  solution/10000-10099/10033.Count the Number of Incremovable Subarrays II/README_EN.md
  solution/10000-10099/10034.Find Number of Coins to Place in Tree Nodes/README.md
  solution/10000-10099/10034.Find Number of Coins to Place in Tree Nodes/README_EN.md
  solution/10000-10099/10034.Find Number of Coins to Place in Tree Nodes/images/screenshot-2023-11-10-012513.png
  solution/10000-10099/10034.Find Number of Coins to Place in Tree Nodes/images/screenshot-2023-11-10-012614.png
  solution/10000-10099/10034.Find Number of Coins to Place in Tree Nodes/images/screenshot-2023-11-10-012641.png
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/main.py
  solution/summary.md
  solution/summary_en.md
Labels: md, py, core team, png

#2148 feat: add weekly contest 377
  solution/2900-2999/2970.Count the Number of Incremovable Subarrays I/README.md
  solution/2900-2999/2970.Count the Number of Incremovable Subarrays I/README_EN.md
  solution/2900-2999/2971.Find Polygon With the Largest Perimeter/README.md
  solution/2900-2999/2971.Find Polygon With the Largest Perimeter/README_EN.md
  solution/2900-2999/2972.Count the Number of Incremovable Subarrays II/README.md
  solution/2900-2999/2972.Count the Number of Incremovable Subarrays II/README_EN.md
  solution/2900-2999/2973.Find Number of Coins to Place in Tree Nodes/README.md
  solution/2900-2999/2973.Find Number of Coins to Place in Tree Nodes/README_EN.md
  solution/2900-2999/2973.Find Number of Coins to Place in Tree Nodes/images/screenshot-2023-11-10-012513.png
  solution/2900-2999/2973.Find Number of Coins to Place in Tree Nodes/images/screenshot-2023-11-10-012614.png
  solution/2900-2999/2973.Find Number of Coins to Place in Tree Nodes/images/screenshot-2023-11-10-012641.png
  solution/2900-2999/2974.Minimum Number Game/README.md
  solution/2900-2999/2974.Minimum Number Game/README_EN.md
  solution/2900-2999/2975.Maximum Square Area by Removing Fences From a Field/README.md
  solution/2900-2999/2975.Maximum Square Area by Removing Fences From a Field/README_EN.md
  solution/2900-2999/2975.Maximum Square Area by Removing Fences From a Field/images/maxsquareareaexample1.png
  solution/2900-2999/2975.Maximum Square Area by Removing Fences From a Field/images/screenshot-from-2023-11-05-22-40-25.png
  solution/2900-2999/2976.Minimum Cost to Convert String I/README.md
  solution/2900-2999/2976.Minimum Cost to Convert String I/README_EN.md
  solution/2900-2999/2977.Minimum Cost to Convert String II/README.md
  solution/2900-2999/2977.Minimum Cost to Convert String II/README_EN.md
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/main.py
  solution/summary.md
  solution/summary_en.md
Labels: md, py, core team, png

#2149 feat: add solutions to lc problem: No.2974
  solution/2900-2999/2974.Minimum Number Game/README.md
  solution/2900-2999/2974.Minimum Number Game/README_EN.md
  solution/2900-2999/2974.Minimum Number Game/Solution.cpp
  solution/2900-2999/2974.Minimum Number Game/Solution.go
  solution/2900-2999/2974.Minimum Number Game/Solution.java
  solution/2900-2999/2974.Minimum Number Game/Solution.py
  solution/2900-2999/2974.Minimum Number Game/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2150 feat: add solutions to lc problem: No.2976
  solution/2900-2999/2976.Minimum Cost to Convert String I/README.md
  solution/2900-2999/2976.Minimum Cost to Convert String I/README_EN.md
  solution/2900-2999/2976.Minimum Cost to Convert String I/Solution.cpp
  solution/2900-2999/2976.Minimum Cost to Convert String I/Solution.go
  solution/2900-2999/2976.Minimum Cost to Convert String I/Solution.java
  solution/2900-2999/2976.Minimum Cost to Convert String I/Solution.py
  solution/2900-2999/2976.Minimum Cost to Convert String I/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2151 feat: add solutions to lc problem: No.1276
  solution/1200-1299/1276.Number of Burgers with No Waste of Ingredients/README.md
  solution/1200-1299/1276.Number of Burgers with No Waste of Ingredients/README_EN.md
  solution/1200-1299/1276.Number of Burgers with No Waste of Ingredients/Solution.java
  solution/1200-1299/1276.Number of Burgers with No Waste of Ingredients/Solution.rs
  solution/1200-1299/1276.Number of Burgers with No Waste of Ingredients/Solution.ts
Labels: md, ts, java, rs, core team

#2153 feat: add solutions to lc problems: No.2542+
  solution/2500-2599/2542.Maximum Subsequence Score/README_EN.md
  solution/2500-2599/2543.Check if Point Is Reachable/README.md
  solution/2500-2599/2543.Check if Point Is Reachable/README_EN.md
  solution/2500-2599/2544.Alternating Digit Sum/README_EN.md
  solution/2500-2599/2545.Sort the Students by Their Kth Score/README.md
  solution/2500-2599/2545.Sort the Students by Their Kth Score/README_EN.md
  solution/2500-2599/2546.Apply Bitwise Operations to Make Strings Equal/README.md
  solution/2500-2599/2546.Apply Bitwise Operations to Make Strings Equal/README_EN.md
  solution/2500-2599/2547.Minimum Cost to Split an Array/README.md
  solution/2500-2599/2547.Minimum Cost to Split an Array/README_EN.md
  solution/2500-2599/2548.Maximum Price to Fill a Bag/README.md
  solution/2500-2599/2548.Maximum Price to Fill a Bag/README_EN.md
  solution/2500-2599/2549.Count Distinct Numbers on Board/README_EN.md
  solution/2500-2599/2550.Count Collisions of Monkeys on a Polygon/README.md
  solution/2500-2599/2550.Count Collisions of Monkeys on a Polygon/README_EN.md
  solution/2500-2599/2551.Put Marbles in Bags/README_EN.md
  solution/2500-2599/2552.Count Increasing Quadruplets/README_EN.md
  solution/2500-2599/2553.Separate the Digits in an Array/README.md
  solution/2500-2599/2553.Separate the Digits in an Array/README_EN.md
  solution/2500-2599/2554.Maximum Number of Integers to Choose From a Range I/README.md
  solution/2500-2599/2554.Maximum Number of Integers to Choose From a Range I/README_EN.md
  solution/2500-2599/2555.Maximize Win From Two Segments/README_EN.md
  solution/2500-2599/2556.Disconnect Path in a Binary Matrix by at Most One Flip/README_EN.md
  solution/2500-2599/2557.Maximum Number of Integers to Choose From a Range II/README_EN.md
  solution/2500-2599/2559.Count Vowel Strings in Ranges/README_EN.md
  solution/2500-2599/2560.House Robber IV/README.md
  solution/2500-2599/2560.House Robber IV/README_EN.md
  solution/2500-2599/2561.Rearranging Fruits/README_EN.md
  solution/2500-2599/2563.Count the Number of Fair Pairs/README_EN.md
  solution/2500-2599/2564.Substring XOR Queries/README_EN.md
  solution/2500-2599/2565.Subsequence With the Minimum Score/README_EN.md
  solution/2500-2599/2566.Maximum Difference by Remapping a Digit/README_EN.md
  solution/2500-2599/2567.Minimum Score by Changing Two Elements/README.md
  solution/2500-2599/2567.Minimum Score by Changing Two Elements/README_EN.md
  solution/2500-2599/2568.Minimum Impossible OR/README_EN.md
  solution/2500-2599/2569.Handling Sum Queries After Update/README_EN.md
  solution/2500-2599/2570.Merge Two 2D Arrays by Summing Values/README_EN.md
  solution/2500-2599/2572.Count the Number of Square-Free Subsets/README_EN.md
  solution/2500-2599/2573.Find the String with LCP/README_EN.md
  solution/2500-2599/2574.Left and Right Sum Differences/README_EN.md
  solution/2500-2599/2575.Find the Divisibility Array of a String/README.md
  solution/2500-2599/2575.Find the Divisibility Array of a String/README_EN.md
  solution/2500-2599/2576.Find the Maximum Number of Marked Indices/README_EN.md
  solution/2500-2599/2577.Minimum Time to Visit a Cell In a Grid/README_EN.md
  solution/2500-2599/2578.Split With Minimum Sum/README_EN.md
  solution/2500-2599/2583.Kth Largest Sum in a Binary Tree/README_EN.md
Labels: md, core team

#2154 feat: add solutions to lc problem: No.2975
  solution/2900-2999/2975.Maximum Square Area by Removing Fences From a Field/README.md
  solution/2900-2999/2975.Maximum Square Area by Removing Fences From a Field/README_EN.md
  solution/2900-2999/2975.Maximum Square Area by Removing Fences From a Field/Solution.cpp
  solution/2900-2999/2975.Maximum Square Area by Removing Fences From a Field/Solution.go
  solution/2900-2999/2975.Maximum Square Area by Removing Fences From a Field/Solution.java
  solution/2900-2999/2975.Maximum Square Area by Removing Fences From a Field/Solution.py
  solution/2900-2999/2975.Maximum Square Area by Removing Fences From a Field/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2155 feat: add solutions to lc problem: No.1349
  solution/1300-1399/1349.Maximum Students Taking Exam/README.md
  solution/1300-1399/1349.Maximum Students Taking Exam/README_EN.md
  solution/1300-1399/1349.Maximum Students Taking Exam/Solution.ts
Labels: md, ts, core team

#2156 feat: add solutions to lc problems: No.1351+
  solution/1300-1399/1351.Count Negative Numbers in a Sorted Matrix/README.md
  solution/1300-1399/1351.Count Negative Numbers in a Sorted Matrix/README_EN.md
  solution/1300-1399/1352.Product of the Last K Numbers/README_EN.md
  solution/1300-1399/1353.Maximum Number of Events That Can Be Attended/README.md
  solution/1300-1399/1353.Maximum Number of Events That Can Be Attended/README_EN.md
  solution/1300-1399/1354.Construct Target Array With Multiple Sums/README.md
  solution/1300-1399/1354.Construct Target Array With Multiple Sums/README_EN.md
  solution/1300-1399/1354.Construct Target Array With Multiple Sums/Solution.cpp
  solution/1300-1399/1354.Construct Target Array With Multiple Sums/Solution.go
  solution/1300-1399/1354.Construct Target Array With Multiple Sums/Solution.java
  solution/1300-1399/1354.Construct Target Array With Multiple Sums/Solution.py
  solution/1300-1399/1354.Construct Target Array With Multiple Sums/Solution.ts
  solution/1300-1399/1356.Sort Integers by The Number of 1 Bits/README.md
  solution/1300-1399/1356.Sort Integers by The Number of 1 Bits/README_EN.md
  solution/1300-1399/1357.Apply Discount Every n Orders/README_EN.md
  solution/1300-1399/1358.Number of Substrings Containing All Three Characters/README.md
  solution/1300-1399/1358.Number of Substrings Containing All Three Characters/README_EN.md
  solution/1300-1399/1359.Count All Valid Pickup and Delivery Options/README.md
  solution/1300-1399/1359.Count All Valid Pickup and Delivery Options/README_EN.md
  solution/1300-1399/1360.Number of Days Between Two Dates/README_EN.md
  solution/1300-1399/1361.Validate Binary Tree Nodes/README_EN.md
  solution/1300-1399/1362.Closest Divisors/README_EN.md
  solution/1300-1399/1363.Largest Multiple of Three/README_EN.md
  solution/1300-1399/1365.How Many Numbers Are Smaller Than the Current Number/README_EN.md
  solution/1300-1399/1366.Rank Teams by Votes/README_EN.md
  solution/1300-1399/1367.Linked List in Binary Tree/README_EN.md
  solution/1300-1399/1368.Minimum Cost to Make at Least One Valid Path in a Grid/README_EN.md
Labels: md, ts, py, go, java, cpp, core team

#2158 feat: add solutions to lc problem: No.2706
  solution/2700-2799/2706.Buy Two Chocolates/README.md
  solution/2700-2799/2706.Buy Two Chocolates/README_EN.md
  solution/2700-2799/2706.Buy Two Chocolates/Solution.cpp
  solution/2700-2799/2706.Buy Two Chocolates/Solution.go
  solution/2700-2799/2706.Buy Two Chocolates/Solution.java
  solution/2700-2799/2706.Buy Two Chocolates/Solution.py
  solution/2700-2799/2706.Buy Two Chocolates/Solution.rs
  solution/2700-2799/2706.Buy Two Chocolates/Solution.ts
Labels: md, ts, py, go, java, cpp, rs, core team

#2159 feat: add solutions to lc problems: No.1385+
  solution/1300-1399/1385.Find the Distance Value Between Two Arrays/README_EN.md
  solution/1300-1399/1386.Cinema Seat Allocation/README_EN.md
  solution/1300-1399/1387.Sort Integers by The Power Value/README_EN.md
  solution/1300-1399/1388.Pizza With 3n Slices/README_EN.md
  solution/1300-1399/1389.Create Target Array in the Given Order/README_EN.md
  solution/1300-1399/1390.Four Divisors/README_EN.md
  solution/1300-1399/1392.Longest Happy Prefix/README_EN.md
  solution/1300-1399/1393.Capital GainLoss/README_EN.md
  solution/1300-1399/1394.Find Lucky Integer in an Array/README_EN.md
  solution/1300-1399/1395.Count Number of Teams/README_EN.md
  solution/1300-1399/1396.Design Underground System/README_EN.md
  solution/1300-1399/1399.Count Largest Group/README_EN.md
  solution/1400-1499/1400.Construct K Palindrome Strings/README_EN.md
  solution/1400-1499/1401.Circle and Rectangle Overlapping/README_EN.md
  solution/1400-1499/1402.Reducing Dishes/README_EN.md
  solution/1400-1499/1403.Minimum Subsequence in Non-Increasing Order/README_EN.md
  solution/1400-1499/1404.Number of Steps to Reduce a Number in Binary Representation to One/README.md
  solution/1400-1499/1404.Number of Steps to Reduce a Number in Binary Representation to One/README_EN.md
  solution/1400-1499/1405.Longest Happy String/README.md
  solution/1400-1499/1405.Longest Happy String/README_EN.md
  solution/1400-1499/1406.Stone Game III/README_EN.md
  solution/1400-1499/1408.String Matching in an Array/README.md
  solution/1400-1499/1408.String Matching in an Array/README_EN.md
  solution/1400-1499/1408.String Matching in an Array/Solution.java
  solution/1400-1499/1408.String Matching in an Array/Solution.py
  solution/1400-1499/1408.String Matching in an Array/Solution.rs
  solution/1400-1499/1408.String Matching in an Array/Solution.ts
Labels: md, ts, py, java, rs, core team

#2160 feat: add solutions to lc problems: No.2970~2973
  solution/2900-2999/2970.Count the Number of Incremovable Subarrays I/README.md
  solution/2900-2999/2970.Count the Number of Incremovable Subarrays I/README_EN.md
  solution/2900-2999/2970.Count the Number of Incremovable Subarrays I/Solution.cpp
  solution/2900-2999/2970.Count the Number of Incremovable Subarrays I/Solution.go
  solution/2900-2999/2970.Count the Number of Incremovable Subarrays I/Solution.java
  solution/2900-2999/2970.Count the Number of Incremovable Subarrays I/Solution.py
  solution/2900-2999/2970.Count the Number of Incremovable Subarrays I/Solution.ts
  solution/2900-2999/2971.Find Polygon With the Largest Perimeter/README.md
  solution/2900-2999/2971.Find Polygon With the Largest Perimeter/README_EN.md
  solution/2900-2999/2971.Find Polygon With the Largest Perimeter/Solution.cpp
  solution/2900-2999/2971.Find Polygon With the Largest Perimeter/Solution.go
  solution/2900-2999/2971.Find Polygon With the Largest Perimeter/Solution.java
  solution/2900-2999/2971.Find Polygon With the Largest Perimeter/Solution.py
  solution/2900-2999/2971.Find Polygon With the Largest Perimeter/Solution.ts
  solution/2900-2999/2972.Count the Number of Incremovable Subarrays II/README.md
  solution/2900-2999/2972.Count the Number of Incremovable Subarrays II/README_EN.md
  solution/2900-2999/2972.Count the Number of Incremovable Subarrays II/Solution.cpp
  solution/2900-2999/2972.Count the Number of Incremovable Subarrays II/Solution.go
  solution/2900-2999/2972.Count the Number of Incremovable Subarrays II/Solution.java
  solution/2900-2999/2972.Count the Number of Incremovable Subarrays II/Solution.py
  solution/2900-2999/2972.Count the Number of Incremovable Subarrays II/Solution.ts
  solution/2900-2999/2973.Find Number of Coins to Place in Tree Nodes/README.md
  solution/2900-2999/2973.Find Number of Coins to Place in Tree Nodes/README_EN.md
  solution/2900-2999/2973.Find Number of Coins to Place in Tree Nodes/Solution.cpp
  solution/2900-2999/2973.Find Number of Coins to Place in Tree Nodes/Solution.go
  solution/2900-2999/2973.Find Number of Coins to Place in Tree Nodes/Solution.java
  solution/2900-2999/2973.Find Number of Coins to Place in Tree Nodes/Solution.py
  solution/2900-2999/2973.Find Number of Coins to Place in Tree Nodes/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2161 feat: add solutions to lc problems: No.2976,2977
  solution/2900-2999/2976.Minimum Cost to Convert String I/README.md
  solution/2900-2999/2976.Minimum Cost to Convert String I/README_EN.md
  solution/2900-2999/2977.Minimum Cost to Convert String II/README.md
  solution/2900-2999/2977.Minimum Cost to Convert String II/README_EN.md
  solution/2900-2999/2977.Minimum Cost to Convert String II/Solution.cpp
  solution/2900-2999/2977.Minimum Cost to Convert String II/Solution.go
  solution/2900-2999/2977.Minimum Cost to Convert String II/Solution.java
  solution/2900-2999/2977.Minimum Cost to Convert String II/Solution.py
  solution/2900-2999/2977.Minimum Cost to Convert String II/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2162 feat: add solutions to lc problems: No.2978,2979
  solution/2900-2999/2978.Symmetric Coordinates/README.md
  solution/2900-2999/2978.Symmetric Coordinates/README_EN.md
  solution/2900-2999/2978.Symmetric Coordinates/Solution.sql
  solution/2900-2999/2979.Most Expensive Item That Can Not Be Bought/README.md
  solution/2900-2999/2979.Most Expensive Item That Can Not Be Bought/README_EN.md
  solution/2900-2999/2979.Most Expensive Item That Can Not Be Bought/Solution.cpp
  solution/2900-2999/2979.Most Expensive Item That Can Not Be Bought/Solution.go
  solution/2900-2999/2979.Most Expensive Item That Can Not Be Bought/Solution.java
  solution/2900-2999/2979.Most Expensive Item That Can Not Be Bought/Solution.py
  solution/2900-2999/2979.Most Expensive Item That Can Not Be Bought/Solution.rs
  solution/2900-2999/2979.Most Expensive Item That Can Not Be Bought/Solution.ts
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/DATABASE_README.md
  solution/DATABASE_README_EN.md
  solution/JAVASCRIPT_README.md
  solution/JAVASCRIPT_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/database-summary.md
  solution/database-summary_en.md
  solution/javascript-summary.md
  solution/main.py
  solution/summary.md
  solution/summary_en.md
Labels: md, ts, py, go, java, cpp, rs, core team, sql

#2163 Update README_EN.md
  solution/1500-1599/1531.String Compression II/README.md
  solution/1500-1599/1531.String Compression II/README_EN.md
Labels: md

#2165 feat: add solutions to lc problem: No.2974
  solution/2900-2999/2974.Minimum Number Game/README.md
  solution/2900-2999/2974.Minimum Number Game/README_EN.md
  solution/2900-2999/2974.Minimum Number Game/Solution.cpp
  solution/2900-2999/2974.Minimum Number Game/Solution.go
  solution/2900-2999/2974.Minimum Number Game/Solution.java
  solution/2900-2999/2974.Minimum Number Game/Solution.py
  solution/2900-2999/2974.Minimum Number Game/Solution.rs
  solution/2900-2999/2974.Minimum Number Game/Solution.ts
Labels: md, ts, py, go, java, cpp, rs, core team

#2166 feat: update lc problems
  solution/0000-0099/0052.N-Queens II/README.md
  solution/0000-0099/0052.N-Queens II/README_EN.md
  solution/0000-0099/0052.N-Queens II/Solution.py
  solution/0000-0099/0052.N-Queens II/Solution.ts
  solution/0000-0099/0063.Unique Paths II/README.md
  solution/0000-0099/0065.Valid Number/README.md
  solution/0000-0099/0069.Sqrt(x)/README.md
  solution/0000-0099/0069.Sqrt(x)/README_EN.md
  solution/0000-0099/0069.Sqrt(x)/Solution.cpp
  solution/0000-0099/0069.Sqrt(x)/Solution.cs
  solution/0000-0099/0069.Sqrt(x)/Solution.go
  solution/0000-0099/0069.Sqrt(x)/Solution.java
  solution/0000-0099/0069.Sqrt(x)/Solution.js
  solution/0000-0099/0069.Sqrt(x)/Solution.py
  solution/0000-0099/0069.Sqrt(x)/Solution.rs
  solution/0000-0099/0082.Remove Duplicates from Sorted List II/README.md
  solution/2700-2799/2706.Buy Two Chocolates/README.md
  solution/README.md
  solution/README_EN.md
  solution/main.py
  solution/summary.md
Labels: js, md, ts, py, go, java, cpp, rs, core team, cs

#2167 feat: update solutions to lc problems: No.0083,0095
  solution/0000-0099/0083.Remove Duplicates from Sorted List/README.md
  solution/0000-0099/0083.Remove Duplicates from Sorted List/README_EN.md
  solution/0000-0099/0083.Remove Duplicates from Sorted List/Solution.cs
  solution/0000-0099/0083.Remove Duplicates from Sorted List/Solution.go
  solution/0000-0099/0083.Remove Duplicates from Sorted List/Solution.js
  solution/0000-0099/0083.Remove Duplicates from Sorted List/Solution.py
  solution/0000-0099/0095.Unique Binary Search Trees II/README.md
  solution/0000-0099/0095.Unique Binary Search Trees II/README_EN.md
  solution/0000-0099/0095.Unique Binary Search Trees II/Solution.cpp
  solution/0000-0099/0095.Unique Binary Search Trees II/Solution.go
  solution/0000-0099/0095.Unique Binary Search Trees II/Solution.java
  solution/0000-0099/0095.Unique Binary Search Trees II/Solution.py
  solution/0000-0099/0095.Unique Binary Search Trees II/Solution.rs
  solution/0000-0099/0095.Unique Binary Search Trees II/Solution.ts
Labels: js, md, ts, py, go, java, cpp, rs, core team, cs

#2168 feat: add ts solution to lc problem: No.1185
  solution/1100-1199/1185.Day of the Week/README.md
  solution/1100-1199/1185.Day of the Week/README_EN.md
  solution/1100-1199/1185.Day of the Week/Solution.ts
Labels: md, ts, core team

#2169 feat: add ts solution to lc problem: No.1154
  solution/1100-1199/1154.Day of the Year/README.md
  solution/1100-1199/1154.Day of the Year/README_EN.md
  solution/1100-1199/1154.Day of the Year/Solution.cpp
  solution/1100-1199/1154.Day of the Year/Solution.go
  solution/1100-1199/1154.Day of the Year/Solution.ts
Labels: md, ts, go, cpp, core team
