Repository doocs/leetcode, pull requests merged in 2023-10, with the labels that each got.

#1726 feat: add rust solution to lc problem: No.0096
  solution/0000-0099/0096.Unique Binary Search Trees/README.md
  solution/0000-0099/0096.Unique Binary Search Trees/README_EN.md
  solution/0000-0099/0096.Unique Binary Search Trees/Solution.rs
Labels: md, rs, core team

#1727 feat: add rust solution to lc problem: No.1048
  solution/1000-1099/1048.Longest String Chain/README.md
  solution/1000-1099/1048.Longest String Chain/README_EN.md
  solution/1000-1099/1048.Longest String Chain/Solution.rs
Labels: md, rs, core team

#1728 feat: add Java solutions to lc problems: No.2869~2872
  solution/2800-2899/2869.Minimum Operations to Collect Elements/README.md
  solution/2800-2899/2869.Minimum Operations to Collect Elements/README_EN.md
  solution/2800-2899/2869.Minimum Operations to Collect Elements/Solution.java
  solution/2800-2899/2870.Minimum Number of Operations to Make Array Empty/README.md
  solution/2800-2899/2870.Minimum Number of Operations to Make Array Empty/README_EN.md
  solution/2800-2899/2870.Minimum Number of Operations to Make Array Empty/Solution.java
  solution/2800-2899/2871.Split Array Into Maximum Number of Subarrays/README.md
  solution/2800-2899/2871.Split Array Into Maximum Number of Subarrays/README_EN.md
  solution/2800-2899/2871.Split Array Into Maximum Number of Subarrays/Solution.java
  solution/2800-2899/2872.Maximum Number of K-Divisible Components/README.md
  solution/2800-2899/2872.Maximum Number of K-Divisible Components/README_EN.md
  solution/2800-2899/2872.Maximum Number of K-Divisible Components/Solution.java
  solution/2800-2899/2872.Maximum Number of K-Divisible Components/images/example1.jpg
  solution/2800-2899/2872.Maximum Number of K-Divisible Components/images/example2.jpg
Labels: md, java, json, jpg

#1730 feat: update lc problems
  solution/2800-2899/2869.Minimum Operations to Collect Elements/README.md
  solution/2800-2899/2869.Minimum Operations to Collect Elements/README_EN.md
  solution/2800-2899/2870.Minimum Number of Operations to Make Array Empty/README.md
  solution/2800-2899/2870.Minimum Number of Operations to Make Array Empty/README_EN.md
  solution/2800-2899/2871.Split Array Into Maximum Number of Subarrays/README.md
  solution/2800-2899/2871.Split Array Into Maximum Number of Subarrays/README_EN.md
  solution/2800-2899/2872.Maximum Number of K-Divisible Components/README.md
  solution/2800-2899/2872.Maximum Number of K-Divisible Components/README_EN.md
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/summary.md
  solution/summary_en.md
Labels: md, py, core team

#1731 feat: add solutions to lc problem: No.2869
  solution/2800-2899/2869.Minimum Operations to Collect Elements/README.md
  solution/2800-2899/2869.Minimum Operations to Collect Elements/README_EN.md
  solution/2800-2899/2869.Minimum Operations to Collect Elements/Solution.cpp
  solution/2800-2899/2869.Minimum Operations to Collect Elements/Solution.go
  solution/2800-2899/2869.Minimum Operations to Collect Elements/Solution.java
  solution/2800-2899/2869.Minimum Operations to Collect Elements/Solution.py
  solution/2800-2899/2869.Minimum Operations to Collect Elements/Solution.ts
  solution/2800-2899/2872.Maximum Number of K-Divisible Components/images/example12-cropped2svg.jpg
  solution/2800-2899/2872.Maximum Number of K-Divisible Components/images/example21svg-1.jpg
Labels: md, ts, py, go, java, cpp, core team, jpg

#1732 feat: add solutions to lc problem: No.2870
  solution/2800-2899/2870.Minimum Number of Operations to Make Array Empty/README.md
  solution/2800-2899/2870.Minimum Number of Operations to Make Array Empty/README_EN.md
  solution/2800-2899/2870.Minimum Number of Operations to Make Array Empty/Solution.cpp
  solution/2800-2899/2870.Minimum Number of Operations to Make Array Empty/Solution.go
  solution/2800-2899/2870.Minimum Number of Operations to Make Array Empty/Solution.java
  solution/2800-2899/2870.Minimum Number of Operations to Make Array Empty/Solution.py
  solution/2800-2899/2870.Minimum Number of Operations to Make Array Empty/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#1734 feat: add solutions to lc problem: No.2871
  solution/2800-2899/2871.Split Array Into Maximum Number of Subarrays/README.md
  solution/2800-2899/2871.Split Array Into Maximum Number of Subarrays/README_EN.md
  solution/2800-2899/2871.Split Array Into Maximum Number of Subarrays/Solution.cpp
  solution/2800-2899/2871.Split Array Into Maximum Number of Subarrays/Solution.go
  solution/2800-2899/2871.Split Array Into Maximum Number of Subarrays/Solution.py
  solution/2800-2899/2871.Split Array Into Maximum Number of Subarrays/Solution.ts
Labels: md, ts, py, go, cpp, core team

#1733 feat: add new lc problems: No.2873~2876
  solution/2800-2899/2873.Maximum Value of an Ordered Triplet I/README.md
  solution/2800-2899/2873.Maximum Value of an Ordered Triplet I/README_EN.md
  solution/2800-2899/2874.Maximum Value of an Ordered Triplet II/README.md
  solution/2800-2899/2874.Maximum Value of an Ordered Triplet II/README_EN.md
  solution/2800-2899/2875.Minimum Size Subarray in Infinite Array/README.md
  solution/2800-2899/2875.Minimum Size Subarray in Infinite Array/README_EN.md
  solution/2800-2899/2876.Count Visited Nodes in a Directed Graph/README.md
  solution/2800-2899/2876.Count Visited Nodes in a Directed Graph/README_EN.md
  solution/2800-2899/2876.Count Visited Nodes in a Directed Graph/images/graaph2drawio.png
  solution/2800-2899/2876.Count Visited Nodes in a Directed Graph/images/graaphdrawio-1.png
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/summary.md
  solution/summary_en.md
Labels: md, core team, png

#1736 feat: add Java solutions to lc problems: No.2873~2876
  solution/2800-2899/2873.Maximum Value of an Ordered Triplet I/README.md
  solution/2800-2899/2873.Maximum Value of an Ordered Triplet I/README_EN.md
  solution/2800-2899/2873.Maximum Value of an Ordered Triplet I/Solution.java
  solution/2800-2899/2874.Maximum Value of an Ordered Triplet II/README.md
  solution/2800-2899/2874.Maximum Value of an Ordered Triplet II/README_EN.md
  solution/2800-2899/2874.Maximum Value of an Ordered Triplet II/Solution.java
  solution/2800-2899/2875.Minimum Size Subarray in Infinite Array/README.md
  solution/2800-2899/2875.Minimum Size Subarray in Infinite Array/README_EN.md
  solution/2800-2899/2875.Minimum Size Subarray in Infinite Array/Solution.java
  solution/2800-2899/2876.Count Visited Nodes in a Directed Graph/README.md
  solution/2800-2899/2876.Count Visited Nodes in a Directed Graph/README_EN.md
  solution/2800-2899/2876.Count Visited Nodes in a Directed Graph/Solution.java
Labels: md, java

#1737 feat: add solutions to lc problems: No.2873,2874
  solution/2800-2899/2873.Maximum Value of an Ordered Triplet I/README.md
  solution/2800-2899/2873.Maximum Value of an Ordered Triplet I/README_EN.md
  solution/2800-2899/2873.Maximum Value of an Ordered Triplet I/Solution.cpp
  solution/2800-2899/2873.Maximum Value of an Ordered Triplet I/Solution.go
  solution/2800-2899/2873.Maximum Value of an Ordered Triplet I/Solution.py
  solution/2800-2899/2873.Maximum Value of an Ordered Triplet I/Solution.ts
  solution/2800-2899/2874.Maximum Value of an Ordered Triplet II/README.md
  solution/2800-2899/2874.Maximum Value of an Ordered Triplet II/README_EN.md
  solution/2800-2899/2874.Maximum Value of an Ordered Triplet II/Solution.cpp
  solution/2800-2899/2874.Maximum Value of an Ordered Triplet II/Solution.go
  solution/2800-2899/2874.Maximum Value of an Ordered Triplet II/Solution.py
  solution/2800-2899/2874.Maximum Value of an Ordered Triplet II/Solution.ts
Labels: md, ts, py, go, cpp, core team

#1738 feat: add solutions to lc problem: No.2872
  solution/2800-2899/2872.Maximum Number of K-Divisible Components/README.md
  solution/2800-2899/2872.Maximum Number of K-Divisible Components/README_EN.md
  solution/2800-2899/2872.Maximum Number of K-Divisible Components/Solution.cpp
  solution/2800-2899/2872.Maximum Number of K-Divisible Components/Solution.go
  solution/2800-2899/2872.Maximum Number of K-Divisible Components/Solution.java
  solution/2800-2899/2872.Maximum Number of K-Divisible Components/Solution.py
  solution/2800-2899/2872.Maximum Number of K-Divisible Components/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#1739 chore: update lc problems
  solution/0100-0199/0123.Best Time to Buy and Sell Stock III/README.md
  solution/0100-0199/0123.Best Time to Buy and Sell Stock III/README_EN.md
  solution/0100-0199/0123.Best Time to Buy and Sell Stock III/Solution.cs
  solution/0100-0199/0123.Best Time to Buy and Sell Stock III/Solution.ts
  solution/0400-0499/0489.Robot Room Cleaner/README.md
  solution/0400-0499/0489.Robot Room Cleaner/images/1695782910-iCEGqJ-image.png
  solution/2200-2299/2261.K Divisible Elements Subarrays/README_EN.md
  solution/2700-2799/2782.Number of Unique Categories/README.md
  solution/2700-2799/2782.Number of Unique Categories/README_EN.md
  solution/2800-2899/2872.Maximum Number of K-Divisible Components/README.md
  solution/README.md
  solution/README_EN.md
Labels: md, ts, core team, cs, png

#1740 feat: add solutions to lc problem: No.2875
  solution/2800-2899/2875.Minimum Size Subarray in Infinite Array/README.md
  solution/2800-2899/2875.Minimum Size Subarray in Infinite Array/README_EN.md
  solution/2800-2899/2875.Minimum Size Subarray in Infinite Array/Solution.cpp
  solution/2800-2899/2875.Minimum Size Subarray in Infinite Array/Solution.go
  solution/2800-2899/2875.Minimum Size Subarray in Infinite Array/Solution.java
  solution/2800-2899/2875.Minimum Size Subarray in Infinite Array/Solution.py
  solution/2800-2899/2875.Minimum Size Subarray in Infinite Array/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#1743 feat: add solutions to lc problem: No.0188
  solution/0100-0199/0188.Best Time to Buy and Sell Stock IV/README.md
  solution/0100-0199/0188.Best Time to Buy and Sell Stock IV/README_EN.md
  solution/0100-0199/0188.Best Time to Buy and Sell Stock IV/Solution.cpp
  solution/0100-0199/0188.Best Time to Buy and Sell Stock IV/Solution.cs
  solution/0100-0199/0188.Best Time to Buy and Sell Stock IV/Solution.go
  solution/0100-0199/0188.Best Time to Buy and Sell Stock IV/Solution.java
  solution/0100-0199/0188.Best Time to Buy and Sell Stock IV/Solution.py
  solution/0100-0199/0188.Best Time to Buy and Sell Stock IV/Solution.ts
Labels: md, ts, py, go, java, cpp, core team, cs

#1744 feat: add solutions to lc problem: No.0309
  solution/0300-0399/0309.Best Time to Buy and Sell Stock with Cooldown/README.md
  solution/0300-0399/0309.Best Time to Buy and Sell Stock with Cooldown/README_EN.md
  solution/0300-0399/0309.Best Time to Buy and Sell Stock with Cooldown/Solution.cpp
  solution/0300-0399/0309.Best Time to Buy and Sell Stock with Cooldown/Solution.go
  solution/0300-0399/0309.Best Time to Buy and Sell Stock with Cooldown/Solution.java
  solution/0300-0399/0309.Best Time to Buy and Sell Stock with Cooldown/Solution.py
  solution/0300-0399/0309.Best Time to Buy and Sell Stock with Cooldown/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#1746 feat: add solutions to lc problem: No.0714
  solution/0700-0799/0714.Best Time to Buy and Sell Stock with Transaction Fee/README.md
  solution/0700-0799/0714.Best Time to Buy and Sell Stock with Transaction Fee/README_EN.md
  solution/0700-0799/0714.Best Time to Buy and Sell Stock with Transaction Fee/Solution.cpp
  solution/0700-0799/0714.Best Time to Buy and Sell Stock with Transaction Fee/Solution.go
  solution/0700-0799/0714.Best Time to Buy and Sell Stock with Transaction Fee/Solution.java
  solution/0700-0799/0714.Best Time to Buy and Sell Stock with Transaction Fee/Solution.py
  solution/0700-0799/0714.Best Time to Buy and Sell Stock with Transaction Fee/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#1747 chore: update linter workflow
  .github/workflows/black-lint.yml
  .github/workflows/pretter-lint.yml
Labels: core team, yml

#1748 feat: add solutions to lc problems: No.1389,1402
  solution/1300-1399/1389.Create Target Array in the Given Order/README.md
  solution/1300-1399/1389.Create Target Array in the Given Order/README_EN.md
  solution/1300-1399/1389.Create Target Array in the Given Order/Solution.go
  solution/1300-1399/1389.Create Target Array in the Given Order/Solution.java
  solution/1300-1399/1389.Create Target Array in the Given Order/Solution.py
  solution/1400-1499/1402.Reducing Dishes/README.md
  solution/1400-1499/1402.Reducing Dishes/README_EN.md
  solution/1400-1499/1402.Reducing Dishes/Solution.cpp
  solution/1400-1499/1402.Reducing Dishes/Solution.go
  solution/1400-1499/1402.Reducing Dishes/Solution.java
  solution/1400-1499/1402.Reducing Dishes/Solution.py
  solution/1400-1499/1402.Reducing Dishes/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#1749 chore: add new lc problems
  solution/2800-2899/2877.Create a DataFrame from List/README.md
  solution/2800-2899/2877.Create a DataFrame from List/README_EN.md
  solution/2800-2899/2878.Get the Size of a DataFrame/README.md
  solution/2800-2899/2878.Get the Size of a DataFrame/README_EN.md
  solution/2800-2899/2879.Display the First Three Rows/README.md
  solution/2800-2899/2879.Display the First Three Rows/README_EN.md
  solution/2800-2899/2880.Select Data/README.md
  solution/2800-2899/2880.Select Data/README_EN.md
  solution/2800-2899/2881.Create a New Column/README.md
  solution/2800-2899/2881.Create a New Column/README_EN.md
  solution/2800-2899/2882.Drop Duplicate Rows/README.md
  solution/2800-2899/2882.Drop Duplicate Rows/README_EN.md
  solution/2800-2899/2883.Drop Missing Data/README.md
  solution/2800-2899/2883.Drop Missing Data/README_EN.md
  solution/2800-2899/2884.Modify Columns/README.md
  solution/2800-2899/2884.Modify Columns/README_EN.md
  solution/2800-2899/2885.Rename Columns/README.md
  solution/2800-2899/2885.Rename Columns/README_EN.md
  solution/2800-2899/2886.Change Data Type/README.md
  solution/2800-2899/2886.Change Data Type/README_EN.md
  solution/2800-2899/2887.Fill Missing Data/README.md
  solution/2800-2899/2887.Fill Missing Data/README_EN.md
  solution/2800-2899/2888.Reshape Data Concatenate/README.md
  solution/2800-2899/2888.Reshape Data Concatenate/README_EN.md
  solution/2800-2899/2889.Reshape Data Pivot/README.md
  solution/2800-2899/2889.Reshape Data Pivot/README_EN.md
  solution/2800-2899/2890.Reshape Data Melt/README.md
  solution/2800-2899/2890.Reshape Data Melt/README_EN.md
  solution/2800-2899/2891.Method Chaining/README.md
  solution/2800-2899/2891.Method Chaining/README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/summary.md
  solution/summary_en.md
Labels: md, core team

#1750 feat: add pandas solutions to lc problems: No.2877~2891
  solution/2800-2899/2877.Create a DataFrame from List/README.md
  solution/2800-2899/2877.Create a DataFrame from List/README_EN.md
  solution/2800-2899/2877.Create a DataFrame from List/Solution.py
  solution/2800-2899/2878.Get the Size of a DataFrame/README.md
  solution/2800-2899/2878.Get the Size of a DataFrame/README_EN.md
  solution/2800-2899/2878.Get the Size of a DataFrame/Solution.py
  solution/2800-2899/2879.Display the First Three Rows/README.md
  solution/2800-2899/2879.Display the First Three Rows/README_EN.md
  solution/2800-2899/2879.Display the First Three Rows/Solution.py
  solution/2800-2899/2880.Select Data/README.md
  solution/2800-2899/2880.Select Data/README_EN.md
  solution/2800-2899/2880.Select Data/Solution.py
  solution/2800-2899/2881.Create a New Column/README.md
  solution/2800-2899/2881.Create a New Column/README_EN.md
  solution/2800-2899/2881.Create a New Column/Solution.py
  solution/2800-2899/2882.Drop Duplicate Rows/README.md
  solution/2800-2899/2882.Drop Duplicate Rows/README_EN.md
  solution/2800-2899/2882.Drop Duplicate Rows/Solution.py
  solution/2800-2899/2883.Drop Missing Data/README.md
  solution/2800-2899/2883.Drop Missing Data/README_EN.md
  solution/2800-2899/2883.Drop Missing Data/Solution.py
  solution/2800-2899/2884.Modify Columns/README.md
  solution/2800-2899/2884.Modify Columns/README_EN.md
  solution/2800-2899/2884.Modify Columns/Solution.py
  solution/2800-2899/2885.Rename Columns/README.md
  solution/2800-2899/2885.Rename Columns/README_EN.md
  solution/2800-2899/2885.Rename Columns/Solution.py
  solution/2800-2899/2886.Change Data Type/README.md
  solution/2800-2899/2886.Change Data Type/README_EN.md
  solution/2800-2899/2886.Change Data Type/Solution.py
  solution/2800-2899/2887.Fill Missing Data/README.md
  solution/2800-2899/2887.Fill Missing Data/README_EN.md
  solution/2800-2899/2887.Fill Missing Data/Solution.py
  solution/2800-2899/2888.Reshape Data Concatenate/README.md
  solution/2800-2899/2888.Reshape Data Concatenate/README_EN.md
  solution/2800-2899/2888.Reshape Data Concatenate/Solution.py
  solution/2800-2899/2889.Reshape Data Pivot/README.md
  solution/2800-2899/2889.Reshape Data Pivot/README_EN.md
  solution/2800-2899/2889.Reshape Data Pivot/Solution.py
  solution/2800-2899/2890.Reshape Data Melt/README.md
  solution/2800-2899/2890.Reshape Data Melt/README_EN.md
  solution/2800-2899/2890.Reshape Data Melt/Solution.py
  solution/2800-2899/2891.Method Chaining/README.md
  solution/2800-2899/2891.Method Chaining/README_EN.md
  solution/2800-2899/2891.Method Chaining/Solution.py
Labels: md, py, core team

#1752 feat: add solutions to lc problem: No.1007
  solution/1000-1099/1007.Minimum Domino Rotations For Equal Row/README.md
  solution/1000-1099/1007.Minimum Domino Rotations For Equal Row/README_EN.md
  solution/1000-1099/1007.Minimum Domino Rotations For Equal Row/Solution.cpp
  solution/1000-1099/1007.Minimum Domino Rotations For Equal Row/Solution.go
  solution/1000-1099/1007.Minimum Domino Rotations For Equal Row/Solution.java
  solution/1000-1099/1007.Minimum Domino Rotations For Equal Row/Solution.py
  solution/1000-1099/1007.Minimum Domino Rotations For Equal Row/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#1753 feat: add solutions to lc problem: No.2892
  solution/2800-2899/2892.Minimizing Array After Replacing Pairs With Their Product/README.md
  solution/2800-2899/2892.Minimizing Array After Replacing Pairs With Their Product/README_EN.md
  solution/2800-2899/2892.Minimizing Array After Replacing Pairs With Their Product/Solution.cpp
  solution/2800-2899/2892.Minimizing Array After Replacing Pairs With Their Product/Solution.go
  solution/2800-2899/2892.Minimizing Array After Replacing Pairs With Their Product/Solution.java
  solution/2800-2899/2892.Minimizing Array After Replacing Pairs With Their Product/Solution.py
  solution/2800-2899/2892.Minimizing Array After Replacing Pairs With Their Product/Solution.ts
  solution/README.md
  solution/README_EN.md
  solution/summary.md
  solution/summary_en.md
Labels: md, ts, py, go, java, cpp, core team

#1754 feat: add solutions to lc problem: No.0901
  solution/0900-0999/0901.Online Stock Span/README.md
  solution/0900-0999/0901.Online Stock Span/README_EN.md
  solution/0900-0999/0901.Online Stock Span/Solution.cpp
  solution/0900-0999/0901.Online Stock Span/Solution.rs
  solution/0900-0999/0901.Online Stock Span/Solution.ts
Labels: md, ts, cpp, rs, core team

#1755 feat: add solutions to lcp problem: No.10
  lcp/LCP 10. 二叉树任务调度/README.md
  lcp/LCP 10. 二叉树任务调度/Solution.cpp
  lcp/LCP 10. 二叉树任务调度/Solution.go
  lcp/LCP 10. 二叉树任务调度/Solution.java
  lcp/LCP 10. 二叉树任务调度/Solution.py
  lcp/LCP 10. 二叉树任务调度/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#1756 feat: add ts solutions to lcp problems: No.11,12
  lcp/LCP 11. 期望个数统计/README.md
  lcp/LCP 11. 期望个数统计/Solution.ts
  lcp/LCP 12. 小张刷题计划/README.md
  lcp/LCP 12. 小张刷题计划/Solution.ts
Labels: md, ts, core team

#1757 feat: add solutions to lc problem: No.2714
  solution/2700-2799/2714.Find Shortest Path with K Hops/README.md
  solution/2700-2799/2714.Find Shortest Path with K Hops/README_EN.md
  solution/2700-2799/2714.Find Shortest Path with K Hops/Solution.cpp
  solution/2700-2799/2714.Find Shortest Path with K Hops/Solution.go
  solution/2700-2799/2714.Find Shortest Path with K Hops/Solution.java
  solution/2700-2799/2714.Find Shortest Path with K Hops/Solution.py
Labels: md, py, go, java, cpp, core team

#1759 feat: add solutions to lc problems: No.1817,1826,1833,1835,1836
  solution/1800-1899/1817.Finding the Users Active Minutes/README.md
  solution/1800-1899/1817.Finding the Users Active Minutes/README_EN.md
  solution/1800-1899/1817.Finding the Users Active Minutes/Solution.ts
  solution/1800-1899/1819.Number of Different Subsequences GCDs/README.md
  solution/1800-1899/1826.Faulty Sensor/README.md
  solution/1800-1899/1826.Faulty Sensor/README_EN.md
  solution/1800-1899/1826.Faulty Sensor/Solution.ts
  solution/1800-1899/1833.Maximum Ice Cream Bars/README.md
  solution/1800-1899/1833.Maximum Ice Cream Bars/README_EN.md
  solution/1800-1899/1833.Maximum Ice Cream Bars/Solution.ts
  solution/1800-1899/1835.Find XOR Sum of All Pairs Bitwise AND/README.md
  solution/1800-1899/1835.Find XOR Sum of All Pairs Bitwise AND/README_EN.md
  solution/1800-1899/1835.Find XOR Sum of All Pairs Bitwise AND/Solution.ts
  solution/1800-1899/1836.Remove Duplicates From an Unsorted Linked List/README.md
  solution/1800-1899/1836.Remove Duplicates From an Unsorted Linked List/README_EN.md
  solution/1800-1899/1836.Remove Duplicates From an Unsorted Linked List/Solution.ts
Labels: md, ts, core team

#1760 feat: add solutions to lcci problem: No.16.04
  lcci/16.04.Tic-Tac-Toe/README.md
  lcci/16.04.Tic-Tac-Toe/README_EN.md
  lcci/16.04.Tic-Tac-Toe/Solution.cpp
  lcci/16.04.Tic-Tac-Toe/Solution.go
  lcci/16.04.Tic-Tac-Toe/Solution.java
  lcci/16.04.Tic-Tac-Toe/Solution.py
  lcci/16.04.Tic-Tac-Toe/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#1761 feat: add solutions to lc problem: No.2034
  solution/2000-2099/2034.Stock Price Fluctuation/README.md
  solution/2000-2099/2034.Stock Price Fluctuation/README_EN.md
  solution/2000-2099/2034.Stock Price Fluctuation/Solution.cpp
  solution/2000-2099/2034.Stock Price Fluctuation/Solution.go
  solution/2000-2099/2034.Stock Price Fluctuation/Solution.java
  solution/2000-2099/2034.Stock Price Fluctuation/Solution.py
Labels: md, py, go, java, cpp, core team

#1762 feat: add solutions to lc problem: No.2036
  solution/2000-2099/2036.Maximum Alternating Subarray Sum/README.md
  solution/2000-2099/2036.Maximum Alternating Subarray Sum/README_EN.md
  solution/2000-2099/2036.Maximum Alternating Subarray Sum/Solution.cpp
  solution/2000-2099/2036.Maximum Alternating Subarray Sum/Solution.go
  solution/2000-2099/2036.Maximum Alternating Subarray Sum/Solution.java
  solution/2000-2099/2036.Maximum Alternating Subarray Sum/Solution.py
  solution/2000-2099/2036.Maximum Alternating Subarray Sum/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#1763 feat: add solutions to lc problems: No.2038,2039
  solution/2000-2099/2038.Remove Colored Pieces if Both Neighbors are the Same Color/README.md
  solution/2000-2099/2038.Remove Colored Pieces if Both Neighbors are the Same Color/README_EN.md
  solution/2000-2099/2038.Remove Colored Pieces if Both Neighbors are the Same Color/Solution.ts
  solution/2000-2099/2039.The Time When the Network Becomes Idle/README.md
  solution/2000-2099/2039.The Time When the Network Becomes Idle/README_EN.md
  solution/2000-2099/2039.The Time When the Network Becomes Idle/Solution.cpp
  solution/2000-2099/2039.The Time When the Network Becomes Idle/Solution.go
  solution/2000-2099/2039.The Time When the Network Becomes Idle/Solution.java
  solution/2000-2099/2039.The Time When the Network Becomes Idle/Solution.py
  solution/2000-2099/2039.The Time When the Network Becomes Idle/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#1764 feat: add new lc problems: No.2894~2897
  solution/2800-2899/2894.Divisible and Non-divisible Sums Difference/README.md
  solution/2800-2899/2894.Divisible and Non-divisible Sums Difference/README_EN.md
  solution/2800-2899/2895.Minimum Processing Time/README.md
  solution/2800-2899/2895.Minimum Processing Time/README_EN.md
  solution/2800-2899/2896.Apply Operations to Make Two Strings Equal/README.md
  solution/2800-2899/2896.Apply Operations to Make Two Strings Equal/README_EN.md
  solution/2800-2899/2897.Apply Operations on Array to Maximize Sum of Squares/README.md
  solution/2800-2899/2897.Apply Operations on Array to Maximize Sum of Squares/README_EN.md
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/summary.md
  solution/summary_en.md
Labels: md, core team

#1765 feat: add solutions to lc problems: No.2894~2897
  solution/2800-2899/2894.Divisible and Non-divisible Sums Difference/README.md
  solution/2800-2899/2894.Divisible and Non-divisible Sums Difference/README_EN.md
  solution/2800-2899/2894.Divisible and Non-divisible Sums Difference/Solution.cpp
  solution/2800-2899/2894.Divisible and Non-divisible Sums Difference/Solution.go
  solution/2800-2899/2894.Divisible and Non-divisible Sums Difference/Solution.java
  solution/2800-2899/2894.Divisible and Non-divisible Sums Difference/Solution.py
  solution/2800-2899/2894.Divisible and Non-divisible Sums Difference/Solution.ts
  solution/2800-2899/2895.Minimum Processing Time/README.md
  solution/2800-2899/2895.Minimum Processing Time/README_EN.md
  solution/2800-2899/2895.Minimum Processing Time/Solution.cpp
  solution/2800-2899/2895.Minimum Processing Time/Solution.go
  solution/2800-2899/2895.Minimum Processing Time/Solution.java
  solution/2800-2899/2895.Minimum Processing Time/Solution.py
  solution/2800-2899/2895.Minimum Processing Time/Solution.ts
  solution/2800-2899/2896.Apply Operations to Make Two Strings Equal/README.md
  solution/2800-2899/2896.Apply Operations to Make Two Strings Equal/README_EN.md
  solution/2800-2899/2896.Apply Operations to Make Two Strings Equal/Solution.cpp
  solution/2800-2899/2896.Apply Operations to Make Two Strings Equal/Solution.go
  solution/2800-2899/2896.Apply Operations to Make Two Strings Equal/Solution.java
  solution/2800-2899/2896.Apply Operations to Make Two Strings Equal/Solution.py
  solution/2800-2899/2896.Apply Operations to Make Two Strings Equal/Solution.ts
  solution/2800-2899/2897.Apply Operations on Array to Maximize Sum of Squares/README.md
  solution/2800-2899/2897.Apply Operations on Array to Maximize Sum of Squares/README_EN.md
  solution/2800-2899/2897.Apply Operations on Array to Maximize Sum of Squares/Solution.cpp
  solution/2800-2899/2897.Apply Operations on Array to Maximize Sum of Squares/Solution.go
  solution/2800-2899/2897.Apply Operations on Array to Maximize Sum of Squares/Solution.java
  solution/2800-2899/2897.Apply Operations on Array to Maximize Sum of Squares/Solution.py
  solution/2800-2899/2897.Apply Operations on Array to Maximize Sum of Squares/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#1766 chore: update lc problems
  .github/workflows/sync.yml
  solution/2800-2899/2877.Create a DataFrame from List/README.md
  solution/2800-2899/2881.Create a New Column/README.md
  solution/2800-2899/2882.Drop Duplicate Rows/README.md
  solution/2800-2899/2883.Drop Missing Data/README.md
  solution/2800-2899/2884.Modify Columns/README.md
  solution/2800-2899/2885.Rename Columns/README.md
  solution/2800-2899/2886.Change Data Type/README.md
  solution/2800-2899/2887.Fill Missing Data/README.md
  solution/2800-2899/2888.Reshape Data Concatenate/README.md
  solution/2800-2899/2890.Reshape Data Melt/README.md
  solution/2800-2899/2892.Minimizing Array After Replacing Pairs With Their Product/README.md
  solution/README.md
  solution/README_EN.md
  solution/summary.md
Labels: md, core team, yml

#1767 feat: add solutions to lc problem: No.1521
  solution/1500-1599/1521.Find a Value of a Mysterious Function Closest to Target/README.md
  solution/1500-1599/1521.Find a Value of a Mysterious Function Closest to Target/README_EN.md
  solution/1500-1599/1521.Find a Value of a Mysterious Function Closest to Target/Solution.cpp
  solution/1500-1599/1521.Find a Value of a Mysterious Function Closest to Target/Solution.go
  solution/1500-1599/1521.Find a Value of a Mysterious Function Closest to Target/Solution.java
  solution/1500-1599/1521.Find a Value of a Mysterious Function Closest to Target/Solution.py
  solution/1500-1599/1521.Find a Value of a Mysterious Function Closest to Target/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#1768 feat: add solutions to lc/lcci problems
  lcci/16.13.Bisect Squares/README.md
  lcci/16.13.Bisect Squares/README_EN.md
  lcci/16.13.Bisect Squares/Solution.cpp
  lcci/16.13.Bisect Squares/Solution.go
  lcci/16.13.Bisect Squares/Solution.java
  lcci/16.13.Bisect Squares/Solution.py
  lcci/16.13.Bisect Squares/Solution.ts
  solution/2500-2599/2578.Split With Minimum Sum/README.md
  solution/2500-2599/2578.Split With Minimum Sum/README_EN.md
  solution/2500-2599/2578.Split With Minimum Sum/Solution.ts
  solution/2500-2599/2579.Count Total Number of Colored Cells/README.md
  solution/2500-2599/2579.Count Total Number of Colored Cells/README_EN.md
  solution/2500-2599/2579.Count Total Number of Colored Cells/Solution.rs
Labels: md, ts, py, go, java, cpp, rs, core team

#1770 feat: add solutions to lcci problem: No.16.06
  lcci/16.06.Smallest Difference/README.md
  lcci/16.06.Smallest Difference/README_EN.md
  lcci/16.06.Smallest Difference/Solution.cpp
  lcci/16.06.Smallest Difference/Solution.go
  lcci/16.06.Smallest Difference/Solution.java
  lcci/16.06.Smallest Difference/Solution.py
  lcci/16.06.Smallest Difference/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#1772 chore: update readme Img domain
  .github/workflows/sync.yml
  README.md
  README_EN.md
Labels: md, core team, yml

#1771 feat: add solutions to lc problems: No.0162,0163
  solution/0100-0199/0162.Find Peak Element/README.md
  solution/0100-0199/0162.Find Peak Element/README_EN.md
  solution/0100-0199/0162.Find Peak Element/Solution.ts
  solution/0100-0199/0163.Missing Ranges/README.md
  solution/0100-0199/0163.Missing Ranges/README_EN.md
  solution/0100-0199/0163.Missing Ranges/Solution.cpp
  solution/0100-0199/0163.Missing Ranges/Solution.go
  solution/0100-0199/0163.Missing Ranges/Solution.java
  solution/0100-0199/0163.Missing Ranges/Solution.py
  solution/0100-0199/0163.Missing Ranges/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#1774 feat: add sql solution to lc problem: No.1978
  solution/1900-1999/1978.Employees Whose Manager Left the Company/README.md
  solution/1900-1999/1978.Employees Whose Manager Left the Company/README_EN.md
Labels: md, core team

#1777 chore: update lc problems
  .github/workflows/pretter-lint.yml
  solution/2800-2899/2877.Create a DataFrame from List/README.md
  solution/2800-2899/2878.Get the Size of a DataFrame/README.md
  solution/2800-2899/2879.Display the First Three Rows/README.md
  solution/2800-2899/2880.Select Data/README.md
  solution/2800-2899/2881.Create a New Column/README.md
  solution/2800-2899/2889.Reshape Data Pivot/README.md
  solution/2800-2899/2891.Method Chaining/README.md
  solution/JAVASCRIPT_README.md
  solution/JAVASCRIPT_README_EN.md
  solution/README.md
  solution/javascript-summary.md
  solution/main.py
  solution/summary.md
Labels: md, py, core team, yml

#1776 feat: add cpp solution to lc problem: No.0332
  solution/0300-0399/0332.Reconstruct Itinerary/README.md
  solution/0300-0399/0332.Reconstruct Itinerary/README_EN.md
  solution/0300-0399/0332.Reconstruct Itinerary/Solution.cpp
Labels: md, cpp, core team

#1778 chore: add prettier action
  .github/workflows/prettier.yml
Labels: core team, yml

#1780 feat: update sql solution to lc problem: No.1398
  solution/1300-1399/1398.Customers Who Bought Products A and B but Not C/README.md
  solution/1300-1399/1398.Customers Who Bought Products A and B but Not C/README_EN.md
  solution/1300-1399/1398.Customers Who Bought Products A and B but Not C/Solution.sql
Labels: md, core team, sql

#1781 feat: update sql solutions to lc problems: No.0607,1112,1407,1607
  solution/0100-0199/0175.Combine Two Tables/README_EN.md
  solution/0600-0699/0607.Sales Person/README.md
  solution/0600-0699/0607.Sales Person/README_EN.md
  solution/0600-0699/0607.Sales Person/Solution.sql
  solution/1100-1199/1112.Highest Grade For Each Student/README.md
  solution/1100-1199/1112.Highest Grade For Each Student/README_EN.md
  solution/1400-1499/1407.Top Travellers/README.md
  solution/1400-1499/1407.Top Travellers/README_EN.md
  solution/1600-1699/1607.Sellers With No Sales/README.md
  solution/1600-1699/1607.Sellers With No Sales/README_EN.md
  solution/1600-1699/1607.Sellers With No Sales/Solution.sql
Labels: md, core team, sql

#1782 feat: update sql solution to lc problem: No.1484
  solution/1400-1499/1484.Group Sold Products By The Date/README.md
  solution/1400-1499/1484.Group Sold Products By The Date/README_EN.md
  solution/1400-1499/1484.Group Sold Products By The Date/Solution.sql
Labels: md, core team, sql

#1783 feat: add new solutions to lc problems: No.2894 2896
  solution/2800-2899/2894.Divisible and Non-divisible Sums Difference/README.md
  solution/2800-2899/2894.Divisible and Non-divisible Sums Difference/README_EN.md
  solution/2800-2899/2896.Apply Operations to Make Two Strings Equal/README.md
  solution/2800-2899/2896.Apply Operations to Make Two Strings Equal/README_EN.md
Labels: md

#1784 feat: update solutions to lc problems
  solution/0500-0599/0511.Game Play Analysis I/README.md
  solution/0500-0599/0511.Game Play Analysis I/README_EN.md
  solution/0500-0599/0511.Game Play Analysis I/Solution.sql
  solution/0500-0599/0586.Customer Placing the Largest Number of Orders/README.md
  solution/0500-0599/0586.Customer Placing the Largest Number of Orders/README_EN.md
  solution/1200-1299/1212.Team Scores in Football Tournament/README.md
  solution/1200-1299/1212.Team Scores in Football Tournament/README_EN.md
  solution/1200-1299/1212.Team Scores in Football Tournament/Solution.sql
  solution/1400-1499/1440.Evaluate Boolean Expression/README.md
  solution/1400-1499/1440.Evaluate Boolean Expression/README_EN.md
  solution/1400-1499/1440.Evaluate Boolean Expression/Solution.sql
  solution/1500-1599/1571.Warehouse Manager/README.md
  solution/1500-1599/1571.Warehouse Manager/README_EN.md
  solution/1500-1599/1571.Warehouse Manager/Solution.sql
  solution/1700-1799/1741.Find Total Time Spent by Each Employee/README.md
  solution/1700-1799/1741.Find Total Time Spent by Each Employee/README_EN.md
  solution/1700-1799/1741.Find Total Time Spent by Each Employee/Solution.sql
  solution/1700-1799/1742.Maximum Number of Balls in a Box/README.md
  solution/1700-1799/1742.Maximum Number of Balls in a Box/README_EN.md
  solution/1700-1799/1742.Maximum Number of Balls in a Box/Solution.ts
  solution/1800-1899/1890.The Latest Login in 2020/README.md
  solution/1800-1899/1890.The Latest Login in 2020/README_EN.md
  solution/1800-1899/1890.The Latest Login in 2020/Solution.sql
  solution/2500-2599/2512.Reward Top K Students/README.md
  solution/2500-2599/2512.Reward Top K Students/README_EN.md
  solution/2500-2599/2512.Reward Top K Students/Solution.java
Labels: md, ts, java, core team, sql

#1785 feat: update sql solution to lc problem: No.1251
  solution/1200-1299/1251.Average Selling Price/README.md
  solution/1200-1299/1251.Average Selling Price/README_EN.md
  solution/1200-1299/1251.Average Selling Price/Solution.sql
Labels: md, core team, sql

#1786 chore: prettier changed file
  .github/workflows/prettier.yml
Labels: md, core team, yml, sql

#1787 feat: update solutions to lc problems: No.1173,1445
  .prettierrc
  solution/1100-1199/1173.Immediate Food Delivery I/README.md
  solution/1100-1199/1173.Immediate Food Delivery I/README_EN.md
  solution/1100-1199/1173.Immediate Food Delivery I/Solution.sql
  solution/1400-1499/1445.Apples & Oranges/README.md
  solution/1400-1499/1445.Apples & Oranges/README_EN.md
  solution/1400-1499/1445.Apples & Oranges/Solution.sql
Labels: md, core team, sql, prettierrc

#1788 feat: update solutions to lc problems
  .prettierignore
  .prettierrc
  solution/0100-0199/0182.Duplicate Emails/README.md
  solution/0100-0199/0182.Duplicate Emails/README_EN.md
  solution/0100-0199/0182.Duplicate Emails/Solution.sql
  solution/1000-1099/1050.Actors and Directors Who Cooperated At Least Three Times/README.md
  solution/1000-1099/1050.Actors and Directors Who Cooperated At Least Three Times/README_EN.md
  solution/1400-1499/1495.Friendly Movies Streamed Last Month/README.md
  solution/1400-1499/1495.Friendly Movies Streamed Last Month/README_EN.md
  solution/1400-1499/1495.Friendly Movies Streamed Last Month/Solution.sql
  solution/1500-1599/1511.Customer Order Frequency/README.md
  solution/1500-1599/1511.Customer Order Frequency/README_EN.md
  solution/1500-1599/1511.Customer Order Frequency/Solution.sql
  solution/1500-1599/1587.Bank Account Summary II/README.md
  solution/1500-1599/1587.Bank Account Summary II/README_EN.md
  solution/1500-1599/1587.Bank Account Summary II/Solution.sql
  solution/1600-1699/1693.Daily Leads and Partners/README.md
  solution/1600-1699/1693.Daily Leads and Partners/README_EN.md
  solution/1600-1699/1693.Daily Leads and Partners/Solution.sql
  solution/1600-1699/1699.Number of Calls Between Two Persons/README.md
  solution/1600-1699/1699.Number of Calls Between Two Persons/README_EN.md
  solution/1600-1699/1699.Number of Calls Between Two Persons/Solution.sql
  solution/2500-2599/2562.Find the Array Concatenation Value/README.md
  solution/2500-2599/2562.Find the Array Concatenation Value/README_EN.md
Labels: md, core team, sql, prettierignore, prettierrc

#1789 feat: add rust solution to lc problem: No.2009
  solution/2000-2099/2009.Minimum Number of Operations to Make Array Continuous/README.md
  solution/2000-2099/2009.Minimum Number of Operations to Make Array Continuous/README_EN.md
  solution/2000-2099/2009.Minimum Number of Operations to Make Array Continuous/Solution.rs
Labels: md, rs, core team

#1790 feat: update solutions to lc problems
  solution/0600-0699/0603.Consecutive Available Seats/README.md
  solution/0600-0699/0603.Consecutive Available Seats/README_EN.md
  solution/0600-0699/0603.Consecutive Available Seats/Solution.sql
  solution/0600-0699/0613.Shortest Distance in a Line/README.md
  solution/0600-0699/0613.Shortest Distance in a Line/README_EN.md
  solution/0600-0699/0613.Shortest Distance in a Line/Solution.sql
  solution/1500-1599/1501.Countries You Can Safely Invest In/README.md
  solution/1500-1599/1501.Countries You Can Safely Invest In/README_EN.md
  solution/1500-1599/1501.Countries You Can Safely Invest In/Solution.sql
  solution/1700-1799/1795.Rearrange Products Table/README.md
  solution/1700-1799/1795.Rearrange Products Table/README_EN.md
  solution/1700-1799/1795.Rearrange Products Table/Solution.sql
Labels: md, core team, sql

#1791 feat: update solutions to lc problems: No.0534,0608,1264,1965
  solution/0500-0599/0534.Game Play Analysis III/README.md
  solution/0500-0599/0534.Game Play Analysis III/README_EN.md
  solution/0600-0699/0608.Tree Node/README.md
  solution/0600-0699/0608.Tree Node/README_EN.md
  solution/1200-1299/1264.Page Recommendations/README.md
  solution/1200-1299/1264.Page Recommendations/README_EN.md
  solution/1900-1999/1965.Employees With Missing Information/README.md
  solution/1900-1999/1965.Employees With Missing Information/README_EN.md
  solution/1900-1999/1965.Employees With Missing Information/Solution.sql
Labels: md, core team, sql

#1792 feat: add solutions to lc problem: No.2898
  solution/2800-2899/2898.Maximum Linear Stock Score/README.md
  solution/2800-2899/2898.Maximum Linear Stock Score/README_EN.md
  solution/2800-2899/2898.Maximum Linear Stock Score/Solution.cpp
  solution/2800-2899/2898.Maximum Linear Stock Score/Solution.go
  solution/2800-2899/2898.Maximum Linear Stock Score/Solution.java
  solution/2800-2899/2898.Maximum Linear Stock Score/Solution.py
  solution/2800-2899/2898.Maximum Linear Stock Score/Solution.ts
  solution/README.md
  solution/README_EN.md
  solution/summary.md
  solution/summary_en.md
Labels: md, ts, py, go, java, cpp, core team

#1793 feat: update solutions to lc problems: No.0512,1303,1350,1747,1783
  solution/0500-0599/0512.Game Play Analysis II/README.md
  solution/0500-0599/0512.Game Play Analysis II/README_EN.md
  solution/0500-0599/0512.Game Play Analysis II/Solution.sql
  solution/1300-1399/1303.Find the Team Size/README.md
  solution/1300-1399/1303.Find the Team Size/README_EN.md
  solution/1300-1399/1303.Find the Team Size/Solution.sql
  solution/1300-1399/1350.Students With Invalid Departments/README.md
  solution/1300-1399/1350.Students With Invalid Departments/README_EN.md
  solution/1700-1799/1747.Leetflex Banned Accounts/README.md
  solution/1700-1799/1747.Leetflex Banned Accounts/README_EN.md
  solution/1700-1799/1783.Grand Slam Titles/README.md
  solution/1700-1799/1783.Grand Slam Titles/README_EN.md
  solution/1700-1799/1783.Grand Slam Titles/Solution.sql
Labels: md, core team, sql

#1794 feat: add rust solution to lc problem: No.1095
  solution/1000-1099/1095.Find in Mountain Array/README.md
  solution/1000-1099/1095.Find in Mountain Array/README_EN.md
  solution/1000-1099/1095.Find in Mountain Array/Solution.rs
Labels: md, rs, core team

#1795 chore: update lc problems
  solution/0000-0099/0074.Search a 2D Matrix/README.md
  solution/0100-0199/0138.Copy List with Random Pointer/README.md
  solution/0600-0699/0683.K Empty Slots/README.md
  solution/0900-0999/0981.Time Based Key-Value Store/README_EN.md
  solution/1100-1199/1159.Market Analysis II/README_EN.md
  solution/1300-1399/1349.Maximum Students Taking Exam/README_EN.md
  solution/1400-1499/1409.Queries on a Permutation With Key/README.md
  solution/1400-1499/1409.Queries on a Permutation With Key/README_EN.md
  solution/1400-1499/1420.Build Array Where You Can Find The Maximum Exactly K Comparisons/README.md
  solution/1400-1499/1420.Build Array Where You Can Find The Maximum Exactly K Comparisons/README_EN.md
  solution/2200-2299/2251.Number of Flowers in Full Bloom/README_EN.md
  solution/2600-2699/2668.Find Latest Salaries/README.md
  solution/2600-2699/2668.Find Latest Salaries/README_EN.md
  solution/2800-2899/2893.Calculate Orders Within Each Interval/README.md
  solution/DATABASE_README.md
  solution/DATABASE_README_EN.md
  solution/JAVASCRIPT_README.md
  solution/JAVASCRIPT_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/database-summary.md
  solution/summary.md
Labels: md

#1797 feat: update sql solution to lc problem: No.1142
  solution/1100-1199/1142.User Activity for the Past 30 Days II/README.md
  solution/1100-1199/1142.User Activity for the Past 30 Days II/README_EN.md
  solution/1100-1199/1142.User Activity for the Past 30 Days II/Solution.sql
Labels: md, core team, sql

#1798 feat: add solutions to lc problem: No.1285
  .prettierrc
  solution/1200-1299/1285.Find the Start and End Number of Continuous Ranges/README.md
  solution/1200-1299/1285.Find the Start and End Number of Continuous Ranges/README_EN.md
  solution/1200-1299/1285.Find the Start and End Number of Continuous Ranges/Solution.sql
Labels: md, core team, sql, prettierrc

#1800 feat: add solutions to lc problem: No.0683
  solution/0600-0699/0683.K Empty Slots/README.md
  solution/0600-0699/0683.K Empty Slots/README_EN.md
  solution/0600-0699/0683.K Empty Slots/Solution.cpp
  solution/0600-0699/0683.K Empty Slots/Solution.go
  solution/0600-0699/0683.K Empty Slots/Solution.java
  solution/0600-0699/0683.K Empty Slots/Solution.py
  solution/0600-0699/0683.K Empty Slots/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#1802 feat: add rust solution to lc problem: No.0148
  solution/0100-0199/0148.Sort List/README.md
  solution/0100-0199/0148.Sort List/README_EN.md
  solution/0100-0199/0148.Sort List/Solution.rs
Labels: md, rs, core team

#1803 feat: add solutions to lc problem: No.0268
  solution/0100-0199/0136.Single Number/README.md
  solution/0100-0199/0136.Single Number/README_EN.md
  solution/0200-0299/0268.Missing Number/README.md
  solution/0200-0299/0268.Missing Number/README_EN.md
  solution/0200-0299/0268.Missing Number/Solution.rs
  solution/0200-0299/0268.Missing Number/Solution.ts
  solution/0200-0299/0287.Find the Duplicate Number/README_EN.md
  solution/0600-0699/0645.Set Mismatch/README.md
  solution/0600-0699/0645.Set Mismatch/README_EN.md
  solution/0600-0699/0645.Set Mismatch/Solution.cpp
  solution/0600-0699/0645.Set Mismatch/Solution.go
  solution/0600-0699/0645.Set Mismatch/Solution.java
  solution/0600-0699/0645.Set Mismatch/Solution.py
  solution/0600-0699/0645.Set Mismatch/Solution.rs
  solution/0600-0699/0645.Set Mismatch/Solution.ts
Labels: md, ts, py, go, java, cpp, rs, core team

#1804 feat: add rust solution to lc problem: No.2898
  solution/2800-2899/2898.Maximum Linear Stock Score/README.md
  solution/2800-2899/2898.Maximum Linear Stock Score/README_EN.md
  solution/2800-2899/2898.Maximum Linear Stock Score/Solution.rs
Labels: md, rs, core team

#1805 Added Solution for 1912. Movie Rental System in python.
  solution/1900-1999/1912.Design Movie Rental System/README.md
  solution/1900-1999/1912.Design Movie Rental System/README_EN.md
  solution/1900-1999/1912.Design Movie Rental System/Solution.py
Labels: md, py

#1806 chore: update lc problems
  solution/2800-2899/2899.Last Visited Integers/README.md
  solution/2800-2899/2899.Last Visited Integers/README_EN.md
  solution/2900-2999/2900.Longest Unequal Adjacent Groups Subsequence I/README.md
  solution/2900-2999/2900.Longest Unequal Adjacent Groups Subsequence I/README_EN.md
  solution/2900-2999/2901.Longest Unequal Adjacent Groups Subsequence II/README.md
  solution/2900-2999/2901.Longest Unequal Adjacent Groups Subsequence II/README_EN.md
  solution/2900-2999/2902.Count of Sub-Multisets With Bounded Sum/README.md
  solution/2900-2999/2902.Count of Sub-Multisets With Bounded Sum/README_EN.md
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/DATABASE_README.md
  solution/DATABASE_README_EN.md
  solution/JAVASCRIPT_README.md
  solution/JAVASCRIPT_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/database-summary.md
  solution/summary.md
  solution/summary_en.md
Labels: md, core team

#1807 feat: add rust solution to lc problem: No.0137
  solution/0100-0199/0137.Single Number II/README.md
  solution/0100-0199/0137.Single Number II/README_EN.md
Labels: md, core team

#1808 feat: add weekly contest 367
  solution/2900-2999/2903.Find Indices With Index and Value Difference I/README.md
  solution/2900-2999/2903.Find Indices With Index and Value Difference I/README_EN.md
  solution/2900-2999/2904.Shortest and Lexicographically Smallest Beautiful String/README.md
  solution/2900-2999/2904.Shortest and Lexicographically Smallest Beautiful String/README_EN.md
  solution/2900-2999/2905.Find Indices With Index and Value Difference II/README.md
  solution/2900-2999/2905.Find Indices With Index and Value Difference II/README_EN.md
  solution/2900-2999/2906.Construct Product Matrix/README.md
  solution/2900-2999/2906.Construct Product Matrix/README_EN.md
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/summary.md
  solution/summary_en.md
Labels: md, core team

#1809 feat: add solutions to lc problem: No.2899
  solution/2800-2899/2899.Last Visited Integers/README.md
  solution/2800-2899/2899.Last Visited Integers/README_EN.md
  solution/2800-2899/2899.Last Visited Integers/Solution.cpp
  solution/2800-2899/2899.Last Visited Integers/Solution.go
  solution/2800-2899/2899.Last Visited Integers/Solution.java
  solution/2800-2899/2899.Last Visited Integers/Solution.py
  solution/2800-2899/2899.Last Visited Integers/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#1810 feat: add solutions to lc problem: No.2900
  solution/2900-2999/2900.Longest Unequal Adjacent Groups Subsequence I/README.md
  solution/2900-2999/2900.Longest Unequal Adjacent Groups Subsequence I/README_EN.md
  solution/2900-2999/2900.Longest Unequal Adjacent Groups Subsequence I/Solution.cpp
  solution/2900-2999/2900.Longest Unequal Adjacent Groups Subsequence I/Solution.go
  solution/2900-2999/2900.Longest Unequal Adjacent Groups Subsequence I/Solution.java
  solution/2900-2999/2900.Longest Unequal Adjacent Groups Subsequence I/Solution.py
  solution/2900-2999/2900.Longest Unequal Adjacent Groups Subsequence I/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#1811 feat: update sql solution to lc problem: No.1294
  solution/1200-1299/1294.Weather Type in Each Country/README.md
  solution/1200-1299/1294.Weather Type in Each Country/README_EN.md
  solution/1200-1299/1294.Weather Type in Each Country/Solution.sql
Labels: md, core team, sql

#1812 Added Solution for 1900. The Earliest and Latest Rounds Where Players Compete. and updated the code in README_EN and README
  solution/1900-1999/1900.The Earliest and Latest Rounds Where Players Compete/README.md
  solution/1900-1999/1900.The Earliest and Latest Rounds Where Players Compete/README_EN.md
  solution/1900-1999/1900.The Earliest and Latest Rounds Where Players Compete/Solution.py
Labels: md, py

#1813 feat: add solutions to lc problems: No.2899~2901
  solution/2800-2899/2899.Last Visited Integers/README.md
  solution/2800-2899/2899.Last Visited Integers/README_EN.md
  solution/2800-2899/2899.Last Visited Integers/Solution.rs
  solution/2900-2999/2900.Longest Unequal Adjacent Groups Subsequence I/README.md
  solution/2900-2999/2900.Longest Unequal Adjacent Groups Subsequence I/README_EN.md
  solution/2900-2999/2900.Longest Unequal Adjacent Groups Subsequence I/Solution.rs
  solution/2900-2999/2901.Longest Unequal Adjacent Groups Subsequence II/README.md
  solution/2900-2999/2901.Longest Unequal Adjacent Groups Subsequence II/README_EN.md
  solution/2900-2999/2901.Longest Unequal Adjacent Groups Subsequence II/Solution.cpp
  solution/2900-2999/2901.Longest Unequal Adjacent Groups Subsequence II/Solution.go
  solution/2900-2999/2901.Longest Unequal Adjacent Groups Subsequence II/Solution.java
  solution/2900-2999/2901.Longest Unequal Adjacent Groups Subsequence II/Solution.py
  solution/2900-2999/2901.Longest Unequal Adjacent Groups Subsequence II/Solution.rs
  solution/2900-2999/2901.Longest Unequal Adjacent Groups Subsequence II/Solution.ts
Labels: md, ts, py, go, java, cpp, rs, core team

#1815 feat: add sql solution to lc problem: No.1322
  solution/1300-1399/1322.Ads Performance/README.md
  solution/1300-1399/1322.Ads Performance/README_EN.md
  solution/1300-1399/1322.Ads Performance/Solution.sql
Labels: md, core team, sql

#1818 feat: add solutions to lc problems: No.2903,2905
  solution/2900-2999/2903.Find Indices With Index and Value Difference I/README.md
  solution/2900-2999/2903.Find Indices With Index and Value Difference I/README_EN.md
  solution/2900-2999/2903.Find Indices With Index and Value Difference I/Solution.cpp
  solution/2900-2999/2903.Find Indices With Index and Value Difference I/Solution.go
  solution/2900-2999/2903.Find Indices With Index and Value Difference I/Solution.java
  solution/2900-2999/2903.Find Indices With Index and Value Difference I/Solution.py
  solution/2900-2999/2903.Find Indices With Index and Value Difference I/Solution.rs
  solution/2900-2999/2903.Find Indices With Index and Value Difference I/Solution.ts
  solution/2900-2999/2905.Find Indices With Index and Value Difference II/README.md
  solution/2900-2999/2905.Find Indices With Index and Value Difference II/README_EN.md
  solution/2900-2999/2905.Find Indices With Index and Value Difference II/Solution.cpp
  solution/2900-2999/2905.Find Indices With Index and Value Difference II/Solution.go
  solution/2900-2999/2905.Find Indices With Index and Value Difference II/Solution.java
  solution/2900-2999/2905.Find Indices With Index and Value Difference II/Solution.py
  solution/2900-2999/2905.Find Indices With Index and Value Difference II/Solution.rs
  solution/2900-2999/2905.Find Indices With Index and Value Difference II/Solution.ts
Labels: md, ts, py, go, java, cpp, rs, core team

#1820 feat: add solutions to lc problem: No.2904
  solution/2900-2999/2904.Shortest and Lexicographically Smallest Beautiful String/README.md
  solution/2900-2999/2904.Shortest and Lexicographically Smallest Beautiful String/README_EN.md
  solution/2900-2999/2904.Shortest and Lexicographically Smallest Beautiful String/Solution.cpp
  solution/2900-2999/2904.Shortest and Lexicographically Smallest Beautiful String/Solution.go
  solution/2900-2999/2904.Shortest and Lexicographically Smallest Beautiful String/Solution.java
  solution/2900-2999/2904.Shortest and Lexicographically Smallest Beautiful String/Solution.py
  solution/2900-2999/2904.Shortest and Lexicographically Smallest Beautiful String/Solution.rs
  solution/2900-2999/2904.Shortest and Lexicographically Smallest Beautiful String/Solution.ts
Labels: md, ts, py, go, java, cpp, rs, core team

#1824 feat: update sql solution to lc problem: No.1435
  solution/1400-1499/1435.Create a Session Bar Chart/README.md
  solution/1400-1499/1435.Create a Session Bar Chart/README_EN.md
  solution/1400-1499/1435.Create a Session Bar Chart/Solution.sql
Labels: md, core team, sql

#1825 feat: update sql solution to lc problem: No.1435, No.2205
  solution/1400-1499/1435.Create a Session Bar Chart/README.md
  solution/1400-1499/1435.Create a Session Bar Chart/README_EN.md
  solution/1400-1499/1435.Create a Session Bar Chart/Solution.sql
  solution/2200-2299/2205.The Number of Users That Are Eligible for Discount/README.md
  solution/2200-2299/2205.The Number of Users That Are Eligible for Discount/README_EN.md
  solution/2200-2299/2205.The Number of Users That Are Eligible for Discount/Solution.sql
Labels: md, core team, sql

#1826 feat: add solutions to lc problem: No.2906
  solution/2900-2999/2906.Construct Product Matrix/README.md
  solution/2900-2999/2906.Construct Product Matrix/README_EN.md
  solution/2900-2999/2906.Construct Product Matrix/Solution.cpp
  solution/2900-2999/2906.Construct Product Matrix/Solution.go
  solution/2900-2999/2906.Construct Product Matrix/Solution.java
  solution/2900-2999/2906.Construct Product Matrix/Solution.py
  solution/2900-2999/2906.Construct Product Matrix/Solution.rs
  solution/2900-2999/2906.Construct Product Matrix/Solution.ts
Labels: md, ts, py, go, java, cpp, rs, core team

#1827 feat: add solutions to lc problem: No.2652
  solution/2600-2699/2652.Sum Multiples/README.md
  solution/2600-2699/2652.Sum Multiples/README_EN.md
  solution/2600-2699/2652.Sum Multiples/Solution.rs
Labels: md, rs, core team

#1828 feat: update solutions to lc problems: No.0197,0584,1581,1683,1757
  solution/0100-0199/0197.Rising Temperature/README.md
  solution/0100-0199/0197.Rising Temperature/README_EN.md
  solution/0100-0199/0197.Rising Temperature/Solution.sql
  solution/0500-0599/0584.Find Customer Referee/README.md
  solution/0500-0599/0584.Find Customer Referee/README_EN.md
  solution/1500-1599/1581.Customer Who Visited but Did Not Make Any Transactions/README.md
  solution/1500-1599/1581.Customer Who Visited but Did Not Make Any Transactions/README_EN.md
  solution/1500-1599/1581.Customer Who Visited but Did Not Make Any Transactions/Solution.sql
  solution/1600-1699/1683.Invalid Tweets/README.md
  solution/1600-1699/1683.Invalid Tweets/README_EN.md
  solution/1700-1799/1757.Recyclable and Low Fat Products/README.md
  solution/1700-1799/1757.Recyclable and Low Fat Products/README_EN.md
Labels: md, core team, sql

#1830 feat: add solutions to lc problems: No.0577,0580,0581,1661
  .prettierrc
  solution/0500-0599/0577.Employee Bonus/README.md
  solution/0500-0599/0577.Employee Bonus/README_EN.md
  solution/0500-0599/0580.Count Student Number in Departments/README.md
  solution/0500-0599/0580.Count Student Number in Departments/README_EN.md
  solution/0500-0599/0580.Count Student Number in Departments/Solution.sql
  solution/0500-0599/0581.Shortest Unsorted Continuous Subarray/README.md
  solution/0500-0599/0581.Shortest Unsorted Continuous Subarray/README_EN.md
  solution/0500-0599/0581.Shortest Unsorted Continuous Subarray/Solution.cpp
  solution/0500-0599/0581.Shortest Unsorted Continuous Subarray/Solution.go
  solution/0500-0599/0581.Shortest Unsorted Continuous Subarray/Solution.java
  solution/0500-0599/0581.Shortest Unsorted Continuous Subarray/Solution.py
  solution/0500-0599/0581.Shortest Unsorted Continuous Subarray/Solution.rs
  solution/0500-0599/0581.Shortest Unsorted Continuous Subarray/Solution.ts
  solution/1600-1699/1661.Average Time of Process per Machine/README.md
  solution/1600-1699/1661.Average Time of Process per Machine/README_EN.md
  solution/1600-1699/1661.Average Time of Process per Machine/Solution.sql
Labels: md, ts, py, go, java, cpp, rs, core team, sql, prettierrc

#1831 feat: add solutions to lc problem: No.0582
  solution/0500-0599/0582.Kill Process/README.md
  solution/0500-0599/0582.Kill Process/README_EN.md
  solution/0500-0599/0582.Kill Process/Solution.cpp
  solution/0500-0599/0582.Kill Process/Solution.go
  solution/0500-0599/0582.Kill Process/Solution.java
  solution/0500-0599/0582.Kill Process/Solution.py
  solution/0500-0599/0582.Kill Process/Solution.rs
  solution/0500-0599/0582.Kill Process/Solution.ts
Labels: md, ts, py, go, java, cpp, rs, core team

#1832 feat: add rust solution to lc problem: No.1171
  solution/1100-1199/1171.Remove Zero Sum Consecutive Nodes from Linked List/README.md
  solution/1100-1199/1171.Remove Zero Sum Consecutive Nodes from Linked List/README_EN.md
  solution/1100-1199/1171.Remove Zero Sum Consecutive Nodes from Linked List/Solution.rs
Labels: md, rs, core team

#1834 feat: update solutions to lc problems: No.0570,0620,1251,1280,1934
  solution/0500-0599/0570.Managers with at Least 5 Direct Reports/README.md
  solution/0500-0599/0570.Managers with at Least 5 Direct Reports/README_EN.md
  solution/0500-0599/0570.Managers with at Least 5 Direct Reports/Solution.sql
  solution/0600-0699/0620.Not Boring Movies/README.md
  solution/0600-0699/0620.Not Boring Movies/README_EN.md
  solution/0600-0699/0620.Not Boring Movies/Solution.sql
  solution/1200-1299/1251.Average Selling Price/README.md
  solution/1200-1299/1251.Average Selling Price/README_EN.md
  solution/1200-1299/1251.Average Selling Price/Solution.sql
  solution/1200-1299/1280.Students and Examinations/README.md
  solution/1200-1299/1280.Students and Examinations/README_EN.md
  solution/1200-1299/1280.Students and Examinations/Solution.sql
  solution/1900-1999/1934.Confirmation Rate/README.md
  solution/1900-1999/1934.Confirmation Rate/README_EN.md
  solution/1900-1999/1934.Confirmation Rate/Solution.sql
Labels: md, core team, sql

#1836 feat: add typescript and rust solutions to lc problem: No.2530
  solution/2500-2599/2530.Maximal Score After Applying K Operations/README.md
  solution/2500-2599/2530.Maximal Score After Applying K Operations/README_EN.md
  solution/2500-2599/2530.Maximal Score After Applying K Operations/Solution.go
  solution/2500-2599/2530.Maximal Score After Applying K Operations/Solution.rs
  solution/2500-2599/2530.Maximal Score After Applying K Operations/Solution.ts
Labels: md, ts, go, rs, core team

#1837 feat: add solutions to lc problems: No.1174,1193,1211,1633
  solution/1100-1199/1174.Immediate Food Delivery II/README.md
  solution/1100-1199/1174.Immediate Food Delivery II/README_EN.md
  solution/1100-1199/1174.Immediate Food Delivery II/Solution.sql
  solution/1100-1199/1193.Monthly Transactions I/README.md
  solution/1100-1199/1193.Monthly Transactions I/README_EN.md
  solution/1200-1299/1211.Queries Quality and Percentage/README.md
  solution/1200-1299/1211.Queries Quality and Percentage/README_EN.md
  solution/1200-1299/1211.Queries Quality and Percentage/Solution.sql
  solution/1600-1699/1633.Percentage of Users Attended a Contest/README.md
  solution/1600-1699/1633.Percentage of Users Attended a Contest/README_EN.md
  solution/1600-1699/1633.Percentage of Users Attended a Contest/Solution.sql
Labels: md, core team, sql

#1838 fix: rename bianry to binary
  lcci/05.02.Binary Number to String/README.md
  lcci/05.02.Binary Number to String/README_EN.md
  lcci/05.02.Binary Number to String/Solution.cpp
  lcci/05.02.Binary Number to String/Solution.go
  lcci/05.02.Binary Number to String/Solution.java
  lcci/05.02.Binary Number to String/Solution.py
Labels: md, py, go, java, cpp

#1839 feat: add sql solutions to lc problems
  solution/0500-0599/0550.Game Play Analysis IV/README.md
  solution/0500-0599/0550.Game Play Analysis IV/README_EN.md
  solution/0500-0599/0550.Game Play Analysis IV/Solution.sql
  solution/0500-0599/0596.Classes More Than 5 Students/README.md
  solution/0500-0599/0596.Classes More Than 5 Students/README_EN.md
  solution/0500-0599/0596.Classes More Than 5 Students/Solution.sql
  solution/0600-0699/0619.Biggest Single Number/README.md
  solution/0600-0699/0619.Biggest Single Number/README_EN.md
  solution/0600-0699/0619.Biggest Single Number/Solution.sql
  solution/1000-1099/1045.Customers Who Bought All Products/README.md
  solution/1000-1099/1045.Customers Who Bought All Products/README_EN.md
  solution/1700-1799/1729.Find Followers Count/README.md
  solution/1700-1799/1729.Find Followers Count/README_EN.md
  solution/1700-1799/1729.Find Followers Count/Solution.sql
  solution/1700-1799/1731.The Number of Employees Which Report to Each Employee/README.md
  solution/1700-1799/1731.The Number of Employees Which Report to Each Employee/README_EN.md
  solution/1700-1799/1731.The Number of Employees Which Report to Each Employee/Solution.sql
  solution/1700-1799/1789.Primary Department for Each Employee/README.md
  solution/1700-1799/1789.Primary Department for Each Employee/README_EN.md
  solution/1700-1799/1789.Primary Department for Each Employee/Solution.sql
Labels: md, core team, sql

#1833 Added Rust solution for 1891
  solution/1800-1899/1891.Cutting Ribbons/README.md
  solution/1800-1899/1891.Cutting Ribbons/README_EN.md
  solution/1800-1899/1891.Cutting Ribbons/Solution.rs
Labels: md, rs

#1841 Solution for 1354.
  solution/1300-1399/1354.Construct Target Array With Multiple Sums/README.md
  solution/1300-1399/1354.Construct Target Array With Multiple Sums/README_EN.md
  solution/1300-1399/1354.Construct Target Array With Multiple Sums/Solution.py
Labels: md, py

#1842 Added Rust and TypeScript solution for 1909
  solution/1900-1999/1909.Remove One Element to Make the Array Strictly Increasing/README.md
  solution/1900-1999/1909.Remove One Element to Make the Array Strictly Increasing/README_EN.md
  solution/1900-1999/1909.Remove One Element to Make the Array Strictly Increasing/Solution.rs
  solution/1900-1999/1909.Remove One Element to Make the Array Strictly Increasing/Solution.ts
Labels: md, ts, rs

#1843 feat: update solutions to lc problems: No.1171,1891
  solution/1100-1199/1171.Remove Zero Sum Consecutive Nodes from Linked List/README.md
  solution/1100-1199/1171.Remove Zero Sum Consecutive Nodes from Linked List/README_EN.md
  solution/1800-1899/1891.Cutting Ribbons/README.md
  solution/1800-1899/1891.Cutting Ribbons/README_EN.md
  solution/1800-1899/1891.Cutting Ribbons/Solution.rs
Labels: md, rs, core team

#1845 feat: add solutions to lc problem: No.1726
  solution/1700-1799/1726.Tuple with Same Product/README.md
  solution/1700-1799/1726.Tuple with Same Product/README_EN.md
  solution/1700-1799/1726.Tuple with Same Product/Solution.go
  solution/1700-1799/1726.Tuple with Same Product/Solution.java
  solution/1700-1799/1726.Tuple with Same Product/Solution.rs
  solution/1700-1799/1726.Tuple with Same Product/Solution.ts
Labels: md, ts, go, java, rs, core team

#1847 feat: add solutions to lc problem: No.2907
  solution/2900-2999/2907.Maximum Profitable Triplets With Increasing Prices I/README.md
  solution/2900-2999/2907.Maximum Profitable Triplets With Increasing Prices I/README_EN.md
  solution/2900-2999/2907.Maximum Profitable Triplets With Increasing Prices I/Solution.cpp
  solution/2900-2999/2907.Maximum Profitable Triplets With Increasing Prices I/Solution.go
  solution/2900-2999/2907.Maximum Profitable Triplets With Increasing Prices I/Solution.java
  solution/2900-2999/2907.Maximum Profitable Triplets With Increasing Prices I/Solution.py
  solution/2900-2999/2907.Maximum Profitable Triplets With Increasing Prices I/Solution.rs
  solution/2900-2999/2907.Maximum Profitable Triplets With Increasing Prices I/Solution.ts
  solution/README.md
  solution/README_EN.md
  solution/summary.md
  solution/summary_en.md
Labels: md, ts, py, go, java, cpp, rs, core team

#1848 Solution for 1728.
  solution/1700-1799/1728.Cat and Mouse II/README.md
  solution/1700-1799/1728.Cat and Mouse II/README_EN.md
  solution/1700-1799/1728.Cat and Mouse II/Solution.py
Labels: md, py

#1849 chore: update lc problems
  solution/0000-0099/0062.Unique Paths/README.md
  solution/0000-0099/0062.Unique Paths/images/1697422740-adxmsI-image.png
  solution/0200-0299/0284.Peeking Iterator/README.md
  solution/0400-0499/0424.Longest Repeating Character Replacement/README.md
  solution/0400-0499/0424.Longest Repeating Character Replacement/README_EN.md
  solution/0400-0499/0472.Concatenated Words/README.md
  solution/0400-0499/0472.Concatenated Words/README_EN.md
  solution/0700-0799/0747.Largest Number At Least Twice of Others/README.md
  solution/0900-0999/0981.Time Based Key-Value Store/README.md
  solution/1100-1199/1159.Market Analysis II/README.md
  solution/1300-1399/1349.Maximum Students Taking Exam/README.md
  solution/1300-1399/1359.Count All Valid Pickup and Delivery Options/README_EN.md
  solution/1400-1499/1402.Reducing Dishes/README.md
  solution/1400-1499/1402.Reducing Dishes/README_EN.md
  solution/1500-1599/1537.Get the Maximum Score/README.md
  solution/1500-1599/1537.Get the Maximum Score/README_EN.md
  solution/1700-1799/1726.Tuple with Same Product/README.md
  solution/1900-1999/1921.Eliminate Maximum Number of Monsters/README_EN.md
  solution/2400-2499/2423.Remove Letter To Equalize Frequency/README.md
  solution/2400-2499/2423.Remove Letter To Equalize Frequency/README_EN.md
  solution/2500-2599/2530.Maximal Score After Applying K Operations/README.md
  solution/2600-2699/2668.Find Latest Salaries/README.md
  solution/2700-2799/2745.Construct the Longest New String/README.md
  solution/2700-2799/2745.Construct the Longest New String/README_EN.md
  solution/2700-2799/2773.Height of Special Binary Tree/README.md
  solution/2800-2899/2883.Drop Missing Data/README.md
  solution/2800-2899/2883.Drop Missing Data/README_EN.md
  solution/2800-2899/2887.Fill Missing Data/README_EN.md
  solution/2800-2899/2890.Reshape Data Melt/README.md
  solution/2800-2899/2898.Maximum Linear Stock Score/README.md
  solution/2900-2999/2901.Longest Unequal Adjacent Groups Subsequence II/README.md
  solution/DATABASE_README.md
  solution/DATABASE_README_EN.md
  solution/JAVASCRIPT_README.md
  solution/JAVASCRIPT_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/database-summary.md
  solution/summary.md
Labels: md, core team, png

#1850 feat: update solutions to lc problems: No.0180,0610,1164
  .prettierrc
  solution/0100-0199/0180.Consecutive Numbers/README.md
  solution/0100-0199/0180.Consecutive Numbers/README_EN.md
  solution/0100-0199/0180.Consecutive Numbers/Solution.sql
  solution/0600-0699/0610.Triangle Judgement/README.md
  solution/0600-0699/0610.Triangle Judgement/README_EN.md
  solution/1100-1199/1164.Product Price at a Given Date/README.md
  solution/1100-1199/1164.Product Price at a Given Date/README_EN.md
  solution/1100-1199/1164.Product Price at a Given Date/Solution.sql
Labels: md, core team, sql, prettierrc

#1851 feat: add solutions to lc problem: No.2525
  solution/2500-2599/2525.Categorize Box According to Criteria/README.md
  solution/2500-2599/2525.Categorize Box According to Criteria/README_EN.md
Labels: md, core team

#1852 feat: update solutions to lc problems: No.0612,2316
  solution/0600-0699/0612.Shortest Distance in a Plane/README.md
  solution/0600-0699/0612.Shortest Distance in a Plane/README_EN.md
  solution/0600-0699/0612.Shortest Distance in a Plane/Solution.sql
  solution/2300-2399/2316.Count Unreachable Pairs of Nodes in an Undirected Graph/README.md
  solution/2300-2399/2316.Count Unreachable Pairs of Nodes in an Undirected Graph/README_EN.md
  solution/2300-2399/2316.Count Unreachable Pairs of Nodes in an Undirected Graph/Solution.cpp
  solution/2300-2399/2316.Count Unreachable Pairs of Nodes in an Undirected Graph/Solution.go
  solution/2300-2399/2316.Count Unreachable Pairs of Nodes in an Undirected Graph/Solution.java
  solution/2300-2399/2316.Count Unreachable Pairs of Nodes in an Undirected Graph/Solution.py
  solution/2300-2399/2316.Count Unreachable Pairs of Nodes in an Undirected Graph/Solution.ts
Labels: md, ts, py, go, java, cpp, core team, sql

#1854 Solution for 2902.
  solution/2900-2999/2902.Count of Sub-Multisets With Bounded Sum/README.md
  solution/2900-2999/2902.Count of Sub-Multisets With Bounded Sum/README_EN.md
  solution/2900-2999/2902.Count of Sub-Multisets With Bounded Sum/Solution.py
Labels: md, py

#1856 feat: add solutions to lc problem: No.2003
  solution/2000-2099/2003.Smallest Missing Genetic Value in Each Subtree/README.md
  solution/2000-2099/2003.Smallest Missing Genetic Value in Each Subtree/README_EN.md
  solution/2000-2099/2003.Smallest Missing Genetic Value in Each Subtree/Solution.cpp
  solution/2000-2099/2003.Smallest Missing Genetic Value in Each Subtree/Solution.go
  solution/2000-2099/2003.Smallest Missing Genetic Value in Each Subtree/Solution.java
  solution/2000-2099/2003.Smallest Missing Genetic Value in Each Subtree/Solution.py
  solution/2000-2099/2003.Smallest Missing Genetic Value in Each Subtree/Solution.rs
  solution/2000-2099/2003.Smallest Missing Genetic Value in Each Subtree/Solution.ts
Labels: md, ts, py, go, java, cpp, rs, core team

#1858 solution for 175, 176
  solution/0100-0199/0175.Combine Two Tables/README.md
  solution/0100-0199/0175.Combine Two Tables/README_EN.md
  solution/0100-0199/0175.Combine Two Tables/Solution.py
  solution/0100-0199/0176.Second Highest Salary/README.md
  solution/0100-0199/0176.Second Highest Salary/README_EN.md
  solution/0100-0199/0176.Second Highest Salary/Solution.py
Labels: md, py

#1859 feat: add rust solution to lc problem: No.2316
  solution/2300-2399/2316.Count Unreachable Pairs of Nodes in an Undirected Graph/README.md
  solution/2300-2399/2316.Count Unreachable Pairs of Nodes in an Undirected Graph/README_EN.md
  solution/2300-2399/2316.Count Unreachable Pairs of Nodes in an Undirected Graph/Solution.rs
Labels: md, rs, core team

#1860 Solution for 177.
  solution/0100-0199/0177.Nth Highest Salary/README.md
  solution/0100-0199/0177.Nth Highest Salary/README_EN.md
  solution/0100-0199/0177.Nth Highest Salary/Solution.py
Labels: md, py

#1861 Solution for 178.
  solution/0100-0199/0178.Rank Scores/README.md
  solution/0100-0199/0178.Rank Scores/README_EN.md
  solution/0100-0199/0178.Rank Scores/Solution.py
Labels: md, py

#1862 feat: add weekly contest 368
  solution/2900-2999/2908.Minimum Sum of Mountain Triplets I/README.md
  solution/2900-2999/2908.Minimum Sum of Mountain Triplets I/README_EN.md
  solution/2900-2999/2909.Minimum Sum of Mountain Triplets II/README.md
  solution/2900-2999/2909.Minimum Sum of Mountain Triplets II/README_EN.md
  solution/2900-2999/2910.Minimum Number of Groups to Create a Valid Assignment/README.md
  solution/2900-2999/2910.Minimum Number of Groups to Create a Valid Assignment/README_EN.md
  solution/2900-2999/2911.Minimum Changes to Make K Semi-palindromes/README.md
  solution/2900-2999/2911.Minimum Changes to Make K Semi-palindromes/README_EN.md
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/DATABASE_README.md
  solution/DATABASE_README_EN.md
  solution/JAVASCRIPT_README.md
  solution/JAVASCRIPT_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/database-summary.md
  solution/summary.md
  solution/summary_en.md
Labels: md, core team

#1863 Solution for 180.
  solution/0100-0199/0180.Consecutive Numbers/README.md
  solution/0100-0199/0180.Consecutive Numbers/README_EN.md
  solution/0100-0199/0180.Consecutive Numbers/Solution.py
Labels: md, py

#1864 feat: add solutions to lc problems: No.2908,2909
  solution/2900-2999/2908.Minimum Sum of Mountain Triplets I/README.md
  solution/2900-2999/2908.Minimum Sum of Mountain Triplets I/README_EN.md
  solution/2900-2999/2908.Minimum Sum of Mountain Triplets I/Solution.cpp
  solution/2900-2999/2908.Minimum Sum of Mountain Triplets I/Solution.go
  solution/2900-2999/2908.Minimum Sum of Mountain Triplets I/Solution.java
  solution/2900-2999/2908.Minimum Sum of Mountain Triplets I/Solution.py
  solution/2900-2999/2908.Minimum Sum of Mountain Triplets I/Solution.ts
  solution/2900-2999/2909.Minimum Sum of Mountain Triplets II/README.md
  solution/2900-2999/2909.Minimum Sum of Mountain Triplets II/README_EN.md
  solution/2900-2999/2909.Minimum Sum of Mountain Triplets II/Solution.cpp
  solution/2900-2999/2909.Minimum Sum of Mountain Triplets II/Solution.go
  solution/2900-2999/2909.Minimum Sum of Mountain Triplets II/Solution.java
  solution/2900-2999/2909.Minimum Sum of Mountain Triplets II/Solution.py
  solution/2900-2999/2909.Minimum Sum of Mountain Triplets II/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#1865 Solution for 181.
  solution/0100-0199/0181.Employees Earning More Than Their Managers/README.md
  solution/0100-0199/0181.Employees Earning More Than Their Managers/README_EN.md
  solution/0100-0199/0181.Employees Earning More Than Their Managers/Solution.py
Labels: md, py

#1866 feat: add solutions to lc problems: No.2679,2680
  solution/2600-2699/2678.Number of Senior Citizens/README.md
  solution/2600-2699/2678.Number of Senior Citizens/README_EN.md
  solution/2600-2699/2678.Number of Senior Citizens/Solution.ts
  solution/2600-2699/2679.Sum in a Matrix/README.md
  solution/2600-2699/2679.Sum in a Matrix/README_EN.md
  solution/2600-2699/2679.Sum in a Matrix/Solution.rs
  solution/2600-2699/2680.Maximum OR/README.md
  solution/2600-2699/2680.Maximum OR/README_EN.md
  solution/2600-2699/2680.Maximum OR/Solution.rs
  solution/2600-2699/2680.Maximum OR/Solution.ts
Labels: md, ts, rs, core team

#1867 feat: add ts solution to lc problem: No.2678
  solution/2600-2699/2678.Number of Senior Citizens/README.md
  solution/2600-2699/2678.Number of Senior Citizens/README_EN.md
Labels: md, core team

#1868 Added solution for 182, 183.
  solution/0100-0199/0182.Duplicate Emails/README.md
  solution/0100-0199/0182.Duplicate Emails/README_EN.md
  solution/0100-0199/0182.Duplicate Emails/Solution.py
  solution/0100-0199/0183.Customers Who Never Order/README.md
  solution/0100-0199/0183.Customers Who Never Order/README_EN.md
  solution/0100-0199/0183.Customers Who Never Order/Solution.py
Labels: md, py

#1869 feat: update sql solution to lc problem: No.0626
  solution/0600-0699/0626.Exchange Seats/README.md
  solution/0600-0699/0626.Exchange Seats/README_EN.md
  solution/0600-0699/0626.Exchange Seats/Solution.sql
Labels: md, core team, sql

#1870 feat: add solutions to lc problem: No.2117
  solution/0100-0199/0175.Combine Two Tables/README.md
  solution/0100-0199/0175.Combine Two Tables/README_EN.md
  solution/0100-0199/0176.Second Highest Salary/README.md
  solution/0100-0199/0176.Second Highest Salary/README_EN.md
  solution/0100-0199/0177.Nth Highest Salary/README.md
  solution/0100-0199/0177.Nth Highest Salary/README_EN.md
  solution/0100-0199/0178.Rank Scores/README.md
  solution/0100-0199/0178.Rank Scores/README_EN.md
  solution/0100-0199/0180.Consecutive Numbers/README.md
  solution/0100-0199/0180.Consecutive Numbers/README_EN.md
  solution/0100-0199/0181.Employees Earning More Than Their Managers/README.md
  solution/0100-0199/0181.Employees Earning More Than Their Managers/README_EN.md
  solution/0100-0199/0182.Duplicate Emails/README.md
  solution/0100-0199/0182.Duplicate Emails/README_EN.md
  solution/0100-0199/0183.Customers Who Never Order/README.md
  solution/0100-0199/0183.Customers Who Never Order/README_EN.md
  solution/2100-2199/2117.Abbreviating the Product of a Range/README.md
  solution/2100-2199/2117.Abbreviating the Product of a Range/README_EN.md
  solution/2100-2199/2117.Abbreviating the Product of a Range/Solution.cpp
  solution/2100-2199/2117.Abbreviating the Product of a Range/Solution.go
  solution/2100-2199/2117.Abbreviating the Product of a Range/Solution.java
  solution/2100-2199/2117.Abbreviating the Product of a Range/Solution.py
  solution/2500-2599/2558.Take Gifts From the Richest Pile/README.md
  solution/2500-2599/2558.Take Gifts From the Richest Pile/README_EN.md
  solution/2500-2599/2558.Take Gifts From the Richest Pile/Solution.go
  solution/2500-2599/2558.Take Gifts From the Richest Pile/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#1871 feat: add solutions to lc problem: No.2910
  solution/2900-2999/2910.Minimum Number of Groups to Create a Valid Assignment/README.md
  solution/2900-2999/2910.Minimum Number of Groups to Create a Valid Assignment/README_EN.md
  solution/2900-2999/2910.Minimum Number of Groups to Create a Valid Assignment/Solution.cpp
  solution/2900-2999/2910.Minimum Number of Groups to Create a Valid Assignment/Solution.go
  solution/2900-2999/2910.Minimum Number of Groups to Create a Valid Assignment/Solution.java
  solution/2900-2999/2910.Minimum Number of Groups to Create a Valid Assignment/Solution.py
  solution/2900-2999/2910.Minimum Number of Groups to Create a Valid Assignment/Solution.rs
  solution/2900-2999/2910.Minimum Number of Groups to Create a Valid Assignment/Solution.ts
Labels: md, ts, py, go, java, cpp, rs, core team

#1873 Solution for 185.
  solution/0100-0199/0185.Department Top Three Salaries/README.md
  solution/0100-0199/0185.Department Top Three Salaries/README_EN.md
  solution/0100-0199/0185.Department Top Three Salaries/Solution.py
  solution/0100-0199/0196.Delete Duplicate Emails/README.md
  solution/0100-0199/0196.Delete Duplicate Emails/README_EN.md
  solution/0100-0199/0196.Delete Duplicate Emails/Solution.py
Labels: md, py

#1874 feat: add solutions to lc problem: No.2911
  solution/2600-2699/2698.Find the Punishment Number of an Integer/README.md
  solution/2900-2999/2911.Minimum Changes to Make K Semi-palindromes/README.md
  solution/2900-2999/2911.Minimum Changes to Make K Semi-palindromes/README_EN.md
  solution/2900-2999/2911.Minimum Changes to Make K Semi-palindromes/Solution.cpp
  solution/2900-2999/2911.Minimum Changes to Make K Semi-palindromes/Solution.go
  solution/2900-2999/2911.Minimum Changes to Make K Semi-palindromes/Solution.java
  solution/2900-2999/2911.Minimum Changes to Make K Semi-palindromes/Solution.py
  solution/2900-2999/2911.Minimum Changes to Make K Semi-palindromes/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#1875 feat: add solutions to lc problems: No.1215,1216
  solution/1200-1299/1215.Stepping Numbers/README.md
  solution/1200-1299/1215.Stepping Numbers/README_EN.md
  solution/1200-1299/1215.Stepping Numbers/Solution.cpp
  solution/1200-1299/1215.Stepping Numbers/Solution.ts
  solution/1200-1299/1216.Valid Palindrome III/README.md
  solution/1200-1299/1216.Valid Palindrome III/README_EN.md
  solution/1200-1299/1216.Valid Palindrome III/Solution.rs
  solution/1200-1299/1216.Valid Palindrome III/Solution.ts
Labels: md, ts, cpp, rs, core team

#1876 Solution for 197,262.
  solution/0100-0199/0197.Rising Temperature/README.md
  solution/0100-0199/0197.Rising Temperature/README_EN.md
  solution/0100-0199/0197.Rising Temperature/Solution.py
  solution/0200-0299/0262.Trips and Users/README.md
  solution/0200-0299/0262.Trips and Users/README_EN.md
  solution/0200-0299/0262.Trips and Users/Solution.py
Labels: md, py

#1877 Solution for 319.
  solution/0300-0399/0319.Bulb Switcher/README.md
  solution/0300-0399/0319.Bulb Switcher/README_EN.md
  solution/0300-0399/0319.Bulb Switcher/Solution.py
Labels: md, py

#1878 feat: update solutions to lc problems: No.1907,1978
  solution/1900-1999/1907.Count Salary Categories/README.md
  solution/1900-1999/1907.Count Salary Categories/README_EN.md
  solution/1900-1999/1907.Count Salary Categories/Solution.sql
  solution/1900-1999/1978.Employees Whose Manager Left the Company/README.md
  solution/1900-1999/1978.Employees Whose Manager Left the Company/README_EN.md
  solution/1900-1999/1978.Employees Whose Manager Left the Company/Solution.sql
Labels: md, core team, sql

#1880 Solution for 332.
  solution/0300-0399/0332.Reconstruct Itinerary/README.md
  solution/0300-0399/0332.Reconstruct Itinerary/README_EN.md
  solution/0300-0399/0332.Reconstruct Itinerary/Solution.py
  solution/0400-0499/0468.Validate IP Address/README.md
  solution/0400-0499/0468.Validate IP Address/README_EN.md
  solution/0400-0499/0468.Validate IP Address/Solution.py
Labels: md, py

#1881 feat: add sql solution to lc problem: No.2084
  solution/2000-2099/2084.Drop Type 1 Orders for Customers With Type 0 Orders/README.md
  solution/2000-2099/2084.Drop Type 1 Orders for Customers With Type 0 Orders/README_EN.md
Labels: md, core team

#1882 feat: add python solution to lc problem: No.0476
  solution/0400-0499/0476.Number Complement/README.md
  solution/0400-0499/0476.Number Complement/README_EN.md
  solution/0400-0499/0476.Number Complement/Solution.py
Labels: md, py

#1883 Solution for 478.
  solution/0400-0499/0478.Generate Random Point in a Circle/README.md
  solution/0400-0499/0478.Generate Random Point in a Circle/README_EN.md
  solution/0400-0499/0478.Generate Random Point in a Circle/Solution.py
Labels: md, py

#1884 feat: add solutions to lc problem: No.2912
  solution/0100-0199/0101.Symmetric Tree/README.md
  solution/0100-0199/0101.Symmetric Tree/images/1698026966-JDYPDU-image.png
  solution/0100-0199/0101.Symmetric Tree/images/1698027008-nPFLbM-image.png
  solution/0100-0199/0158.Read N Characters Given read4 II - Call Multiple Times/README.md
  solution/0500-0599/0560.Subarray Sum Equals K/README.md
  solution/2100-2199/2142.The Number of Passengers in Each Bus I/README.md
  solution/2100-2199/2171.Removing Minimum Number of Magic Beans/README.md
  solution/2600-2699/2652.Sum Multiples/README.md
  solution/2900-2999/2907.Maximum Profitable Triplets With Increasing Prices I/README.md
  solution/2900-2999/2912.Number of Ways to Reach Destination in the Grid/README.md
  solution/2900-2999/2912.Number of Ways to Reach Destination in the Grid/README_EN.md
  solution/2900-2999/2912.Number of Ways to Reach Destination in the Grid/Solution.cpp
  solution/2900-2999/2912.Number of Ways to Reach Destination in the Grid/Solution.go
  solution/2900-2999/2912.Number of Ways to Reach Destination in the Grid/Solution.java
  solution/2900-2999/2912.Number of Ways to Reach Destination in the Grid/Solution.py
  solution/DATABASE_README.md
  solution/DATABASE_README_EN.md
  solution/JAVASCRIPT_README.md
  solution/JAVASCRIPT_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/database-summary.md
  solution/summary.md
  solution/summary_en.md
Labels: md, py, go, java, cpp, core team, png

#1885 chore: update solutions to lc problems: No.2519,2520,2912
  solution/2500-2599/2519.Count the Number of K-Big Indices/README.md
  solution/2500-2599/2519.Count the Number of K-Big Indices/README_EN.md
  solution/2500-2599/2520.Count the Digits That Divide a Number/README.md
  solution/2500-2599/2520.Count the Digits That Divide a Number/README_EN.md
  solution/2500-2599/2520.Count the Digits That Divide a Number/Solution.ts
  solution/2900-2999/2912.Number of Ways to Reach Destination in the Grid/README.md
Labels: md, ts, core team

#1890 feat: add pandas solution to lc problem: No.0511
  solution/0500-0599/0511.Game Play Analysis I/README.md
  solution/0500-0599/0511.Game Play Analysis I/README_EN.md
  solution/0500-0599/0511.Game Play Analysis I/Solution.py
Labels: md, py

#1888 feat: add solutions to lc problem: No.1465
  solution/1400-1499/1465.Maximum Area of a Piece of Cake After Horizontal and Vertical Cuts/README.md
  solution/1400-1499/1465.Maximum Area of a Piece of Cake After Horizontal and Vertical Cuts/README_EN.md
  solution/1400-1499/1465.Maximum Area of a Piece of Cake After Horizontal and Vertical Cuts/Solution.cpp
  solution/1400-1499/1465.Maximum Area of a Piece of Cake After Horizontal and Vertical Cuts/Solution.go
  solution/1400-1499/1465.Maximum Area of a Piece of Cake After Horizontal and Vertical Cuts/Solution.java
  solution/1400-1499/1465.Maximum Area of a Piece of Cake After Horizontal and Vertical Cuts/Solution.rs
  solution/1400-1499/1465.Maximum Area of a Piece of Cake After Horizontal and Vertical Cuts/Solution.ts
Labels: md, ts, go, java, cpp, rs, core team

#1891 feat: add pandas solution to lc problem: No.0550
  solution/0500-0599/0550.Game Play Analysis IV/README.md
  solution/0500-0599/0550.Game Play Analysis IV/README_EN.md
  solution/0500-0599/0550.Game Play Analysis IV/Solution.py
Labels: md, py

#1893 feat: update solutions to lc problems: No.2901, 2902, 2911
  solution/2900-2999/2901.Longest Unequal Adjacent Groups Subsequence II/README.md
  solution/2900-2999/2901.Longest Unequal Adjacent Groups Subsequence II/README_EN.md
  solution/2900-2999/2902.Count of Sub-Multisets With Bounded Sum/README.md
  solution/2900-2999/2902.Count of Sub-Multisets With Bounded Sum/README_EN.md
  solution/2900-2999/2902.Count of Sub-Multisets With Bounded Sum/Solution.java
  solution/2900-2999/2911.Minimum Changes to Make K Semi-palindromes/README.md
  solution/2900-2999/2911.Minimum Changes to Make K Semi-palindromes/README_EN.md
Labels: md, java

#1892 feat: add pandas solution to lc problem: No.0570.
  solution/0500-0599/0570.Managers with at Least 5 Direct Reports/README.md
  solution/0500-0599/0570.Managers with at Least 5 Direct Reports/README_EN.md
  solution/0500-0599/0570.Managers with at Least 5 Direct Reports/Solution.py
Labels: md, py

#1894 feat: add typescript solution to lc problem: No.2571
  solution/2500-2599/2571.Minimum Operations to Reduce an Integer to 0/README.md
  solution/2500-2599/2571.Minimum Operations to Reduce an Integer to 0/README_EN.md
  solution/2500-2599/2571.Minimum Operations to Reduce an Integer to 0/Solution.ts
  solution/2500-2599/2580.Count Ways to Group Overlapping Ranges/README_EN.md
Labels: md, ts, core team

#1895 add c# solution
  solution/2300-2399/2389.Longest Subsequence With Limited Sum/README.md
  solution/2300-2399/2389.Longest Subsequence With Limited Sum/README_EN.md
  solution/2300-2399/2389.Longest Subsequence With Limited Sum/solution.cs
Labels: md, cs

#1897 Update README_EN.md with Java Solution with O(n) time and O(1) space Complexity.
  solution/1200-1299/1220.Count Vowels Permutation/README.md
  solution/1200-1299/1220.Count Vowels Permutation/README_EN.md
Labels: md

#1898 feat: add biweekly contest 116 and weekly contest 369
  solution/2900-2999/2913.Subarrays Distinct Element Sum of Squares I/README.md
  solution/2900-2999/2913.Subarrays Distinct Element Sum of Squares I/README_EN.md
  solution/2900-2999/2914.Minimum Number of Changes to Make Binary String Beautiful/README.md
  solution/2900-2999/2914.Minimum Number of Changes to Make Binary String Beautiful/README_EN.md
  solution/2900-2999/2915.Length of the Longest Subsequence That Sums to Target/README.md
  solution/2900-2999/2915.Length of the Longest Subsequence That Sums to Target/README_EN.md
  solution/2900-2999/2916.Subarrays Distinct Element Sum of Squares II/README.md
  solution/2900-2999/2916.Subarrays Distinct Element Sum of Squares II/README_EN.md
  solution/2900-2999/2917.Find the K-or of an Array/README.md
  solution/2900-2999/2917.Find the K-or of an Array/README_EN.md
  solution/2900-2999/2918.Minimum Equal Sum of Two Arrays After Replacing Zeros/README.md
  solution/2900-2999/2918.Minimum Equal Sum of Two Arrays After Replacing Zeros/README_EN.md
  solution/2900-2999/2919.Minimum Increment Operations to Make Array Beautiful/README.md
  solution/2900-2999/2919.Minimum Increment Operations to Make Array Beautiful/README_EN.md
  solution/2900-2999/2920.Maximum Points After Collecting Coins From All Nodes/README.md
  solution/2900-2999/2920.Maximum Points After Collecting Coins From All Nodes/README_EN.md
  solution/2900-2999/2920.Maximum Points After Collecting Coins From All Nodes/images/ex1-copy.png
  solution/2900-2999/2920.Maximum Points After Collecting Coins From All Nodes/images/ex2.png
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/summary.md
  solution/summary_en.md
Labels: md, core team, png

#1896 feat: add sql solution to lc problem: No.2893
  solution/2800-2899/2893.Calculate Orders Within Each Interval/README.md
  solution/2800-2899/2893.Calculate Orders Within Each Interval/README_EN.md
Labels: md, core team

#1899 feat: add solutions to lc problem: No.0275
  solution/0200-0299/0275.H-Index II/README.md
  solution/0200-0299/0275.H-Index II/README_EN.md
  solution/0200-0299/0275.H-Index II/Solution.cs
  solution/0200-0299/0275.H-Index II/Solution.rs
Labels: md, rs, core team, cs

#1900 feat: add sql solution to lc problem: No.2308
  solution/2300-2399/2308.Arrange Table by Gender/README.md
  solution/2300-2399/2308.Arrange Table by Gender/README_EN.md
Labels: md, core team

#1901 feat: update sql solution to lc problem: No.2020
  solution/2000-2099/2020.Number of Accounts That Did Not Stream/README.md
  solution/2000-2099/2020.Number of Accounts That Did Not Stream/README_EN.md
  solution/2000-2099/2020.Number of Accounts That Did Not Stream/Solution.sql
Labels: md, core team, sql

#1903 feat: add solutions to lc problems: No.2917,2918
  solution/2900-2999/2917.Find the K-or of an Array/README.md
  solution/2900-2999/2917.Find the K-or of an Array/README_EN.md
  solution/2900-2999/2917.Find the K-or of an Array/Solution.cpp
  solution/2900-2999/2917.Find the K-or of an Array/Solution.go
  solution/2900-2999/2917.Find the K-or of an Array/Solution.java
  solution/2900-2999/2917.Find the K-or of an Array/Solution.py
  solution/2900-2999/2917.Find the K-or of an Array/Solution.ts
  solution/2900-2999/2918.Minimum Equal Sum of Two Arrays After Replacing Zeros/README.md
  solution/2900-2999/2918.Minimum Equal Sum of Two Arrays After Replacing Zeros/README_EN.md
  solution/2900-2999/2918.Minimum Equal Sum of Two Arrays After Replacing Zeros/Solution.cpp
  solution/2900-2999/2918.Minimum Equal Sum of Two Arrays After Replacing Zeros/Solution.go
  solution/2900-2999/2918.Minimum Equal Sum of Two Arrays After Replacing Zeros/Solution.java
  solution/2900-2999/2918.Minimum Equal Sum of Two Arrays After Replacing Zeros/Solution.py
  solution/2900-2999/2918.Minimum Equal Sum of Two Arrays After Replacing Zeros/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#1905 feat: add solutions to lc problem: No.2915
  solution/2900-2999/2915.Length of the Longest Subsequence That Sums to Target/README.md
  solution/2900-2999/2915.Length of the Longest Subsequence That Sums to Target/README_EN.md
  solution/2900-2999/2915.Length of the Longest Subsequence That Sums to Target/Solution.cpp
  solution/2900-2999/2915.Length of the Longest Subsequence That Sums to Target/Solution.go
  solution/2900-2999/2915.Length of the Longest Subsequence That Sums to Target/Solution.java
  solution/2900-2999/2915.Length of the Longest Subsequence That Sums to Target/Solution.py
  solution/2900-2999/2915.Length of the Longest Subsequence That Sums to Target/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#1909 feat: add rust solution to lc problem: No.0218
  solution/0200-0299/0218.The Skyline Problem/README.md
  solution/0200-0299/0218.The Skyline Problem/README_EN.md
  solution/0200-0299/0218.The Skyline Problem/Solution.rs
Labels: md, rs, core team
