Repository doocs/leetcode, pull requests merged in 2024-01, with the labels that each got.

#2170 feat: add solutions to lc problem: No.1599
  solution/1500-1599/1599.Maximum Profit of Operating a Centennial Wheel/README.md
  solution/1500-1599/1599.Maximum Profit of Operating a Centennial Wheel/README_EN.md
  solution/1500-1599/1599.Maximum Profit of Operating a Centennial Wheel/Solution.rs
  solution/1500-1599/1599.Maximum Profit of Operating a Centennial Wheel/Solution.ts
Labels: md, ts, rs, core team

#2171 feat: add new lc problems: No.2980~2991
  solution/2900-2999/2980.Check if Bitwise OR Has Trailing Zeros/README.md
  solution/2900-2999/2980.Check if Bitwise OR Has Trailing Zeros/README_EN.md
  solution/2900-2999/2981.Find Longest Special Substring That Occurs Thrice I/README.md
  solution/2900-2999/2981.Find Longest Special Substring That Occurs Thrice I/README_EN.md
  solution/2900-2999/2982.Find Longest Special Substring That Occurs Thrice II/README.md
  solution/2900-2999/2982.Find Longest Special Substring That Occurs Thrice II/README_EN.md
  solution/2900-2999/2983.Palindrome Rearrangement Queries/README.md
  solution/2900-2999/2983.Palindrome Rearrangement Queries/README_EN.md
  solution/2900-2999/2984.Find Peak Calling Hours for Each City/README.md
  solution/2900-2999/2984.Find Peak Calling Hours for Each City/README_EN.md
  solution/2900-2999/2985.Calculate Compressed Mean/README.md
  solution/2900-2999/2985.Calculate Compressed Mean/README_EN.md
  solution/2900-2999/2986.Find Third Transaction/README.md
  solution/2900-2999/2986.Find Third Transaction/README_EN.md
  solution/2900-2999/2987.Find Expensive Cities/README.md
  solution/2900-2999/2987.Find Expensive Cities/README_EN.md
  solution/2900-2999/2988.Manager of the Largest Department/README.md
  solution/2900-2999/2988.Manager of the Largest Department/README_EN.md
  solution/2900-2999/2989.Class Performance/README.md
  solution/2900-2999/2989.Class Performance/README_EN.md
  solution/2900-2999/2990.Loan Types/README.md
  solution/2900-2999/2990.Loan Types/README_EN.md
  solution/2900-2999/2991.Top Three Wineries/README.md
  solution/2900-2999/2991.Top Three Wineries/README_EN.md
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/DATABASE_README.md
  solution/DATABASE_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/database-summary.md
  solution/database-summary_en.md
  solution/summary.md
  solution/summary_en.md
Labels: md, core team

#2172 feat: add sql solutions to lc problems: No.2984~2991
  solution/2900-2999/2984.Find Peak Calling Hours for Each City/README.md
  solution/2900-2999/2984.Find Peak Calling Hours for Each City/README_EN.md
  solution/2900-2999/2984.Find Peak Calling Hours for Each City/Solution.sql
  solution/2900-2999/2985.Calculate Compressed Mean/README.md
  solution/2900-2999/2985.Calculate Compressed Mean/README_EN.md
  solution/2900-2999/2985.Calculate Compressed Mean/Solution.sql
  solution/2900-2999/2986.Find Third Transaction/README.md
  solution/2900-2999/2986.Find Third Transaction/README_EN.md
  solution/2900-2999/2986.Find Third Transaction/Solution.sql
  solution/2900-2999/2987.Find Expensive Cities/README.md
  solution/2900-2999/2987.Find Expensive Cities/README_EN.md
  solution/2900-2999/2987.Find Expensive Cities/Solution.sql
  solution/2900-2999/2988.Manager of the Largest Department/README.md
  solution/2900-2999/2988.Manager of the Largest Department/README_EN.md
  solution/2900-2999/2988.Manager of the Largest Department/Solution.sql
  solution/2900-2999/2989.Class Performance/README.md
  solution/2900-2999/2989.Class Performance/README_EN.md
  solution/2900-2999/2989.Class Performance/Solution.sql
  solution/2900-2999/2990.Loan Types/README.md
  solution/2900-2999/2990.Loan Types/README_EN.md
  solution/2900-2999/2990.Loan Types/Solution.sql
  solution/2900-2999/2991.Top Three Wineries/README.md
  solution/2900-2999/2991.Top Three Wineries/README_EN.md
  solution/2900-2999/2991.Top Three Wineries/Solution.sql
Labels: md, core team, sql

#2173 feat: update lc problems
  solution/0000-0099/0006.Zigzag Conversion/README.md
  solution/0100-0199/0195.Tenth Line/README_EN.md
  solution/1100-1199/1128.Number of Equivalent Domino Pairs/README.md
  solution/1100-1199/1135.Connecting Cities With Minimum Cost/README.md
  solution/1100-1199/1155.Number of Dice Rolls With Target Sum/README.md
  solution/1100-1199/1155.Number of Dice Rolls With Target Sum/README_EN.md
  solution/1100-1199/1160.Find Words That Can Be Formed by Characters/README.md
  solution/1100-1199/1167.Minimum Cost to Connect Sticks/README.md
  solution/1200-1299/1216.Valid Palindrome III/README.md
  solution/1200-1299/1222.Queens That Can Attack the King/README.md
  solution/1200-1299/1222.Queens That Can Attack the King/images/1703052515-HqjAJq-chess1.jpg
  solution/1200-1299/1222.Queens That Can Attack the King/images/1703052660-bPPflt-chess2.jpg
  solution/1200-1299/1222.Queens That Can Attack the King/images/chess1.jpg
  solution/1200-1299/1222.Queens That Can Attack the King/images/chess2.jpg
  solution/1500-1599/1578.Minimum Time to Make Rope Colorful/README.md
  solution/1500-1599/1578.Minimum Time to Make Rope Colorful/README_EN.md
  solution/1500-1599/1582.Special Positions in a Binary Matrix/README.md
  solution/2600-2699/2668.Find Latest Salaries/README_EN.md
  solution/2700-2799/2735.Collecting Chocolates/README.md
  solution/2900-2999/2978.Symmetric Coordinates/README.md
  solution/2900-2999/2978.Symmetric Coordinates/README_EN.md
  solution/2900-2999/2979.Most Expensive Item That Can Not Be Bought/README.md
  solution/2900-2999/2989.Class Performance/README.md
  solution/2900-2999/2990.Loan Types/README.md
  solution/DATABASE_README.md
  solution/README.md
  solution/database-summary.md
  solution/summary.md
Labels: md, core team, jpg

#2175 feat: add solutions to lc problems: No.2485~2487
  solution/2400-2499/2485.Find the Pivot Integer/README_EN.md
  solution/2400-2499/2486.Append Characters to String to Make Subsequence/README.md
  solution/2400-2499/2486.Append Characters to String to Make Subsequence/README_EN.md
  solution/2400-2499/2486.Append Characters to String to Make Subsequence/Solution.py
  solution/2400-2499/2486.Append Characters to String to Make Subsequence/Solution.ts
  solution/2400-2499/2487.Remove Nodes From Linked List/README.md
  solution/2400-2499/2487.Remove Nodes From Linked List/README_EN.md
Labels: md, ts, py, core team

#2176 feat: add solutions to lc problem: No.2983
  README.md
  README_EN.md
  solution/2900-2999/2983.Palindrome Rearrangement Queries/README.md
  solution/2900-2999/2983.Palindrome Rearrangement Queries/README_EN.md
  solution/2900-2999/2983.Palindrome Rearrangement Queries/Solution.cpp
  solution/2900-2999/2983.Palindrome Rearrangement Queries/Solution.go
  solution/2900-2999/2983.Palindrome Rearrangement Queries/Solution.java
  solution/2900-2999/2983.Palindrome Rearrangement Queries/Solution.py
  solution/2900-2999/2983.Palindrome Rearrangement Queries/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2177 feat: update lc problems
  solution/DATABASE_README.md
  solution/README.md
  solution/database-summary.md
  solution/summary.md
Labels: md, core team

#2178 feat: update solutions to lc problems
  solution/2400-2499/2487.Remove Nodes From Linked List/README.md
  solution/2400-2499/2487.Remove Nodes From Linked List/README_EN.md
  solution/2400-2499/2487.Remove Nodes From Linked List/Solution.cpp
  solution/2400-2499/2487.Remove Nodes From Linked List/Solution.go
  solution/2400-2499/2487.Remove Nodes From Linked List/Solution.java
  solution/2400-2499/2487.Remove Nodes From Linked List/Solution.py
  solution/2400-2499/2487.Remove Nodes From Linked List/Solution.ts
  solution/2800-2899/2806.Account Balance After Rounded Purchase/README_EN.md
  solution/2800-2899/2807.Insert Greatest Common Divisors in Linked List/README.md
  solution/2800-2899/2807.Insert Greatest Common Divisors in Linked List/README_EN.md
  solution/2800-2899/2807.Insert Greatest Common Divisors in Linked List/Solution.cpp
  solution/2800-2899/2807.Insert Greatest Common Divisors in Linked List/Solution.go
  solution/2800-2899/2807.Insert Greatest Common Divisors in Linked List/Solution.java
  solution/2800-2899/2807.Insert Greatest Common Divisors in Linked List/Solution.ts
  solution/2800-2899/2808.Minimum Seconds to Equalize a Circular Array/README_EN.md
  solution/2800-2899/2809.Minimum Time to Make Array Sum At Most x/README_EN.md
  solution/2800-2899/2810.Faulty Keyboard/README_EN.md
  solution/2800-2899/2811.Check if it is Possible to Split Array/README.md
  solution/2800-2899/2811.Check if it is Possible to Split Array/README_EN.md
  solution/2900-2999/2985.Calculate Compressed Mean/README.md
  solution/2900-2999/2985.Calculate Compressed Mean/README_EN.md
  solution/2900-2999/2987.Find Expensive Cities/README.md
  solution/2900-2999/2987.Find Expensive Cities/README_EN.md
  solution/2900-2999/2988.Manager of the Largest Department/README.md
  solution/2900-2999/2988.Manager of the Largest Department/README_EN.md
Labels: md, ts, py, go, java, cpp, core team

#2179 feat: add solutions to lc problem: No.2992
  solution/2900-2999/2992.Number of Self-Divisible Permutations/README.md
  solution/2900-2999/2992.Number of Self-Divisible Permutations/README_EN.md
  solution/2900-2999/2992.Number of Self-Divisible Permutations/Solution.cpp
  solution/2900-2999/2992.Number of Self-Divisible Permutations/Solution.go
  solution/2900-2999/2992.Number of Self-Divisible Permutations/Solution.java
  solution/2900-2999/2992.Number of Self-Divisible Permutations/Solution.py
  solution/2900-2999/2992.Number of Self-Divisible Permutations/Solution.ts
  solution/DATABASE_README.md
  solution/DATABASE_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/database-summary.md
  solution/summary.md
  solution/summary_en.md
Labels: md, ts, py, go, java, cpp, core team

#2180 feat: add solutions to lc problems: No.200+
  solution/0200-0299/0213.House Robber II/README_EN.md
  solution/0200-0299/0215.Kth Largest Element in an Array/README.md
  solution/0200-0299/0215.Kth Largest Element in an Array/README_EN.md
  solution/0200-0299/0217.Contains Duplicate/README_EN.md
  solution/0200-0299/0220.Contains Duplicate III/README.md
  solution/0200-0299/0220.Contains Duplicate III/README_EN.md
  solution/0200-0299/0221.Maximal Square/README_EN.md
  solution/0200-0299/0222.Count Complete Tree Nodes/README_EN.md
  solution/0200-0299/0223.Rectangle Area/README_EN.md
  solution/0200-0299/0224.Basic Calculator/README_EN.md
  solution/0200-0299/0225.Implement Stack using Queues/README_EN.md
  solution/0200-0299/0226.Invert Binary Tree/README_EN.md
  solution/0200-0299/0227.Basic Calculator II/README_EN.md
Labels: md, core team

#2181 feat: add new lc problems
  solution/2900-2999/2993.Friday Purchases I/README.md
  solution/2900-2999/2993.Friday Purchases I/README_EN.md
  solution/2900-2999/2994.Friday Purchases II/README.md
  solution/2900-2999/2994.Friday Purchases II/README_EN.md
  solution/2900-2999/2995.Viewers Turned Streamers/README.md
  solution/2900-2999/2995.Viewers Turned Streamers/README_EN.md
  solution/DATABASE_README.md
  solution/DATABASE_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/database-summary.md
  solution/database-summary_en.md
  solution/summary.md
  solution/summary_en.md
Labels: md, py, core team

#2182 feat: add sql solutions to lc problems: No.2993~2995
  .prettierrc
  package-lock.json
  package.json
  solution/2900-2999/2993.Friday Purchases I/README.md
  solution/2900-2999/2993.Friday Purchases I/README_EN.md
  solution/2900-2999/2993.Friday Purchases I/Solution.sql
  solution/2900-2999/2994.Friday Purchases II/README.md
  solution/2900-2999/2994.Friday Purchases II/README_EN.md
  solution/2900-2999/2994.Friday Purchases II/Solution.sql
  solution/2900-2999/2995.Viewers Turned Streamers/README.md
  solution/2900-2999/2995.Viewers Turned Streamers/README_EN.md
  solution/2900-2999/2995.Viewers Turned Streamers/Solution.sql
Labels: md, core team, json, sql, prettierrc

#2183 feat: add solutions to lc problems: No.2645,2696,2707
  solution/2600-2699/2645.Minimum Additions to Make Valid String/README_EN.md
  solution/2600-2699/2696.Minimum String Length After Removing Substrings/README.md
  solution/2600-2699/2696.Minimum String Length After Removing Substrings/README_EN.md
  solution/2600-2699/2696.Minimum String Length After Removing Substrings/Solution.ts
  solution/2600-2699/2698.Find the Punishment Number of an Integer/README_EN.md
  solution/2600-2699/2699.Modify Graph Edge Weights/README_EN.md
  solution/2700-2799/2707.Extra Characters in a String/README.md
  solution/2700-2799/2707.Extra Characters in a String/README_EN.md
  solution/2700-2799/2707.Extra Characters in a String/Solution.rs
Labels: md, ts, rs, core team

#2184 feat: add solutions to lc problems: No.2800+
  solution/2800-2899/2800.Shortest String That Contains Three Strings/README_EN.md
  solution/2800-2899/2801.Count Stepping Numbers in Range/README_EN.md
  solution/2800-2899/2802.Find The K-th Lucky Number/README_EN.md
  solution/2800-2899/2814.Minimum Time Takes to Reach Destination Without Drowning/README_EN.md
  solution/2800-2899/2819.Minimum Relative Loss After Buying Chocolates/README_EN.md
  solution/2800-2899/2820.Election Results/README_EN.md
  solution/2800-2899/2827.Number of Beautiful Integers in the Range/README_EN.md
Labels: md, core team

#2186 feat: add sql parser
  .prettierignore
  .prettierrc
  solution/1200-1299/1285.Find the Start and End Number of Continuous Ranges/Solution.sql
  solution/1400-1499/1484.Group Sold Products By The Date/Solution.sql
  solution/1600-1699/1613.Find the Missing IDs/Solution.sql
  solution/1600-1699/1651.Hopper Company Queries III/Solution.sql
  solution/1800-1899/1873.Calculate Special Bonus/Solution.sql
  solution/2100-2199/2153.The Number of Passengers in Each Bus II/Solution.sql
Labels: core team, sql, prettierignore, prettierrc

#2187 feat: update sql solution to lc problem: No.1174
  solution/1100-1199/1174.Immediate Food Delivery II/README.md
  solution/1100-1199/1174.Immediate Food Delivery II/README_EN.md
  solution/1100-1199/1174.Immediate Food Delivery II/Solution.sql
Labels: md, core team, sql

#2188 feat: add biweekly contest 121
  solution/10000-10099/10031.Smallest Missing Integer Greater Than Sequential Prefix Sum/README.md
  solution/10000-10099/10031.Smallest Missing Integer Greater Than Sequential Prefix Sum/README_EN.md
  solution/10000-10099/10032.Minimum Number of Operations to Make Array XOR Equal to K/README.md
  solution/10000-10099/10032.Minimum Number of Operations to Make Array XOR Equal to K/README_EN.md
  solution/10000-10099/10033.Minimum Number of Operations to Make X and Y Equal/README.md
  solution/10000-10099/10033.Minimum Number of Operations to Make X and Y Equal/README_EN.md
  solution/10000-10099/10034.Count the Number of Powerful Integers/README.md
  solution/10000-10099/10034.Count the Number of Powerful Integers/README_EN.md
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/summary.md
  solution/summary_en.md
Labels: md, core team

#2189 feat: add solutions to lc problems: No.10031+
  solution/0300-0399/0383.Ransom Note/README.md
  solution/0300-0399/0383.Ransom Note/README_EN.md
  solution/0300-0399/0383.Ransom Note/Solution.ts
  solution/10000-10099/10031.Smallest Missing Integer Greater Than Sequential Prefix Sum/README.md
  solution/10000-10099/10031.Smallest Missing Integer Greater Than Sequential Prefix Sum/README_EN.md
  solution/10000-10099/10031.Smallest Missing Integer Greater Than Sequential Prefix Sum/Solution.cpp
  solution/10000-10099/10031.Smallest Missing Integer Greater Than Sequential Prefix Sum/Solution.go
  solution/10000-10099/10031.Smallest Missing Integer Greater Than Sequential Prefix Sum/Solution.java
  solution/10000-10099/10031.Smallest Missing Integer Greater Than Sequential Prefix Sum/Solution.py
  solution/10000-10099/10031.Smallest Missing Integer Greater Than Sequential Prefix Sum/Solution.ts
  solution/10000-10099/10032.Minimum Number of Operations to Make Array XOR Equal to K/README.md
  solution/10000-10099/10032.Minimum Number of Operations to Make Array XOR Equal to K/README_EN.md
  solution/10000-10099/10032.Minimum Number of Operations to Make Array XOR Equal to K/Solution.cpp
  solution/10000-10099/10032.Minimum Number of Operations to Make Array XOR Equal to K/Solution.go
  solution/10000-10099/10032.Minimum Number of Operations to Make Array XOR Equal to K/Solution.java
  solution/10000-10099/10032.Minimum Number of Operations to Make Array XOR Equal to K/Solution.py
  solution/10000-10099/10032.Minimum Number of Operations to Make Array XOR Equal to K/Solution.ts
  solution/10000-10099/10033.Minimum Number of Operations to Make X and Y Equal/README.md
  solution/10000-10099/10033.Minimum Number of Operations to Make X and Y Equal/README_EN.md
  solution/10000-10099/10033.Minimum Number of Operations to Make X and Y Equal/Solution.cpp
  solution/10000-10099/10033.Minimum Number of Operations to Make X and Y Equal/Solution.go
  solution/10000-10099/10033.Minimum Number of Operations to Make X and Y Equal/Solution.java
  solution/10000-10099/10033.Minimum Number of Operations to Make X and Y Equal/Solution.py
  solution/10000-10099/10033.Minimum Number of Operations to Make X and Y Equal/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2191 feat: add weekly contest 379
  solution/10000-10099/10035.Maximum Area of Longest Diagonal Rectangle/README.md
  solution/10000-10099/10035.Maximum Area of Longest Diagonal Rectangle/README_EN.md
  solution/10000-10099/10036.Minimum Moves to Capture The Queen/README.md
  solution/10000-10099/10036.Minimum Moves to Capture The Queen/README_EN.md
  solution/10000-10099/10036.Minimum Moves to Capture The Queen/images/ex1.png
  solution/10000-10099/10036.Minimum Moves to Capture The Queen/images/ex2.png
  solution/10000-10099/10037.Maximum Size of a Set After Removals/README.md
  solution/10000-10099/10037.Maximum Size of a Set After Removals/README_EN.md
  solution/10000-10099/10038.Maximize the Number of Partitions After Operations/README.md
  solution/10000-10099/10038.Maximize the Number of Partitions After Operations/README_EN.md
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/summary.md
  solution/summary_en.md
Labels: md, core team, png

#2192 feat: add solutions to lc problem: No.10034
  solution/10000-10099/10034.Count the Number of Powerful Integers/README.md
  solution/10000-10099/10034.Count the Number of Powerful Integers/README_EN.md
  solution/10000-10099/10034.Count the Number of Powerful Integers/Solution.cpp
  solution/10000-10099/10034.Count the Number of Powerful Integers/Solution.go
  solution/10000-10099/10034.Count the Number of Powerful Integers/Solution.java
  solution/10000-10099/10034.Count the Number of Powerful Integers/Solution.py
  solution/10000-10099/10034.Count the Number of Powerful Integers/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2193 feat: add solutions to lc problem: No.10035
  solution/10000-10099/10035.Maximum Area of Longest Diagonal Rectangle/README.md
  solution/10000-10099/10035.Maximum Area of Longest Diagonal Rectangle/README_EN.md
  solution/10000-10099/10035.Maximum Area of Longest Diagonal Rectangle/Solution.cpp
  solution/10000-10099/10035.Maximum Area of Longest Diagonal Rectangle/Solution.go
  solution/10000-10099/10035.Maximum Area of Longest Diagonal Rectangle/Solution.java
  solution/10000-10099/10035.Maximum Area of Longest Diagonal Rectangle/Solution.py
  solution/10000-10099/10035.Maximum Area of Longest Diagonal Rectangle/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2195 feat: add C solution to lcof2 problem: No.012
  lcof2/剑指 Offer II 012. 左右两边子数组的和相等/README.md
  lcof2/剑指 Offer II 012. 左右两边子数组的和相等/Solution.c
Labels: md, c

#2196 feat: add solutions to lc problem: No.0447
  solution/0400-0499/0447.Number of Boomerangs/README.md
  solution/0400-0499/0447.Number of Boomerangs/README_EN.md
  solution/0400-0499/0447.Number of Boomerangs/Solution.cpp
  solution/0400-0499/0447.Number of Boomerangs/Solution.go
  solution/0400-0499/0447.Number of Boomerangs/Solution.java
  solution/0400-0499/0447.Number of Boomerangs/Solution.py
  solution/0400-0499/0447.Number of Boomerangs/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2197 feat: add sql solution to lc problem: No.1321
  solution/1300-1399/1321.Restaurant Growth/README.md
  solution/1300-1399/1321.Restaurant Growth/README_EN.md
Labels: md, core team

#2198 feat: add solutions to lc problem: No.10036
  solution/10000-10099/10036.Minimum Moves to Capture The Queen/README.md
  solution/10000-10099/10036.Minimum Moves to Capture The Queen/README_EN.md
  solution/10000-10099/10036.Minimum Moves to Capture The Queen/Solution.cpp
  solution/10000-10099/10036.Minimum Moves to Capture The Queen/Solution.go
  solution/10000-10099/10036.Minimum Moves to Capture The Queen/Solution.java
  solution/10000-10099/10036.Minimum Moves to Capture The Queen/Solution.py
  solution/10000-10099/10036.Minimum Moves to Capture The Queen/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2199 feat: add solutions to lc problem: No.10037
  solution/10000-10099/10037.Maximum Size of a Set After Removals/README.md
  solution/10000-10099/10037.Maximum Size of a Set After Removals/README_EN.md
  solution/10000-10099/10037.Maximum Size of a Set After Removals/Solution.cpp
  solution/10000-10099/10037.Maximum Size of a Set After Removals/Solution.go
  solution/10000-10099/10037.Maximum Size of a Set After Removals/Solution.java
  solution/10000-10099/10037.Maximum Size of a Set After Removals/Solution.py
  solution/10000-10099/10037.Maximum Size of a Set After Removals/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2200 feat: update solutions to lc problem: No.2788
  solution/2700-2799/2788.Split Strings by Separator/README.md
  solution/2700-2799/2788.Split Strings by Separator/README_EN.md
  solution/2700-2799/2788.Split Strings by Separator/Solution.cpp
  solution/2700-2799/2788.Split Strings by Separator/Solution.ts
Labels: md, ts, cpp, core team

#2203 feat: add solutions to lc problem: No.2996
  solution/2900-2999/2996.Smallest Missing Integer Greater Than Sequential Prefix Sum/README.md
  solution/2900-2999/2996.Smallest Missing Integer Greater Than Sequential Prefix Sum/README_EN.md
  solution/2900-2999/2996.Smallest Missing Integer Greater Than Sequential Prefix Sum/Solution.cpp
  solution/2900-2999/2996.Smallest Missing Integer Greater Than Sequential Prefix Sum/Solution.go
  solution/2900-2999/2996.Smallest Missing Integer Greater Than Sequential Prefix Sum/Solution.java
  solution/2900-2999/2996.Smallest Missing Integer Greater Than Sequential Prefix Sum/Solution.py
  solution/2900-2999/2996.Smallest Missing Integer Greater Than Sequential Prefix Sum/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2204 feat: add solutions to lc problem: No.2997
  solution/2900-2999/2997.Minimum Number of Operations to Make Array XOR Equal to K/README.md
  solution/2900-2999/2997.Minimum Number of Operations to Make Array XOR Equal to K/README_EN.md
  solution/2900-2999/2997.Minimum Number of Operations to Make Array XOR Equal to K/Solution.cpp
  solution/2900-2999/2997.Minimum Number of Operations to Make Array XOR Equal to K/Solution.go
  solution/2900-2999/2997.Minimum Number of Operations to Make Array XOR Equal to K/Solution.java
  solution/2900-2999/2997.Minimum Number of Operations to Make Array XOR Equal to K/Solution.py
  solution/2900-2999/2997.Minimum Number of Operations to Make Array XOR Equal to K/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2206 feat: add solutions to lc problem: No.3004
  solution/3000-3099/3004.Maximum Subtree of the Same Color/README.md
  solution/3000-3099/3004.Maximum Subtree of the Same Color/README_EN.md
  solution/3000-3099/3004.Maximum Subtree of the Same Color/Solution.cpp
  solution/3000-3099/3004.Maximum Subtree of the Same Color/Solution.go
  solution/3000-3099/3004.Maximum Subtree of the Same Color/Solution.java
  solution/3000-3099/3004.Maximum Subtree of the Same Color/Solution.py
  solution/3000-3099/3004.Maximum Subtree of the Same Color/Solution.ts
  solution/README.md
  solution/README_EN.md
  solution/summary.md
  solution/summary_en.md
Labels: md, ts, py, go, java, cpp, core team

#2207 feat: add solutions to lc problem: No.2744~2746
  solution/2700-2799/2744.Find Maximum Number of String Pairs/README_EN.md
  solution/2700-2799/2745.Construct the Longest New String/README_EN.md
  solution/2700-2799/2746.Decremental String Concatenation/README_EN.md
Labels: md, core team

#2208 feat: update lc problems
  solution/2700-2799/2746.Decremental String Concatenation/README_EN.md
  solution/3000-3099/3004.Maximum Subtree of the Same Color/README.md
  solution/3000-3099/3004.Maximum Subtree of the Same Color/README_EN.md
  solution/3000-3099/3004.Maximum Subtree of the Same Color/images/20231216-134017.png
  solution/3000-3099/3004.Maximum Subtree of the Same Color/images/20231216-134026.png
  solution/DATABASE_README.md
  solution/README.md
  solution/database-summary.md
  solution/summary.md
Labels: md, core team, png

#2209 feat: add solutions to lc problem: No.2085
  solution/2000-2099/2085.Count Common Words With One Occurrence/README.md
  solution/2000-2099/2085.Count Common Words With One Occurrence/README_EN.md
  solution/2000-2099/2085.Count Common Words With One Occurrence/Solution.cpp
  solution/2000-2099/2085.Count Common Words With One Occurrence/Solution.go
  solution/2000-2099/2085.Count Common Words With One Occurrence/Solution.java
  solution/2000-2099/2085.Count Common Words With One Occurrence/Solution.py
  solution/2000-2099/2085.Count Common Words With One Occurrence/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2210 fix: update code blocks
  solution/1400-1499/1438.Longest Continuous Subarray With Absolute Diff Less Than or Equal to Limit/README.md
  solution/1400-1499/1438.Longest Continuous Subarray With Absolute Diff Less Than or Equal to Limit/README_EN.md
  solution/1400-1499/1438.Longest Continuous Subarray With Absolute Diff Less Than or Equal to Limit/Solution.ts
  solution/2600-2699/2612.Minimum Reverse Operations/README.md
  solution/2600-2699/2612.Minimum Reverse Operations/README_EN.md
Labels: md, ts, core team

#2211 feat: add solutions to lc problem: No.2182
  solution/2100-2199/2182.Construct String With Repeat Limit/README.md
  solution/2100-2199/2182.Construct String With Repeat Limit/README_EN.md
  solution/2100-2199/2182.Construct String With Repeat Limit/Solution.cpp
  solution/2100-2199/2182.Construct String With Repeat Limit/Solution.go
  solution/2100-2199/2182.Construct String With Repeat Limit/Solution.java
  solution/2100-2199/2182.Construct String With Repeat Limit/Solution.py
  solution/2100-2199/2182.Construct String With Repeat Limit/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2213 feat: add script to extract solution description
  main.py
Labels: py, core team

#2214 Fix code, to pass test case
  solution/1400-1499/1483.Kth Ancestor of a Tree Node/README.md
  solution/1400-1499/1483.Kth Ancestor of a Tree Node/README_EN.md
  solution/1400-1499/1483.Kth Ancestor of a Tree Node/Solution.cpp
  solution/1400-1499/1483.Kth Ancestor of a Tree Node/Solution.go
  solution/1400-1499/1483.Kth Ancestor of a Tree Node/Solution.java
  solution/1400-1499/1483.Kth Ancestor of a Tree Node/Solution.py
  solution/1400-1499/1483.Kth Ancestor of a Tree Node/Solution.ts
Labels: md, ts, py, go, java, cpp

#2215 feat: add weekly contest 380
  solution/3000-3099/3005.Count Elements With Maximum Frequency/README.md
  solution/3000-3099/3005.Count Elements With Maximum Frequency/README_EN.md
  solution/3000-3099/3006.Find Beautiful Indices in the Given Array I/README.md
  solution/3000-3099/3006.Find Beautiful Indices in the Given Array I/README_EN.md
  solution/3000-3099/3007.Maximum Number That Sum of the Prices Is Less Than or Equal to K/README.md
  solution/3000-3099/3007.Maximum Number That Sum of the Prices Is Less Than or Equal to K/README_EN.md
  solution/3000-3099/3008.Find Beautiful Indices in the Given Array II/README.md
  solution/3000-3099/3008.Find Beautiful Indices in the Given Array II/README_EN.md
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/summary.md
  solution/summary_en.md
Labels: md, core team

#2216 feat: add solutions to lc problem: No.3005
  solution/3000-3099/3005.Count Elements With Maximum Frequency/README.md
  solution/3000-3099/3005.Count Elements With Maximum Frequency/README_EN.md
  solution/3000-3099/3005.Count Elements With Maximum Frequency/Solution.cpp
  solution/3000-3099/3005.Count Elements With Maximum Frequency/Solution.go
  solution/3000-3099/3005.Count Elements With Maximum Frequency/Solution.java
  solution/3000-3099/3005.Count Elements With Maximum Frequency/Solution.py
  solution/3000-3099/3005.Count Elements With Maximum Frequency/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2217 feat: add js solution to lc problem: No.2332
  solution/2300-2399/2332.The Latest Time to Catch a Bus/README_EN.md
Labels: md

#2220 add js solution to lc problem: No.2332 - README.md
  solution/2300-2399/2332.The Latest Time to Catch a Bus/README.md
Labels: md

#2222 feat: add solutions to lc problem: No.3007
  solution/3000-3099/3007.Maximum Number That Sum of the Prices Is Less Than or Equal to K/README.md
  solution/3000-3099/3007.Maximum Number That Sum of the Prices Is Less Than or Equal to K/README_EN.md
  solution/3000-3099/3007.Maximum Number That Sum of the Prices Is Less Than or Equal to K/Solution.cpp
  solution/3000-3099/3007.Maximum Number That Sum of the Prices Is Less Than or Equal to K/Solution.go
  solution/3000-3099/3007.Maximum Number That Sum of the Prices Is Less Than or Equal to K/Solution.java
  solution/3000-3099/3007.Maximum Number That Sum of the Prices Is Less Than or Equal to K/Solution.py
Labels: md, py, go, java, cpp, core team

#2223 feat: add js/ts solutions to lc problem: No.2332
  solution/2300-2399/2332.The Latest Time to Catch a Bus/README.md
  solution/2300-2399/2332.The Latest Time to Catch a Bus/README_EN.md
  solution/2300-2399/2332.The Latest Time to Catch a Bus/Solution.js
  solution/2300-2399/2332.The Latest Time to Catch a Bus/Solution.ts
Labels: js, md, ts, core team

#2218 feat: add js solution to lc problem: No.2225
  solution/2200-2299/2225.Find Players With Zero or One Losses/README.md
  solution/2200-2299/2225.Find Players With Zero or One Losses/README_EN.md
  solution/2200-2299/2225.Find Players With Zero or One Losses/Solution.js
Labels: js, md

#2219 feat: add js solution to lc problem: No.1774
  solution/1700-1799/1774.Closest Dessert Cost/README_EN.md
Labels: md

#2225 feat: add solutions to lc problems: No.2716~2719
  solution/2700-2799/2716.Minimize String Length/README_EN.md
  solution/2700-2799/2717.Semi-Ordered Permutation/README_EN.md
  solution/2700-2799/2718.Sum of Matrix After Queries/README_EN.md
  solution/2700-2799/2719.Count of Integers/README.md
  solution/2700-2799/2719.Count of Integers/README_EN.md
  solution/2700-2799/2719.Count of Integers/Solution.cpp
  solution/2700-2799/2719.Count of Integers/Solution.go
  solution/2700-2799/2719.Count of Integers/Solution.java
  solution/2700-2799/2719.Count of Integers/Solution.py
  solution/2700-2799/2719.Count of Integers/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2227 feat: update solutions to lcci problems
  lcci/01.03.String to URL/README.md
  lcci/01.03.String to URL/README_EN.md
  lcci/01.03.String to URL/Solution2.go
  lcci/01.03.String to URL/Solution2.java
  lcci/01.03.String to URL/Solution2.py
  lcci/01.04.Palindrome Permutation/README.md
  lcci/01.04.Palindrome Permutation/README_EN.md
  lcci/01.06.Compress String/README.md
  lcci/01.06.Compress String/README_EN.md
  lcci/01.09.String Rotation/README.md
  lcci/01.09.String Rotation/README_EN.md
  lcci/01.09.String Rotation/Solution2.rs
  lcci/02.01.Remove Duplicate Node/README.md
  lcci/02.01.Remove Duplicate Node/README_EN.md
  lcci/02.01.Remove Duplicate Node/Solution2.ts
Labels: md, ts, py, go, java, rs, core team

#2228 feat: update solutions to lc problem: No.2744
  solution/2700-2799/2744.Find Maximum Number of String Pairs/README.md
  solution/2700-2799/2744.Find Maximum Number of String Pairs/README_EN.md
  solution/2700-2799/2744.Find Maximum Number of String Pairs/Solution.cpp
  solution/2700-2799/2744.Find Maximum Number of String Pairs/Solution.go
  solution/2700-2799/2744.Find Maximum Number of String Pairs/Solution.java
  solution/2700-2799/2744.Find Maximum Number of String Pairs/Solution.py
  solution/2700-2799/2744.Find Maximum Number of String Pairs/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2231 feat: initialize mkdocs config
  docs-en/index.md
  docs-en/javascripts/katex.js
  docs/index.md
  docs/javascripts/katex.js
  main.py
  mkdocs-en.yml
  mkdocs.yml
  requirements.txt
Labels: js, md, py, core team, yml, txt

#2232 chore: update site config
  .github/workflows/deploy.yml
  .prettierignore
  main.py
  mkdocs-en.yml
  mkdocs.yml
Labels: py, core team, yml, prettierignore

#2233 fix: modify ignored files
  .gitignore
  .prettierignore
Labels: core team, prettierignore, gitignore

#2234 feat: add solutions to lc problem: No.2171
  solution/2100-2199/2171.Removing Minimum Number of Magic Beans/README.md
  solution/2100-2199/2171.Removing Minimum Number of Magic Beans/README_EN.md
  solution/2100-2199/2171.Removing Minimum Number of Magic Beans/Solution.cpp
  solution/2100-2199/2171.Removing Minimum Number of Magic Beans/Solution.go
  solution/2100-2199/2171.Removing Minimum Number of Magic Beans/Solution.java
  solution/2100-2199/2171.Removing Minimum Number of Magic Beans/Solution.py
  solution/2100-2199/2171.Removing Minimum Number of Magic Beans/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2235 fix: update site config
  main.py
  mkdocs.yml
Labels: py, core team, yml

#2236 chore: update path
  .github/workflows/deploy.yml
  mkdocs-en.yml
  mkdocs.yml
Labels: core team, yml

#2237 feat: initialize intro page
  docs-en/index.md
  docs-en/intro/contribution.md
  docs/index.md
  docs/intro/contribution.md
  main.py
  mkdocs-en.yml
  mkdocs.yml
Labels: md, py, core team, yml

#2241 Update README.md
  solution/2800-2899/2809.Minimum Time to Make Array Sum At Most x/README.md
  solution/2800-2899/2809.Minimum Time to Make Array Sum At Most x/README_EN.md
Labels: md, core team

#2238 Create Solution.cpp
  solution/3000-3099/3008.Find Beautiful Indices in the Given Array II/README.md
  solution/3000-3099/3008.Find Beautiful Indices in the Given Array II/README_EN.md
  solution/3000-3099/3008.Find Beautiful Indices in the Given Array II/Solution.cpp
Labels: md, cpp

#2239 No.3008.Find Beautiful Indices in the Given Array II
  solution/3000-3099/3008.Find Beautiful Indices in the Given Array II/README.md
  solution/3000-3099/3008.Find Beautiful Indices in the Given Array II/README_EN.md
  solution/3000-3099/3008.Find Beautiful Indices in the Given Array II/Solution.go
  solution/3000-3099/3008.Find Beautiful Indices in the Given Array II/Solution.java
  solution/3000-3099/3008.Find Beautiful Indices in the Given Array II/Solution.py
Labels: md, py, go, java, cpp

#2240 feat:add php solution to lc problems:No.0004-0010
  solution/0000-0099/0004.Median of Two Sorted Arrays/README.md
  solution/0000-0099/0004.Median of Two Sorted Arrays/README_EN.md
  solution/0000-0099/0004.Median of Two Sorted Arrays/Solution.php
  solution/0000-0099/0005.Longest Palindromic Substring/README.md
  solution/0000-0099/0005.Longest Palindromic Substring/README_EN.md
  solution/0000-0099/0005.Longest Palindromic Substring/Solution.php
  solution/0000-0099/0006.Zigzag Conversion/README.md
  solution/0000-0099/0006.Zigzag Conversion/README_EN.md
  solution/0000-0099/0006.Zigzag Conversion/Solution.php
  solution/0000-0099/0007.Reverse Integer/README.md
  solution/0000-0099/0007.Reverse Integer/README_EN.md
  solution/0000-0099/0007.Reverse Integer/Solution.php
  solution/0000-0099/0008.String to Integer (atoi)/README.md
  solution/0000-0099/0008.String to Integer (atoi)/README_EN.md
  solution/0000-0099/0008.String to Integer (atoi)/Solution.php
  solution/0000-0099/0009.Palindrome Number/README.md
  solution/0000-0099/0009.Palindrome Number/README_EN.md
  solution/0000-0099/0009.Palindrome Number/Solution.php
  solution/0000-0099/0010.Regular Expression Matching/README.md
  solution/0000-0099/0010.Regular Expression Matching/README_EN.md
  solution/0000-0099/0010.Regular Expression Matching/Solution.php
Labels: md, php

#2242 feat: update lc problems
  solution/3000-3099/3006.Find Beautiful Indices in the Given Array I/README.md
  solution/3000-3099/3006.Find Beautiful Indices in the Given Array I/README_EN.md
  solution/3000-3099/3006.Find Beautiful Indices in the Given Array I/Solution.cpp
  solution/3000-3099/3006.Find Beautiful Indices in the Given Array I/Solution.go
  solution/3000-3099/3006.Find Beautiful Indices in the Given Array I/Solution.java
  solution/3000-3099/3006.Find Beautiful Indices in the Given Array I/Solution.py
  solution/3000-3099/3009.Maximum Number of Intersections on the Chart/README.md
  solution/3000-3099/3009.Maximum Number of Intersections on the Chart/README_EN.md
  solution/3000-3099/3009.Maximum Number of Intersections on the Chart/images/20231208-020549.jpeg
  solution/3000-3099/3009.Maximum Number of Intersections on the Chart/images/20231208-020557.jpeg
  solution/CONTEST_README.md
  solution/DATABASE_README.md
  solution/JAVASCRIPT_README.md
  solution/README.md
  solution/README_EN.md
  solution/database-summary.md
  solution/javascript-summary.md
  solution/summary.md
  solution/summary_en.md
Labels: md, py, go, java, cpp, core team, jpeg

#2244 feat: add weekly contest 381 and biweekly contest 122
  solution/3000-3099/3010.Divide an Array Into Subarrays With Minimum Cost I/README.md
  solution/3000-3099/3010.Divide an Array Into Subarrays With Minimum Cost I/README_EN.md
  solution/3000-3099/3011.Find if Array Can Be Sorted/README.md
  solution/3000-3099/3011.Find if Array Can Be Sorted/README_EN.md
  solution/3000-3099/3012.Minimize Length of Array Using Operations/README.md
  solution/3000-3099/3012.Minimize Length of Array Using Operations/README_EN.md
  solution/3000-3099/3013.Divide an Array Into Subarrays With Minimum Cost II/README.md
  solution/3000-3099/3013.Divide an Array Into Subarrays With Minimum Cost II/README_EN.md
  solution/3000-3099/3014.Minimum Number of Pushes to Type Word I/README.md
  solution/3000-3099/3014.Minimum Number of Pushes to Type Word I/README_EN.md
  solution/3000-3099/3014.Minimum Number of Pushes to Type Word I/images/keypaddesc.png
  solution/3000-3099/3014.Minimum Number of Pushes to Type Word I/images/keypadv1e1.png
  solution/3000-3099/3014.Minimum Number of Pushes to Type Word I/images/keypadv1e2.png
  solution/3000-3099/3015.Count the Number of Houses at a Certain Distance I/README.md
  solution/3000-3099/3015.Count the Number of Houses at a Certain Distance I/README_EN.md
  solution/3000-3099/3015.Count the Number of Houses at a Certain Distance I/images/example2.png
  solution/3000-3099/3015.Count the Number of Houses at a Certain Distance I/images/example3.png
  solution/3000-3099/3015.Count the Number of Houses at a Certain Distance I/images/example5.png
  solution/3000-3099/3016.Minimum Number of Pushes to Type Word II/README.md
  solution/3000-3099/3016.Minimum Number of Pushes to Type Word II/README_EN.md
  solution/3000-3099/3016.Minimum Number of Pushes to Type Word II/images/keypaddesc.png
  solution/3000-3099/3016.Minimum Number of Pushes to Type Word II/images/keypadv1e1.png
  solution/3000-3099/3016.Minimum Number of Pushes to Type Word II/images/keypadv1e2.png
  solution/3000-3099/3017.Count the Number of Houses at a Certain Distance II/README.md
  solution/3000-3099/3017.Count the Number of Houses at a Certain Distance II/README_EN.md
  solution/3000-3099/3017.Count the Number of Houses at a Certain Distance II/images/example2.png
  solution/3000-3099/3017.Count the Number of Houses at a Certain Distance II/images/example3.png
  solution/3000-3099/3017.Count the Number of Houses at a Certain Distance II/images/example5.png
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/summary.md
  solution/summary_en.md
Labels: md, core team, png

#2245 feat: add solutions to lc problems: No.0670,3010
  solution/0600-0699/0670.Maximum Swap/README.md
  solution/0600-0699/0670.Maximum Swap/README_EN.md
  solution/3000-3099/3010.Divide an Array Into Subarrays With Minimum Cost I/README.md
  solution/3000-3099/3010.Divide an Array Into Subarrays With Minimum Cost I/README_EN.md
  solution/3000-3099/3010.Divide an Array Into Subarrays With Minimum Cost I/Solution.cpp
  solution/3000-3099/3010.Divide an Array Into Subarrays With Minimum Cost I/Solution.go
  solution/3000-3099/3010.Divide an Array Into Subarrays With Minimum Cost I/Solution.java
  solution/3000-3099/3010.Divide an Array Into Subarrays With Minimum Cost I/Solution.py
  solution/3000-3099/3010.Divide an Array Into Subarrays With Minimum Cost I/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2247 feat: add solutions to lc problem: No.3012
  solution/3000-3099/3012.Minimize Length of Array Using Operations/README.md
  solution/3000-3099/3012.Minimize Length of Array Using Operations/README_EN.md
  solution/3000-3099/3012.Minimize Length of Array Using Operations/Solution.cpp
  solution/3000-3099/3012.Minimize Length of Array Using Operations/Solution.go
  solution/3000-3099/3012.Minimize Length of Array Using Operations/Solution.java
  solution/3000-3099/3012.Minimize Length of Array Using Operations/Solution.py
  solution/3000-3099/3012.Minimize Length of Array Using Operations/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2248 No.3013.Divide an Array Into Subarrays With Minimum Cost II
  solution/3000-3099/3013.Divide an Array Into Subarrays With Minimum Cost II/README.md
  solution/3000-3099/3013.Divide an Array Into Subarrays With Minimum Cost II/README_EN.md
  solution/3000-3099/3013.Divide an Array Into Subarrays With Minimum Cost II/Solution.cpp
  solution/3000-3099/3013.Divide an Array Into Subarrays With Minimum Cost II/Solution.go
  solution/3000-3099/3013.Divide an Array Into Subarrays With Minimum Cost II/Solution.java
  solution/3000-3099/3013.Divide an Array Into Subarrays With Minimum Cost II/Solution.py
Labels: md, py, go, java, cpp

#2249 feat: add comment system
  docs-en/index.md
  docs-en/intro/contribution.md
  docs/index.md
  docs/intro/contribution.md
  main.py
  mkdocs.yml
  overrides/partials/comments.html
Labels: md, py, core team, yml, html

#2251 chore: update workflow
  .github/workflows/deploy.yml
  .github/workflows/sync.yml
  overrides/partials/comments.html
Labels: core team, yml, html

#2252 feat: add solutions to lc problem: No.3014
  solution/3000-3099/3014.Minimum Number of Pushes to Type Word I/README.md
  solution/3000-3099/3014.Minimum Number of Pushes to Type Word I/README_EN.md
  solution/3000-3099/3014.Minimum Number of Pushes to Type Word I/Solution.cpp
  solution/3000-3099/3014.Minimum Number of Pushes to Type Word I/Solution.go
  solution/3000-3099/3014.Minimum Number of Pushes to Type Word I/Solution.java
  solution/3000-3099/3014.Minimum Number of Pushes to Type Word I/Solution.py
  solution/3000-3099/3014.Minimum Number of Pushes to Type Word I/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2253 feat: add solutions to lc problem: No.3016
  solution/3000-3099/3016.Minimum Number of Pushes to Type Word II/README.md
  solution/3000-3099/3016.Minimum Number of Pushes to Type Word II/README_EN.md
  solution/3000-3099/3016.Minimum Number of Pushes to Type Word II/Solution.cpp
  solution/3000-3099/3016.Minimum Number of Pushes to Type Word II/Solution.go
  solution/3000-3099/3016.Minimum Number of Pushes to Type Word II/Solution.java
  solution/3000-3099/3016.Minimum Number of Pushes to Type Word II/Solution.py
  solution/3000-3099/3016.Minimum Number of Pushes to Type Word II/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2255 feat: add solutions to lc problem: No.3015
  solution/3000-3099/3015.Count the Number of Houses at a Certain Distance I/README.md
  solution/3000-3099/3015.Count the Number of Houses at a Certain Distance I/README_EN.md
  solution/3000-3099/3015.Count the Number of Houses at a Certain Distance I/Solution.cpp
  solution/3000-3099/3015.Count the Number of Houses at a Certain Distance I/Solution.go
  solution/3000-3099/3015.Count the Number of Houses at a Certain Distance I/Solution.java
  solution/3000-3099/3015.Count the Number of Houses at a Certain Distance I/Solution.py
  solution/3000-3099/3015.Count the Number of Houses at a Certain Distance I/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2256 chore: remove summary
  .github/workflows/deploy.yml
  README.md
  README_EN.md
  index.html
  main.js
  overrides/partials/comments.html
  solution/3000-3099/3016.Minimum Number of Pushes to Type Word II/images/keypadv2.png
  solution/main.py
  solution/summary.md
  solution/summary_en.md
  solution/util.py
  summary.md
  summary_en.md
Labels: js, md, py, core team, yml, png, html

#2257 feat: update solutions
  solution/0000-0099/0009.Palindrome Number/README.md
  solution/0000-0099/0009.Palindrome Number/README_EN.md
  solution/2800-2899/2862.Maximum Element-Sum of a Complete Subset of Indices/README.md
  solution/2800-2899/2862.Maximum Element-Sum of a Complete Subset of Indices/README_EN.md
Labels: md, core team

#2258 feat: update solutions
  solution/0000-0099/0088.Merge Sorted Array/README.md
  solution/0000-0099/0088.Merge Sorted Array/README_EN.md
  solution/0000-0099/0091.Decode Ways/README.md
  solution/0000-0099/0091.Decode Ways/README_EN.md
  solution/0000-0099/0097.Interleaving String/README.md
  solution/0000-0099/0097.Interleaving String/README_EN.md
Labels: md, core team

#2259 No.3015.Count the Number of Houses at a Certain Distance II
  solution/3000-3099/3017.Count the Number of Houses at a Certain Distance II/README.md
  solution/3000-3099/3017.Count the Number of Houses at a Certain Distance II/README_EN.md
  solution/3000-3099/3017.Count the Number of Houses at a Certain Distance II/Solution.cpp
  solution/3000-3099/3017.Count the Number of Houses at a Certain Distance II/Solution.go
  solution/3000-3099/3017.Count the Number of Houses at a Certain Distance II/Solution.java
  solution/3000-3099/3017.Count the Number of Houses at a Certain Distance II/Solution.py
Labels: md, py, go, java, cpp

#2260 feat: update solutions to lc problem: No.0841,0848
  solution/0800-0899/0841.Keys and Rooms/README.md
  solution/0800-0899/0841.Keys and Rooms/README_EN.md
  solution/0800-0899/0841.Keys and Rooms/Solution.cpp
  solution/0800-0899/0841.Keys and Rooms/Solution.go
  solution/0800-0899/0841.Keys and Rooms/Solution.java
  solution/0800-0899/0841.Keys and Rooms/Solution.py
  solution/0800-0899/0841.Keys and Rooms/Solution.ts
  solution/0800-0899/0841.Keys and Rooms/Solution2.ts
  solution/0800-0899/0848.Shifting Letters/README.md
  solution/0800-0899/0848.Shifting Letters/README_EN.md
Labels: md, ts, py, go, java, cpp, core team

#2263 feat: add new lc problems
  main.py
  solution/3000-3099/3018.Maximum Number of Removal Queries That Can Be Processed I/README.md
  solution/3000-3099/3018.Maximum Number of Removal Queries That Can Be Processed I/README_EN.md
  solution/README.md
  solution/README_EN.md
Labels: md, py, core team

#2264 feat: add solutions to lc problem: No.3018
  solution/3000-3099/3018.Maximum Number of Removal Queries That Can Be Processed I/README.md
  solution/3000-3099/3018.Maximum Number of Removal Queries That Can Be Processed I/README_EN.md
  solution/3000-3099/3018.Maximum Number of Removal Queries That Can Be Processed I/Solution.cpp
  solution/3000-3099/3018.Maximum Number of Removal Queries That Can Be Processed I/Solution.go
  solution/3000-3099/3018.Maximum Number of Removal Queries That Can Be Processed I/Solution.java
  solution/3000-3099/3018.Maximum Number of Removal Queries That Can Be Processed I/Solution.py
  solution/3000-3099/3018.Maximum Number of Removal Queries That Can Be Processed I/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2265 feat: add solutions to lc problems: No.0328~0330
  solution/0300-0399/0328.Odd Even Linked List/README_EN.md
  solution/0300-0399/0329.Longest Increasing Path in a Matrix/README_EN.md
  solution/0300-0399/0330.Patching Array/README_EN.md
  solution/util.py
Labels: md, py, core team

#2266 feat: add solutions to lc problem: No.0365
  solution/0300-0399/0365.Water and Jug Problem/README.md
  solution/0300-0399/0365.Water and Jug Problem/README_EN.md
  solution/0300-0399/0365.Water and Jug Problem/Solution.cpp
  solution/0300-0399/0365.Water and Jug Problem/Solution.cs
  solution/0300-0399/0365.Water and Jug Problem/Solution.go
  solution/0300-0399/0365.Water and Jug Problem/Solution.java
  solution/0300-0399/0365.Water and Jug Problem/Solution.py
  solution/0300-0399/0365.Water and Jug Problem/Solution2.java
  solution/0300-0399/0365.Water and Jug Problem/Solution2.py
Labels: md, py, go, java, cpp, core team, cs

#2267 feat: add weekly contest 382
  solution/3000-3099/3019.Number of Changing Keys/README.md
  solution/3000-3099/3019.Number of Changing Keys/README_EN.md
  solution/3000-3099/3020.Find the Maximum Number of Elements in Subset/README.md
  solution/3000-3099/3020.Find the Maximum Number of Elements in Subset/README_EN.md
  solution/3000-3099/3021.Alice and Bob Playing Flower Game/README.md
  solution/3000-3099/3021.Alice and Bob Playing Flower Game/README_EN.md
  solution/3000-3099/3022.Minimize OR of Remaining Elements Using Operations/README.md
  solution/3000-3099/3022.Minimize OR of Remaining Elements Using Operations/README_EN.md
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
Labels: md, core team

#2268 No.3019.Number of Changing Keys
  solution/3000-3099/3019.Number of Changing Keys/README.md
  solution/3000-3099/3019.Number of Changing Keys/README_EN.md
  solution/3000-3099/3019.Number of Changing Keys/Solution.cpp
  solution/3000-3099/3019.Number of Changing Keys/Solution.go
  solution/3000-3099/3019.Number of Changing Keys/Solution.java
  solution/3000-3099/3019.Number of Changing Keys/Solution.py
Labels: md, py, go, java, cpp

#2273 feat: add ts solution to lc problem: No.0514
  solution/0500-0599/0514.Freedom Trail/README.md
  solution/0500-0599/0514.Freedom Trail/README_EN.md
  solution/0500-0599/0514.Freedom Trail/Solution.ts
Labels: md, ts, core team

#2275 chore: update workflow
  .github/workflows/black-lint.yml
  .github/workflows/clang-format-lint.yml
  requirements.txt
Labels: core team, yml, txt

#2274 No.3020.Find the Maximum Number of Elements in Subset
  solution/3000-3099/3020.Find the Maximum Number of Elements in Subset/README.md
  solution/3000-3099/3020.Find the Maximum Number of Elements in Subset/README_EN.md
  solution/3000-3099/3020.Find the Maximum Number of Elements in Subset/Solution.cpp
  solution/3000-3099/3020.Find the Maximum Number of Elements in Subset/Solution.go
  solution/3000-3099/3020.Find the Maximum Number of Elements in Subset/Solution.java
  solution/3000-3099/3020.Find the Maximum Number of Elements in Subset/Solution.py
Labels: md, py, go, java, cpp

#2277 No.3021.Alice and Bob Playing Flower Game
  solution/3000-3099/3021.Alice and Bob Playing Flower Game/README.md
  solution/3000-3099/3021.Alice and Bob Playing Flower Game/README_EN.md
  solution/3000-3099/3021.Alice and Bob Playing Flower Game/Solution.cpp
  solution/3000-3099/3021.Alice and Bob Playing Flower Game/Solution.go
  solution/3000-3099/3021.Alice and Bob Playing Flower Game/Solution.java
  solution/3000-3099/3021.Alice and Bob Playing Flower Game/Solution.py
Labels: md, py, go, java, cpp

#2278 feat: add solutions to lc problem: No.3019
  solution/3000-3099/3019.Number of Changing Keys/README.md
  solution/3000-3099/3019.Number of Changing Keys/README_EN.md
  solution/3000-3099/3019.Number of Changing Keys/Solution.cpp
  solution/3000-3099/3019.Number of Changing Keys/Solution.go
  solution/3000-3099/3019.Number of Changing Keys/Solution.java
  solution/3000-3099/3019.Number of Changing Keys/Solution.py
  solution/3000-3099/3019.Number of Changing Keys/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2279 feat: add solutions to lc problem: No.3020
  solution/3000-3099/3020.Find the Maximum Number of Elements in Subset/README.md
  solution/3000-3099/3020.Find the Maximum Number of Elements in Subset/README_EN.md
  solution/3000-3099/3020.Find the Maximum Number of Elements in Subset/Solution.cpp
  solution/3000-3099/3020.Find the Maximum Number of Elements in Subset/Solution.go
  solution/3000-3099/3020.Find the Maximum Number of Elements in Subset/Solution.java
  solution/3000-3099/3020.Find the Maximum Number of Elements in Subset/Solution.py
  solution/3000-3099/3020.Find the Maximum Number of Elements in Subset/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2280 feat: update lc problems
  solution/0100-0199/0197.Rising Temperature/README.md
  solution/0100-0199/0197.Rising Temperature/README_EN.md
  solution/0500-0599/0521.Longest Uncommon Subsequence I/README_EN.md
  solution/0600-0699/0606.Construct String from Binary Tree/README_EN.md
  solution/0800-0899/0827.Making A Large Island/README.md
  solution/1600-1699/1657.Determine if Two Strings Are Close/README.md
  solution/1600-1699/1657.Determine if Two Strings Are Close/README_EN.md
  solution/2100-2199/2186.Minimum Number of Steps to Make Two Strings Anagram II/README.md
  solution/2200-2299/2254.Design Video Sharing Platform/README_EN.md
  solution/2600-2699/2654.Minimum Number of Operations to Make All Array Elements Equal to 1/README_EN.md
  solution/2900-2999/2990.Loan Types/README.md
  solution/2900-2999/2990.Loan Types/README_EN.md
  solution/3000-3099/3018.Maximum Number of Removal Queries That Can Be Processed I/README.md
  solution/CONTEST_README.md
  solution/README.md
  solution/README_EN.md
Labels: md, core team

#2283 feat: add solutions to lc problem: No.3021
  solution/3000-3099/3021.Alice and Bob Playing Flower Game/README.md
  solution/3000-3099/3021.Alice and Bob Playing Flower Game/README_EN.md
  solution/3000-3099/3021.Alice and Bob Playing Flower Game/Solution.cpp
  solution/3000-3099/3021.Alice and Bob Playing Flower Game/Solution.go
  solution/3000-3099/3021.Alice and Bob Playing Flower Game/Solution.java
  solution/3000-3099/3021.Alice and Bob Playing Flower Game/Solution.py
  solution/3000-3099/3021.Alice and Bob Playing Flower Game/Solution.ts
  solution/3000-3099/3021.Alice and Bob Playing Flower Game/Solution2.cpp
  solution/3000-3099/3021.Alice and Bob Playing Flower Game/Solution2.go
  solution/3000-3099/3021.Alice and Bob Playing Flower Game/Solution2.java
  solution/3000-3099/3021.Alice and Bob Playing Flower Game/Solution2.py
  solution/3000-3099/3021.Alice and Bob Playing Flower Game/Solution2.ts
Labels: md, ts, py, go, java, cpp, core team

#2284 chore: move files to single branch
  .github/workflows/deploy.yml
  docs-en/index.md
  docs-en/intro/contribution.md
  docs-en/javascripts/katex.js
  docs/index.md
  docs/intro/contribution.md
  docs/javascripts/katex.js
  main.py
  mkdocs-en.yml
  mkdocs.yml
  overrides/partials/comments.html
Labels: js, md, py, core team, yml, html

#2288 chore: update ignored files
  .gitignore
Labels: core team, gitignore

#2289 feat: add solutions to lc problem: No.2670
  solution/2600-2699/2670.Find the Distinct Difference Array/README.md
  solution/2600-2699/2670.Find the Distinct Difference Array/README_EN.md
  solution/2600-2699/2670.Find the Distinct Difference Array/Solution.py
  solution/2600-2699/2670.Find the Distinct Difference Array/Solution.rs
  solution/2600-2699/2670.Find the Distinct Difference Array/Solution.ts
  solution/2600-2699/2670.Find the Distinct Difference Array/Solution2.py
  solution/2600-2699/2670.Find the Distinct Difference Array/Solution2.rs
Labels: md, ts, py, rs, core team

#2290 feat: add solutions to lc problem: No.2671
  solution/2600-2699/2671.Frequency Tracker/README.md
  solution/2600-2699/2671.Frequency Tracker/README_EN.md
  solution/2600-2699/2671.Frequency Tracker/Solution.cpp
  solution/2600-2699/2671.Frequency Tracker/Solution.go
  solution/2600-2699/2671.Frequency Tracker/Solution.java
  solution/2600-2699/2671.Frequency Tracker/Solution.py
  solution/2600-2699/2671.Frequency Tracker/Solution.ts
Labels: md, ts, py, go, java, cpp, core team
