Repository doocs/leetcode, pull requests merged in 2024-08, with the labels that each got.

#3346 feat: update lc problems
  solution/0600-0699/0614.Second Degree Follower/README.md
  solution/0800-0899/0833.Find And Replace in String/README.md
  solution/0800-0899/0833.Find And Replace in String/README_EN.md
  solution/1000-1099/1001.Grid Illumination/README.md
  solution/1000-1099/1001.Grid Illumination/README_EN.md
  solution/1000-1099/1002.Find Common Characters/README.md
  solution/1000-1099/1002.Find Common Characters/README_EN.md
  solution/1000-1099/1002.Find Common Characters/Solution.cpp
  solution/1000-1099/1002.Find Common Characters/Solution.go
  solution/1000-1099/1002.Find Common Characters/Solution.java
  solution/1000-1099/1002.Find Common Characters/Solution.py
  solution/1000-1099/1002.Find Common Characters/Solution.ts
  solution/1500-1599/1500.Design a File Sharing System/README.md
  solution/1500-1599/1500.Design a File Sharing System/README_EN.md
  solution/1900-1999/1902.Depth of BST Given Insertion Order/README.md
  solution/1900-1999/1902.Depth of BST Given Insertion Order/README_EN.md
  solution/2200-2299/2266.Count Number of Texts/README.md
  solution/2500-2599/2581.Count Number of Possible Root Nodes/README.md
  solution/2500-2599/2581.Count Number of Possible Root Nodes/README_EN.md
  solution/2700-2799/2766.Relocate Marbles/README.md
  solution/2800-2899/2899.Last Visited Integers/README.md
  solution/3200-3299/3231.Minimum Number of Increasing Subsequence to Be Removed/README.md
  solution/3200-3299/3231.Minimum Number of Increasing Subsequence to Be Removed/README_EN.md
  solution/3200-3299/3232.Find if Digit Game Can Be Won/README.md
  solution/3200-3299/3232.Find if Digit Game Can Be Won/README_EN.md
  solution/3200-3299/3233.Find the Count of Numbers Which Are Not Special/README.md
  solution/3200-3299/3233.Find the Count of Numbers Which Are Not Special/README_EN.md
  solution/3200-3299/3234.Count the Number of Substrings With Dominant Ones/README.md
  solution/3200-3299/3234.Count the Number of Substrings With Dominant Ones/README_EN.md
  solution/3200-3299/3235.Check if the Rectangle Corner Is Reachable/README.md
  solution/3200-3299/3235.Check if the Rectangle Corner Is Reachable/README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/contest.json
Labels: md, ts, py, go, java, cpp, core team

#3347 feat: add solutions to lc problem: No.3236
  solution/1000-1099/1003.Check If Word Is Valid After Substitutions/README.md
  solution/1000-1099/1003.Check If Word Is Valid After Substitutions/README_EN.md
  solution/3200-3299/3236.CEO Subordinate Hierarchy/README.md
  solution/3200-3299/3236.CEO Subordinate Hierarchy/README_EN.md
  solution/3200-3299/3236.CEO Subordinate Hierarchy/Solution.sql
Labels: md, core team, sql

#3348 feat: update solutions to lc problem: No.2416
  solution/2400-2499/2416.Sum of Prefix Scores of Strings/README.md
  solution/2400-2499/2416.Sum of Prefix Scores of Strings/README_EN.md
  solution/2400-2499/2416.Sum of Prefix Scores of Strings/Solution.cpp
  solution/2400-2499/2416.Sum of Prefix Scores of Strings/Solution.py
  solution/2400-2499/2416.Sum of Prefix Scores of Strings/Solution.ts
  solution/2400-2499/2416.Sum of Prefix Scores of Strings/Solution2.ts
Labels: md, ts, py, cpp, core team

#3349 feat: add js/ts solution to lc problem: No.1395
  solution/1300-1399/1395.Count Number of Teams/README.md
  solution/1300-1399/1395.Count Number of Teams/README_EN.md
  solution/1300-1399/1395.Count Number of Teams/Solution3.js
  solution/1300-1399/1395.Count Number of Teams/Solution3.ts
Labels: js, md, ts

#3352 feat: add solutions to lc problems: No.3129,3130
  solution/3100-3199/3129.Find All Possible Stable Binary Arrays I/README.md
  solution/3100-3199/3129.Find All Possible Stable Binary Arrays I/README_EN.md
  solution/3100-3199/3129.Find All Possible Stable Binary Arrays I/Solution.cpp
  solution/3100-3199/3129.Find All Possible Stable Binary Arrays I/Solution.ts
  solution/3100-3199/3129.Find All Possible Stable Binary Arrays I/Solution2.cpp
  solution/3100-3199/3129.Find All Possible Stable Binary Arrays I/Solution2.java
  solution/3100-3199/3129.Find All Possible Stable Binary Arrays I/Solution2.py
  solution/3100-3199/3129.Find All Possible Stable Binary Arrays I/Solution2.ts
  solution/3100-3199/3130.Find All Possible Stable Binary Arrays II/README.md
  solution/3100-3199/3130.Find All Possible Stable Binary Arrays II/README_EN.md
  solution/3100-3199/3130.Find All Possible Stable Binary Arrays II/Solution.cpp
  solution/3100-3199/3130.Find All Possible Stable Binary Arrays II/Solution2.cpp
  solution/3100-3199/3130.Find All Possible Stable Binary Arrays II/Solution2.java
  solution/3100-3199/3130.Find All Possible Stable Binary Arrays II/Solution2.py
  solution/3100-3199/3130.Find All Possible Stable Binary Arrays II/Solution2.ts
Labels: md, ts, py, java, cpp, core team

#3353 feat: add solutions to lc problem: No.1461
  solution/1400-1499/1461.Check If a String Contains All Binary Codes of Size K/README.md
  solution/1400-1499/1461.Check If a String Contains All Binary Codes of Size K/README_EN.md
  solution/1400-1499/1461.Check If a String Contains All Binary Codes of Size K/Solution.cpp
  solution/1400-1499/1461.Check If a String Contains All Binary Codes of Size K/Solution.go
  solution/1400-1499/1461.Check If a String Contains All Binary Codes of Size K/Solution.java
  solution/1400-1499/1461.Check If a String Contains All Binary Codes of Size K/Solution.py
  solution/1400-1499/1461.Check If a String Contains All Binary Codes of Size K/Solution.ts
  solution/1400-1499/1461.Check If a String Contains All Binary Codes of Size K/Solution2.cpp
  solution/1400-1499/1461.Check If a String Contains All Binary Codes of Size K/Solution2.go
  solution/1400-1499/1461.Check If a String Contains All Binary Codes of Size K/Solution2.java
  solution/1400-1499/1461.Check If a String Contains All Binary Codes of Size K/Solution2.py
  solution/1400-1499/1461.Check If a String Contains All Binary Codes of Size K/Solution2.ts
  solution/1400-1499/1462.Course Schedule IV/README.md
  solution/1400-1499/1462.Course Schedule IV/README_EN.md
Labels: md, ts, py, go, java, cpp, core team

#3354 feat: add solutions to lc problem: No.1458
  solution/1400-1499/1458.Max Dot Product of Two Subsequences/README.md
  solution/1400-1499/1458.Max Dot Product of Two Subsequences/README_EN.md
  solution/1400-1499/1458.Max Dot Product of Two Subsequences/Solution.cpp
  solution/1400-1499/1458.Max Dot Product of Two Subsequences/Solution.go
  solution/1400-1499/1458.Max Dot Product of Two Subsequences/Solution.java
  solution/1400-1499/1458.Max Dot Product of Two Subsequences/Solution.py
  solution/1400-1499/1458.Max Dot Product of Two Subsequences/Solution.rs
  solution/1400-1499/1458.Max Dot Product of Two Subsequences/Solution.ts
Labels: md, ts, py, go, java, cpp, rs, core team

#3356 feat: update solutions to lc problems: No.1454,1455
  .prettierignore
  solution/1400-1499/1454.Active Users/README.md
  solution/1400-1499/1454.Active Users/README_EN.md
  solution/1400-1499/1454.Active Users/Solution.sql
  solution/1400-1499/1455.Check If a Word Occurs As a Prefix of Any Word in a Sentence/README.md
  solution/1400-1499/1455.Check If a Word Occurs As a Prefix of Any Word in a Sentence/README_EN.md
  solution/1400-1499/1455.Check If a Word Occurs As a Prefix of Any Word in a Sentence/Solution.php
Labels: md, core team, sql, php, prettierignore

#3357 feat: add solutions to lc problem: No.1452
  solution/1400-1499/1452.People Whose List of Favorite Companies Is Not a Subset of Another List/README.md
  solution/1400-1499/1452.People Whose List of Favorite Companies Is Not a Subset of Another List/README_EN.md
  solution/1400-1499/1452.People Whose List of Favorite Companies Is Not a Subset of Another List/Solution.cpp
  solution/1400-1499/1452.People Whose List of Favorite Companies Is Not a Subset of Another List/Solution.go
  solution/1400-1499/1452.People Whose List of Favorite Companies Is Not a Subset of Another List/Solution.java
  solution/1400-1499/1452.People Whose List of Favorite Companies Is Not a Subset of Another List/Solution.py
  solution/1400-1499/1452.People Whose List of Favorite Companies Is Not a Subset of Another List/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#3361 feat: add js/ts solutions to lc problem: No.1508
  solution/1500-1599/1508.Range Sum of Sorted Subarray Sums/README.md
  solution/1500-1599/1508.Range Sum of Sorted Subarray Sums/README_EN.md
  solution/1500-1599/1508.Range Sum of Sorted Subarray Sums/Solution.js
  solution/1500-1599/1508.Range Sum of Sorted Subarray Sums/Solution.ts
Labels: js, md, ts

#3362 feat: add solutions to lc problem: No.0600
  solution/0600-0699/0600.Non-negative Integers without Consecutive Ones/README.md
  solution/0600-0699/0600.Non-negative Integers without Consecutive Ones/README_EN.md
  solution/0600-0699/0600.Non-negative Integers without Consecutive Ones/Solution.cpp
  solution/0600-0699/0600.Non-negative Integers without Consecutive Ones/Solution.go
  solution/0600-0699/0600.Non-negative Integers without Consecutive Ones/Solution.java
  solution/0600-0699/0600.Non-negative Integers without Consecutive Ones/Solution.py
  solution/0600-0699/0600.Non-negative Integers without Consecutive Ones/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#3363 feat: add solutions to lc problem: No.3243
  solution/0600-0699/0600.Non-negative Integers without Consecutive Ones/README.md
  solution/0600-0699/0600.Non-negative Integers without Consecutive Ones/README_EN.md
  solution/1500-1599/1508.Range Sum of Sorted Subarray Sums/README.md
  solution/1500-1599/1508.Range Sum of Sorted Subarray Sums/README_EN.md
  solution/3200-3299/3237.Alt and Tab Simulation/README_EN.md
  solution/3200-3299/3243.Shortest Distance After Road Addition Queries I/README.md
  solution/3200-3299/3243.Shortest Distance After Road Addition Queries I/README_EN.md
  solution/3200-3299/3243.Shortest Distance After Road Addition Queries I/Solution.cpp
  solution/3200-3299/3243.Shortest Distance After Road Addition Queries I/Solution.go
  solution/3200-3299/3243.Shortest Distance After Road Addition Queries I/Solution.java
  solution/3200-3299/3243.Shortest Distance After Road Addition Queries I/Solution.py
  solution/3200-3299/3243.Shortest Distance After Road Addition Queries I/Solution.ts
  solution/CONTEST_README.md
  solution/contest.json
Labels: md, ts, py, go, java, cpp, core team, json

#3364 feat: add solutions to lc problem: No.3244
  solution/3200-3299/3244.Shortest Distance After Road Addition Queries II/README.md
  solution/3200-3299/3244.Shortest Distance After Road Addition Queries II/README_EN.md
  solution/3200-3299/3244.Shortest Distance After Road Addition Queries II/Solution.cpp
  solution/3200-3299/3244.Shortest Distance After Road Addition Queries II/Solution.go
  solution/3200-3299/3244.Shortest Distance After Road Addition Queries II/Solution.java
  solution/3200-3299/3244.Shortest Distance After Road Addition Queries II/Solution.py
  solution/3200-3299/3244.Shortest Distance After Road Addition Queries II/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#3365 feat: add solutions to lc problem: No.3246
  solution/3200-3299/3246.Premier League Table Ranking/README.md
  solution/3200-3299/3246.Premier League Table Ranking/README_EN.md
  solution/3200-3299/3246.Premier League Table Ranking/Solution.py
  solution/3200-3299/3246.Premier League Table Ranking/Solution.sql
  solution/DATABASE_README.md
  solution/DATABASE_README_EN.md
  solution/README.md
  solution/README_EN.md
Labels: md, py, core team, sql

#3366 feat: add js/ts solutions to lc problem: No.2053
  solution/2000-2099/2053.Kth Distinct String in an Array/README.md
  solution/2000-2099/2053.Kth Distinct String in an Array/README_EN.md
  solution/2000-2099/2053.Kth Distinct String in an Array/Solution.js
  solution/2000-2099/2053.Kth Distinct String in an Array/Solution.ts
  solution/2000-2099/2053.Kth Distinct String in an Array/Solution2.js
  solution/2000-2099/2053.Kth Distinct String in an Array/Solution2.ts
Labels: js, md, ts

#3367 feat: add solutions to lc problems: No.2052,2053
  solution/2000-2099/2052.Minimum Cost to Separate Sentence Into Rows/README.md
  solution/2000-2099/2052.Minimum Cost to Separate Sentence Into Rows/README_EN.md
  solution/2000-2099/2052.Minimum Cost to Separate Sentence Into Rows/Solution.cpp
  solution/2000-2099/2052.Minimum Cost to Separate Sentence Into Rows/Solution.go
  solution/2000-2099/2052.Minimum Cost to Separate Sentence Into Rows/Solution.java
  solution/2000-2099/2052.Minimum Cost to Separate Sentence Into Rows/Solution.py
  solution/2000-2099/2052.Minimum Cost to Separate Sentence Into Rows/Solution.ts
  solution/2000-2099/2053.Kth Distinct String in an Array/README.md
  solution/2000-2099/2053.Kth Distinct String in an Array/README_EN.md
  solution/2000-2099/2053.Kth Distinct String in an Array/Solution.cpp
  solution/2000-2099/2053.Kth Distinct String in an Array/Solution.go
  solution/2000-2099/2053.Kth Distinct String in an Array/Solution.java
  solution/2000-2099/2053.Kth Distinct String in an Array/Solution.js
  solution/2000-2099/2053.Kth Distinct String in an Array/Solution.py
  solution/2000-2099/2053.Kth Distinct String in an Array/Solution.rs
  solution/2000-2099/2053.Kth Distinct String in an Array/Solution.ts
  solution/2000-2099/2053.Kth Distinct String in an Array/Solution2.js
  solution/2000-2099/2053.Kth Distinct String in an Array/Solution2.ts
Labels: js, md, ts, py, go, java, cpp, rs, core team

#3368 feat: add solutions to lc problem: No.2047
  solution/2000-2099/2047.Number of Valid Words in a Sentence/README.md
  solution/2000-2099/2047.Number of Valid Words in a Sentence/README_EN.md
  solution/2000-2099/2047.Number of Valid Words in a Sentence/Solution.cpp
  solution/2000-2099/2047.Number of Valid Words in a Sentence/Solution.go
  solution/2000-2099/2047.Number of Valid Words in a Sentence/Solution.java
  solution/2000-2099/2047.Number of Valid Words in a Sentence/Solution.py
  solution/2000-2099/2047.Number of Valid Words in a Sentence/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#3370 feat: add solutions to lc problems: No.2015,2016
  solution/2000-2099/2015.Average Height of Buildings in Each Segment/README.md
  solution/2000-2099/2015.Average Height of Buildings in Each Segment/README_EN.md
  solution/2000-2099/2015.Average Height of Buildings in Each Segment/Solution.cpp
  solution/2000-2099/2015.Average Height of Buildings in Each Segment/Solution.go
  solution/2000-2099/2015.Average Height of Buildings in Each Segment/Solution.java
  solution/2000-2099/2015.Average Height of Buildings in Each Segment/Solution.py
  solution/2000-2099/2015.Average Height of Buildings in Each Segment/Solution.ts
  solution/2000-2099/2016.Maximum Difference Between Increasing Elements/README.md
  solution/2000-2099/2016.Maximum Difference Between Increasing Elements/README_EN.md
  solution/2000-2099/2016.Maximum Difference Between Increasing Elements/Solution.js
  solution/2000-2099/2016.Maximum Difference Between Increasing Elements/Solution.rs
  solution/2000-2099/2016.Maximum Difference Between Increasing Elements/Solution.ts
Labels: js, md, ts, py, go, java, cpp, rs, core team

#3372 feat: update solutions to lc problems: No.0209,0266
  solution/0200-0299/0209.Minimum Size Subarray Sum/README.md
  solution/0200-0299/0209.Minimum Size Subarray Sum/README_EN.md
  solution/0200-0299/0209.Minimum Size Subarray Sum/Solution2.cpp
  solution/0200-0299/0209.Minimum Size Subarray Sum/Solution2.go
  solution/0200-0299/0209.Minimum Size Subarray Sum/Solution2.java
  solution/0200-0299/0209.Minimum Size Subarray Sum/Solution2.py
  solution/0200-0299/0209.Minimum Size Subarray Sum/Solution2.ts
  solution/0200-0299/0266.Palindrome Permutation/README.md
  solution/0200-0299/0266.Palindrome Permutation/README_EN.md
  solution/0200-0299/0266.Palindrome Permutation/Solution.js
  solution/0200-0299/0266.Palindrome Permutation/Solution.ts
Labels: js, md, ts, py, go, java, cpp, core team

#3371 feat: add js/ts solutions to lc problem: No.3016
  solution/3000-3099/3016.Minimum Number of Pushes to Type Word II/README.md
  solution/3000-3099/3016.Minimum Number of Pushes to Type Word II/README_EN.md
  solution/3000-3099/3016.Minimum Number of Pushes to Type Word II/Solution.js
  solution/3000-3099/3016.Minimum Number of Pushes to Type Word II/Solution2.js
  solution/3000-3099/3016.Minimum Number of Pushes to Type Word II/Solution2.ts
Labels: js, md, ts

#3359 feat: add 2nd c++ solution to lc problems : No.2685
  solution/2600-2699/2685.Count the Number of Complete Components/README.md
  solution/2600-2699/2685.Count the Number of Complete Components/README_EN.md
  solution/2600-2699/2685.Count the Number of Complete Components/Solution2.cpp
Labels: md, cpp

#3374 feat: add js/ts solutions to lc problem: No.0137
  solution/0100-0199/0137.Single Number II/README.md
  solution/0100-0199/0137.Single Number II/README_EN.md
  solution/0100-0199/0137.Single Number II/Solution.js
  solution/0100-0199/0137.Single Number II/Solution2.js
  solution/0100-0199/0137.Single Number II/Solution3.js
  solution/0100-0199/0137.Single Number II/Solution3.ts
  solution/0100-0199/0137.Single Number II/Solution4.js
  solution/0100-0199/0137.Single Number II/Solution4.ts
Labels: js, md, ts

#3378 feat: add js/ts solutions to lc problem: No.0273
  solution/0200-0299/0273.Integer to English Words/README.md
  solution/0200-0299/0273.Integer to English Words/README_EN.md
  solution/0200-0299/0273.Integer to English Words/Solution.js
  solution/0200-0299/0273.Integer to English Words/Solution.ts
Labels: js, md, ts

#3379 feat: add solutions to lc problem: No.3247
  solution/2700-2799/2753.Count Houses in a Circular Street II/README.md
  solution/2700-2799/2753.Count Houses in a Circular Street II/README_EN.md
  solution/3200-3299/3247.Number of Subsequences with Odd Sum/README.md
  solution/3200-3299/3247.Number of Subsequences with Odd Sum/README_EN.md
  solution/3200-3299/3247.Number of Subsequences with Odd Sum/Solution.cpp
  solution/3200-3299/3247.Number of Subsequences with Odd Sum/Solution.go
  solution/3200-3299/3247.Number of Subsequences with Odd Sum/Solution.java
  solution/3200-3299/3247.Number of Subsequences with Odd Sum/Solution.py
  solution/3200-3299/3247.Number of Subsequences with Odd Sum/Solution.ts
  solution/README.md
  solution/README_EN.md
  solution/util.py
Labels: md, ts, py, go, java, cpp, core team

#3380 feat: add solutions to lc problem: No.0885
  solution/0800-0899/0885.Spiral Matrix III/README.md
  solution/0800-0899/0885.Spiral Matrix III/README_EN.md
  solution/0800-0899/0885.Spiral Matrix III/Solution.js
Labels: js, md

#3381 feat: update lc problems
  solution/0000-0099/0010.Regular Expression Matching/README.md
  solution/0000-0099/0075.Sort Colors/README.md
  solution/0000-0099/0085.Maximal Rectangle/README.md
  solution/0000-0099/0085.Maximal Rectangle/images/1722912576-boIxpm-image.png
  solution/0200-0299/0277.Find the Celebrity/README.md
  solution/0200-0299/0277.Find the Celebrity/images/277_example_1_bold.png
  solution/0200-0299/0277.Find the Celebrity/images/277_example_2.png
  solution/0500-0599/0588.Design In-Memory File System/README.md
  solution/0500-0599/0588.Design In-Memory File System/README_EN.md
  solution/0600-0699/0642.Design Search Autocomplete System/README.md
  solution/0600-0699/0642.Design Search Autocomplete System/README_EN.md
  solution/0700-0799/0713.Subarray Product Less Than K/README.md
  solution/0800-0899/0840.Magic Squares In Grid/README.md
  solution/0800-0899/0840.Magic Squares In Grid/README_EN.md
  solution/0800-0899/0898.Bitwise ORs of Subarrays/README.md
  solution/0900-0999/0930.Binary Subarrays With Sum/README_EN.md
  solution/1000-1099/1002.Find Common Characters/README.md
  solution/1300-1399/1395.Count Number of Teams/README.md
  solution/1300-1399/1395.Count Number of Teams/README_EN.md
  solution/1400-1499/1444.Number of Ways of Cutting a Pizza/README.md
  solution/1400-1499/1444.Number of Ways of Cutting a Pizza/README_EN.md
  solution/1400-1499/1446.Consecutive Characters/README.md
  solution/1400-1499/1446.Consecutive Characters/README_EN.md
  solution/1800-1899/1820.Maximum Number of Accepted Invitations/README.md
  solution/1800-1899/1820.Maximum Number of Accepted Invitations/README_EN.md
  solution/3000-3099/3047.Find the Largest Area of Square Inside Two Rectangles/README_EN.md
  solution/3000-3099/3047.Find the Largest Area of Square Inside Two Rectangles/images/diag.png
  solution/3000-3099/3077.Maximum Strength of K Disjoint Subarrays/README_EN.md
  solution/3100-3199/3145.Find Products of Elements of Big Array/README.md
  solution/3100-3199/3145.Find Products of Elements of Big Array/README_EN.md
  solution/3200-3299/3237.Alt and Tab Simulation/README.md
  solution/3200-3299/3246.Premier League Table Ranking/README.md
  solution/3200-3299/3247.Number of Subsequences with Odd Sum/README.md
  solution/CONTEST_README.md
  solution/README.md
  solution/README_EN.md
  solution/contest.json
Labels: md, core team, png

#3384 feat: add solutions to lc problem: No.0839
  solution/0800-0899/0839.Similar String Groups/README.md
  solution/0800-0899/0839.Similar String Groups/README_EN.md
  solution/0800-0899/0839.Similar String Groups/Solution.cpp
  solution/0800-0899/0839.Similar String Groups/Solution.go
  solution/0800-0899/0839.Similar String Groups/Solution.java
  solution/0800-0899/0839.Similar String Groups/Solution.py
  solution/0800-0899/0839.Similar String Groups/Solution.ts
  solution/0800-0899/0840.Magic Squares In Grid/README.md
  solution/0800-0899/0840.Magic Squares In Grid/README_EN.md
  solution/0800-0899/0840.Magic Squares In Grid/Solution.ts
  solution/3100-3199/3132.Find the Integer Added to Array II/README.md
  solution/3100-3199/3132.Find the Integer Added to Array II/README_EN.md
  solution/3100-3199/3132.Find the Integer Added to Array II/Solution.py
Labels: md, ts, py, go, java, cpp, core team

#3383 feat: add js/ts solutions to lc problem: No.0260
  solution/0200-0299/0260.Single Number III/README.md
  solution/0200-0299/0260.Single Number III/README_EN.md
  solution/0200-0299/0260.Single Number III/Solution2.js
  solution/0200-0299/0260.Single Number III/Solution2.ts
Labels: js, md, ts

#3388 fix: update solutions to lc problem: No.1147
  solution/1100-1199/1147.Longest Chunked Palindrome Decomposition/README.md
  solution/1100-1199/1147.Longest Chunked Palindrome Decomposition/README_EN.md
  solution/1100-1199/1147.Longest Chunked Palindrome Decomposition/Solution.cpp
  solution/1100-1199/1147.Longest Chunked Palindrome Decomposition/Solution.go
  solution/1100-1199/1147.Longest Chunked Palindrome Decomposition/Solution.java
  solution/1100-1199/1147.Longest Chunked Palindrome Decomposition/Solution.py
  solution/1100-1199/1147.Longest Chunked Palindrome Decomposition/Solution.ts
  solution/1100-1199/1147.Longest Chunked Palindrome Decomposition/Solution2.cpp
  solution/1100-1199/1147.Longest Chunked Palindrome Decomposition/Solution2.go
  solution/1100-1199/1147.Longest Chunked Palindrome Decomposition/Solution2.java
  solution/1100-1199/1147.Longest Chunked Palindrome Decomposition/Solution2.py
  solution/1100-1199/1147.Longest Chunked Palindrome Decomposition/Solution2.ts
  solution/1100-1199/1147.Longest Chunked Palindrome Decomposition/Solution3.cpp
  solution/1100-1199/1147.Longest Chunked Palindrome Decomposition/Solution3.go
  solution/1100-1199/1147.Longest Chunked Palindrome Decomposition/Solution3.java
  solution/1100-1199/1147.Longest Chunked Palindrome Decomposition/Solution3.py
Labels: md, ts, py, go, java, cpp, core team

#3392 feat: update solutions to lc problem: No.0001
  solution/0000-0099/0001.Two Sum/README.md
  solution/0000-0099/0001.Two Sum/README_EN.md
  solution/0000-0099/0001.Two Sum/Solution.cpp
  solution/0000-0099/0001.Two Sum/Solution.cs
  solution/0000-0099/0001.Two Sum/Solution.go
  solution/0000-0099/0001.Two Sum/Solution.java
  solution/0000-0099/0001.Two Sum/Solution.js
  solution/0000-0099/0001.Two Sum/Solution.nim
  solution/0000-0099/0001.Two Sum/Solution.php
  solution/0000-0099/0001.Two Sum/Solution.py
  solution/0000-0099/0001.Two Sum/Solution.rb
  solution/0000-0099/0001.Two Sum/Solution.rs
  solution/0000-0099/0001.Two Sum/Solution.scala
  solution/0000-0099/0001.Two Sum/Solution.swift
  solution/0000-0099/0001.Two Sum/Solution.ts
Labels: js, md, ts, py, go, java, cpp, rs, core team, swift, cs, php, rb, scala, nim

#3393 feat: add js/ts solutions to lc problem: No.0840
  solution/0800-0899/0840.Magic Squares In Grid/README.md
  solution/0800-0899/0840.Magic Squares In Grid/README_EN.md
  solution/0800-0899/0840.Magic Squares In Grid/Solution.js
  solution/0800-0899/0840.Magic Squares In Grid/Solution2.js
  solution/0800-0899/0840.Magic Squares In Grid/Solution2.ts
Labels: js, md, ts

#3396 feat: Solution Js for lc no. 959
  solution/0900-0999/0959.Regions Cut By Slashes/README.md
  solution/0900-0999/0959.Regions Cut By Slashes/README_EN.md
  solution/0900-0999/0959.Regions Cut By Slashes/Solution.js
Labels: js, md

#3397 feat: update solutions to lc problem: No.0967
  solution/0700-0799/0737.Sentence Similarity II/README.md
  solution/0900-0999/0967.Numbers With Same Consecutive Differences/README.md
  solution/0900-0999/0967.Numbers With Same Consecutive Differences/README_EN.md
  solution/0900-0999/0967.Numbers With Same Consecutive Differences/Solution.cpp
  solution/0900-0999/0967.Numbers With Same Consecutive Differences/Solution.go
  solution/0900-0999/0967.Numbers With Same Consecutive Differences/Solution.java
  solution/0900-0999/0967.Numbers With Same Consecutive Differences/Solution.js
  solution/0900-0999/0967.Numbers With Same Consecutive Differences/Solution.py
  solution/0900-0999/0967.Numbers With Same Consecutive Differences/Solution.ts
  solution/3200-3299/3235.Check if the Rectangle Corner Is Reachable/README_EN.md
  solution/3200-3299/3242.Design Neighbor Sum Service/README_EN.md
Labels: js, md, ts, py, go, java, cpp, core team

#3398 feat: add js/ts solution to lc problem: No.0959
  solution/0900-0999/0959.Regions Cut By Slashes/README.md
  solution/0900-0999/0959.Regions Cut By Slashes/README_EN.md
  solution/0900-0999/0959.Regions Cut By Slashes/Solution.ts
  solution/0900-0999/0959.Regions Cut By Slashes/Solution2.js
  solution/0900-0999/0959.Regions Cut By Slashes/Solution2.ts
Labels: js, md, ts

#3400 feat: add Solution JS for lc no. 1568
  solution/1500-1599/1568.Minimum Number of Days to Disconnect Island/README.md
  solution/1500-1599/1568.Minimum Number of Days to Disconnect Island/README_EN.md
  solution/1500-1599/1568.Minimum Number of Days to Disconnect Island/Solution.js
Labels: js, md

#3401 feat: add weekly contest 410
  solution/1000-1099/1035.Uncrossed Lines/README.md
  solution/3200-3299/3248.Snake in Matrix/README.md
  solution/3200-3299/3248.Snake in Matrix/README_EN.md
  solution/3200-3299/3248.Snake in Matrix/Solution.cpp
  solution/3200-3299/3248.Snake in Matrix/Solution.go
  solution/3200-3299/3248.Snake in Matrix/Solution.java
  solution/3200-3299/3248.Snake in Matrix/Solution.py
  solution/3200-3299/3248.Snake in Matrix/Solution.ts
  solution/3200-3299/3249.Count the Number of Good Nodes/README.md
  solution/3200-3299/3249.Count the Number of Good Nodes/README_EN.md
  solution/3200-3299/3249.Count the Number of Good Nodes/Solution.cpp
  solution/3200-3299/3249.Count the Number of Good Nodes/Solution.go
  solution/3200-3299/3249.Count the Number of Good Nodes/Solution.java
  solution/3200-3299/3249.Count the Number of Good Nodes/Solution.py
  solution/3200-3299/3249.Count the Number of Good Nodes/Solution.ts
  solution/3200-3299/3249.Count the Number of Good Nodes/images/rob.jpg
  solution/3200-3299/3249.Count the Number of Good Nodes/images/screenshot-2024-06-03-193552.png
  solution/3200-3299/3249.Count the Number of Good Nodes/images/tree1.png
  solution/3200-3299/3250.Find the Count of Monotonic Pairs I/README.md
  solution/3200-3299/3250.Find the Count of Monotonic Pairs I/README_EN.md
  solution/3200-3299/3250.Find the Count of Monotonic Pairs I/Solution.cpp
  solution/3200-3299/3250.Find the Count of Monotonic Pairs I/Solution.go
  solution/3200-3299/3250.Find the Count of Monotonic Pairs I/Solution.java
  solution/3200-3299/3250.Find the Count of Monotonic Pairs I/Solution.py
  solution/3200-3299/3250.Find the Count of Monotonic Pairs I/Solution.ts
  solution/3200-3299/3251.Find the Count of Monotonic Pairs II/README.md
  solution/3200-3299/3251.Find the Count of Monotonic Pairs II/README_EN.md
  solution/3200-3299/3251.Find the Count of Monotonic Pairs II/Solution.cpp
  solution/3200-3299/3251.Find the Count of Monotonic Pairs II/Solution.go
  solution/3200-3299/3251.Find the Count of Monotonic Pairs II/Solution.java
  solution/3200-3299/3251.Find the Count of Monotonic Pairs II/Solution.py
  solution/3200-3299/3251.Find the Count of Monotonic Pairs II/Solution.ts
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/contest.json
Labels: md, ts, py, go, java, cpp, core team, png, jpg

#3402 feat: add ts solution to lc problem: No.1568
  solution/1500-1599/1568.Minimum Number of Days to Disconnect Island/README.md
  solution/1500-1599/1568.Minimum Number of Days to Disconnect Island/README_EN.md
  solution/1500-1599/1568.Minimum Number of Days to Disconnect Island/Solution.js
  solution/1500-1599/1568.Minimum Number of Days to Disconnect Island/Solution.ts
Labels: js, md, ts

#3403 feat: update lc problems
  solution/0000-0099/0071.Simplify Path/README_EN.md
  solution/0600-0699/0676.Implement Magic Dictionary/README.md
  solution/0600-0699/0676.Implement Magic Dictionary/README_EN.md
  solution/0600-0699/0676.Implement Magic Dictionary/Solution2.py
  solution/0800-0899/0872.Leaf-Similar Trees/README.md
  solution/0800-0899/0872.Leaf-Similar Trees/README_EN.md
  solution/0800-0899/0872.Leaf-Similar Trees/Solution.cpp
  solution/0800-0899/0872.Leaf-Similar Trees/Solution.go
  solution/0800-0899/0872.Leaf-Similar Trees/Solution.java
  solution/0800-0899/0872.Leaf-Similar Trees/Solution.js
  solution/0800-0899/0872.Leaf-Similar Trees/Solution.py
  solution/0800-0899/0872.Leaf-Similar Trees/Solution.rs
  solution/2000-2099/2096.Step-By-Step Directions From a Binary Tree Node to Another/README.md
  solution/2000-2099/2096.Step-By-Step Directions From a Binary Tree Node to Another/README_EN.md
  solution/2000-2099/2096.Step-By-Step Directions From a Binary Tree Node to Another/Solution.js
  solution/2000-2099/2096.Step-By-Step Directions From a Binary Tree Node to Another/Solution.ts
  solution/3200-3299/3252.Premier League Table Ranking II/README.md
  solution/3200-3299/3252.Premier League Table Ranking II/README_EN.md
  solution/3200-3299/3252.Premier League Table Ranking II/Solution.py
  solution/3200-3299/3252.Premier League Table Ranking II/Solution.sql
  solution/DATABASE_README.md
  solution/DATABASE_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/contest.json
Labels: js, md, ts, py, go, java, cpp, rs, core team, json, sql

#3404 feat: add solutions to lc problems: No.0813,0814
  solution/0800-0899/0813.Largest Sum of Averages/README.md
  solution/0800-0899/0813.Largest Sum of Averages/README_EN.md
  solution/0800-0899/0813.Largest Sum of Averages/Solution.cpp
  solution/0800-0899/0813.Largest Sum of Averages/Solution.go
  solution/0800-0899/0813.Largest Sum of Averages/Solution.java
  solution/0800-0899/0813.Largest Sum of Averages/Solution.py
  solution/0800-0899/0813.Largest Sum of Averages/Solution.ts
  solution/0800-0899/0813.Largest Sum of Averages/Solution2.cpp
  solution/0800-0899/0813.Largest Sum of Averages/Solution2.go
  solution/0800-0899/0813.Largest Sum of Averages/Solution2.java
  solution/0800-0899/0813.Largest Sum of Averages/Solution2.py
  solution/0800-0899/0813.Largest Sum of Averages/Solution2.ts
  solution/0800-0899/0814.Binary Tree Pruning/README.md
  solution/0800-0899/0814.Binary Tree Pruning/README_EN.md
  solution/0800-0899/0814.Binary Tree Pruning/Solution.cpp
  solution/0800-0899/0814.Binary Tree Pruning/Solution.js
  solution/0800-0899/0814.Binary Tree Pruning/Solution.py
  solution/0800-0899/0814.Binary Tree Pruning/Solution.ts
Labels: js, md, ts, py, go, java, cpp, core team

#3389 feat: add java solution to lc problem: No.1307
  solution/1300-1399/1307.Verbal Arithmetic Puzzle/Solution.java
Labels: java

#3390 feat: add python solution to lc problem: No.1307
  solution/1300-1399/1307.Verbal Arithmetic Puzzle/Solution.py
Labels: py

#3391 feat: add solutions to lc problem: No.1307
  solution/1300-1399/1307.Verbal Arithmetic Puzzle/README.md
  solution/1300-1399/1307.Verbal Arithmetic Puzzle/README_EN.md
  solution/1300-1399/1307.Verbal Arithmetic Puzzle/Solution.cpp
Labels: md, cpp

#3405 feat: add js/ts solutions to lc problem: No.2029
  solution/2000-2099/2029.Stone Game IX/README.md
  solution/2000-2099/2029.Stone Game IX/README_EN.md
  solution/2000-2099/2029.Stone Game IX/Solution.js
  solution/2000-2099/2029.Stone Game IX/Solution2.js
  solution/2000-2099/2029.Stone Game IX/Solution2.ts
Labels: js, md, ts

#3394 feat: add python solution to lc problem: No.1453
  solution/1400-1499/1453.Maximum Number of Darts Inside of a Circular Dartboard/Solution.py
Labels: py

#3395 feat: add solutions to lc problem: No.1453
  solution/1400-1499/1453.Maximum Number of Darts Inside of a Circular Dartboard/README.md
  solution/1400-1499/1453.Maximum Number of Darts Inside of a Circular Dartboard/README_EN.md
  solution/1400-1499/1453.Maximum Number of Darts Inside of a Circular Dartboard/Solution.java
Labels: java

#3406 feat: add solutions to lc problem: No.1311
  solution/1300-1399/1310.XOR Queries of a Subarray/README.md
  solution/1300-1399/1310.XOR Queries of a Subarray/README_EN.md
  solution/1300-1399/1310.XOR Queries of a Subarray/Solution.js
  solution/1300-1399/1310.XOR Queries of a Subarray/Solution.ts
  solution/1300-1399/1311.Get Watched Videos by Your Friends/README.md
  solution/1300-1399/1311.Get Watched Videos by Your Friends/README_EN.md
  solution/1300-1399/1311.Get Watched Videos by Your Friends/Solution.cpp
  solution/1300-1399/1311.Get Watched Videos by Your Friends/Solution.go
  solution/1300-1399/1311.Get Watched Videos by Your Friends/Solution.java
  solution/1300-1399/1311.Get Watched Videos by Your Friends/Solution.py
  solution/1300-1399/1311.Get Watched Videos by Your Friends/Solution.ts
Labels: js, md, ts, py, go, java, cpp, core team

#3408 feat: update solutions to lc problem: No.0848,0849
  solution/0800-0899/0848.Shifting Letters/README.md
  solution/0800-0899/0848.Shifting Letters/README_EN.md
  solution/0800-0899/0848.Shifting Letters/Solution.py
  solution/0800-0899/0848.Shifting Letters/Solution2.py
  solution/0800-0899/0849.Maximize Distance to Closest Person/README.md
  solution/0800-0899/0849.Maximize Distance to Closest Person/README_EN.md
Labels: md, py, core team

#3409 feat: add swift implementation to lcof2 problem: No.075
  lcof2/剑指 Offer II 075. 数组相对排序/README.md
  lcof2/剑指 Offer II 075. 数组相对排序/Solution.swift
Labels: md, core team, swift

#3410 feat: add swift implementation to lcof2 problem: No.076
  lcof2/剑指 Offer II 076. 数组中的第 k 大的数字/README.md
  lcof2/剑指 Offer II 076. 数组中的第 k 大的数字/Solution.swift
Labels: md, core team, swift

#3413 feat: add solution js lc problem no. 0719
  solution/0700-0799/0719.Find K-th Smallest Pair Distance/README.md
  solution/0700-0799/0719.Find K-th Smallest Pair Distance/README_EN.md
  solution/0700-0799/0719.Find K-th Smallest Pair Distance/Solution.js
Labels: js, md

#3414 feat: update lc problems
  solution/0800-0899/0813.Largest Sum of Averages/README.md
  solution/0800-0899/0813.Largest Sum of Averages/README_EN.md
  solution/0800-0899/0814.Binary Tree Pruning/README_EN.md
  solution/0800-0899/0849.Maximize Distance to Closest Person/README.md
  solution/1300-1399/1310.XOR Queries of a Subarray/README.md
  solution/1300-1399/1310.XOR Queries of a Subarray/README_EN.md
  solution/1300-1399/1311.Get Watched Videos by Your Friends/README.md
  solution/1300-1399/1311.Get Watched Videos by Your Friends/README_EN.md
  solution/2000-2099/2029.Stone Game IX/README.md
  solution/2000-2099/2029.Stone Game IX/README_EN.md
  solution/2800-2899/2800.Shortest String That Contains Three Strings/README.md
  solution/2800-2899/2800.Shortest String That Contains Three Strings/README_EN.md
  solution/2800-2899/2800.Shortest String That Contains Three Strings/Solution2.cpp
  solution/2800-2899/2800.Shortest String That Contains Three Strings/Solution2.go
  solution/2800-2899/2800.Shortest String That Contains Three Strings/Solution2.java
  solution/2800-2899/2800.Shortest String That Contains Three Strings/Solution2.py
  solution/2800-2899/2800.Shortest String That Contains Three Strings/Solution2.ts
  solution/3200-3299/3235.Check if the Rectangle Corner Is Reachable/README.md
  solution/3200-3299/3247.Number of Subsequences with Odd Sum/README.md
  solution/3200-3299/3247.Number of Subsequences with Odd Sum/README_EN.md
  solution/3200-3299/3248.Snake in Matrix/README.md
  solution/3200-3299/3248.Snake in Matrix/README_EN.md
  solution/3200-3299/3249.Count the Number of Good Nodes/README.md
  solution/3200-3299/3249.Count the Number of Good Nodes/README_EN.md
  solution/3200-3299/3250.Find the Count of Monotonic Pairs I/README.md
  solution/3200-3299/3250.Find the Count of Monotonic Pairs I/README_EN.md
  solution/3200-3299/3251.Find the Count of Monotonic Pairs II/README.md
  solution/3200-3299/3251.Find the Count of Monotonic Pairs II/README_EN.md
  solution/3200-3299/3252.Premier League Table Ranking II/README.md
  solution/DATABASE_README.md
  solution/DATABASE_README_EN.md
  solution/README.md
  solution/README_EN.md
Labels: md, ts, py, go, java, cpp, core team

#3415 feat: add solutions to lc problem: No.3253
  solution/3200-3299/3253.Construct String with Minimum Cost (Easy)/README.md
  solution/3200-3299/3253.Construct String with Minimum Cost (Easy)/README_EN.md
  solution/3200-3299/3253.Construct String with Minimum Cost (Easy)/Solution.cpp
  solution/3200-3299/3253.Construct String with Minimum Cost (Easy)/Solution.go
  solution/3200-3299/3253.Construct String with Minimum Cost (Easy)/Solution.java
  solution/3200-3299/3253.Construct String with Minimum Cost (Easy)/Solution.py
  solution/3200-3299/3253.Construct String with Minimum Cost (Easy)/Solution.ts
  solution/README.md
  solution/README_EN.md
Labels: md, ts, py, go, java, cpp, core team

#3416 feat: add solutions to lc problem: No.0214
  solution/0200-0299/0214.Shortest Palindrome/README.md
  solution/0200-0299/0214.Shortest Palindrome/README_EN.md
  solution/0200-0299/0214.Shortest Palindrome/Solution.cs
  solution/0200-0299/0214.Shortest Palindrome/Solution2.cpp
  solution/0200-0299/0214.Shortest Palindrome/Solution2.cs
  solution/0200-0299/0214.Shortest Palindrome/Solution2.go
  solution/0200-0299/0214.Shortest Palindrome/Solution2.java
  solution/0200-0299/0214.Shortest Palindrome/Solution2.py
  solution/0200-0299/0214.Shortest Palindrome/Solution2.ts
Labels: md, ts, py, go, java, cpp, core team, cs

#3418 feat: add solutions to lc problem: No.3068
  solution/3000-3099/3068.Find the Maximum Sum of Node Values/README.md
  solution/3000-3099/3068.Find the Maximum Sum of Node Values/README_EN.md
  solution/3000-3099/3068.Find the Maximum Sum of Node Values/Solution.java
  solution/3000-3099/3068.Find the Maximum Sum of Node Values/Solution.py
  solution/3000-3099/3068.Find the Maximum Sum of Node Values/images/screenshot-2023-11-10-012641.png
Labels: md, py, java, core team, png

#3419 feat: update lc problems
  solution/0000-0099/0001.Two Sum/README.md
  solution/0000-0099/0016.3Sum Closest/README.md
  solution/0000-0099/0071.Simplify Path/README.md
  solution/0200-0299/0230.Kth Smallest Element in a BST/README.md
  solution/0300-0399/0308.Range Sum Query 2D - Mutable/README.md
  solution/0400-0499/0457.Circular Array Loop/README.md
  solution/0400-0499/0457.Circular Array Loop/images/1723688159-qYjpWT-image.png
  solution/0400-0499/0457.Circular Array Loop/images/1723688183-lRSkjp-image.png
  solution/0400-0499/0457.Circular Array Loop/images/1723688199-nhaMuF-image.png
  solution/0600-0699/0638.Shopping Offers/README.md
  solution/0600-0699/0638.Shopping Offers/README_EN.md
  solution/0700-0799/0777.Swap Adjacent in LR String/README_EN.md
  solution/0700-0799/0787.Cheapest Flights Within K Stops/README.md
  solution/0700-0799/0787.Cheapest Flights Within K Stops/images/995.png
  solution/0800-0899/0841.Keys and Rooms/README.md
  solution/0900-0999/0919.Complete Binary Tree Inserter/README.md
  solution/1000-1099/1032.Stream of Characters/README.md
  solution/1000-1099/1032.Stream of Characters/README_EN.md
  solution/1000-1099/1032.Stream of Characters/Solution.cpp
  solution/1000-1099/1062.Longest Repeating Substring/README.md
  solution/1100-1199/1190.Reverse Substrings Between Each Pair of Parentheses/README.md
  solution/1200-1299/1296.Divide Array in Sets of K Consecutive Numbers/README.md
  solution/1300-1399/1392.Longest Happy Prefix/README.md
  solution/1300-1399/1392.Longest Happy Prefix/README_EN.md
  solution/1300-1399/1392.Longest Happy Prefix/Solution2.cpp
  solution/1300-1399/1392.Longest Happy Prefix/Solution2.go
  solution/1300-1399/1392.Longest Happy Prefix/Solution2.java
  solution/1300-1399/1392.Longest Happy Prefix/Solution2.py
  solution/1300-1399/1392.Longest Happy Prefix/Solution2.ts
  solution/1800-1899/1820.Maximum Number of Accepted Invitations/README.md
  solution/1800-1899/1820.Maximum Number of Accepted Invitations/README_EN.md
  solution/1900-1999/1998.GCD Sort of an Array/README.md
  solution/2100-2199/2189.Number of Ways to Build House of Cards/README.md
  solution/2200-2299/2202.Maximize the Topmost Element After K Moves/README.md
  solution/3000-3099/3062.Winner of the Linked List Game/README.md
  solution/3000-3099/3076.Shortest Uncommon Substring in an Array/README.md
  solution/3100-3199/3117.Minimum Sum of Values by Dividing Array/README.md
  solution/3100-3199/3151.Special Array I/README.md
  solution/3100-3199/3152.Special Array II/README.md
  solution/3100-3199/3153.Sum of Digit Differences of All Pairs/README.md
  solution/3100-3199/3154.Find Number of Ways to Reach the K-th Stair/README.md
  solution/README.md
  solution/README_EN.md
Labels: md, ts, py, go, java, cpp, core team, png

#3422 feat: add solutions to lc problem: No.3068
  solution/3000-3099/3068.Find the Maximum Sum of Node Values/README.md
  solution/3000-3099/3068.Find the Maximum Sum of Node Values/README_EN.md
  solution/3000-3099/3068.Find the Maximum Sum of Node Values/Solution.cpp
  solution/3000-3099/3068.Find the Maximum Sum of Node Values/Solution.cs
  solution/3000-3099/3068.Find the Maximum Sum of Node Values/Solution.go
  solution/3000-3099/3068.Find the Maximum Sum of Node Values/Solution.rs
  solution/3000-3099/3068.Find the Maximum Sum of Node Values/Solution.ts
Labels: md, ts, go, cpp, rs, core team, cs

#3424 feat: add solutions to lc problem: No.3082
  solution/3000-3099/3082.Find the Sum of the Power of All Subsequences/README.md
  solution/3000-3099/3082.Find the Sum of the Power of All Subsequences/README_EN.md
  solution/3000-3099/3082.Find the Sum of the Power of All Subsequences/Solution.cpp
  solution/3000-3099/3082.Find the Sum of the Power of All Subsequences/Solution.go
  solution/3000-3099/3082.Find the Sum of the Power of All Subsequences/Solution.java
  solution/3000-3099/3082.Find the Sum of the Power of All Subsequences/Solution.py
  solution/3000-3099/3082.Find the Sum of the Power of All Subsequences/Solution.ts
  solution/3000-3099/3082.Find the Sum of the Power of All Subsequences/Solution2.cpp
  solution/3000-3099/3082.Find the Sum of the Power of All Subsequences/Solution2.go
  solution/3000-3099/3082.Find the Sum of the Power of All Subsequences/Solution2.java
  solution/3000-3099/3082.Find the Sum of the Power of All Subsequences/Solution2.py
  solution/3000-3099/3082.Find the Sum of the Power of All Subsequences/Solution2.ts
Labels: md, ts, py, go, java, cpp, core team

#3427 feat: add solutions to lc problems: No.1422,1424,1425
  solution/1400-1499/1422.Maximum Score After Splitting a String/README.md
  solution/1400-1499/1422.Maximum Score After Splitting a String/README_EN.md
  solution/1400-1499/1422.Maximum Score After Splitting a String/Solution.cpp
  solution/1400-1499/1422.Maximum Score After Splitting a String/Solution.go
  solution/1400-1499/1422.Maximum Score After Splitting a String/Solution.java
  solution/1400-1499/1422.Maximum Score After Splitting a String/Solution.py
  solution/1400-1499/1422.Maximum Score After Splitting a String/Solution.rs
  solution/1400-1499/1422.Maximum Score After Splitting a String/Solution.ts
  solution/1400-1499/1422.Maximum Score After Splitting a String/Solution2.cpp
  solution/1400-1499/1422.Maximum Score After Splitting a String/Solution2.go
  solution/1400-1499/1422.Maximum Score After Splitting a String/Solution2.java
  solution/1400-1499/1422.Maximum Score After Splitting a String/Solution2.py
  solution/1400-1499/1424.Diagonal Traverse II/README.md
  solution/1400-1499/1424.Diagonal Traverse II/README_EN.md
  solution/1400-1499/1424.Diagonal Traverse II/Solution.ts
  solution/1400-1499/1425.Constrained Subsequence Sum/README.md
  solution/1400-1499/1425.Constrained Subsequence Sum/README_EN.md
  solution/1400-1499/1425.Constrained Subsequence Sum/Solution.cpp
  solution/1400-1499/1425.Constrained Subsequence Sum/Solution.go
  solution/1400-1499/1425.Constrained Subsequence Sum/Solution.java
  solution/1400-1499/1425.Constrained Subsequence Sum/Solution.py
  solution/1400-1499/1425.Constrained Subsequence Sum/Solution.ts
Labels: md, ts, py, go, java, cpp, rs, core team

#3428 feat: add solutions to lc problem: No.1418
  solution/1400-1499/1418.Display Table of Food Orders in a Restaurant/README.md
  solution/1400-1499/1418.Display Table of Food Orders in a Restaurant/README_EN.md
  solution/1400-1499/1418.Display Table of Food Orders in a Restaurant/Solution.cpp
  solution/1400-1499/1418.Display Table of Food Orders in a Restaurant/Solution.go
  solution/1400-1499/1418.Display Table of Food Orders in a Restaurant/Solution.java
  solution/1400-1499/1418.Display Table of Food Orders in a Restaurant/Solution.py
  solution/1400-1499/1418.Display Table of Food Orders in a Restaurant/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#3430 feat: add biweekly contest 137
  solution/0600-0699/0624.Maximum Distance in Arrays/README.md
  solution/0600-0699/0624.Maximum Distance in Arrays/README_EN.md
  solution/0800-0899/0860.Lemonade Change/README_EN.md
  solution/1400-1499/1418.Display Table of Food Orders in a Restaurant/README.md
  solution/1400-1499/1418.Display Table of Food Orders in a Restaurant/README_EN.md
  solution/1400-1499/1422.Maximum Score After Splitting a String/README.md
  solution/1400-1499/1422.Maximum Score After Splitting a String/README_EN.md
  solution/2000-2099/2096.Step-By-Step Directions From a Binary Tree Node to Another/README.md
  solution/2000-2099/2096.Step-By-Step Directions From a Binary Tree Node to Another/README_EN.md
  solution/2000-2099/2096.Step-By-Step Directions From a Binary Tree Node to Another/Solution.js
  solution/2000-2099/2096.Step-By-Step Directions From a Binary Tree Node to Another/Solution.ts
  solution/3200-3299/3254.Find the Power of K-Size Subarrays I/README.md
  solution/3200-3299/3254.Find the Power of K-Size Subarrays I/README_EN.md
  solution/3200-3299/3254.Find the Power of K-Size Subarrays I/Solution.cpp
  solution/3200-3299/3254.Find the Power of K-Size Subarrays I/Solution.go
  solution/3200-3299/3254.Find the Power of K-Size Subarrays I/Solution.java
  solution/3200-3299/3254.Find the Power of K-Size Subarrays I/Solution.py
  solution/3200-3299/3254.Find the Power of K-Size Subarrays I/Solution.ts
  solution/3200-3299/3255.Find the Power of K-Size Subarrays II/README.md
  solution/3200-3299/3255.Find the Power of K-Size Subarrays II/README_EN.md
  solution/3200-3299/3255.Find the Power of K-Size Subarrays II/Solution.cpp
  solution/3200-3299/3255.Find the Power of K-Size Subarrays II/Solution.go
  solution/3200-3299/3255.Find the Power of K-Size Subarrays II/Solution.java
  solution/3200-3299/3255.Find the Power of K-Size Subarrays II/Solution.py
  solution/3200-3299/3255.Find the Power of K-Size Subarrays II/Solution.ts
  solution/3200-3299/3256.Maximum Value Sum by Placing Three Rooks I/README.md
  solution/3200-3299/3256.Maximum Value Sum by Placing Three Rooks I/README_EN.md
  solution/3200-3299/3257.Maximum Value Sum by Placing Three Rooks II/README.md
  solution/3200-3299/3257.Maximum Value Sum by Placing Three Rooks II/README_EN.md
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/contest.json
Labels: js, md, ts, py, go, java, cpp, core team

#3431 feat: add solutions to lc problem: No.3258
  solution/3200-3299/3258.Count Substrings That Satisfy K-Constraint I/README.md
  solution/3200-3299/3258.Count Substrings That Satisfy K-Constraint I/README_EN.md
  solution/3200-3299/3258.Count Substrings That Satisfy K-Constraint I/Solution.cpp
  solution/3200-3299/3258.Count Substrings That Satisfy K-Constraint I/Solution.go
  solution/3200-3299/3258.Count Substrings That Satisfy K-Constraint I/Solution.java
  solution/3200-3299/3258.Count Substrings That Satisfy K-Constraint I/Solution.py
  solution/3200-3299/3258.Count Substrings That Satisfy K-Constraint I/Solution.ts
  solution/3200-3299/3259.Maximum Energy Boost From Two Drinks/README.md
  solution/3200-3299/3259.Maximum Energy Boost From Two Drinks/README_EN.md
  solution/3200-3299/3260.Find the Largest Palindrome Divisible by K/README.md
  solution/3200-3299/3260.Find the Largest Palindrome Divisible by K/README_EN.md
  solution/3200-3299/3261.Count Substrings That Satisfy K-Constraint II/README.md
  solution/3200-3299/3261.Count Substrings That Satisfy K-Constraint II/README_EN.md
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
Labels: md, ts, py, go, java, cpp, core team

#3432 Added Python solution for 1916
  solution/1900-1999/1916.Count Ways to Build Rooms in an Ant Colony/README.md
  solution/1900-1999/1916.Count Ways to Build Rooms in an Ant Colony/README_EN.md
  solution/1900-1999/1916.Count Ways to Build Rooms in an Ant Colony/Solution.py
Labels: md, py

#3433 feat: add solutions to lc problem: No.3259
  solution/3200-3299/3259.Maximum Energy Boost From Two Drinks/README.md
  solution/3200-3299/3259.Maximum Energy Boost From Two Drinks/README_EN.md
  solution/3200-3299/3259.Maximum Energy Boost From Two Drinks/Solution.cpp
  solution/3200-3299/3259.Maximum Energy Boost From Two Drinks/Solution.go
  solution/3200-3299/3259.Maximum Energy Boost From Two Drinks/Solution.java
  solution/3200-3299/3259.Maximum Energy Boost From Two Drinks/Solution.py
  solution/3200-3299/3259.Maximum Energy Boost From Two Drinks/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#3435 feat: update lc problems
  solution/0500-0599/0552.Student Attendance Record II/README.md
  solution/0500-0599/0552.Student Attendance Record II/README_EN.md
  solution/0500-0599/0552.Student Attendance Record II/Solution.cpp
  solution/0700-0799/0756.Pyramid Transition Matrix/README.md
  solution/2000-2099/2096.Step-By-Step Directions From a Binary Tree Node to Another/README.md
  solution/2000-2099/2096.Step-By-Step Directions From a Binary Tree Node to Another/README_EN.md
  solution/2000-2099/2096.Step-By-Step Directions From a Binary Tree Node to Another/Solution.js
  solution/2000-2099/2096.Step-By-Step Directions From a Binary Tree Node to Another/Solution.ts
  solution/3100-3199/3154.Find Number of Ways to Reach the K-th Stair/README.md
  solution/3100-3199/3154.Find Number of Ways to Reach the K-th Stair/README_EN.md
  solution/3100-3199/3154.Find Number of Ways to Reach the K-th Stair/Solution.cpp
  solution/3200-3299/3229.Minimum Operations to Make Array Equal to Target/README_EN.md
  solution/CONTEST_README.md
  solution/contest.json
Labels: js, md, ts, cpp, core team, json, t

#3434 feat: add js/ts solutions to lc problem: No.0650
  solution/0600-0699/0650.2 Keys Keyboard/README.md
  solution/0600-0699/0650.2 Keys Keyboard/README_EN.md
  solution/0600-0699/0650.2 Keys Keyboard/Solution2.js
  solution/0600-0699/0650.2 Keys Keyboard/Solution2.ts
Labels: js, md, ts

#3437 feat: add solutions to lc problem: No.3007
  solution/3000-3099/3007.Maximum Number That Sum of the Prices Is Less Than or Equal to K/README.md
  solution/3000-3099/3007.Maximum Number That Sum of the Prices Is Less Than or Equal to K/README_EN.md
  solution/3000-3099/3007.Maximum Number That Sum of the Prices Is Less Than or Equal to K/Solution.cpp
  solution/3000-3099/3007.Maximum Number That Sum of the Prices Is Less Than or Equal to K/Solution.ts
Labels: md, ts, cpp, core team

#3438 feat: update lc problems
  solution/0100-0199/0147.Insertion Sort List/README.md
  solution/0100-0199/0147.Insertion Sort List/images/1724130387-qxfMwx-Insertion-sort-example-300px.gif
  solution/0100-0199/0147.Insertion Sort List/images/1724130414-QbPAjl-image.png
  solution/0100-0199/0147.Insertion Sort List/images/1724130432-zoOvdI-image.png
  solution/0200-0299/0208.Implement Trie (Prefix Tree)/README.md
  solution/0300-0399/0379.Design Phone Directory/README.md
  solution/0300-0399/0391.Perfect Rectangle/README.md
  solution/0300-0399/0391.Perfect Rectangle/README_EN.md
  solution/0600-0699/0616.Add Bold Tag in String/README_EN.md
  solution/0700-0799/0756.Pyramid Transition Matrix/README.md
  solution/0700-0799/0758.Bold Words in String/README_EN.md
  solution/1300-1399/1380.Lucky Numbers in a Matrix/README.md
  solution/1900-1999/1937.Maximum Number of Points with Cost/README.md
  solution/1900-1999/1937.Maximum Number of Points with Cost/README_EN.md
  solution/2100-2199/2122.Recover the Original Array/README.md
  solution/2100-2199/2122.Recover the Original Array/README_EN.md
  solution/2300-2399/2324.Product Sales Analysis IV/README_EN.md
  solution/2800-2899/2863.Maximum Length of Semi-Decreasing Subarrays/README.md
  solution/2800-2899/2863.Maximum Length of Semi-Decreasing Subarrays/README_EN.md
  solution/2900-2999/2992.Number of Self-Divisible Permutations/README.md
  solution/2900-2999/2992.Number of Self-Divisible Permutations/README_EN.md
  solution/3200-3299/3229.Minimum Operations to Make Array Equal to Target/README.md
  solution/3200-3299/3247.Number of Subsequences with Odd Sum/README.md
  solution/3200-3299/3247.Number of Subsequences with Odd Sum/README_EN.md
  solution/3200-3299/3253.Construct String with Minimum Cost (Easy)/README.md
  solution/3200-3299/3254.Find the Power of K-Size Subarrays I/README.md
  solution/3200-3299/3254.Find the Power of K-Size Subarrays I/README_EN.md
  solution/3200-3299/3255.Find the Power of K-Size Subarrays II/README.md
  solution/3200-3299/3255.Find the Power of K-Size Subarrays II/README_EN.md
  solution/3200-3299/3256.Maximum Value Sum by Placing Three Rooks I/README.md
  solution/3200-3299/3256.Maximum Value Sum by Placing Three Rooks I/README_EN.md
  solution/3200-3299/3257.Maximum Value Sum by Placing Three Rooks II/README.md
  solution/3200-3299/3257.Maximum Value Sum by Placing Three Rooks II/README_EN.md
  solution/3200-3299/3258.Count Substrings That Satisfy K-Constraint I/README.md
  solution/3200-3299/3258.Count Substrings That Satisfy K-Constraint I/README_EN.md
  solution/3200-3299/3259.Maximum Energy Boost From Two Drinks/README.md
  solution/3200-3299/3259.Maximum Energy Boost From Two Drinks/README_EN.md
  solution/3200-3299/3260.Find the Largest Palindrome Divisible by K/README.md
  solution/3200-3299/3260.Find the Largest Palindrome Divisible by K/README_EN.md
  solution/3200-3299/3261.Count Substrings That Satisfy K-Constraint II/README.md
  solution/3200-3299/3261.Count Substrings That Satisfy K-Constraint II/README_EN.md
  solution/3200-3299/3262.Find Overlapping Shifts/README.md
  solution/3200-3299/3262.Find Overlapping Shifts/README_EN.md
  solution/3200-3299/3262.Find Overlapping Shifts/Solution.py
  solution/3200-3299/3262.Find Overlapping Shifts/Solution.sql
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/DATABASE_README.md
  solution/DATABASE_README_EN.md
  solution/README.md
  solution/README_EN.md
Labels: md, core team, png, gif

#3440 feat: add solutions to lc problem: No.3263
  solution/3200-3299/3262.Find Overlapping Shifts/README.md
  solution/3200-3299/3262.Find Overlapping Shifts/README_EN.md
  solution/3200-3299/3262.Find Overlapping Shifts/Solution.py
  solution/3200-3299/3262.Find Overlapping Shifts/Solution.sql
  solution/3200-3299/3263.Convert Doubly Linked List to Array I/README.md
  solution/3200-3299/3263.Convert Doubly Linked List to Array I/README_EN.md
  solution/3200-3299/3263.Convert Doubly Linked List to Array I/Solution.cpp
  solution/3200-3299/3263.Convert Doubly Linked List to Array I/Solution.go
  solution/3200-3299/3263.Convert Doubly Linked List to Array I/Solution.java
  solution/3200-3299/3263.Convert Doubly Linked List to Array I/Solution.py
  solution/3200-3299/3263.Convert Doubly Linked List to Array I/Solution.ts
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/DATABASE_README.md
  solution/README.md
  solution/README_EN.md
Labels: md, ts, py, go, java, cpp, core team, sql

#3441 feat: add js/ts solutions to lc problem: No.0476
  solution/0400-0499/0476.Number Complement/README.md
  solution/0400-0499/0476.Number Complement/README_EN.md
  solution/0400-0499/0476.Number Complement/Solution.js
  solution/0400-0499/0476.Number Complement/Solution2.js
  solution/0400-0499/0476.Number Complement/Solution2.ts
Labels: js, md, ts

#3442 feat: add solutions to lc problem: No.3145
  solution/3100-3199/3145.Find Products of Elements of Big Array/README.md
  solution/3100-3199/3145.Find Products of Elements of Big Array/README_EN.md
  solution/3100-3199/3145.Find Products of Elements of Big Array/Solution.cpp
  solution/3100-3199/3145.Find Products of Elements of Big Array/Solution.go
  solution/3100-3199/3145.Find Products of Elements of Big Array/Solution.java
  solution/3100-3199/3145.Find Products of Elements of Big Array/Solution.py
Labels: md, py, go, java, cpp, core team

#3443 feat: add solutions to lc problem: No.0592
  solution/0500-0599/0592.Fraction Addition and Subtraction/README.md
  solution/0500-0599/0592.Fraction Addition and Subtraction/README_EN.md
  solution/0500-0599/0592.Fraction Addition and Subtraction/Solution.js
Labels: js, md

#3444 feat: add solutions to lc problem: No.3146
  solution/3100-3199/3145.Find Products of Elements of Big Array/README.md
  solution/3100-3199/3145.Find Products of Elements of Big Array/README_EN.md
  solution/3100-3199/3146.Permutation Difference between Two Strings/README.md
  solution/3100-3199/3146.Permutation Difference between Two Strings/README_EN.md
  solution/3100-3199/3146.Permutation Difference between Two Strings/Solution.cs
  solution/3100-3199/3146.Permutation Difference between Two Strings/Solution.ts
Labels: md, ts, core team, cs

#3445 feat: add solutions to lc problem: No.0564
  solution/0500-0599/0564.Find the Closest Palindrome/README.md
  solution/0500-0599/0564.Find the Closest Palindrome/README_EN.md
  solution/0500-0599/0564.Find the Closest Palindrome/Solution.js
Labels: js, md

#3446 feat: update lc problems
  solution/0000-0099/0020.Valid Parentheses/README_EN.md
  solution/0100-0199/0134.Gas Station/README_EN.md
  solution/0100-0199/0152.Maximum Product Subarray/README.md
  solution/0100-0199/0152.Maximum Product Subarray/README_EN.md
  solution/0400-0499/0405.Convert a Number to Hexadecimal/README.md
  solution/0400-0499/0405.Convert a Number to Hexadecimal/README_EN.md
  solution/0400-0499/0442.Find All Duplicates in an Array/README.md
  solution/0400-0499/0442.Find All Duplicates in an Array/README_EN.md
  solution/0400-0499/0451.Sort Characters By Frequency/README.md
  solution/0400-0499/0455.Assign Cookies/README.md
  solution/0400-0499/0455.Assign Cookies/README_EN.md
  solution/0500-0599/0596.Classes More Than 5 Students/README.md
  solution/0600-0699/0608.Tree Node/README.md
  solution/0600-0699/0608.Tree Node/README_EN.md
  solution/0700-0799/0703.Kth Largest Element in a Stream/README.md
  solution/0700-0799/0703.Kth Largest Element in a Stream/README_EN.md
  solution/0700-0799/0791.Custom Sort String/README.md
  solution/0700-0799/0791.Custom Sort String/README_EN.md
  solution/0800-0899/0840.Magic Squares In Grid/README_EN.md
  solution/0900-0999/0909.Snakes and Ladders/README.md
  solution/0900-0999/0909.Snakes and Ladders/README_EN.md
  solution/0900-0999/0945.Minimum Increment to Make Array Unique/README.md
  solution/0900-0999/0945.Minimum Increment to Make Array Unique/README_EN.md
  solution/1000-1099/1039.Minimum Score Triangulation of Polygon/README_EN.md
  solution/1300-1399/1330.Reverse Subarray To Maximize Array Value/README_EN.md
  solution/1400-1499/1437.Check If All 1's Are at Least Length K Places Away/README.md
  solution/1700-1799/1796.Second Largest Digit in a String/README_EN.md
  solution/2000-2099/2096.Step-By-Step Directions From a Binary Tree Node to Another/README.md
  solution/2000-2099/2096.Step-By-Step Directions From a Binary Tree Node to Another/README_EN.md
  solution/2000-2099/2096.Step-By-Step Directions From a Binary Tree Node to Another/Solution.js
  solution/2000-2099/2096.Step-By-Step Directions From a Binary Tree Node to Another/Solution.ts
  solution/2200-2299/2244.Minimum Rounds to Complete All Tasks/README_EN.md
  solution/2300-2399/2324.Product Sales Analysis IV/README.md
  solution/2300-2399/2397.Maximum Rows Covered by Columns/README_EN.md
  solution/2400-2499/2410.Maximum Matching of Players With Trainers/README_EN.md
  solution/2500-2599/2582.Pass the Pillow/README.md
  solution/2500-2599/2582.Pass the Pillow/README_EN.md
  solution/2800-2899/2863.Maximum Length of Semi-Decreasing Subarrays/README.md
  solution/2800-2899/2865.Beautiful Towers I/README.md
  solution/2800-2899/2865.Beautiful Towers I/README_EN.md
  solution/2800-2899/2866.Beautiful Towers II/README_EN.md
  solution/2800-2899/2870.Minimum Number of Operations to Make Array Empty/README_EN.md
  solution/3000-3099/3054.Binary Tree Nodes/README_EN.md
  solution/3100-3199/3134.Find the Median of the Uniqueness Array/README.md
  solution/3100-3199/3134.Find the Median of the Uniqueness Array/README_EN.md
  solution/3100-3199/3134.Find the Median of the Uniqueness Array/Solution.cpp
  solution/3100-3199/3134.Find the Median of the Uniqueness Array/Solution.go
  solution/3100-3199/3134.Find the Median of the Uniqueness Array/Solution.java
  solution/3100-3199/3134.Find the Median of the Uniqueness Array/Solution.py
  solution/3100-3199/3134.Find the Median of the Uniqueness Array/Solution.ts
  solution/3100-3199/3178.Find the Child Who Has the Ball After K Seconds/README_EN.md
  solution/3200-3299/3213.Construct String with Minimum Cost/README.md
  solution/3200-3299/3253.Construct String with Minimum Cost (Easy)/README.md
  solution/3200-3299/3263.Convert Doubly Linked List to Array I/README.md
  solution/DATABASE_README.md
  solution/README.md
Labels: js, md, core team

#3447 feat: add solutions to lc problem: No.0698
  solution/0600-0699/0698.Partition to K Equal Sum Subsets/README.md
  solution/0600-0699/0698.Partition to K Equal Sum Subsets/README_EN.md
  solution/0600-0699/0698.Partition to K Equal Sum Subsets/Solution.cpp
  solution/0600-0699/0698.Partition to K Equal Sum Subsets/Solution.py
  solution/0600-0699/0698.Partition to K Equal Sum Subsets/Solution.ts
  solution/0600-0699/0698.Partition to K Equal Sum Subsets/Solution2.cpp
  solution/0600-0699/0698.Partition to K Equal Sum Subsets/Solution2.ts
  solution/0600-0699/0698.Partition to K Equal Sum Subsets/Solution3.ts
Labels: md, ts, py, cpp, core team

#3448 feat: add weekly contest 412
  solution/3200-3299/3264.Final Array State After K Multiplication Operations I/README.md
  solution/3200-3299/3264.Final Array State After K Multiplication Operations I/README_EN.md
  solution/3200-3299/3265.Count Almost Equal Pairs I/README.md
  solution/3200-3299/3265.Count Almost Equal Pairs I/README_EN.md
  solution/3200-3299/3266.Final Array State After K Multiplication Operations II/README.md
  solution/3200-3299/3266.Final Array State After K Multiplication Operations II/README_EN.md
  solution/3200-3299/3267.Count Almost Equal Pairs II/README.md
  solution/3200-3299/3267.Count Almost Equal Pairs II/README_EN.md
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/contest.json
Labels: md, core team, json

#3450 feat: add solutions to weekly contest 412
  solution/0600-0699/0626.Exchange Seats/README_EN.md
  solution/0600-0699/0690.Employee Importance/README.md
  solution/0600-0699/0690.Employee Importance/README_EN.md
  solution/1000-1099/1052.Grumpy Bookstore Owner/README_EN.md
  solution/1100-1199/1152.Analyze User Website Visit Pattern/README_EN.md
  solution/1300-1399/1334.Find the City With the Smallest Number of Neighbors at a Threshold Distance/README_EN.md
  solution/1300-1399/1334.Find the City With the Smallest Number of Neighbors at a Threshold Distance/images/problem1334example0.png
  solution/1300-1399/1334.Find the City With the Smallest Number of Neighbors at a Threshold Distance/images/problem1334example1.png
  solution/1300-1399/1341.Movie Rating/README_EN.md
  solution/1400-1499/1462.Course Schedule IV/README_EN.md
  solution/1700-1799/1798.Maximum Number of Consecutive Values You Can Make/README_EN.md
  solution/2000-2099/2096.Step-By-Step Directions From a Binary Tree Node to Another/README.md
  solution/2000-2099/2096.Step-By-Step Directions From a Binary Tree Node to Another/README_EN.md
  solution/2000-2099/2096.Step-By-Step Directions From a Binary Tree Node to Another/Solution.js
  solution/2000-2099/2096.Step-By-Step Directions From a Binary Tree Node to Another/Solution.ts
  solution/3100-3199/3102.Minimize Manhattan Distances/README_EN.md
  solution/3100-3199/3112.Minimum Time to Visit Disappearing Nodes/README_EN.md
  solution/3100-3199/3112.Minimum Time to Visit Disappearing Nodes/images/output-onlinepngtools-1.png
  solution/3100-3199/3112.Minimum Time to Visit Disappearing Nodes/images/output-onlinepngtools.png
  solution/3200-3299/3264.Final Array State After K Multiplication Operations I/README.md
  solution/3200-3299/3264.Final Array State After K Multiplication Operations I/README_EN.md
  solution/3200-3299/3264.Final Array State After K Multiplication Operations I/Solution.cpp
  solution/3200-3299/3264.Final Array State After K Multiplication Operations I/Solution.go
  solution/3200-3299/3264.Final Array State After K Multiplication Operations I/Solution.java
  solution/3200-3299/3264.Final Array State After K Multiplication Operations I/Solution.py
  solution/3200-3299/3264.Final Array State After K Multiplication Operations I/Solution.ts
  solution/3200-3299/3265.Count Almost Equal Pairs I/README.md
  solution/3200-3299/3265.Count Almost Equal Pairs I/README_EN.md
  solution/3200-3299/3265.Count Almost Equal Pairs I/Solution.cpp
  solution/3200-3299/3265.Count Almost Equal Pairs I/Solution.go
  solution/3200-3299/3265.Count Almost Equal Pairs I/Solution.java
  solution/3200-3299/3265.Count Almost Equal Pairs I/Solution.py
  solution/3200-3299/3265.Count Almost Equal Pairs I/Solution.ts
  solution/3200-3299/3266.Final Array State After K Multiplication Operations II/README.md
  solution/3200-3299/3266.Final Array State After K Multiplication Operations II/README_EN.md
  solution/3200-3299/3266.Final Array State After K Multiplication Operations II/Solution.cpp
  solution/3200-3299/3266.Final Array State After K Multiplication Operations II/Solution.go
  solution/3200-3299/3266.Final Array State After K Multiplication Operations II/Solution.java
  solution/3200-3299/3266.Final Array State After K Multiplication Operations II/Solution.py
  solution/3200-3299/3267.Count Almost Equal Pairs II/README.md
  solution/3200-3299/3267.Count Almost Equal Pairs II/README_EN.md
  solution/3200-3299/3267.Count Almost Equal Pairs II/Solution.cpp
  solution/3200-3299/3267.Count Almost Equal Pairs II/Solution.go
  solution/3200-3299/3267.Count Almost Equal Pairs II/Solution.java
  solution/3200-3299/3267.Count Almost Equal Pairs II/Solution.py
  solution/3200-3299/3267.Count Almost Equal Pairs II/Solution.ts
  solution/contest.json
Labels: js, md, ts, py, go, java, cpp, core team, png

#3453 feat: add js solution to lc problem: No.1905
  solution/1900-1999/1905.Count Sub Islands/README.md
  solution/1900-1999/1905.Count Sub Islands/README_EN.md
  solution/1900-1999/1905.Count Sub Islands/Solution.js
Labels: js, md

#3455 feat: add js/ts solutions to lc problem: No.0947
  solution/0900-0999/0947.Most Stones Removed with Same Row or Column/README.md
  solution/0900-0999/0947.Most Stones Removed with Same Row or Column/README_EN.md
  solution/0900-0999/0947.Most Stones Removed with Same Row or Column/Solution3.js
  solution/0900-0999/0947.Most Stones Removed with Same Row or Column/Solution3.ts
Labels: js, md, ts

#3458 feat: add swift implementation to lcof2 problem: No.079
  lcof2/剑指 Offer II 079. 所有子集/README.md
  lcof2/剑指 Offer II 079. 所有子集/Solution.swift
Labels: md, core team, swift

#3459 feat: add swift implementation to lcof2 problem: No.080
  lcof2/剑指 Offer II 080. 含有 k 个元素的组合/README.md
  lcof2/剑指 Offer II 080. 含有 k 个元素的组合/Solution.swift
Labels: md, core team, swift

#3460 feat: add swift implementation to lcof2 problem: No.081
  lcof2/剑指 Offer II 081. 允许重复选择元素的组合/README.md
  lcof2/剑指 Offer II 081. 允许重复选择元素的组合/Solution.swift
Labels: md, core team, swift

#3461 feat: add swift implementation to lcof2 problem: No.082
  lcof2/剑指 Offer II 082. 含有重复元素集合的组合/README.md
  lcof2/剑指 Offer II 082. 含有重复元素集合的组合/Solution.swift
Labels: md, core team, swift

#3462 fix: update cpp solution to lc problem: No.3153
  solution/3100-3199/3153.Sum of Digit Differences of All Pairs/README.md
  solution/3100-3199/3153.Sum of Digit Differences of All Pairs/README_EN.md
  solution/3100-3199/3153.Sum of Digit Differences of All Pairs/Solution.cpp
Labels: md, cpp, core team
