Repository doocs/leetcode, pull requests merged in 2024-02, with the labels that each got.

#2292 feat: add solutions to lcp problem: No.24
  lcp/LCP 24. 数字游戏/README.md
  lcp/LCP 24. 数字游戏/Solution.cpp
  lcp/LCP 24. 数字游戏/Solution.go
  lcp/LCP 24. 数字游戏/Solution.java
  lcp/LCP 24. 数字游戏/Solution.py
Labels: md, py, go, java, cpp, core team

#2293 feat: add solutions to lc problem: No.3023
  solution/2200-2299/2207.Maximize Number of Subsequences in a String/README.md
  solution/3000-3099/3023.Find Pattern in Infinite Stream I/README.md
  solution/3000-3099/3023.Find Pattern in Infinite Stream I/README_EN.md
  solution/3000-3099/3023.Find Pattern in Infinite Stream I/Solution.cpp
  solution/3000-3099/3023.Find Pattern in Infinite Stream I/Solution.go
  solution/3000-3099/3023.Find Pattern in Infinite Stream I/Solution.java
  solution/3000-3099/3023.Find Pattern in Infinite Stream I/Solution.py
  solution/CONTEST_README.md
  solution/README.md
  solution/README_EN.md
Labels: md, py, go, java, cpp, core team

#2295 feat: add solutions to lc problem: No.1686
  solution/1600-1699/1686.Stone Game VI/README.md
  solution/1600-1699/1686.Stone Game VI/README_EN.md
  solution/1600-1699/1686.Stone Game VI/Solution.cpp
  solution/1600-1699/1686.Stone Game VI/Solution.go
  solution/1600-1699/1686.Stone Game VI/Solution.java
  solution/1600-1699/1686.Stone Game VI/Solution.py
  solution/1600-1699/1686.Stone Game VI/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2296 feat: add solutions to lc problem: No.1696
  solution/1600-1699/1696.Jump Game VI/README.md
  solution/1600-1699/1696.Jump Game VI/README_EN.md
  solution/1600-1699/1696.Jump Game VI/Solution.cpp
  solution/1600-1699/1696.Jump Game VI/Solution.go
  solution/1600-1699/1696.Jump Game VI/Solution.ts
Labels: md, ts, go, cpp, core team

#2297 feat: add solutions to lc problem: No.2641
  solution/2600-2699/2641.Cousins in Binary Tree II/README.md
  solution/2600-2699/2641.Cousins in Binary Tree II/README_EN.md
  solution/2600-2699/2641.Cousins in Binary Tree II/Solution.cpp
  solution/2600-2699/2641.Cousins in Binary Tree II/Solution.go
  solution/2600-2699/2641.Cousins in Binary Tree II/Solution.java
  solution/2600-2699/2641.Cousins in Binary Tree II/Solution.py
  solution/2600-2699/2641.Cousins in Binary Tree II/Solution.ts
  solution/2600-2699/2641.Cousins in Binary Tree II/Solution2.cpp
  solution/2600-2699/2641.Cousins in Binary Tree II/Solution2.go
  solution/2600-2699/2641.Cousins in Binary Tree II/Solution2.java
  solution/2600-2699/2641.Cousins in Binary Tree II/Solution2.py
  solution/2600-2699/2641.Cousins in Binary Tree II/Solution2.ts
Labels: md, ts, py, go, java, cpp, core team

#2298 feat: add solutions to lc problem: No.1690
  solution/1600-1699/1690.Stone Game VII/README.md
  solution/1600-1699/1690.Stone Game VII/README_EN.md
  solution/1600-1699/1690.Stone Game VII/Solution.py
  solution/1600-1699/1690.Stone Game VII/Solution.ts
  solution/1600-1699/1690.Stone Game VII/Solution2.cpp
  solution/1600-1699/1690.Stone Game VII/Solution2.go
  solution/1600-1699/1690.Stone Game VII/Solution2.java
  solution/1600-1699/1690.Stone Game VII/Solution2.py
  solution/1600-1699/1690.Stone Game VII/Solution2.ts
Labels: md, ts, py, go, java, cpp, core team

#2301 feat: update lc problems
  solution/0300-0399/0321.Create Maximum Number/README.md
  solution/0800-0899/0899.Orderly Queue/README.md
  solution/1300-1399/1386.Cinema Seat Allocation/README.md
  solution/1600-1699/1652.Defuse the Bomb/README.md
  solution/1600-1699/1652.Defuse the Bomb/README_EN.md
  solution/1600-1699/1653.Minimum Deletions to Make String Balanced/README.md
  solution/1600-1699/1653.Minimum Deletions to Make String Balanced/README_EN.md
  solution/1600-1699/1654.Minimum Jumps to Reach Home/README_EN.md
  solution/1600-1699/1655.Distribute Repeating Integers/README_EN.md
  solution/1600-1699/1658.Minimum Operations to Reduce X to Zero/README_EN.md
  solution/1600-1699/1659.Maximize Grid Happiness/README_EN.md
  solution/1600-1699/1660.Correct a Binary Tree/README_EN.md
  solution/1600-1699/1662.Check If Two String Arrays are Equivalent/README_EN.md
  solution/1600-1699/1663.Smallest String With A Given Numeric Value/README_EN.md
  solution/1600-1699/1664.Ways to Make a Fair Array/README.md
  solution/1600-1699/1664.Ways to Make a Fair Array/README_EN.md
  solution/1600-1699/1665.Minimum Initial Energy to Finish Tasks/README_EN.md
  solution/1600-1699/1669.Merge In Between Linked Lists/README_EN.md
  solution/1600-1699/1672.Richest Customer Wealth/README.md
  solution/1600-1699/1672.Richest Customer Wealth/README_EN.md
  solution/1600-1699/1673.Find the Most Competitive Subsequence/README.md
  solution/1600-1699/1673.Find the Most Competitive Subsequence/README_EN.md
  solution/1600-1699/1673.Find the Most Competitive Subsequence/Solution.ts
  solution/1600-1699/1674.Minimum Moves to Make Array Complementary/README.md
  solution/1600-1699/1674.Minimum Moves to Make Array Complementary/README_EN.md
  solution/1600-1699/1674.Minimum Moves to Make Array Complementary/Solution.ts
  solution/1600-1699/1678.Goal Parser Interpretation/README.md
  solution/1600-1699/1687.Delivering Boxes from Storage to Ports/README.md
  solution/1600-1699/1689.Partitioning Into Minimum Number Of Deci-Binary Numbers/README.md
  solution/1600-1699/1689.Partitioning Into Minimum Number Of Deci-Binary Numbers/README_EN.md
  solution/1600-1699/1689.Partitioning Into Minimum Number Of Deci-Binary Numbers/Solution.cpp
  solution/1600-1699/1689.Partitioning Into Minimum Number Of Deci-Binary Numbers/Solution.ts
  solution/1900-1999/1921.Eliminate Maximum Number of Monsters/README.md
  solution/2500-2599/2561.Rearranging Fruits/README.md
  solution/3000-3099/3016.Minimum Number of Pushes to Type Word II/README.md
  solution/3000-3099/3023.Find Pattern in Infinite Stream I/README.md
  solution/README.md
  solution/README_EN.md
Labels: md, ts, core team

#2302 feat: add solutions to lc problems: No.1690,1727,1730,1733
  solution/1600-1699/1690.Stone Game VII/README.md
  solution/1700-1799/1727.Largest Submatrix With Rearrangements/README.md
  solution/1700-1799/1727.Largest Submatrix With Rearrangements/README_EN.md
  solution/1700-1799/1730.Shortest Path to Get Food/README_EN.md
  solution/1700-1799/1733.Minimum Number of People to Teach/README_EN.md
Labels: md, core team

#2303 chore: upgrade dependencies
  .github/workflows/deploy.yml
  requirements.txt
Labels: core team, yml, txt

#2305 feat: add solutions to lcci problem: No.02.01
  lcci/02.01.Remove Duplicate Node/README.md
  lcci/02.01.Remove Duplicate Node/README_EN.md
  lcci/02.01.Remove Duplicate Node/Solution.cpp
  lcci/02.01.Remove Duplicate Node/Solution.go
  lcci/02.01.Remove Duplicate Node/Solution.java
  lcci/02.01.Remove Duplicate Node/Solution.js
  lcci/02.01.Remove Duplicate Node/Solution.py
  lcci/02.01.Remove Duplicate Node/Solution.rs
  lcci/02.01.Remove Duplicate Node/Solution.ts
Labels: js, md, ts, py, go, java, cpp, rs, core team

#2306 feat: add solutions to lcci problem: No.02.02
  lcci/02.02.Kth Node From End of List/README.md
  lcci/02.02.Kth Node From End of List/README_EN.md
  lcci/02.02.Kth Node From End of List/Solution.cpp
  lcci/02.02.Kth Node From End of List/Solution.go
  lcci/02.02.Kth Node From End of List/Solution.js
  lcci/02.02.Kth Node From End of List/Solution.py
  lcci/02.02.Kth Node From End of List/Solution.ts
Labels: js, md, ts, py, go, cpp, core team

#2307 feat: add solutions to lcci problem: No.02.03
  lcci/02.03.Delete Middle Node/README.md
  lcci/02.03.Delete Middle Node/README_EN.md
  lcci/02.03.Delete Middle Node/Solution.py
  lcci/02.04.Partition List/README.md
  lcci/02.04.Partition List/README_EN.md
  lcci/02.04.Partition List/Solution.cpp
  lcci/02.04.Partition List/Solution.go
  lcci/02.04.Partition List/Solution.java
  lcci/02.04.Partition List/Solution.py
  lcci/02.04.Partition List/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2308 feat: add solutions to lc problems: No.0292,0293
  solution/0200-0299/0292.Nim Game/README.md
  solution/0200-0299/0292.Nim Game/README_EN.md
  solution/0200-0299/0293.Flip Game/README.md
  solution/0200-0299/0293.Flip Game/README_EN.md
  solution/0200-0299/0293.Flip Game/Solution.cpp
  solution/0200-0299/0293.Flip Game/Solution.go
  solution/0200-0299/0293.Flip Game/Solution.java
  solution/0200-0299/0293.Flip Game/Solution.py
  solution/0200-0299/0293.Flip Game/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2309 feat: add biweekly contest 123
  solution/3000-3099/3024.Type of Triangle II/README.md
  solution/3000-3099/3024.Type of Triangle II/README_EN.md
  solution/3000-3099/3025.Find the Number of Ways to Place People I/README.md
  solution/3000-3099/3025.Find the Number of Ways to Place People I/README_EN.md
  solution/3000-3099/3025.Find the Number of Ways to Place People I/images/1706880311-mtPGYC-example3.jpeg
  solution/3000-3099/3025.Find the Number of Ways to Place People I/images/1706880313-YelabI-example2.jpeg
  solution/3000-3099/3025.Find the Number of Ways to Place People I/images/chisatotakinaexample3.png
  solution/3000-3099/3025.Find the Number of Ways to Place People I/images/example0alicebob-1.png
  solution/3000-3099/3025.Find the Number of Ways to Place People I/images/example1alicebob.png
  solution/3000-3099/3025.Find the Number of Ways to Place People I/images/example2chisatotakina.png
  solution/3000-3099/3026.Maximum Good Subarray Sum/README.md
  solution/3000-3099/3026.Maximum Good Subarray Sum/README_EN.md
  solution/3000-3099/3027.Find the Number of Ways to Place People II/README.md
  solution/3000-3099/3027.Find the Number of Ways to Place People II/README_EN.md
  solution/3000-3099/3027.Find the Number of Ways to Place People II/images/1706880311-mtPGYC-example3.jpeg
  solution/3000-3099/3027.Find the Number of Ways to Place People II/images/1706880313-YelabI-example2.jpeg
  solution/3000-3099/3027.Find the Number of Ways to Place People II/images/chisatotakinaexample3.png
  solution/3000-3099/3027.Find the Number of Ways to Place People II/images/example0alicebob-1.png
  solution/3000-3099/3027.Find the Number of Ways to Place People II/images/example1alicebob.png
  solution/3000-3099/3027.Find the Number of Ways to Place People II/images/example2chisatotakina.png
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
Labels: md, core team, png, jpeg

#2310 feat: add solutions to lc problem: No.3024
  solution/3000-3099/3024.Type of Triangle II/README.md
  solution/3000-3099/3024.Type of Triangle II/README_EN.md
  solution/3000-3099/3024.Type of Triangle II/Solution.cpp
  solution/3000-3099/3024.Type of Triangle II/Solution.go
  solution/3000-3099/3024.Type of Triangle II/Solution.java
  solution/3000-3099/3024.Type of Triangle II/Solution.py
  solution/3000-3099/3024.Type of Triangle II/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2311 feat: add solutions to lc problems: No.3025,3027
  solution/3000-3099/3025.Find the Number of Ways to Place People I/README.md
  solution/3000-3099/3025.Find the Number of Ways to Place People I/README_EN.md
  solution/3000-3099/3025.Find the Number of Ways to Place People I/Solution.cpp
  solution/3000-3099/3025.Find the Number of Ways to Place People I/Solution.go
  solution/3000-3099/3025.Find the Number of Ways to Place People I/Solution.java
  solution/3000-3099/3025.Find the Number of Ways to Place People I/Solution.py
  solution/3000-3099/3025.Find the Number of Ways to Place People I/Solution.ts
  solution/3000-3099/3027.Find the Number of Ways to Place People II/README.md
  solution/3000-3099/3027.Find the Number of Ways to Place People II/README_EN.md
  solution/3000-3099/3027.Find the Number of Ways to Place People II/Solution.cpp
  solution/3000-3099/3027.Find the Number of Ways to Place People II/Solution.go
  solution/3000-3099/3027.Find the Number of Ways to Place People II/Solution.java
  solution/3000-3099/3027.Find the Number of Ways to Place People II/Solution.py
  solution/3000-3099/3027.Find the Number of Ways to Place People II/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2312 feat: add weekly contest 383
  solution/3000-3099/3027.Find the Number of Ways to Place People II/README.md
  solution/3000-3099/3028.Ant on the Boundary/README.md
  solution/3000-3099/3028.Ant on the Boundary/README_EN.md
  solution/3000-3099/3029.Minimum Time to Revert Word to Initial State I/README.md
  solution/3000-3099/3029.Minimum Time to Revert Word to Initial State I/README_EN.md
  solution/3000-3099/3030.Find the Grid of Region Average/README.md
  solution/3000-3099/3030.Find the Grid of Region Average/README_EN.md
  solution/3000-3099/3030.Find the Grid of Region Average/images/example0corrected.png
  solution/3000-3099/3030.Find the Grid of Region Average/images/example1corrected.png
  solution/3000-3099/3031.Minimum Time to Revert Word to Initial State II/README.md
  solution/3000-3099/3031.Minimum Time to Revert Word to Initial State II/README_EN.md
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
Labels: md, core team, png

#2313 feat: add solutions to lc problem: No.3026
  solution/3000-3099/3026.Maximum Good Subarray Sum/README.md
  solution/3000-3099/3026.Maximum Good Subarray Sum/README_EN.md
  solution/3000-3099/3026.Maximum Good Subarray Sum/Solution.cpp
  solution/3000-3099/3026.Maximum Good Subarray Sum/Solution.go
  solution/3000-3099/3026.Maximum Good Subarray Sum/Solution.java
  solution/3000-3099/3026.Maximum Good Subarray Sum/Solution.py
  solution/3000-3099/3026.Maximum Good Subarray Sum/Solution.ts
Labels: md, ts, py, go, java, cpp

#2314 feat: add solutions to lc problems: No.3024~3027
  solution/3000-3099/3024.Type of Triangle II/README.md
  solution/3000-3099/3024.Type of Triangle II/README_EN.md
  solution/3000-3099/3024.Type of Triangle II/Solution.cs
  solution/3000-3099/3025.Find the Number of Ways to Place People I/README.md
  solution/3000-3099/3025.Find the Number of Ways to Place People I/README_EN.md
  solution/3000-3099/3025.Find the Number of Ways to Place People I/Solution.cs
  solution/3000-3099/3026.Maximum Good Subarray Sum/README.md
  solution/3000-3099/3026.Maximum Good Subarray Sum/README_EN.md
  solution/3000-3099/3026.Maximum Good Subarray Sum/Solution.cpp
  solution/3000-3099/3026.Maximum Good Subarray Sum/Solution.cs
  solution/3000-3099/3026.Maximum Good Subarray Sum/Solution.go
  solution/3000-3099/3026.Maximum Good Subarray Sum/Solution.java
  solution/3000-3099/3026.Maximum Good Subarray Sum/Solution.py
  solution/3000-3099/3026.Maximum Good Subarray Sum/Solution.ts
  solution/3000-3099/3027.Find the Number of Ways to Place People II/README.md
  solution/3000-3099/3027.Find the Number of Ways to Place People II/README_EN.md
  solution/3000-3099/3027.Find the Number of Ways to Place People II/Solution.cs
Labels: md, ts, py, go, java, cpp, core team, cs

#2315 feat: add solutions to lc problem: No.3028
  solution/3000-3099/3028.Ant on the Boundary/README.md
  solution/3000-3099/3028.Ant on the Boundary/README_EN.md
  solution/3000-3099/3028.Ant on the Boundary/Solution.cpp
  solution/3000-3099/3028.Ant on the Boundary/Solution.go
  solution/3000-3099/3028.Ant on the Boundary/Solution.java
  solution/3000-3099/3028.Ant on the Boundary/Solution.py
  solution/3000-3099/3028.Ant on the Boundary/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2316 feat: add solutions to lc problems: No.3029
  solution/3000-3099/3029.Minimum Time to Revert Word to Initial State I/README.md
  solution/3000-3099/3029.Minimum Time to Revert Word to Initial State I/README_EN.md
  solution/3000-3099/3029.Minimum Time to Revert Word to Initial State I/Solution.cpp
  solution/3000-3099/3029.Minimum Time to Revert Word to Initial State I/Solution.go
  solution/3000-3099/3029.Minimum Time to Revert Word to Initial State I/Solution.java
  solution/3000-3099/3029.Minimum Time to Revert Word to Initial State I/Solution.py
  solution/3000-3099/3029.Minimum Time to Revert Word to Initial State I/Solution.ts
Labels: md, ts, py, go, java, cpp

#2317 feat: add solutions to lc problem: No.3031
  solution/3000-3099/3031.Minimum Time to Revert Word to Initial State II/README.md
  solution/3000-3099/3031.Minimum Time to Revert Word to Initial State II/README_EN.md
  solution/3000-3099/3031.Minimum Time to Revert Word to Initial State II/Solution.cpp
  solution/3000-3099/3031.Minimum Time to Revert Word to Initial State II/Solution.go
  solution/3000-3099/3031.Minimum Time to Revert Word to Initial State II/Solution.java
  solution/3000-3099/3031.Minimum Time to Revert Word to Initial State II/Solution.py
Labels: md, py, go, java, cpp, core team

#2318 feat: add solutions to lc problems: No.3030
  solution/3000-3099/3030.Find the Grid of Region Average/README.md
  solution/3000-3099/3030.Find the Grid of Region Average/README_EN.md
  solution/3000-3099/3030.Find the Grid of Region Average/Solution.cpp
  solution/3000-3099/3030.Find the Grid of Region Average/Solution.go
  solution/3000-3099/3030.Find the Grid of Region Average/Solution.java
  solution/3000-3099/3030.Find the Grid of Region Average/Solution.py
  solution/3000-3099/3030.Find the Grid of Region Average/Solution.ts
Labels: md, ts, py, go, java, cpp

#2319 feat: add solutions to lc problem: No.3029
  solution/3000-3099/3029.Minimum Time to Revert Word to Initial State I/README.md
  solution/3000-3099/3029.Minimum Time to Revert Word to Initial State I/README_EN.md
  solution/3000-3099/3029.Minimum Time to Revert Word to Initial State I/Solution.cpp
  solution/3000-3099/3029.Minimum Time to Revert Word to Initial State I/Solution.go
  solution/3000-3099/3029.Minimum Time to Revert Word to Initial State I/Solution.java
  solution/3000-3099/3029.Minimum Time to Revert Word to Initial State I/Solution.py
  solution/3000-3099/3029.Minimum Time to Revert Word to Initial State I/Solution.ts
  solution/3000-3099/3029.Minimum Time to Revert Word to Initial State I/Solution2.cpp
  solution/3000-3099/3029.Minimum Time to Revert Word to Initial State I/Solution2.go
  solution/3000-3099/3029.Minimum Time to Revert Word to Initial State I/Solution2.java
  solution/3000-3099/3029.Minimum Time to Revert Word to Initial State I/Solution2.py
  solution/3000-3099/3030.Find the Grid of Region Average/README.md
  solution/3000-3099/3030.Find the Grid of Region Average/README_EN.md
  solution/3000-3099/3030.Find the Grid of Region Average/Solution.go
  solution/3000-3099/3030.Find the Grid of Region Average/Solution.java
  solution/3000-3099/3030.Find the Grid of Region Average/Solution.py
Labels: md, ts, py, go, java, cpp, core team

#2320 feat: add solutions to lc problems: No.2902
  solution/2900-2999/2902.Count of Sub-Multisets With Bounded Sum/README.md
  solution/2900-2999/2902.Count of Sub-Multisets With Bounded Sum/README_EN.md
  solution/2900-2999/2902.Count of Sub-Multisets With Bounded Sum/Solution.cpp
  solution/2900-2999/2902.Count of Sub-Multisets With Bounded Sum/Solution.go
  solution/2900-2999/2902.Count of Sub-Multisets With Bounded Sum/Solution.ts
Labels: md, ts, go, cpp

#2322 feat: update solutions to lcci problem: No.02.05
  lcci/02.05.Sum Lists/README.md
  lcci/02.05.Sum Lists/README_EN.md
  lcci/02.05.Sum Lists/Solution.java
  lcci/02.05.Sum Lists/Solution.py
  solution/README.md
  solution/README_EN.md
Labels: md, py, java, core team

#2323 feat: update solution to lcci problem: No.03.02
  lcci/03.02.Min Stack/README_EN.md
Labels: md, core team

#2324 feat: add solutions to lc problem: No.0993
  solution/0900-0999/0993.Cousins in Binary Tree/README.md
  solution/0900-0999/0993.Cousins in Binary Tree/README_EN.md
  solution/0900-0999/0993.Cousins in Binary Tree/Solution.cpp
  solution/0900-0999/0993.Cousins in Binary Tree/Solution.go
  solution/0900-0999/0993.Cousins in Binary Tree/Solution.java
  solution/0900-0999/0993.Cousins in Binary Tree/Solution.py
  solution/0900-0999/0993.Cousins in Binary Tree/Solution.ts
  solution/0900-0999/0993.Cousins in Binary Tree/Solution2.cpp
  solution/0900-0999/0993.Cousins in Binary Tree/Solution2.go
  solution/0900-0999/0993.Cousins in Binary Tree/Solution2.java
  solution/0900-0999/0993.Cousins in Binary Tree/Solution2.py
  solution/0900-0999/0993.Cousins in Binary Tree/Solution2.ts
Labels: md, ts, py, go, java, cpp, core team

#2328 feat: add solutions to lc problem: No.0236
  solution/0200-0299/0236.Lowest Common Ancestor of a Binary Tree/README.md
  solution/0200-0299/0236.Lowest Common Ancestor of a Binary Tree/README_EN.md
  solution/0200-0299/0236.Lowest Common Ancestor of a Binary Tree/Solution.cpp
  solution/0200-0299/0236.Lowest Common Ancestor of a Binary Tree/Solution.go
  solution/0200-0299/0236.Lowest Common Ancestor of a Binary Tree/Solution.java
  solution/0200-0299/0236.Lowest Common Ancestor of a Binary Tree/Solution.js
  solution/0200-0299/0236.Lowest Common Ancestor of a Binary Tree/Solution.py
  solution/0200-0299/0236.Lowest Common Ancestor of a Binary Tree/Solution.rs
  solution/0200-0299/0236.Lowest Common Ancestor of a Binary Tree/Solution.ts
Labels: js, md, ts, py, go, java, cpp, rs, core team

#2329 feat: update lc problems
  solution/3000-3099/3032.Count Numbers With Unique Digits II/README.md
  solution/3000-3099/3032.Count Numbers With Unique Digits II/README_EN.md
  solution/README.md
  solution/README_EN.md
Labels: md, core team

#2330 feat: add solutions to lc problem: No.3032
  solution/3000-3099/3032.Count Numbers With Unique Digits II/README.md
  solution/3000-3099/3032.Count Numbers With Unique Digits II/README_EN.md
  solution/3000-3099/3032.Count Numbers With Unique Digits II/Solution.cpp
  solution/3000-3099/3032.Count Numbers With Unique Digits II/Solution.go
  solution/3000-3099/3032.Count Numbers With Unique Digits II/Solution.java
  solution/3000-3099/3032.Count Numbers With Unique Digits II/Solution.py
  solution/3000-3099/3032.Count Numbers With Unique Digits II/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2331 feat: add solutions to lc problem: No.3032
  solution/3000-3099/3032.Count Numbers With Unique Digits II/README.md
  solution/3000-3099/3032.Count Numbers With Unique Digits II/README_EN.md
  solution/3000-3099/3032.Count Numbers With Unique Digits II/Solution2.cpp
  solution/3000-3099/3032.Count Numbers With Unique Digits II/Solution2.go
  solution/3000-3099/3032.Count Numbers With Unique Digits II/Solution2.java
  solution/3000-3099/3032.Count Numbers With Unique Digits II/Solution2.py
  solution/3000-3099/3032.Count Numbers With Unique Digits II/Solution2.ts
Labels: md, ts, py, go, java, cpp

#2336 feat: add weekly contest 384
  solution/3000-3099/3033.Modify the Matrix/README.md
  solution/3000-3099/3033.Modify the Matrix/README_EN.md
  solution/3000-3099/3033.Modify the Matrix/images/matrix1.png
  solution/3000-3099/3033.Modify the Matrix/images/matrix2.png
  solution/3000-3099/3034.Number of Subarrays That Match a Pattern I/README.md
  solution/3000-3099/3034.Number of Subarrays That Match a Pattern I/README_EN.md
  solution/3000-3099/3035.Maximum Palindromes After Operations/README.md
  solution/3000-3099/3035.Maximum Palindromes After Operations/README_EN.md
  solution/3000-3099/3036.Number of Subarrays That Match a Pattern II/README.md
  solution/3000-3099/3036.Number of Subarrays That Match a Pattern II/README_EN.md
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
Labels: md, core team, png

#2337 feat: add solutions to lc problem: No.3033
  solution/3000-3099/3033.Modify the Matrix/README.md
  solution/3000-3099/3033.Modify the Matrix/README_EN.md
  solution/3000-3099/3033.Modify the Matrix/Solution.cpp
  solution/3000-3099/3033.Modify the Matrix/Solution.go
  solution/3000-3099/3033.Modify the Matrix/Solution.java
  solution/3000-3099/3033.Modify the Matrix/Solution.py
  solution/3000-3099/3033.Modify the Matrix/Solution.ts
Labels: md, ts, py, go, java, cpp

#2339 feat: add solutions to lc problem: No.3034
  solution/3000-3099/3034.Number of Subarrays That Match a Pattern I/README.md
  solution/3000-3099/3034.Number of Subarrays That Match a Pattern I/README_EN.md
  solution/3000-3099/3034.Number of Subarrays That Match a Pattern I/Solution.cpp
  solution/3000-3099/3034.Number of Subarrays That Match a Pattern I/Solution.go
  solution/3000-3099/3034.Number of Subarrays That Match a Pattern I/Solution.java
  solution/3000-3099/3034.Number of Subarrays That Match a Pattern I/Solution.py
  solution/3000-3099/3034.Number of Subarrays That Match a Pattern I/Solution.ts
Labels: md, ts, py, go, java, cpp

#2340 feat: add solutions to lc problem: No.3035
  solution/3000-3099/3035.Maximum Palindromes After Operations/README.md
  solution/3000-3099/3035.Maximum Palindromes After Operations/README_EN.md
  solution/3000-3099/3035.Maximum Palindromes After Operations/Solution.cpp
  solution/3000-3099/3035.Maximum Palindromes After Operations/Solution.go
  solution/3000-3099/3035.Maximum Palindromes After Operations/Solution.java
  solution/3000-3099/3035.Maximum Palindromes After Operations/Solution.py
  solution/3000-3099/3035.Maximum Palindromes After Operations/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2342 feat: add solutions to lc problem: No.0102
  solution/0100-0199/0102.Binary Tree Level Order Traversal/README.md
  solution/0100-0199/0102.Binary Tree Level Order Traversal/README_EN.md
  solution/0100-0199/0102.Binary Tree Level Order Traversal/Solution.cpp
  solution/0100-0199/0102.Binary Tree Level Order Traversal/Solution.js
  solution/0100-0199/0102.Binary Tree Level Order Traversal/Solution.rs
  solution/0100-0199/0102.Binary Tree Level Order Traversal/Solution.ts
Labels: js, md, ts, cpp, rs, core team

#2343 feat: add solutions to lc problem: No.3036
  solution/3000-3099/3036.Number of Subarrays That Match a Pattern II/README.md
  solution/3000-3099/3036.Number of Subarrays That Match a Pattern II/README_EN.md
  solution/3000-3099/3036.Number of Subarrays That Match a Pattern II/Solution.cpp
  solution/3000-3099/3036.Number of Subarrays That Match a Pattern II/Solution.go
  solution/3000-3099/3036.Number of Subarrays That Match a Pattern II/Solution.java
  solution/3000-3099/3036.Number of Subarrays That Match a Pattern II/Solution.py
  solution/3000-3099/3036.Number of Subarrays That Match a Pattern II/Solution.ts
Labels: md, ts, py, go, java, cpp

#2344 feat: add solutions to lc problem: No.0107
  solution/0100-0199/0107.Binary Tree Level Order Traversal II/README.md
  solution/0100-0199/0107.Binary Tree Level Order Traversal II/README_EN.md
  solution/0100-0199/0107.Binary Tree Level Order Traversal II/Solution.cpp
  solution/0100-0199/0107.Binary Tree Level Order Traversal II/Solution.go
  solution/0100-0199/0107.Binary Tree Level Order Traversal II/Solution.js
  solution/0100-0199/0107.Binary Tree Level Order Traversal II/Solution.rs
  solution/0100-0199/0107.Binary Tree Level Order Traversal II/Solution.ts
Labels: js, md, ts, go, cpp, rs, core team

#2345 feat: add solutions to lc problem: No.0103
  solution/0100-0199/0103.Binary Tree Zigzag Level Order Traversal/README.md
  solution/0100-0199/0103.Binary Tree Zigzag Level Order Traversal/README_EN.md
  solution/0100-0199/0103.Binary Tree Zigzag Level Order Traversal/Solution.cpp
  solution/0100-0199/0103.Binary Tree Zigzag Level Order Traversal/Solution.js
  solution/0100-0199/0103.Binary Tree Zigzag Level Order Traversal/Solution.rs
  solution/0100-0199/0103.Binary Tree Zigzag Level Order Traversal/Solution.ts
Labels: js, md, ts, cpp, rs, core team

#2346 feat: add solutions to lc problem: No.0429
  solution/0400-0499/0429.N-ary Tree Level Order Traversal/README.md
  solution/0400-0499/0429.N-ary Tree Level Order Traversal/README_EN.md
  solution/0400-0499/0429.N-ary Tree Level Order Traversal/Solution.cpp
  solution/0400-0499/0429.N-ary Tree Level Order Traversal/Solution.go
  solution/0400-0499/0429.N-ary Tree Level Order Traversal/Solution.ts
  solution/0400-0499/0429.N-ary Tree Level Order Traversal/Solution2.cpp
  solution/0400-0499/0429.N-ary Tree Level Order Traversal/Solution2.go
  solution/0400-0499/0429.N-ary Tree Level Order Traversal/Solution2.java
  solution/0400-0499/0429.N-ary Tree Level Order Traversal/Solution2.ts
Labels: md, ts, go, java, cpp, core team

#2348 feat: add biweekly contest 124
  .github/workflows/deploy.yml
  solution/0300-0399/0333.Largest BST Subtree/README.md
  solution/0300-0399/0373.Find K Pairs with Smallest Sums/README_EN.md
  solution/0600-0699/0629.K Inverse Pairs Array/README_EN.md
  solution/0900-0999/0935.Knight Dialer/README_EN.md
  solution/1000-1099/1071.Greatest Common Divisor of Strings/README_EN.md
  solution/1000-1099/1074.Number of Submatrices That Sum to Target/README_EN.md
  solution/1100-1199/1159.Market Analysis II/README_EN.md
  solution/1400-1499/1403.Minimum Subsequence in Non-Increasing Order/README_EN.md
  solution/2100-2199/2149.Rearrange Array Elements by Sign/README_EN.md
  solution/2700-2799/2792.Count Nodes That Are Great Enough/README.md
  solution/2800-2899/2899.Last Visited Integers/README_EN.md
  solution/2900-2999/2900.Longest Unequal Adjacent Groups Subsequence I/README_EN.md
  solution/2900-2999/2917.Find the K-or of an Array/README_EN.md
  solution/2900-2999/2991.Top Three Wineries/README_EN.md
  solution/3000-3099/3020.Find the Maximum Number of Elements in Subset/README_EN.md
  solution/3000-3099/3025.Find the Number of Ways to Place People I/README_EN.md
  solution/3000-3099/3027.Find the Number of Ways to Place People II/README_EN.md
  solution/3000-3099/3031.Minimum Time to Revert Word to Initial State II/README.md
  solution/3000-3099/3031.Minimum Time to Revert Word to Initial State II/README_EN.md
  solution/3000-3099/3032.Count Numbers With Unique Digits II/README.md
  solution/3000-3099/3037.Find Pattern in Infinite Stream II/README.md
  solution/3000-3099/3037.Find Pattern in Infinite Stream II/README_EN.md
  solution/3000-3099/3038.Maximum Number of Operations With the Same Score I/README.md
  solution/3000-3099/3038.Maximum Number of Operations With the Same Score I/README_EN.md
  solution/3000-3099/3039.Apply Operations to Make String Empty/README.md
  solution/3000-3099/3039.Apply Operations to Make String Empty/README_EN.md
  solution/3000-3099/3040.Maximum Number of Operations With the Same Score II/README.md
  solution/3000-3099/3040.Maximum Number of Operations With the Same Score II/README_EN.md
  solution/3000-3099/3041.Maximize Consecutive Elements in an Array After Modification/README.md
  solution/3000-3099/3041.Maximize Consecutive Elements in an Array After Modification/README_EN.md
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
Labels: md, core team, yml

#2349 feat: add weekly contest 385
  solution/3000-3099/3042.Count Prefix and Suffix Pairs I/README.md
  solution/3000-3099/3042.Count Prefix and Suffix Pairs I/README_EN.md
  solution/3000-3099/3043.Find the Length of the Longest Common Prefix/README.md
  solution/3000-3099/3043.Find the Length of the Longest Common Prefix/README_EN.md
  solution/3000-3099/3044.Most Frequent Prime/README.md
  solution/3000-3099/3044.Most Frequent Prime/README_EN.md
  solution/3000-3099/3044.Most Frequent Prime/images/south
  solution/3000-3099/3045.Count Prefix and Suffix Pairs II/README.md
  solution/3000-3099/3045.Count Prefix and Suffix Pairs II/README_EN.md
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
Labels: md, core team, Most Frequent Prime/images/south

#2350 feat: add solutions to lc problems: No.3042,3045
  solution/3000-3099/3042.Count Prefix and Suffix Pairs I/README.md
  solution/3000-3099/3042.Count Prefix and Suffix Pairs I/README_EN.md
  solution/3000-3099/3042.Count Prefix and Suffix Pairs I/Solution.cpp
  solution/3000-3099/3042.Count Prefix and Suffix Pairs I/Solution.go
  solution/3000-3099/3042.Count Prefix and Suffix Pairs I/Solution.java
  solution/3000-3099/3042.Count Prefix and Suffix Pairs I/Solution.py
  solution/3000-3099/3042.Count Prefix and Suffix Pairs I/Solution.ts
  solution/3000-3099/3042.Count Prefix and Suffix Pairs I/Solution2.cpp
  solution/3000-3099/3042.Count Prefix and Suffix Pairs I/Solution2.go
  solution/3000-3099/3042.Count Prefix and Suffix Pairs I/Solution2.java
  solution/3000-3099/3042.Count Prefix and Suffix Pairs I/Solution2.py
  solution/3000-3099/3042.Count Prefix and Suffix Pairs I/Solution2.ts
  solution/3000-3099/3045.Count Prefix and Suffix Pairs II/README.md
  solution/3000-3099/3045.Count Prefix and Suffix Pairs II/README_EN.md
  solution/3000-3099/3045.Count Prefix and Suffix Pairs II/Solution.cpp
  solution/3000-3099/3045.Count Prefix and Suffix Pairs II/Solution.go
  solution/3000-3099/3045.Count Prefix and Suffix Pairs II/Solution.java
  solution/3000-3099/3045.Count Prefix and Suffix Pairs II/Solution.py
  solution/3000-3099/3045.Count Prefix and Suffix Pairs II/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2351 feat: add solutions to lc problem: No.3043
  solution/3000-3099/3043.Find the Length of the Longest Common Prefix/README.md
  solution/3000-3099/3043.Find the Length of the Longest Common Prefix/README_EN.md
  solution/3000-3099/3043.Find the Length of the Longest Common Prefix/Solution.cpp
  solution/3000-3099/3043.Find the Length of the Longest Common Prefix/Solution.go
  solution/3000-3099/3043.Find the Length of the Longest Common Prefix/Solution.java
  solution/3000-3099/3043.Find the Length of the Longest Common Prefix/Solution.py
  solution/3000-3099/3043.Find the Length of the Longest Common Prefix/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2352 feat: add solutions to lc problem: No.3043
  solution/3000-3099/3042.Count Prefix and Suffix Pairs I/README.md
  solution/3000-3099/3042.Count Prefix and Suffix Pairs I/README_EN.md
  solution/3000-3099/3044.Most Frequent Prime/README.md
  solution/3000-3099/3044.Most Frequent Prime/README_EN.md
  solution/3000-3099/3044.Most Frequent Prime/Solution.cpp
  solution/3000-3099/3044.Most Frequent Prime/Solution.go
  solution/3000-3099/3044.Most Frequent Prime/Solution.java
  solution/3000-3099/3044.Most Frequent Prime/Solution.py
  solution/3000-3099/3044.Most Frequent Prime/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2353 feat: add solutions to lc problems: No.3038,3039
  solution/3000-3099/3038.Maximum Number of Operations With the Same Score I/README.md
  solution/3000-3099/3038.Maximum Number of Operations With the Same Score I/README_EN.md
  solution/3000-3099/3038.Maximum Number of Operations With the Same Score I/Solution.cpp
  solution/3000-3099/3038.Maximum Number of Operations With the Same Score I/Solution.go
  solution/3000-3099/3038.Maximum Number of Operations With the Same Score I/Solution.java
  solution/3000-3099/3038.Maximum Number of Operations With the Same Score I/Solution.py
  solution/3000-3099/3038.Maximum Number of Operations With the Same Score I/Solution.ts
  solution/3000-3099/3039.Apply Operations to Make String Empty/README.md
  solution/3000-3099/3039.Apply Operations to Make String Empty/README_EN.md
  solution/3000-3099/3039.Apply Operations to Make String Empty/Solution.cpp
  solution/3000-3099/3039.Apply Operations to Make String Empty/Solution.go
  solution/3000-3099/3039.Apply Operations to Make String Empty/Solution.java
  solution/3000-3099/3039.Apply Operations to Make String Empty/Solution.py
  solution/3000-3099/3039.Apply Operations to Make String Empty/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2354 feat: add solutions to lc problem: No.0590
  solution/0500-0599/0589.N-ary Tree Preorder Traversal/README.md
  solution/0500-0599/0589.N-ary Tree Preorder Traversal/README_EN.md
  solution/0500-0599/0589.N-ary Tree Preorder Traversal/Solution2.go
  solution/0500-0599/0590.N-ary Tree Postorder Traversal/README.md
  solution/0500-0599/0590.N-ary Tree Postorder Traversal/README_EN.md
  solution/0500-0599/0590.N-ary Tree Postorder Traversal/Solution.cpp
  solution/0500-0599/0590.N-ary Tree Postorder Traversal/Solution.go
  solution/0500-0599/0590.N-ary Tree Postorder Traversal/Solution.java
  solution/0500-0599/0590.N-ary Tree Postorder Traversal/Solution.ts
  solution/0500-0599/0590.N-ary Tree Postorder Traversal/Solution2.cpp
  solution/0500-0599/0590.N-ary Tree Postorder Traversal/Solution2.ts
Labels: md, ts, go, java, cpp, core team

#2355 feat: add solutions to lc problem: No.0889
  solution/0800-0899/0889.Construct Binary Tree from Preorder and Postorder Traversal/README.md
  solution/0800-0899/0889.Construct Binary Tree from Preorder and Postorder Traversal/README_EN.md
  solution/0800-0899/0889.Construct Binary Tree from Preorder and Postorder Traversal/Solution.cpp
  solution/0800-0899/0889.Construct Binary Tree from Preorder and Postorder Traversal/Solution.go
  solution/0800-0899/0889.Construct Binary Tree from Preorder and Postorder Traversal/Solution.java
  solution/0800-0899/0889.Construct Binary Tree from Preorder and Postorder Traversal/Solution.py
  solution/0800-0899/0889.Construct Binary Tree from Preorder and Postorder Traversal/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2356 feat: add solutions to lc problems: No.0881~0884
  solution/0800-0899/0881.Boats to Save People/README.md
  solution/0800-0899/0881.Boats to Save People/README_EN.md
  solution/0800-0899/0881.Boats to Save People/Solution.ts
  solution/0800-0899/0883.Projection Area of 3D Shapes/README.md
  solution/0800-0899/0883.Projection Area of 3D Shapes/README_EN.md
  solution/0800-0899/0883.Projection Area of 3D Shapes/Solution.rs
  solution/0800-0899/0883.Projection Area of 3D Shapes/Solution.ts
  solution/0800-0899/0884.Uncommon Words from Two Sentences/README.md
  solution/0800-0899/0884.Uncommon Words from Two Sentences/README_EN.md
  solution/0800-0899/0884.Uncommon Words from Two Sentences/Solution.java
Labels: md, ts, java, rs, core team

#2357 feat: add solutions to lc problem: No.1650
  .github/workflows/deploy.yml
  solution/1600-1699/1650.Lowest Common Ancestor of a Binary Tree III/README.md
  solution/1600-1699/1650.Lowest Common Ancestor of a Binary Tree III/README_EN.md
  solution/1600-1699/1650.Lowest Common Ancestor of a Binary Tree III/Solution.cpp
  solution/1600-1699/1650.Lowest Common Ancestor of a Binary Tree III/Solution.go
  solution/1600-1699/1650.Lowest Common Ancestor of a Binary Tree III/Solution.java
  solution/1600-1699/1650.Lowest Common Ancestor of a Binary Tree III/Solution.py
  solution/1600-1699/1650.Lowest Common Ancestor of a Binary Tree III/Solution.ts
  solution/1600-1699/1650.Lowest Common Ancestor of a Binary Tree III/Solution2.cpp
  solution/1600-1699/1650.Lowest Common Ancestor of a Binary Tree III/Solution2.go
  solution/1600-1699/1650.Lowest Common Ancestor of a Binary Tree III/Solution2.java
  solution/1600-1699/1650.Lowest Common Ancestor of a Binary Tree III/Solution2.py
  solution/1600-1699/1650.Lowest Common Ancestor of a Binary Tree III/Solution2.ts
Labels: md, ts, py, go, java, cpp, core team, yml

#2358 feat: add solutions to lc problems: No.105,106
  solution/0100-0199/0105.Construct Binary Tree from Preorder and Inorder Traversal/README.md
  solution/0100-0199/0105.Construct Binary Tree from Preorder and Inorder Traversal/README_EN.md
  solution/0100-0199/0105.Construct Binary Tree from Preorder and Inorder Traversal/Solution.py
  solution/0100-0199/0106.Construct Binary Tree from Inorder and Postorder Traversal/README.md
  solution/0100-0199/0106.Construct Binary Tree from Inorder and Postorder Traversal/README_EN.md
  solution/0100-0199/0106.Construct Binary Tree from Inorder and Postorder Traversal/Solution.cpp
  solution/0100-0199/0106.Construct Binary Tree from Inorder and Postorder Traversal/Solution.go
  solution/0100-0199/0106.Construct Binary Tree from Inorder and Postorder Traversal/Solution.java
  solution/0100-0199/0106.Construct Binary Tree from Inorder and Postorder Traversal/Solution.py
  solution/0100-0199/0106.Construct Binary Tree from Inorder and Postorder Traversal/Solution.rs
  solution/0100-0199/0106.Construct Binary Tree from Inorder and Postorder Traversal/Solution.ts
Labels: md, ts, py, go, java, cpp, rs, core team

#2359 fix: update solutions to lc problems: No.105,106
  solution/0100-0199/0105.Construct Binary Tree from Preorder and Inorder Traversal/README.md
  solution/0100-0199/0105.Construct Binary Tree from Preorder and Inorder Traversal/README_EN.md
  solution/0100-0199/0105.Construct Binary Tree from Preorder and Inorder Traversal/Solution.java
  solution/0100-0199/0105.Construct Binary Tree from Preorder and Inorder Traversal/Solution2.java
  solution/0100-0199/0106.Construct Binary Tree from Inorder and Postorder Traversal/README.md
  solution/0100-0199/0106.Construct Binary Tree from Inorder and Postorder Traversal/README_EN.md
  solution/0100-0199/0106.Construct Binary Tree from Inorder and Postorder Traversal/Solution.java
Labels: md, java, core team

#2362 feat: update rust solution to lc problem: No.106
  solution/0100-0199/0106.Construct Binary Tree from Inorder and Postorder Traversal/README.md
  solution/0100-0199/0106.Construct Binary Tree from Inorder and Postorder Traversal/README_EN.md
  solution/0100-0199/0106.Construct Binary Tree from Inorder and Postorder Traversal/Solution.rs
  solution/util.py
Labels: md, py, rs, core team

#2360 feat:add php solution to lc problems:No.0011,0012
  solution/0000-0099/0011.Container With Most Water/README.md
  solution/0000-0099/0011.Container With Most Water/README_EN.md
  solution/0000-0099/0011.Container With Most Water/Solution.php
  solution/0000-0099/0012.Integer to Roman/README.md
  solution/0000-0099/0012.Integer to Roman/README_EN.md
  solution/0000-0099/0012.Integer to Roman/Solution.php
Labels: md, php

#2363 feat: add php solution to lc problems: No.0015-0020
  solution/0000-0099/0015.3Sum/README.md
  solution/0000-0099/0015.3Sum/README_EN.md
  solution/0000-0099/0015.3Sum/Solution.php
  solution/0000-0099/0016.3Sum Closest/README.md
  solution/0000-0099/0016.3Sum Closest/README_EN.md
  solution/0000-0099/0016.3Sum Closest/Solution.php
  solution/0000-0099/0017.Letter Combinations of a Phone Number/README.md
  solution/0000-0099/0017.Letter Combinations of a Phone Number/README_EN.md
  solution/0000-0099/0017.Letter Combinations of a Phone Number/Solution.php
  solution/0000-0099/0018.4Sum/README.md
  solution/0000-0099/0018.4Sum/README_EN.md
  solution/0000-0099/0018.4Sum/Solution.php
  solution/0000-0099/0019.Remove Nth Node From End of List/README.md
  solution/0000-0099/0019.Remove Nth Node From End of List/README_EN.md
  solution/0000-0099/0019.Remove Nth Node From End of List/Solution.php
  solution/0000-0099/0020.Valid Parentheses/README.md
  solution/0000-0099/0020.Valid Parentheses/README_EN.md
  solution/0000-0099/0020.Valid Parentheses/Solution.php
Labels: md, php

#2366 feat: update lc problems
  solution/0300-0399/0373.Find K Pairs with Smallest Sums/README.md
  solution/0600-0699/0629.K Inverse Pairs Array/README.md
  solution/0700-0799/0786.K-th Smallest Prime Fraction/README.md
  solution/0800-0899/0866.Prime Palindrome/README.md
  solution/0900-0999/0913.Cat and Mouse/README.md
  solution/0900-0999/0913.Cat and Mouse/README_EN.md
  solution/1000-1099/1071.Greatest Common Divisor of Strings/README.md
  solution/1000-1099/1074.Number of Submatrices That Sum to Target/README.md
  solution/1100-1199/1159.Market Analysis II/README.md
  solution/1100-1199/1199.Minimum Time to Build Blocks/README.md
  solution/1100-1199/1199.Minimum Time to Build Blocks/README_EN.md
  solution/1400-1499/1403.Minimum Subsequence in Non-Increasing Order/README.md
  solution/2100-2199/2149.Rearrange Array Elements by Sign/README.md
  solution/2100-2199/2149.Rearrange Array Elements by Sign/README_EN.md
  solution/2900-2999/2901.Longest Unequal Adjacent Groups Subsequence II/README_EN.md
  solution/2900-2999/2907.Maximum Profitable Triplets With Increasing Prices I/README.md
  solution/2900-2999/2907.Maximum Profitable Triplets With Increasing Prices I/README_EN.md
  solution/2900-2999/2921.Maximum Profitable Triplets With Increasing Prices II/README.md
  solution/2900-2999/2921.Maximum Profitable Triplets With Increasing Prices II/README_EN.md
  solution/2900-2999/2991.Top Three Wineries/README.md
  solution/3000-3099/3025.Find the Number of Ways to Place People I/README.md
  solution/3000-3099/3027.Find the Number of Ways to Place People II/README.md
  solution/3000-3099/3037.Find Pattern in Infinite Stream II/README.md
  solution/3000-3099/3037.Find Pattern in Infinite Stream II/README_EN.md
  solution/3000-3099/3038.Maximum Number of Operations With the Same Score I/README.md
  solution/3000-3099/3038.Maximum Number of Operations With the Same Score I/README_EN.md
  solution/3000-3099/3039.Apply Operations to Make String Empty/README.md
  solution/3000-3099/3039.Apply Operations to Make String Empty/README_EN.md
  solution/3000-3099/3040.Maximum Number of Operations With the Same Score II/README.md
  solution/3000-3099/3040.Maximum Number of Operations With the Same Score II/README_EN.md
  solution/3000-3099/3040.Maximum Number of Operations With the Same Score II/Solution.cpp
  solution/3000-3099/3040.Maximum Number of Operations With the Same Score II/Solution.go
  solution/3000-3099/3040.Maximum Number of Operations With the Same Score II/Solution.java
  solution/3000-3099/3040.Maximum Number of Operations With the Same Score II/Solution.py
  solution/3000-3099/3040.Maximum Number of Operations With the Same Score II/Solution.ts
  solution/3000-3099/3041.Maximize Consecutive Elements in an Array After Modification/README.md
  solution/3000-3099/3041.Maximize Consecutive Elements in an Array After Modification/README_EN.md
  solution/3000-3099/3042.Count Prefix and Suffix Pairs I/README.md
  solution/3000-3099/3042.Count Prefix and Suffix Pairs I/README_EN.md
  solution/3000-3099/3043.Find the Length of the Longest Common Prefix/README.md
  solution/3000-3099/3043.Find the Length of the Longest Common Prefix/README_EN.md
  solution/3000-3099/3044.Most Frequent Prime/README.md
  solution/3000-3099/3044.Most Frequent Prime/README_EN.md
  solution/3000-3099/3045.Count Prefix and Suffix Pairs II/README.md
  solution/3000-3099/3045.Count Prefix and Suffix Pairs II/README_EN.md
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
Labels: md, core team

#2367 chore: upgrade workflow
  .github/workflows/black-lint.yml
  solution/util.py
Labels: py, core team, yml

#2369 feat: add solutions to lc problem: No.3034
  solution/3000-3099/3034.Number of Subarrays That Match a Pattern I/README.md
  solution/3000-3099/3034.Number of Subarrays That Match a Pattern I/README_EN.md
  solution/3000-3099/3034.Number of Subarrays That Match a Pattern I/Solution.cpp
  solution/3000-3099/3034.Number of Subarrays That Match a Pattern I/Solution.cs
  solution/3000-3099/3034.Number of Subarrays That Match a Pattern I/Solution.go
  solution/3000-3099/3034.Number of Subarrays That Match a Pattern I/Solution.java
  solution/3000-3099/3034.Number of Subarrays That Match a Pattern I/Solution.py
  solution/3000-3099/3034.Number of Subarrays That Match a Pattern I/Solution.ts
Labels: md, ts, py, go, java, cpp, core team, cs

#2370 feat: add php solution to lc problems: No.0021-0025
  solution/0000-0099/0021.Merge Two Sorted Lists/README.md
  solution/0000-0099/0021.Merge Two Sorted Lists/README_EN.md
  solution/0000-0099/0021.Merge Two Sorted Lists/Solution.php
  solution/0000-0099/0022.Generate Parentheses/README.md
  solution/0000-0099/0022.Generate Parentheses/README_EN.md
  solution/0000-0099/0022.Generate Parentheses/Solution.php
  solution/0000-0099/0023.Merge k Sorted Lists/README.md
  solution/0000-0099/0023.Merge k Sorted Lists/README_EN.md
  solution/0000-0099/0023.Merge k Sorted Lists/Solution.php
  solution/0000-0099/0024.Swap Nodes in Pairs/README.md
  solution/0000-0099/0024.Swap Nodes in Pairs/README_EN.md
  solution/0000-0099/0024.Swap Nodes in Pairs/Solution.php
  solution/0000-0099/0025.Reverse Nodes in k-Group/README.md
  solution/0000-0099/0025.Reverse Nodes in k-Group/README_EN.md
  solution/0000-0099/0025.Reverse Nodes in k-Group/Solution.php
Labels: md, php

#2372 feat: add solutions to lc problems: No.2481+
  solution/2400-2499/2481.Minimum Cuts to Divide a Circle/README_EN.md
  solution/2400-2499/2482.Difference Between Ones and Zeros in Row and Column/README_EN.md
  solution/2400-2499/2483.Minimum Penalty for a Shop/README_EN.md
  solution/2400-2499/2484.Count Palindromic Subsequences/README_EN.md
  solution/2400-2499/2488.Count Subarrays With Median K/README_EN.md
  solution/2400-2499/2489.Number of Substrings With Fixed Ratio/README_EN.md
  solution/2400-2499/2490.Circular Sentence/README_EN.md
  solution/2400-2499/2491.Divide Players Into Teams of Equal Skill/README_EN.md
  solution/2400-2499/2492.Minimum Score of a Path Between Two Cities/README_EN.md
  solution/2400-2499/2493.Divide Nodes Into the Maximum Number of Groups/README_EN.md
  solution/2400-2499/2495.Number of Subarrays Having Even Product/README.md
  solution/2400-2499/2495.Number of Subarrays Having Even Product/README_EN.md
Labels: md, core team

#2373 feat: add solutions to lc problem: No.2673
  solution/2600-2699/2673.Make Costs of Paths Equal in a Binary Tree/README.md
  solution/2600-2699/2673.Make Costs of Paths Equal in a Binary Tree/README_EN.md
  solution/2600-2699/2673.Make Costs of Paths Equal in a Binary Tree/Solution.cpp
  solution/2600-2699/2673.Make Costs of Paths Equal in a Binary Tree/Solution.go
  solution/2600-2699/2673.Make Costs of Paths Equal in a Binary Tree/Solution.java
  solution/2600-2699/2673.Make Costs of Paths Equal in a Binary Tree/Solution.py
  solution/2600-2699/2673.Make Costs of Paths Equal in a Binary Tree/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2374 feat: add weekly contest 386
  solution/3000-3099/3046.Split the Array/README.md
  solution/3000-3099/3046.Split the Array/README_EN.md
  solution/3000-3099/3047.Find the Largest Area of Square Inside Two Rectangles/README.md
  solution/3000-3099/3047.Find the Largest Area of Square Inside Two Rectangles/README_EN.md
  solution/3000-3099/3047.Find the Largest Area of Square Inside Two Rectangles/images/example12.png
  solution/3000-3099/3047.Find the Largest Area of Square Inside Two Rectangles/images/rectanglesexample2.png
  solution/3000-3099/3047.Find the Largest Area of Square Inside Two Rectangles/images/rectanglesexample3.png
  solution/3000-3099/3048.Earliest Second to Mark Indices I/README.md
  solution/3000-3099/3048.Earliest Second to Mark Indices I/README_EN.md
  solution/3000-3099/3049.Earliest Second to Mark Indices II/README.md
  solution/3000-3099/3049.Earliest Second to Mark Indices II/README_EN.md
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
Labels: md, core team, png

#2375 feat: add solutions to lc problem: No.3046
  solution/3000-3099/3046.Split the Array/README.md
  solution/3000-3099/3046.Split the Array/README_EN.md
  solution/3000-3099/3046.Split the Array/Solution.cpp
  solution/3000-3099/3046.Split the Array/Solution.go
  solution/3000-3099/3046.Split the Array/Solution.java
  solution/3000-3099/3046.Split the Array/Solution.py
  solution/3000-3099/3046.Split the Array/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2376 feat: add solutions to lc problem: No.0938
  solution/0900-0999/0938.Range Sum of BST/README.md
  solution/0900-0999/0938.Range Sum of BST/README_EN.md
  solution/0900-0999/0938.Range Sum of BST/Solution.cpp
  solution/0900-0999/0938.Range Sum of BST/Solution.cs
  solution/0900-0999/0938.Range Sum of BST/Solution.go
  solution/0900-0999/0938.Range Sum of BST/Solution.java
  solution/0900-0999/0938.Range Sum of BST/Solution.py
  solution/0900-0999/0938.Range Sum of BST/Solution.ts
Labels: md, ts, py, go, java, cpp, core team, cs

#2377 feat: add solutions to lc problem: No.2368
  solution/2300-2399/2368.Reachable Nodes With Restrictions/README.md
  solution/2300-2399/2368.Reachable Nodes With Restrictions/README_EN.md
  solution/2300-2399/2368.Reachable Nodes With Restrictions/Solution.cpp
  solution/2300-2399/2368.Reachable Nodes With Restrictions/Solution.go
  solution/2300-2399/2368.Reachable Nodes With Restrictions/Solution.java
  solution/2300-2399/2368.Reachable Nodes With Restrictions/Solution.py
  solution/2300-2399/2368.Reachable Nodes With Restrictions/Solution.ts
  solution/2300-2399/2368.Reachable Nodes With Restrictions/Solution2.cpp
  solution/2300-2399/2368.Reachable Nodes With Restrictions/Solution2.go
  solution/2300-2399/2368.Reachable Nodes With Restrictions/Solution2.java
  solution/2300-2399/2368.Reachable Nodes With Restrictions/Solution2.py
  solution/2300-2399/2368.Reachable Nodes With Restrictions/Solution2.ts
Labels: md, ts, py, go, java, cpp, core team

#2379 feat: add solutions to lc problems: No.2572,2573
  solution/2500-2599/2572.Count the Number of Square-Free Subsets/README.md
  solution/2500-2599/2572.Count the Number of Square-Free Subsets/README_EN.md
  solution/2500-2599/2572.Count the Number of Square-Free Subsets/Solution.ts
  solution/2500-2599/2573.Find the String with LCP/README.md
  solution/2500-2599/2573.Find the String with LCP/README_EN.md
  solution/2500-2599/2573.Find the String with LCP/Solution.ts
Labels: md, ts, core team

#2380 feat: add solutions to lc problem: No.2369
  solution/2300-2399/2369.Check if There is a Valid Partition For The Array/README.md
  solution/2300-2399/2369.Check if There is a Valid Partition For The Array/README_EN.md
  solution/2300-2399/2369.Check if There is a Valid Partition For The Array/Solution.cpp
  solution/2300-2399/2369.Check if There is a Valid Partition For The Array/Solution.go
  solution/2300-2399/2369.Check if There is a Valid Partition For The Array/Solution.java
  solution/2300-2399/2369.Check if There is a Valid Partition For The Array/Solution.py
  solution/2300-2399/2369.Check if There is a Valid Partition For The Array/Solution.ts
  solution/2300-2399/2369.Check if There is a Valid Partition For The Array/Solution2.cpp
  solution/2300-2399/2369.Check if There is a Valid Partition For The Array/Solution2.go
  solution/2300-2399/2369.Check if There is a Valid Partition For The Array/Solution2.java
  solution/2300-2399/2369.Check if There is a Valid Partition For The Array/Solution2.py
  solution/2300-2399/2369.Check if There is a Valid Partition For The Array/Solution2.ts
Labels: md, ts, py, go, java, cpp, core team

#2381 feat: add new lc problems: No.3050~3060
  solution/3000-3099/3050.Pizza Toppings Cost Analysis/README.md
  solution/3000-3099/3050.Pizza Toppings Cost Analysis/README_EN.md
  solution/3000-3099/3051.Find Candidates for Data Scientist Position/README.md
  solution/3000-3099/3051.Find Candidates for Data Scientist Position/README_EN.md
  solution/3000-3099/3052.Maximize Items/README.md
  solution/3000-3099/3052.Maximize Items/README_EN.md
  solution/3000-3099/3053.Classifying Triangles by Lengths/README.md
  solution/3000-3099/3053.Classifying Triangles by Lengths/README_EN.md
  solution/3000-3099/3054.Binary Tree Nodes/README.md
  solution/3000-3099/3054.Binary Tree Nodes/README_EN.md
  solution/3000-3099/3055.Top Percentile Fraud/README.md
  solution/3000-3099/3055.Top Percentile Fraud/README_EN.md
  solution/3000-3099/3056.Snaps Analysis/README.md
  solution/3000-3099/3056.Snaps Analysis/README_EN.md
  solution/3000-3099/3057.Employees Project Allocation/README.md
  solution/3000-3099/3057.Employees Project Allocation/README_EN.md
  solution/3000-3099/3058.Friends With No Mutual Friends/README.md
  solution/3000-3099/3058.Friends With No Mutual Friends/README_EN.md
  solution/3000-3099/3059.Find All Unique Email Domains/README.md
  solution/3000-3099/3059.Find All Unique Email Domains/README_EN.md
  solution/3000-3099/3060.User Activities within Time Bounds/README.md
  solution/3000-3099/3060.User Activities within Time Bounds/README_EN.md
  solution/DATABASE_README.md
  solution/DATABASE_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/database-summary.md
  solution/database-summary_en.md
Labels: md, core team

#2382 feat: add solutions to lc problems: No.3050,3051
  solution/3000-3099/3050.Pizza Toppings Cost Analysis/README.md
  solution/3000-3099/3050.Pizza Toppings Cost Analysis/README_EN.md
  solution/3000-3099/3050.Pizza Toppings Cost Analysis/Solution.sql
  solution/3000-3099/3051.Find Candidates for Data Scientist Position/README.md
  solution/3000-3099/3051.Find Candidates for Data Scientist Position/README_EN.md
  solution/3000-3099/3051.Find Candidates for Data Scientist Position/Solution.sql
Labels: md, core team, sql

#2383 feat: add solutions to lc problems: No.3053~3056
  solution/3000-3099/3053.Classifying Triangles by Lengths/README.md
  solution/3000-3099/3053.Classifying Triangles by Lengths/README_EN.md
  solution/3000-3099/3053.Classifying Triangles by Lengths/Solution.sql
  solution/3000-3099/3054.Binary Tree Nodes/README.md
  solution/3000-3099/3054.Binary Tree Nodes/README_EN.md
  solution/3000-3099/3054.Binary Tree Nodes/Solution.sql
  solution/3000-3099/3055.Top Percentile Fraud/README.md
  solution/3000-3099/3055.Top Percentile Fraud/README_EN.md
  solution/3000-3099/3055.Top Percentile Fraud/Solution.sql
  solution/3000-3099/3056.Snaps Analysis/README.md
  solution/3000-3099/3056.Snaps Analysis/README_EN.md
  solution/3000-3099/3056.Snaps Analysis/Solution.sql
Labels: md, core team, sql

#2384 feat: add solutions to lc problems: No.3058,3059
  solution/3000-3099/3058.Friends With No Mutual Friends/README.md
  solution/3000-3099/3058.Friends With No Mutual Friends/README_EN.md
  solution/3000-3099/3058.Friends With No Mutual Friends/Solution.sql
  solution/3000-3099/3059.Find All Unique Email Domains/README.md
  solution/3000-3099/3059.Find All Unique Email Domains/README_EN.md
  solution/3000-3099/3059.Find All Unique Email Domains/Solution.sql
Labels: md, core team, sql

#2385 feat: add solutions to lc problems: No.3052,3057,3060
  solution/3000-3099/3052.Maximize Items/README.md
  solution/3000-3099/3052.Maximize Items/README_EN.md
  solution/3000-3099/3052.Maximize Items/Solution.sql
  solution/3000-3099/3057.Employees Project Allocation/README.md
  solution/3000-3099/3057.Employees Project Allocation/README_EN.md
  solution/3000-3099/3057.Employees Project Allocation/Solution.sql
  solution/3000-3099/3060.User Activities within Time Bounds/README.md
  solution/3000-3099/3060.User Activities within Time Bounds/README_EN.md
  solution/3000-3099/3060.User Activities within Time Bounds/Solution.sql
Labels: md, core team, sql

#2386 feat: add solutions to lc problems: No.2917~2919
  solution/2900-2999/2917.Find the K-or of an Array/README.md
  solution/2900-2999/2917.Find the K-or of an Array/README_EN.md
  solution/2900-2999/2917.Find the K-or of an Array/Solution.cs
  solution/2900-2999/2918.Minimum Equal Sum of Two Arrays After Replacing Zeros/README.md
  solution/2900-2999/2918.Minimum Equal Sum of Two Arrays After Replacing Zeros/README_EN.md
  solution/2900-2999/2918.Minimum Equal Sum of Two Arrays After Replacing Zeros/Solution.cs
  solution/2900-2999/2919.Minimum Increment Operations to Make Array Beautiful/README.md
  solution/2900-2999/2919.Minimum Increment Operations to Make Array Beautiful/README_EN.md
  solution/2900-2999/2919.Minimum Increment Operations to Make Array Beautiful/Solution.cs
Labels: md, core team, cs

#2389 feat: add pandas solutions to lc problems: No.3056~3060
  solution/3000-3099/3056.Snaps Analysis/README.md
  solution/3000-3099/3056.Snaps Analysis/README_EN.md
  solution/3000-3099/3056.Snaps Analysis/Solution.py
  solution/3000-3099/3057.Employees Project Allocation/README.md
  solution/3000-3099/3057.Employees Project Allocation/README_EN.md
  solution/3000-3099/3057.Employees Project Allocation/Solution.py
  solution/3000-3099/3058.Friends With No Mutual Friends/README.md
  solution/3000-3099/3058.Friends With No Mutual Friends/README_EN.md
  solution/3000-3099/3058.Friends With No Mutual Friends/Solution.py
  solution/3000-3099/3059.Find All Unique Email Domains/README.md
  solution/3000-3099/3059.Find All Unique Email Domains/README_EN.md
  solution/3000-3099/3059.Find All Unique Email Domains/Solution.py
  solution/3000-3099/3060.User Activities within Time Bounds/README.md
  solution/3000-3099/3060.User Activities within Time Bounds/README_EN.md
  solution/3000-3099/3060.User Activities within Time Bounds/Solution.py
Labels: md, py, core team

#2390 feat: add new lc problems: No.3061~3064
  solution/3000-3099/3061.Calculate Trapping Rain Water/README.md
  solution/3000-3099/3061.Calculate Trapping Rain Water/README_EN.md
  solution/3000-3099/3062.Winner of the Linked List Game/README.md
  solution/3000-3099/3062.Winner of the Linked List Game/README_EN.md
  solution/3000-3099/3063.Linked List Frequency/README.md
  solution/3000-3099/3063.Linked List Frequency/README_EN.md
  solution/3000-3099/3064.Guess the Number Using Bitwise Questions I/README.md
  solution/3000-3099/3064.Guess the Number Using Bitwise Questions I/README_EN.md
  solution/DATABASE_README.md
  solution/DATABASE_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/database-summary.md
  solution/database-summary_en.md
Labels: md, core team

#2391 feat: add solutions to lc problems: No.3062,3063
  solution/3000-3099/3061.Calculate Trapping Rain Water/README.md
  solution/3000-3099/3061.Calculate Trapping Rain Water/README_EN.md
  solution/3000-3099/3061.Calculate Trapping Rain Water/images/trapping_rain_water.png
  solution/3000-3099/3062.Winner of the Linked List Game/README.md
  solution/3000-3099/3062.Winner of the Linked List Game/README_EN.md
  solution/3000-3099/3062.Winner of the Linked List Game/Solution.cpp
  solution/3000-3099/3062.Winner of the Linked List Game/Solution.go
  solution/3000-3099/3062.Winner of the Linked List Game/Solution.java
  solution/3000-3099/3062.Winner of the Linked List Game/Solution.py
  solution/3000-3099/3062.Winner of the Linked List Game/Solution.ts
  solution/3000-3099/3063.Linked List Frequency/README.md
  solution/3000-3099/3063.Linked List Frequency/README_EN.md
  solution/3000-3099/3063.Linked List Frequency/Solution.cpp
  solution/3000-3099/3063.Linked List Frequency/Solution.go
  solution/3000-3099/3063.Linked List Frequency/Solution.java
  solution/3000-3099/3063.Linked List Frequency/Solution.py
  solution/3000-3099/3063.Linked List Frequency/Solution.ts
Labels: md, ts, py, go, java, cpp, core team, png

#2394 fix: update solutions to lc problem: No.1609
  solution/1600-1699/1609.Even Odd Tree/README.md
  solution/1600-1699/1609.Even Odd Tree/README_EN.md
  solution/1600-1699/1609.Even Odd Tree/Solution.cpp
  solution/1600-1699/1609.Even Odd Tree/Solution.go
  solution/1600-1699/1609.Even Odd Tree/Solution.java
  solution/1600-1699/1609.Even Odd Tree/Solution2.cpp
  solution/1600-1699/1609.Even Odd Tree/Solution2.go
  solution/1600-1699/1609.Even Odd Tree/Solution2.java
Labels: md, go, java, cpp, core team

#2393 feat: add solutions to lc problems: No.3061,3064
  solution/3000-3099/3061.Calculate Trapping Rain Water/README.md
  solution/3000-3099/3061.Calculate Trapping Rain Water/README_EN.md
  solution/3000-3099/3061.Calculate Trapping Rain Water/Solution.py
  solution/3000-3099/3061.Calculate Trapping Rain Water/Solution.sql
  solution/3000-3099/3064.Guess the Number Using Bitwise Questions I/README.md
  solution/3000-3099/3064.Guess the Number Using Bitwise Questions I/README_EN.md
  solution/3000-3099/3064.Guess the Number Using Bitwise Questions I/Solution.cpp
  solution/3000-3099/3064.Guess the Number Using Bitwise Questions I/Solution.go
  solution/3000-3099/3064.Guess the Number Using Bitwise Questions I/Solution.java
  solution/3000-3099/3064.Guess the Number Using Bitwise Questions I/Solution.py
  solution/3000-3099/3064.Guess the Number Using Bitwise Questions I/Solution.ts
Labels: md, ts, py, go, java, cpp, core team, sql
