Repository doocs/leetcode, pull requests merged in 2024-03, with the labels that each got.

#2395 3009 leetcode Java Solution
  solution/3000-3099/3009.Maximum Number of Intersections on the Chart/README.md
  solution/3000-3099/3009.Maximum Number of Intersections on the Chart/README_EN.md
  solution/3000-3099/3009.Maximum Number of Intersections on the Chart/Solution.java
Labels: md, java

#2396 feat: update solutions to lc problem: No.0003
  solution/0000-0099/0003.Longest Substring Without Repeating Characters/README.md
  solution/0000-0099/0003.Longest Substring Without Repeating Characters/README_EN.md
  solution/0000-0099/0003.Longest Substring Without Repeating Characters/Solution.cpp
  solution/0000-0099/0003.Longest Substring Without Repeating Characters/Solution.cs
  solution/0000-0099/0003.Longest Substring Without Repeating Characters/Solution.go
  solution/0000-0099/0003.Longest Substring Without Repeating Characters/Solution.java
  solution/0000-0099/0003.Longest Substring Without Repeating Characters/Solution.js
  solution/0000-0099/0003.Longest Substring Without Repeating Characters/Solution.php
  solution/0000-0099/0003.Longest Substring Without Repeating Characters/Solution.py
  solution/0000-0099/0003.Longest Substring Without Repeating Characters/Solution.rs
  solution/0000-0099/0003.Longest Substring Without Repeating Characters/Solution.ts
  solution/0000-0099/0003.Longest Substring Without Repeating Characters/Solution2.cpp
  solution/0000-0099/0003.Longest Substring Without Repeating Characters/Solution2.go
  solution/0000-0099/0003.Longest Substring Without Repeating Characters/Solution2.java
  solution/0000-0099/0003.Longest Substring Without Repeating Characters/Solution2.ts
Labels: js, md, ts, py, go, java, cpp, rs, core team, cs, php

#2404 feat: add biweekly contest 125
  solution/3000-3099/3065.Minimum Operations to Exceed Threshold Value I/README.md
  solution/3000-3099/3065.Minimum Operations to Exceed Threshold Value I/README_EN.md
  solution/3000-3099/3066.Minimum Operations to Exceed Threshold Value II/README.md
  solution/3000-3099/3066.Minimum Operations to Exceed Threshold Value II/README_EN.md
  solution/3000-3099/3067.Count Pairs of Connectable Servers in a Weighted Tree Network/README.md
  solution/3000-3099/3067.Count Pairs of Connectable Servers in a Weighted Tree Network/README_EN.md
  solution/3000-3099/3067.Count Pairs of Connectable Servers in a Weighted Tree Network/images/example11.png
  solution/3000-3099/3067.Count Pairs of Connectable Servers in a Weighted Tree Network/images/example22.png
  solution/3000-3099/3068.Find the Maximum Sum of Node Values/README.md
  solution/3000-3099/3068.Find the Maximum Sum of Node Values/README_EN.md
  solution/3000-3099/3068.Find the Maximum Sum of Node Values/images/screenshot-2023-11-10-012513.png
  solution/3000-3099/3068.Find the Maximum Sum of Node Values/images/screenshot-2024-01-09-220017.png
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
Labels: md, core team, png

#2405 feat: add weekly contest 387
  solution/3000-3099/3069.Distribute Elements Into Two Arrays I/README.md
  solution/3000-3099/3069.Distribute Elements Into Two Arrays I/README_EN.md
  solution/3000-3099/3070.Count Submatrices with Top-Left Element and Sum Less Than k/README.md
  solution/3000-3099/3070.Count Submatrices with Top-Left Element and Sum Less Than k/README_EN.md
  solution/3000-3099/3070.Count Submatrices with Top-Left Element and Sum Less Than k/images/example1.png
  solution/3000-3099/3070.Count Submatrices with Top-Left Element and Sum Less Than k/images/example21.png
  solution/3000-3099/3071.Minimum Operations to Write the Letter Y on a Grid/README.md
  solution/3000-3099/3071.Minimum Operations to Write the Letter Y on a Grid/README_EN.md
  solution/3000-3099/3071.Minimum Operations to Write the Letter Y on a Grid/images/y2.png
  solution/3000-3099/3071.Minimum Operations to Write the Letter Y on a Grid/images/y3.png
  solution/3000-3099/3072.Distribute Elements Into Two Arrays II/README.md
  solution/3000-3099/3072.Distribute Elements Into Two Arrays II/README_EN.md
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
Labels: md, core team, png

#2406 feat: add solutions to lc problems: No.3069,3070
  solution/0200-0299/0232.Implement Queue using Stacks/README.md
  solution/0200-0299/0232.Implement Queue using Stacks/README_EN.md
  solution/0200-0299/0232.Implement Queue using Stacks/Solution.ts
  solution/3000-3099/3069.Distribute Elements Into Two Arrays I/README.md
  solution/3000-3099/3069.Distribute Elements Into Two Arrays I/README_EN.md
  solution/3000-3099/3069.Distribute Elements Into Two Arrays I/Solution.cpp
  solution/3000-3099/3069.Distribute Elements Into Two Arrays I/Solution.go
  solution/3000-3099/3069.Distribute Elements Into Two Arrays I/Solution.java
  solution/3000-3099/3069.Distribute Elements Into Two Arrays I/Solution.py
  solution/3000-3099/3069.Distribute Elements Into Two Arrays I/Solution.ts
  solution/3000-3099/3070.Count Submatrices with Top-Left Element and Sum Less Than k/README.md
  solution/3000-3099/3070.Count Submatrices with Top-Left Element and Sum Less Than k/README_EN.md
  solution/3000-3099/3070.Count Submatrices with Top-Left Element and Sum Less Than k/Solution.cpp
  solution/3000-3099/3070.Count Submatrices with Top-Left Element and Sum Less Than k/Solution.go
  solution/3000-3099/3070.Count Submatrices with Top-Left Element and Sum Less Than k/Solution.java
  solution/3000-3099/3070.Count Submatrices with Top-Left Element and Sum Less Than k/Solution.py
  solution/3000-3099/3070.Count Submatrices with Top-Left Element and Sum Less Than k/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2407 feat: add solutions to lc problem: No.3071
  solution/3000-3099/3071.Minimum Operations to Write the Letter Y on a Grid/README.md
  solution/3000-3099/3071.Minimum Operations to Write the Letter Y on a Grid/README_EN.md
  solution/3000-3099/3071.Minimum Operations to Write the Letter Y on a Grid/Solution.cpp
  solution/3000-3099/3071.Minimum Operations to Write the Letter Y on a Grid/Solution.go
  solution/3000-3099/3071.Minimum Operations to Write the Letter Y on a Grid/Solution.java
  solution/3000-3099/3071.Minimum Operations to Write the Letter Y on a Grid/Solution.py
  solution/3000-3099/3071.Minimum Operations to Write the Letter Y on a Grid/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2408 feat: add solutions to lc problem: No.3072
  solution/3000-3099/3072.Distribute Elements Into Two Arrays II/README.md
  solution/3000-3099/3072.Distribute Elements Into Two Arrays II/README_EN.md
  solution/3000-3099/3072.Distribute Elements Into Two Arrays II/Solution.cpp
  solution/3000-3099/3072.Distribute Elements Into Two Arrays II/Solution.go
  solution/3000-3099/3072.Distribute Elements Into Two Arrays II/Solution.java
  solution/3000-3099/3072.Distribute Elements Into Two Arrays II/Solution.py
  solution/3000-3099/3072.Distribute Elements Into Two Arrays II/Solution.ts
  solution/3000-3099/3072.Distribute Elements Into Two Arrays II/Solution2.py
Labels: md, ts, py, go, java, cpp, core team

#2409 feat: add solutions to lc problem: No.1976
  solution/1900-1999/1976.Number of Ways to Arrive at Destination/README.md
  solution/1900-1999/1976.Number of Ways to Arrive at Destination/README_EN.md
  solution/1900-1999/1976.Number of Ways to Arrive at Destination/Solution.cpp
  solution/1900-1999/1976.Number of Ways to Arrive at Destination/Solution.go
  solution/1900-1999/1976.Number of Ways to Arrive at Destination/Solution.java
  solution/1900-1999/1976.Number of Ways to Arrive at Destination/Solution.py
  solution/1900-1999/1976.Number of Ways to Arrive at Destination/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2410 feat: add solutions to lc problem: No.3065
  solution/3000-3099/3065.Minimum Operations to Exceed Threshold Value I/README.md
  solution/3000-3099/3065.Minimum Operations to Exceed Threshold Value I/README_EN.md
  solution/3000-3099/3065.Minimum Operations to Exceed Threshold Value I/Solution.cpp
  solution/3000-3099/3065.Minimum Operations to Exceed Threshold Value I/Solution.go
  solution/3000-3099/3065.Minimum Operations to Exceed Threshold Value I/Solution.java
  solution/3000-3099/3065.Minimum Operations to Exceed Threshold Value I/Solution.py
  solution/3000-3099/3065.Minimum Operations to Exceed Threshold Value I/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2411 feat: add solutions to lc problem: No.3066
  solution/3000-3099/3066.Minimum Operations to Exceed Threshold Value II/README.md
  solution/3000-3099/3066.Minimum Operations to Exceed Threshold Value II/README_EN.md
  solution/3000-3099/3066.Minimum Operations to Exceed Threshold Value II/Solution.cpp
  solution/3000-3099/3066.Minimum Operations to Exceed Threshold Value II/Solution.go
  solution/3000-3099/3066.Minimum Operations to Exceed Threshold Value II/Solution.java
  solution/3000-3099/3066.Minimum Operations to Exceed Threshold Value II/Solution.py
  solution/3000-3099/3066.Minimum Operations to Exceed Threshold Value II/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2412 feat: add solutions to lc problem: No.3067
  solution/3000-3099/3067.Count Pairs of Connectable Servers in a Weighted Tree Network/README.md
  solution/3000-3099/3067.Count Pairs of Connectable Servers in a Weighted Tree Network/README_EN.md
  solution/3000-3099/3067.Count Pairs of Connectable Servers in a Weighted Tree Network/Solution.cpp
  solution/3000-3099/3067.Count Pairs of Connectable Servers in a Weighted Tree Network/Solution.go
  solution/3000-3099/3067.Count Pairs of Connectable Servers in a Weighted Tree Network/Solution.java
  solution/3000-3099/3067.Count Pairs of Connectable Servers in a Weighted Tree Network/Solution.py
  solution/3000-3099/3067.Count Pairs of Connectable Servers in a Weighted Tree Network/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2414 feat: update solutions to lc problem: No.2834
  solution/2800-2899/2834.Find the Minimum Possible Sum of a Beautiful Array/README.md
  solution/2800-2899/2834.Find the Minimum Possible Sum of a Beautiful Array/README_EN.md
  solution/2800-2899/2834.Find the Minimum Possible Sum of a Beautiful Array/Solution.cpp
  solution/2800-2899/2834.Find the Minimum Possible Sum of a Beautiful Array/Solution.go
  solution/2800-2899/2834.Find the Minimum Possible Sum of a Beautiful Array/Solution.java
  solution/2800-2899/2834.Find the Minimum Possible Sum of a Beautiful Array/Solution.py
  solution/2800-2899/2834.Find the Minimum Possible Sum of a Beautiful Array/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2415 feat: add cs solution to lc problem: No.2834
  solution/2800-2899/2834.Find the Minimum Possible Sum of a Beautiful Array/README.md
  solution/2800-2899/2834.Find the Minimum Possible Sum of a Beautiful Array/README_EN.md
  solution/2800-2899/2834.Find the Minimum Possible Sum of a Beautiful Array/Solution.cs
Labels: md, core team, cs

#2416 feat: add new lc problem
  solution/3000-3099/3073.Maximum Increasing Triplet Value/README.md
  solution/3000-3099/3073.Maximum Increasing Triplet Value/README_EN.md
  solution/README.md
  solution/README_EN.md
Labels: md, core team

#2387 Update README_EN.md
  solution/3000-3099/3048.Earliest Second to Mark Indices I/README.md
  solution/3000-3099/3048.Earliest Second to Mark Indices I/README_EN.md
  solution/3000-3099/3048.Earliest Second to Mark Indices I/Solution.java
Labels: md, java

#2413 feat: add php solution to lc problems: No.0029, 0030
  solution/0000-0099/0029.Divide Two Integers/README.md
  solution/0000-0099/0029.Divide Two Integers/README_EN.md
  solution/0000-0099/0029.Divide Two Integers/Solution.php
  solution/0000-0099/0030.Substring with Concatenation of All Words/README.md
  solution/0000-0099/0030.Substring with Concatenation of All Words/README_EN.md
  solution/0000-0099/0030.Substring with Concatenation of All Words/Solution.php
Labels: md, php

#2420 feat: update solutions to lc problem: No.2386
  solution/2300-2399/2386.Find the K-Sum of an Array/README.md
  solution/2300-2399/2386.Find the K-Sum of an Array/README_EN.md
  solution/2300-2399/2386.Find the K-Sum of an Array/Solution.cpp
  solution/2300-2399/2386.Find the K-Sum of an Array/Solution.go
  solution/2300-2399/2386.Find the K-Sum of an Array/Solution.py
Labels: md, py, go, cpp, core team

#2422 chore: update dependency
  .github/workflows/deploy.yml
  requirements.txt
Labels: core team, yml, txt

#2423 fix: workflow
  .github/workflows/deploy.yml
Labels: core team, yml

#2424 chore: upload contest data
  .gitignore
  solution/contest.json
Labels: core team, json, gitignore

#2425 chore: update workflow
  .github/workflows/deploy.yml
Labels: core team, yml

#2426 feat: update solutions to lc problems: No.1780,1782,1787
  solution/1700-1799/1780.Check if Number is a Sum of Powers of Three/README_EN.md
  solution/1700-1799/1782.Count Pairs Of Nodes/README_EN.md
  solution/1700-1799/1787.Make the XOR of All Segments Equal to Zero/README_EN.md
Labels: md, core team

#2427 feat: add solutions to lc problem: No.0299
  solution/0200-0299/0299.Bulls and Cows/README.md
  solution/0200-0299/0299.Bulls and Cows/README_EN.md
  solution/0200-0299/0299.Bulls and Cows/Solution.cpp
  solution/0200-0299/0299.Bulls and Cows/Solution.go
  solution/0200-0299/0299.Bulls and Cows/Solution.php
  solution/0200-0299/0299.Bulls and Cows/Solution.py
  solution/0200-0299/0299.Bulls and Cows/Solution.ts
Labels: md, ts, py, go, cpp, core team, php

#2428 feat: add weekly contest 388
  solution/3000-3099/3074.Apple Redistribution into Boxes/README.md
  solution/3000-3099/3074.Apple Redistribution into Boxes/README_EN.md
  solution/3000-3099/3074.Apple Redistribution into Boxes/Solution.cpp
  solution/3000-3099/3074.Apple Redistribution into Boxes/Solution.go
  solution/3000-3099/3074.Apple Redistribution into Boxes/Solution.java
  solution/3000-3099/3074.Apple Redistribution into Boxes/Solution.py
  solution/3000-3099/3074.Apple Redistribution into Boxes/Solution.ts
  solution/3000-3099/3075.Maximize Happiness of Selected Children/README.md
  solution/3000-3099/3075.Maximize Happiness of Selected Children/README_EN.md
  solution/3000-3099/3075.Maximize Happiness of Selected Children/Solution.cpp
  solution/3000-3099/3075.Maximize Happiness of Selected Children/Solution.go
  solution/3000-3099/3075.Maximize Happiness of Selected Children/Solution.java
  solution/3000-3099/3075.Maximize Happiness of Selected Children/Solution.py
  solution/3000-3099/3075.Maximize Happiness of Selected Children/Solution.ts
  solution/3000-3099/3076.Shortest Uncommon Substring in an Array/README.md
  solution/3000-3099/3076.Shortest Uncommon Substring in an Array/README_EN.md
  solution/3000-3099/3077.Maximum Strength of K Disjoint Subarrays/README.md
  solution/3000-3099/3077.Maximum Strength of K Disjoint Subarrays/README_EN.md
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/contest.json
Labels: md, ts, py, go, java, cpp, core team, json

#2429 feat: update solutions to lc problems: No.2351~2355
  solution/2300-2399/2351.First Letter to Appear Twice/README_EN.md
  solution/2300-2399/2352.Equal Row and Column Pairs/README.md
  solution/2300-2399/2352.Equal Row and Column Pairs/README_EN.md
  solution/2300-2399/2352.Equal Row and Column Pairs/Solution.cpp
  solution/2300-2399/2352.Equal Row and Column Pairs/Solution.go
  solution/2300-2399/2352.Equal Row and Column Pairs/Solution.java
  solution/2300-2399/2352.Equal Row and Column Pairs/Solution.py
  solution/2300-2399/2352.Equal Row and Column Pairs/Solution.ts
  solution/2300-2399/2352.Equal Row and Column Pairs/Solution2.cpp
  solution/2300-2399/2352.Equal Row and Column Pairs/Solution2.go
  solution/2300-2399/2352.Equal Row and Column Pairs/Solution2.java
  solution/2300-2399/2352.Equal Row and Column Pairs/Solution2.py
  solution/2300-2399/2352.Equal Row and Column Pairs/Solution2.ts
  solution/2300-2399/2355.Maximum Number of Books You Can Take/README.md
  solution/2300-2399/2355.Maximum Number of Books You Can Take/README_EN.md
Labels: md, ts, py, go, java, cpp, core team

#2431 feat: add solutions to lc problem: No.2129
  solution/2100-2199/2129.Capitalize the Title/README.md
  solution/2100-2199/2129.Capitalize the Title/README_EN.md
  solution/2100-2199/2129.Capitalize the Title/Solution.cpp
  solution/2100-2199/2129.Capitalize the Title/Solution.cs
  solution/2100-2199/2129.Capitalize the Title/Solution.ts
  solution/2100-2199/2129.Capitalize the Title/Solution2.ts
Labels: md, ts, cpp, core team, cs

#2432 feat: update solutions to lc problems: No.0903~0910
  solution/0900-0999/0903.Valid Permutations for DI Sequence/README.md
  solution/0900-0999/0903.Valid Permutations for DI Sequence/README_EN.md
  solution/0900-0999/0904.Fruit Into Baskets/README.md
  solution/0900-0999/0907.Sum of Subarray Minimums/README.md
  solution/0900-0999/0907.Sum of Subarray Minimums/README_EN.md
  solution/0900-0999/0907.Sum of Subarray Minimums/Solution2.rs
  solution/0900-0999/0908.Smallest Range I/README.md
  solution/0900-0999/0908.Smallest Range I/README_EN.md
  solution/0900-0999/0910.Smallest Range II/README_EN.md
Labels: md, rs, core team

#2434 chore: update deploy.yml
  .github/workflows/deploy.yml
Labels: core team, yml

#2435 feat: add solutions to lc problem: No.1261
  .github/workflows/deploy.yml
  solution/1200-1299/1261.Find Elements in a Contaminated Binary Tree/README.md
  solution/1200-1299/1261.Find Elements in a Contaminated Binary Tree/README_EN.md
  solution/1200-1299/1261.Find Elements in a Contaminated Binary Tree/Solution.cpp
  solution/1200-1299/1261.Find Elements in a Contaminated Binary Tree/Solution.go
  solution/1200-1299/1261.Find Elements in a Contaminated Binary Tree/Solution.java
  solution/1200-1299/1261.Find Elements in a Contaminated Binary Tree/Solution.py
  solution/1200-1299/1261.Find Elements in a Contaminated Binary Tree/Solution.ts
Labels: md, ts, py, go, java, cpp, core team, yml

#2437 feat: add solutions to lc problems: No.1260+
  solution/1200-1299/1261.Find Elements in a Contaminated Binary Tree/Solution.cpp
  solution/1200-1299/1261.Find Elements in a Contaminated Binary Tree/Solution.java
  solution/1200-1299/1282.Group the People Given the Group Size They Belong To/README.md
  solution/1200-1299/1282.Group the People Given the Group Size They Belong To/README_EN.md
  solution/1200-1299/1282.Group the People Given the Group Size They Belong To/Solution.cpp
  solution/1200-1299/1282.Group the People Given the Group Size They Belong To/Solution.rs
  solution/1200-1299/1282.Group the People Given the Group Size They Belong To/Solution.ts
  solution/1200-1299/1282.Group the People Given the Group Size They Belong To/Solution2.py
  solution/1200-1299/1282.Group the People Given the Group Size They Belong To/Solution2.rs
  solution/1200-1299/1283.Find the Smallest Divisor Given a Threshold/README.md
  solution/1200-1299/1283.Find the Smallest Divisor Given a Threshold/README_EN.md
Labels: md, ts, py, java, cpp, rs, core team

#2438 feat: add solutions to lc problems
  solution/2500-2599/2549.Count Distinct Numbers on Board/README.md
  solution/2500-2599/2549.Count Distinct Numbers on Board/README_EN.md
  solution/2500-2599/2549.Count Distinct Numbers on Board/Solution.go
  solution/2500-2599/2549.Count Distinct Numbers on Board/Solution.rs
  solution/2600-2699/2671.Frequency Tracker/README.md
  solution/2600-2699/2671.Frequency Tracker/README_EN.md
  solution/2600-2699/2671.Frequency Tracker/Solution.rs
  solution/2700-2799/2789.Largest Element in an Array after Merge Operations/README.md
  solution/2700-2799/2789.Largest Element in an Array after Merge Operations/README_EN.md
  solution/2800-2899/2864.Maximum Odd Binary Number/README.md
  solution/2800-2899/2864.Maximum Odd Binary Number/README_EN.md
  solution/2800-2899/2864.Maximum Odd Binary Number/Solution.cpp
  solution/2800-2899/2864.Maximum Odd Binary Number/Solution.java
  solution/2800-2899/2864.Maximum Odd Binary Number/Solution.rs
  solution/2800-2899/2864.Maximum Odd Binary Number/Solution.ts
Labels: md, ts, go, java, cpp, rs, core team

#2439 feat: add solutions to lc problem: No.3076
  solution/2600-2699/2674.Split a Circular Linked List/README.md
  solution/2600-2699/2674.Split a Circular Linked List/README_EN.md
  solution/3000-3099/3076.Shortest Uncommon Substring in an Array/README.md
  solution/3000-3099/3076.Shortest Uncommon Substring in an Array/README_EN.md
  solution/3000-3099/3076.Shortest Uncommon Substring in an Array/Solution.cpp
  solution/3000-3099/3076.Shortest Uncommon Substring in an Array/Solution.go
  solution/3000-3099/3076.Shortest Uncommon Substring in an Array/Solution.java
  solution/3000-3099/3076.Shortest Uncommon Substring in an Array/Solution.py
  solution/3000-3099/3076.Shortest Uncommon Substring in an Array/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2440 feat: add solutions to lc problem: No.3077
  solution/3000-3099/3063.Linked List Frequency/README.md
  solution/3000-3099/3073.Maximum Increasing Triplet Value/README.md
  solution/3000-3099/3073.Maximum Increasing Triplet Value/README_EN.md
  solution/3000-3099/3074.Apple Redistribution into Boxes/README.md
  solution/3000-3099/3074.Apple Redistribution into Boxes/README_EN.md
  solution/3000-3099/3075.Maximize Happiness of Selected Children/README.md
  solution/3000-3099/3075.Maximize Happiness of Selected Children/README_EN.md
  solution/3000-3099/3076.Shortest Uncommon Substring in an Array/README.md
  solution/3000-3099/3076.Shortest Uncommon Substring in an Array/README_EN.md
  solution/3000-3099/3077.Maximum Strength of K Disjoint Subarrays/README.md
  solution/3000-3099/3077.Maximum Strength of K Disjoint Subarrays/README_EN.md
  solution/3000-3099/3077.Maximum Strength of K Disjoint Subarrays/Solution.cpp
  solution/3000-3099/3077.Maximum Strength of K Disjoint Subarrays/Solution.go
  solution/3000-3099/3077.Maximum Strength of K Disjoint Subarrays/Solution.java
  solution/3000-3099/3077.Maximum Strength of K Disjoint Subarrays/Solution.py
  solution/3000-3099/3077.Maximum Strength of K Disjoint Subarrays/Solution.ts
  solution/README.md
  solution/README_EN.md
Labels: md, ts, py, go, java, cpp, core team

#2441 feat: add solutions to lc problem: No.3078
  solution/3000-3099/3078.Match Alphanumerical Pattern in Matrix I/README.md
  solution/3000-3099/3078.Match Alphanumerical Pattern in Matrix I/README_EN.md
  solution/3000-3099/3078.Match Alphanumerical Pattern in Matrix I/Solution.cpp
  solution/3000-3099/3078.Match Alphanumerical Pattern in Matrix I/Solution.go
  solution/3000-3099/3078.Match Alphanumerical Pattern in Matrix I/Solution.java
  solution/3000-3099/3078.Match Alphanumerical Pattern in Matrix I/Solution.py
  solution/3000-3099/3078.Match Alphanumerical Pattern in Matrix I/Solution.ts
  solution/README.md
  solution/README_EN.md
Labels: md, ts, py, go, java, cpp, core team

#2442 feat: add solutions to lc problems: No.2784,2785
  solution/2700-2799/2784.Check if Array is Good/README.md
  solution/2700-2799/2784.Check if Array is Good/README_EN.md
  solution/2700-2799/2784.Check if Array is Good/Solution.cpp
  solution/2700-2799/2784.Check if Array is Good/Solution.cs
  solution/2700-2799/2784.Check if Array is Good/Solution.go
  solution/2700-2799/2784.Check if Array is Good/Solution.java
  solution/2700-2799/2784.Check if Array is Good/Solution.py
  solution/2700-2799/2784.Check if Array is Good/Solution.ts
  solution/2700-2799/2785.Sort Vowels in a String/README.md
  solution/2700-2799/2785.Sort Vowels in a String/README_EN.md
Labels: md, ts, py, go, java, cpp, core team, cs

#2443 feat: add solutions to lc problem: No.2684
  solution/2600-2699/2684.Maximum Number of Moves in a Grid/README.md
  solution/2600-2699/2684.Maximum Number of Moves in a Grid/README_EN.md
  solution/2600-2699/2684.Maximum Number of Moves in a Grid/Solution.cpp
  solution/2600-2699/2684.Maximum Number of Moves in a Grid/Solution.go
  solution/2600-2699/2684.Maximum Number of Moves in a Grid/Solution.java
  solution/2600-2699/2684.Maximum Number of Moves in a Grid/Solution.py
  solution/2600-2699/2684.Maximum Number of Moves in a Grid/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2444 feat: add solutions to lc problem: No.2312
  solution/2300-2399/2312.Selling Pieces of Wood/README.md
  solution/2300-2399/2312.Selling Pieces of Wood/README_EN.md
  solution/2300-2399/2312.Selling Pieces of Wood/Solution.cpp
  solution/2300-2399/2312.Selling Pieces of Wood/Solution.go
  solution/2300-2399/2312.Selling Pieces of Wood/Solution.java
  solution/2300-2399/2312.Selling Pieces of Wood/Solution.py
  solution/2300-2399/2312.Selling Pieces of Wood/Solution.ts
  solution/2300-2399/2312.Selling Pieces of Wood/Solution2.cpp
  solution/2300-2399/2312.Selling Pieces of Wood/Solution2.go
  solution/2300-2399/2312.Selling Pieces of Wood/Solution2.java
  solution/2300-2399/2312.Selling Pieces of Wood/Solution2.py
  solution/2300-2399/2312.Selling Pieces of Wood/Solution2.ts
Labels: md, ts, py, go, java, cpp, core team

#2445 chore: update deploy.yml
  .github/workflows/deploy.yml
Labels: core team, yml

#2446 chore: bump actions version
  .github/workflows/deploy.yml
Labels: core team, yml

#2447 chore: bump actions version
  .github/workflows/deploy.yml
  .github/workflows/prettier.yml
Labels: core team, yml

#2448 feat: add solutions to lc problems: No.1980,1981
  solution/1900-1999/1980.Find Unique Binary String/README.md
  solution/1900-1999/1980.Find Unique Binary String/README_EN.md
  solution/1900-1999/1980.Find Unique Binary String/Solution.ts
  solution/1900-1999/1981.Minimize the Difference Between Target and Chosen Elements/README.md
  solution/1900-1999/1981.Minimize the Difference Between Target and Chosen Elements/README_EN.md
Labels: md, ts, core team

#2449 feat: add ts solution to lc problem: No.1983
  solution/1900-1999/1983.Widest Pair of Indices With Equal Range Sum/README.md
  solution/1900-1999/1983.Widest Pair of Indices With Equal Range Sum/README_EN.md
  solution/1900-1999/1983.Widest Pair of Indices With Equal Range Sum/Solution.ts
Labels: md, ts, core team

#2450 feat: add biweekly contest 126
  solution/3000-3099/3079.Find the Sum of Encrypted Integers/README.md
  solution/3000-3099/3079.Find the Sum of Encrypted Integers/README_EN.md
  solution/3000-3099/3080.Mark Elements on Array by Performing Queries/README.md
  solution/3000-3099/3080.Mark Elements on Array by Performing Queries/README_EN.md
  solution/3000-3099/3081.Replace Question Marks in String to Minimize Its Value/README.md
  solution/3000-3099/3081.Replace Question Marks in String to Minimize Its Value/README_EN.md
  solution/3000-3099/3082.Find the Sum of the Power of All Subsequences/README.md
  solution/3000-3099/3082.Find the Sum of the Power of All Subsequences/README_EN.md
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/contest.json
Labels: md, core team, json

#2451 feat: add solutions to lc problem: No.310
  solution/0300-0399/0310.Minimum Height Trees/README.md
  solution/0300-0399/0310.Minimum Height Trees/README_EN.md
  solution/0300-0399/0310.Minimum Height Trees/Solution.cpp
  solution/0300-0399/0310.Minimum Height Trees/Solution.go
  solution/0300-0399/0310.Minimum Height Trees/Solution.java
  solution/0300-0399/0310.Minimum Height Trees/Solution.py
  solution/0300-0399/0310.Minimum Height Trees/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2452 feat: add weekly contest 389
  solution/3000-3099/3083.Existence of a Substring in a String and Its Reverse/README.md
  solution/3000-3099/3083.Existence of a Substring in a String and Its Reverse/README_EN.md
  solution/3000-3099/3084.Count Substrings Starting and Ending with Given Character/README.md
  solution/3000-3099/3084.Count Substrings Starting and Ending with Given Character/README_EN.md
  solution/3000-3099/3085.Minimum Deletions to Make String K-Special/README.md
  solution/3000-3099/3085.Minimum Deletions to Make String K-Special/README_EN.md
  solution/3000-3099/3086.Minimum Moves to Pick K Ones/README.md
  solution/3000-3099/3086.Minimum Moves to Pick K Ones/README_EN.md
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/contest.json
Labels: md, core team, json

#2454 feat: add solutions to lc problems: No.3079,3080
  solution/3000-3099/3079.Find the Sum of Encrypted Integers/README.md
  solution/3000-3099/3079.Find the Sum of Encrypted Integers/README_EN.md
  solution/3000-3099/3079.Find the Sum of Encrypted Integers/Solution.cpp
  solution/3000-3099/3079.Find the Sum of Encrypted Integers/Solution.go
  solution/3000-3099/3079.Find the Sum of Encrypted Integers/Solution.java
  solution/3000-3099/3079.Find the Sum of Encrypted Integers/Solution.py
  solution/3000-3099/3079.Find the Sum of Encrypted Integers/Solution.ts
  solution/3000-3099/3080.Mark Elements on Array by Performing Queries/README.md
  solution/3000-3099/3080.Mark Elements on Array by Performing Queries/README_EN.md
  solution/3000-3099/3080.Mark Elements on Array by Performing Queries/Solution.cpp
  solution/3000-3099/3080.Mark Elements on Array by Performing Queries/Solution.go
  solution/3000-3099/3080.Mark Elements on Array by Performing Queries/Solution.java
  solution/3000-3099/3080.Mark Elements on Array by Performing Queries/Solution.py
  solution/3000-3099/3080.Mark Elements on Array by Performing Queries/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2456 feat: add solutions to lc problem: No.3087
  solution/3000-3099/3087.Find Trending Hashtags/README.md
  solution/3000-3099/3087.Find Trending Hashtags/README_EN.md
  solution/3000-3099/3087.Find Trending Hashtags/Solution.py
  solution/3000-3099/3087.Find Trending Hashtags/Solution.sql
  solution/DATABASE_README.md
  solution/DATABASE_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/database-summary.md
  solution/database-summary_en.md
Labels: md, py, core team, sql

#2457 feat: add solutions to lc problem: No.3081
  solution/3000-3099/3081.Replace Question Marks in String to Minimize Its Value/README.md
  solution/3000-3099/3081.Replace Question Marks in String to Minimize Its Value/README_EN.md
  solution/3000-3099/3081.Replace Question Marks in String to Minimize Its Value/Solution.cpp
  solution/3000-3099/3081.Replace Question Marks in String to Minimize Its Value/Solution.go
  solution/3000-3099/3081.Replace Question Marks in String to Minimize Its Value/Solution.java
  solution/3000-3099/3081.Replace Question Marks in String to Minimize Its Value/Solution.py
Labels: md, py, go, java, cpp, core team

#2458 chore: update workflow
  .github/workflows/deploy.yml
  README.md
  README_EN.md
Labels: md, core team, yml

#2459 feat: update lc problems
  solution/0000-0099/0057.Insert Interval/README.md
  solution/0000-0099/0057.Insert Interval/README_EN.md
  solution/0000-0099/0090.Subsets II/README.md
  solution/0300-0399/0310.Minimum Height Trees/README.md
  solution/0700-0799/0791.Custom Sort String/README_EN.md
  solution/1000-1099/1018.Binary Prefix Divisible By 5/README.md
  solution/1000-1099/1018.Binary Prefix Divisible By 5/README_EN.md
  solution/1000-1099/1035.Uncrossed Lines/README.md
  solution/1100-1199/1151.Minimum Swaps to Group All 1's Together/README.md
  solution/1100-1199/1151.Minimum Swaps to Group All 1's Together/README_EN.md
  solution/1100-1199/1151.Minimum Swaps to Group All 1's Together/Solution.cs
  solution/1100-1199/1151.Minimum Swaps to Group All 1's Together/Solution.py
  solution/1300-1399/1361.Validate Binary Tree Nodes/README.md
  solution/1300-1399/1385.Find the Distance Value Between Two Arrays/README_EN.md
  solution/2000-2099/2086.Minimum Number of Food Buckets to Feed the Hamsters/README.md
  solution/2300-2399/2312.Selling Pieces of Wood/README.md
  solution/2300-2399/2386.Find the K-Sum of an Array/README.md
  solution/2400-2499/2480.Form a Chemical Bond/README.md
  solution/2600-2699/2629.Function Composition/README.md
  solution/2700-2799/2796.Repeat String/README.md
  solution/2700-2799/2796.Repeat String/README_EN.md
  solution/2900-2999/2910.Minimum Number of Groups to Create a Valid Assignment/README.md
  solution/2900-2999/2917.Find the K-or of an Array/README.md
  solution/2900-2999/2917.Find the K-or of an Array/README_EN.md
  solution/2900-2999/2936.Number of Equal Numbers Blocks/README.md
  solution/2900-2999/2936.Number of Equal Numbers Blocks/README_EN.md
  solution/2900-2999/2937.Make Three Strings Equal/README_EN.md
  solution/2900-2999/2944.Minimum Number of Coins for Fruits/README.md
  solution/3000-3099/3027.Find the Number of Ways to Place People II/README.md
  solution/3000-3099/3078.Match Alphanumerical Pattern in Matrix I/README.md
  solution/3000-3099/3080.Mark Elements on Array by Performing Queries/README.md
  solution/3000-3099/3080.Mark Elements on Array by Performing Queries/README_EN.md
  solution/3000-3099/3087.Find Trending Hashtags/README.md
  solution/CONTEST_README.md
  solution/DATABASE_README.md
  solution/README.md
  solution/README_EN.md
  solution/contest.json
  solution/database-summary.md
Labels: md, py, core team, cs

#2460 feat: add solutions to lc problem: No.1314
  solution/1300-1399/1314.Matrix Block Sum/README.md
  solution/1300-1399/1314.Matrix Block Sum/README_EN.md
  solution/1300-1399/1314.Matrix Block Sum/Solution.cpp
  solution/1300-1399/1314.Matrix Block Sum/Solution.go
  solution/1300-1399/1314.Matrix Block Sum/Solution.java
  solution/1300-1399/1314.Matrix Block Sum/Solution.py
  solution/1300-1399/1314.Matrix Block Sum/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2461 feat: add solutions to lc problem: No.1315
  solution/1300-1399/1315.Sum of Nodes with Even-Valued Grandparent/README.md
  solution/1300-1399/1315.Sum of Nodes with Even-Valued Grandparent/README_EN.md
  solution/1300-1399/1315.Sum of Nodes with Even-Valued Grandparent/Solution.cpp
  solution/1300-1399/1315.Sum of Nodes with Even-Valued Grandparent/Solution.go
  solution/1300-1399/1315.Sum of Nodes with Even-Valued Grandparent/Solution.java
  solution/1300-1399/1315.Sum of Nodes with Even-Valued Grandparent/Solution.py
  solution/1300-1399/1315.Sum of Nodes with Even-Valued Grandparent/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2462 feat: add solutions to lc problem: No.1318
  solution/1300-1399/1318.Minimum Flips to Make a OR b Equal to c/README.md
  solution/1300-1399/1318.Minimum Flips to Make a OR b Equal to c/README_EN.md
  solution/1300-1399/1318.Minimum Flips to Make a OR b Equal to c/Solution.cpp
  solution/1300-1399/1318.Minimum Flips to Make a OR b Equal to c/Solution.go
  solution/1300-1399/1318.Minimum Flips to Make a OR b Equal to c/Solution.java
  solution/1300-1399/1318.Minimum Flips to Make a OR b Equal to c/Solution.py
  solution/1300-1399/1318.Minimum Flips to Make a OR b Equal to c/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2466 feat: update solutions to lc problems: No.46,1969
  solution/0000-0099/0046.Permutations/README.md
  solution/0000-0099/0046.Permutations/README_EN.md
  solution/0000-0099/0046.Permutations/Solution2.rs
  solution/0000-0099/0046.Permutations/Solution3.py
  solution/1900-1999/1969.Minimum Non-Zero Product of the Array Elements/README_EN.md
Labels: md, py, rs, core team

#2467 feat: update solutions to lc problems: No.0001,0035
  solution/0000-0099/0001.Two Sum/README.md
  solution/0000-0099/0001.Two Sum/README_EN.md
  solution/0000-0099/0001.Two Sum/Solution.php
  solution/0000-0099/0001.Two Sum/Solution.rs
  solution/0000-0099/0035.Search Insert Position/README.md
  solution/0000-0099/0035.Search Insert Position/README_EN.md
  solution/0000-0099/0035.Search Insert Position/Solution2.java
Labels: md, java, rs, core team, php

#2468 feat: update solutions to lc problems: No.11,15
  solution/0000-0099/0011.Container With Most Water/README.md
  solution/0000-0099/0011.Container With Most Water/README_EN.md
  solution/0000-0099/0011.Container With Most Water/Solution.php
  solution/0000-0099/0011.Container With Most Water/Solution.rs
  solution/0000-0099/0015.3Sum/README.md
  solution/0000-0099/0015.3Sum/README_EN.md
  solution/0000-0099/0015.3Sum/Solution.php
Labels: md, rs, core team, php

#2469 feat: update solutions to lc problems: No.39~42
  solution/0000-0099/0039.Combination Sum/README.md
  solution/0000-0099/0039.Combination Sum/README_EN.md
  solution/0000-0099/0040.Combination Sum II/README.md
  solution/0000-0099/0040.Combination Sum II/README_EN.md
  solution/0000-0099/0041.First Missing Positive/README.md
  solution/0000-0099/0041.First Missing Positive/README_EN.md
  solution/0000-0099/0041.First Missing Positive/Solution.c
  solution/0000-0099/0041.First Missing Positive/Solution.cs
  solution/0000-0099/0041.First Missing Positive/Solution2.ts
  solution/0000-0099/0042.Trapping Rain Water/README.md
  solution/0000-0099/0042.Trapping Rain Water/README_EN.md
Labels: md, ts, core team, cs, c

#2470 feat: add solutions to lc problem: No.44
  solution/0000-0099/0044.Wildcard Matching/README.md
  solution/0000-0099/0044.Wildcard Matching/README_EN.md
  solution/0000-0099/0044.Wildcard Matching/Solution.cpp
  solution/0000-0099/0044.Wildcard Matching/Solution.cs
  solution/0000-0099/0044.Wildcard Matching/Solution.go
  solution/0000-0099/0044.Wildcard Matching/Solution.java
  solution/0000-0099/0044.Wildcard Matching/Solution.py
  solution/0000-0099/0044.Wildcard Matching/Solution.ts
  solution/0000-0099/0044.Wildcard Matching/Solution2.cpp
  solution/0000-0099/0044.Wildcard Matching/Solution2.go
  solution/0000-0099/0044.Wildcard Matching/Solution2.java
  solution/0000-0099/0044.Wildcard Matching/Solution2.py
  solution/0000-0099/0044.Wildcard Matching/Solution2.ts
Labels: md, ts, py, go, java, cpp, core team, cs

#2471 feat: add solutions to lc problem: No.52
  solution/0000-0099/0046.Permutations/README_EN.md
  solution/0000-0099/0052.N-Queens II/README.md
  solution/0000-0099/0052.N-Queens II/README_EN.md
  solution/0000-0099/0052.N-Queens II/Solution.cs
Labels: md, core team, cs

#2473 feat: update lc problems
  solution/3000-3099/3060.User Activities within Time Bounds/README.md
  solution/3000-3099/3063.Linked List Frequency/README.md
  solution/3000-3099/3068.Find the Maximum Sum of Node Values/README.md
  solution/3000-3099/3078.Match Alphanumerical Pattern in Matrix I/README.md
  solution/3000-3099/3078.Match Alphanumerical Pattern in Matrix I/README_EN.md
  solution/3000-3099/3079.Find the Sum of Encrypted Integers/README.md
  solution/3000-3099/3079.Find the Sum of Encrypted Integers/README_EN.md
  solution/3000-3099/3080.Mark Elements on Array by Performing Queries/README.md
  solution/3000-3099/3080.Mark Elements on Array by Performing Queries/README_EN.md
  solution/3000-3099/3081.Replace Question Marks in String to Minimize Its Value/README.md
  solution/3000-3099/3081.Replace Question Marks in String to Minimize Its Value/README_EN.md
  solution/3000-3099/3082.Find the Sum of the Power of All Subsequences/README.md
  solution/3000-3099/3082.Find the Sum of the Power of All Subsequences/README_EN.md
  solution/3000-3099/3083.Existence of a Substring in a String and Its Reverse/README.md
  solution/3000-3099/3083.Existence of a Substring in a String and Its Reverse/README_EN.md
  solution/3000-3099/3084.Count Substrings Starting and Ending with Given Character/README.md
  solution/3000-3099/3084.Count Substrings Starting and Ending with Given Character/README_EN.md
  solution/3000-3099/3085.Minimum Deletions to Make String K-Special/README.md
  solution/3000-3099/3085.Minimum Deletions to Make String K-Special/README_EN.md
  solution/3000-3099/3086.Minimum Moves to Pick K Ones/README.md
  solution/3000-3099/3086.Minimum Moves to Pick K Ones/README_EN.md
  solution/3000-3099/3087.Find Trending Hashtags/README_EN.md
  solution/3000-3099/3088.Make String Anti-palindrome/README.md
  solution/3000-3099/3088.Make String Anti-palindrome/README_EN.md
  solution/3000-3099/3088.Make String Anti-palindrome/Solution.cpp
  solution/3000-3099/3088.Make String Anti-palindrome/Solution.go
  solution/3000-3099/3088.Make String Anti-palindrome/Solution.java
  solution/3000-3099/3088.Make String Anti-palindrome/Solution.py
  solution/3000-3099/3088.Make String Anti-palindrome/Solution.ts
  solution/DATABASE_README.md
  solution/README.md
  solution/README_EN.md
  solution/database-summary.md
  solution/main.py
Labels: md, ts, py, go, java, cpp, core team

#2474 feat: add solutions to lcof2 problem: No.113
  lcof2/剑指 Offer II 113. 课程顺序/README.md
  lcof2/剑指 Offer II 113. 课程顺序/Solution.cpp
  lcof2/剑指 Offer II 113. 课程顺序/Solution.cs
  lcof2/剑指 Offer II 113. 课程顺序/Solution.py
  lcof2/剑指 Offer II 113. 课程顺序/Solution.ts
Labels: md, ts, py, cpp, core team, cs

#2475 feat: add solutions to lc/lcof2 problems
  lcof2/剑指 Offer II 115. 重建序列/README.md
  lcof2/剑指 Offer II 115. 重建序列/Solution.cpp
  lcof2/剑指 Offer II 115. 重建序列/Solution.go
  lcof2/剑指 Offer II 115. 重建序列/Solution.java
  lcof2/剑指 Offer II 115. 重建序列/Solution.py
  lcof2/剑指 Offer II 115. 重建序列/Solution.ts
  solution/0400-0499/0444.Sequence Reconstruction/README.md
  solution/0400-0499/0444.Sequence Reconstruction/README_EN.md
  solution/0400-0499/0444.Sequence Reconstruction/Solution.cpp
  solution/0400-0499/0444.Sequence Reconstruction/Solution.go
  solution/0400-0499/0444.Sequence Reconstruction/Solution.java
  solution/0400-0499/0444.Sequence Reconstruction/Solution.py
  solution/0400-0499/0444.Sequence Reconstruction/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2476 feat: update solutions to lc problems: No.2642~2646
  solution/2600-2699/2642.Design Graph With Shortest Path Calculator/README.md
  solution/2600-2699/2642.Design Graph With Shortest Path Calculator/README_EN.md
  solution/2600-2699/2642.Design Graph With Shortest Path Calculator/Solution.cs
  solution/2600-2699/2642.Design Graph With Shortest Path Calculator/Solution.ts
  solution/2600-2699/2643.Row With Maximum Ones/README_EN.md
  solution/2600-2699/2644.Find the Maximum Divisibility Score/README_EN.md
  solution/2600-2699/2646.Minimize the Total Price of the Trips/README_EN.md
Labels: md, ts, core team, cs

#2477 feat: update solutions to lc problems: No.1602~1603
  solution/1600-1699/1602.Find Nearest Right Node in Binary Tree/README.md
  solution/1600-1699/1602.Find Nearest Right Node in Binary Tree/README_EN.md
  solution/1600-1699/1602.Find Nearest Right Node in Binary Tree/Solution.cpp
  solution/1600-1699/1602.Find Nearest Right Node in Binary Tree/Solution2.cpp
  solution/1600-1699/1603.Design Parking System/README.md
  solution/1600-1699/1603.Design Parking System/README_EN.md
  solution/1600-1699/1603.Design Parking System/Solution.cpp
Labels: md, cpp, core team

#2478 feat: add solutions to lc problems: No.1604~1608
  solution/1600-1699/1604.Alert Using Same Key-Card Three or More Times in a One Hour Period/README.md
  solution/1600-1699/1604.Alert Using Same Key-Card Three or More Times in a One Hour Period/README_EN.md
  solution/1600-1699/1604.Alert Using Same Key-Card Three or More Times in a One Hour Period/Solution.ts
  solution/1600-1699/1605.Find Valid Matrix Given Row and Column Sums/README_EN.md
  solution/1600-1699/1608.Special Array With X Elements Greater Than or Equal X/README.md
  solution/1600-1699/1608.Special Array With X Elements Greater Than or Equal X/README_EN.md
Labels: md, ts, core team

#2479 feat: add solutions to lc problem: No.3048
  solution/3000-3099/3048.Earliest Second to Mark Indices I/README.md
  solution/3000-3099/3048.Earliest Second to Mark Indices I/README_EN.md
  solution/3000-3099/3048.Earliest Second to Mark Indices I/Solution.cpp
  solution/3000-3099/3048.Earliest Second to Mark Indices I/Solution.go
  solution/3000-3099/3048.Earliest Second to Mark Indices I/Solution.java
  solution/3000-3099/3048.Earliest Second to Mark Indices I/Solution.py
  solution/3000-3099/3048.Earliest Second to Mark Indices I/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2481 feat: update solutions to lc problems: No.633~635
  solution/0600-0699/0633.Sum of Square Numbers/README.md
  solution/0600-0699/0633.Sum of Square Numbers/README_EN.md
  solution/0600-0699/0633.Sum of Square Numbers/Solution.cpp
  solution/0600-0699/0633.Sum of Square Numbers/Solution.rs
  solution/0600-0699/0633.Sum of Square Numbers/Solution.ts
  solution/0600-0699/0634.Find the Derangement of An Array/README.md
  solution/0600-0699/0634.Find the Derangement of An Array/README_EN.md
  solution/0600-0699/0635.Design Log Storage System/README_EN.md
Labels: md, ts, cpp, rs, core team

#2482 feat: add solutions to lc problems: No.2208,2209
  solution/2200-2299/2208.Minimum Operations to Halve Array Sum/README_EN.md
  solution/2200-2299/2209.Minimum White Tiles After Covering With Carpets/README_EN.md
  solution/2200-2299/2214.Minimum Health to Beat Game/README.md
  solution/2200-2299/2214.Minimum Health to Beat Game/README_EN.md
Labels: md, core team

#2483 feat: add solutions to lc problem: No.2215
  solution/2200-2299/2215.Find the Difference of Two Arrays/README.md
  solution/2200-2299/2215.Find the Difference of Two Arrays/README_EN.md
  solution/2200-2299/2215.Find the Difference of Two Arrays/Solution.cpp
  solution/2200-2299/2215.Find the Difference of Two Arrays/Solution.java
  solution/2200-2299/2215.Find the Difference of Two Arrays/Solution.js
  solution/2200-2299/2215.Find the Difference of Two Arrays/Solution.php
  solution/2200-2299/2215.Find the Difference of Two Arrays/Solution.ts
  solution/2200-2299/2215.Find the Difference of Two Arrays/Solution2.rs
Labels: js, md, ts, java, cpp, rs, core team, php

#2496 feat: add weekly contest 390
  solution/3000-3099/3086.Minimum Moves to Pick K Ones/README.md
  solution/3000-3099/3086.Minimum Moves to Pick K Ones/README_EN.md
  solution/3000-3099/3089.Find Bursty Behavior/README.md
  solution/3000-3099/3089.Find Bursty Behavior/README_EN.md
  solution/3000-3099/3090.Maximum Length Substring With Two Occurrences/README.md
  solution/3000-3099/3090.Maximum Length Substring With Two Occurrences/README_EN.md
  solution/3000-3099/3090.Maximum Length Substring With Two Occurrences/Solution.cpp
  solution/3000-3099/3090.Maximum Length Substring With Two Occurrences/Solution.go
  solution/3000-3099/3090.Maximum Length Substring With Two Occurrences/Solution.java
  solution/3000-3099/3090.Maximum Length Substring With Two Occurrences/Solution.py
  solution/3000-3099/3090.Maximum Length Substring With Two Occurrences/Solution.ts
  solution/3000-3099/3091.Apply Operations to Make Sum of Array Greater Than or Equal to k/README.md
  solution/3000-3099/3091.Apply Operations to Make Sum of Array Greater Than or Equal to k/README_EN.md
  solution/3000-3099/3091.Apply Operations to Make Sum of Array Greater Than or Equal to k/Solution.cpp
  solution/3000-3099/3091.Apply Operations to Make Sum of Array Greater Than or Equal to k/Solution.go
  solution/3000-3099/3091.Apply Operations to Make Sum of Array Greater Than or Equal to k/Solution.java
  solution/3000-3099/3091.Apply Operations to Make Sum of Array Greater Than or Equal to k/Solution.py
  solution/3000-3099/3091.Apply Operations to Make Sum of Array Greater Than or Equal to k/Solution.ts
  solution/3000-3099/3092.Most Frequent IDs/README.md
  solution/3000-3099/3092.Most Frequent IDs/README_EN.md
  solution/3000-3099/3092.Most Frequent IDs/Solution.cpp
  solution/3000-3099/3092.Most Frequent IDs/Solution.go
  solution/3000-3099/3092.Most Frequent IDs/Solution.java
  solution/3000-3099/3092.Most Frequent IDs/Solution.py
  solution/3000-3099/3093.Longest Common Suffix Queries/README.md
  solution/3000-3099/3093.Longest Common Suffix Queries/README_EN.md
  solution/3000-3099/3093.Longest Common Suffix Queries/Solution.py
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/DATABASE_README.md
  solution/DATABASE_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/contest.json
  solution/database-summary.md
  solution/database-summary_en.md
  solution/main.py
Labels: md, ts, py, go, java, cpp, core team

#2497 feat: add solutions to lc problem: No.3093
  solution/3000-3099/3093.Longest Common Suffix Queries/README.md
  solution/3000-3099/3093.Longest Common Suffix Queries/README_EN.md
  solution/3000-3099/3093.Longest Common Suffix Queries/Solution.cpp
  solution/3000-3099/3093.Longest Common Suffix Queries/Solution.go
  solution/3000-3099/3093.Longest Common Suffix Queries/Solution.java
  solution/3000-3099/3093.Longest Common Suffix Queries/Solution.py
  solution/3000-3099/3093.Longest Common Suffix Queries/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2498 feat: add solutions to lc problem: No.518
  solution/0300-0399/0322.Coin Change/README.md
  solution/0300-0399/0322.Coin Change/README_EN.md
  solution/0500-0599/0518.Coin Change II/README.md
  solution/0500-0599/0518.Coin Change II/README_EN.md
  solution/0500-0599/0518.Coin Change II/Solution.cpp
  solution/0500-0599/0518.Coin Change II/Solution.go
  solution/0500-0599/0518.Coin Change II/Solution.java
  solution/0500-0599/0518.Coin Change II/Solution.py
  solution/0500-0599/0518.Coin Change II/Solution.ts
  solution/0500-0599/0518.Coin Change II/Solution2.cpp
  solution/0500-0599/0518.Coin Change II/Solution2.go
  solution/0500-0599/0518.Coin Change II/Solution2.java
  solution/0500-0599/0518.Coin Change II/Solution2.py
  solution/0500-0599/0518.Coin Change II/Solution2.ts
  solution/0500-0599/0518.Coin Change II/Solution3.java
Labels: md, ts, py, go, java, cpp, core team

#2500 feat: add solutions to lc problem: No.516
  solution/0500-0599/0516.Longest Palindromic Subsequence/README.md
  solution/0500-0599/0516.Longest Palindromic Subsequence/README_EN.md
  solution/0500-0599/0516.Longest Palindromic Subsequence/Solution.cpp
  solution/0500-0599/0516.Longest Palindromic Subsequence/Solution.go
  solution/0500-0599/0516.Longest Palindromic Subsequence/Solution.java
  solution/0500-0599/0516.Longest Palindromic Subsequence/Solution.ts
  solution/0500-0599/0517.Super Washing Machines/README_EN.md
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
Labels: md, ts, go, java, cpp, core team

#2501 feat: update solutions to lc problems: No.518,520
  solution/0500-0599/0518.Coin Change II/README.md
  solution/0500-0599/0518.Coin Change II/README_EN.md
  solution/0500-0599/0518.Coin Change II/Solution.cpp
  solution/0500-0599/0518.Coin Change II/Solution2.cpp
  solution/0500-0599/0520.Detect Capital/README.md
  solution/0500-0599/0520.Detect Capital/README_EN.md
  solution/0500-0599/0520.Detect Capital/Solution.cpp
  solution/0500-0599/0520.Detect Capital/Solution.py
  solution/0500-0599/0520.Detect Capital/Solution.ts
Labels: md, ts, py, cpp, core team

#2504 feat: add solutions to lc problem: No.3089
  solution/3000-3099/3089.Find Bursty Behavior/README.md
  solution/3000-3099/3089.Find Bursty Behavior/README_EN.md
  solution/3000-3099/3089.Find Bursty Behavior/Solution.py
  solution/3000-3099/3089.Find Bursty Behavior/Solution.sql
Labels: md, py, core team, sql

#2507 feat: add solutions to lc problems: No.170+
  solution/0100-0199/0170.Two Sum III - Data structure design/README.md
  solution/0100-0199/0170.Two Sum III - Data structure design/README_EN.md
  solution/0100-0199/0170.Two Sum III - Data structure design/Solution.cpp
  solution/0100-0199/0170.Two Sum III - Data structure design/Solution.go
  solution/0100-0199/0170.Two Sum III - Data structure design/Solution.java
  solution/0100-0199/0170.Two Sum III - Data structure design/Solution.py
  solution/0100-0199/0170.Two Sum III - Data structure design/Solution.ts
  solution/0100-0199/0171.Excel Sheet Column Number/README.md
  solution/0100-0199/0171.Excel Sheet Column Number/README_EN.md
  solution/0100-0199/0171.Excel Sheet Column Number/Solution.cpp
  solution/0100-0199/0171.Excel Sheet Column Number/Solution.cs
  solution/0100-0199/0171.Excel Sheet Column Number/Solution.go
  solution/0100-0199/0171.Excel Sheet Column Number/Solution.java
  solution/0100-0199/0171.Excel Sheet Column Number/Solution.py
  solution/0100-0199/0171.Excel Sheet Column Number/Solution.ts
  solution/0100-0199/0172.Factorial Trailing Zeroes/README_EN.md
  solution/0100-0199/0174.Dungeon Game/README.md
  solution/0100-0199/0174.Dungeon Game/README_EN.md
  solution/0100-0199/0186.Reverse Words in a String II/README.md
  solution/0100-0199/0186.Reverse Words in a String II/README_EN.md
  solution/0100-0199/0186.Reverse Words in a String II/Solution.cpp
  solution/0100-0199/0186.Reverse Words in a String II/Solution.go
  solution/0100-0199/0186.Reverse Words in a String II/Solution.py
  solution/0100-0199/0186.Reverse Words in a String II/Solution.ts
Labels: md, ts, py, go, java, cpp, core team, cs

#2508 feat: add solutions to lc problem: No.806
  solution/0800-0899/0806.Number of Lines To Write String/README.md
  solution/0800-0899/0806.Number of Lines To Write String/README_EN.md
  solution/0800-0899/0806.Number of Lines To Write String/Solution.cpp
  solution/0800-0899/0806.Number of Lines To Write String/Solution.go
  solution/0800-0899/0806.Number of Lines To Write String/Solution.java
  solution/0800-0899/0806.Number of Lines To Write String/Solution.py
  solution/0800-0899/0806.Number of Lines To Write String/Solution.rs
  solution/0800-0899/0806.Number of Lines To Write String/Solution.ts
Labels: md, ts, py, go, java, cpp, rs, core team

#2510 feat: add ts solution to lc problem: No.1701
  .gitignore
  solution/1700-1799/1701.Average Waiting Time/README.md
  solution/1700-1799/1701.Average Waiting Time/README_EN.md
  solution/1700-1799/1701.Average Waiting Time/Solution.ts
Labels: md, ts, core team, gitignore

#2511 fix: update solutions to lc problem: No.3089
  solution/3000-3099/3089.Find Bursty Behavior/README.md
  solution/3000-3099/3089.Find Bursty Behavior/README_EN.md
  solution/3000-3099/3089.Find Bursty Behavior/Solution.py
  solution/3000-3099/3089.Find Bursty Behavior/Solution.sql
Labels: md, py, core team, sql

#2512 chore: update workflow
  .github/workflows/deploy.yml
Labels: core team, yml

#2513 feat: add solutions to lc problem: No.1997
  solution/1900-1999/1997.First Day Where You Have Been in All the Rooms/README.md
  solution/1900-1999/1997.First Day Where You Have Been in All the Rooms/README_EN.md
  solution/1900-1999/1997.First Day Where You Have Been in All the Rooms/Solution.cs
  solution/1900-1999/1997.First Day Where You Have Been in All the Rooms/Solution.ts
Labels: md, ts, core team, cs

#2514 feat: add solutions to lc problem: No.3094
  solution/3000-3099/3089.Find Bursty Behavior/README.md
  solution/3000-3099/3094.Guess the Number Using Bitwise Questions II/README.md
  solution/3000-3099/3094.Guess the Number Using Bitwise Questions II/README_EN.md
  solution/3000-3099/3094.Guess the Number Using Bitwise Questions II/Solution.cpp
  solution/3000-3099/3094.Guess the Number Using Bitwise Questions II/Solution.go
  solution/3000-3099/3094.Guess the Number Using Bitwise Questions II/Solution.java
  solution/3000-3099/3094.Guess the Number Using Bitwise Questions II/Solution.py
  solution/README.md
  solution/README_EN.md
Labels: md, py, go, java, cpp, core team

#2515 feat: add solutions to lc problems: No.2046,2050
  solution/2000-2099/2000.Reverse Prefix of Word/README.md
  solution/2000-2099/2000.Reverse Prefix of Word/README_EN.md
  solution/2000-2099/2000.Reverse Prefix of Word/Solution2.java
  solution/2000-2099/2046.Sort Linked List Already Sorted Using Absolute Values/README.md
  solution/2000-2099/2046.Sort Linked List Already Sorted Using Absolute Values/README_EN.md
  solution/2000-2099/2046.Sort Linked List Already Sorted Using Absolute Values/Solution.ts
  solution/2000-2099/2050.Parallel Courses III/README.md
  solution/2000-2099/2050.Parallel Courses III/README_EN.md
  solution/2000-2099/2054.Two Best Non-Overlapping Events/README.md
Labels: md, ts, java, core team

#2517 feat: update lc problems
  solution/0100-0199/0191.Number of 1 Bits/README.md
  solution/0100-0199/0191.Number of 1 Bits/README_EN.md
  solution/0200-0299/0231.Power of Two/README.md
  solution/0300-0399/0321.Create Maximum Number/README.md
  solution/0300-0399/0366.Find Leaves of Binary Tree/README.md
  solution/0400-0499/0442.Find All Duplicates in an Array/README_EN.md
  solution/0700-0799/0760.Find Anagram Mappings/README.md
  solution/0800-0899/0866.Prime Palindrome/README.md
  solution/0800-0899/0866.Prime Palindrome/README_EN.md
  solution/0800-0899/0895.Maximum Frequency Stack/README_EN.md
  solution/0900-0999/0902.Numbers At Most N Given Digit Set/README_EN.md
  solution/0900-0999/0911.Online Election/README.md
  solution/0900-0999/0911.Online Election/README_EN.md
  solution/0900-0999/0911.Online Election/Solution.cpp
  solution/0900-0999/0911.Online Election/Solution.go
  solution/0900-0999/0911.Online Election/Solution.java
  solution/0900-0999/0911.Online Election/Solution.py
  solution/0900-0999/0911.Online Election/Solution.ts
  solution/1700-1799/1731.The Number of Employees Which Report to Each Employee/README.md
  solution/2900-2999/2974.Minimum Number Game/README_EN.md
  solution/3000-3099/3050.Pizza Toppings Cost Analysis/README.md
  solution/3000-3099/3051.Find Candidates for Data Scientist Position/README.md
  solution/3000-3099/3052.Maximize Items/README.md
  solution/3000-3099/3053.Classifying Triangles by Lengths/README.md
  solution/3000-3099/3054.Binary Tree Nodes/README.md
  solution/3000-3099/3055.Top Percentile Fraud/README.md
  solution/3000-3099/3056.Snaps Analysis/README.md
  solution/3000-3099/3057.Employees Project Allocation/README.md
  solution/3000-3099/3058.Friends With No Mutual Friends/README.md
  solution/3000-3099/3059.Find All Unique Email Domains/README.md
  solution/README.md
  solution/README_EN.md
Labels: md, ts, py, go, java, cpp, core team

#2518 feat: add solutions to lc problem: No.704
  solution/0700-0799/0704.Binary Search/README.md
  solution/0700-0799/0704.Binary Search/README_EN.md
  solution/0700-0799/0704.Binary Search/Solution.cs
  solution/0700-0799/0704.Binary Search/Solution2.rs
Labels: md, rs, core team, cs

#2521 feat: add biweekly contest 127
  solution/3000-3099/3095.Shortest Subarray With OR at Least K I/README.md
  solution/3000-3099/3095.Shortest Subarray With OR at Least K I/README_EN.md
  solution/3000-3099/3096.Minimum Levels to Gain More Points/README.md
  solution/3000-3099/3096.Minimum Levels to Gain More Points/README_EN.md
  solution/3000-3099/3097.Shortest Subarray With OR at Least K II/README.md
  solution/3000-3099/3097.Shortest Subarray With OR at Least K II/README_EN.md
  solution/3000-3099/3098.Find the Sum of Subsequence Powers/README.md
  solution/3000-3099/3098.Find the Sum of Subsequence Powers/README_EN.md
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/contest.json
Labels: md, core team, json

#2522 feat: add solutions to lc problems: No.3095,3097
  solution/3000-3099/3095.Shortest Subarray With OR at Least K I/README.md
  solution/3000-3099/3095.Shortest Subarray With OR at Least K I/README_EN.md
  solution/3000-3099/3095.Shortest Subarray With OR at Least K I/Solution.cpp
  solution/3000-3099/3095.Shortest Subarray With OR at Least K I/Solution.go
  solution/3000-3099/3095.Shortest Subarray With OR at Least K I/Solution.java
  solution/3000-3099/3095.Shortest Subarray With OR at Least K I/Solution.py
  solution/3000-3099/3095.Shortest Subarray With OR at Least K I/Solution.ts
  solution/3000-3099/3097.Shortest Subarray With OR at Least K II/README.md
  solution/3000-3099/3097.Shortest Subarray With OR at Least K II/README_EN.md
  solution/3000-3099/3097.Shortest Subarray With OR at Least K II/Solution.cpp
  solution/3000-3099/3097.Shortest Subarray With OR at Least K II/Solution.go
  solution/3000-3099/3097.Shortest Subarray With OR at Least K II/Solution.java
  solution/3000-3099/3097.Shortest Subarray With OR at Least K II/Solution.py
  solution/3000-3099/3097.Shortest Subarray With OR at Least K II/Solution.ts
  solution/3000-3099/3099.Harshad Number/README.md
  solution/3000-3099/3099.Harshad Number/README_EN.md
  solution/3100-3199/3100.Water Bottles II/README.md
  solution/3100-3199/3100.Water Bottles II/README_EN.md
  solution/3100-3199/3100.Water Bottles II/images/example231.png
  solution/3100-3199/3100.Water Bottles II/images/exampleone1.png
  solution/3100-3199/3101.Count Alternating Subarrays/README.md
  solution/3100-3199/3101.Count Alternating Subarrays/README_EN.md
  solution/3100-3199/3102.Minimize Manhattan Distances/README.md
  solution/3100-3199/3102.Minimize Manhattan Distances/README_EN.md
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/contest.json
Labels: md, ts, py, go, java, cpp, core team, json, png

#2523 feat: add solutions to lc problems: No.3095~3097
  solution/3000-3099/3095.Shortest Subarray With OR at Least K I/README.md
  solution/3000-3099/3095.Shortest Subarray With OR at Least K I/README_EN.md
  solution/3000-3099/3096.Minimum Levels to Gain More Points/README.md
  solution/3000-3099/3096.Minimum Levels to Gain More Points/README_EN.md
  solution/3000-3099/3096.Minimum Levels to Gain More Points/Solution.cpp
  solution/3000-3099/3096.Minimum Levels to Gain More Points/Solution.go
  solution/3000-3099/3096.Minimum Levels to Gain More Points/Solution.java
  solution/3000-3099/3096.Minimum Levels to Gain More Points/Solution.py
  solution/3000-3099/3096.Minimum Levels to Gain More Points/Solution.ts
  solution/3000-3099/3097.Shortest Subarray With OR at Least K II/README.md
  solution/3000-3099/3097.Shortest Subarray With OR at Least K II/README_EN.md
Labels: md, ts, py, go, java, cpp, core team

#2524 feat: add solutions to lc problems: No.3099~3101
  solution/3000-3099/3099.Harshad Number/README.md
  solution/3000-3099/3099.Harshad Number/README_EN.md
  solution/3000-3099/3099.Harshad Number/Solution.cpp
  solution/3000-3099/3099.Harshad Number/Solution.go
  solution/3000-3099/3099.Harshad Number/Solution.java
  solution/3000-3099/3099.Harshad Number/Solution.py
  solution/3000-3099/3099.Harshad Number/Solution.ts
  solution/3100-3199/3100.Water Bottles II/README.md
  solution/3100-3199/3100.Water Bottles II/README_EN.md
  solution/3100-3199/3100.Water Bottles II/Solution.cpp
  solution/3100-3199/3100.Water Bottles II/Solution.go
  solution/3100-3199/3100.Water Bottles II/Solution.java
  solution/3100-3199/3100.Water Bottles II/Solution.py
  solution/3100-3199/3100.Water Bottles II/Solution.ts
  solution/3100-3199/3101.Count Alternating Subarrays/README.md
  solution/3100-3199/3101.Count Alternating Subarrays/README_EN.md
  solution/3100-3199/3101.Count Alternating Subarrays/Solution.cpp
  solution/3100-3199/3101.Count Alternating Subarrays/Solution.go
  solution/3100-3199/3101.Count Alternating Subarrays/Solution.java
  solution/3100-3199/3101.Count Alternating Subarrays/Solution.py
  solution/3100-3199/3101.Count Alternating Subarrays/Solution.ts
Labels: md, ts, py, go, java, cpp, core team
