Repository doocs/leetcode, pull requests merged in 2024-04, with the labels that each got.

#2526 feat: add solutions to lc problems: No.3098,3102
  solution/3000-3099/3098.Find the Sum of Subsequence Powers/README.md
  solution/3000-3099/3098.Find the Sum of Subsequence Powers/README_EN.md
  solution/3000-3099/3098.Find the Sum of Subsequence Powers/Solution.cpp
  solution/3000-3099/3098.Find the Sum of Subsequence Powers/Solution.go
  solution/3000-3099/3098.Find the Sum of Subsequence Powers/Solution.java
  solution/3000-3099/3098.Find the Sum of Subsequence Powers/Solution.py
  solution/3100-3199/3102.Minimize Manhattan Distances/README.md
  solution/3100-3199/3102.Minimize Manhattan Distances/README_EN.md
  solution/3100-3199/3102.Minimize Manhattan Distances/Solution.cpp
  solution/3100-3199/3102.Minimize Manhattan Distances/Solution.go
  solution/3100-3199/3102.Minimize Manhattan Distances/Solution.java
  solution/3100-3199/3102.Minimize Manhattan Distances/Solution.py
Labels: md, py, go, java, cpp, core team

#2527 feat: add solutions to lc problems: No.0894,0906
  solution/0800-0899/0894.All Possible Full Binary Trees/README.md
  solution/0800-0899/0894.All Possible Full Binary Trees/README_EN.md
  solution/0800-0899/0894.All Possible Full Binary Trees/Solution.cs
  solution/0800-0899/0894.All Possible Full Binary Trees/Solution.rs
  solution/0900-0999/0906.Super Palindromes/README.md
  solution/0900-0999/0906.Super Palindromes/README_EN.md
  solution/0900-0999/0906.Super Palindromes/Solution.cpp
  solution/0900-0999/0906.Super Palindromes/Solution.go
  solution/0900-0999/0906.Super Palindromes/Solution.java
  solution/0900-0999/0906.Super Palindromes/Solution.py
  solution/0900-0999/0906.Super Palindromes/Solution.ts
  solution/2900-2999/2967.Minimum Cost to Make Array Equalindromic/README.md
  solution/2900-2999/2967.Minimum Cost to Make Array Equalindromic/README_EN.md
Labels: md, ts, py, go, java, cpp, rs, core team, cs

#2528 feat: add solutions to lc/lcci problems
  lcci/02.06.Palindrome Linked List/README.md
  lcci/02.06.Palindrome Linked List/README_EN.md
  lcci/02.06.Palindrome Linked List/Solution.cpp
  lcci/02.06.Palindrome Linked List/Solution.cs
  lcci/02.06.Palindrome Linked List/Solution.go
  lcci/02.06.Palindrome Linked List/Solution.java
  lcci/02.06.Palindrome Linked List/Solution.js
  lcci/02.06.Palindrome Linked List/Solution.py
  lcci/02.06.Palindrome Linked List/Solution.ts
  lcci/02.06.Palindrome Linked List/Solution2.ts
  lcci/02.08.Linked List Cycle/README.md
  solution/0800-0899/0866.Prime Palindrome/README.md
  solution/2900-2999/2911.Minimum Changes to Make K Semi-palindromes/README_EN.md
  solution/3000-3099/3094.Guess the Number Using Bitwise Questions II/README.md
  solution/3000-3099/3094.Guess the Number Using Bitwise Questions II/README_EN.md
  solution/3000-3099/3095.Shortest Subarray With OR at Least K I/README.md
  solution/3000-3099/3095.Shortest Subarray With OR at Least K I/README_EN.md
  solution/3000-3099/3096.Minimum Levels to Gain More Points/README.md
  solution/3000-3099/3096.Minimum Levels to Gain More Points/README_EN.md
  solution/3000-3099/3097.Shortest Subarray With OR at Least K II/README.md
  solution/3000-3099/3097.Shortest Subarray With OR at Least K II/README_EN.md
  solution/3000-3099/3098.Find the Sum of Subsequence Powers/README.md
  solution/3000-3099/3098.Find the Sum of Subsequence Powers/README_EN.md
  solution/3000-3099/3099.Harshad Number/README.md
  solution/3000-3099/3099.Harshad Number/README_EN.md
  solution/3100-3199/3100.Water Bottles II/README.md
  solution/3100-3199/3100.Water Bottles II/README_EN.md
  solution/3100-3199/3101.Count Alternating Subarrays/README.md
  solution/3100-3199/3101.Count Alternating Subarrays/README_EN.md
  solution/3100-3199/3102.Minimize Manhattan Distances/README.md
  solution/3100-3199/3102.Minimize Manhattan Distances/README_EN.md
  solution/3100-3199/3103.Find Trending Hashtags II/README.md
  solution/3100-3199/3103.Find Trending Hashtags II/README_EN.md
  solution/3100-3199/3103.Find Trending Hashtags II/Solution.py
  solution/DATABASE_README.md
  solution/DATABASE_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/contest.json
  solution/database-summary.md
  solution/database-summary_en.md
Labels: js, md, ts, py, go, java, cpp, core team, cs

#2529 feat: add solutions to lcci problem: No.02.07
  lcci/02.07.Intersection of Two Linked Lists/README.md
  lcci/02.07.Intersection of Two Linked Lists/README_EN.md
  lcci/02.07.Intersection of Two Linked Lists/Solution.cpp
  lcci/02.07.Intersection of Two Linked Lists/Solution.go
  lcci/02.07.Intersection of Two Linked Lists/Solution.java
  lcci/02.07.Intersection of Two Linked Lists/Solution.js
  lcci/02.07.Intersection of Two Linked Lists/Solution.py
  lcci/02.07.Intersection of Two Linked Lists/Solution.swift
  lcci/02.07.Intersection of Two Linked Lists/Solution.ts
  solution/0100-0199/0160.Intersection of Two Linked Lists/README.md
  solution/0100-0199/0160.Intersection of Two Linked Lists/README_EN.md
Labels: js, md, ts, py, go, java, cpp, core team, swift

#2533 feat: add solutions to lcci problems: No.03.05,03.06
  lcci/03.05.Sort of Stacks/README.md
  lcci/03.05.Sort of Stacks/README_EN.md
  lcci/03.05.Sort of Stacks/Solution.cpp
  lcci/03.05.Sort of Stacks/Solution.go
  lcci/03.05.Sort of Stacks/Solution.java
  lcci/03.05.Sort of Stacks/Solution.py
  lcci/03.05.Sort of Stacks/Solution.rs
  lcci/03.05.Sort of Stacks/Solution.ts
  lcci/03.05.Sort of Stacks/Solution2.ts
  lcci/03.06.Animal Shelter/README.md
  lcci/03.06.Animal Shelter/README_EN.md
  lcci/03.06.Animal Shelter/Solution.cpp
  lcci/03.06.Animal Shelter/Solution.go
  lcci/03.06.Animal Shelter/Solution.java
  lcci/03.06.Animal Shelter/Solution.py
  lcci/03.06.Animal Shelter/Solution.rs
  lcci/03.06.Animal Shelter/Solution.ts
Labels: md, ts, py, go, java, cpp, rs, core team

#2534 feat: add solutions to lcci problem: No.04.01
  lcci/04.01.Route Between Nodes/README.md
  lcci/04.01.Route Between Nodes/README_EN.md
  lcci/04.01.Route Between Nodes/Solution.cpp
  lcci/04.01.Route Between Nodes/Solution.go
  lcci/04.01.Route Between Nodes/Solution.java
  lcci/04.01.Route Between Nodes/Solution.py
  lcci/04.01.Route Between Nodes/Solution.ts
  lcci/04.01.Route Between Nodes/Solution2.cpp
  lcci/04.01.Route Between Nodes/Solution2.go
  lcci/04.01.Route Between Nodes/Solution2.java
  lcci/04.01.Route Between Nodes/Solution2.py
  lcci/04.01.Route Between Nodes/Solution2.ts
Labels: md, ts, py, go, java, cpp, core team

#2535 feat: add solutions to lc problem: No.2192
  solution/2100-2199/2192.All Ancestors of a Node in a Directed Acyclic Graph/README.md
  solution/2100-2199/2192.All Ancestors of a Node in a Directed Acyclic Graph/README_EN.md
  solution/2100-2199/2192.All Ancestors of a Node in a Directed Acyclic Graph/Solution.cs
  solution/2100-2199/2192.All Ancestors of a Node in a Directed Acyclic Graph/Solution.ts
Labels: md, ts, core team, cs

#2537 feat: add solutions to lc problem: No.2209
  solution/2200-2299/2209.Minimum White Tiles After Covering With Carpets/README.md
  solution/2200-2299/2210.Count Hills and Valleys in an Array/README.md
  solution/2200-2299/2210.Count Hills and Valleys in an Array/README_EN.md
  solution/2200-2299/2210.Count Hills and Valleys in an Array/Solution.cpp
  solution/2200-2299/2210.Count Hills and Valleys in an Array/Solution.java
  solution/2200-2299/2210.Count Hills and Valleys in an Array/Solution.py
  solution/2200-2299/2210.Count Hills and Valleys in an Array/Solution.rs
  solution/2200-2299/2210.Count Hills and Valleys in an Array/Solution.ts
  solution/2200-2299/2210.Count Hills and Valleys in an Array/Solution2.py
Labels: md, ts, py, java, cpp, rs, core team

#2538 feat: add solutions to lc problem: No.1026
  solution/1000-1099/1026.Maximum Difference Between Node and Ancestor/README.md
  solution/1000-1099/1026.Maximum Difference Between Node and Ancestor/README_EN.md
  solution/1000-1099/1026.Maximum Difference Between Node and Ancestor/Solution.cs
  solution/1000-1099/1026.Maximum Difference Between Node and Ancestor/Solution.py
Labels: md, py, core team, cs

#2539 feat: add php solution to lc problems: No.0036-0040
  solution/0000-0099/0036.Valid Sudoku/README.md
  solution/0000-0099/0036.Valid Sudoku/README_EN.md
  solution/0000-0099/0036.Valid Sudoku/Solution.php
  solution/0000-0099/0037.Sudoku Solver/README.md
  solution/0000-0099/0037.Sudoku Solver/README_EN.md
  solution/0000-0099/0037.Sudoku Solver/Solution.php
  solution/0000-0099/0038.Count and Say/README.md
  solution/0000-0099/0038.Count and Say/README_EN.md
  solution/0000-0099/0038.Count and Say/Solution.php
  solution/0000-0099/0039.Combination Sum/README.md
  solution/0000-0099/0039.Combination Sum/README_EN.md
  solution/0000-0099/0039.Combination Sum/Solution.php
  solution/0000-0099/0040.Combination Sum II/README.md
  solution/0000-0099/0040.Combination Sum II/README_EN.md
  solution/0000-0099/0040.Combination Sum II/Solution.php
Labels: md, php

#2540 feat: add cs solution to lc problem: No.1483
  solution/1400-1499/1483.Kth Ancestor of a Tree Node/README.md
  solution/1400-1499/1483.Kth Ancestor of a Tree Node/README_EN.md
  solution/1400-1499/1483.Kth Ancestor of a Tree Node/Solution.cs
Labels: md, core team, cs

#2541 feat: add new lc problems and solutions
  package-lock.json
  solution/1300-1399/1364.Number of Trusted Contacts of a Customer/README.md
  solution/1300-1399/1364.Number of Trusted Contacts of a Customer/README_EN.md
  solution/1600-1699/1668.Maximum Repeating Substring/README.md
  solution/1600-1699/1668.Maximum Repeating Substring/README_EN.md
  solution/1700-1799/1738.Find Kth Largest XOR Coordinate Value/README.md
  solution/1700-1799/1738.Find Kth Largest XOR Coordinate Value/README_EN.md
  solution/2000-2099/2009.Minimum Number of Operations to Make Array Continuous/README.md
  solution/2000-2099/2009.Minimum Number of Operations to Make Array Continuous/README_EN.md
  solution/2600-2699/2681.Power of Heroes/README.md
  solution/2600-2699/2681.Power of Heroes/README_EN.md
  solution/2800-2899/2826.Sorting Three Groups/README_EN.md
  solution/2800-2899/2836.Maximize Value of Function in a Ball Passing Game/README_EN.md
  solution/3100-3199/3102.Minimize Manhattan Distances/README_EN.md
  solution/3100-3199/3103.Find Trending Hashtags II/README.md
  solution/3100-3199/3103.Find Trending Hashtags II/README_EN.md
  solution/3100-3199/3104.Find Longest Self-Contained Substring/README.md
  solution/3100-3199/3104.Find Longest Self-Contained Substring/README_EN.md
  solution/3100-3199/3104.Find Longest Self-Contained Substring/Solution.cpp
  solution/3100-3199/3104.Find Longest Self-Contained Substring/Solution.go
  solution/3100-3199/3104.Find Longest Self-Contained Substring/Solution.java
  solution/3100-3199/3104.Find Longest Self-Contained Substring/Solution.py
  solution/3100-3199/3104.Find Longest Self-Contained Substring/Solution.ts
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/DATABASE_README.md
  solution/DATABASE_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/database-summary.md
  solution/database-summary_en.md
Labels: md, ts, py, go, java, cpp, core team, json

#2542 feat: add solutions to lc problem: No.1600
  solution/1600-1699/1600.Throne Inheritance/README.md
  solution/1600-1699/1600.Throne Inheritance/README_EN.md
  solution/1600-1699/1600.Throne Inheritance/Solution.cpp
  solution/1600-1699/1600.Throne Inheritance/Solution.cs
  solution/1600-1699/1600.Throne Inheritance/Solution.go
  solution/1600-1699/1600.Throne Inheritance/Solution.java
  solution/1600-1699/1600.Throne Inheritance/Solution.py
  solution/1600-1699/1600.Throne Inheritance/Solution.ts
Labels: md, ts, py, go, java, cpp, core team, cs

#2543 feat: add solutions to lc problem: No.1601
  solution/1600-1699/1601.Maximum Number of Achievable Transfer Requests/README.md
  solution/1600-1699/1601.Maximum Number of Achievable Transfer Requests/README_EN.md
  solution/1600-1699/1601.Maximum Number of Achievable Transfer Requests/Solution.cs
  solution/1600-1699/1601.Maximum Number of Achievable Transfer Requests/Solution.ts
Labels: md, ts, core team, cs

#2544 feat: update solutions to lc problem: No.1460
  solution/1400-1499/1460.Make Two Arrays Equal by Reversing Subarrays/README.md
  solution/1400-1499/1460.Make Two Arrays Equal by Reversing Subarrays/README_EN.md
  solution/1400-1499/1460.Make Two Arrays Equal by Reversing Subarrays/Solution.c
  solution/1400-1499/1460.Make Two Arrays Equal by Reversing Subarrays/Solution.go
  solution/1400-1499/1460.Make Two Arrays Equal by Reversing Subarrays/Solution.py
  solution/1400-1499/1460.Make Two Arrays Equal by Reversing Subarrays/Solution.ts
  solution/1400-1499/1460.Make Two Arrays Equal by Reversing Subarrays/Solution2.c
  solution/1400-1499/1460.Make Two Arrays Equal by Reversing Subarrays/Solution2.cpp
  solution/1400-1499/1460.Make Two Arrays Equal by Reversing Subarrays/Solution2.go
  solution/1400-1499/1460.Make Two Arrays Equal by Reversing Subarrays/Solution2.rs
  solution/1400-1499/1460.Make Two Arrays Equal by Reversing Subarrays/Solution2.ts
  solution/1400-1499/1460.Make Two Arrays Equal by Reversing Subarrays/Solution3.cpp
  solution/1400-1499/1460.Make Two Arrays Equal by Reversing Subarrays/Solution3.go
  solution/1400-1499/1460.Make Two Arrays Equal by Reversing Subarrays/Solution3.java
  solution/1400-1499/1460.Make Two Arrays Equal by Reversing Subarrays/Solution3.py
Labels: md, ts, py, go, java, cpp, rs, core team, c

#2546 fix: update solutions to lc problem: No.0141
  solution/0100-0199/0141.Linked List Cycle/README.md
  solution/0100-0199/0141.Linked List Cycle/README_EN.md
  solution/0100-0199/0141.Linked List Cycle/Solution.cpp
  solution/0100-0199/0141.Linked List Cycle/Solution.go
  solution/0100-0199/0141.Linked List Cycle/Solution.java
  solution/0100-0199/0141.Linked List Cycle/Solution.py
  solution/0100-0199/0141.Linked List Cycle/Solution.ts
  solution/0100-0199/0141.Linked List Cycle/Solution2.cpp
  solution/0100-0199/0141.Linked List Cycle/Solution2.cs
  solution/0100-0199/0141.Linked List Cycle/Solution2.go
  solution/0100-0199/0141.Linked List Cycle/Solution2.java
  solution/0100-0199/0141.Linked List Cycle/Solution2.js
  solution/0100-0199/0141.Linked List Cycle/Solution2.py
Labels: js, md, ts, py, go, java, cpp, core team, cs

#2547 feat: update solutions to lc problem: No.0143
  solution/0100-0199/0143.Reorder List/README.md
  solution/0100-0199/0143.Reorder List/README_EN.md
  solution/0100-0199/0143.Reorder List/Solution.cpp
  solution/0100-0199/0143.Reorder List/Solution.cs
  solution/0100-0199/0143.Reorder List/Solution.go
  solution/0100-0199/0143.Reorder List/Solution.java
  solution/0100-0199/0143.Reorder List/Solution.js
  solution/0100-0199/0143.Reorder List/Solution.py
  solution/0100-0199/0143.Reorder List/Solution.ts
  solution/0100-0199/0143.Reorder List/Solution2.ts
Labels: js, md, ts, py, go, java, cpp, core team, cs

#2549 feat: add weekly contest 392
  solution/1300-1399/1364.Number of Trusted Contacts of a Customer/README.md
  solution/1300-1399/1364.Number of Trusted Contacts of a Customer/README_EN.md
  solution/1900-1999/1918.Kth Smallest Subarray Sum/README.md
  solution/2800-2899/2826.Sorting Three Groups/README.md
  solution/3000-3099/3087.Find Trending Hashtags/README.md
  solution/3000-3099/3094.Guess the Number Using Bitwise Questions II/README.md
  solution/3100-3199/3103.Find Trending Hashtags II/README.md
  solution/3100-3199/3105.Longest Strictly Increasing or Strictly Decreasing Subarray/README.md
  solution/3100-3199/3105.Longest Strictly Increasing or Strictly Decreasing Subarray/README_EN.md
  solution/3100-3199/3106.Lexicographically Smallest String After Operations With Constraint/README.md
  solution/3100-3199/3106.Lexicographically Smallest String After Operations With Constraint/README_EN.md
  solution/3100-3199/3107.Minimum Operations to Make Median of Array Equal to K/README.md
  solution/3100-3199/3107.Minimum Operations to Make Median of Array Equal to K/README_EN.md
  solution/3100-3199/3108.Minimum Cost Walk in Weighted Graph/README.md
  solution/3100-3199/3108.Minimum Cost Walk in Weighted Graph/README_EN.md
  solution/3100-3199/3108.Minimum Cost Walk in Weighted Graph/images/q4_example1-1.png
  solution/3100-3199/3108.Minimum Cost Walk in Weighted Graph/images/q4_example2e.png
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/DATABASE_README.md
  solution/DATABASE_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/contest.json
  solution/database-summary.md
  solution/database-summary_en.md
Labels: md, core team, json, png

#2550 feat: add solutions to lc problems: No.3105,3106
  solution/3100-3199/3105.Longest Strictly Increasing or Strictly Decreasing Subarray/README.md
  solution/3100-3199/3105.Longest Strictly Increasing or Strictly Decreasing Subarray/README_EN.md
  solution/3100-3199/3105.Longest Strictly Increasing or Strictly Decreasing Subarray/Solution.cpp
  solution/3100-3199/3105.Longest Strictly Increasing or Strictly Decreasing Subarray/Solution.go
  solution/3100-3199/3105.Longest Strictly Increasing or Strictly Decreasing Subarray/Solution.java
  solution/3100-3199/3105.Longest Strictly Increasing or Strictly Decreasing Subarray/Solution.py
  solution/3100-3199/3105.Longest Strictly Increasing or Strictly Decreasing Subarray/Solution.ts
  solution/3100-3199/3106.Lexicographically Smallest String After Operations With Constraint/README.md
  solution/3100-3199/3106.Lexicographically Smallest String After Operations With Constraint/README_EN.md
  solution/3100-3199/3106.Lexicographically Smallest String After Operations With Constraint/Solution.cpp
  solution/3100-3199/3106.Lexicographically Smallest String After Operations With Constraint/Solution.go
  solution/3100-3199/3106.Lexicographically Smallest String After Operations With Constraint/Solution.java
  solution/3100-3199/3106.Lexicographically Smallest String After Operations With Constraint/Solution.py
  solution/3100-3199/3106.Lexicographically Smallest String After Operations With Constraint/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2551 feat: add solutions to lc problem: No.3107
  solution/3100-3199/3107.Minimum Operations to Make Median of Array Equal to K/README.md
  solution/3100-3199/3107.Minimum Operations to Make Median of Array Equal to K/README_EN.md
  solution/3100-3199/3107.Minimum Operations to Make Median of Array Equal to K/Solution.cpp
  solution/3100-3199/3107.Minimum Operations to Make Median of Array Equal to K/Solution.go
  solution/3100-3199/3107.Minimum Operations to Make Median of Array Equal to K/Solution.java
  solution/3100-3199/3107.Minimum Operations to Make Median of Array Equal to K/Solution.py
  solution/3100-3199/3107.Minimum Operations to Make Median of Array Equal to K/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2553 feat: update solutions to lc problem: No.2529
  solution/2500-2599/2529.Maximum Count of Positive Integer and Negative Integer/README.md
  solution/2500-2599/2529.Maximum Count of Positive Integer and Negative Integer/README_EN.md
  solution/2500-2599/2529.Maximum Count of Positive Integer and Negative Integer/Solution.c
  solution/2500-2599/2529.Maximum Count of Positive Integer and Negative Integer/Solution.cpp
  solution/2500-2599/2529.Maximum Count of Positive Integer and Negative Integer/Solution.go
  solution/2500-2599/2529.Maximum Count of Positive Integer and Negative Integer/Solution.java
  solution/2500-2599/2529.Maximum Count of Positive Integer and Negative Integer/Solution.py
  solution/2500-2599/2529.Maximum Count of Positive Integer and Negative Integer/Solution.rs
  solution/2500-2599/2529.Maximum Count of Positive Integer and Negative Integer/Solution.ts
  solution/2500-2599/2529.Maximum Count of Positive Integer and Negative Integer/Solution2.c
  solution/2500-2599/2529.Maximum Count of Positive Integer and Negative Integer/Solution2.java
  solution/2500-2599/2529.Maximum Count of Positive Integer and Negative Integer/Solution2.rs
  solution/2500-2599/2529.Maximum Count of Positive Integer and Negative Integer/Solution2.ts
  solution/2500-2599/2529.Maximum Count of Positive Integer and Negative Integer/Solution3.rs
Labels: md, ts, py, go, java, cpp, rs, core team, c

#2554 feat: update solutions to lc problem: No.1456
  solution/1400-1499/1456.Maximum Number of Vowels in a Substring of Given Length/README.md
  solution/1400-1499/1456.Maximum Number of Vowels in a Substring of Given Length/README_EN.md
  solution/1400-1499/1456.Maximum Number of Vowels in a Substring of Given Length/Solution.cpp
  solution/1400-1499/1456.Maximum Number of Vowels in a Substring of Given Length/Solution.go
  solution/1400-1499/1456.Maximum Number of Vowels in a Substring of Given Length/Solution.java
  solution/1400-1499/1456.Maximum Number of Vowels in a Substring of Given Length/Solution.php
  solution/1400-1499/1456.Maximum Number of Vowels in a Substring of Given Length/Solution.py
  solution/1400-1499/1456.Maximum Number of Vowels in a Substring of Given Length/Solution.ts
Labels: md, ts, py, go, java, cpp, core team, php

#2555 feat: add solutions to lc problem: No.2269
  solution/2200-2299/2269.Find the K-Beauty of a Number/README.md
  solution/2200-2299/2269.Find the K-Beauty of a Number/README_EN.md
  solution/2200-2299/2269.Find the K-Beauty of a Number/Solution2.cpp
  solution/2200-2299/2269.Find the K-Beauty of a Number/Solution2.go
  solution/2200-2299/2269.Find the K-Beauty of a Number/Solution2.java
  solution/2200-2299/2269.Find the K-Beauty of a Number/Solution2.py
  solution/2200-2299/2269.Find the K-Beauty of a Number/Solution2.ts
Labels: md, ts, py, go, java, cpp, core team

#2556 feat: add solutions to lc problems: No.0643,1984
  solution/0600-0699/0643.Maximum Average Subarray I/README.md
  solution/0600-0699/0643.Maximum Average Subarray I/README_EN.md
  solution/0600-0699/0643.Maximum Average Subarray I/Solution.cpp
  solution/0600-0699/0643.Maximum Average Subarray I/Solution.go
  solution/0600-0699/0643.Maximum Average Subarray I/Solution.php
  solution/0600-0699/0643.Maximum Average Subarray I/Solution.py
  solution/0600-0699/0643.Maximum Average Subarray I/Solution.rs
  solution/0600-0699/0643.Maximum Average Subarray I/Solution.ts
  solution/0600-0699/0644.Maximum Average Subarray II/README_EN.md
  solution/1900-1999/1984.Minimum Difference Between Highest and Lowest of K Scores/README.md
  solution/1900-1999/1984.Minimum Difference Between Highest and Lowest of K Scores/README_EN.md
  solution/1900-1999/1984.Minimum Difference Between Highest and Lowest of K Scores/Solution.cpp
  solution/1900-1999/1984.Minimum Difference Between Highest and Lowest of K Scores/Solution.php
Labels: md, ts, py, go, cpp, rs, core team, php

#2558 feat: update solutions to lc problems: No.1343,2090
  solution/1300-1399/1343.Number of Sub-arrays of Size K and Average Greater than or Equal to Threshold/README.md
  solution/1300-1399/1343.Number of Sub-arrays of Size K and Average Greater than or Equal to Threshold/README_EN.md
  solution/1300-1399/1343.Number of Sub-arrays of Size K and Average Greater than or Equal to Threshold/Solution.cpp
  solution/1300-1399/1343.Number of Sub-arrays of Size K and Average Greater than or Equal to Threshold/Solution.go
  solution/1300-1399/1343.Number of Sub-arrays of Size K and Average Greater than or Equal to Threshold/Solution.java
  solution/1300-1399/1343.Number of Sub-arrays of Size K and Average Greater than or Equal to Threshold/Solution.py
  solution/1300-1399/1343.Number of Sub-arrays of Size K and Average Greater than or Equal to Threshold/Solution.ts
  solution/2000-2099/2090.K Radius Subarray Averages/README.md
  solution/2000-2099/2090.K Radius Subarray Averages/README_EN.md
  solution/2000-2099/2090.K Radius Subarray Averages/Solution.cpp
  solution/2000-2099/2090.K Radius Subarray Averages/Solution.go
  solution/2000-2099/2090.K Radius Subarray Averages/Solution.java
  solution/2000-2099/2090.K Radius Subarray Averages/Solution.py
  solution/2000-2099/2090.K Radius Subarray Averages/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2557 feat: add swift code to lcci problems: No.01.02,02.05
  lcci/01.02.Check Permutation/README.md
  lcci/01.02.Check Permutation/README_EN.md
  lcci/01.02.Check Permutation/Solution.swift
  lcci/02.05.Sum Lists/README.md
  lcci/02.05.Sum Lists/README_EN.md
  lcci/02.05.Sum Lists/Solution.swift
Labels: md, swift

#2559 feat: add solutions to lc problem: No.1052
  lcci/01.02.Check Permutation/README_EN.md
  solution/1000-1099/1052.Grumpy Bookstore Owner/README.md
  solution/1000-1099/1052.Grumpy Bookstore Owner/README_EN.md
  solution/1000-1099/1052.Grumpy Bookstore Owner/Solution.cpp
  solution/1000-1099/1052.Grumpy Bookstore Owner/Solution.go
  solution/1000-1099/1052.Grumpy Bookstore Owner/Solution.java
  solution/1000-1099/1052.Grumpy Bookstore Owner/Solution.py
  solution/1000-1099/1052.Grumpy Bookstore Owner/Solution.rs
  solution/1000-1099/1052.Grumpy Bookstore Owner/Solution.ts
  solution/1000-1099/1053.Previous Permutation With One Swap/README.md
  solution/1000-1099/1053.Previous Permutation With One Swap/README_EN.md
  solution/1000-1099/1054.Distant Barcodes/README_EN.md
  solution/1000-1099/1055.Shortest Way to Form String/README.md
  solution/1000-1099/1055.Shortest Way to Form String/README_EN.md
  solution/2300-2399/2379.Minimum Recolors to Get K Consecutive Black Blocks/README.md
  solution/2300-2399/2379.Minimum Recolors to Get K Consecutive Black Blocks/README_EN.md
Labels: md, ts, py, go, java, cpp, rs, core team

#2560 feat: add solutions to lc problems: No.2461,2841
  solution/2400-2499/2461.Maximum Sum of Distinct Subarrays With Length K/README.md
  solution/2400-2499/2461.Maximum Sum of Distinct Subarrays With Length K/README_EN.md
  solution/2400-2499/2461.Maximum Sum of Distinct Subarrays With Length K/Solution.cpp
  solution/2400-2499/2461.Maximum Sum of Distinct Subarrays With Length K/Solution.cs
  solution/2400-2499/2461.Maximum Sum of Distinct Subarrays With Length K/Solution.go
  solution/2400-2499/2461.Maximum Sum of Distinct Subarrays With Length K/Solution.java
  solution/2400-2499/2461.Maximum Sum of Distinct Subarrays With Length K/Solution.py
  solution/2400-2499/2461.Maximum Sum of Distinct Subarrays With Length K/Solution.ts
  solution/2800-2899/2841.Maximum Sum of Almost Unique Subarray/README.md
  solution/2800-2899/2841.Maximum Sum of Almost Unique Subarray/README_EN.md
  solution/2800-2899/2841.Maximum Sum of Almost Unique Subarray/Solution.cs
  solution/2800-2899/2841.Maximum Sum of Almost Unique Subarray/Solution.java
  solution/2800-2899/2841.Maximum Sum of Almost Unique Subarray/Solution.py
Labels: md, ts, py, go, java, cpp, core team, cs

#2561 feat: add dart solution to lc problem: No.1423
  solution/1400-1499/1423.Maximum Points You Can Obtain from Cards/README.md
  solution/1400-1499/1423.Maximum Points You Can Obtain from Cards/README_EN.md
Labels: md, core team

#2562 feat: add solutions to lc problem: No.2134
  solution/2100-2199/2134.Minimum Swaps to Group All 1's Together II/README.md
  solution/2100-2199/2134.Minimum Swaps to Group All 1's Together II/README_EN.md
  solution/2100-2199/2134.Minimum Swaps to Group All 1's Together II/Solution.cpp
  solution/2100-2199/2134.Minimum Swaps to Group All 1's Together II/Solution.cs
  solution/2100-2199/2134.Minimum Swaps to Group All 1's Together II/Solution.go
  solution/2100-2199/2134.Minimum Swaps to Group All 1's Together II/Solution.java
  solution/2100-2199/2134.Minimum Swaps to Group All 1's Together II/Solution.py
  solution/2100-2199/2134.Minimum Swaps to Group All 1's Together II/Solution.rs
  solution/2100-2199/2134.Minimum Swaps to Group All 1's Together II/Solution.ts
Labels: md, ts, py, go, java, cpp, rs, core team, cs

#2563 feat: add solutions to lc problem: No.2653
  solution/2600-2699/2653.Sliding Subarray Beauty/README.md
  solution/2600-2699/2653.Sliding Subarray Beauty/README_EN.md
  solution/2600-2699/2653.Sliding Subarray Beauty/Solution.py
  solution/2600-2699/2653.Sliding Subarray Beauty/Solution2.cpp
  solution/2600-2699/2653.Sliding Subarray Beauty/Solution2.go
  solution/2600-2699/2653.Sliding Subarray Beauty/Solution2.java
  solution/2600-2699/2653.Sliding Subarray Beauty/Solution2.py
Labels: md, py, go, java, cpp, core team

#2564 Swift Implementation for LCCI 01.01 & 01.03
  lcci/01.01.Is Unique/README.md
  lcci/01.01.Is Unique/README_EN.md
  lcci/01.01.Is Unique/Solution.swift
  lcci/01.03.String to URL/README.md
  lcci/01.03.String to URL/README_EN.md
  lcci/01.03.String to URL/Solution.swift
Labels: md, swift

#2565 feat: add solutions to lc problem: No.1702
  solution/1700-1799/1702.Maximum Binary String After Change/README.md
  solution/1700-1799/1702.Maximum Binary String After Change/README_EN.md
  solution/1700-1799/1702.Maximum Binary String After Change/Solution.cpp
  solution/1700-1799/1702.Maximum Binary String After Change/Solution.cs
  solution/1700-1799/1702.Maximum Binary String After Change/Solution.rs
  solution/1700-1799/1702.Maximum Binary String After Change/Solution.ts
Labels: md, ts, cpp, rs, core team, cs

#2566 feat: update lc problems
  solution/3000-3099/3082.Find the Sum of the Power of All Subsequences/README.md
  solution/3100-3199/3104.Find Longest Self-Contained Substring/README.md
  solution/3100-3199/3104.Find Longest Self-Contained Substring/README_EN.md
  solution/3100-3199/3105.Longest Strictly Increasing or Strictly Decreasing Subarray/README.md
  solution/3100-3199/3105.Longest Strictly Increasing or Strictly Decreasing Subarray/README_EN.md
  solution/3100-3199/3106.Lexicographically Smallest String After Operations With Constraint/README.md
  solution/3100-3199/3106.Lexicographically Smallest String After Operations With Constraint/README_EN.md
  solution/3100-3199/3107.Minimum Operations to Make Median of Array Equal to K/README.md
  solution/3100-3199/3107.Minimum Operations to Make Median of Array Equal to K/README_EN.md
  solution/3100-3199/3108.Minimum Cost Walk in Weighted Graph/README.md
  solution/3100-3199/3108.Minimum Cost Walk in Weighted Graph/README_EN.md
  solution/README.md
  solution/README_EN.md
Labels: md, core team

#2567 feat: update ts solutions to lc problem: No.0402
  solution/0400-0499/0402.Remove K Digits/README.md
  solution/0400-0499/0402.Remove K Digits/README_EN.md
  solution/0400-0499/0402.Remove K Digits/Solution.ts
Labels: md, ts

#2568 feat: add solutions to lc problems: No.2156,3109
  solution/0400-0499/0438.Find All Anagrams in a String/README.md
  solution/0400-0499/0438.Find All Anagrams in a String/README_EN.md
  solution/0400-0499/0438.Find All Anagrams in a String/Solution2.ts
  solution/1700-1799/1766.Tree of Coprimes/README.md
  solution/1700-1799/1766.Tree of Coprimes/README_EN.md
  solution/2100-2199/2156.Find Substring With Given Hash Value/README.md
  solution/2100-2199/2156.Find Substring With Given Hash Value/README_EN.md
  solution/2100-2199/2156.Find Substring With Given Hash Value/Solution.cpp
  solution/2100-2199/2156.Find Substring With Given Hash Value/Solution.go
  solution/2100-2199/2156.Find Substring With Given Hash Value/Solution.java
  solution/2100-2199/2156.Find Substring With Given Hash Value/Solution.js
  solution/2100-2199/2156.Find Substring With Given Hash Value/Solution.py
  solution/2100-2199/2156.Find Substring With Given Hash Value/Solution.ts
  solution/3100-3199/3109.Find the Index of Permutation/README.md
  solution/3100-3199/3109.Find the Index of Permutation/README_EN.md
  solution/3100-3199/3109.Find the Index of Permutation/Solution.cpp
  solution/3100-3199/3109.Find the Index of Permutation/Solution.go
  solution/3100-3199/3109.Find the Index of Permutation/Solution.java
  solution/3100-3199/3109.Find the Index of Permutation/Solution.py
  solution/3100-3199/3109.Find the Index of Permutation/Solution.ts
  solution/README.md
  solution/README_EN.md
Labels: js, md, ts, py, go, java, cpp, core team

#2569 feat: update solutions to lc problems: No.1100,1852
  solution/1100-1199/1100.Find K-Length Substrings With No Repeated Characters/README.md
  solution/1100-1199/1100.Find K-Length Substrings With No Repeated Characters/README_EN.md
  solution/1100-1199/1100.Find K-Length Substrings With No Repeated Characters/Solution.cpp
  solution/1100-1199/1100.Find K-Length Substrings With No Repeated Characters/Solution.go
  solution/1100-1199/1100.Find K-Length Substrings With No Repeated Characters/Solution.java
  solution/1100-1199/1100.Find K-Length Substrings With No Repeated Characters/Solution.php
  solution/1100-1199/1100.Find K-Length Substrings With No Repeated Characters/Solution.py
  solution/1100-1199/1100.Find K-Length Substrings With No Repeated Characters/Solution.ts
  solution/1100-1199/1100.Find K-Length Substrings With No Repeated Characters/Solution2.cpp
  solution/1100-1199/1100.Find K-Length Substrings With No Repeated Characters/Solution2.go
  solution/1100-1199/1100.Find K-Length Substrings With No Repeated Characters/Solution2.java
  solution/1100-1199/1100.Find K-Length Substrings With No Repeated Characters/Solution2.py
  solution/1800-1899/1852.Distinct Numbers in Each Subarray/README.md
  solution/1800-1899/1852.Distinct Numbers in Each Subarray/README_EN.md
Labels: md, ts, py, go, java, cpp, core team, php

#2571 feat: add solutions to lc problem: No.2070
  solution/2000-2099/2070.Most Beautiful Item for Each Query/README.md
  solution/2000-2099/2070.Most Beautiful Item for Each Query/README_EN.md
  solution/2000-2099/2070.Most Beautiful Item for Each Query/Solution.cpp
  solution/2000-2099/2070.Most Beautiful Item for Each Query/Solution.go
  solution/2000-2099/2070.Most Beautiful Item for Each Query/Solution.java
  solution/2000-2099/2070.Most Beautiful Item for Each Query/Solution.py
  solution/2000-2099/2070.Most Beautiful Item for Each Query/Solution.ts
  solution/2000-2099/2070.Most Beautiful Item for Each Query/Solution2.cpp
  solution/2000-2099/2070.Most Beautiful Item for Each Query/Solution2.go
  solution/2000-2099/2070.Most Beautiful Item for Each Query/Solution2.java
  solution/2000-2099/2070.Most Beautiful Item for Each Query/Solution2.py
  solution/2000-2099/2070.Most Beautiful Item for Each Query/Solution2.ts
Labels: md, ts, py, go, java, cpp, core team

#2572 feat: add solutions to lc problems: No.1493,2730
  solution/1400-1499/1493.Longest Subarray of 1's After Deleting One Element/README.md
  solution/1400-1499/1493.Longest Subarray of 1's After Deleting One Element/README_EN.md
  solution/1400-1499/1493.Longest Subarray of 1's After Deleting One Element/Solution.cpp
  solution/1400-1499/1493.Longest Subarray of 1's After Deleting One Element/Solution.go
  solution/1400-1499/1493.Longest Subarray of 1's After Deleting One Element/Solution.java
  solution/1400-1499/1493.Longest Subarray of 1's After Deleting One Element/Solution.py
  solution/1400-1499/1493.Longest Subarray of 1's After Deleting One Element/Solution.ts
  solution/1400-1499/1493.Longest Subarray of 1's After Deleting One Element/Solution2.cpp
  solution/1400-1499/1493.Longest Subarray of 1's After Deleting One Element/Solution2.go
  solution/1400-1499/1493.Longest Subarray of 1's After Deleting One Element/Solution2.java
  solution/1400-1499/1493.Longest Subarray of 1's After Deleting One Element/Solution2.py
  solution/1400-1499/1493.Longest Subarray of 1's After Deleting One Element/Solution2.ts
  solution/2700-2799/2730.Find the Longest Semi-Repetitive Substring/README.md
  solution/2700-2799/2730.Find the Longest Semi-Repetitive Substring/README_EN.md
  solution/2700-2799/2730.Find the Longest Semi-Repetitive Substring/Solution.cpp
  solution/2700-2799/2730.Find the Longest Semi-Repetitive Substring/Solution.go
  solution/2700-2799/2730.Find the Longest Semi-Repetitive Substring/Solution.java
  solution/2700-2799/2730.Find the Longest Semi-Repetitive Substring/Solution.py
  solution/2700-2799/2730.Find the Longest Semi-Repetitive Substring/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2573 feat: add solutions to lc problems: No.0904,1695
  solution/0900-0999/0904.Fruit Into Baskets/README.md
  solution/0900-0999/0904.Fruit Into Baskets/README_EN.md
  solution/0900-0999/0904.Fruit Into Baskets/Solution.cpp
  solution/0900-0999/0904.Fruit Into Baskets/Solution.java
  solution/0900-0999/0904.Fruit Into Baskets/Solution.rs
  solution/0900-0999/0904.Fruit Into Baskets/Solution.ts
  solution/0900-0999/0904.Fruit Into Baskets/Solution2.cpp
  solution/0900-0999/0904.Fruit Into Baskets/Solution2.java
  solution/0900-0999/0904.Fruit Into Baskets/Solution2.rs
  solution/0900-0999/0904.Fruit Into Baskets/Solution2.ts
  solution/1600-1699/1695.Maximum Erasure Value/README.md
  solution/1600-1699/1695.Maximum Erasure Value/README_EN.md
  solution/1600-1699/1695.Maximum Erasure Value/Solution2.cpp
  solution/1600-1699/1695.Maximum Erasure Value/Solution2.go
  solution/1600-1699/1695.Maximum Erasure Value/Solution2.java
  solution/1600-1699/1695.Maximum Erasure Value/Solution2.py
  solution/1600-1699/1695.Maximum Erasure Value/Solution2.ts
Labels: md, ts, py, go, java, cpp, rs, core team

#2574 feat: add solutions to lc problems: No.1004,2024
  solution/1000-1099/1004.Max Consecutive Ones III/README.md
  solution/1000-1099/1004.Max Consecutive Ones III/README_EN.md
  solution/1000-1099/1004.Max Consecutive Ones III/Solution.ts
  solution/1000-1099/1004.Max Consecutive Ones III/Solution2.rs
  solution/1000-1099/1004.Max Consecutive Ones III/Solution2.ts
  solution/2000-2099/2024.Maximize the Confusion of an Exam/README.md
  solution/2000-2099/2024.Maximize the Confusion of an Exam/README_EN.md
  solution/2000-2099/2024.Maximize the Confusion of an Exam/Solution.cpp
  solution/2000-2099/2024.Maximize the Confusion of an Exam/Solution.go
  solution/2000-2099/2024.Maximize the Confusion of an Exam/Solution.java
  solution/2000-2099/2024.Maximize the Confusion of an Exam/Solution.py
  solution/2000-2099/2024.Maximize the Confusion of an Exam/Solution.rs
  solution/2000-2099/2024.Maximize the Confusion of an Exam/Solution.ts
Labels: md, ts, py, go, java, cpp, rs, core team

#2575 feat: add solutions to lc problem: No.1438
  solution/1400-1499/1438.Longest Continuous Subarray With Absolute Diff Less Than or Equal to Limit/README.md
  solution/1400-1499/1438.Longest Continuous Subarray With Absolute Diff Less Than or Equal to Limit/README_EN.md
  solution/1400-1499/1438.Longest Continuous Subarray With Absolute Diff Less Than or Equal to Limit/Solution.go
  solution/1400-1499/1438.Longest Continuous Subarray With Absolute Diff Less Than or Equal to Limit/Solution.java
  solution/1400-1499/1438.Longest Continuous Subarray With Absolute Diff Less Than or Equal to Limit/Solution.py
  solution/1400-1499/1438.Longest Continuous Subarray With Absolute Diff Less Than or Equal to Limit/Solution.ts
  solution/1400-1499/1438.Longest Continuous Subarray With Absolute Diff Less Than or Equal to Limit/Solution2.cpp
  solution/1400-1499/1438.Longest Continuous Subarray With Absolute Diff Less Than or Equal to Limit/Solution2.go
  solution/1400-1499/1438.Longest Continuous Subarray With Absolute Diff Less Than or Equal to Limit/Solution2.java
  solution/1400-1499/1438.Longest Continuous Subarray With Absolute Diff Less Than or Equal to Limit/Solution2.py
  solution/1400-1499/1438.Longest Continuous Subarray With Absolute Diff Less Than or Equal to Limit/Solution2.ts
Labels: md, ts, py, go, java, cpp, core team

#2576 feat: add solutions to lc problem: No.0924
  solution/0900-0999/0924.Minimize Malware Spread/README.md
  solution/0900-0999/0924.Minimize Malware Spread/README_EN.md
  solution/0900-0999/0924.Minimize Malware Spread/Solution.cpp
  solution/0900-0999/0924.Minimize Malware Spread/Solution.go
  solution/0900-0999/0924.Minimize Malware Spread/Solution.java
  solution/0900-0999/0924.Minimize Malware Spread/Solution.py
  solution/0900-0999/0924.Minimize Malware Spread/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2577 feat: add solutions to lcci problems: No.01.04,01.05
  lcci/01.04.Palindrome Permutation/README.md
  lcci/01.04.Palindrome Permutation/README_EN.md
  lcci/01.04.Palindrome Permutation/Solution.swift
  lcci/01.05.One Away/README.md
  lcci/01.05.One Away/README_EN.md
  lcci/01.05.One Away/Solution.swift
Labels: md, swift

#2578 feat: add solutions to lc problems: No.1658,2401
  solution/1600-1699/1658.Minimum Operations to Reduce X to Zero/README.md
  solution/1600-1699/1658.Minimum Operations to Reduce X to Zero/README_EN.md
  solution/1600-1699/1658.Minimum Operations to Reduce X to Zero/Solution.c
  solution/1600-1699/1658.Minimum Operations to Reduce X to Zero/Solution.cpp
  solution/1600-1699/1658.Minimum Operations to Reduce X to Zero/Solution.go
  solution/1600-1699/1658.Minimum Operations to Reduce X to Zero/Solution.java
  solution/1600-1699/1658.Minimum Operations to Reduce X to Zero/Solution.py
  solution/1600-1699/1658.Minimum Operations to Reduce X to Zero/Solution.rs
  solution/1600-1699/1658.Minimum Operations to Reduce X to Zero/Solution.ts
  solution/1600-1699/1658.Minimum Operations to Reduce X to Zero/Solution2.cpp
  solution/1600-1699/1658.Minimum Operations to Reduce X to Zero/Solution2.go
  solution/1600-1699/1658.Minimum Operations to Reduce X to Zero/Solution2.java
  solution/1600-1699/1658.Minimum Operations to Reduce X to Zero/Solution2.py
  solution/1600-1699/1658.Minimum Operations to Reduce X to Zero/Solution2.rs
  solution/1600-1699/1658.Minimum Operations to Reduce X to Zero/Solution2.ts
  solution/2400-2499/2401.Longest Nice Subarray/README.md
  solution/2400-2499/2401.Longest Nice Subarray/README_EN.md
  solution/2400-2499/2401.Longest Nice Subarray/Solution.cs
  solution/2400-2499/2401.Longest Nice Subarray/Solution.rs
Labels: md, ts, py, go, java, cpp, rs, core team, cs, c

#2579 chore: remove summary files
  .husky/pre-commit
  solution/database-summary.md
  solution/database-summary_en.md
  solution/javascript-summary.md
  solution/javascript-summary_en.md
Labels: md, core team, husky/pre-commit

#2580 feat: add solutions to lc problem: No.1838
  solution/1800-1899/1838.Frequency of the Most Frequent Element/README.md
  solution/1800-1899/1838.Frequency of the Most Frequent Element/README_EN.md
  solution/1800-1899/1838.Frequency of the Most Frequent Element/Solution.cpp
  solution/1800-1899/1838.Frequency of the Most Frequent Element/Solution.go
  solution/1800-1899/1838.Frequency of the Most Frequent Element/Solution.java
  solution/1800-1899/1838.Frequency of the Most Frequent Element/Solution.js
  solution/1800-1899/1838.Frequency of the Most Frequent Element/Solution.py
  solution/1800-1899/1838.Frequency of the Most Frequent Element/Solution.ts
  solution/1800-1899/1838.Frequency of the Most Frequent Element/Solution2.cpp
  solution/1800-1899/1838.Frequency of the Most Frequent Element/Solution2.go
  solution/1800-1899/1838.Frequency of the Most Frequent Element/Solution2.java
  solution/1800-1899/1838.Frequency of the Most Frequent Element/Solution2.js
  solution/1800-1899/1838.Frequency of the Most Frequent Element/Solution2.py
  solution/1800-1899/1838.Frequency of the Most Frequent Element/Solution2.ts
Labels: js, md, ts, py, go, java, cpp, core team

#2581 feat: add solutions to lc problem: No.2516
  solution/2500-2599/2516.Take K of Each Character From Left and Right/README.md
  solution/2500-2599/2516.Take K of Each Character From Left and Right/README_EN.md
  solution/2500-2599/2516.Take K of Each Character From Left and Right/Solution.cpp
  solution/2500-2599/2516.Take K of Each Character From Left and Right/Solution.go
  solution/2500-2599/2516.Take K of Each Character From Left and Right/Solution.java
  solution/2500-2599/2516.Take K of Each Character From Left and Right/Solution.py
  solution/2500-2599/2516.Take K of Each Character From Left and Right/Solution.rs
  solution/2500-2599/2516.Take K of Each Character From Left and Right/Solution.ts
Labels: md, ts, py, go, java, cpp, rs, core team

#2582 feat: add new lc problems
  solution/0100-0199/0139.Word Break/README.md
  solution/0100-0199/0140.Word Break II/README.md
  solution/0300-0399/0351.Android Unlock Patterns/README.md
  solution/0300-0399/0351.Android Unlock Patterns/README_EN.md
  solution/0400-0499/0418.Sentence Screen Fitting/README.md
  solution/0400-0499/0418.Sentence Screen Fitting/README_EN.md
  solution/0500-0599/0548.Split Array with Equal Sum/README.md
  solution/0500-0599/0548.Split Array with Equal Sum/README_EN.md
  solution/0600-0699/0636.Exclusive Time of Functions/README.md
  solution/0600-0699/0648.Replace Words/README.md
  solution/0600-0699/0648.Replace Words/README_EN.md
  solution/0600-0699/0681.Next Closest Time/README.md
  solution/0600-0699/0681.Next Closest Time/README_EN.md
  solution/0700-0799/0786.K-th Smallest Prime Fraction/README.md
  solution/0700-0799/0786.K-th Smallest Prime Fraction/README_EN.md
  solution/1700-1799/1766.Tree of Coprimes/README.md
  solution/1700-1799/1766.Tree of Coprimes/README_EN.md
  solution/2400-2499/2446.Determine if Two Events Have Conflict/README.md
  solution/2400-2499/2446.Determine if Two Events Have Conflict/README_EN.md
  solution/3100-3199/3110.Score of a String/README.md
  solution/3100-3199/3110.Score of a String/README_EN.md
  solution/3100-3199/3110.Score of a String/Solution.cpp
  solution/3100-3199/3110.Score of a String/Solution.go
  solution/3100-3199/3110.Score of a String/Solution.java
  solution/3100-3199/3110.Score of a String/Solution.py
  solution/3100-3199/3110.Score of a String/Solution.ts
  solution/3100-3199/3111.Minimum Rectangles to Cover Points/README.md
  solution/3100-3199/3111.Minimum Rectangles to Cover Points/README_EN.md
  solution/3100-3199/3111.Minimum Rectangles to Cover Points/images/screenshot-from-2024-03-04-18-59-12.png
  solution/3100-3199/3111.Minimum Rectangles to Cover Points/images/screenshot-from-2024-03-04-20-33-05.png
  solution/3100-3199/3112.Minimum Time to Visit Disappearing Nodes/README.md
  solution/3100-3199/3112.Minimum Time to Visit Disappearing Nodes/README_EN.md
  solution/3100-3199/3112.Minimum Time to Visit Disappearing Nodes/images/example1.png
  solution/3100-3199/3112.Minimum Time to Visit Disappearing Nodes/images/example2.png
  solution/3100-3199/3113.Find the Number of Subarrays Where Boundary Elements Are Maximum/README.md
  solution/3100-3199/3113.Find the Number of Subarrays Where Boundary Elements Are Maximum/README_EN.md
  solution/3100-3199/3114.Latest Time You Can Obtain After Replacing Characters/README.md
  solution/3100-3199/3114.Latest Time You Can Obtain After Replacing Characters/README_EN.md
  solution/3100-3199/3115.Maximum Prime Difference/README.md
  solution/3100-3199/3115.Maximum Prime Difference/README_EN.md
  solution/3100-3199/3116.Kth Smallest Amount With Single Denomination Combination/README.md
  solution/3100-3199/3116.Kth Smallest Amount With Single Denomination Combination/README_EN.md
  solution/3100-3199/3117.Minimum Sum of Values by Dividing Array/README.md
  solution/3100-3199/3117.Minimum Sum of Values by Dividing Array/README_EN.md
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/contest.json
  solution/main.py
Labels: md, ts, py, go, java, cpp, core team, png

#2583 feat: add solutions to lc problems: No.3111,3112
  solution/3100-3199/3111.Minimum Rectangles to Cover Points/README.md
  solution/3100-3199/3111.Minimum Rectangles to Cover Points/README_EN.md
  solution/3100-3199/3111.Minimum Rectangles to Cover Points/Solution.cpp
  solution/3100-3199/3111.Minimum Rectangles to Cover Points/Solution.go
  solution/3100-3199/3111.Minimum Rectangles to Cover Points/Solution.java
  solution/3100-3199/3111.Minimum Rectangles to Cover Points/Solution.py
  solution/3100-3199/3111.Minimum Rectangles to Cover Points/Solution.ts
  solution/3100-3199/3112.Minimum Time to Visit Disappearing Nodes/README.md
  solution/3100-3199/3112.Minimum Time to Visit Disappearing Nodes/README_EN.md
  solution/3100-3199/3112.Minimum Time to Visit Disappearing Nodes/Solution.cpp
  solution/3100-3199/3112.Minimum Time to Visit Disappearing Nodes/Solution.go
  solution/3100-3199/3112.Minimum Time to Visit Disappearing Nodes/Solution.java
  solution/3100-3199/3112.Minimum Time to Visit Disappearing Nodes/Solution.py
Labels: md, ts, py, go, java, cpp, core team

#2584 feat: add sql solution to lc problem: No.3118
  solution/1200-1299/1249.Minimum Remove to Make Valid Parentheses/README_EN.md
  solution/2700-2799/2796.Repeat String/README_EN.md
  solution/2800-2899/2821.Delay the Resolution of Each Promise/README_EN.md
  solution/3000-3099/3096.Minimum Levels to Gain More Points/README_EN.md
  solution/3100-3199/3112.Minimum Time to Visit Disappearing Nodes/README_EN.md
  solution/3100-3199/3118.Friday Purchase III/README.md
  solution/3100-3199/3118.Friday Purchase III/README_EN.md
  solution/3100-3199/3118.Friday Purchase III/Solution.sql
  solution/DATABASE_README.md
  solution/DATABASE_README_EN.md
  solution/README.md
  solution/README_EN.md
Labels: md, core team, sql

#2588 feat: add solutions to lc problem: No.3116
  solution/3100-3199/3116.Kth Smallest Amount With Single Denomination Combination/README.md
  solution/3100-3199/3116.Kth Smallest Amount With Single Denomination Combination/README_EN.md
  solution/3100-3199/3116.Kth Smallest Amount With Single Denomination Combination/Solution.cpp
  solution/3100-3199/3116.Kth Smallest Amount With Single Denomination Combination/Solution.go
  solution/3100-3199/3116.Kth Smallest Amount With Single Denomination Combination/Solution.java
  solution/3100-3199/3116.Kth Smallest Amount With Single Denomination Combination/Solution.py
  solution/3100-3199/3116.Kth Smallest Amount With Single Denomination Combination/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2589 feat: update swift solutions to lc problem: No.01.06、No.01.07
  lcci/01.06.Compress String/README.md
  lcci/01.06.Compress String/README_EN.md
  lcci/01.06.Compress String/Solution.swift
  lcci/01.07.Rotate Matrix/README.md
  lcci/01.07.Rotate Matrix/README_EN.md
  lcci/01.07.Rotate Matrix/Solution.swift
Labels: md, swift

#2590 feat: add solutions to lc problem: No.3117
  solution/3100-3199/3117.Minimum Sum of Values by Dividing Array/README.md
  solution/3100-3199/3117.Minimum Sum of Values by Dividing Array/README_EN.md
  solution/3100-3199/3117.Minimum Sum of Values by Dividing Array/Solution.cpp
  solution/3100-3199/3117.Minimum Sum of Values by Dividing Array/Solution.go
  solution/3100-3199/3117.Minimum Sum of Values by Dividing Array/Solution.java
  solution/3100-3199/3117.Minimum Sum of Values by Dividing Array/Solution.py
  solution/3100-3199/3117.Minimum Sum of Values by Dividing Array/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2591 ci(supplement): auto comment tutorial
  .github/workflows/pr-labeled.yml
Labels: core team, yml

#2592 feat: add solutions to lc problem: No.3114
  solution/3100-3199/3114.Latest Time You Can Obtain After Replacing Characters/README.md
  solution/3100-3199/3114.Latest Time You Can Obtain After Replacing Characters/README_EN.md
  solution/3100-3199/3114.Latest Time You Can Obtain After Replacing Characters/Solution2.cpp
  solution/3100-3199/3114.Latest Time You Can Obtain After Replacing Characters/Solution2.go
  solution/3100-3199/3114.Latest Time You Can Obtain After Replacing Characters/Solution2.java
  solution/3100-3199/3114.Latest Time You Can Obtain After Replacing Characters/Solution2.py
  solution/3100-3199/3114.Latest Time You Can Obtain After Replacing Characters/Solution2.ts
  solution/3100-3199/3117.Minimum Sum of Values by Dividing Array/README.md
Labels: md, ts, py, go, java, cpp, core team

#2593 feat: add solutions to lc problem: No.0928
  solution/0900-0999/0928.Minimize Malware Spread II/README.md
  solution/0900-0999/0928.Minimize Malware Spread II/README_EN.md
  solution/0900-0999/0928.Minimize Malware Spread II/Solution.cpp
  solution/0900-0999/0928.Minimize Malware Spread II/Solution.go
  solution/0900-0999/0928.Minimize Malware Spread II/Solution.java
  solution/0900-0999/0928.Minimize Malware Spread II/Solution.py
  solution/0900-0999/0928.Minimize Malware Spread II/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2595 feat: update solutions to lc problem: No.2007
  solution/2000-2099/2007.Find Original Array From Doubled Array/README.md
  solution/2000-2099/2007.Find Original Array From Doubled Array/README_EN.md
  solution/2000-2099/2007.Find Original Array From Doubled Array/Solution.cpp
  solution/2000-2099/2007.Find Original Array From Doubled Array/Solution.go
  solution/2000-2099/2007.Find Original Array From Doubled Array/Solution.java
  solution/2000-2099/2007.Find Original Array From Doubled Array/Solution.py
  solution/2000-2099/2007.Find Original Array From Doubled Array/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2596 feat: add solutions to lc problem: No.0923
  solution/0900-0999/0923.3Sum With Multiplicity/README.md
  solution/0900-0999/0923.3Sum With Multiplicity/README_EN.md
  solution/0900-0999/0923.3Sum With Multiplicity/Solution.cpp
  solution/0900-0999/0923.3Sum With Multiplicity/Solution.go
  solution/0900-0999/0923.3Sum With Multiplicity/Solution.java
  solution/0900-0999/0923.3Sum With Multiplicity/Solution.py
  solution/0900-0999/0923.3Sum With Multiplicity/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2597 ci(invalid): auto comment
  .github/workflows/pr-labeled.yml
Labels: core team, yml

#2601 feat: add solutions to lc problems
  solution/0900-0999/0908.Smallest Range I/README.md
  solution/0900-0999/0908.Smallest Range I/README_EN.md
  solution/0900-0999/0908.Smallest Range I/Solution.ts
  solution/0900-0999/0910.Smallest Range II/README.md
  solution/0900-0999/0910.Smallest Range II/README_EN.md
  solution/0900-0999/0910.Smallest Range II/Solution.ts
  solution/0900-0999/0917.Reverse Only Letters/README.md
  solution/0900-0999/0917.Reverse Only Letters/README_EN.md
  solution/0900-0999/0917.Reverse Only Letters/Solution.cpp
  solution/0900-0999/0917.Reverse Only Letters/Solution.go
  solution/0900-0999/0917.Reverse Only Letters/Solution.java
  solution/0900-0999/0917.Reverse Only Letters/Solution.py
  solution/0900-0999/0917.Reverse Only Letters/Solution.ts
  solution/0900-0999/0941.Valid Mountain Array/README.md
  solution/0900-0999/0941.Valid Mountain Array/README_EN.md
  solution/0900-0999/0941.Valid Mountain Array/Solution.cpp
  solution/0900-0999/0941.Valid Mountain Array/Solution.go
  solution/0900-0999/0941.Valid Mountain Array/Solution.java
  solution/0900-0999/0941.Valid Mountain Array/Solution.py
  solution/0900-0999/0941.Valid Mountain Array/Solution.ts
  solution/0900-0999/0977.Squares of a Sorted Array/README.md
  solution/0900-0999/0977.Squares of a Sorted Array/README_EN.md
  solution/0900-0999/0977.Squares of a Sorted Array/Solution.cpp
  solution/0900-0999/0977.Squares of a Sorted Array/Solution.go
  solution/0900-0999/0977.Squares of a Sorted Array/Solution.java
  solution/0900-0999/0977.Squares of a Sorted Array/Solution.js
  solution/0900-0999/0977.Squares of a Sorted Array/Solution.php
  solution/0900-0999/0977.Squares of a Sorted Array/Solution.py
  solution/0900-0999/0977.Squares of a Sorted Array/Solution.rs
Labels: js, md, ts, py, go, java, cpp, rs, core team, php

#2602 feat: add solutions to lc problems: No.271,276
  solution/0200-0299/0266.Palindrome Permutation/README.md
  solution/0200-0299/0271.Encode and Decode Strings/README.md
  solution/0200-0299/0271.Encode and Decode Strings/README_EN.md
  solution/0200-0299/0271.Encode and Decode Strings/Solution.py
  solution/0200-0299/0271.Encode and Decode Strings/Solution2.py
  solution/0200-0299/0276.Paint Fence/README.md
  solution/0200-0299/0276.Paint Fence/README_EN.md
  solution/0200-0299/0276.Paint Fence/Solution.cpp
  solution/0200-0299/0276.Paint Fence/Solution.go
  solution/0200-0299/0276.Paint Fence/Solution.java
  solution/0200-0299/0276.Paint Fence/Solution.py
  solution/0200-0299/0276.Paint Fence/Solution.ts
  solution/0200-0299/0276.Paint Fence/Solution2.cpp
  solution/0200-0299/0276.Paint Fence/Solution2.go
  solution/0200-0299/0276.Paint Fence/Solution2.java
  solution/0200-0299/0276.Paint Fence/Solution2.py
  solution/0200-0299/0276.Paint Fence/Solution2.ts
Labels: md, ts, py, go, java, cpp, core team

#2603 feat: add solutions to lc problem: No.261
  solution/0200-0299/0261.Graph Valid Tree/README.md
  solution/0200-0299/0261.Graph Valid Tree/README_EN.md
  solution/0200-0299/0261.Graph Valid Tree/Solution.cpp
  solution/0200-0299/0261.Graph Valid Tree/Solution.go
  solution/0200-0299/0261.Graph Valid Tree/Solution.java
  solution/0200-0299/0261.Graph Valid Tree/Solution.js
  solution/0200-0299/0261.Graph Valid Tree/Solution.py
  solution/0200-0299/0261.Graph Valid Tree/Solution2.cpp
  solution/0200-0299/0261.Graph Valid Tree/Solution2.go
  solution/0200-0299/0261.Graph Valid Tree/Solution2.java
  solution/0200-0299/0261.Graph Valid Tree/Solution2.js
  solution/0200-0299/0261.Graph Valid Tree/Solution2.py
Labels: js, md, py, go, java, cpp, core team

#2604 Swift implementation for LCCI 01.08, 01.09 & 02.01
  lcci/01.08.Zero Matrix/README.md
  lcci/01.08.Zero Matrix/README_EN.md
  lcci/01.08.Zero Matrix/Solution.swift
  lcci/01.09.String Rotation/README.md
  lcci/01.09.String Rotation/README_EN.md
  lcci/01.09.String Rotation/Solution.swift
  lcci/02.01.Remove Duplicate Node/README.md
  lcci/02.01.Remove Duplicate Node/README_EN.md
  lcci/02.01.Remove Duplicate Node/Solution.swift
Labels: md, swift

#2586 feat: add cpp solution to lc problem: No.0404
  solution/0400-0499/0404.Sum of Left Leaves/README.md
  solution/0400-0499/0404.Sum of Left Leaves/README_EN.md
  solution/0400-0499/0404.Sum of Left Leaves/Solution.cpp
Labels: md, cpp

#2587 feat: add cpp solution to lc problem: No.0404
  solution/0400-0499/0404.Sum of Left Leaves/README.md
  solution/0400-0499/0404.Sum of Left Leaves/README_EN.md
  solution/0400-0499/0404.Sum of Left Leaves/Solution2.cpp
Labels: md, cpp

#2605 feat: add solutions to lc problem: No.2493
  solution/2400-2499/2493.Divide Nodes Into the Maximum Number of Groups/README.md
  solution/2400-2499/2493.Divide Nodes Into the Maximum Number of Groups/README_EN.md
  solution/2400-2499/2493.Divide Nodes Into the Maximum Number of Groups/Solution.cpp
  solution/2400-2499/2493.Divide Nodes Into the Maximum Number of Groups/Solution.go
  solution/2400-2499/2493.Divide Nodes Into the Maximum Number of Groups/Solution.java
  solution/2400-2499/2493.Divide Nodes Into the Maximum Number of Groups/Solution.js
  solution/2400-2499/2493.Divide Nodes Into the Maximum Number of Groups/Solution.py
Labels: js, md, py, go, java, cpp, core team

#2606 feat: add solutions to lc problem: No.2076
  solution/2000-2099/2076.Process Restricted Friend Requests/README.md
  solution/2000-2099/2076.Process Restricted Friend Requests/README_EN.md
  solution/2000-2099/2076.Process Restricted Friend Requests/Solution.cpp
  solution/2000-2099/2076.Process Restricted Friend Requests/Solution.go
  solution/2000-2099/2076.Process Restricted Friend Requests/Solution.java
  solution/2000-2099/2076.Process Restricted Friend Requests/Solution.py
  solution/2000-2099/2076.Process Restricted Friend Requests/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2608 feat: add solutions to lc problem: No.3119
  solution/3100-3199/3119.Maximum Number of Potholes That Can Be Fixed/README.md
  solution/3100-3199/3119.Maximum Number of Potholes That Can Be Fixed/README_EN.md
  solution/3100-3199/3119.Maximum Number of Potholes That Can Be Fixed/Solution.cpp
  solution/3100-3199/3119.Maximum Number of Potholes That Can Be Fixed/Solution.go
  solution/3100-3199/3119.Maximum Number of Potholes That Can Be Fixed/Solution.java
  solution/3100-3199/3119.Maximum Number of Potholes That Can Be Fixed/Solution.py
  solution/3100-3199/3119.Maximum Number of Potholes That Can Be Fixed/Solution.ts
  solution/README.md
  solution/README_EN.md
Labels: md, ts, py, go, java, cpp, core team

#2609 feat: update ts solution to lcp problem: No.07
  lcp/LCP 07. 传递信息/README.md
  lcp/LCP 07. 传递信息/Solution.ts
Labels: md, ts, core team

#2610 feat: add solutions to lc problem: No.2075
  solution/2000-2099/2075.Decode the Slanted Ciphertext/README.md
  solution/2000-2099/2075.Decode the Slanted Ciphertext/README_EN.md
  solution/2000-2099/2075.Decode the Slanted Ciphertext/Solution.cpp
  solution/2000-2099/2075.Decode the Slanted Ciphertext/Solution.go
  solution/2000-2099/2075.Decode the Slanted Ciphertext/Solution.ts
Labels: md, ts, go, cpp, core team

#2611 feat: update ts solution to lcci problem: No.16.05
  lcci/16.05.Factorial Zeros/README.md
  lcci/16.05.Factorial Zeros/README_EN.md
  lcci/16.05.Factorial Zeros/Solution.ts
Labels: md, ts, core team

#2612 feat: update ts solution to lcci problem: No.16.15
  lcci/16.15.Master Mind/README.md
  lcci/16.15.Master Mind/README_EN.md
  lcci/16.15.Master Mind/Solution.js
Labels: js, md, core team

#2613 feat: update ts solution to lc problem: No.2231
  solution/2200-2299/2231.Largest Number After Digit Swaps by Parity/README.md
  solution/2200-2299/2231.Largest Number After Digit Swaps by Parity/README_EN.md
  solution/2200-2299/2231.Largest Number After Digit Swaps by Parity/Solution.ts
Labels: md, ts, core team

#2614 feat: update solutions to lc problems: No.1856,3119
  solution/1800-1899/1856.Maximum Subarray Min-Product/README.md
  solution/1800-1899/1856.Maximum Subarray Min-Product/README_EN.md
  solution/1800-1899/1856.Maximum Subarray Min-Product/Solution.ts
  solution/3100-3199/3119.Maximum Number of Potholes That Can Be Fixed/README.md
  solution/3100-3199/3119.Maximum Number of Potholes That Can Be Fixed/README_EN.md
  solution/3100-3199/3119.Maximum Number of Potholes That Can Be Fixed/Solution.py
Labels: md, ts, py, core team

#2615 Swift implementation for LCCI 02.02
  lcci/02.02.Kth Node From End of List/README.md
  lcci/02.02.Kth Node From End of List/README_EN.md
  lcci/02.02.Kth Node From End of List/Solution.swift
Labels: md, swift

#2616 Swift implementation for LCCI 0203
  lcci/02.03.Delete Middle Node/README.md
  lcci/02.03.Delete Middle Node/README_EN.md
  lcci/02.03.Delete Middle Node/Solution.swift
Labels: md, swift

#2617 Swift implementation for LCCI 02.04
  lcci/02.04.Partition List/README.md
  lcci/02.04.Partition List/README_EN.md
  lcci/02.04.Partition List/Solution.swift
Labels: md, swift

#2619 feat: update js solution to lc problem: No.637
  solution/0600-0699/0637.Average of Levels in Binary Tree/README.md
  solution/0600-0699/0637.Average of Levels in Binary Tree/README_EN.md
  solution/0600-0699/0637.Average of Levels in Binary Tree/Solution.js
Labels: js, md, core team

#2620 feat: add js solution to lc problem: No.783
  solution/0700-0799/0783.Minimum Distance Between BST Nodes/README.md
  solution/0700-0799/0783.Minimum Distance Between BST Nodes/README_EN.md
  solution/0700-0799/0783.Minimum Distance Between BST Nodes/Solution.js
Labels: js, md, core team

#2621 feat: add js solution to lc problem: No.0872
  solution/0800-0899/0872.Leaf-Similar Trees/README.md
  solution/0800-0899/0872.Leaf-Similar Trees/README_EN.md
  solution/0800-0899/0872.Leaf-Similar Trees/Solution.js
Labels: js, md, ts, core team

#2622 feat: add js solution to lcci problem: No.17.12
  lcci/17.12.BiNode/README.md
  lcci/17.12.BiNode/README_EN.md
  lcci/17.12.BiNode/Solution.js
Labels: js, md, core team

#2626 feat: update solutions to lcci problems: No.04.02~04.04
  lcci/04.02.Minimum Height Tree/README.md
  lcci/04.02.Minimum Height Tree/README_EN.md
  lcci/04.02.Minimum Height Tree/Solution.cpp
  lcci/04.02.Minimum Height Tree/Solution.py
  lcci/04.02.Minimum Height Tree/Solution.rs
  lcci/04.03.List of Depth/README_EN.md
  lcci/04.04.Check Balance/README.md
  lcci/04.04.Check Balance/README_EN.md
  lcci/04.04.Check Balance/Solution.py
  lcci/04.04.Check Balance/Solution2.py
Labels: md, py, cpp, rs, core team

#2627 feat: add solutions to lc problem: No.0875
  solution/0800-0899/0875.Koko Eating Bananas/README.md
  solution/0800-0899/0875.Koko Eating Bananas/README_EN.md
  solution/0800-0899/0875.Koko Eating Bananas/Solution.cpp
  solution/0800-0899/0875.Koko Eating Bananas/Solution.cs
  solution/0800-0899/0875.Koko Eating Bananas/Solution.go
  solution/0800-0899/0875.Koko Eating Bananas/Solution.java
  solution/0800-0899/0875.Koko Eating Bananas/Solution.py
  solution/0800-0899/0875.Koko Eating Bananas/Solution.rs
  solution/0800-0899/0875.Koko Eating Bananas/Solution.ts
  solution/CONTEST_README.md
  solution/template.md
Labels: md, ts, py, go, java, cpp, rs, core team, cs

#2629 feat: add swift implementation to lcci problem: No.02.06
  lcci/02.06.Palindrome Linked List/README.md
  lcci/02.06.Palindrome Linked List/README_EN.md
  lcci/02.06.Palindrome Linked List/Solution.swift
Labels: md, swift

#2630 feat: add swift implementation to lcci problem: No.02.08
  lcci/02.08.Linked List Cycle/README.md
  lcci/02.08.Linked List Cycle/README_EN.md
  lcci/02.08.Linked List Cycle/Solution.swift
Labels: md, swift

#2631 feat: add swift implementation to lcci problem: No.03.01
  lcci/03.01.Three in One/README.md
  lcci/03.01.Three in One/README_EN.md
  lcci/03.01.Three in One/Solution.swift
Labels: md, swift

#2632 feat: add swift implementation to lcci problem: No.03.02
  lcci/03.02.Min Stack/README.md
  lcci/03.02.Min Stack/README_EN.md
  lcci/03.02.Min Stack/Solution.swift
Labels: md, swift

#2633 feat: add solutions to lc problems: No.190~195
  solution/0100-0199/0190.Reverse Bits/README.md
  solution/0100-0199/0190.Reverse Bits/README_EN.md
  solution/0100-0199/0190.Reverse Bits/Solution.cpp
  solution/0100-0199/0190.Reverse Bits/Solution.go
  solution/0100-0199/0190.Reverse Bits/Solution.java
  solution/0100-0199/0190.Reverse Bits/Solution.js
  solution/0100-0199/0190.Reverse Bits/Solution.py
  solution/0100-0199/0190.Reverse Bits/Solution.rs
  solution/0100-0199/0192.Word Frequency/README.md
  solution/0100-0199/0192.Word Frequency/README_EN.md
  solution/0100-0199/0193.Valid Phone Numbers/README.md
  solution/0100-0199/0193.Valid Phone Numbers/README_EN.md
  solution/0100-0199/0194.Transpose File/README.md
  solution/0100-0199/0194.Transpose File/README_EN.md
  solution/0100-0199/0195.Tenth Line/README.md
  solution/0100-0199/0195.Tenth Line/README_EN.md
Labels: js, md, py, go, java, cpp, rs, core team

#2634 feat: add solutions to lc problems: No.216,247,249
  solution/0200-0299/0216.Combination Sum III/README.md
  solution/0200-0299/0216.Combination Sum III/README_EN.md
  solution/0200-0299/0246.Strobogrammatic Number/README.md
  solution/0200-0299/0246.Strobogrammatic Number/README_EN.md
  solution/0200-0299/0247.Strobogrammatic Number II/README.md
  solution/0200-0299/0247.Strobogrammatic Number II/README_EN.md
  solution/0200-0299/0248.Strobogrammatic Number III/README_EN.md
  solution/0200-0299/0249.Group Shifted Strings/README.md
  solution/0200-0299/0249.Group Shifted Strings/README_EN.md
  solution/0200-0299/0249.Group Shifted Strings/Solution.cpp
  solution/0200-0299/0249.Group Shifted Strings/Solution.go
  solution/0200-0299/0249.Group Shifted Strings/Solution.java
  solution/0200-0299/0249.Group Shifted Strings/Solution.py
Labels: md, py, go, java, cpp, core team

#2635 feat: add weekly contest 394
  solution/0000-0099/0030.Substring with Concatenation of All Words/README_EN.md
  solution/2800-2899/2865.Beautiful Towers I/README_EN.md
  solution/3100-3199/3120.Count the Number of Special Characters I/README.md
  solution/3100-3199/3120.Count the Number of Special Characters I/README_EN.md
  solution/3100-3199/3121.Count the Number of Special Characters II/README.md
  solution/3100-3199/3121.Count the Number of Special Characters II/README_EN.md
  solution/3100-3199/3122.Minimum Number of Operations to Satisfy Conditions/README.md
  solution/3100-3199/3122.Minimum Number of Operations to Satisfy Conditions/README_EN.md
  solution/3100-3199/3122.Minimum Number of Operations to Satisfy Conditions/images/changed.png
  solution/3100-3199/3122.Minimum Number of Operations to Satisfy Conditions/images/example21.png
  solution/3100-3199/3122.Minimum Number of Operations to Satisfy Conditions/images/examplechanged.png
  solution/3100-3199/3123.Find Edges in Shortest Paths/README.md
  solution/3100-3199/3123.Find Edges in Shortest Paths/README_EN.md
  solution/3100-3199/3123.Find Edges in Shortest Paths/images/graph35drawio-1.png
  solution/3100-3199/3123.Find Edges in Shortest Paths/images/graphhhh.png
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/contest.json
Labels: md, core team, json, png

#2637 feat: add solutions to lc problems: No.3120~3123
  solution/0300-0399/0377.Combination Sum IV/README.md
  solution/0300-0399/0377.Combination Sum IV/README_EN.md
  solution/0300-0399/0377.Combination Sum IV/Solution.js
  solution/0300-0399/0377.Combination Sum IV/Solution.ts
  solution/3100-3199/3120.Count the Number of Special Characters I/README.md
  solution/3100-3199/3120.Count the Number of Special Characters I/README_EN.md
  solution/3100-3199/3120.Count the Number of Special Characters I/Solution.cpp
  solution/3100-3199/3120.Count the Number of Special Characters I/Solution.go
  solution/3100-3199/3120.Count the Number of Special Characters I/Solution.java
  solution/3100-3199/3120.Count the Number of Special Characters I/Solution.py
  solution/3100-3199/3120.Count the Number of Special Characters I/Solution.ts
  solution/3100-3199/3121.Count the Number of Special Characters II/README.md
  solution/3100-3199/3121.Count the Number of Special Characters II/README_EN.md
  solution/3100-3199/3121.Count the Number of Special Characters II/Solution.cpp
  solution/3100-3199/3121.Count the Number of Special Characters II/Solution.go
  solution/3100-3199/3121.Count the Number of Special Characters II/Solution.java
  solution/3100-3199/3121.Count the Number of Special Characters II/Solution.py
  solution/3100-3199/3121.Count the Number of Special Characters II/Solution.ts
  solution/3100-3199/3122.Minimum Number of Operations to Satisfy Conditions/README.md
  solution/3100-3199/3122.Minimum Number of Operations to Satisfy Conditions/README_EN.md
  solution/3100-3199/3122.Minimum Number of Operations to Satisfy Conditions/Solution.cpp
  solution/3100-3199/3122.Minimum Number of Operations to Satisfy Conditions/Solution.go
  solution/3100-3199/3122.Minimum Number of Operations to Satisfy Conditions/Solution.java
  solution/3100-3199/3122.Minimum Number of Operations to Satisfy Conditions/Solution.py
  solution/3100-3199/3122.Minimum Number of Operations to Satisfy Conditions/Solution.ts
  solution/3100-3199/3123.Find Edges in Shortest Paths/README.md
  solution/3100-3199/3123.Find Edges in Shortest Paths/README_EN.md
  solution/3100-3199/3123.Find Edges in Shortest Paths/Solution.cpp
  solution/3100-3199/3123.Find Edges in Shortest Paths/Solution.go
  solution/3100-3199/3123.Find Edges in Shortest Paths/Solution.java
  solution/3100-3199/3123.Find Edges in Shortest Paths/Solution.py
Labels: js, md, ts, py, go, java, cpp, core team

#2638 feat: add solutions to lc problem: No.3124
  solution/0000-0099/0003.Longest Substring Without Repeating Characters/README.md
  solution/0000-0099/0058.Length of Last Word/README.md
  solution/2800-2899/2862.Maximum Element-Sum of a Complete Subset of Indices/README.md
  solution/2800-2899/2862.Maximum Element-Sum of a Complete Subset of Indices/README_EN.md
  solution/3100-3199/3124.Find Longest Calls/README.md
  solution/3100-3199/3124.Find Longest Calls/README_EN.md
  solution/3100-3199/3124.Find Longest Calls/Solution.py
  solution/3100-3199/3124.Find Longest Calls/Solution.sql
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/DATABASE_README.md
  solution/DATABASE_README_EN.md
  solution/README.md
  solution/README_EN.md
Labels: md, py, core team, sql

#2639 feat: add solutions to lc problem: No.2385
  solution/2300-2399/2385.Amount of Time for Binary Tree to Be Infected/README.md
  solution/2300-2399/2385.Amount of Time for Binary Tree to Be Infected/README_EN.md
  solution/2300-2399/2385.Amount of Time for Binary Tree to Be Infected/Solution.cpp
  solution/2300-2399/2385.Amount of Time for Binary Tree to Be Infected/Solution.go
  solution/2300-2399/2385.Amount of Time for Binary Tree to Be Infected/Solution.java
  solution/2300-2399/2385.Amount of Time for Binary Tree to Be Infected/Solution.py
  solution/2300-2399/2385.Amount of Time for Binary Tree to Be Infected/Solution.ts
  solution/2300-2399/2385.Amount of Time for Binary Tree to Be Infected/Solution2.cpp
  solution/2300-2399/2385.Amount of Time for Binary Tree to Be Infected/Solution2.go
  solution/2300-2399/2385.Amount of Time for Binary Tree to Be Infected/Solution2.java
  solution/2300-2399/2385.Amount of Time for Binary Tree to Be Infected/Solution2.py
  solution/3100-3199/3124.Find Longest Calls/README.md
  solution/3100-3199/3124.Find Longest Calls/README_EN.md
  solution/3100-3199/3124.Find Longest Calls/Solution.sql
Labels: md, ts, py, go, java, cpp, core team, sql

#2640 feat: add solutions to lc problem: No.2197
  solution/2100-2199/2198.Number of Single Divisor Triplets/README.md
  solution/2100-2199/2198.Number of Single Divisor Triplets/README_EN.md
  solution/2100-2199/2198.Number of Single Divisor Triplets/Solution.cpp
  solution/2100-2199/2198.Number of Single Divisor Triplets/Solution.go
  solution/2100-2199/2198.Number of Single Divisor Triplets/Solution.java
  solution/2100-2199/2198.Number of Single Divisor Triplets/Solution.py
  solution/2100-2199/2198.Number of Single Divisor Triplets/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2642 feat: add swift implementation to lcci problem: No.03.04
  lcci/03.04.Implement Queue using Stacks/README.md
  lcci/03.04.Implement Queue using Stacks/README_EN.md
  lcci/03.04.Implement Queue using Stacks/Solution.swift
Labels: md, swift

#2643 feat: add swift implementation to lcci problem: No.03.05
  lcci/03.05.Sort of Stacks/README.md
  lcci/03.05.Sort of Stacks/README_EN.md
  lcci/03.05.Sort of Stacks/Solution.swift
Labels: md, swift

#2644 feat: add swift implementation to lcci problem: No.03.06
  lcci/03.06.Animal Shelter/README.md
  lcci/03.06.Animal Shelter/README_EN.md
  lcci/03.06.Animal Shelter/Solution.swift
Labels: md, swift

#2646 feat: add php solution to lc problems: No.0041-0045
  solution/0000-0099/0041.First Missing Positive/README.md
  solution/0000-0099/0041.First Missing Positive/README_EN.md
  solution/0000-0099/0041.First Missing Positive/Solution.php
  solution/0000-0099/0042.Trapping Rain Water/README.md
  solution/0000-0099/0042.Trapping Rain Water/README_EN.md
  solution/0000-0099/0042.Trapping Rain Water/Solution.php
  solution/0000-0099/0043.Multiply Strings/README.md
  solution/0000-0099/0043.Multiply Strings/README_EN.md
  solution/0000-0099/0043.Multiply Strings/Solution.php
  solution/0000-0099/0044.Wildcard Matching/README.md
  solution/0000-0099/0044.Wildcard Matching/README_EN.md
  solution/0000-0099/0044.Wildcard Matching/Solution.php
  solution/0000-0099/0045.Jump Game II/README.md
  solution/0000-0099/0045.Jump Game II/README_EN.md
  solution/0000-0099/0045.Jump Game II/Solution.php
Labels: md, php

#2648 feat: add solutions to lc/lcci problems
  lcci/04.06.Successor/README.md
  lcci/04.06.Successor/README_EN.md
  lcci/04.06.Successor/Solution.cpp
  lcci/04.06.Successor/Solution.go
  lcci/04.06.Successor/Solution.java
  lcci/04.06.Successor/Solution.js
  lcci/04.06.Successor/Solution.py
  lcci/04.06.Successor/Solution.ts
  lcci/04.06.Successor/Solution2.cpp
  lcci/04.06.Successor/Solution2.js
  solution/0200-0299/0285.Inorder Successor in BST/README_EN.md
  solution/0500-0599/0510.Inorder Successor in BST II/README.md
  solution/0500-0599/0510.Inorder Successor in BST II/README_EN.md
  solution/0500-0599/0510.Inorder Successor in BST II/Solution.cpp
  solution/0500-0599/0510.Inorder Successor in BST II/Solution.java
  solution/0500-0599/0510.Inorder Successor in BST II/Solution.js
  solution/0500-0599/0510.Inorder Successor in BST II/Solution.py
  solution/0500-0599/0510.Inorder Successor in BST II/Solution.ts
Labels: js, md, ts, py, go, java, cpp, core team

#2649 feat: update solutions to lc problems: No.1146,2639
  solution/1100-1199/1146.Snapshot Array/README.md
  solution/1100-1199/1146.Snapshot Array/README_EN.md
  solution/1100-1199/1146.Snapshot Array/Solution.cpp
  solution/1100-1199/1146.Snapshot Array/Solution.go
  solution/1100-1199/1146.Snapshot Array/Solution.java
  solution/1100-1199/1146.Snapshot Array/Solution.py
  solution/1100-1199/1146.Snapshot Array/Solution.ts
  solution/2600-2699/2639.Find the Width of Columns of a Grid/README.md
  solution/2600-2699/2639.Find the Width of Columns of a Grid/README_EN.md
  solution/2600-2699/2639.Find the Width of Columns of a Grid/Solution.py
  solution/2600-2699/2639.Find the Width of Columns of a Grid/Solution2.py
  solution/2600-2699/2640.Find the Score of All Prefixes of an Array/README.md
  solution/2600-2699/2640.Find the Score of All Prefixes of an Array/README_EN.md
Labels: md, ts, py, go, java, cpp, core team

#2650 feat: add swift implementation to lcci problem: No.04.01
  lcci/04.01.Route Between Nodes/README.md
  lcci/04.01.Route Between Nodes/README_EN.md
  lcci/04.01.Route Between Nodes/Solution.swift
Labels: md, swift

#2651 feat: add swift implementation to lcci problem: No.04.02
  lcci/04.02.Minimum Height Tree/README.md
  lcci/04.02.Minimum Height Tree/README_EN.md
  lcci/04.02.Minimum Height Tree/Solution.swift
Labels: md, swift

#2654 feat: update lc problems
  solution/0000-0099/0043.Multiply Strings/README.md
  solution/0000-0099/0043.Multiply Strings/README_EN.md
  solution/0000-0099/0043.Multiply Strings/Solution.php
  solution/0000-0099/0044.Wildcard Matching/README.md
  solution/0000-0099/0044.Wildcard Matching/README_EN.md
  solution/0000-0099/0044.Wildcard Matching/Solution.php
  solution/3100-3199/3119.Maximum Number of Potholes That Can Be Fixed/README.md
  solution/3100-3199/3119.Maximum Number of Potholes That Can Be Fixed/README_EN.md
  solution/3100-3199/3120.Count the Number of Special Characters I/README.md
  solution/3100-3199/3120.Count the Number of Special Characters I/README_EN.md
  solution/3100-3199/3121.Count the Number of Special Characters II/README.md
  solution/3100-3199/3121.Count the Number of Special Characters II/README_EN.md
  solution/3100-3199/3122.Minimum Number of Operations to Satisfy Conditions/README.md
  solution/3100-3199/3122.Minimum Number of Operations to Satisfy Conditions/README_EN.md
  solution/3100-3199/3123.Find Edges in Shortest Paths/README.md
  solution/3100-3199/3123.Find Edges in Shortest Paths/README_EN.md
  solution/3100-3199/3124.Find Longest Calls/README.md
  solution/3100-3199/3124.Find Longest Calls/README_EN.md
  solution/DATABASE_README.md
  solution/DATABASE_README_EN.md
  solution/README.md
  solution/README_EN.md
Labels: md, core team, php

#2655 feat: add js solution to lc problem: No.2739
  solution/2700-2799/2739.Total Distance Traveled/README.md
  solution/2700-2799/2739.Total Distance Traveled/README_EN.md
  solution/2700-2799/2739.Total Distance Traveled/Solution.js
Labels: js, md, core team

#2656 feat: add solutions to lc problem: No.3125
  solution/0400-0499/0422.Valid Word Square/README.md
  solution/0400-0499/0422.Valid Word Square/images/1713840723-rPoAKZ-image.png
  solution/0400-0499/0422.Valid Word Square/images/1713840732-EvBDzU-image.png
  solution/0400-0499/0422.Valid Word Square/images/1713840738-tdOYTB-image.png
  solution/3100-3199/3125.Maximum Number That Makes Result of Bitwise AND Zero/README.md
  solution/3100-3199/3125.Maximum Number That Makes Result of Bitwise AND Zero/README_EN.md
  solution/3100-3199/3125.Maximum Number That Makes Result of Bitwise AND Zero/Solution.cpp
  solution/3100-3199/3125.Maximum Number That Makes Result of Bitwise AND Zero/Solution.go
  solution/3100-3199/3125.Maximum Number That Makes Result of Bitwise AND Zero/Solution.java
  solution/3100-3199/3125.Maximum Number That Makes Result of Bitwise AND Zero/Solution.py
  solution/README.md
  solution/README_EN.md
Labels: md, py, go, java, cpp, core team, png

#2657 feat: add swift implementation to lcci problem: No.04.05
  lcci/04.05.Legal Binary Search Tree/README.md
  lcci/04.05.Legal Binary Search Tree/README_EN.md
  lcci/04.05.Legal Binary Search Tree/Solution.swift
Labels: md, swift

#2658 feat: add swift implementation to lcci problem: No.04.06
  lcci/04.06.Successor/README.md
  lcci/04.06.Successor/README_EN.md
  lcci/04.06.Successor/Solution.swift
Labels: md, swift

#2659 feat: add swift implementation to lcci problem: No.04.08
  lcci/04.08.First Common Ancestor/README.md
  lcci/04.08.First Common Ancestor/README_EN.md
  lcci/04.08.First Common Ancestor/Solution.swift
Labels: md, swift

#2662 feat: add swift implementation to lcci problem: No.04.12
  lcci/04.12.Paths with Sum/README.md
  lcci/04.12.Paths with Sum/README_EN.md
  lcci/04.12.Paths with Sum/Solution.swift
Labels: md, swift

#2664 fix: update solutions to lcci problem: No.04.10
  lcci/04.10.Check SubTree/README.md
  lcci/04.10.Check SubTree/README_EN.md
  lcci/04.10.Check SubTree/Solution.cpp
  lcci/04.10.Check SubTree/Solution.go
  lcci/04.10.Check SubTree/Solution.java
  lcci/04.10.Check SubTree/Solution.py
  lcci/04.10.Check SubTree/Solution.rs
  lcci/04.10.Check SubTree/Solution.ts
  solution/3100-3199/3109.Find the Index of Permutation/README.md
  solution/3100-3199/3109.Find the Index of Permutation/README_EN.md
  solution/3100-3199/3125.Maximum Number That Makes Result of Bitwise AND Zero/README.md
  solution/README.md
  solution/README_EN.md
Labels: md, ts, py, go, java, cpp, rs, core team

#2665 feat: add swift implementation to lcci problem: No.05.01
  lcci/05.01.Insert Into Bits/README.md
  lcci/05.01.Insert Into Bits/README_EN.md
  lcci/05.01.Insert Into Bits/Solution.swift
Labels: md, swift

#2666 feat: add swift implementation to lcci problem: No.05.02
  lcci/05.02.Binary Number to String/README.md
  lcci/05.02.Binary Number to String/README_EN.md
  lcci/05.02.Binary Number to String/Solution.swift
Labels: md, swift

#2667 feat: add swift implementation to lcci problem: No.05.03
  lcci/05.03.Reverse Bits/README.md
  lcci/05.03.Reverse Bits/README_EN.md
  lcci/05.03.Reverse Bits/Solution.swift
Labels: md, swift

#2668 feat: add swift implementation to lcci problem: No.05.04
  lcci/05.04.Closed Number/README.md
  lcci/05.04.Closed Number/README_EN.md
  lcci/05.04.Closed Number/Solution.swift
Labels: md, swift

#2669 feat: add swift implementation to lcci problem: No.05.06
  lcci/05.06.Convert Integer/README.md
  lcci/05.06.Convert Integer/README_EN.md
  lcci/05.06.Convert Integer/Solution.swift
Labels: md, swift

#2671 feat: add solutions to lcci problems: No.05.03,05.07
  lcci/05.03.Reverse Bits/README.md
  lcci/05.03.Reverse Bits/README_EN.md
  lcci/05.03.Reverse Bits/Solution.ts
  lcci/05.06.Convert Integer/README.md
  lcci/05.07.Exchange/README.md
  lcci/05.07.Exchange/README_EN.md
  lcci/05.07.Exchange/Solution.rs
  lcci/05.07.Exchange/Solution.ts
  lcci/08.01.Three Steps Problem/README.md
  lcci/08.01.Three Steps Problem/README_EN.md
Labels: md, ts, rs, core team

#2672 feat: add solutions to lcci problem: No.05.08
  lcci/05.08.Draw Line/README.md
  lcci/05.08.Draw Line/README_EN.md
  lcci/05.08.Draw Line/Solution.cpp
  lcci/05.08.Draw Line/Solution.java
  lcci/05.08.Draw Line/Solution.py
Labels: md, py, java, cpp, core team

#2673 feat: update lc problems
  solution/0000-0099/0005.Longest Palindromic Substring/README.md
  solution/0000-0099/0005.Longest Palindromic Substring/README_EN.md
  solution/0200-0299/0281.Zigzag Iterator/README.md
  solution/0600-0699/0642.Design Search Autocomplete System/README.md
  solution/0600-0699/0642.Design Search Autocomplete System/README_EN.md
  solution/0600-0699/0647.Palindromic Substrings/README.md
  solution/0600-0699/0647.Palindromic Substrings/README_EN.md
  solution/0900-0999/0924.Minimize Malware Spread/README.md
  solution/0900-0999/0924.Minimize Malware Spread/README_EN.md
  solution/0900-0999/0928.Minimize Malware Spread II/README.md
  solution/0900-0999/0928.Minimize Malware Spread II/README_EN.md
  solution/1800-1899/1840.Maximum Building Height/README.md
  solution/1800-1899/1840.Maximum Building Height/README_EN.md
  solution/2500-2599/2517.Maximum Tastiness of Candy Basket/README.md
  solution/2500-2599/2517.Maximum Tastiness of Candy Basket/README_EN.md
  solution/2600-2699/2639.Find the Width of Columns of a Grid/README.md
  solution/2600-2699/2639.Find the Width of Columns of a Grid/README_EN.md
  solution/README.md
  solution/README_EN.md
Labels: md, core team

#2674 feat: add solutions to lc problems: No.1017~1027
  solution/1000-1099/1017.Convert to Base -2/README.md
  solution/1000-1099/1017.Convert to Base -2/README_EN.md
  solution/1000-1099/1017.Convert to Base -2/Solution.cs
  solution/1000-1099/1017.Convert to Base -2/Solution.rs
  solution/1000-1099/1019.Next Greater Node In Linked List/README.md
  solution/1000-1099/1019.Next Greater Node In Linked List/README_EN.md
  solution/1000-1099/1019.Next Greater Node In Linked List/Solution.rs
  solution/1000-1099/1019.Next Greater Node In Linked List/Solution.ts
  solution/1000-1099/1019.Next Greater Node In Linked List/Solution2.ts
  solution/1000-1099/1022.Sum of Root To Leaf Binary Numbers/README.md
  solution/1000-1099/1022.Sum of Root To Leaf Binary Numbers/README_EN.md
  solution/1000-1099/1024.Video Stitching/README_EN.md
  solution/1000-1099/1025.Divisor Game/README_EN.md
  solution/1000-1099/1027.Longest Arithmetic Subsequence/README_EN.md
Labels: md, ts, rs, core team, cs

#2675 feat: add biweekly contest 129
  solution/2600-2699/2645.Minimum Additions to Make Valid String/README_EN.md
  solution/3100-3199/3126.Server Utilization Time/README.md
  solution/3100-3199/3126.Server Utilization Time/README_EN.md
  solution/3100-3199/3127.Make a Square with the Same Color/README.md
  solution/3100-3199/3127.Make a Square with the Same Color/README_EN.md
  solution/3100-3199/3127.Make a Square with the Same Color/Solution.cpp
  solution/3100-3199/3127.Make a Square with the Same Color/Solution.go
  solution/3100-3199/3127.Make a Square with the Same Color/Solution.java
  solution/3100-3199/3127.Make a Square with the Same Color/Solution.py
  solution/3100-3199/3127.Make a Square with the Same Color/Solution.ts
  solution/3100-3199/3128.Right Triangles/README.md
  solution/3100-3199/3128.Right Triangles/README_EN.md
  solution/3100-3199/3128.Right Triangles/Solution.cpp
  solution/3100-3199/3128.Right Triangles/Solution.go
  solution/3100-3199/3128.Right Triangles/Solution.java
  solution/3100-3199/3128.Right Triangles/Solution.py
  solution/3100-3199/3128.Right Triangles/Solution.ts
  solution/3100-3199/3129.Find All Possible Stable Binary Arrays I/README.md
  solution/3100-3199/3129.Find All Possible Stable Binary Arrays I/README_EN.md
  solution/3100-3199/3130.Find All Possible Stable Binary Arrays II/README.md
  solution/3100-3199/3130.Find All Possible Stable Binary Arrays II/README_EN.md
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/DATABASE_README.md
  solution/DATABASE_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/contest.json
Labels: md, ts, py, go, java, cpp, core team, json

#2676 feat: add weekly contest 395
  solution/3100-3199/3131.Find the Integer Added to Array I/README.md
  solution/3100-3199/3131.Find the Integer Added to Array I/README_EN.md
  solution/3100-3199/3131.Find the Integer Added to Array I/Solution.cpp
  solution/3100-3199/3131.Find the Integer Added to Array I/Solution.go
  solution/3100-3199/3131.Find the Integer Added to Array I/Solution.java
  solution/3100-3199/3131.Find the Integer Added to Array I/Solution.py
  solution/3100-3199/3131.Find the Integer Added to Array I/Solution.ts
  solution/3100-3199/3132.Find the Integer Added to Array II/README.md
  solution/3100-3199/3132.Find the Integer Added to Array II/README_EN.md
  solution/3100-3199/3132.Find the Integer Added to Array II/Solution.cpp
  solution/3100-3199/3132.Find the Integer Added to Array II/Solution.go
  solution/3100-3199/3132.Find the Integer Added to Array II/Solution.java
  solution/3100-3199/3132.Find the Integer Added to Array II/Solution.py
  solution/3100-3199/3132.Find the Integer Added to Array II/Solution.ts
  solution/3100-3199/3133.Minimum Array End/README.md
  solution/3100-3199/3133.Minimum Array End/README_EN.md
  solution/3100-3199/3134.Find the Median of the Uniqueness Array/README.md
  solution/3100-3199/3134.Find the Median of the Uniqueness Array/README_EN.md
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/contest.json
Labels: md, ts, py, go, java, cpp, core team, json

#2677 Fix potential github action smells
  .github/workflows/black-lint.yml
  .github/workflows/clang-format-lint.yml
  .github/workflows/compress.yml
  .github/workflows/deploy.yml
  .github/workflows/pr-add-label.yml
  .github/workflows/pr-checker.yml
  .github/workflows/prettier.yml
Labels: yml

#2678 feat: add solutions to lc problem: No.3133
  .github/workflows/black-lint.yml
  .github/workflows/clang-format-lint.yml
  .github/workflows/compress.yml
  .github/workflows/deploy.yml
  .github/workflows/pr-add-label.yml
  solution/3100-3199/3133.Minimum Array End/README.md
  solution/3100-3199/3133.Minimum Array End/README_EN.md
  solution/3100-3199/3133.Minimum Array End/Solution.cpp
  solution/3100-3199/3133.Minimum Array End/Solution.go
  solution/3100-3199/3133.Minimum Array End/Solution.java
  solution/3100-3199/3133.Minimum Array End/Solution.py
  solution/3100-3199/3133.Minimum Array End/Solution.ts
Labels: md, ts, py, go, java, cpp, core team, yml

#2679 feat: add solutions to lc problems: No.2462,2798
  solution/2400-2499/2462.Total Cost to Hire K Workers/README.md
  solution/2400-2499/2462.Total Cost to Hire K Workers/README_EN.md
  solution/2400-2499/2462.Total Cost to Hire K Workers/Solution.cpp
  solution/2400-2499/2462.Total Cost to Hire K Workers/Solution.go
  solution/2400-2499/2462.Total Cost to Hire K Workers/Solution.java
  solution/2400-2499/2462.Total Cost to Hire K Workers/Solution.py
  solution/2400-2499/2462.Total Cost to Hire K Workers/Solution.ts
  solution/2700-2799/2798.Number of Employees Who Met the Target/README.md
  solution/2700-2799/2798.Number of Employees Who Met the Target/README_EN.md
  solution/2700-2799/2798.Number of Employees Who Met the Target/Solution.cpp
  solution/2700-2799/2798.Number of Employees Who Met the Target/Solution.rs
  solution/2700-2799/2798.Number of Employees Who Met the Target/Solution.ts
Labels: md, ts, py, go, java, cpp, rs, core team

#2681 feat: add solutions to lc problems: No.1329,3126
  solution/1300-1399/1329.Sort the Matrix Diagonally/README.md
  solution/1300-1399/1329.Sort the Matrix Diagonally/README_EN.md
  solution/1300-1399/1329.Sort the Matrix Diagonally/Solution.cpp
  solution/1300-1399/1329.Sort the Matrix Diagonally/Solution.cs
  solution/1300-1399/1329.Sort the Matrix Diagonally/Solution.go
  solution/1300-1399/1329.Sort the Matrix Diagonally/Solution.java
  solution/1300-1399/1329.Sort the Matrix Diagonally/Solution.py
  solution/1300-1399/1329.Sort the Matrix Diagonally/Solution.rs
  solution/1300-1399/1329.Sort the Matrix Diagonally/Solution.ts
  solution/3100-3199/3126.Server Utilization Time/README.md
  solution/3100-3199/3126.Server Utilization Time/README_EN.md
  solution/3100-3199/3126.Server Utilization Time/Solution.sql
Labels: md, ts, py, go, java, cpp, rs, core team, cs, sql

#2682 feat: add solutions to lc problems: No.3129,3130
  solution/3100-3199/3129.Find All Possible Stable Binary Arrays I/README.md
  solution/3100-3199/3129.Find All Possible Stable Binary Arrays I/README_EN.md
  solution/3100-3199/3129.Find All Possible Stable Binary Arrays I/Solution.cpp
  solution/3100-3199/3129.Find All Possible Stable Binary Arrays I/Solution.go
  solution/3100-3199/3129.Find All Possible Stable Binary Arrays I/Solution.java
  solution/3100-3199/3129.Find All Possible Stable Binary Arrays I/Solution.py
  solution/3100-3199/3129.Find All Possible Stable Binary Arrays I/Solution2.cpp
  solution/3100-3199/3129.Find All Possible Stable Binary Arrays I/Solution2.go
  solution/3100-3199/3129.Find All Possible Stable Binary Arrays I/Solution2.java
  solution/3100-3199/3129.Find All Possible Stable Binary Arrays I/Solution2.py
  solution/3100-3199/3130.Find All Possible Stable Binary Arrays II/README.md
  solution/3100-3199/3130.Find All Possible Stable Binary Arrays II/README_EN.md
  solution/3100-3199/3130.Find All Possible Stable Binary Arrays II/Solution.cpp
  solution/3100-3199/3130.Find All Possible Stable Binary Arrays II/Solution.go
  solution/3100-3199/3130.Find All Possible Stable Binary Arrays II/Solution.java
  solution/3100-3199/3130.Find All Possible Stable Binary Arrays II/Solution.py
  solution/3100-3199/3130.Find All Possible Stable Binary Arrays II/Solution2.cpp
  solution/3100-3199/3130.Find All Possible Stable Binary Arrays II/Solution2.go
  solution/3100-3199/3130.Find All Possible Stable Binary Arrays II/Solution2.java
  solution/3100-3199/3130.Find All Possible Stable Binary Arrays II/Solution2.py
Labels: md, py, go, java, cpp, core team

#2683 feat: add swift implementation to lcci problem: No.08.01
  lcci/08.01.Three Steps Problem/README.md
  lcci/08.01.Three Steps Problem/README_EN.md
  lcci/08.01.Three Steps Problem/Solution.swift
Labels: md, swift

#2684 feat: add swift implementation to lcci problem: No.08.02
  lcci/08.02.Robot in a Grid/README.md
  lcci/08.02.Robot in a Grid/README_EN.md
  lcci/08.02.Robot in a Grid/Solution.swift
Labels: md, swift

#2685 feat: add swift implementation to lcci problem: No.08.03
  lcci/08.03.Magic Index/README.md
  lcci/08.03.Magic Index/README_EN.md
  lcci/08.03.Magic Index/Solution.swift
Labels: md, swift

#2687 feat: add swift implementation to lcci problem: No.08.05
  lcci/08.05.Recursive Mulitply/README.md
  lcci/08.05.Recursive Mulitply/README_EN.md
  lcci/08.05.Recursive Mulitply/Solution.swift
Labels: md, swift

#2688 feat: add swift implementation to lcci problem: No.08.06
  lcci/08.06.Hanota/README.md
  lcci/08.06.Hanota/README_EN.md
  lcci/08.06.Hanota/Solution.swift
Labels: md, swift

#2690 Update Solution.sql
  solution/1200-1299/1211.Queries Quality and Percentage/README.md
  solution/1200-1299/1211.Queries Quality and Percentage/README_EN.md
  solution/1200-1299/1211.Queries Quality and Percentage/Solution.sql
  solution/1200-1299/1211.Queries Quality and Percentage/Solution2.sql
Labels: md, sql

#2693 feat: add swift implementation to lcci problem: No.08.07
  lcci/08.07.Permutation I/README.md
  lcci/08.07.Permutation I/README_EN.md
  lcci/08.07.Permutation I/Solution.swift
Labels: md, swift

#2694 feat: add swift implementation to lcci problem: No.08.08
  lcci/08.08.Permutation II/README.md
  lcci/08.08.Permutation II/README_EN.md
  lcci/08.08.Permutation II/Solution.swift
Labels: md, swift

#2695 feat: add swift implementation to lcci problem: No.08.09
  lcci/08.09.Bracket/README.md
  lcci/08.09.Bracket/README_EN.md
  lcci/08.09.Bracket/Solution.swift
Labels: md, swift

#2696 feat: add swift implementation to lcci problem: No.08.10
  lcci/08.10.Color Fill/README.md
  lcci/08.10.Color Fill/README_EN.md
  lcci/08.10.Color Fill/Solution.swift
Labels: md, swift

#2697 feat: add swift implementation to lcci problem: No.08.11
  lcci/08.11.Coin/README.md
  lcci/08.11.Coin/README_EN.md
  lcci/08.11.Coin/Solution.swift
Labels: md, swift

#2700 feat: add solutions to lcci problem: No.10.10
  lcci/10.10.Rank from Stream/README.md
  lcci/10.10.Rank from Stream/README_EN.md
  lcci/10.10.Rank from Stream/Solution.cpp
  lcci/10.10.Rank from Stream/Solution.go
  lcci/10.10.Rank from Stream/Solution.java
  lcci/10.10.Rank from Stream/Solution.py
  lcci/10.10.Rank from Stream/Solution.ts
Labels: md, ts, py, go, java, cpp, core team
