Repository doocs/leetcode, pull requests merged in 2024-09, with the labels that each got.

#3309 feat: add 2nd js solution to lc problem: No.1717
  solution/1700-1799/1717.Maximum Score From Removing Substrings/README.md
  solution/1700-1799/1717.Maximum Score From Removing Substrings/README_EN.md
  solution/1700-1799/1717.Maximum Score From Removing Substrings/Solution.js
  solution/1700-1799/1717.Maximum Score From Removing Substrings/Solution2.js
  solution/1700-1799/1717.Maximum Score From Removing Substrings/Solution2.ts
Labels: js, md, ts

#3313 feat: add js solution to lc problem: No.2751
  solution/2700-2799/2751.Robot Collisions/README.md
  solution/2700-2799/2751.Robot Collisions/README_EN.md
  solution/2700-2799/2751.Robot Collisions/Solution.js
  solution/2700-2799/2751.Robot Collisions/Solution.ts
Labels: js, md, ts

#3489 feat: add solutions to lc problem: No.1313
  .gitignore
  solution/1300-1399/1313.Decompress Run-Length Encoded List/README.md
  solution/1300-1399/1313.Decompress Run-Length Encoded List/README_EN.md
  solution/1300-1399/1313.Decompress Run-Length Encoded List/Solution.c
  solution/1300-1399/1313.Decompress Run-Length Encoded List/Solution.cpp
  solution/1300-1399/1313.Decompress Run-Length Encoded List/Solution.go
  solution/1300-1399/1313.Decompress Run-Length Encoded List/Solution.java
  solution/1300-1399/1313.Decompress Run-Length Encoded List/Solution.py
  solution/1300-1399/1313.Decompress Run-Length Encoded List/Solution.rs
  solution/1300-1399/1313.Decompress Run-Length Encoded List/Solution.ts
Labels: md, ts, py, go, java, cpp, rs, core team, c, gitignore

#3491 feat: update lc problems
  solution/0000-0099/0024.Swap Nodes in Pairs/README_EN.md
  solution/0000-0099/0049.Group Anagrams/README_EN.md
  solution/0000-0099/0071.Simplify Path/README.md
  solution/0000-0099/0071.Simplify Path/README_EN.md
  solution/0200-0299/0217.Contains Duplicate/README.md
  solution/0200-0299/0217.Contains Duplicate/README_EN.md
  solution/0200-0299/0242.Valid Anagram/README.md
  solution/0200-0299/0242.Valid Anagram/README_EN.md
  solution/0300-0399/0387.First Unique Character in a String/README_EN.md
  solution/0400-0499/0411.Minimum Unique Word Abbreviation/README.md
  solution/0400-0499/0411.Minimum Unique Word Abbreviation/README_EN.md
  solution/0700-0799/0733.Flood Fill/README.md
  solution/0800-0899/0884.Uncommon Words from Two Sentences/README.md
  solution/0800-0899/0884.Uncommon Words from Two Sentences/README_EN.md
  solution/1000-1099/1055.Shortest Way to Form String/README.md
  solution/1000-1099/1055.Shortest Way to Form String/README_EN.md
  solution/1000-1099/1078.Occurrences After Bigram/README.md
  solution/1000-1099/1078.Occurrences After Bigram/README_EN.md
  solution/1100-1199/1137.N-th Tribonacci Number/README_EN.md
  solution/1100-1199/1160.Find Words That Can Be Formed by Characters/README.md
  solution/1100-1199/1160.Find Words That Can Be Formed by Characters/README_EN.md
  solution/1200-1299/1215.Stepping Numbers/README.md
  solution/1200-1299/1215.Stepping Numbers/README_EN.md
  solution/1300-1399/1370.Increasing Decreasing String/README.md
  solution/1400-1499/1431.Kids With the Greatest Number of Candies/README.md
  solution/1600-1699/1684.Count the Number of Consistent Strings/README.md
  solution/1600-1699/1684.Count the Number of Consistent Strings/README_EN.md
  solution/1800-1899/1822.Sign of the Product of an Array/README_EN.md
  solution/2000-2099/2000.Reverse Prefix of Word/README.md
  solution/2000-2099/2000.Reverse Prefix of Word/README_EN.md
  solution/2000-2099/2096.Step-By-Step Directions From a Binary Tree Node to Another/README.md
  solution/2000-2099/2096.Step-By-Step Directions From a Binary Tree Node to Another/README_EN.md
  solution/2000-2099/2096.Step-By-Step Directions From a Binary Tree Node to Another/Solution.js
  solution/2000-2099/2096.Step-By-Step Directions From a Binary Tree Node to Another/Solution.ts
  solution/2100-2199/2121.Intervals Between Identical Elements/README_EN.md
  solution/2400-2499/2456.Most Popular Video Creator/README_EN.md
  solution/2500-2599/2506.Count Pairs Of Similar Strings/README.md
  solution/2500-2599/2506.Count Pairs Of Similar Strings/README_EN.md
  solution/2500-2599/2576.Find the Maximum Number of Marked Indices/README_EN.md
  solution/2600-2699/2615.Sum of Distances/README_EN.md
  solution/2700-2799/2706.Buy Two Chocolates/README.md
  solution/2700-2799/2706.Buy Two Chocolates/README_EN.md
  solution/3000-3099/3052.Maximize Items/README_EN.md
  solution/3100-3199/3109.Find the Index of Permutation/README.md
  solution/3100-3199/3198.Find Cities in Each State/README_EN.md
  solution/3200-3299/3269.Constructing Two Increasing Arrays/README.md
  solution/3200-3299/3279.Maximum Total Area Occupied by Pistons/README.md
  solution/3200-3299/3279.Maximum Total Area Occupied by Pistons/README_EN.md
  solution/3200-3299/3279.Maximum Total Area Occupied by Pistons/Solution.cpp
  solution/3200-3299/3279.Maximum Total Area Occupied by Pistons/Solution.go
  solution/3200-3299/3279.Maximum Total Area Occupied by Pistons/Solution.java
  solution/3200-3299/3279.Maximum Total Area Occupied by Pistons/Solution.py
  solution/3200-3299/3279.Maximum Total Area Occupied by Pistons/Solution.ts
  solution/README.md
  solution/README_EN.md
Labels: md, core team

#3492 feat: add kotlin solutions to lc problems
  solution/0000-0099/0001.Two Sum/README.md
  solution/0000-0099/0001.Two Sum/README_EN.md
  solution/0000-0099/0001.Two Sum/Solution.kt
  solution/0000-0099/0003.Longest Substring Without Repeating Characters/README.md
  solution/0000-0099/0003.Longest Substring Without Repeating Characters/README_EN.md
  solution/0000-0099/0003.Longest Substring Without Repeating Characters/Solution.kt
  solution/0000-0099/0034.Find First and Last Position of Element in Sorted Array/README.md
  solution/0000-0099/0034.Find First and Last Position of Element in Sorted Array/README_EN.md
  solution/0000-0099/0034.Find First and Last Position of Element in Sorted Array/Solution.kt
  solution/0000-0099/0043.Multiply Strings/README.md
  solution/0000-0099/0043.Multiply Strings/README_EN.md
  solution/0000-0099/0043.Multiply Strings/Solution.js
  solution/0000-0099/0043.Multiply Strings/Solution.kt
  solution/0000-0099/0056.Merge Intervals/README.md
  solution/0000-0099/0056.Merge Intervals/README_EN.md
  solution/0000-0099/0056.Merge Intervals/Solution.js
  solution/0000-0099/0056.Merge Intervals/Solution.kt
  solution/0100-0199/0191.Number of 1 Bits/README.md
  solution/0100-0199/0191.Number of 1 Bits/README_EN.md
  solution/0100-0199/0191.Number of 1 Bits/Solution.kt
  solution/0100-0199/0191.Number of 1 Bits/Solution2.js
  solution/0100-0199/0191.Number of 1 Bits/Solution2.kt
  solution/0100-0199/0191.Number of 1 Bits/Solution2.ts
  solution/0300-0399/0303.Range Sum Query - Immutable/README.md
  solution/0300-0399/0303.Range Sum Query - Immutable/README_EN.md
  solution/0300-0399/0303.Range Sum Query - Immutable/Solution.kt
  solution/0300-0399/0304.Range Sum Query 2D - Immutable/README.md
  solution/0300-0399/0304.Range Sum Query 2D - Immutable/README_EN.md
  solution/0300-0399/0304.Range Sum Query 2D - Immutable/Solution.kt
  solution/0400-0499/0415.Add Strings/README.md
  solution/0400-0499/0415.Add Strings/README_EN.md
  solution/0400-0499/0415.Add Strings/Solution.kt
  solution/0700-0799/0713.Subarray Product Less Than K/README.md
  solution/0700-0799/0713.Subarray Product Less Than K/README_EN.md
  solution/0700-0799/0713.Subarray Product Less Than K/Solution.kt
  solution/0900-0999/0912.Sort an Array/README.md
  solution/0900-0999/0912.Sort an Array/README_EN.md
  solution/0900-0999/0912.Sort an Array/Solution.kt
  solution/0900-0999/0912.Sort an Array/Solution.rs
  solution/1800-1899/1870.Minimum Speed to Arrive on Time/README.md
  solution/1800-1899/1870.Minimum Speed to Arrive on Time/README_EN.md
  solution/1800-1899/1870.Minimum Speed to Arrive on Time/Solution.kt
  solution/1800-1899/1898.Maximum Number of Removable Characters/README.md
  solution/1800-1899/1898.Maximum Number of Removable Characters/README_EN.md
  solution/1800-1899/1898.Maximum Number of Removable Characters/Solution.js
  solution/1800-1899/1898.Maximum Number of Removable Characters/Solution.kt
  solution/2100-2199/2132.Stamping the Grid/README.md
  solution/2100-2199/2132.Stamping the Grid/README_EN.md
  solution/2100-2199/2132.Stamping the Grid/Solution.kt
Labels: js, md, ts, kt

#3493 feat: add solutions to lc problem: No.2506
  solution/2500-2599/2506.Count Pairs Of Similar Strings/README.md
  solution/2500-2599/2506.Count Pairs Of Similar Strings/README_EN.md
  solution/2500-2599/2506.Count Pairs Of Similar Strings/Solution.cpp
  solution/2500-2599/2506.Count Pairs Of Similar Strings/Solution.go
  solution/2500-2599/2506.Count Pairs Of Similar Strings/Solution.java
  solution/2500-2599/2506.Count Pairs Of Similar Strings/Solution.py
  solution/2500-2599/2506.Count Pairs Of Similar Strings/Solution.rs
  solution/2500-2599/2506.Count Pairs Of Similar Strings/Solution.ts
Labels: md, ts, py, go, java, cpp, rs, core team

#3494 feat: update lc problems
  solution/0000-0099/0003.Longest Substring Without Repeating Characters/README.md
  solution/0100-0199/0180.Consecutive Numbers/README_EN.md
  solution/0300-0399/0303.Range Sum Query - Immutable/README.md
  solution/0300-0399/0304.Range Sum Query 2D - Immutable/README.md
  solution/0600-0699/0640.Solve the Equation/README_EN.md
  solution/0800-0899/0874.Walking Robot Simulation/README_EN.md
  solution/1200-1299/1204.Last Person to Fit in the Bus/README_EN.md
  solution/1600-1699/1632.Rank Transform of a Matrix/README.md
  solution/2100-2199/2132.Stamping the Grid/README.md
  solution/2100-2199/2132.Stamping the Grid/README_EN.md
  solution/2400-2499/2470.Number of Subarrays With LCM Equal to K/README.md
  solution/2500-2599/2506.Count Pairs Of Similar Strings/README.md
  solution/2500-2599/2506.Count Pairs Of Similar Strings/README_EN.md
  solution/2700-2799/2725.Interval Cancellation/README_EN.md
  solution/2700-2799/2750.Ways to Split Array Into Good Subarrays/README.md
  solution/2700-2799/2750.Ways to Split Array Into Good Subarrays/README_EN.md
  solution/3100-3199/3176.Find the Maximum Length of a Good Subsequence I/README.md
  solution/3200-3299/3280.Convert Date to Binary/README.md
  solution/3200-3299/3280.Convert Date to Binary/README_EN.md
  solution/3200-3299/3280.Convert Date to Binary/Solution.cpp
  solution/3200-3299/3280.Convert Date to Binary/Solution.go
  solution/3200-3299/3280.Convert Date to Binary/Solution.java
  solution/3200-3299/3280.Convert Date to Binary/Solution.py
  solution/3200-3299/3280.Convert Date to Binary/Solution.ts
  solution/3200-3299/3281.Maximize Score of Numbers in Ranges/README.md
  solution/3200-3299/3281.Maximize Score of Numbers in Ranges/README_EN.md
  solution/3200-3299/3281.Maximize Score of Numbers in Ranges/Solution.cpp
  solution/3200-3299/3281.Maximize Score of Numbers in Ranges/Solution.go
  solution/3200-3299/3281.Maximize Score of Numbers in Ranges/Solution.java
  solution/3200-3299/3281.Maximize Score of Numbers in Ranges/Solution.py
  solution/3200-3299/3281.Maximize Score of Numbers in Ranges/Solution.ts
  solution/3200-3299/3282.Reach End of Array With Max Score/README.md
  solution/3200-3299/3282.Reach End of Array With Max Score/README_EN.md
  solution/3200-3299/3282.Reach End of Array With Max Score/Solution.cpp
  solution/3200-3299/3282.Reach End of Array With Max Score/Solution.go
  solution/3200-3299/3282.Reach End of Array With Max Score/Solution.java
  solution/3200-3299/3282.Reach End of Array With Max Score/Solution.py
  solution/3200-3299/3282.Reach End of Array With Max Score/Solution.ts
  solution/3200-3299/3283.Maximum Number of Moves to Kill All Pawns/README.md
  solution/3200-3299/3283.Maximum Number of Moves to Kill All Pawns/README_EN.md
  solution/3200-3299/3283.Maximum Number of Moves to Kill All Pawns/images/chess_knight.jpg
  solution/3200-3299/3283.Maximum Number of Moves to Kill All Pawns/images/gif3.gif
  solution/3200-3299/3283.Maximum Number of Moves to Kill All Pawns/images/gif4.gif
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/contest.json
Labels: md, ts, py, go, java, cpp, core team

#3495 feat: add solutions to lc problem: No.2181
  solution/2100-2199/2181.Merge Nodes in Between Zeros/README.md
  solution/2100-2199/2181.Merge Nodes in Between Zeros/README_EN.md
  solution/2100-2199/2181.Merge Nodes in Between Zeros/Solution.c
  solution/2100-2199/2181.Merge Nodes in Between Zeros/Solution.cpp
  solution/2100-2199/2181.Merge Nodes in Between Zeros/Solution.py
  solution/2100-2199/2181.Merge Nodes in Between Zeros/Solution.rs
  solution/2100-2199/2181.Merge Nodes in Between Zeros/Solution.ts
Labels: md, ts, py, cpp, rs, core team, c

#3496 feat: add solutions to lc problem: No.3283
  solution/3200-3299/3283.Maximum Number of Moves to Kill All Pawns/README.md
  solution/3200-3299/3283.Maximum Number of Moves to Kill All Pawns/README_EN.md
  solution/3200-3299/3283.Maximum Number of Moves to Kill All Pawns/Solution.cpp
  solution/3200-3299/3283.Maximum Number of Moves to Kill All Pawns/Solution.go
  solution/3200-3299/3283.Maximum Number of Moves to Kill All Pawns/Solution.java
  solution/3200-3299/3283.Maximum Number of Moves to Kill All Pawns/Solution.py
Labels: md, py, go, java, cpp, core team

#3497 feat: add solutions to lc problem: No.2398
  solution/2300-2399/2398.Maximum Number of Robots Within Budget/README.md
  solution/2300-2399/2398.Maximum Number of Robots Within Budget/README_EN.md
  solution/2300-2399/2398.Maximum Number of Robots Within Budget/Solution.cpp
  solution/2300-2399/2398.Maximum Number of Robots Within Budget/Solution.go
  solution/2300-2399/2398.Maximum Number of Robots Within Budget/Solution.java
  solution/2300-2399/2398.Maximum Number of Robots Within Budget/Solution.py
  solution/2300-2399/2398.Maximum Number of Robots Within Budget/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#3498 feat: add solutions to lc problems
  solution/2300-2399/2386.Find the K-Sum of an Array/README.md
  solution/2300-2399/2386.Find the K-Sum of an Array/README_EN.md
  solution/2300-2399/2387.Median of a Row Wise Sorted Matrix/README.md
  solution/2300-2399/2387.Median of a Row Wise Sorted Matrix/README_EN.md
  solution/2300-2399/2389.Longest Subsequence With Limited Sum/README_EN.md
  solution/2300-2399/2390.Removing Stars From a String/README.md
  solution/2300-2399/2390.Removing Stars From a String/README_EN.md
  solution/2300-2399/2390.Removing Stars From a String/Solution.php
Labels: md, core team, php

#3499 feat: add solutions to lc problem: No.1228
  solution/1200-1299/1228.Missing Number In Arithmetic Progression/README.md
  solution/1200-1299/1228.Missing Number In Arithmetic Progression/README_EN.md
  solution/1200-1299/1228.Missing Number In Arithmetic Progression/Solution.go
  solution/1200-1299/1228.Missing Number In Arithmetic Progression/Solution.ts
  solution/1200-1299/1228.Missing Number In Arithmetic Progression/Solution2.cpp
  solution/1200-1299/1228.Missing Number In Arithmetic Progression/Solution2.go
  solution/1200-1299/1228.Missing Number In Arithmetic Progression/Solution2.ts
Labels: md, ts, go, cpp, core team

#3501 feat: update solutions to lc problems: No.1209,1217,1218
  solution/1200-1299/1209.Remove All Adjacent Duplicates in String II/README.md
  solution/1200-1299/1209.Remove All Adjacent Duplicates in String II/README_EN.md
  solution/1200-1299/1217.Minimum Cost to Move Chips to The Same Position/README.md
  solution/1200-1299/1218.Longest Arithmetic Subsequence of Given Difference/README.md
  solution/1200-1299/1218.Longest Arithmetic Subsequence of Given Difference/README_EN.md
  solution/1200-1299/1218.Longest Arithmetic Subsequence of Given Difference/Solution.rs
Labels: md, rs, core team

#3502 feat: update lc problems
  solution/1200-1299/1209.Remove All Adjacent Duplicates in String II/README.md
  solution/1200-1299/1209.Remove All Adjacent Duplicates in String II/README_EN.md
  solution/1300-1399/1367.Linked List in Binary Tree/README.md
  solution/1300-1399/1367.Linked List in Binary Tree/README_EN.md
  solution/2100-2199/2181.Merge Nodes in Between Zeros/README_EN.md
  solution/2300-2399/2398.Maximum Number of Robots Within Budget/README_EN.md
  solution/2400-2499/2472.Maximum Number of Non-overlapping Palindrome Substrings/README.md
  solution/2400-2499/2472.Maximum Number of Non-overlapping Palindrome Substrings/README_EN.md
  solution/2500-2599/2532.Time to Cross a Bridge/README_EN.md
  solution/3000-3099/3038.Maximum Number of Operations With the Same Score I/README_EN.md
  solution/3200-3299/3279.Maximum Total Area Occupied by Pistons/README.md
  solution/3200-3299/3279.Maximum Total Area Occupied by Pistons/README_EN.md
  solution/3200-3299/3280.Convert Date to Binary/README.md
  solution/3200-3299/3280.Convert Date to Binary/README_EN.md
  solution/3200-3299/3281.Maximize Score of Numbers in Ranges/README.md
  solution/3200-3299/3281.Maximize Score of Numbers in Ranges/README_EN.md
  solution/3200-3299/3282.Reach End of Array With Max Score/README.md
  solution/3200-3299/3282.Reach End of Array With Max Score/README_EN.md
  solution/3200-3299/3283.Maximum Number of Moves to Kill All Pawns/README.md
  solution/3200-3299/3283.Maximum Number of Moves to Kill All Pawns/README_EN.md
  solution/README.md
  solution/README_EN.md
Labels: md, core team

#3503 feat: add swift implementation to lcof2 problem: No.098
  lcof2/剑指 Offer II 098. 路径的数目/README.md
  lcof2/剑指 Offer II 098. 路径的数目/Solution.swift
Labels: md, core team, swift

#3504 feat: add swift solution 2 implementation to lcof2 problem: No.098
  lcof2/剑指 Offer II 098. 路径的数目/README.md
  lcof2/剑指 Offer II 098. 路径的数目/Solution2.swift
Labels: md, core team, swift

#3505 feat: add swift implementation to lcof2 problem: No.099
  lcof2/剑指 Offer II 099. 最小路径之和/README.md
  lcof2/剑指 Offer II 099. 最小路径之和/Solution.swift
Labels: md, core team, swift

#3507 feat: add solutions to lc problem: No.2848
  solution/2800-2899/2848.Points That Intersect With Cars/README.md
  solution/2800-2899/2848.Points That Intersect With Cars/README_EN.md
  solution/2800-2899/2848.Points That Intersect With Cars/Solution.cpp
  solution/2800-2899/2848.Points That Intersect With Cars/Solution.go
  solution/2800-2899/2848.Points That Intersect With Cars/Solution.java
  solution/2800-2899/2848.Points That Intersect With Cars/Solution.py
  solution/2800-2899/2848.Points That Intersect With Cars/Solution.ts
  solution/2800-2899/2848.Points That Intersect With Cars/Solution2.cpp
  solution/2800-2899/2848.Points That Intersect With Cars/Solution2.go
  solution/2800-2899/2848.Points That Intersect With Cars/Solution2.java
  solution/2800-2899/2848.Points That Intersect With Cars/Solution2.py
  solution/2800-2899/2848.Points That Intersect With Cars/Solution2.ts
Labels: md, ts, py, go, java, cpp, core team

#3508 feat: add solutions to lc problem: No.2148
  solution/2100-2199/2148.Count Elements With Strictly Smaller and Greater Elements/README.md
  solution/2100-2199/2148.Count Elements With Strictly Smaller and Greater Elements/README_EN.md
  solution/2100-2199/2148.Count Elements With Strictly Smaller and Greater Elements/Solution.cpp
  solution/2100-2199/2148.Count Elements With Strictly Smaller and Greater Elements/Solution.go
  solution/2100-2199/2148.Count Elements With Strictly Smaller and Greater Elements/Solution.java
  solution/2100-2199/2148.Count Elements With Strictly Smaller and Greater Elements/Solution.py
  solution/2100-2199/2148.Count Elements With Strictly Smaller and Greater Elements/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#3509 feat: add solutions to lc problem: No.2147
  solution/2100-2199/2147.Number of Ways to Divide a Long Corridor/README.md
  solution/2100-2199/2147.Number of Ways to Divide a Long Corridor/README_EN.md
  solution/2100-2199/2147.Number of Ways to Divide a Long Corridor/Solution.cpp
  solution/2100-2199/2147.Number of Ways to Divide a Long Corridor/Solution.go
  solution/2100-2199/2147.Number of Ways to Divide a Long Corridor/Solution.java
  solution/2100-2199/2147.Number of Ways to Divide a Long Corridor/Solution.py
  solution/2100-2199/2147.Number of Ways to Divide a Long Corridor/Solution.ts
  solution/2100-2199/2147.Number of Ways to Divide a Long Corridor/Solution2.cpp
  solution/2100-2199/2147.Number of Ways to Divide a Long Corridor/Solution2.go
  solution/2100-2199/2147.Number of Ways to Divide a Long Corridor/Solution2.java
  solution/2100-2199/2147.Number of Ways to Divide a Long Corridor/Solution2.py
  solution/2100-2199/2147.Number of Ways to Divide a Long Corridor/Solution2.ts
  solution/2100-2199/2147.Number of Ways to Divide a Long Corridor/solution.ts
Labels: md, ts, py, go, java, cpp, core team

#3510 feat: add solutions to lc problem: No.2146
  solution/2100-2199/2146.K Highest Ranked Items Within a Price Range/README.md
  solution/2100-2199/2146.K Highest Ranked Items Within a Price Range/README_EN.md
  solution/2100-2199/2146.K Highest Ranked Items Within a Price Range/Solution.cpp
  solution/2100-2199/2146.K Highest Ranked Items Within a Price Range/Solution.go
  solution/2100-2199/2146.K Highest Ranked Items Within a Price Range/Solution.java
  solution/2100-2199/2146.K Highest Ranked Items Within a Price Range/Solution.py
  solution/2100-2199/2146.K Highest Ranked Items Within a Price Range/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#3511 feat: add solutions to lc problem: No.2145
  solution/2100-2199/2145.Count the Hidden Sequences/README.md
  solution/2100-2199/2145.Count the Hidden Sequences/README_EN.md
  solution/2100-2199/2145.Count the Hidden Sequences/Solution.cpp
  solution/2100-2199/2145.Count the Hidden Sequences/Solution.go
  solution/2100-2199/2145.Count the Hidden Sequences/Solution.java
  solution/2100-2199/2145.Count the Hidden Sequences/Solution.py
  solution/2100-2199/2145.Count the Hidden Sequences/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#3513 feat: add solutions to lc problem: No.2220
  solution/2200-2299/2220.Minimum Bit Flips to Convert Number/README.md
  solution/2200-2299/2220.Minimum Bit Flips to Convert Number/README_EN.md
  solution/2200-2299/2220.Minimum Bit Flips to Convert Number/Solution2.js
  solution/2200-2299/2220.Minimum Bit Flips to Convert Number/Solution2.ts
Labels: js, md, ts

#3514 feat: add solutions to lc problem: No.2133
  solution/2100-2199/2133.Check if Every Row and Column Contains All Numbers/README.md
  solution/2100-2199/2133.Check if Every Row and Column Contains All Numbers/README_EN.md
  solution/2100-2199/2133.Check if Every Row and Column Contains All Numbers/Solution.cpp
  solution/2100-2199/2133.Check if Every Row and Column Contains All Numbers/Solution.go
  solution/2100-2199/2133.Check if Every Row and Column Contains All Numbers/Solution.java
  solution/2100-2199/2133.Check if Every Row and Column Contains All Numbers/Solution.py
  solution/2100-2199/2133.Check if Every Row and Column Contains All Numbers/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#3515 feat: add solutions to lc problem: No.3284
  lcof2/剑指 Offer II 098. 路径的数目/README.md
  lcof2/剑指 Offer II 099. 最小路径之和/README.md
  solution/2100-2199/2146.K Highest Ranked Items Within a Price Range/README.md
  solution/2100-2199/2146.K Highest Ranked Items Within a Price Range/README_EN.md
  solution/3200-3299/3284.Sum of Consecutive Subarrays/README.md
  solution/3200-3299/3284.Sum of Consecutive Subarrays/README_EN.md
  solution/3200-3299/3284.Sum of Consecutive Subarrays/Solution.cpp
  solution/3200-3299/3284.Sum of Consecutive Subarrays/Solution.go
  solution/3200-3299/3284.Sum of Consecutive Subarrays/Solution.java
  solution/3200-3299/3284.Sum of Consecutive Subarrays/Solution.py
  solution/3200-3299/3284.Sum of Consecutive Subarrays/Solution.ts
  solution/README.md
  solution/README_EN.md
Labels: md, ts, py, go, java, cpp, core team

#3516 chore: update lc problems
  solution/1000-1099/1028.Recover a Tree From Preorder Traversal/README_EN.md
  solution/1000-1099/1028.Recover a Tree From Preorder Traversal/images/recover_tree_ex1.png
  solution/1000-1099/1028.Recover a Tree From Preorder Traversal/images/recover_tree_ex2.png
  solution/1000-1099/1028.Recover a Tree From Preorder Traversal/images/recover_tree_ex3.png
  solution/1200-1299/1282.Group the People Given the Group Size They Belong To/README.md
  solution/1200-1299/1282.Group the People Given the Group Size They Belong To/README_EN.md
  solution/1300-1399/1302.Deepest Leaves Sum/README.md
  solution/1300-1399/1302.Deepest Leaves Sum/README_EN.md
  solution/1300-1399/1302.Deepest Leaves Sum/Solution.cpp
  solution/1300-1399/1302.Deepest Leaves Sum/Solution.go
  solution/1300-1399/1302.Deepest Leaves Sum/Solution.java
  solution/1300-1399/1302.Deepest Leaves Sum/Solution.py
  solution/1300-1399/1302.Deepest Leaves Sum/Solution.rs
  solution/1300-1399/1302.Deepest Leaves Sum/Solution.ts
  solution/1300-1399/1302.Deepest Leaves Sum/Solution2.c
  solution/1300-1399/1302.Deepest Leaves Sum/Solution2.cpp
  solution/1300-1399/1302.Deepest Leaves Sum/Solution2.rs
  solution/1300-1399/1302.Deepest Leaves Sum/Solution2.ts
  solution/1600-1699/1661.Average Time of Process per Machine/README_EN.md
  solution/1700-1799/1769.Minimum Number of Operations to Move All Balls to Each Box/README.md
  solution/1700-1799/1769.Minimum Number of Operations to Move All Balls to Each Box/README_EN.md
  solution/1900-1999/1910.Remove All Occurrences of a Substring/README.md
  solution/1900-1999/1910.Remove All Occurrences of a Substring/README_EN.md
  solution/1900-1999/1967.Number of Strings That Appear as Substrings in Word/README.md
  solution/1900-1999/1967.Number of Strings That Appear as Substrings in Word/README_EN.md
  solution/2100-2199/2148.Count Elements With Strictly Smaller and Greater Elements/README.md
  solution/2100-2199/2148.Count Elements With Strictly Smaller and Greater Elements/README_EN.md
  solution/2400-2499/2442.Count Number of Distinct Integers After Reverse Operations/README.md
  solution/2400-2499/2442.Count Number of Distinct Integers After Reverse Operations/README_EN.md
  solution/2500-2599/2555.Maximize Win From Two Segments/README.md
  solution/2500-2599/2586.Count the Number of Vowel Strings in Range/README.md
  solution/2500-2599/2586.Count the Number of Vowel Strings in Range/README_EN.md
  solution/2900-2999/2960.Count Tested Devices After Test Operations/README.md
  solution/2900-2999/2960.Count Tested Devices After Test Operations/README_EN.md
  solution/2900-2999/2991.Top Three Wineries/README_EN.md
  solution/3200-3299/3283.Maximum Number of Moves to Kill All Pawns/README.md
  solution/CONTEST_README.md
  solution/README.md
  solution/README_EN.md
  solution/contest.json
Labels: md, ts, py, go, java, cpp, rs, core team, c, png

#3518 feat: add solutions to lc problem: No.1925
  solution/1900-1999/1925.Count Square Sum Triples/README.md
  solution/1900-1999/1925.Count Square Sum Triples/README_EN.md
  solution/1900-1999/1925.Count Square Sum Triples/Solution.cpp
  solution/1900-1999/1925.Count Square Sum Triples/Solution.go
  solution/1900-1999/1925.Count Square Sum Triples/Solution.java
  solution/1900-1999/1925.Count Square Sum Triples/Solution.py
  solution/1900-1999/1925.Count Square Sum Triples/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#3519 feat: update solutions to lc problems: No.2399,2400
  solution/2300-2399/2399.Check Distances Between Same Letters/README.md
  solution/2300-2399/2399.Check Distances Between Same Letters/README_EN.md
  solution/2300-2399/2399.Check Distances Between Same Letters/Solution.java
  solution/2300-2399/2399.Check Distances Between Same Letters/Solution.py
  solution/2300-2399/2399.Check Distances Between Same Letters/Solution.ts
  solution/2400-2499/2400.Number of Ways to Reach a Position After Exactly k Steps/README.md
  solution/2400-2499/2400.Number of Ways to Reach a Position After Exactly k Steps/README_EN.md
  solution/2400-2499/2400.Number of Ways to Reach a Position After Exactly k Steps/Solution.cpp
Labels: md, ts, py, java, cpp, core team

#3520 feat: update solutions to lc problem: No.2401
  solution/2400-2499/2401.Longest Nice Subarray/README.md
  solution/2400-2499/2401.Longest Nice Subarray/README_EN.md
  solution/2400-2499/2401.Longest Nice Subarray/Solution.cpp
  solution/2400-2499/2401.Longest Nice Subarray/Solution.cs
  solution/2400-2499/2401.Longest Nice Subarray/Solution.go
  solution/2400-2499/2401.Longest Nice Subarray/Solution.java
  solution/2400-2499/2401.Longest Nice Subarray/Solution.py
  solution/2400-2499/2401.Longest Nice Subarray/Solution.rs
  solution/2400-2499/2401.Longest Nice Subarray/Solution.ts
Labels: md, ts, py, go, java, cpp, rs, core team, cs

#3521 feat: add solutions to lc problem: No.2403
  solution/2400-2499/2403.Minimum Time to Kill All Monsters/README.md
  solution/2400-2499/2403.Minimum Time to Kill All Monsters/README_EN.md
  solution/2400-2499/2403.Minimum Time to Kill All Monsters/Solution.cpp
  solution/2400-2499/2403.Minimum Time to Kill All Monsters/Solution.go
  solution/2400-2499/2403.Minimum Time to Kill All Monsters/Solution.java
  solution/2400-2499/2403.Minimum Time to Kill All Monsters/Solution.py
  solution/2400-2499/2403.Minimum Time to Kill All Monsters/Solution.ts
  solution/2400-2499/2403.Minimum Time to Kill All Monsters/Solution2.cpp
  solution/2400-2499/2403.Minimum Time to Kill All Monsters/Solution2.go
  solution/2400-2499/2403.Minimum Time to Kill All Monsters/Solution2.java
  solution/2400-2499/2403.Minimum Time to Kill All Monsters/Solution2.py
  solution/2400-2499/2403.Minimum Time to Kill All Monsters/Solution2.ts
Labels: md, ts, py, go, java, cpp, core team

#3522 feat: add solutions to lc problem: No.2405
  solution/2400-2499/2405.Optimal Partition of String/README.md
  solution/2400-2499/2405.Optimal Partition of String/README_EN.md
  solution/2400-2499/2405.Optimal Partition of String/Solution.cpp
  solution/2400-2499/2405.Optimal Partition of String/Solution.go
  solution/2400-2499/2405.Optimal Partition of String/Solution.java
  solution/2400-2499/2405.Optimal Partition of String/Solution.py
  solution/2400-2499/2405.Optimal Partition of String/Solution.rs
  solution/2400-2499/2405.Optimal Partition of String/Solution.ts
  solution/2400-2499/2405.Optimal Partition of String/Solution2.cpp
  solution/2400-2499/2405.Optimal Partition of String/Solution2.go
  solution/2400-2499/2405.Optimal Partition of String/Solution2.java
  solution/2400-2499/2405.Optimal Partition of String/Solution2.py
Labels: md, ts, py, go, java, cpp, rs, core team

#3523 feat: add solutions to lc problem: No.2410
  solution/2400-2499/2410.Maximum Matching of Players With Trainers/README.md
  solution/2400-2499/2410.Maximum Matching of Players With Trainers/README_EN.md
  solution/2400-2499/2410.Maximum Matching of Players With Trainers/Solution.cpp
  solution/2400-2499/2410.Maximum Matching of Players With Trainers/Solution.go
  solution/2400-2499/2410.Maximum Matching of Players With Trainers/Solution.java
  solution/2400-2499/2410.Maximum Matching of Players With Trainers/Solution.py
  solution/2400-2499/2410.Maximum Matching of Players With Trainers/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#3524 feat: update solutions to lc problem: No.2393
  solution/2300-2399/2393.Count Strictly Increasing Subarrays/README.md
  solution/2300-2399/2393.Count Strictly Increasing Subarrays/README_EN.md
  solution/2300-2399/2393.Count Strictly Increasing Subarrays/Solution.cpp
  solution/2300-2399/2393.Count Strictly Increasing Subarrays/Solution.go
  solution/2300-2399/2393.Count Strictly Increasing Subarrays/Solution.java
  solution/2300-2399/2393.Count Strictly Increasing Subarrays/Solution.py
  solution/2300-2399/2393.Count Strictly Increasing Subarrays/Solution.ts
  solution/2300-2399/2393.Count Strictly Increasing Subarrays/Solution2.cpp
  solution/2300-2399/2393.Count Strictly Increasing Subarrays/Solution2.go
  solution/2300-2399/2393.Count Strictly Increasing Subarrays/Solution2.java
  solution/2300-2399/2393.Count Strictly Increasing Subarrays/Solution2.py
  solution/2300-2399/2393.Count Strictly Increasing Subarrays/Solution2.ts
Labels: md, ts, py, go, java, cpp, core team

#3526 feat: update solutions to lc problem: No.2176
  solution/2100-2199/2176.Count Equal and Divisible Pairs in an Array/README.md
  solution/2100-2199/2176.Count Equal and Divisible Pairs in an Array/README_EN.md
  solution/2100-2199/2176.Count Equal and Divisible Pairs in an Array/Solution.c
  solution/2100-2199/2176.Count Equal and Divisible Pairs in an Array/Solution.cpp
  solution/2100-2199/2176.Count Equal and Divisible Pairs in an Array/Solution.go
  solution/2100-2199/2176.Count Equal and Divisible Pairs in an Array/Solution.java
  solution/2100-2199/2176.Count Equal and Divisible Pairs in an Array/Solution.py
  solution/2100-2199/2176.Count Equal and Divisible Pairs in an Array/Solution.rs
  solution/2100-2199/2176.Count Equal and Divisible Pairs in an Array/Solution.ts
  solution/2100-2199/2177.Find Three Consecutive Integers That Sum to a Given Number/README_EN.md
Labels: md, ts, py, go, java, cpp, rs, core team, c

#3527 feat: add solutions to lc problem: No.2419
  solution/2400-2499/2419.Longest Subarray With Maximum Bitwise AND/README.md
  solution/2400-2499/2419.Longest Subarray With Maximum Bitwise AND/README_EN.md
  solution/2400-2499/2419.Longest Subarray With Maximum Bitwise AND/Solution.js
  solution/2400-2499/2419.Longest Subarray With Maximum Bitwise AND/Solution.ts
Labels: js, md, ts

#3529 feat: add solutions to lc problem: No.1184
  solution/1100-1199/1184.Distance Between Bus Stops/README.md
  solution/1100-1199/1184.Distance Between Bus Stops/README_EN.md
  solution/1100-1199/1184.Distance Between Bus Stops/Solution.cpp
  solution/1100-1199/1184.Distance Between Bus Stops/Solution.go
  solution/1100-1199/1184.Distance Between Bus Stops/Solution.java
  solution/1100-1199/1184.Distance Between Bus Stops/Solution.js
  solution/1100-1199/1184.Distance Between Bus Stops/Solution.py
  solution/1100-1199/1184.Distance Between Bus Stops/Solution.rs
  solution/1100-1199/1184.Distance Between Bus Stops/Solution.ts
Labels: js, md, ts, py, go, java, cpp, rs, core team

#3530 feat: add solutions to lc problem: No.3291
  solution/3200-3299/3291.Minimum Number of Valid Strings to Form Target I/README.md
  solution/3200-3299/3291.Minimum Number of Valid Strings to Form Target I/README_EN.md
  solution/3200-3299/3291.Minimum Number of Valid Strings to Form Target I/Solution.cpp
  solution/3200-3299/3291.Minimum Number of Valid Strings to Form Target I/Solution.go
  solution/3200-3299/3291.Minimum Number of Valid Strings to Form Target I/Solution.java
  solution/3200-3299/3291.Minimum Number of Valid Strings to Form Target I/Solution.py
  solution/3200-3299/3291.Minimum Number of Valid Strings to Form Target I/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#3531 feat: add solutions to lc problem: No.0815
  solution/0800-0899/0815.Bus Routes/README.md
  solution/0800-0899/0815.Bus Routes/README_EN.md
  solution/0800-0899/0815.Bus Routes/Solution.cpp
  solution/0800-0899/0815.Bus Routes/Solution.cs
  solution/0800-0899/0815.Bus Routes/Solution.go
  solution/0800-0899/0815.Bus Routes/Solution.java
  solution/0800-0899/0815.Bus Routes/Solution.py
  solution/0800-0899/0815.Bus Routes/Solution.ts
Labels: md, ts, py, go, java, cpp, core team, cs

#3532 feat: add solutions to lc problem: No.0179
  solution/0100-0199/0179.Largest Number/README.md
  solution/0100-0199/0179.Largest Number/README_EN.md
  solution/0100-0199/0179.Largest Number/Solution.js
  solution/0100-0199/0179.Largest Number/Solution.ts
Labels: js, md, ts

#3533 chore: update lc problems
  solution/0400-0499/0461.Hamming Distance/README.md
  solution/0800-0899/0815.Bus Routes/README.md
  solution/0800-0899/0815.Bus Routes/README_EN.md
  solution/0800-0899/0815.Bus Routes/Solution.cs
  solution/2200-2299/2220.Minimum Bit Flips to Convert Number/README.md
  solution/2300-2399/2398.Maximum Number of Robots Within Budget/README.md
  solution/2300-2399/2398.Maximum Number of Robots Within Budget/README_EN.md
  solution/2400-2499/2419.Longest Subarray With Maximum Bitwise AND/README.md
  solution/2800-2899/2868.The Wording Game/README.md
  solution/2800-2899/2868.The Wording Game/README_EN.md
  solution/3000-3099/3088.Make String Anti-palindrome/README.md
  solution/3000-3099/3088.Make String Anti-palindrome/README_EN.md
  solution/3200-3299/3284.Sum of Consecutive Subarrays/README.md
  solution/3200-3299/3284.Sum of Consecutive Subarrays/README_EN.md
  solution/3200-3299/3285.Find Indices of Stable Mountains/README.md
  solution/3200-3299/3285.Find Indices of Stable Mountains/README_EN.md
  solution/3200-3299/3286.Find a Safe Walk Through a Grid/README.md
  solution/3200-3299/3286.Find a Safe Walk Through a Grid/README_EN.md
  solution/3200-3299/3287.Find the Maximum Sequence Value of Array/README.md
  solution/3200-3299/3287.Find the Maximum Sequence Value of Array/README_EN.md
  solution/3200-3299/3288.Length of the Longest Increasing Path/README.md
  solution/3200-3299/3288.Length of the Longest Increasing Path/README_EN.md
  solution/3200-3299/3289.The Two Sneaky Numbers of Digitville/README.md
  solution/3200-3299/3289.The Two Sneaky Numbers of Digitville/README_EN.md
  solution/3200-3299/3290.Maximum Multiplication Score/README.md
  solution/3200-3299/3290.Maximum Multiplication Score/README_EN.md
  solution/3200-3299/3291.Minimum Number of Valid Strings to Form Target I/README.md
  solution/3200-3299/3291.Minimum Number of Valid Strings to Form Target I/README_EN.md
  solution/3200-3299/3292.Minimum Number of Valid Strings to Form Target II/README.md
  solution/3200-3299/3292.Minimum Number of Valid Strings to Form Target II/README_EN.md
  solution/3200-3299/3293.Calculate Product Final Price/README.md
  solution/3200-3299/3293.Calculate Product Final Price/README_EN.md
  solution/3200-3299/3293.Calculate Product Final Price/Solution.py
  solution/3200-3299/3293.Calculate Product Final Price/Solution.sql
  solution/DATABASE_README.md
  solution/DATABASE_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/contest.json
Labels: md, core team, cs

#3534 feat: add solutions to lc problem: No.3294
  solution/3200-3299/3264.Final Array State After K Multiplication Operations I/README.md
  solution/3200-3299/3264.Final Array State After K Multiplication Operations I/README_EN.md
  solution/3200-3299/3265.Count Almost Equal Pairs I/README.md
  solution/3200-3299/3265.Count Almost Equal Pairs I/README_EN.md
  solution/3200-3299/3266.Final Array State After K Multiplication Operations II/README.md
  solution/3200-3299/3266.Final Array State After K Multiplication Operations II/README_EN.md
  solution/3200-3299/3267.Count Almost Equal Pairs II/README.md
  solution/3200-3299/3267.Count Almost Equal Pairs II/README_EN.md
  solution/3200-3299/3270.Find the Key of the Numbers/README.md
  solution/3200-3299/3270.Find the Key of the Numbers/README_EN.md
  solution/3200-3299/3271.Hash Divided String/README.md
  solution/3200-3299/3271.Hash Divided String/README_EN.md
  solution/3200-3299/3272.Find the Count of Good Integers/README.md
  solution/3200-3299/3272.Find the Count of Good Integers/README_EN.md
  solution/3200-3299/3273.Minimum Amount of Damage Dealt to Bob/README.md
  solution/3200-3299/3273.Minimum Amount of Damage Dealt to Bob/README_EN.md
  solution/3200-3299/3274.Check if Two Chessboard Squares Have the Same Color/README.md
  solution/3200-3299/3274.Check if Two Chessboard Squares Have the Same Color/README_EN.md
  solution/3200-3299/3275.K-th Nearest Obstacle Queries/README.md
  solution/3200-3299/3275.K-th Nearest Obstacle Queries/README_EN.md
  solution/3200-3299/3276.Select Cells in Grid With Maximum Score/README.md
  solution/3200-3299/3276.Select Cells in Grid With Maximum Score/README_EN.md
  solution/3200-3299/3277.Maximum XOR Score Subarray Queries/README.md
  solution/3200-3299/3277.Maximum XOR Score Subarray Queries/README_EN.md
  solution/3200-3299/3280.Convert Date to Binary/README.md
  solution/3200-3299/3280.Convert Date to Binary/README_EN.md
  solution/3200-3299/3281.Maximize Score of Numbers in Ranges/README.md
  solution/3200-3299/3281.Maximize Score of Numbers in Ranges/README_EN.md
  solution/3200-3299/3282.Reach End of Array With Max Score/README.md
  solution/3200-3299/3282.Reach End of Array With Max Score/README_EN.md
  solution/3200-3299/3283.Maximum Number of Moves to Kill All Pawns/README.md
  solution/3200-3299/3283.Maximum Number of Moves to Kill All Pawns/README_EN.md
  solution/3200-3299/3293.Calculate Product Final Price/README.md
  solution/3200-3299/3294.Convert Doubly Linked List to Array II/README.md
  solution/3200-3299/3294.Convert Doubly Linked List to Array II/README_EN.md
  solution/3200-3299/3294.Convert Doubly Linked List to Array II/Solution.cpp
  solution/3200-3299/3294.Convert Doubly Linked List to Array II/Solution.go
  solution/3200-3299/3294.Convert Doubly Linked List to Array II/Solution.java
  solution/3200-3299/3294.Convert Doubly Linked List to Array II/Solution.py
  solution/3200-3299/3294.Convert Doubly Linked List to Array II/Solution.ts
  solution/DATABASE_README.md
  solution/README.md
  solution/README_EN.md
Labels: md, core team

#3535 feat: add solutions to lc problem: No.2376
  solution/2300-2399/2376.Count Special Integers/README.md
  solution/2300-2399/2376.Count Special Integers/README_EN.md
  solution/2300-2399/2376.Count Special Integers/Solution.cpp
  solution/2300-2399/2376.Count Special Integers/Solution.go
  solution/2300-2399/2376.Count Special Integers/Solution.java
  solution/2300-2399/2376.Count Special Integers/Solution.py
  solution/2300-2399/2376.Count Special Integers/Solution.ts
  solution/2300-2399/2376.Count Special Integers/Solution2.cpp
  solution/2300-2399/2376.Count Special Integers/Solution2.go
  solution/2300-2399/2376.Count Special Integers/Solution2.java
  solution/2300-2399/2376.Count Special Integers/Solution2.py
Labels: md, ts, py, go, java, cpp, core team

#3536 feat: add solutions to lc problem: No.2207
  solution/2200-2299/2207.Maximize Number of Subsequences in a String/README.md
  solution/2200-2299/2207.Maximize Number of Subsequences in a String/README_EN.md
  solution/2200-2299/2207.Maximize Number of Subsequences in a String/Solution.cpp
  solution/2200-2299/2207.Maximize Number of Subsequences in a String/Solution.go
  solution/2200-2299/2207.Maximize Number of Subsequences in a String/Solution.java
  solution/2200-2299/2207.Maximize Number of Subsequences in a String/Solution.py
  solution/2200-2299/2207.Maximize Number of Subsequences in a String/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#3537 feat: add solutions to lc problem: No.2208
  solution/2200-2299/2208.Minimum Operations to Halve Array Sum/README.md
  solution/2200-2299/2208.Minimum Operations to Halve Array Sum/README_EN.md
  solution/2200-2299/2208.Minimum Operations to Halve Array Sum/Solution.cpp
  solution/2200-2299/2208.Minimum Operations to Halve Array Sum/Solution.go
  solution/2200-2299/2208.Minimum Operations to Halve Array Sum/Solution.java
  solution/2200-2299/2208.Minimum Operations to Halve Array Sum/Solution.py
  solution/2200-2299/2208.Minimum Operations to Halve Array Sum/Solution.ts
  solution/2200-2299/2208.Minimum Operations to Halve Array Sum/Solution2.go
Labels: md, ts, py, go, java, cpp, core team

#3538 feat: add solutions to lc problem: No.2383
  solution/2300-2399/2383.Minimum Hours of Training to Win a Competition/README.md
  solution/2300-2399/2383.Minimum Hours of Training to Win a Competition/README_EN.md
  solution/2300-2399/2383.Minimum Hours of Training to Win a Competition/Solution.c
  solution/2300-2399/2383.Minimum Hours of Training to Win a Competition/Solution.cpp
  solution/2300-2399/2383.Minimum Hours of Training to Win a Competition/Solution.go
  solution/2300-2399/2383.Minimum Hours of Training to Win a Competition/Solution.java
  solution/2300-2399/2383.Minimum Hours of Training to Win a Competition/Solution.py
  solution/2300-2399/2383.Minimum Hours of Training to Win a Competition/Solution.rs
  solution/2300-2399/2383.Minimum Hours of Training to Win a Competition/Solution.ts
  solution/2300-2399/2383.Minimum Hours of Training to Win a Competition/Solution2.cpp
  solution/2300-2399/2383.Minimum Hours of Training to Win a Competition/Solution2.go
  solution/2300-2399/2383.Minimum Hours of Training to Win a Competition/Solution2.java
  solution/2300-2399/2383.Minimum Hours of Training to Win a Competition/Solution2.py
  solution/2300-2399/2383.Minimum Hours of Training to Win a Competition/Solution2.ts
  solution/2300-2399/2383.Minimum Hours of Training to Win a Competition/Solution3.ts
Labels: md, ts, py, go, java, cpp, rs, core team, c

#3539 feat: add solutions to lc problem: No.0233
  solution/0200-0299/0233.Number of Digit One/README.md
  solution/0200-0299/0233.Number of Digit One/README_EN.md
  solution/0200-0299/0233.Number of Digit One/Solution.cpp
  solution/0200-0299/0233.Number of Digit One/Solution.cs
  solution/0200-0299/0233.Number of Digit One/Solution.go
  solution/0200-0299/0233.Number of Digit One/Solution.java
  solution/0200-0299/0233.Number of Digit One/Solution.py
  solution/0200-0299/0233.Number of Digit One/Solution.ts
Labels: md, ts, py, go, java, cpp, core team, cs

#3540 feat: add solutions to lc problem: No.0357
  solution/0300-0399/0357.Count Numbers with Unique Digits/README.md
  solution/0300-0399/0357.Count Numbers with Unique Digits/README_EN.md
  solution/0300-0399/0357.Count Numbers with Unique Digits/Solution.cpp
  solution/0300-0399/0357.Count Numbers with Unique Digits/Solution.go
  solution/0300-0399/0357.Count Numbers with Unique Digits/Solution.java
  solution/0300-0399/0357.Count Numbers with Unique Digits/Solution.py
  solution/0300-0399/0357.Count Numbers with Unique Digits/Solution.ts
  solution/0300-0399/0357.Count Numbers with Unique Digits/Solution2.cpp
  solution/0300-0399/0357.Count Numbers with Unique Digits/Solution2.go
  solution/0300-0399/0357.Count Numbers with Unique Digits/Solution2.java
  solution/0300-0399/0357.Count Numbers with Unique Digits/Solution2.py
Labels: md, ts, py, go, java, cpp, core team

#3541 feat: update solutions to lc problem: No.0600
  solution/0600-0699/0600.Non-negative Integers without Consecutive Ones/README.md
  solution/0600-0699/0600.Non-negative Integers without Consecutive Ones/README_EN.md
  solution/0600-0699/0600.Non-negative Integers without Consecutive Ones/Solution.cpp
  solution/0600-0699/0600.Non-negative Integers without Consecutive Ones/Solution.go
  solution/0600-0699/0600.Non-negative Integers without Consecutive Ones/Solution.java
  solution/0600-0699/0600.Non-negative Integers without Consecutive Ones/Solution.py
  solution/0600-0699/0600.Non-negative Integers without Consecutive Ones/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#3542 feat: update lc problems
  solution/0000-0099/0046.Permutations/README_EN.md
  solution/0200-0299/0241.Different Ways to Add Parentheses/README.md
  solution/0200-0299/0241.Different Ways to Add Parentheses/README_EN.md
  solution/0200-0299/0287.Find the Duplicate Number/README_EN.md
  solution/0300-0399/0357.Count Numbers with Unique Digits/README.md
  solution/0400-0499/0438.Find All Anagrams in a String/README.md
  solution/0400-0499/0438.Find All Anagrams in a String/README_EN.md
  solution/0500-0599/0567.Permutation in String/README.md
  solution/0500-0599/0567.Permutation in String/README_EN.md
  solution/0600-0699/0600.Non-negative Integers without Consecutive Ones/README.md
  solution/0600-0699/0600.Non-negative Integers without Consecutive Ones/README_EN.md
  solution/0600-0699/0666.Path Sum IV/README_EN.md
  solution/0700-0799/0733.Flood Fill/README_EN.md
  solution/0900-0999/0912.Sort an Array/README.md
  solution/1800-1899/1813.Sentence Similarity III/README_EN.md
  solution/1900-1999/1945.Sum of Digits of String After Convert/README_EN.md
  solution/2200-2299/2208.Minimum Operations to Halve Array Sum/README_EN.md
  solution/2600-2699/2687.Bikes Last Time Used/README.md
  solution/2600-2699/2687.Bikes Last Time Used/README_EN.md
  solution/3000-3099/3038.Maximum Number of Operations With the Same Score I/README.md
  solution/3200-3299/3294.Convert Doubly Linked List to Array II/README.md
  solution/3200-3299/3294.Convert Doubly Linked List to Array II/README_EN.md
  solution/3200-3299/3294.Convert Doubly Linked List to Array II/Solution.cpp
  solution/3200-3299/3294.Convert Doubly Linked List to Array II/Solution.go
  solution/3200-3299/3294.Convert Doubly Linked List to Array II/Solution.java
  solution/3200-3299/3294.Convert Doubly Linked List to Array II/Solution.py
  solution/3200-3299/3294.Convert Doubly Linked List to Array II/Solution.ts
  solution/README.md
Labels: md, ts, py, go, java, cpp, core team

#3543 feat: add solutions to lc problem: No.0788
  solution/0700-0799/0788.Rotated Digits/README.md
  solution/0700-0799/0788.Rotated Digits/README_EN.md
  solution/0700-0799/0788.Rotated Digits/Solution.cpp
  solution/0700-0799/0788.Rotated Digits/Solution.ts
  solution/0700-0799/0788.Rotated Digits/Solution2.cpp
  solution/0700-0799/0788.Rotated Digits/Solution2.go
  solution/0700-0799/0788.Rotated Digits/Solution2.java
  solution/0700-0799/0788.Rotated Digits/Solution2.py
  solution/0700-0799/0788.Rotated Digits/Solution2.ts
Labels: md, ts, py, go, java, cpp, core team

#3545 feat: update solutions to lc problem: No.1012
  solution/0700-0799/0788.Rotated Digits/README.md
  solution/1000-1099/1012.Numbers With Repeated Digits/README.md
  solution/1000-1099/1012.Numbers With Repeated Digits/README_EN.md
  solution/1000-1099/1012.Numbers With Repeated Digits/Solution.cpp
  solution/1000-1099/1012.Numbers With Repeated Digits/Solution.go
  solution/1000-1099/1012.Numbers With Repeated Digits/Solution.java
  solution/1000-1099/1012.Numbers With Repeated Digits/Solution.py
  solution/1000-1099/1012.Numbers With Repeated Digits/Solution.ts
  solution/1000-1099/1012.Numbers With Repeated Digits/Solution2.cpp
  solution/1000-1099/1012.Numbers With Repeated Digits/Solution2.go
  solution/1000-1099/1012.Numbers With Repeated Digits/Solution2.java
  solution/1000-1099/1012.Numbers With Repeated Digits/Solution2.py
Labels: md, ts, py, go, java, cpp, core team

#3546 feat: add solutions to lc problem: No.2374
  solution/2300-2399/2374.Node With Highest Edge Score/README.md
  solution/2300-2399/2374.Node With Highest Edge Score/README_EN.md
  solution/2300-2399/2374.Node With Highest Edge Score/Solution.cpp
  solution/2300-2399/2374.Node With Highest Edge Score/Solution.go
  solution/2300-2399/2374.Node With Highest Edge Score/Solution.java
  solution/2300-2399/2374.Node With Highest Edge Score/Solution.py
  solution/2300-2399/2374.Node With Highest Edge Score/Solution.rs
  solution/2300-2399/2374.Node With Highest Edge Score/Solution.ts
Labels: md, ts, py, go, java, cpp, rs, core team

#3547 feat: add solutions to lc problem: No.1957
  solution/1900-1999/1957.Delete Characters to Make Fancy String/README.md
  solution/1900-1999/1957.Delete Characters to Make Fancy String/README_EN.md
  solution/1900-1999/1957.Delete Characters to Make Fancy String/Solution.cpp
  solution/1900-1999/1957.Delete Characters to Make Fancy String/Solution.go
  solution/1900-1999/1957.Delete Characters to Make Fancy String/Solution.java
  solution/1900-1999/1957.Delete Characters to Make Fancy String/Solution.php
  solution/1900-1999/1957.Delete Characters to Make Fancy String/Solution.py
  solution/1900-1999/1957.Delete Characters to Make Fancy String/Solution.ts
Labels: md, ts, py, go, java, cpp, core team, php

#3548 feat: add solutions to lc problem: No.1968
  solution/1900-1999/1968.Array With Elements Not Equal to Average of Neighbors/README.md
  solution/1900-1999/1968.Array With Elements Not Equal to Average of Neighbors/README_EN.md
  solution/1900-1999/1968.Array With Elements Not Equal to Average of Neighbors/Solution.cpp
  solution/1900-1999/1968.Array With Elements Not Equal to Average of Neighbors/Solution.go
  solution/1900-1999/1968.Array With Elements Not Equal to Average of Neighbors/Solution.py
  solution/1900-1999/1968.Array With Elements Not Equal to Average of Neighbors/Solution.ts
  solution/1900-1999/1968.Array With Elements Not Equal to Average of Neighbors/Solution2.go
Labels: md, ts, py, go, cpp, core team

#3549 feat: add solutions to lc problem: No.1970
  solution/1900-1999/1970.Last Day Where You Can Still Cross/README.md
  solution/1900-1999/1970.Last Day Where You Can Still Cross/README_EN.md
  solution/1900-1999/1970.Last Day Where You Can Still Cross/Solution.cpp
  solution/1900-1999/1970.Last Day Where You Can Still Cross/Solution.go
  solution/1900-1999/1970.Last Day Where You Can Still Cross/Solution.java
  solution/1900-1999/1970.Last Day Where You Can Still Cross/Solution.py
  solution/1900-1999/1970.Last Day Where You Can Still Cross/Solution.ts
  solution/1900-1999/1970.Last Day Where You Can Still Cross/Solution2.cpp
  solution/1900-1999/1970.Last Day Where You Can Still Cross/Solution2.go
  solution/1900-1999/1970.Last Day Where You Can Still Cross/Solution2.java
  solution/1900-1999/1970.Last Day Where You Can Still Cross/Solution2.py
  solution/1900-1999/1970.Last Day Where You Can Still Cross/Solution2.ts
Labels: md, ts, py, go, java, cpp, core team

#3551 feat: add weekly contest 416
  solution/3200-3299/3295.Report Spam Message/README.md
  solution/3200-3299/3295.Report Spam Message/README_EN.md
  solution/3200-3299/3295.Report Spam Message/Solution.cpp
  solution/3200-3299/3295.Report Spam Message/Solution.go
  solution/3200-3299/3295.Report Spam Message/Solution.java
  solution/3200-3299/3295.Report Spam Message/Solution.py
  solution/3200-3299/3295.Report Spam Message/Solution.ts
  solution/3200-3299/3296.Minimum Number of Seconds to Make Mountain Height Zero/README.md
  solution/3200-3299/3296.Minimum Number of Seconds to Make Mountain Height Zero/README_EN.md
  solution/3200-3299/3296.Minimum Number of Seconds to Make Mountain Height Zero/Solution.cpp
  solution/3200-3299/3296.Minimum Number of Seconds to Make Mountain Height Zero/Solution.go
  solution/3200-3299/3296.Minimum Number of Seconds to Make Mountain Height Zero/Solution.java
  solution/3200-3299/3296.Minimum Number of Seconds to Make Mountain Height Zero/Solution.py
  solution/3200-3299/3296.Minimum Number of Seconds to Make Mountain Height Zero/Solution.ts
  solution/3200-3299/3297.Count Substrings That Can Be Rearranged to Contain a String I/README.md
  solution/3200-3299/3297.Count Substrings That Can Be Rearranged to Contain a String I/README_EN.md
  solution/3200-3299/3297.Count Substrings That Can Be Rearranged to Contain a String I/Solution.cpp
  solution/3200-3299/3297.Count Substrings That Can Be Rearranged to Contain a String I/Solution.go
  solution/3200-3299/3297.Count Substrings That Can Be Rearranged to Contain a String I/Solution.java
  solution/3200-3299/3297.Count Substrings That Can Be Rearranged to Contain a String I/Solution.py
  solution/3200-3299/3297.Count Substrings That Can Be Rearranged to Contain a String I/Solution.ts
  solution/3200-3299/3298.Count Substrings That Can Be Rearranged to Contain a String II/README.md
  solution/3200-3299/3298.Count Substrings That Can Be Rearranged to Contain a String II/README_EN.md
  solution/3200-3299/3298.Count Substrings That Can Be Rearranged to Contain a String II/Solution.cpp
  solution/3200-3299/3298.Count Substrings That Can Be Rearranged to Contain a String II/Solution.go
  solution/3200-3299/3298.Count Substrings That Can Be Rearranged to Contain a String II/Solution.java
  solution/3200-3299/3298.Count Substrings That Can Be Rearranged to Contain a String II/Solution.py
  solution/3200-3299/3298.Count Substrings That Can Be Rearranged to Contain a String II/Solution.ts
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
Labels: md, ts, py, go, java, cpp, core team

#3552 feat: add solutions to lc problem: No.1014
  solution/1000-1099/1014.Best Sightseeing Pair/README.md
  solution/1000-1099/1014.Best Sightseeing Pair/README_EN.md
  solution/1000-1099/1014.Best Sightseeing Pair/Solution.cpp
  solution/1000-1099/1014.Best Sightseeing Pair/Solution.go
  solution/1000-1099/1014.Best Sightseeing Pair/Solution.java
  solution/1000-1099/1014.Best Sightseeing Pair/Solution.py
  solution/1000-1099/1014.Best Sightseeing Pair/Solution.rs
  solution/1000-1099/1014.Best Sightseeing Pair/Solution.ts
  solution/1000-1099/1018.Binary Prefix Divisible By 5/README.md
  solution/1000-1099/1018.Binary Prefix Divisible By 5/README_EN.md
Labels: md, ts, py, go, java, cpp, rs, core team

#3553 feat: add solutions to lc problem: No.1020
  solution/0600-0699/0621.Task Scheduler/README.md
  solution/0600-0699/0621.Task Scheduler/README_EN.md
  solution/0600-0699/0658.Find K Closest Elements/README.md
  solution/1000-1099/1020.Number of Enclaves/README.md
  solution/1000-1099/1020.Number of Enclaves/README_EN.md
  solution/1000-1099/1020.Number of Enclaves/Solution.cpp
  solution/1000-1099/1020.Number of Enclaves/Solution.go
  solution/1000-1099/1020.Number of Enclaves/Solution.java
  solution/1000-1099/1020.Number of Enclaves/Solution.py
  solution/1000-1099/1020.Number of Enclaves/Solution.rs
  solution/1000-1099/1020.Number of Enclaves/Solution.ts
  solution/1000-1099/1020.Number of Enclaves/Solution2.cpp
  solution/1000-1099/1020.Number of Enclaves/Solution2.go
  solution/1000-1099/1020.Number of Enclaves/Solution2.java
  solution/1000-1099/1020.Number of Enclaves/Solution2.py
  solution/1000-1099/1020.Number of Enclaves/Solution2.rs
  solution/1000-1099/1020.Number of Enclaves/Solution2.ts
  solution/1000-1099/1020.Number of Enclaves/Solution3.cpp
  solution/1000-1099/1020.Number of Enclaves/Solution3.go
  solution/1000-1099/1020.Number of Enclaves/Solution3.java
  solution/1000-1099/1020.Number of Enclaves/Solution3.py
  solution/1200-1299/1248.Count Number of Nice Subarrays/README.md
  solution/1200-1299/1248.Count Number of Nice Subarrays/README_EN.md
  solution/CONTEST_README.md
  solution/README.md
  solution/README_EN.md
  solution/contest.json
Labels: md, ts, py, go, java, cpp, rs, core team, json

#3554 feat: add js solution to lc problem: No.2707
  solution/2700-2799/2707.Extra Characters in a String/README.md
  solution/2700-2799/2707.Extra Characters in a String/README_EN.md
  solution/2700-2799/2707.Extra Characters in a String/Solution.js
Labels: js, md

#3555 feat: add solutions to lc problem: No.1239
  solution/1200-1299/1239.Maximum Length of a Concatenated String with Unique Characters/README.md
  solution/1200-1299/1239.Maximum Length of a Concatenated String with Unique Characters/README_EN.md
  solution/1200-1299/1239.Maximum Length of a Concatenated String with Unique Characters/Solution.cpp
  solution/1200-1299/1239.Maximum Length of a Concatenated String with Unique Characters/Solution.go
  solution/1200-1299/1239.Maximum Length of a Concatenated String with Unique Characters/Solution.java
  solution/1200-1299/1239.Maximum Length of a Concatenated String with Unique Characters/Solution.py
  solution/1200-1299/1239.Maximum Length of a Concatenated String with Unique Characters/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#3556 feat: update lc problems
  solution/1200-1299/1246.Palindrome Removal/README.md
  solution/1200-1299/1246.Palindrome Removal/README_EN.md
  solution/1200-1299/1246.Palindrome Removal/Solution.ts
  solution/1200-1299/1247.Minimum Swaps to Make Strings Equal/README.md
  solution/1200-1299/1247.Minimum Swaps to Make Strings Equal/README_EN.md
  solution/1200-1299/1247.Minimum Swaps to Make Strings Equal/Solution.ts
  solution/1200-1299/1250.Check If It Is a Good Array/README.md
  solution/1200-1299/1250.Check If It Is a Good Array/README_EN.md
  solution/1200-1299/1250.Check If It Is a Good Array/Solution.ts
  solution/3200-3299/3294.Convert Doubly Linked List to Array II/README.md
  solution/3200-3299/3294.Convert Doubly Linked List to Array II/README_EN.md
  solution/3200-3299/3295.Report Spam Message/README.md
  solution/3200-3299/3295.Report Spam Message/README_EN.md
  solution/3200-3299/3296.Minimum Number of Seconds to Make Mountain Height Zero/README.md
  solution/3200-3299/3296.Minimum Number of Seconds to Make Mountain Height Zero/README_EN.md
  solution/3200-3299/3297.Count Substrings That Can Be Rearranged to Contain a String I/README.md
  solution/3200-3299/3297.Count Substrings That Can Be Rearranged to Contain a String I/README_EN.md
  solution/3200-3299/3298.Count Substrings That Can Be Rearranged to Contain a String II/README.md
  solution/3200-3299/3298.Count Substrings That Can Be Rearranged to Contain a String II/README_EN.md
  solution/README.md
  solution/README_EN.md
Labels: md, ts, core team

#3559 feat: add solutions to lc problems: No.1560~1561
  solution/1500-1599/1560.Most Visited Sector in  a Circular Track/README.md
  solution/1500-1599/1560.Most Visited Sector in  a Circular Track/README_EN.md
  solution/1500-1599/1560.Most Visited Sector in  a Circular Track/Solution.cpp
  solution/1500-1599/1560.Most Visited Sector in  a Circular Track/Solution.ts
  solution/1500-1599/1561.Maximum Number of Coins You Can Get/README.md
  solution/1500-1599/1561.Maximum Number of Coins You Can Get/README_EN.md
  solution/1500-1599/1561.Maximum Number of Coins You Can Get/Solution.c
  solution/1500-1599/1561.Maximum Number of Coins You Can Get/Solution.cpp
  solution/1500-1599/1561.Maximum Number of Coins You Can Get/Solution.go
  solution/1500-1599/1561.Maximum Number of Coins You Can Get/Solution.java
  solution/1500-1599/1561.Maximum Number of Coins You Can Get/Solution.py
  solution/1500-1599/1561.Maximum Number of Coins You Can Get/Solution.rs
  solution/1500-1599/1561.Maximum Number of Coins You Can Get/Solution.ts
  solution/2300-2399/2306.Naming a Company/README.md
  solution/2300-2399/2306.Naming a Company/README_EN.md
  solution/2300-2399/2306.Naming a Company/Solution.ts
Labels: md, ts, py, go, java, cpp, rs, core team, c

#3561 feat: update lc problems
  solution/0000-0099/0063.Unique Paths II/README.md
  solution/0100-0199/0191.Number of 1 Bits/README.md
  solution/0300-0399/0314.Binary Tree Vertical Order Traversal/README_EN.md
  solution/0300-0399/0314.Binary Tree Vertical Order Traversal/images/image1.png
  solution/0300-0399/0314.Binary Tree Vertical Order Traversal/images/image2.png
  solution/0300-0399/0314.Binary Tree Vertical Order Traversal/images/image3.png
  solution/0400-0499/0428.Serialize and Deserialize N-ary Tree/README.md
  solution/0400-0499/0428.Serialize and Deserialize N-ary Tree/images/1727093143-BPVnoI-image.png
  solution/0400-0499/0428.Serialize and Deserialize N-ary Tree/images/1727093169-WGFOps-image.png
  solution/0900-0999/0929.Unique Email Addresses/README.md
  solution/0900-0999/0929.Unique Email Addresses/README_EN.md
  solution/1200-1299/1211.Queries Quality and Percentage/README.md
  solution/1600-1699/1666.Change the Root of a Binary Tree/README.md
  solution/1600-1699/1666.Change the Root of a Binary Tree/README_EN.md
  solution/1600-1699/1666.Change the Root of a Binary Tree/images/1727138189-YtDgTf-image.png
  solution/1600-1699/1666.Change the Root of a Binary Tree/images/bt_image_1.png
  solution/1600-1699/1666.Change the Root of a Binary Tree/images/fliptree.png
  solution/1800-1899/1858.Longest Word With All Prefixes/README_EN.md
  solution/2000-2099/2073.Time Needed to Buy Tickets/README.md
  solution/2000-2099/2073.Time Needed to Buy Tickets/README_EN.md
  solution/2300-2399/2332.The Latest Time to Catch a Bus/README.md
  solution/2300-2399/2333.Minimum Sum of Squared Difference/README.md
  solution/2300-2399/2333.Minimum Sum of Squared Difference/README_EN.md
  solution/2300-2399/2336.Smallest Number in Infinite Set/README.md
  solution/2300-2399/2336.Smallest Number in Infinite Set/README_EN.md
  solution/3100-3199/3128.Right Triangles/README.md
  solution/3100-3199/3128.Right Triangles/README_EN.md
  solution/3200-3299/3271.Hash Divided String/README.md
  solution/3200-3299/3273.Minimum Amount of Damage Dealt to Bob/README.md
  solution/README.md
  solution/README_EN.md
Labels: md, core team, png

#3560 feat: add js solution to lc problem: No.2416
  solution/2400-2499/2416.Sum of Prefix Scores of Strings/README.md
  solution/2400-2499/2416.Sum of Prefix Scores of Strings/README_EN.md
  solution/2400-2499/2416.Sum of Prefix Scores of Strings/Solution.js
Labels: js, md, ts

#3562 feat: update solutions to lc problem: No.1566
  solution/1500-1599/1566.Detect Pattern of Length M Repeated K or More Times/README.md
  solution/1500-1599/1566.Detect Pattern of Length M Repeated K or More Times/README_EN.md
  solution/1500-1599/1566.Detect Pattern of Length M Repeated K or More Times/Solution.cpp
  solution/1500-1599/1566.Detect Pattern of Length M Repeated K or More Times/Solution.go
  solution/1500-1599/1566.Detect Pattern of Length M Repeated K or More Times/Solution.java
  solution/1500-1599/1566.Detect Pattern of Length M Repeated K or More Times/Solution.py
  solution/1500-1599/1566.Detect Pattern of Length M Repeated K or More Times/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#3563 feat: update solutions to lc problem: No.2535
  solution/2500-2599/2535.Difference Between Element Sum and Digit Sum of an Array/README.md
  solution/2500-2599/2535.Difference Between Element Sum and Digit Sum of an Array/README_EN.md
  solution/2500-2599/2535.Difference Between Element Sum and Digit Sum of an Array/Solution.c
  solution/2500-2599/2535.Difference Between Element Sum and Digit Sum of an Array/Solution.cpp
  solution/2500-2599/2535.Difference Between Element Sum and Digit Sum of an Array/Solution.go
  solution/2500-2599/2535.Difference Between Element Sum and Digit Sum of an Array/Solution.java
  solution/2500-2599/2535.Difference Between Element Sum and Digit Sum of an Array/Solution.py
  solution/2500-2599/2535.Difference Between Element Sum and Digit Sum of an Array/Solution.rs
  solution/2500-2599/2535.Difference Between Element Sum and Digit Sum of an Array/Solution.ts
  solution/2500-2599/2535.Difference Between Element Sum and Digit Sum of an Array/Solution2.rs
  solution/3200-3299/3299.Sum of Consecutive Subsequences/README.md
  solution/3200-3299/3299.Sum of Consecutive Subsequences/README_EN.md
  solution/README.md
  solution/README_EN.md
Labels: md, ts, py, go, java, cpp, rs, core team, c

#3564 feat: add solutions to lc problem: No.3299
  solution/3200-3299/3299.Sum of Consecutive Subsequences/README.md
  solution/3200-3299/3299.Sum of Consecutive Subsequences/README_EN.md
  solution/3200-3299/3299.Sum of Consecutive Subsequences/Solution.cpp
  solution/3200-3299/3299.Sum of Consecutive Subsequences/Solution.go
  solution/3200-3299/3299.Sum of Consecutive Subsequences/Solution.java
  solution/3200-3299/3299.Sum of Consecutive Subsequences/Solution.py
Labels: md, py, go, java, cpp, core team

#3565 feat: add solutions to lc problem: No.2286
  solution/2200-2299/2286.Booking Concert Tickets in Groups/README.md
  solution/2200-2299/2286.Booking Concert Tickets in Groups/README_EN.md
  solution/2200-2299/2286.Booking Concert Tickets in Groups/Solution.py
  solution/2200-2299/2286.Booking Concert Tickets in Groups/Solution.ts
Labels: md, ts, py, core team

#3566 feat: add js solution to lc problem: No.0729
  solution/0700-0799/0729.My Calendar I/README.md
  solution/0700-0799/0729.My Calendar I/README_EN.md
  solution/0700-0799/0729.My Calendar I/Solution.js
Labels: js, md

#3567 feat: add solutions to lc problem: No.0728
  solution/0700-0799/0728.Self Dividing Numbers/README.md
  solution/0700-0799/0728.Self Dividing Numbers/README_EN.md
  solution/0700-0799/0728.Self Dividing Numbers/Solution.cpp
  solution/0700-0799/0728.Self Dividing Numbers/Solution.go
  solution/0700-0799/0728.Self Dividing Numbers/Solution.java
  solution/0700-0799/0728.Self Dividing Numbers/Solution.py
  solution/0700-0799/0728.Self Dividing Numbers/Solution.rs
  solution/0700-0799/0728.Self Dividing Numbers/Solution.ts
Labels: md, ts, py, go, java, cpp, rs, core team

#3568 feat: add solutions to lc problem: No.1971
  solution/1900-1999/1971.Find if Path Exists in Graph/README.md
  solution/1900-1999/1971.Find if Path Exists in Graph/README_EN.md
  solution/1900-1999/1971.Find if Path Exists in Graph/Solution.cpp
  solution/1900-1999/1971.Find if Path Exists in Graph/Solution.go
  solution/1900-1999/1971.Find if Path Exists in Graph/Solution.java
  solution/1900-1999/1971.Find if Path Exists in Graph/Solution.py
  solution/1900-1999/1971.Find if Path Exists in Graph/Solution.rs
  solution/1900-1999/1971.Find if Path Exists in Graph/Solution.ts
  solution/1900-1999/1971.Find if Path Exists in Graph/Solution2.cpp
  solution/1900-1999/1971.Find if Path Exists in Graph/Solution2.go
  solution/1900-1999/1971.Find if Path Exists in Graph/Solution2.java
  solution/1900-1999/1971.Find if Path Exists in Graph/Solution2.py
  solution/1900-1999/1971.Find if Path Exists in Graph/Solution2.rs
  solution/1900-1999/1971.Find if Path Exists in Graph/Solution2.ts
  solution/1900-1999/1971.Find if Path Exists in Graph/Solution3.cpp
  solution/1900-1999/1971.Find if Path Exists in Graph/Solution3.go
  solution/1900-1999/1971.Find if Path Exists in Graph/Solution3.java
  solution/1900-1999/1971.Find if Path Exists in Graph/Solution3.py
  solution/1900-1999/1971.Find if Path Exists in Graph/Solution3.rs
  solution/1900-1999/1971.Find if Path Exists in Graph/Solution3.ts
Labels: md, ts, py, go, java, cpp, rs, core team

#3569 feat: update lc problems
  solution/0300-0399/0314.Binary Tree Vertical Order Traversal/README.md
  solution/0300-0399/0314.Binary Tree Vertical Order Traversal/images/1727276130-UOKFsu-image.png
  solution/0300-0399/0314.Binary Tree Vertical Order Traversal/images/1727276212-bzuKab-image.png
  solution/0300-0399/0314.Binary Tree Vertical Order Traversal/images/1727276242-EGdtNz-image.png
  solution/0300-0399/0314.Binary Tree Vertical Order Traversal/images/vtree1.jpg
  solution/0300-0399/0314.Binary Tree Vertical Order Traversal/images/vtree2-1.jpg
  solution/0300-0399/0314.Binary Tree Vertical Order Traversal/images/vtree2.jpg
  solution/2200-2299/2286.Booking Concert Tickets in Groups/README_EN.md
  solution/2400-2499/2416.Sum of Prefix Scores of Strings/README.md
  solution/2400-2499/2416.Sum of Prefix Scores of Strings/README_EN.md
  solution/2500-2599/2535.Difference Between Element Sum and Digit Sum of an Array/README_EN.md
Labels: md, core team, png, jpg

#3570 feat: add solutions to lc problem: No.0508
  solution/0500-0599/0508.Most Frequent Subtree Sum/README.md
  solution/0500-0599/0508.Most Frequent Subtree Sum/README_EN.md
  solution/0500-0599/0508.Most Frequent Subtree Sum/Solution.cpp
  solution/0500-0599/0508.Most Frequent Subtree Sum/Solution.go
  solution/0500-0599/0508.Most Frequent Subtree Sum/Solution.java
  solution/0500-0599/0508.Most Frequent Subtree Sum/Solution.py
  solution/0500-0599/0508.Most Frequent Subtree Sum/Solution.rs
  solution/0500-0599/0508.Most Frequent Subtree Sum/Solution.ts
Labels: md, ts, py, go, java, cpp, rs, core team

#3572 feat: add js solution to lc problem: No.0731
  solution/0700-0799/0731.My Calendar II/README.md
  solution/0700-0799/0731.My Calendar II/README_EN.md
  solution/0700-0799/0731.My Calendar II/Solution.js
Labels: js, md

#3573 feat: add ts solution to lc problem: No.0731
  solution/0700-0799/0731.My Calendar II/README.md
  solution/0700-0799/0731.My Calendar II/README_EN.md
  solution/0700-0799/0731.My Calendar II/Solution.ts
Labels: md, ts

#3574 feat: add go solution to lcof2 problem: No.109 (#3574)
  lcof2/剑指 Offer II 109. 开密码锁/README.md
  lcof2/剑指 Offer II 109. 开密码锁/Solution.go
Labels: md, go, core team

#3575 feat: add solutions to lc problem: No.0731
  solution/0700-0799/0731.My Calendar II/README.md
  solution/0700-0799/0731.My Calendar II/README_EN.md
  solution/0700-0799/0731.My Calendar II/Solution3.js
  solution/0700-0799/0731.My Calendar II/Solution3.ts
Labels: js, md, ts

#3578 feat: update solutions to lc problem: No.1504
  solution/0600-0699/0621.Task Scheduler/README.md
  solution/0700-0799/0731.My Calendar II/README.md
  solution/0700-0799/0731.My Calendar II/README_EN.md
  solution/0900-0999/0908.Smallest Range I/README.md
  solution/1500-1599/1503.Last Moment Before All Ants Fall Out of a Plank/README.md
  solution/1500-1599/1503.Last Moment Before All Ants Fall Out of a Plank/README_EN.md
  solution/1500-1599/1504.Count Submatrices With All Ones/README.md
  solution/1500-1599/1504.Count Submatrices With All Ones/README_EN.md
  solution/1500-1599/1504.Count Submatrices With All Ones/Solution.ts
  solution/1900-1999/1971.Find if Path Exists in Graph/README.md
  solution/2200-2299/2286.Booking Concert Tickets in Groups/README.md
  solution/CONTEST_README.md
  solution/contest.json
Labels: md, ts, core team, json

#3579 feat: update solutions to lc problems: No.1508,1512
  solution/1500-1599/1508.Range Sum of Sorted Subarray Sums/README.md
  solution/1500-1599/1508.Range Sum of Sorted Subarray Sums/README_EN.md
  solution/1500-1599/1508.Range Sum of Sorted Subarray Sums/Solution.js
  solution/1500-1599/1508.Range Sum of Sorted Subarray Sums/Solution.ts
  solution/1500-1599/1512.Number of Good Pairs/README.md
  solution/1500-1599/1512.Number of Good Pairs/README_EN.md
  solution/1500-1599/1512.Number of Good Pairs/Solution.js
  solution/1500-1599/1512.Number of Good Pairs/Solution.rs
  solution/1500-1599/1512.Number of Good Pairs/Solution.ts
  solution/1500-1599/1512.Number of Good Pairs/Solution2.c
  solution/1500-1599/1512.Number of Good Pairs/Solution2.cpp
  solution/1500-1599/1512.Number of Good Pairs/Solution2.go
  solution/1500-1599/1512.Number of Good Pairs/Solution2.java
  solution/1500-1599/1512.Number of Good Pairs/Solution2.py
  solution/1500-1599/1512.Number of Good Pairs/Solution2.rs
  solution/1500-1599/1512.Number of Good Pairs/Solution2.ts
Labels: js, md, ts, py, go, java, cpp, rs, core team, c

#3581 feat: update lc problems
  solution/0400-0499/0413.Arithmetic Slices/README.md
  solution/0400-0499/0413.Arithmetic Slices/README_EN.md
  solution/1500-1599/1504.Count Submatrices With All Ones/README_EN.md
  solution/1500-1599/1508.Range Sum of Sorted Subarray Sums/README.md
  solution/1500-1599/1508.Range Sum of Sorted Subarray Sums/README_EN.md
  solution/2700-2799/2765.Longest Alternating Subarray/README.md
  solution/2700-2799/2765.Longest Alternating Subarray/README_EN.md
  solution/3300-3399/3300.Minimum Element After Replacement With Digit Sum/README.md
  solution/3300-3399/3300.Minimum Element After Replacement With Digit Sum/README_EN.md
  solution/3300-3399/3300.Minimum Element After Replacement With Digit Sum/Solution.cpp
  solution/3300-3399/3300.Minimum Element After Replacement With Digit Sum/Solution.go
  solution/3300-3399/3300.Minimum Element After Replacement With Digit Sum/Solution.java
  solution/3300-3399/3300.Minimum Element After Replacement With Digit Sum/Solution.py
  solution/3300-3399/3300.Minimum Element After Replacement With Digit Sum/Solution.ts
  solution/3300-3399/3301.Maximize the Total Height of Unique Towers/README.md
  solution/3300-3399/3301.Maximize the Total Height of Unique Towers/README_EN.md
  solution/3300-3399/3301.Maximize the Total Height of Unique Towers/Solution.cpp
  solution/3300-3399/3301.Maximize the Total Height of Unique Towers/Solution.go
  solution/3300-3399/3301.Maximize the Total Height of Unique Towers/Solution.java
  solution/3300-3399/3301.Maximize the Total Height of Unique Towers/Solution.py
  solution/3300-3399/3301.Maximize the Total Height of Unique Towers/Solution.ts
  solution/3300-3399/3302.Find the Lexicographically Smallest Valid Sequence/README.md
  solution/3300-3399/3302.Find the Lexicographically Smallest Valid Sequence/README_EN.md
  solution/3300-3399/3303.Find the Occurrence of First Almost Equal Substring/README.md
  solution/3300-3399/3303.Find the Occurrence of First Almost Equal Substring/README_EN.md
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/contest.json
Labels: md, ts, py, go, java, cpp, core team, json

#3582 feat: add go solution to lcof2 problem: No.114
  lcof2/剑指 Offer II 114. 外星文字典/README.md
  lcof2/剑指 Offer II 114. 外星文字典/Solution.go
Labels: md, go, core team

#3583 feat: add weekly contest 417
  solution/3300-3399/3304.Find the K-th Character in String Game I/README.md
  solution/3300-3399/3304.Find the K-th Character in String Game I/README_EN.md
  solution/3300-3399/3304.Find the K-th Character in String Game I/Solution.cpp
  solution/3300-3399/3304.Find the K-th Character in String Game I/Solution.go
  solution/3300-3399/3304.Find the K-th Character in String Game I/Solution.java
  solution/3300-3399/3304.Find the K-th Character in String Game I/Solution.py
  solution/3300-3399/3304.Find the K-th Character in String Game I/Solution.ts
  solution/3300-3399/3305.Count of Substrings Containing Every Vowel and K Consonants I/README.md
  solution/3300-3399/3305.Count of Substrings Containing Every Vowel and K Consonants I/README_EN.md
  solution/3300-3399/3305.Count of Substrings Containing Every Vowel and K Consonants I/Solution.cpp
  solution/3300-3399/3305.Count of Substrings Containing Every Vowel and K Consonants I/Solution.go
  solution/3300-3399/3305.Count of Substrings Containing Every Vowel and K Consonants I/Solution.java
  solution/3300-3399/3305.Count of Substrings Containing Every Vowel and K Consonants I/Solution.ts
  solution/3300-3399/3306.Count of Substrings Containing Every Vowel and K Consonants II/README.md
  solution/3300-3399/3306.Count of Substrings Containing Every Vowel and K Consonants II/README_EN.md
  solution/3300-3399/3306.Count of Substrings Containing Every Vowel and K Consonants II/Solution.cpp
  solution/3300-3399/3306.Count of Substrings Containing Every Vowel and K Consonants II/Solution.go
  solution/3300-3399/3306.Count of Substrings Containing Every Vowel and K Consonants II/Solution.java
  solution/3300-3399/3306.Count of Substrings Containing Every Vowel and K Consonants II/Solution.py
  solution/3300-3399/3306.Count of Substrings Containing Every Vowel and K Consonants II/Solution.ts
  solution/3300-3399/3307.Find the K-th Character in String Game II/README.md
  solution/3300-3399/3307.Find the K-th Character in String Game II/README_EN.md
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/contest.json
Labels: md, ts, py, go, java, cpp, core team, json

#3584 feat: add solutions to lc problem: No.3307
  solution/3300-3399/3307.Find the K-th Character in String Game II/README.md
  solution/3300-3399/3307.Find the K-th Character in String Game II/README_EN.md
  solution/3300-3399/3307.Find the K-th Character in String Game II/Solution.cpp
  solution/3300-3399/3307.Find the K-th Character in String Game II/Solution.go
  solution/3300-3399/3307.Find the K-th Character in String Game II/Solution.java
  solution/3300-3399/3307.Find the K-th Character in String Game II/Solution.py
  solution/3300-3399/3307.Find the K-th Character in String Game II/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#3586 feat: add solutions to lc problem: No.1845
  solution/1800-1899/1845.Seat Reservation Manager/README.md
  solution/1800-1899/1845.Seat Reservation Manager/README_EN.md
  solution/1800-1899/1845.Seat Reservation Manager/Solution.cs
  solution/1800-1899/1845.Seat Reservation Manager/Solution.py
  solution/1800-1899/1845.Seat Reservation Manager/Solution.ts
Labels: md, ts, py, core team, cs

#3587 feat: add solutions to lc problem: No.1849
  solution/1800-1899/1849.Splitting a String Into Descending Consecutive Values/README.md
  solution/1800-1899/1849.Splitting a String Into Descending Consecutive Values/README_EN.md
  solution/1800-1899/1849.Splitting a String Into Descending Consecutive Values/Solution.cpp
  solution/1800-1899/1849.Splitting a String Into Descending Consecutive Values/Solution.go
  solution/1800-1899/1849.Splitting a String Into Descending Consecutive Values/Solution.java
  solution/1800-1899/1849.Splitting a String Into Descending Consecutive Values/Solution.py
  solution/1800-1899/1849.Splitting a String Into Descending Consecutive Values/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#3588 feat: add solutions to lc problem: No.3308
  solution/3300-3399/3302.Find the Lexicographically Smallest Valid Sequence/README_EN.md
  solution/3300-3399/3303.Find the Occurrence of First Almost Equal Substring/README_EN.md
  solution/3300-3399/3308.Find Top Performing Driver/README.md
  solution/3300-3399/3308.Find Top Performing Driver/README_EN.md
  solution/3300-3399/3308.Find Top Performing Driver/Solution.sql
  solution/DATABASE_README.md
  solution/DATABASE_README_EN.md
  solution/README.md
  solution/README_EN.md
Labels: md, core team, sql

#3589 feat: update solutions to lc problems: No.181,462
  solution/0100-0199/0181.Employees Earning More Than Their Managers/README.md
  solution/0100-0199/0181.Employees Earning More Than Their Managers/README_EN.md
  solution/0100-0199/0181.Employees Earning More Than Their Managers/Solution.py
  solution/0100-0199/0181.Employees Earning More Than Their Managers/Solution.sql
  solution/0100-0199/0181.Employees Earning More Than Their Managers/Solution2.sql
  solution/0400-0499/0459.Repeated Substring Pattern/README.md
  solution/0400-0499/0459.Repeated Substring Pattern/README_EN.md
  solution/0400-0499/0459.Repeated Substring Pattern/Solution2.ts
  solution/0400-0499/0462.Minimum Moves to Equal Array Elements II/README.md
  solution/0400-0499/0462.Minimum Moves to Equal Array Elements II/README_EN.md
  solution/0400-0499/0462.Minimum Moves to Equal Array Elements II/Solution.cpp
  solution/0400-0499/0462.Minimum Moves to Equal Array Elements II/Solution.rs
  solution/0400-0499/0462.Minimum Moves to Equal Array Elements II/Solution.ts
  solution/0400-0499/0462.Minimum Moves to Equal Array Elements II/Solution2.py
Labels: md, ts, py, cpp, rs, core team, sql
