Repository doocs/leetcode, pull requests merged in 2024-05, with the labels that each got.

#2703 fix: update sql solution to lc problem: No.0602
  solution/0600-0699/0602.Friend Requests II Who Has the Most Friends/README.md
  solution/0600-0699/0602.Friend Requests II Who Has the Most Friends/README_EN.md
  solution/0600-0699/0602.Friend Requests II Who Has the Most Friends/Solution.sql
Labels: md, sql

#2704 feat: add swift implementation to lcci problem: No.08.12
  lcci/08.12.Eight Queens/README.md
  lcci/08.12.Eight Queens/README_EN.md
  lcci/08.12.Eight Queens/Solution.swift
Labels: md, swift

#2705 feat: add swift implementation to lcci problem: No.08.13
  lcci/08.13.Pile Box/README.md
  lcci/08.13.Pile Box/README_EN.md
  lcci/08.13.Pile Box/Solution.swift
Labels: md, swift

#2706 feat: add swift implementation to lcci problem: No.08.14
  lcci/08.14.Boolean Evaluation/README.md
  lcci/08.14.Boolean Evaluation/README_EN.md
  lcci/08.14.Boolean Evaluation/Solution.swift
Labels: md, swift

#2708 feat: update solutions to lcci problems: No.16.01,16.25
  lcci/16.01.Swap Numbers/README.md
  lcci/16.01.Swap Numbers/README_EN.md
  lcci/16.01.Swap Numbers/Solution2.ts
  lcci/16.15.Master Mind/README.md
  lcci/16.20.T9/README.md
  lcci/16.20.T9/README_EN.md
  lcci/16.22.Langtons Ant/README.md
  lcci/16.22.Langtons Ant/README_EN.md
  lcci/16.25.LRU Cache/README.md
  lcci/16.25.LRU Cache/README_EN.md
  lcci/16.25.LRU Cache/Solution.cpp
  lcci/16.25.LRU Cache/Solution.cs
  lcci/16.25.LRU Cache/Solution.go
  lcci/16.25.LRU Cache/Solution.java
  lcci/16.25.LRU Cache/Solution.py
  lcci/16.25.LRU Cache/Solution.rs
  lcci/16.25.LRU Cache/Solution.ts
  lcci/16.26.Calculator/README_EN.md
  solution/0100-0199/0146.LRU Cache/README.md
  solution/0100-0199/0146.LRU Cache/README_EN.md
Labels: md, ts, py, go, java, cpp, rs, core team, cs

#2709 feat: update solutions to lcci problems: No.17.05~17.08
  lcci/17.05.Find Longest Subarray/README_EN.md
  lcci/17.06.Number Of 2s In Range/README_EN.md
  lcci/17.07.Baby Names/README_EN.md
  lcci/17.08.Circus Tower/README.md
  lcci/17.08.Circus Tower/README_EN.md
Labels: md, core team

#2710 feat: update lc problems
  solution/0000-0099/0008.String to Integer (atoi)/README_EN.md
  solution/0000-0099/0012.Integer to Roman/README_EN.md
  solution/0000-0099/0038.Count and Say/README_EN.md
  solution/0000-0099/0065.Valid Number/README_EN.md
  solution/0000-0099/0071.Simplify Path/README_EN.md
  solution/1300-1399/1385.Find the Distance Value Between Two Arrays/README_EN.md
  solution/2000-2099/2044.Count Number of Maximum Bitwise-OR Subsets/README.md
  solution/2000-2099/2044.Count Number of Maximum Bitwise-OR Subsets/README_EN.md
  solution/2100-2199/2182.Construct String With Repeat Limit/README.md
  solution/2100-2199/2182.Construct String With Repeat Limit/README_EN.md
  solution/2100-2199/2196.Create Binary Tree From Descriptions/README.md
  solution/2100-2199/2196.Create Binary Tree From Descriptions/README_EN.md
  solution/2300-2399/2385.Amount of Time for Binary Tree to Be Infected/README.md
  solution/2300-2399/2385.Amount of Time for Binary Tree to Be Infected/README_EN.md
  solution/2400-2499/2460.Apply Operations to an Array/README.md
  solution/2400-2499/2460.Apply Operations to an Array/README_EN.md
  solution/2400-2499/2473.Minimum Cost to Buy Apples/README_EN.md
  solution/2700-2799/2708.Maximum Strength of a Group/README.md
  solution/2700-2799/2708.Maximum Strength of a Group/README_EN.md
  solution/2900-2999/2936.Number of Equal Numbers Blocks/README.md
  solution/2900-2999/2936.Number of Equal Numbers Blocks/README_EN.md
  solution/2900-2999/2947.Count Beautiful Substrings I/README.md
  solution/2900-2999/2947.Count Beautiful Substrings I/README_EN.md
  solution/3100-3199/3102.Minimize Manhattan Distances/README.md
  solution/3100-3199/3102.Minimize Manhattan Distances/README_EN.md
  solution/3100-3199/3125.Maximum Number That Makes Result of Bitwise AND Zero/README.md
  solution/3100-3199/3125.Maximum Number That Makes Result of Bitwise AND Zero/README_EN.md
  solution/3100-3199/3126.Server Utilization Time/README.md
  solution/3100-3199/3126.Server Utilization Time/README_EN.md
  solution/3100-3199/3127.Make a Square with the Same Color/README.md
  solution/3100-3199/3127.Make a Square with the Same Color/README_EN.md
  solution/3100-3199/3128.Right Triangles/README.md
  solution/3100-3199/3128.Right Triangles/README_EN.md
  solution/3100-3199/3129.Find All Possible Stable Binary Arrays I/README.md
  solution/3100-3199/3129.Find All Possible Stable Binary Arrays I/README_EN.md
  solution/3100-3199/3130.Find All Possible Stable Binary Arrays II/README.md
  solution/3100-3199/3130.Find All Possible Stable Binary Arrays II/README_EN.md
  solution/3100-3199/3131.Find the Integer Added to Array I/README.md
  solution/3100-3199/3131.Find the Integer Added to Array I/README_EN.md
  solution/3100-3199/3132.Find the Integer Added to Array II/README.md
  solution/3100-3199/3132.Find the Integer Added to Array II/README_EN.md
  solution/3100-3199/3133.Minimum Array End/README.md
  solution/3100-3199/3133.Minimum Array End/README_EN.md
  solution/3100-3199/3134.Find the Median of the Uniqueness Array/README.md
  solution/3100-3199/3134.Find the Median of the Uniqueness Array/README_EN.md
  solution/3100-3199/3135.Equalize Strings by Adding or Removing Characters at Ends/README.md
  solution/3100-3199/3135.Equalize Strings by Adding or Removing Characters at Ends/README_EN.md
  solution/3100-3199/3135.Equalize Strings by Adding or Removing Characters at Ends/Solution.cpp
  solution/3100-3199/3135.Equalize Strings by Adding or Removing Characters at Ends/Solution.go
  solution/3100-3199/3135.Equalize Strings by Adding or Removing Characters at Ends/Solution.java
  solution/3100-3199/3135.Equalize Strings by Adding or Removing Characters at Ends/Solution.py
  solution/3100-3199/3135.Equalize Strings by Adding or Removing Characters at Ends/Solution.ts
  solution/DATABASE_README.md
  solution/DATABASE_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/contest.json
Labels: md, core team

#2711 feat: add swift implementation to lcci problem: No.10.01
  lcci/10.01.Sorted Merge/README.md
  lcci/10.01.Sorted Merge/README_EN.md
  lcci/10.01.Sorted Merge/Solution.swift
Labels: md, swift

#2717 feat: add swift implementation to lcci problem: No.10.11
  lcci/10.11.Peaks and Valleys/README.md
  lcci/10.11.Peaks and Valleys/README_EN.md
  lcci/10.11.Peaks and Valleys/Solution.swift
Labels: md, swift

#2712 feat: add swift implementation to lcci problem: No.10.02
  lcci/10.02.Group Anagrams/README.md
  lcci/10.02.Group Anagrams/README_EN.md
  lcci/10.02.Group Anagrams/Solution.swift
Labels: md, swift

#2716 feat: add swift implementation to lcci problem: No.10.10
  lcci/10.10.Rank from Stream/README.md
  lcci/10.10.Rank from Stream/README_EN.md
  lcci/10.10.Rank from Stream/Solution.swift
Labels: md, swift

#2714 feat: add swift implementation to lcci problem: No.10.05
  lcci/10.05.Sparse Array Search/README.md
  lcci/10.05.Sparse Array Search/README_EN.md
  lcci/10.05.Sparse Array Search/Solution.swift
Labels: md, swift

#2713 feat: add swift implementation to lcci problem: No.10.03
  lcci/10.03.Search Rotate Array/README.md
  lcci/10.03.Search Rotate Array/README_EN.md
  lcci/10.03.Search Rotate Array/Solution.swift
Labels: md, swift

#2715 feat: add swift implementation to lcci problem: No.10.09
  lcci/10.09.Sorted Matrix Search/README.md
  lcci/10.09.Sorted Matrix Search/README_EN.md
  lcci/10.09.Sorted Matrix Search/Solution.swift
Labels: md, swift

#2718 feat: add solutions to lcci problem: No.17.11
  lcci/17.11.Find Closest/README.md
  lcci/17.11.Find Closest/README_EN.md
  lcci/17.11.Find Closest/Solution.cpp
  lcci/17.11.Find Closest/Solution.go
  lcci/17.11.Find Closest/Solution.java
  lcci/17.11.Find Closest/Solution.py
  lcci/17.11.Find Closest/Solution.rs
  lcci/17.11.Find Closest/Solution.ts
  lcci/17.11.Find Closest/Solution2.cpp
  lcci/17.11.Find Closest/Solution2.go
  lcci/17.11.Find Closest/Solution2.java
  lcci/17.11.Find Closest/Solution2.py
  lcci/17.11.Find Closest/Solution2.ts
  solution/1400-1499/1491.Average Salary Excluding the Minimum and Maximum Salary/README.md
Labels: md, ts, py, go, java, cpp, rs, core team

#2719 feat: add solutions to lc problem: No.1235
  solution/1200-1299/1235.Maximum Profit in Job Scheduling/README.md
  solution/1200-1299/1235.Maximum Profit in Job Scheduling/README_EN.md
  solution/1200-1299/1235.Maximum Profit in Job Scheduling/Solution2.py
  solution/1200-1299/1235.Maximum Profit in Job Scheduling/Solution2.ts
  solution/1200-1299/1235.Maximum Profit in Job Scheduling/Solution3.py
Labels: md, ts, py, core team

#2720 fix: typo
  solution/0000-0099/0034.Find First and Last Position of Element in Sorted Array/README.md
Labels: md

#2722 feat: add weekly contest 396
  lcci/10.09.Sorted Matrix Search/README.md
  lcci/10.09.Sorted Matrix Search/README_EN.md
  solution/3100-3199/3136.Valid Word/README.md
  solution/3100-3199/3136.Valid Word/README_EN.md
  solution/3100-3199/3136.Valid Word/Solution.cpp
  solution/3100-3199/3136.Valid Word/Solution.go
  solution/3100-3199/3136.Valid Word/Solution.java
  solution/3100-3199/3136.Valid Word/Solution.py
  solution/3100-3199/3136.Valid Word/Solution.ts
  solution/3100-3199/3137.Minimum Number of Operations to Make Word K-Periodic/README.md
  solution/3100-3199/3137.Minimum Number of Operations to Make Word K-Periodic/README_EN.md
  solution/3100-3199/3137.Minimum Number of Operations to Make Word K-Periodic/Solution.cpp
  solution/3100-3199/3137.Minimum Number of Operations to Make Word K-Periodic/Solution.go
  solution/3100-3199/3137.Minimum Number of Operations to Make Word K-Periodic/Solution.java
  solution/3100-3199/3137.Minimum Number of Operations to Make Word K-Periodic/Solution.py
  solution/3100-3199/3137.Minimum Number of Operations to Make Word K-Periodic/Solution.ts
  solution/3100-3199/3138.Minimum Length of Anagram Concatenation/README.md
  solution/3100-3199/3138.Minimum Length of Anagram Concatenation/README_EN.md
  solution/3100-3199/3139.Minimum Cost to Equalize Array/README.md
  solution/3100-3199/3139.Minimum Cost to Equalize Array/README_EN.md
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/contest.json
Labels: md, ts, py, go, java, cpp, core team, json

#2724 feat: add solutions to lc problem: No.0742
  solution/0700-0799/0742.Closest Leaf in a Binary Tree/README.md
  solution/0700-0799/0742.Closest Leaf in a Binary Tree/README_EN.md
  solution/0700-0799/0742.Closest Leaf in a Binary Tree/Solution.cpp
  solution/0700-0799/0742.Closest Leaf in a Binary Tree/Solution.go
  solution/0700-0799/0742.Closest Leaf in a Binary Tree/Solution.java
  solution/0700-0799/0742.Closest Leaf in a Binary Tree/Solution.py
Labels: md, py, go, java, cpp, core team

#2730 feat: add swift implementation to lcci problem: No.16.07
  lcci/16.07.Maximum/README.md
  lcci/16.07.Maximum/README_EN.md
  lcci/16.07.Maximum/Solution.swift
Labels: md, swift

#2728 feat: add swift implementation to lcci problem: No.16.05
  lcci/16.05.Factorial Zeros/README.md
  lcci/16.05.Factorial Zeros/README_EN.md
  lcci/16.05.Factorial Zeros/Solution.swift
Labels: md, swift

#2725 feat: add swift implementation to lcci problem: No.16.01
  lcci/16.01.Swap Numbers/README.md
  lcci/16.01.Swap Numbers/README_EN.md
  lcci/16.01.Swap Numbers/Solution.swift
Labels: md, swift

#2729 feat: add swift implementation to lcci problem: No.16.06
  lcci/16.06.Smallest Difference/README.md
  lcci/16.06.Smallest Difference/README_EN.md
  lcci/16.06.Smallest Difference/Solution.swift
Labels: md, swift

#2732 feat: add ts solution to lc problem: No.2381
  solution/2300-2399/2381.Shifting Letters II/README.md
  solution/2300-2399/2381.Shifting Letters II/README_EN.md
  solution/2300-2399/2381.Shifting Letters II/Solution.ts
Labels: md, ts

#2734 feat: add solutions to lc problem: No.0744
  solution/0700-0799/0744.Find Smallest Letter Greater Than Target/README.md
  solution/0700-0799/0744.Find Smallest Letter Greater Than Target/README_EN.md
  solution/0700-0799/0744.Find Smallest Letter Greater Than Target/Solution.cpp
  solution/0700-0799/0744.Find Smallest Letter Greater Than Target/Solution.go
  solution/0700-0799/0744.Find Smallest Letter Greater Than Target/Solution.java
  solution/0700-0799/0744.Find Smallest Letter Greater Than Target/Solution.php
  solution/0700-0799/0744.Find Smallest Letter Greater Than Target/Solution.py
  solution/0700-0799/0744.Find Smallest Letter Greater Than Target/Solution.rs
  solution/0700-0799/0744.Find Smallest Letter Greater Than Target/Solution.ts
  solution/0700-0799/0744.Find Smallest Letter Greater Than Target/Solution2.rs
  solution/2300-2399/2381.Shifting Letters II/README.md
  solution/2300-2399/2381.Shifting Letters II/README_EN.md
  solution/2300-2399/2381.Shifting Letters II/Solution.ts
Labels: md, ts, py, go, java, cpp, rs, core team, php

#2737 feat: update lc problems
  lcci/16.04.Tic-Tac-Toe/README.md
  lcci/16.04.Tic-Tac-Toe/README_EN.md
  lcci/16.06.Smallest Difference/README.md
  lcci/16.06.Smallest Difference/README_EN.md
  solution/0000-0099/0008.String to Integer (atoi)/README_EN.md
  solution/0300-0399/0305.Number of Islands II/README.md
  solution/0300-0399/0305.Number of Islands II/README_EN.md
  solution/0300-0399/0314.Binary Tree Vertical Order Traversal/README.md
  solution/0300-0399/0314.Binary Tree Vertical Order Traversal/README_EN.md
  solution/0700-0799/0745.Prefix and Suffix Search/README.md
  solution/0700-0799/0745.Prefix and Suffix Search/README_EN.md
  solution/0800-0899/0863.All Nodes Distance K in Binary Tree/README.md
  solution/0800-0899/0863.All Nodes Distance K in Binary Tree/README_EN.md
  solution/0900-0999/0987.Vertical Order Traversal of a Binary Tree/README.md
  solution/0900-0999/0987.Vertical Order Traversal of a Binary Tree/README_EN.md
  solution/1000-1099/1058.Minimize Rounding Error to Meet Target/README.md
  solution/1000-1099/1058.Minimize Rounding Error to Meet Target/README_EN.md
  solution/1000-1099/1059.All Paths from Source Lead to Destination/README.md
  solution/1000-1099/1059.All Paths from Source Lead to Destination/README_EN.md
  solution/1400-1499/1463.Cherry Pickup II/README.md
  solution/1400-1499/1463.Cherry Pickup II/README_EN.md
  solution/1400-1499/1463.Cherry Pickup II/Solution.go
  solution/1400-1499/1463.Cherry Pickup II/Solution.ts
  solution/1400-1499/1463.Cherry Pickup II/Solution2.go
  solution/1400-1499/1463.Cherry Pickup II/Solution2.ts
  solution/1500-1599/1525.Number of Good Ways to Split a String/README.md
  solution/1500-1599/1525.Number of Good Ways to Split a String/README_EN.md
  solution/1600-1699/1614.Maximum Nesting Depth of the Parentheses/README_EN.md
  solution/1700-1799/1766.Tree of Coprimes/README.md
  solution/1700-1799/1766.Tree of Coprimes/README_EN.md
  solution/1800-1899/1863.Sum of All Subset XOR Totals/README.md
  solution/1800-1899/1863.Sum of All Subset XOR Totals/README_EN.md
  solution/1900-1999/1928.Minimum Cost to Reach Destination in Time/README.md
  solution/1900-1999/1928.Minimum Cost to Reach Destination in Time/README_EN.md
  solution/1900-1999/1995.Count Special Quadruplets/README.md
  solution/1900-1999/1995.Count Special Quadruplets/README_EN.md
  solution/2000-2099/2015.Average Height of Buildings in Each Segment/README.md
  solution/2500-2599/2550.Count Collisions of Monkeys on a Polygon/README_EN.md
  solution/3100-3199/3136.Valid Word/README_EN.md
  solution/3100-3199/3138.Minimum Length of Anagram Concatenation/README.md
  solution/3100-3199/3139.Minimum Cost to Equalize Array/README.md
  solution/3100-3199/3140.Consecutive Available Seats II/README.md
  solution/3100-3199/3140.Consecutive Available Seats II/README_EN.md
  solution/3100-3199/3140.Consecutive Available Seats II/Solution.sql
  solution/DATABASE_README.md
  solution/DATABASE_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/contest.json
Labels: md, ts, go, core team

#2738 feat: add TypeScript solutions to lc problem: No.2406
  solution/2400-2499/2406.Divide Intervals Into Minimum Number of Groups/README.md
  solution/2400-2499/2406.Divide Intervals Into Minimum Number of Groups/README_EN.md
  solution/2400-2499/2406.Divide Intervals Into Minimum Number of Groups/Solution.ts
Labels: md, ts

#2740 feat: add solutions to lc problem: No.2708
  solution/2700-2799/2708.Maximum Strength of a Group/README.md
  solution/2700-2799/2708.Maximum Strength of a Group/README_EN.md
  solution/2700-2799/2708.Maximum Strength of a Group/Solution.cpp
  solution/2700-2799/2708.Maximum Strength of a Group/Solution.go
  solution/2700-2799/2708.Maximum Strength of a Group/Solution.java
  solution/2700-2799/2708.Maximum Strength of a Group/Solution.py
  solution/2700-2799/2708.Maximum Strength of a Group/Solution.ts
  solution/2700-2799/2708.Maximum Strength of a Group/Solution2.cpp
  solution/2700-2799/2708.Maximum Strength of a Group/Solution2.go
  solution/2700-2799/2708.Maximum Strength of a Group/Solution2.java
  solution/2700-2799/2708.Maximum Strength of a Group/Solution2.py
  solution/2700-2799/2708.Maximum Strength of a Group/Solution2.ts
  solution/2700-2799/2771.Longest Non-decreasing Subarray From Two Arrays/README.md
  solution/2700-2799/2771.Longest Non-decreasing Subarray From Two Arrays/README_EN.md
  solution/2700-2799/2773.Height of Special Binary Tree/README_EN.md
  solution/3100-3199/3140.Consecutive Available Seats II/README.md
  solution/3100-3199/3140.Consecutive Available Seats II/README_EN.md
  solution/3100-3199/3140.Consecutive Available Seats II/Solution.sql
Labels: md, ts, py, go, java, cpp, core team, sql

#2733 feat: update ts solutions to lc problem: No.2949
  solution/2900-2999/2949.Count Beautiful Substrings II/README.md
  solution/2900-2999/2949.Count Beautiful Substrings II/README_EN.md
  solution/2900-2999/2949.Count Beautiful Substrings II/Solution.ts
Labels: md, ts

#2741 feat: update ts solutions to lc problem: No.2528
  solution/2500-2599/2528.Maximize the Minimum Powered City/README.md
  solution/2500-2599/2528.Maximize the Minimum Powered City/README_EN.md
  solution/2500-2599/2528.Maximize the Minimum Powered City/Solution.ts
Labels: md, ts

#2749 feat: add solutions to lc problem: No.63
  solution/0000-0099/0063.Unique Paths II/README.md
  solution/0000-0099/0063.Unique Paths II/README_EN.md
  solution/0000-0099/0063.Unique Paths II/Solution.cpp
  solution/0000-0099/0063.Unique Paths II/Solution.go
  solution/0000-0099/0063.Unique Paths II/Solution.java
  solution/0000-0099/0063.Unique Paths II/Solution.py
  solution/0000-0099/0063.Unique Paths II/Solution.ts
  solution/0000-0099/0063.Unique Paths II/Solution2.cpp
  solution/0000-0099/0063.Unique Paths II/Solution2.go
  solution/0000-0099/0063.Unique Paths II/Solution2.java
  solution/0000-0099/0063.Unique Paths II/Solution2.py
  solution/0000-0099/0063.Unique Paths II/Solution2.rs
  solution/0000-0099/0063.Unique Paths II/Solution2.ts
  solution/1100-1199/1128.Number of Equivalent Domino Pairs/README.md
  solution/1100-1199/1128.Number of Equivalent Domino Pairs/README_EN.md
  solution/1100-1199/1128.Number of Equivalent Domino Pairs/Solution.py
  solution/1100-1199/1128.Number of Equivalent Domino Pairs/Solution2.py
  solution/1100-1199/1133.Largest Unique Number/README.md
  solution/1100-1199/1133.Largest Unique Number/README_EN.md
  solution/1100-1199/1133.Largest Unique Number/Solution.js
  solution/1100-1199/1133.Largest Unique Number/Solution.py
  solution/1100-1199/1133.Largest Unique Number/Solution.ts
  solution/1100-1199/1133.Largest Unique Number/Solution2.py
  solution/1100-1199/1135.Connecting Cities With Minimum Cost/README.md
  solution/1100-1199/1135.Connecting Cities With Minimum Cost/README_EN.md
  solution/1100-1199/1135.Connecting Cities With Minimum Cost/Solution.ts
  solution/1100-1199/1136.Parallel Courses/README.md
  solution/1100-1199/1136.Parallel Courses/README_EN.md
  solution/1100-1199/1136.Parallel Courses/Solution.ts
  solution/2400-2499/2406.Divide Intervals Into Minimum Number of Groups/README.md
  solution/2400-2499/2406.Divide Intervals Into Minimum Number of Groups/README_EN.md
  solution/2400-2499/2406.Divide Intervals Into Minimum Number of Groups/Solution.py
  solution/2400-2499/2406.Divide Intervals Into Minimum Number of Groups/Solution.ts
Labels: js, md, ts, py, go, java, cpp, rs, core team

#2742 feat: add swift implementation to lcci problem: No.16.10
  lcci/16.10.Living People/README.md
  lcci/16.10.Living People/README_EN.md
  lcci/16.10.Living People/Solution.swift
Labels: md, swift

#2743 feat: add swift implementation to lcci problem: No.16.11
  lcci/16.11.Diving Board/README.md
  lcci/16.11.Diving Board/README_EN.md
  lcci/16.11.Diving Board/Solution.swift
Labels: md, swift

#2744 feat: add swift implementation to lcci problem: No.16.13
  lcci/16.13.Bisect Squares/README.md
  lcci/16.13.Bisect Squares/README_EN.md
  lcci/16.13.Bisect Squares/Solution.swift
Labels: md, swift

#2745 feat: add swift implementation to lcci problem: No.16.14
  lcci/16.14.Best Line/README.md
  lcci/16.14.Best Line/README_EN.md
  lcci/16.14.Best Line/Solution.swift
Labels: md, swift

#2746 feat: add swift implementation to lcci problem: No.16.15
  lcci/16.15.Master Mind/README.md
  lcci/16.15.Master Mind/README_EN.md
  lcci/16.15.Master Mind/Solution.swift
Labels: md, swift

#2747 feat: add swift implementation to lcci problem: No.16.16
  lcci/16.16.Sub Sort/README.md
  lcci/16.16.Sub Sort/README_EN.md
  lcci/16.16.Sub Sort/Solution.swift
Labels: md, swift

#2748 feat: add swift implementation to lcci problem: No.16.17
  lcci/16.17.Contiguous Sequence/README.md
  lcci/16.17.Contiguous Sequence/README_EN.md
  lcci/16.17.Contiguous Sequence/Solution.swift
Labels: md, swift

#2750 feat: add ts solution to lc problem: No.2521
  solution/2500-2599/2521.Distinct Prime Factors of Product of Array/README.md
  solution/2500-2599/2521.Distinct Prime Factors of Product of Array/README_EN.md
  solution/2500-2599/2521.Distinct Prime Factors of Product of Array/Solution.ts
  solution/2500-2599/2522.Partition String Into Substrings With Values at Most K/README_EN.md
Labels: md, ts, core team

#2756 feat: add solutions to lc problem: No.2079
  solution/2000-2099/2079.Watering Plants/README.md
  solution/2000-2099/2079.Watering Plants/README_EN.md
  solution/2000-2099/2079.Watering Plants/Solution.c
  solution/2000-2099/2079.Watering Plants/Solution.cpp
  solution/2000-2099/2079.Watering Plants/Solution.go
  solution/2000-2099/2079.Watering Plants/Solution.java
  solution/2000-2099/2079.Watering Plants/Solution.py
  solution/2000-2099/2079.Watering Plants/Solution.rs
  solution/2000-2099/2079.Watering Plants/Solution.ts
Labels: md, ts, py, go, java, cpp, rs, core team, c

#2757 feat: add TypeScript solutions to lc problem: No.476
  solution/0400-0499/0476.Number Complement/README.md
  solution/0400-0499/0476.Number Complement/README_EN.md
  solution/0400-0499/0476.Number Complement/Solution2.ts
Labels: md, ts

#2758 feat: add solutions to lc problem: No.2080
  solution/2000-2099/2080.Range Frequency Queries/README.md
  solution/2000-2099/2080.Range Frequency Queries/README_EN.md
  solution/2000-2099/2080.Range Frequency Queries/Solution.cpp
  solution/2000-2099/2080.Range Frequency Queries/Solution.go
  solution/2000-2099/2080.Range Frequency Queries/Solution.java
  solution/2000-2099/2080.Range Frequency Queries/Solution.py
  solution/2000-2099/2080.Range Frequency Queries/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2759 feat: update solutions to lc problem: No.0476
  solution/0400-0499/0476.Number Complement/README.md
  solution/0400-0499/0476.Number Complement/README_EN.md
  solution/0400-0499/0476.Number Complement/Solution.cpp
  solution/0400-0499/0476.Number Complement/Solution.go
  solution/0400-0499/0476.Number Complement/Solution.java
  solution/0400-0499/0476.Number Complement/Solution.py
  solution/0400-0499/0476.Number Complement/Solution.ts
  solution/0400-0499/0476.Number Complement/Solution2.cpp
  solution/0400-0499/0476.Number Complement/Solution2.py
Labels: md, ts, py, go, java, cpp, core team

#2760 feat: add solutions to lc problem: No.0477
  solution/0400-0499/0477.Total Hamming Distance/README.md
  solution/0400-0499/0477.Total Hamming Distance/README_EN.md
  solution/0400-0499/0477.Total Hamming Distance/Solution.cpp
  solution/0400-0499/0477.Total Hamming Distance/Solution.go
  solution/0400-0499/0477.Total Hamming Distance/Solution.java
  solution/0400-0499/0477.Total Hamming Distance/Solution.py
  solution/0400-0499/0477.Total Hamming Distance/Solution.rs
  solution/0400-0499/0477.Total Hamming Distance/Solution.ts
Labels: md, ts, py, go, java, cpp, rs, core team

#2761 feat: add swift implementation to lcci problem: No.16.18
  lcci/16.18.Pattern Matching/README.md
  lcci/16.18.Pattern Matching/README_EN.md
  lcci/16.18.Pattern Matching/Solution.swift
Labels: md, swift

#2762 feat: add swift implementation to lcci problem: No.16.19
  lcci/16.19.Pond Sizes/README.md
  lcci/16.19.Pond Sizes/README_EN.md
  lcci/16.19.Pond Sizes/Solution.swift
Labels: md, swift

#2763 feat: add swift implementation to lcci problem: No.16.20
  lcci/16.20.T9/README.md
  lcci/16.20.T9/README_EN.md
  lcci/16.20.T9/Solution.swift
Labels: md, swift

#2765 feat: add swift implementation to lcci problem: No.16.22
  lcci/16.22.Langtons Ant/README.md
  lcci/16.22.Langtons Ant/README_EN.md
  lcci/16.22.Langtons Ant/Solution.swift
Labels: md, swift

#2766 feat: add swift implementation to lcci problem: No.16.24
  lcci/16.24.Pairs With Sum/README.md
  lcci/16.24.Pairs With Sum/README_EN.md
  lcci/16.24.Pairs With Sum/Solution.swift
Labels: md, swift

#2768 feat: update lc problems
  lcci/16.11.Diving Board/README.md
  lcci/16.11.Diving Board/README_EN.md
  lcci/16.14.Best Line/README.md
  lcci/16.14.Best Line/README_EN.md
  lcci/16.15.Master Mind/README.md
  lcci/16.15.Master Mind/README_EN.md
  solution/2100-2199/2105.Watering Plants II/README.md
  solution/2100-2199/2105.Watering Plants II/README_EN.md
  solution/2100-2199/2105.Watering Plants II/Solution.cpp
  solution/2100-2199/2105.Watering Plants II/Solution.go
  solution/2100-2199/2105.Watering Plants II/Solution.java
  solution/2100-2199/2105.Watering Plants II/Solution.py
  solution/2100-2199/2105.Watering Plants II/Solution.rs
  solution/2100-2199/2105.Watering Plants II/Solution.ts
  solution/3100-3199/3135.Equalize Strings by Adding or Removing Characters at Ends/README.md
  solution/3100-3199/3135.Equalize Strings by Adding or Removing Characters at Ends/README_EN.md
  solution/3100-3199/3136.Valid Word/README.md
  solution/3100-3199/3136.Valid Word/README_EN.md
  solution/3100-3199/3137.Minimum Number of Operations to Make Word K-Periodic/README.md
  solution/3100-3199/3137.Minimum Number of Operations to Make Word K-Periodic/README_EN.md
  solution/3100-3199/3138.Minimum Length of Anagram Concatenation/README.md
  solution/3100-3199/3138.Minimum Length of Anagram Concatenation/README_EN.md
  solution/3100-3199/3139.Minimum Cost to Equalize Array/README.md
  solution/3100-3199/3139.Minimum Cost to Equalize Array/README_EN.md
  solution/3100-3199/3140.Consecutive Available Seats II/README.md
  solution/3100-3199/3140.Consecutive Available Seats II/README_EN.md
  solution/3100-3199/3141.Maximum Hamming Distances/README.md
  solution/3100-3199/3141.Maximum Hamming Distances/README_EN.md
  solution/DATABASE_README.md
  solution/DATABASE_README_EN.md
  solution/README.md
  solution/README_EN.md
Labels: md, ts, py, go, java, cpp, rs, core team

#2773 feat: add swift implementation to lcci problem: No.17.05
  lcci/17.05.Find Longest Subarray/README.md
  lcci/17.05.Find Longest Subarray/README_EN.md
  lcci/17.05.Find Longest Subarray/Solution.swift
Labels: md, swift

#2769 feat: add swift implementation to lcci problem: No.16.25
  lcci/16.25.LRU Cache/README.md
  lcci/16.25.LRU Cache/README_EN.md
  lcci/16.25.LRU Cache/Solution.swift
Labels: md, swift

#2770 feat: add swift implementation to lcci problem: No.16.26
  lcci/16.26.Calculator/README.md
  lcci/16.26.Calculator/README_EN.md
  lcci/16.26.Calculator/Solution.swift
Labels: md, swift

#2771 feat: add swift implementation to lcci problem: No.17.01
  lcci/17.01.Add Without Plus/README.md
  lcci/17.01.Add Without Plus/README_EN.md
  lcci/17.01.Add Without Plus/Solution.swift
Labels: md, swift

#2772 feat: add swift implementation to lcci problem: No.17.04
  lcci/17.04.Missing Number/README.md
  lcci/17.04.Missing Number/README_EN.md
  lcci/17.04.Missing Number/Solution.swift
  lcci/17.04.Missing Number/Solution2.swift
Labels: md, swift

#2774 feat: add swift implementation to lcci problem: No.17.06
  lcci/17.06.Number Of 2s In Range/README.md
  lcci/17.06.Number Of 2s In Range/README_EN.md
  lcci/17.06.Number Of 2s In Range/Solution.swift
Labels: md, swift

#2775 feat: add solutions to lc problem: No.3141
  solution/0100-0199/0165.Compare Version Numbers/README_EN.md
  solution/0800-0899/0857.Minimum Cost to Hire K Workers/README.md
  solution/0800-0899/0857.Minimum Cost to Hire K Workers/README_EN.md
  solution/1100-1199/1112.Highest Grade For Each Student/README.md
  solution/2000-2099/2077.Paths in Maze That Lead to Same Room/README.md
  solution/2100-2199/2105.Watering Plants II/README.md
  solution/2500-2599/2563.Count the Number of Fair Pairs/README.md
  solution/3100-3199/3141.Maximum Hamming Distances/README.md
  solution/3100-3199/3141.Maximum Hamming Distances/README_EN.md
  solution/3100-3199/3141.Maximum Hamming Distances/Solution.cpp
  solution/3100-3199/3141.Maximum Hamming Distances/Solution.go
  solution/3100-3199/3141.Maximum Hamming Distances/Solution.java
  solution/3100-3199/3141.Maximum Hamming Distances/Solution.py
  solution/3100-3199/3141.Maximum Hamming Distances/Solution.ts
  solution/README.md
Labels: md, ts, py, go, java, cpp, core team

#2776 feat: add solutions to lc problem: No.2102
  solution/2100-2199/2102.Sequentially Ordinal Rank Tracker/README.md
  solution/2100-2199/2102.Sequentially Ordinal Rank Tracker/README_EN.md
  solution/2100-2199/2102.Sequentially Ordinal Rank Tracker/Solution.cpp
  solution/2100-2199/2102.Sequentially Ordinal Rank Tracker/Solution.py
  solution/2100-2199/2102.Sequentially Ordinal Rank Tracker/Solution2.cpp
  solution/2100-2199/2102.Sequentially Ordinal Rank Tracker/Solution2.java
  solution/2100-2199/2102.Sequentially Ordinal Rank Tracker/Solution2.py
  solution/2100-2199/2125.Number of Laser Beams in a Bank/README.md
  solution/2100-2199/2125.Number of Laser Beams in a Bank/README_EN.md
  solution/2100-2199/2125.Number of Laser Beams in a Bank/Solution.c
  solution/2100-2199/2125.Number of Laser Beams in a Bank/Solution.cpp
  solution/2100-2199/2125.Number of Laser Beams in a Bank/Solution.go
  solution/2100-2199/2125.Number of Laser Beams in a Bank/Solution.java
  solution/2100-2199/2125.Number of Laser Beams in a Bank/Solution.py
  solution/2100-2199/2125.Number of Laser Beams in a Bank/Solution.rs
  solution/2100-2199/2125.Number of Laser Beams in a Bank/Solution.ts
Labels: md, ts, py, go, java, cpp, rs, core team, c

#2777 feat: update solutions to lc problems: No.2391,2960
  solution/2300-2399/2391.Minimum Amount of Time to Collect Garbage/README.md
  solution/2300-2399/2391.Minimum Amount of Time to Collect Garbage/README_EN.md
  solution/2300-2399/2391.Minimum Amount of Time to Collect Garbage/Solution.cpp
  solution/2300-2399/2391.Minimum Amount of Time to Collect Garbage/Solution.cs
  solution/2300-2399/2391.Minimum Amount of Time to Collect Garbage/Solution.go
  solution/2300-2399/2391.Minimum Amount of Time to Collect Garbage/Solution.java
  solution/2300-2399/2391.Minimum Amount of Time to Collect Garbage/Solution.py
  solution/2300-2399/2391.Minimum Amount of Time to Collect Garbage/Solution.rs
  solution/2300-2399/2391.Minimum Amount of Time to Collect Garbage/Solution.ts
  solution/2300-2399/2391.Minimum Amount of Time to Collect Garbage/Solution2.cpp
  solution/2300-2399/2391.Minimum Amount of Time to Collect Garbage/Solution2.go
  solution/2300-2399/2391.Minimum Amount of Time to Collect Garbage/Solution2.java
  solution/2300-2399/2391.Minimum Amount of Time to Collect Garbage/Solution2.py
  solution/2300-2399/2391.Minimum Amount of Time to Collect Garbage/Solution2.ts
  solution/2900-2999/2960.Count Tested Devices After Test Operations/README.md
  solution/2900-2999/2960.Count Tested Devices After Test Operations/README_EN.md
  solution/2900-2999/2960.Count Tested Devices After Test Operations/Solution.cpp
  solution/2900-2999/2960.Count Tested Devices After Test Operations/Solution.go
  solution/2900-2999/2960.Count Tested Devices After Test Operations/Solution.java
  solution/2900-2999/2960.Count Tested Devices After Test Operations/Solution.py
  solution/2900-2999/2960.Count Tested Devices After Test Operations/Solution.rs
  solution/2900-2999/2960.Count Tested Devices After Test Operations/Solution.ts
Labels: md, ts, py, go, java, cpp, rs, core team, cs

#2779 feat: add swift implementation to lcci problem: No.17.07
  lcci/17.07.Baby Names/README.md
  lcci/17.07.Baby Names/README_EN.md
  lcci/17.07.Baby Names/Solution.swift
Labels: md, swift

#2780 feat: add swift implementation to lcci problem: No.17.08
  lcci/17.08.Circus Tower/README.md
  lcci/17.08.Circus Tower/README_EN.md
  lcci/17.08.Circus Tower/Solution.swift
Labels: md, swift

#2781 feat: add swift implementation to lcci problem: No.17.09
  lcci/17.09.Get Kth Magic Number/README.md
  lcci/17.09.Get Kth Magic Number/README_EN.md
  lcci/17.09.Get Kth Magic Number/Solution.swift
Labels: md, swift

#2782 feat: add swift implementation to lcci problem: No.17.10
  lcci/17.10.Find Majority Element/README.md
  lcci/17.10.Find Majority Element/README_EN.md
  lcci/17.10.Find Majority Element/Solution.swift
Labels: md, swift

#2783 feat: add swift implementation to lcci problem: No.17.11
  lcci/17.11.Find Closest/README.md
  lcci/17.11.Find Closest/README_EN.md
  lcci/17.11.Find Closest/Solution.swift
Labels: md, swift

#2785 feat: add swift implementation to lcci problem: No.17.14
  lcci/17.14.Smallest K/README.md
  lcci/17.14.Smallest K/README_EN.md
  lcci/17.14.Smallest K/Solution.swift
Labels: md, swift

#2786 feat: add swift implementation to lcci problem: No.17.15
  lcci/17.15.Longest Word/README.md
  lcci/17.15.Longest Word/README_EN.md
  lcci/17.15.Longest Word/Solution.swift
Labels: md, swift

#2784 feat: add swift implementation to lcci problem: No.17.13
  lcci/17.13.Re-Space/README.md
  lcci/17.13.Re-Space/README_EN.md
  lcci/17.13.Re-Space/Solution.swift
Labels: md, swift

#2787 feat: update solutions to lc problem: No.2326
  lcci/16.26.Calculator/README.md
  lcci/16.26.Calculator/README_EN.md
  lcci/17.01.Add Without Plus/README.md
  lcci/17.01.Add Without Plus/README_EN.md
  lcci/17.05.Find Longest Subarray/README.md
  lcci/17.05.Find Longest Subarray/README_EN.md
  solution/2300-2399/2326.Spiral Matrix IV/README.md
  solution/2300-2399/2326.Spiral Matrix IV/README_EN.md
  solution/2300-2399/2326.Spiral Matrix IV/Solution.cpp
  solution/2300-2399/2326.Spiral Matrix IV/Solution.go
  solution/2300-2399/2326.Spiral Matrix IV/Solution.java
  solution/2300-2399/2326.Spiral Matrix IV/Solution.py
  solution/2300-2399/2326.Spiral Matrix IV/Solution.ts
  solution/2300-2399/2391.Minimum Amount of Time to Collect Garbage/README.md
  solution/2300-2399/2391.Minimum Amount of Time to Collect Garbage/README_EN.md
  solution/2400-2499/2473.Minimum Cost to Buy Apples/README_EN.md
  solution/3000-3099/3017.Count the Number of Houses at a Certain Distance II/README.md
  solution/3000-3099/3017.Count the Number of Houses at a Certain Distance II/README_EN.md
  solution/README.md
  solution/README_EN.md
Labels: md, ts, py, go, java, cpp, core team

#2788 feat: add solutions to lc problems: No.2244,2589
  solution/2200-2299/2244.Minimum Rounds to Complete All Tasks/README.md
  solution/2200-2299/2244.Minimum Rounds to Complete All Tasks/README_EN.md
  solution/2200-2299/2244.Minimum Rounds to Complete All Tasks/Solution.rs
  solution/2200-2299/2244.Minimum Rounds to Complete All Tasks/Soluttion.ts
  solution/2200-2299/2245.Maximum Trailing Zeros in a Cornered Path/README_EN.md
  solution/2200-2299/2246.Longest Path With Different Adjacent Characters/README_EN.md
  solution/2200-2299/2247.Maximum Cost of Trip With K Highways/README_EN.md
  solution/2200-2299/2248.Intersection of Multiple Arrays/README_EN.md
  solution/2500-2599/2589.Minimum Time to Complete All Tasks/README.md
  solution/2500-2599/2589.Minimum Time to Complete All Tasks/README_EN.md
  solution/2500-2599/2589.Minimum Time to Complete All Tasks/Solution.rs
  solution/2500-2599/2589.Minimum Time to Complete All Tasks/Solution.ts
Labels: md, ts, rs, core team

#2789 feat: add solutions to lc problem: No.2197
  solution/2100-2199/2197.Replace Non-Coprime Numbers in Array/README.md
  solution/2100-2199/2197.Replace Non-Coprime Numbers in Array/README_EN.md
  solution/2100-2199/2197.Replace Non-Coprime Numbers in Array/Solution.cpp
  solution/2100-2199/2197.Replace Non-Coprime Numbers in Array/Solution.go
  solution/2100-2199/2197.Replace Non-Coprime Numbers in Array/Solution.java
  solution/2100-2199/2197.Replace Non-Coprime Numbers in Array/Solution.py
  solution/2100-2199/2197.Replace Non-Coprime Numbers in Array/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2790 feat: add solutions to lc problem: No.2195
  solution/2100-2199/2195.Append K Integers With Minimal Sum/README.md
  solution/2100-2199/2195.Append K Integers With Minimal Sum/README_EN.md
  solution/2100-2199/2195.Append K Integers With Minimal Sum/Solution.cpp
  solution/2100-2199/2195.Append K Integers With Minimal Sum/Solution.go
  solution/2100-2199/2195.Append K Integers With Minimal Sum/Solution.java
  solution/2100-2199/2195.Append K Integers With Minimal Sum/Solution.py
  solution/2100-2199/2195.Append K Integers With Minimal Sum/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2791 feat: add solutions to lc problems: No.2191,2194
  solution/2100-2199/2191.Sort the Jumbled Numbers/README.md
  solution/2100-2199/2191.Sort the Jumbled Numbers/README_EN.md
  solution/2100-2199/2191.Sort the Jumbled Numbers/Solution.cpp
  solution/2100-2199/2191.Sort the Jumbled Numbers/Solution.cs
  solution/2100-2199/2191.Sort the Jumbled Numbers/Solution.go
  solution/2100-2199/2191.Sort the Jumbled Numbers/Solution.java
  solution/2100-2199/2191.Sort the Jumbled Numbers/Solution.py
  solution/2100-2199/2191.Sort the Jumbled Numbers/Solution.rs
  solution/2100-2199/2191.Sort the Jumbled Numbers/Solution.ts
  solution/2100-2199/2194.Cells in a Range on an Excel Sheet/README.md
  solution/2100-2199/2194.Cells in a Range on an Excel Sheet/README_EN.md
  solution/2100-2199/2194.Cells in a Range on an Excel Sheet/Solution.cpp
  solution/2100-2199/2194.Cells in a Range on an Excel Sheet/Solution.go
  solution/2100-2199/2194.Cells in a Range on an Excel Sheet/Solution.ts
Labels: md, ts, py, go, java, cpp, rs, core team, cs

#2792 feat: add solutions to lc problem: No.2187
  solution/2100-2199/2187.Minimum Time to Complete Trips/README.md
  solution/2100-2199/2187.Minimum Time to Complete Trips/README_EN.md
  solution/2100-2199/2187.Minimum Time to Complete Trips/Solution.cpp
  solution/2100-2199/2187.Minimum Time to Complete Trips/Solution.go
  solution/2100-2199/2187.Minimum Time to Complete Trips/Solution.ts
Labels: md, ts, go, cpp, core team

#2793 feat: add biweekly contest 130
  solution/0000-0099/0008.String to Integer (atoi)/README.md
  solution/0100-0199/0165.Compare Version Numbers/README.md
  solution/0400-0499/0422.Valid Word Square/README.md
  solution/0400-0499/0422.Valid Word Square/images/1713840723-rPoAKZ-image.png
  solution/0400-0499/0422.Valid Word Square/images/1713840732-EvBDzU-image.png
  solution/0400-0499/0422.Valid Word Square/images/1713840738-tdOYTB-image.png
  solution/0600-0699/0656.Coin Path/README.md
  solution/0800-0899/0880.Decoded String at Index/README.md
  solution/1600-1699/1620.Coordinate With Maximum Network Quality/README.md
  solution/2800-2899/2838.Maximum Coins Heroes Can Collect/README.md
  solution/3100-3199/3140.Consecutive Available Seats II/README.md
  solution/3100-3199/3141.Maximum Hamming Distances/README.md
  solution/3100-3199/3142.Check if Grid Satisfies Conditions/README.md
  solution/3100-3199/3142.Check if Grid Satisfies Conditions/README_EN.md
  solution/3100-3199/3142.Check if Grid Satisfies Conditions/images/changed.png
  solution/3100-3199/3142.Check if Grid Satisfies Conditions/images/example21.png
  solution/3100-3199/3142.Check if Grid Satisfies Conditions/images/examplechanged.png
  solution/3100-3199/3143.Maximum Points Inside the Square/README.md
  solution/3100-3199/3143.Maximum Points Inside the Square/README_EN.md
  solution/3100-3199/3143.Maximum Points Inside the Square/images/3708-tc1.png
  solution/3100-3199/3143.Maximum Points Inside the Square/images/3708-tc2.png
  solution/3100-3199/3144.Minimum Substring Partition of Equal Character Frequency/README.md
  solution/3100-3199/3144.Minimum Substring Partition of Equal Character Frequency/README_EN.md
  solution/3100-3199/3145.Find Products of Elements of Big Array/README.md
  solution/3100-3199/3145.Find Products of Elements of Big Array/README_EN.md
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/DATABASE_README.md
  solution/README.md
  solution/README_EN.md
  solution/contest.json
Labels: md, core team, json, png

#2796 feat: add solutions to lc problems: No.3142,3143
  solution/3100-3199/3142.Check if Grid Satisfies Conditions/README.md
  solution/3100-3199/3142.Check if Grid Satisfies Conditions/README_EN.md
  solution/3100-3199/3142.Check if Grid Satisfies Conditions/Solution.cpp
  solution/3100-3199/3142.Check if Grid Satisfies Conditions/Solution.go
  solution/3100-3199/3142.Check if Grid Satisfies Conditions/Solution.java
  solution/3100-3199/3142.Check if Grid Satisfies Conditions/Solution.py
  solution/3100-3199/3142.Check if Grid Satisfies Conditions/Solution.ts
  solution/3100-3199/3143.Maximum Points Inside the Square/README.md
  solution/3100-3199/3143.Maximum Points Inside the Square/README_EN.md
  solution/3100-3199/3143.Maximum Points Inside the Square/Solution.cpp
  solution/3100-3199/3143.Maximum Points Inside the Square/Solution.go
  solution/3100-3199/3143.Maximum Points Inside the Square/Solution.java
  solution/3100-3199/3143.Maximum Points Inside the Square/Solution.py
  solution/3100-3199/3143.Maximum Points Inside the Square/Solution.ts
  solution/3100-3199/3146.Permutation Difference between Two Strings/README.md
  solution/3100-3199/3146.Permutation Difference between Two Strings/README_EN.md
  solution/3100-3199/3147.Taking Maximum Energy From the Mystic Dungeon/README.md
  solution/3100-3199/3147.Taking Maximum Energy From the Mystic Dungeon/README_EN.md
  solution/3100-3199/3148.Maximum Difference Score in a Grid/README.md
  solution/3100-3199/3148.Maximum Difference Score in a Grid/README_EN.md
  solution/3100-3199/3148.Maximum Difference Score in a Grid/images/grid1.png
  solution/3100-3199/3148.Maximum Difference Score in a Grid/images/moregridsdrawio-1.png
  solution/3100-3199/3149.Find the Minimum Cost Array Permutation/README.md
  solution/3100-3199/3149.Find the Minimum Cost Array Permutation/README_EN.md
  solution/3100-3199/3149.Find the Minimum Cost Array Permutation/images/example0gif.gif
  solution/3100-3199/3149.Find the Minimum Cost Array Permutation/images/example1gif.gif
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/contest.json
Labels: md, ts, py, go, java, cpp, core team, png, gif

#2797 feat: add solutions to lc problem: No.3146
  solution/3100-3199/3146.Permutation Difference between Two Strings/README.md
  solution/3100-3199/3146.Permutation Difference between Two Strings/README_EN.md
  solution/3100-3199/3146.Permutation Difference between Two Strings/Solution.cpp
  solution/3100-3199/3146.Permutation Difference between Two Strings/Solution.go
  solution/3100-3199/3146.Permutation Difference between Two Strings/Solution.java
  solution/3100-3199/3146.Permutation Difference between Two Strings/Solution.py
  solution/3100-3199/3146.Permutation Difference between Two Strings/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2798 feat: add solutions to lc problems: No.0994,3147
  solution/0900-0999/0994.Rotting Oranges/README.md
  solution/0900-0999/0994.Rotting Oranges/README_EN.md
  solution/0900-0999/0994.Rotting Oranges/Solution.cpp
  solution/0900-0999/0994.Rotting Oranges/Solution.go
  solution/0900-0999/0994.Rotting Oranges/Solution.java
  solution/0900-0999/0994.Rotting Oranges/Solution.py
  solution/0900-0999/0994.Rotting Oranges/Solution.rs
  solution/0900-0999/0994.Rotting Oranges/Solution.ts
  solution/3100-3199/3147.Taking Maximum Energy From the Mystic Dungeon/README.md
  solution/3100-3199/3147.Taking Maximum Energy From the Mystic Dungeon/README_EN.md
  solution/3100-3199/3147.Taking Maximum Energy From the Mystic Dungeon/Solution.cpp
  solution/3100-3199/3147.Taking Maximum Energy From the Mystic Dungeon/Solution.go
  solution/3100-3199/3147.Taking Maximum Energy From the Mystic Dungeon/Solution.java
  solution/3100-3199/3147.Taking Maximum Energy From the Mystic Dungeon/Solution.py
  solution/3100-3199/3147.Taking Maximum Energy From the Mystic Dungeon/Solution.ts
Labels: md, ts, py, go, java, cpp, rs, core team

#2800 feat: add solutions to lc problem: No.3148
  solution/3100-3199/3148.Maximum Difference Score in a Grid/README.md
  solution/3100-3199/3148.Maximum Difference Score in a Grid/README_EN.md
  solution/3100-3199/3148.Maximum Difference Score in a Grid/Solution.cpp
  solution/3100-3199/3148.Maximum Difference Score in a Grid/Solution.go
  solution/3100-3199/3148.Maximum Difference Score in a Grid/Solution.java
  solution/3100-3199/3148.Maximum Difference Score in a Grid/Solution.py
  solution/3100-3199/3148.Maximum Difference Score in a Grid/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2801 feat: add TypeScript solutions to lc problem: No.60
  solution/0000-0099/0060.Permutation Sequence/README.md
  solution/0000-0099/0060.Permutation Sequence/README_EN.md
  solution/0000-0099/0060.Permutation Sequence/Solution.ts
Labels: md, ts

#2802 feat: add solutions to lc problems: No.3150
  .prettierignore
  solution/2500-2599/2578.Split With Minimum Sum/README_EN.md
  solution/3100-3199/3150.Invalid Tweets II/README.md
  solution/3100-3199/3150.Invalid Tweets II/README_EN.md
  solution/3100-3199/3150.Invalid Tweets II/Solution.py
  solution/3100-3199/3150.Invalid Tweets II/Solution.sql
  solution/CONTEST_README.md
  solution/DATABASE_README.md
  solution/DATABASE_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/contest.json
Labels: md, py, core team, json, sql, prettierignore

#2803 feat: add swift implementation to lcci problem: No.17.16
  lcci/17.16.The Masseuse/README.md
  lcci/17.16.The Masseuse/README_EN.md
  lcci/17.16.The Masseuse/Solution.swift
Labels: md, swift

#2804 feat: add swift implementation to lcci problem: No.17.17
  lcci/17.17.Multi Search/README.md
  lcci/17.17.Multi Search/README_EN.md
  lcci/17.17.Multi Search/Solution.swift
Labels: md, swift

#2805 feat: add swift implementation to lcci problem: No.17.18
  lcci/17.18.Shortest Supersequence/README.md
  lcci/17.18.Shortest Supersequence/README_EN.md
  lcci/17.18.Shortest Supersequence/Solution.swift
Labels: md, swift

#2806 feat: add swift implementation to lcci problem: No.17.19
  lcci/17.19.Missing Two/README.md
  lcci/17.19.Missing Two/README_EN.md
  lcci/17.19.Missing Two/Solution.swift
Labels: md, swift

#2807 feat: add swift implementation to lcci problem: No.17.20
  lcci/17.20.Continuous Median/README.md
  lcci/17.20.Continuous Median/README_EN.md
  lcci/17.20.Continuous Median/Solution.swift
Labels: md, swift

#2808 feat: add swift implementation to lcci problem: No.17.21
  lcci/17.21.Volume of Histogram/README.md
  lcci/17.21.Volume of Histogram/README_EN.md
  lcci/17.21.Volume of Histogram/Solution.swift
Labels: md, swift

#2809 feat: add solutions to lc problem: No.3149
  solution/3100-3199/3149.Find the Minimum Cost Array Permutation/README.md
  solution/3100-3199/3149.Find the Minimum Cost Array Permutation/README_EN.md
  solution/3100-3199/3149.Find the Minimum Cost Array Permutation/Solution.cpp
  solution/3100-3199/3149.Find the Minimum Cost Array Permutation/Solution.go
  solution/3100-3199/3149.Find the Minimum Cost Array Permutation/Solution.java
  solution/3100-3199/3149.Find the Minimum Cost Array Permutation/Solution.py
  solution/3100-3199/3149.Find the Minimum Cost Array Permutation/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2810 feat: add solutions to lc problem: No.3144
  solution/3100-3199/3144.Minimum Substring Partition of Equal Character Frequency/README.md
  solution/3100-3199/3144.Minimum Substring Partition of Equal Character Frequency/README_EN.md
  solution/3100-3199/3144.Minimum Substring Partition of Equal Character Frequency/Solution.cpp
  solution/3100-3199/3144.Minimum Substring Partition of Equal Character Frequency/Solution.go
  solution/3100-3199/3144.Minimum Substring Partition of Equal Character Frequency/Solution.java
  solution/3100-3199/3144.Minimum Substring Partition of Equal Character Frequency/Solution.py
  solution/3100-3199/3144.Minimum Substring Partition of Equal Character Frequency/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2811 feat: update lc problems
  lcci/17.16.The Masseuse/README.md
  lcci/17.16.The Masseuse/README_EN.md
  lcci/17.18.Shortest Supersequence/README.md
  lcci/17.18.Shortest Supersequence/README_EN.md
  lcci/17.19.Missing Two/README.md
  lcci/17.19.Missing Two/README_EN.md
  solution/3100-3199/3149.Find the Minimum Cost Array Permutation/README.md
  solution/3100-3199/3149.Find the Minimum Cost Array Permutation/README_EN.md
  solution/3100-3199/3150.Invalid Tweets II/README.md
  solution/DATABASE_README.md
  solution/README.md
Labels: md, core team

#2812 feat: add solutions to lcci problem: No.17.22
  lcci/17.22.Word Transformer/README.md
  lcci/17.22.Word Transformer/README_EN.md
  lcci/17.22.Word Transformer/Solution.cpp
  lcci/17.22.Word Transformer/Solution.go
  lcci/17.22.Word Transformer/Solution.java
  lcci/17.22.Word Transformer/Solution.py
  lcci/17.22.Word Transformer/Solution.ts
  lcci/17.23.Max Black Square/README.md
  lcci/17.23.Max Black Square/README_EN.md
  lcci/17.23.Max Black Square/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2815 feat: add metadata info
  lcp/LCP 30. 魔塔游戏/README.md
  lcp/LCP 31. 变换的迷宫/README.md
  lcp/LCP 32. 批量处理任务/README.md
  lcp/LCP 33. 蓄水/README.md
  lcp/LCP 34. 二叉树染色/README.md
  lcp/LCP 35. 电动车游城市/README.md
  lcp/LCP 36. 最多牌组数/README.md
  lcp/LCP 37. 最小矩形面积/README.md
  lcp/LCP 38. 守卫城堡/README.md
  lcp/LCP 39. 无人机方阵/README.md
  lcp/LCP 40. 心算挑战/README.md
  lcp/LCP 41. 黑白翻转棋/README.md
  lcp/LCP 42. 玩具套圈/README.md
  lcp/LCP 43. 十字路口的交通/README.md
  lcp/LCP 44. 开幕式焰火/README.md
  lcp/LCP 45. 自行车炫技赛场/README.md
  lcp/LCP 46. 志愿者调配/README.md
  lcp/LCP 47. 入场安检/README.md
  lcp/LCP 48. 无限棋局/README.md
  lcp/LCP 49. 环形闯关游戏/README.md
  lcp/LCP 50. 宝石补给/README.md
  lcp/LCP 51. 烹饪料理/README.md
  lcp/LCP 52. 二叉搜索树染色/README.md
  lcp/LCP 53. 守护太空城/README.md
  lcp/LCP 54. 夺回据点/README.md
  lcp/LCP 55. 采集果实/README.md
  lcp/LCP 56. 信物传送/README.md
  lcp/LCP 57. 打地鼠/README.md
  lcp/LCP 58. 积木拼接/README.md
  lcp/LCP 59. 搭桥过河/README.md
  lcp/LCP 60. 力扣泡泡龙/README.md
  lcp/LCP 61. 气温变化趋势/README.md
  lcp/LCP 62. 交通枢纽/README.md
  lcp/LCP 63. 弹珠游戏/README.md
  lcp/LCP 64. 二叉树灯饰/README.md
  lcp/LCP 65. 舒适的湿度/README.md
  lcp/LCP 66. 最小展台数量/README.md
  lcp/LCP 67. 装饰树/README.md
  lcp/LCP 68. 美观的花束/README.md
  lcp/LCP 69. Hello LeetCode!/README.md
  lcp/LCP 70. 沙地治理/README.md
  lcp/LCP 71. 集水器/README.md
  lcp/LCP 72. 补给马车/README.md
  lcp/LCP 73. 探险营地/README.md
  lcp/LCP 74. 最强祝福力场/README.md
  lcp/LCP 75. 传送卷轴/README.md
  lcp/LCP 76. 魔法棋盘/README.md
  lcp/LCP 77. 符文储备/README.md
  lcp/LCP 78. 城墙防线/README.md
  lcp/LCP 79. 提取咒文/README.md
  lcp/LCP 80. 生物进化录/README.md
  lcp/LCP 81. 与非的谜题/README.md
  lcp/LCP 82. 万灵之树/README.md
  lcp/main.py
  lcp/problem_readme_template.md
Labels: md, core team

#2816 chore: remove some tags data
  lcp/LCP 30. 魔塔游戏/README.md
  lcp/LCP 31. 变换的迷宫/README.md
  lcp/LCP 32. 批量处理任务/README.md
  lcp/LCP 33. 蓄水/README.md
  lcp/LCP 34. 二叉树染色/README.md
  lcp/LCP 35. 电动车游城市/README.md
  lcp/LCP 36. 最多牌组数/README.md
  lcp/LCP 37. 最小矩形面积/README.md
  lcp/LCP 38. 守卫城堡/README.md
  lcp/LCP 39. 无人机方阵/README.md
  lcp/LCP 40. 心算挑战/README.md
  lcp/LCP 41. 黑白翻转棋/README.md
  lcp/LCP 42. 玩具套圈/README.md
  lcp/LCP 43. 十字路口的交通/README.md
  lcp/LCP 44. 开幕式焰火/README.md
  lcp/LCP 45. 自行车炫技赛场/README.md
  lcp/LCP 46. 志愿者调配/README.md
  lcp/LCP 47. 入场安检/README.md
  lcp/LCP 48. 无限棋局/README.md
  lcp/LCP 49. 环形闯关游戏/README.md
  lcp/LCP 50. 宝石补给/README.md
  lcp/LCP 51. 烹饪料理/README.md
  lcp/LCP 52. 二叉搜索树染色/README.md
  lcp/LCP 53. 守护太空城/README.md
  lcp/LCP 54. 夺回据点/README.md
  lcp/LCP 55. 采集果实/README.md
  lcp/LCP 56. 信物传送/README.md
  lcp/LCP 57. 打地鼠/README.md
  lcp/LCP 58. 积木拼接/README.md
  lcp/LCP 59. 搭桥过河/README.md
  lcp/LCP 60. 力扣泡泡龙/README.md
  lcp/LCP 61. 气温变化趋势/README.md
  lcp/LCP 62. 交通枢纽/README.md
  lcp/LCP 63. 弹珠游戏/README.md
  lcp/LCP 64. 二叉树灯饰/README.md
  lcp/LCP 65. 舒适的湿度/README.md
  lcp/LCP 66. 最小展台数量/README.md
  lcp/LCP 67. 装饰树/README.md
  lcp/LCP 68. 美观的花束/README.md
  lcp/LCP 69. Hello LeetCode!/README.md
  lcp/LCP 70. 沙地治理/README.md
  lcp/LCP 71. 集水器/README.md
  lcp/main.py
Labels: md, core team

#2817 feat: add swift implementation to lcci problem: No.17.22
  lcci/17.22.Word Transformer/README.md
  lcci/17.22.Word Transformer/README_EN.md
  lcci/17.22.Word Transformer/Solution.swift
Labels: md, swift

#2818 feat: add swift implementation to lcci problem: No.17.23
  lcci/17.23.Max Black Square/README.md
  lcci/17.23.Max Black Square/README_EN.md
  lcci/17.23.Max Black Square/Solution.swift
Labels: md, swift

#2819 feat: add solutions to lc problem: No.1953
  lcp/LCP 34. 二叉树染色/README.md
  lcp/LCP 52. 二叉搜索树染色/README.md
  lcp/LCP 61. 气温变化趋势/README.md
  lcp/LCP 74. 最强祝福力场/README.md
  lcp/LCP 80. 生物进化录/README.md
  solution/1900-1999/1953.Maximum Number of Weeks for Which You Can Work/README.md
  solution/1900-1999/1953.Maximum Number of Weeks for Which You Can Work/README_EN.md
  solution/1900-1999/1953.Maximum Number of Weeks for Which You Can Work/Solution.ts
Labels: md, ts, core team

#2821 feat: update ts solution to lc problem: No.199
  solution/0100-0199/0199.Binary Tree Right Side View/README.md
  solution/0100-0199/0199.Binary Tree Right Side View/README_EN.md
  solution/0100-0199/0199.Binary Tree Right Side View/Solution.ts
Labels: md, ts

#2823 feat: add swift implementation to lcci problem: No.17.25
  lcci/17.25.Word Rectangle/README.md
  lcci/17.25.Word Rectangle/README_EN.md
  lcci/17.25.Word Rectangle/Solution.swift
Labels: md, swift

#2826 feat: add solutions to lc problem: No.0826
  solution/0800-0899/0826.Most Profit Assigning Work/README.md
  solution/0800-0899/0826.Most Profit Assigning Work/README_EN.md
  solution/0800-0899/0826.Most Profit Assigning Work/Solution.cpp
  solution/0800-0899/0826.Most Profit Assigning Work/Solution.go
  solution/0800-0899/0826.Most Profit Assigning Work/Solution.java
  solution/0800-0899/0826.Most Profit Assigning Work/Solution.py
  solution/0800-0899/0826.Most Profit Assigning Work/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2828 chore: remove summary files
  lcci/summary.md
  lcci/summary_en.md
  lcof/summary.md
  lcof/summary_en.md
  lcof2/summary.md
  lcp/summary.md
  lcp/summary_en.md
  lcs/summary.md
  lcs/summary_en.md
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/template.md
  solution/util.py
Labels: md, py, core team

#2829 feat: add swift implementation to lcof problem: No.03
  lcof/面试题03. 数组中重复的数字/README.md
  lcof/面试题03. 数组中重复的数字/Solution.swift
Labels: md, swift

#2830 feat: add swift implementation to lcof problem: No.04
  lcof/面试题04. 二维数组中的查找/README.md
  lcof/面试题04. 二维数组中的查找/Solution.swift
Labels: md, swift

#2831 feat: update solutions to lc problems: No.560,561
  solution/0500-0599/0560.Subarray Sum Equals K/README.md
  solution/0500-0599/0560.Subarray Sum Equals K/README_EN.md
  solution/0500-0599/0560.Subarray Sum Equals K/Solution.cpp
  solution/0500-0599/0560.Subarray Sum Equals K/Solution.go
  solution/0500-0599/0560.Subarray Sum Equals K/Solution.java
  solution/0500-0599/0560.Subarray Sum Equals K/Solution.py
  solution/0500-0599/0560.Subarray Sum Equals K/Solution.rs
  solution/0500-0599/0560.Subarray Sum Equals K/Solution.ts
  solution/0500-0599/0560.Subarray Sum Equals K/Solution2.rs
  solution/0500-0599/0561.Array Partition/README.md
  solution/0500-0599/0561.Array Partition/README_EN.md
  solution/0500-0599/0561.Array Partition/Solution.cpp
  solution/0500-0599/0561.Array Partition/Solution.go
  solution/0500-0599/0561.Array Partition/Solution.js
  solution/0500-0599/0561.Array Partition/Solution.py
  solution/0500-0599/0561.Array Partition/Solution.rs
Labels: js, md, ts, py, go, java, cpp, rs, core team

#2832 feat: add TS solution to lc problem: No.530 (#2820)
  solution/0500-0599/0530.Minimum Absolute Difference in BST/README.md
  solution/0500-0599/0530.Minimum Absolute Difference in BST/README_EN.md
  solution/0500-0599/0530.Minimum Absolute Difference in BST/Solution.ts
Labels: md, ts

#2833 feat: add TS solution to lc problem: No.701
  solution/0700-0799/0701.Insert into a Binary Search Tree/README.md
  solution/0700-0799/0701.Insert into a Binary Search Tree/README_EN.md
  solution/0700-0799/0701.Insert into a Binary Search Tree/Solution.ts
Labels: md, ts

#2836 refactor: refactor solution to lc problem: No.2622
  solution/2600-2699/2622.Cache With Time Limit/README.md
  solution/2600-2699/2622.Cache With Time Limit/README_EN.md
  solution/2600-2699/2622.Cache With Time Limit/Solution.ts
Labels: md, ts

#2837 feat: add weekly contest 398
  solution/3100-3199/3151.Special Array I/README.md
  solution/3100-3199/3151.Special Array I/README_EN.md
  solution/3100-3199/3152.Special Array II/README.md
  solution/3100-3199/3152.Special Array II/README_EN.md
  solution/3100-3199/3153.Sum of Digit Differences of All Pairs/README.md
  solution/3100-3199/3153.Sum of Digit Differences of All Pairs/README_EN.md
  solution/3100-3199/3154.Find Number of Ways to Reach the K-th Stair/README.md
  solution/3100-3199/3154.Find Number of Ways to Reach the K-th Stair/README_EN.md
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/contest.json
Labels: md, core team, json

#2838 feat: add solutions to lc problems: No.3151~3153
  solution/3100-3199/3151.Special Array I/README.md
  solution/3100-3199/3151.Special Array I/README_EN.md
  solution/3100-3199/3151.Special Array I/Solution.cpp
  solution/3100-3199/3151.Special Array I/Solution.go
  solution/3100-3199/3151.Special Array I/Solution.java
  solution/3100-3199/3151.Special Array I/Solution.py
  solution/3100-3199/3151.Special Array I/Solution.ts
  solution/3100-3199/3152.Special Array II/README.md
  solution/3100-3199/3152.Special Array II/README_EN.md
  solution/3100-3199/3152.Special Array II/Solution.cpp
  solution/3100-3199/3152.Special Array II/Solution.go
  solution/3100-3199/3152.Special Array II/Solution.java
  solution/3100-3199/3152.Special Array II/Solution.py
  solution/3100-3199/3152.Special Array II/Solution.ts
  solution/3100-3199/3153.Sum of Digit Differences of All Pairs/README.md
  solution/3100-3199/3153.Sum of Digit Differences of All Pairs/README_EN.md
  solution/3100-3199/3153.Sum of Digit Differences of All Pairs/Solution.cpp
  solution/3100-3199/3153.Sum of Digit Differences of All Pairs/Solution.go
  solution/3100-3199/3153.Sum of Digit Differences of All Pairs/Solution.java
  solution/3100-3199/3153.Sum of Digit Differences of All Pairs/Solution.py
  solution/3100-3199/3153.Sum of Digit Differences of All Pairs/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2842 feat: add solutions to lc problem: No.3154
  solution/3100-3199/3154.Find Number of Ways to Reach the K-th Stair/README.md
  solution/3100-3199/3154.Find Number of Ways to Reach the K-th Stair/README_EN.md
  solution/3100-3199/3154.Find Number of Ways to Reach the K-th Stair/Solution.cpp
  solution/3100-3199/3154.Find Number of Ways to Reach the K-th Stair/Solution.go
  solution/3100-3199/3154.Find Number of Ways to Reach the K-th Stair/Solution.java
  solution/3100-3199/3154.Find Number of Ways to Reach the K-th Stair/Solution.py
  solution/3100-3199/3154.Find Number of Ways to Reach the K-th Stair/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#2840 feat: add cpp solution to lc problem: No.3068
  solution/3000-3099/3068.Find the Maximum Sum of Node Values/README_EN.md
Labels: md

#2841 feat: add cpp solution to lc problem: No.3068
  solution/3000-3099/3068.Find the Maximum Sum of Node Values/README.md
Labels: md

#2843 feat: add solutions to lc problem: No.3155
  solution/3100-3199/3152.Special Array II/README_EN.md
  solution/3100-3199/3155.Maximum Number of Upgradable Servers/README.md
  solution/3100-3199/3155.Maximum Number of Upgradable Servers/README_EN.md
  solution/3100-3199/3155.Maximum Number of Upgradable Servers/Solution.cpp
  solution/3100-3199/3155.Maximum Number of Upgradable Servers/Solution.go
  solution/3100-3199/3155.Maximum Number of Upgradable Servers/Solution.java
  solution/3100-3199/3155.Maximum Number of Upgradable Servers/Solution.py
  solution/3100-3199/3155.Maximum Number of Upgradable Servers/Solution.ts
  solution/README.md
  solution/README_EN.md
Labels: md, ts, py, go, java, cpp, core team

#2844 feat: add solutions to lc problem: No.1317
  solution/1300-1399/1317.Convert Integer to the Sum of Two No-Zero Integers/README.md
  solution/1300-1399/1317.Convert Integer to the Sum of Two No-Zero Integers/README_EN.md
  solution/1300-1399/1317.Convert Integer to the Sum of Two No-Zero Integers/Solution.ts
  solution/1300-1399/1317.Convert Integer to the Sum of Two No-Zero Integers/Solution2.ts
  solution/3000-3099/3068.Find the Maximum Sum of Node Values/README.md
  solution/3000-3099/3068.Find the Maximum Sum of Node Values/README_EN.md
  solution/3000-3099/3068.Find the Maximum Sum of Node Values/Solution.cpp
Labels: md, ts, cpp, core team

#2847 refactor: update solution with sorting via object to lc problem: No.2722
  solution/2700-2799/2722.Join Two Arrays by ID/README.md
  solution/2700-2799/2722.Join Two Arrays by ID/README_EN.md
  solution/2700-2799/2722.Join Two Arrays by ID/Solution.ts
Labels: md, ts

#2848 refactor: update solution to lc problem: No.2625
  solution/2600-2699/2625.Flatten Deeply Nested Array/README.md
  solution/2600-2699/2625.Flatten Deeply Nested Array/README_EN.md
  solution/2600-2699/2625.Flatten Deeply Nested Array/Solution.ts
Labels: md, ts

#2850 feat: add ts solution to lc problem: No.1542
  solution/1500-1599/1542.Find Longest Awesome Substring/README.md
  solution/1500-1599/1542.Find Longest Awesome Substring/README_EN.md
  solution/1500-1599/1542.Find Longest Awesome Substring/Solution.ts
Labels: md, ts, core team

#2851 feat: update solutions to lc problem: No.2705
  solution/2700-2799/2705.Compact Object/README.md
  solution/2700-2799/2705.Compact Object/README_EN.md
  solution/2700-2799/2705.Compact Object/Solution.js
  solution/2700-2799/2705.Compact Object/Solution.ts
Labels: js, md, ts, core team

#2852 feat: update lc problems
  solution/0200-0299/0278.First Bad Version/README.md
  solution/0300-0399/0378.Kth Smallest Element in a Sorted Matrix/README.md
  solution/0600-0699/0685.Redundant Connection II/README.md
  solution/0700-0799/0702.Search in a Sorted Array of Unknown Size/README.md
  solution/0700-0799/0777.Swap Adjacent in LR String/README.md
  solution/2500-2599/2502.Design Memory Allocator/README.md
  solution/2500-2599/2502.Design Memory Allocator/README_EN.md
  solution/2500-2599/2503.Maximum Number of Points From Grid Queries/README.md
  solution/2500-2599/2503.Maximum Number of Points From Grid Queries/README_EN.md
  solution/2500-2599/2503.Maximum Number of Points From Grid Queries/Solution2.py
  solution/CONTEST_README.md
  solution/contest.json
Labels: md, py, core team, json

#2853 feat: add swift implementation to lcof problem: No.06
  lcof/面试题06. 从尾到头打印链表/README.md
  lcof/面试题06. 从尾到头打印链表/Solution.swift
Labels: md, swift

#2854 feat: add swift implementation to lcof problem: No.07
  lcof/面试题07. 重建二叉树/README.md
  lcof/面试题07. 重建二叉树/Solution.swift
Labels: md, swift

#2855 feat: add swift implementation to lcof problem: No.09
  lcof/面试题09. 用两个栈实现队列/README.md
  lcof/面试题09. 用两个栈实现队列/Solution.swift
Labels: md, swift

#2857 feat: add swift implementation to lcof problem: No.10.2
  lcof/面试题10- II. 青蛙跳台阶问题/README.md
  lcof/面试题10- II. 青蛙跳台阶问题/Solution.swift
Labels: md, swift

#2858 feat: add swift implementation to lcof problem: No.11
  lcof/面试题11. 旋转数组的最小数字/README.md
  lcof/面试题11. 旋转数组的最小数字/Solution.swift
Labels: md, swift

#2859 feat: add sql solution to lc problem: No.3156
  solution/3100-3199/3156.Employee Task Duration and Concurrent Tasks/README.md
  solution/3100-3199/3156.Employee Task Duration and Concurrent Tasks/README_EN.md
  solution/3100-3199/3156.Employee Task Duration and Concurrent Tasks/Solution.sql
  solution/DATABASE_README.md
  solution/DATABASE_README_EN.md
  solution/README.md
  solution/README_EN.md
Labels: md, core team, sql

#2860 feat: add solutions to lcp problem: No.80
  lcp/LCP 80. 生物进化录/README.md
  lcp/LCP 80. 生物进化录/Solution.cpp
  lcp/LCP 80. 生物进化录/Solution.go
  lcp/LCP 80. 生物进化录/Solution.java
  lcp/LCP 80. 生物进化录/Solution.py
Labels: md, py, go, java, cpp, core team

#2861 feat: update solutions to lc/lcof problems
  lcof/面试题06. 从尾到头打印链表/README.md
  lcof/面试题06. 从尾到头打印链表/Solution.cpp
  lcof/面试题06. 从尾到头打印链表/Solution.cs
  lcof/面试题06. 从尾到头打印链表/Solution.js
  lcof/面试题06. 从尾到头打印链表/Solution.rs
  lcof/面试题06. 从尾到头打印链表/Solution.ts
  lcof/面试题06. 从尾到头打印链表/Solution2.cpp
  lcof/面试题11. 旋转数组的最小数字/README.md
  lcof/面试题13. 机器人的运动范围/README.md
  lcof/面试题13. 机器人的运动范围/Solution.cpp
  lcof/面试题13. 机器人的运动范围/Solution.java
  lcof/面试题13. 机器人的运动范围/Solution.js
  lcof/面试题13. 机器人的运动范围/Solution.py
  lcof/面试题13. 机器人的运动范围/Solution.rs
  lcof/面试题13. 机器人的运动范围/Solution.ts
  lcof/面试题13. 机器人的运动范围/Solution2.cpp
  lcof/面试题13. 机器人的运动范围/Solution2.go
  lcof/面试题13. 机器人的运动范围/Solution2.java
  lcof/面试题13. 机器人的运动范围/Solution2.py
  lcof/面试题13. 机器人的运动范围/Solution2.rs
  lcof/面试题14- I. 剪绳子/README.md
  lcof/面试题14- I. 剪绳子/Solution.cpp
  lcof/面试题14- I. 剪绳子/Solution.cs
  lcof/面试题14- I. 剪绳子/Solution.go
  lcof/面试题14- I. 剪绳子/Solution.java
  lcof/面试题14- I. 剪绳子/Solution.js
  lcof/面试题14- I. 剪绳子/Solution.py
  lcof/面试题14- I. 剪绳子/Solution.rs
  lcof/面试题14- I. 剪绳子/Solution.ts
  lcof/面试题14- I. 剪绳子/Solution2.cs
  lcof/面试题14- I. 剪绳子/Solution2.js
  lcof/面试题14- I. 剪绳子/Solution2.rs
  lcof/面试题14- I. 剪绳子/Solution2.ts
  solution/2700-2799/2705.Compact Object/README.md
  solution/2700-2799/2705.Compact Object/README_EN.md
  solution/2700-2799/2705.Compact Object/Solution.js
  solution/2700-2799/2705.Compact Object/Solution.ts
Labels: js, md, ts, py, go, java, cpp, rs, core team, cs

#2862 feat: update solutions to lcof problem: No.15
  lcof/面试题15. 二进制中1的个数/README.md
  lcof/面试题15. 二进制中1的个数/Solution.cpp
  lcof/面试题15. 二进制中1的个数/Solution.cs
  lcof/面试题15. 二进制中1的个数/Solution.go
  lcof/面试题15. 二进制中1的个数/Solution.java
  lcof/面试题15. 二进制中1的个数/Solution.js
  lcof/面试题15. 二进制中1的个数/Solution.py
  lcof/面试题15. 二进制中1的个数/Solution2.cpp
  lcof/面试题15. 二进制中1的个数/Solution2.go
  lcof/面试题15. 二进制中1的个数/Solution2.java
  lcof/面试题15. 二进制中1的个数/Solution2.py
  lcof/面试题15. 二进制中1的个数/Solution3.py
Labels: js, md, py, go, java, cpp, core team, cs

#2864 feat: add swift implementation to lcof problem: No.12
  lcof/面试题12. 矩阵中的路径/README.md
  lcof/面试题12. 矩阵中的路径/Solution.swift
Labels: md, swift

#2865 feat: add swift implementation to lcof problem: No.13
  lcof/面试题13. 机器人的运动范围/README.md
  lcof/面试题13. 机器人的运动范围/Solution.swift
Labels: md, swift

#2866 feat: add swift implementation to lcof problem: No.14.1
  lcof/面试题14- I. 剪绳子/README.md
  lcof/面试题14- I. 剪绳子/Solution.swift
Labels: md, swift

#2867 feat: add swift implementation to lcof problem: No.14.2
  lcof/面试题14- II. 剪绳子 II/README.md
  lcof/面试题14- II. 剪绳子 II/Solution.swift
Labels: md, swift

#2868 feat: add swift implementation to lcof problem: No.15
  lcof/面试题15. 二进制中1的个数/README.md
  lcof/面试题15. 二进制中1的个数/Solution.swift
Labels: md, swift

#2869 feat: add swift implementation to lcof problem: No.16
  lcof/面试题16. 数值的整数次方/README.md
  lcof/面试题16. 数值的整数次方/Solution.swift
Labels: md, swift

#2870 feat: add solutions to lc problem: No.2831
  .github/workflows/deploy.yml
  solution/2800-2899/2831.Find the Longest Equal Subarray/README.md
  solution/2800-2899/2831.Find the Longest Equal Subarray/README_EN.md
  solution/2800-2899/2831.Find the Longest Equal Subarray/Solution2.cpp
  solution/2800-2899/2831.Find the Longest Equal Subarray/Solution2.go
  solution/2800-2899/2831.Find the Longest Equal Subarray/Solution2.java
  solution/2800-2899/2831.Find the Longest Equal Subarray/Solution2.py
  solution/2800-2899/2831.Find the Longest Equal Subarray/Solution2.ts
Labels: md, ts, py, go, java, cpp, core team, yml

#2871 feat: update solutions to lcof problems: No.26,27,30
  lcof/面试题26. 树的子结构/README.md
  lcof/面试题26. 树的子结构/Solution.cpp
  lcof/面试题27. 二叉树的镜像/README.md
  lcof/面试题27. 二叉树的镜像/Solution2.py
  lcof/面试题30. 包含min函数的栈/README.md
Labels: md, py, cpp, core team

#2872 feat: add typescript solution to lc problem: No.270
  solution/0200-0299/0270.Closest Binary Search Tree Value/README.md
  solution/0200-0299/0270.Closest Binary Search Tree Value/README_EN.md
  solution/0200-0299/0270.Closest Binary Search Tree Value/Solution.ts
Labels: md, ts

#2873 feat: update solutions to lc problems: No.2225,2705
  solution/2200-2299/2225.Find Players With Zero or One Losses/README.md
  solution/2200-2299/2225.Find Players With Zero or One Losses/README_EN.md
  solution/2200-2299/2225.Find Players With Zero or One Losses/Solution.cpp
  solution/2200-2299/2225.Find Players With Zero or One Losses/Solution.go
  solution/2200-2299/2225.Find Players With Zero or One Losses/Solution.java
  solution/2200-2299/2225.Find Players With Zero or One Losses/Solution.js
  solution/2200-2299/2225.Find Players With Zero or One Losses/Solution.py
  solution/2200-2299/2225.Find Players With Zero or One Losses/Solution.ts
  solution/2200-2299/2225.Find Players With Zero or One Losses/Solution2.js
  solution/2700-2799/2705.Compact Object/README.md
  solution/2700-2799/2705.Compact Object/README_EN.md
  solution/2700-2799/2705.Compact Object/Solution.js
  solution/2700-2799/2705.Compact Object/Solution.ts
Labels: js, md, ts, py, go, java, cpp, core team

#2875 feat: update solutions to lcof problems: No.32.1,34
  lcof/面试题32 - I. 从上到下打印二叉树/README.md
  lcof/面试题32 - I. 从上到下打印二叉树/Solution.js
  lcof/面试题32 - I. 从上到下打印二叉树/Solution.rs
  lcof/面试题32 - I. 从上到下打印二叉树/Solution.ts
  lcof/面试题34. 二叉树中和为某一值的路径/README.md
  lcof/面试题34. 二叉树中和为某一值的路径/Solution.js
  lcof/面试题34. 二叉树中和为某一值的路径/Solution.rs
  lcof/面试题34. 二叉树中和为某一值的路径/Solution.ts
  lcof/面试题34. 二叉树中和为某一值的路径/Solution2.rs
  solution/2200-2299/2225.Find Players With Zero or One Losses/README.md
  solution/2200-2299/2225.Find Players With Zero or One Losses/README_EN.md
Labels: js, md, ts, rs, core team

#2876 feat: add swift implementation to lcof problem: No.17
  lcof/面试题17. 打印从1到最大的n位数/README.md
  lcof/面试题17. 打印从1到最大的n位数/Solution.swift
Labels: md, swift

#2877 feat: add swift implementation to lcof problem: No.18
  lcof/面试题18. 删除链表的节点/README.md
  lcof/面试题18. 删除链表的节点/Solution.swift
Labels: md, swift

#2878 feat: add swift implementation to lcof problem: No.19
  lcof/面试题19. 正则表达式匹配/README.md
  lcof/面试题19. 正则表达式匹配/Solution.swift
Labels: md, swift

#2879 feat: add swift implementation to lcof problem: No.20
  lcof/面试题20. 表示数值的字符串/README.md
  lcof/面试题20. 表示数值的字符串/Solution.swift
Labels: md, swift

#2880 feat: add swift implementation to lcof problem: No.21
  lcof/面试题21. 调整数组顺序使奇数位于偶数前面/README.md
  lcof/面试题21. 调整数组顺序使奇数位于偶数前面/Solution.swift
Labels: md, swift

#2883 feat: update solutions to lcof problems
  lcof/面试题41. 数据流中的中位数/README.md
  lcof/面试题42. 连续子数组的最大和/README.md
  lcof/面试题45. 把数组排成最小的数/README.md
  lcof/面试题47. 礼物的最大价值/README.md
  lcof/面试题48. 最长不含重复字符的子字符串/README.md
  lcof/面试题49. 丑数/README.md
  lcof/面试题50. 第一个只出现一次的字符/README.md
  lcof/面试题50. 第一个只出现一次的字符/Solution.js
  lcof/面试题50. 第一个只出现一次的字符/Solution.rs
  lcof/面试题50. 第一个只出现一次的字符/Solution.ts
  lcof/面试题52. 两个链表的第一个公共节点/README.md
  solution/0400-0499/0400.Nth Digit/README_EN.md
Labels: js, md, ts, rs, core team

#2887 feat: add solutions to lc problem: No.841
  solution/0800-0899/0841.Keys and Rooms/README.md
  solution/0800-0899/0841.Keys and Rooms/README_EN.md
  solution/0800-0899/0841.Keys and Rooms/Solution2.cpp
  solution/0800-0899/0841.Keys and Rooms/Solution2.go
  solution/0800-0899/0841.Keys and Rooms/Solution2.java
  solution/0800-0899/0841.Keys and Rooms/Solution2.py
  solution/0800-0899/0841.Keys and Rooms/Solution2.ts
Labels: md, ts, py, go, java, cpp

#2884 refactor: update typescript solution to lc problem: No.200
  solution/0200-0299/0200.Number of Islands/README.md
  solution/0200-0299/0200.Number of Islands/README_EN.md
  solution/0200-0299/0200.Number of Islands/Solution.ts
Labels: md, ts

#2886 feat: add solutions to lc problem: No.1466
  solution/1400-1499/1466.Reorder Routes to Make All Paths Lead to the City Zero/README.md
  solution/1400-1499/1466.Reorder Routes to Make All Paths Lead to the City Zero/README_EN.md
  solution/1400-1499/1466.Reorder Routes to Make All Paths Lead to the City Zero/Solution2.cpp
  solution/1400-1499/1466.Reorder Routes to Make All Paths Lead to the City Zero/Solution2.go
  solution/1400-1499/1466.Reorder Routes to Make All Paths Lead to the City Zero/Solution2.java
  solution/1400-1499/1466.Reorder Routes to Make All Paths Lead to the City Zero/Solution2.py
  solution/1400-1499/1466.Reorder Routes to Make All Paths Lead to the City Zero/Solution2.ts
Labels: md, ts, py, go, java, cpp

#2888 feat: add solutions to lc problem: No.3157
  solution/3100-3199/3157.Find the Level of Tree with Minimum Sum/README.md
  solution/3100-3199/3157.Find the Level of Tree with Minimum Sum/README_EN.md
  solution/3100-3199/3157.Find the Level of Tree with Minimum Sum/Solution.cpp
  solution/3100-3199/3157.Find the Level of Tree with Minimum Sum/Solution.go
  solution/3100-3199/3157.Find the Level of Tree with Minimum Sum/Solution.java
  solution/3100-3199/3157.Find the Level of Tree with Minimum Sum/Solution.py
  solution/3100-3199/3157.Find the Level of Tree with Minimum Sum/Solution.ts
  solution/3100-3199/3157.Find the Level of Tree with Minimum Sum/images/image_2024-05-17_16-14-18.png
  solution/3100-3199/3157.Find the Level of Tree with Minimum Sum/images/image_2024-05-17_16-15-46.png
  solution/3100-3199/3157.Find the Level of Tree with Minimum Sum/images/image_2024-05-19_19-07-20.png
  solution/README.md
  solution/README_EN.md
Labels: md, ts, py, go, java, cpp, core team, png

#2889 feat: update lc problems
  lcof2/剑指 Offer II 089. 房屋偷盗/README.md
  solution/0100-0199/0165.Compare Version Numbers/README_EN.md
  solution/0100-0199/0198.House Robber/README.md
  solution/0100-0199/0198.House Robber/README_EN.md
  solution/0300-0399/0374.Guess Number Higher or Lower/README.md
  solution/0600-0699/0690.Employee Importance/README.md
  solution/0600-0699/0690.Employee Importance/images/1716170448-dKZffb-image.png
  solution/0600-0699/0690.Employee Importance/images/1716170929-dkWpra-image.png
  solution/0700-0799/0732.My Calendar III/README.md
  solution/0900-0999/0988.Smallest String Starting From Leaf/README.md
  solution/0900-0999/0988.Smallest String Starting From Leaf/README_EN.md
  solution/2500-2599/2532.Time to Cross a Bridge/README_EN.md
  solution/2800-2899/2826.Sorting Three Groups/README.md
  solution/2800-2899/2826.Sorting Three Groups/README_EN.md
  solution/2800-2899/2826.Sorting Three Groups/Solution.py
  solution/2800-2899/2826.Sorting Three Groups/Solution2.py
  solution/2800-2899/2857.Count Pairs of Points With Distance k/README.md
  solution/2800-2899/2857.Count Pairs of Points With Distance k/README_EN.md
  solution/2800-2899/2857.Count Pairs of Points With Distance k/Solution2.cpp
  solution/2800-2899/2872.Maximum Number of K-Divisible Components/README.md
  solution/2800-2899/2872.Maximum Number of K-Divisible Components/README_EN.md
  solution/2800-2899/2872.Maximum Number of K-Divisible Components/Solution2.java
  solution/2800-2899/2875.Minimum Size Subarray in Infinite Array/README.md
  solution/2800-2899/2875.Minimum Size Subarray in Infinite Array/README_EN.md
  solution/2800-2899/2875.Minimum Size Subarray in Infinite Array/Solution2.java
  solution/2800-2899/2876.Count Visited Nodes in a Directed Graph/README.md
  solution/2800-2899/2876.Count Visited Nodes in a Directed Graph/README_EN.md
  solution/2800-2899/2876.Count Visited Nodes in a Directed Graph/Solution2.java
  solution/2800-2899/2894.Divisible and Non-divisible Sums Difference/README.md
  solution/2800-2899/2894.Divisible and Non-divisible Sums Difference/README_EN.md
  solution/2800-2899/2894.Divisible and Non-divisible Sums Difference/Solution2.java
  solution/2900-2999/2901.Longest Unequal Adjacent Groups Subsequence II/README.md
  solution/2900-2999/2901.Longest Unequal Adjacent Groups Subsequence II/README_EN.md
  solution/2900-2999/2946.Matrix Similarity After Cyclic Shifts/README_EN.md
  solution/2900-2999/2946.Matrix Similarity After Cyclic Shifts/images/lshift.jpg
  solution/2900-2999/2946.Matrix Similarity After Cyclic Shifts/images/rshift-stlone.jpg
  solution/2900-2999/2946.Matrix Similarity After Cyclic Shifts/images/t1-2.jpg
  solution/2900-2999/2946.Matrix Similarity After Cyclic Shifts/images/t1-3.jpg
  solution/3000-3099/3094.Guess the Number Using Bitwise Questions II/README.md
  solution/3100-3199/3151.Special Array I/README.md
  solution/3100-3199/3151.Special Array I/README_EN.md
  solution/3100-3199/3152.Special Array II/README.md
  solution/3100-3199/3152.Special Array II/README_EN.md
  solution/3100-3199/3153.Sum of Digit Differences of All Pairs/README.md
  solution/3100-3199/3153.Sum of Digit Differences of All Pairs/README_EN.md
  solution/3100-3199/3154.Find Number of Ways to Reach the K-th Stair/README.md
  solution/3100-3199/3154.Find Number of Ways to Reach the K-th Stair/README_EN.md
  solution/3100-3199/3155.Maximum Number of Upgradable Servers/README.md
  solution/3100-3199/3155.Maximum Number of Upgradable Servers/README_EN.md
  solution/3100-3199/3156.Employee Task Duration and Concurrent Tasks/README.md
  solution/3100-3199/3156.Employee Task Duration and Concurrent Tasks/README_EN.md
  solution/3100-3199/3157.Find the Level of Tree with Minimum Sum/README.md
  solution/DATABASE_README.md
  solution/DATABASE_README_EN.md
  solution/README.md
  solution/README_EN.md
Labels: md, py, java, cpp, core team, png

#2890 feat: add solutions to lc problem: No.690
  solution/0600-0699/0690.Employee Importance/README.md
  solution/0600-0699/0690.Employee Importance/README_EN.md
  solution/0600-0699/0690.Employee Importance/Solution.cpp
  solution/0600-0699/0690.Employee Importance/Solution.go
  solution/0600-0699/0690.Employee Importance/Solution.java
  solution/0600-0699/0690.Employee Importance/Solution.js
  solution/0600-0699/0690.Employee Importance/Solution.py
  solution/0600-0699/0690.Employee Importance/Solution.ts
Labels: js, md, ts, py, go, java, cpp, core team

#2891 feat: add swift implementation to lcof problem: No.24
  lcof/面试题24. 反转链表/README.md
  lcof/面试题24. 反转链表/Solution.swift
Labels: md, swift
