Repository doocs/leetcode, pull requests merged in 2024-11, with the labels that each got.

#3699 feat: add solutions to lc problem: No.3259
  solution/3200-3299/3259.Maximum Energy Boost From Two Drinks/README.md
  solution/3200-3299/3259.Maximum Energy Boost From Two Drinks/README_EN.md
  solution/3200-3299/3259.Maximum Energy Boost From Two Drinks/Solution2.cpp
  solution/3200-3299/3259.Maximum Energy Boost From Two Drinks/Solution2.go
  solution/3200-3299/3259.Maximum Energy Boost From Two Drinks/Solution2.java
  solution/3200-3299/3259.Maximum Energy Boost From Two Drinks/Solution2.py
  solution/3200-3299/3259.Maximum Energy Boost From Two Drinks/Solution2.ts
Labels: md, ts, py, go, java, cpp, core team

#3703 feat: add solutions to lc problem: No.3235
  solution/3200-3299/3235.Check if the Rectangle Corner Is Reachable/README.md
  solution/3200-3299/3235.Check if the Rectangle Corner Is Reachable/README_EN.md
  solution/3200-3299/3235.Check if the Rectangle Corner Is Reachable/Solution.cpp
  solution/3200-3299/3235.Check if the Rectangle Corner Is Reachable/Solution.go
  solution/3200-3299/3235.Check if the Rectangle Corner Is Reachable/Solution.java
  solution/3200-3299/3235.Check if the Rectangle Corner Is Reachable/Solution.py
  solution/3200-3299/3235.Check if the Rectangle Corner Is Reachable/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#3704 feat: add solution to lc problem: No.3235
  solution/3200-3299/3235.Check if the Rectangle Corner Is Reachable/README.md
  solution/3200-3299/3235.Check if the Rectangle Corner Is Reachable/README_EN.md
  solution/3200-3299/3235.Check if the Rectangle Corner Is Reachable/Solution.rs
  solution/3200-3299/3235.Check if the Rectangle Corner Is Reachable/images/rectangles.png
Labels: md, rs, core team, png

#3706 feat: add weekly contest 422
  solution/0000-0099/0008.String to Integer (atoi)/README_EN.md
  solution/0200-0299/0209.Minimum Size Subarray Sum/README.md
  solution/0700-0799/0729.My Calendar I/README.md
  solution/0700-0799/0731.My Calendar II/README.md
  solution/2200-2299/2222.Number of Ways to Select Buildings/README_EN.md
  solution/2900-2999/2904.Shortest and Lexicographically Smallest Beautiful String/README.md
  solution/3200-3299/3211.Generate Binary Strings Without Adjacent Zeros/README.md
  solution/3200-3299/3211.Generate Binary Strings Without Adjacent Zeros/README_EN.md
  solution/3300-3399/3322.Premier League Table Ranking III/README.md
  solution/3300-3399/3339.Find the Number of K-Even Arrays/README.md
  solution/3300-3399/3340.Check Balanced String/README.md
  solution/3300-3399/3340.Check Balanced String/README_EN.md
  solution/3300-3399/3340.Check Balanced String/Solution.cpp
  solution/3300-3399/3340.Check Balanced String/Solution.go
  solution/3300-3399/3340.Check Balanced String/Solution.java
  solution/3300-3399/3340.Check Balanced String/Solution.py
  solution/3300-3399/3340.Check Balanced String/Solution.ts
  solution/3300-3399/3341.Find Minimum Time to Reach Last Room I/README.md
  solution/3300-3399/3341.Find Minimum Time to Reach Last Room I/README_EN.md
  solution/3300-3399/3342.Find Minimum Time to Reach Last Room II/README.md
  solution/3300-3399/3342.Find Minimum Time to Reach Last Room II/README_EN.md
  solution/3300-3399/3343.Count Number of Balanced Permutations/README.md
  solution/3300-3399/3343.Count Number of Balanced Permutations/README_EN.md
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/contest.json
  solution/main.py
Labels: md, ts, py, go, java, cpp, core team, json

#3707 feat: add solutions to lc problems: No.3341,3342
  solution/3300-3399/3341.Find Minimum Time to Reach Last Room I/README.md
  solution/3300-3399/3341.Find Minimum Time to Reach Last Room I/README_EN.md
  solution/3300-3399/3341.Find Minimum Time to Reach Last Room I/Solution.cpp
  solution/3300-3399/3341.Find Minimum Time to Reach Last Room I/Solution.go
  solution/3300-3399/3341.Find Minimum Time to Reach Last Room I/Solution.java
  solution/3300-3399/3341.Find Minimum Time to Reach Last Room I/Solution.py
  solution/3300-3399/3341.Find Minimum Time to Reach Last Room I/Solution.ts
  solution/3300-3399/3342.Find Minimum Time to Reach Last Room II/README.md
  solution/3300-3399/3342.Find Minimum Time to Reach Last Room II/README_EN.md
  solution/3300-3399/3342.Find Minimum Time to Reach Last Room II/Solution.cpp
  solution/3300-3399/3342.Find Minimum Time to Reach Last Room II/Solution.go
  solution/3300-3399/3342.Find Minimum Time to Reach Last Room II/Solution.java
  solution/3300-3399/3342.Find Minimum Time to Reach Last Room II/Solution.py
  solution/3300-3399/3342.Find Minimum Time to Reach Last Room II/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#3710 feat: add solutions to lc problem: No.3343
  solution/3300-3399/3341.Find Minimum Time to Reach Last Room I/README.md
  solution/3300-3399/3341.Find Minimum Time to Reach Last Room I/README_EN.md
  solution/3300-3399/3342.Find Minimum Time to Reach Last Room II/README.md
  solution/3300-3399/3342.Find Minimum Time to Reach Last Room II/README_EN.md
  solution/3300-3399/3343.Count Number of Balanced Permutations/README.md
  solution/3300-3399/3343.Count Number of Balanced Permutations/README_EN.md
  solution/3300-3399/3343.Count Number of Balanced Permutations/Solution.cpp
  solution/3300-3399/3343.Count Number of Balanced Permutations/Solution.go
  solution/3300-3399/3343.Count Number of Balanced Permutations/Solution.java
  solution/3300-3399/3343.Count Number of Balanced Permutations/Solution.py
  solution/3300-3399/3343.Count Number of Balanced Permutations/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#3711 feat: add solutions to lc problem: No.3258
  solution/3200-3299/3258.Count Substrings That Satisfy K-Constraint I/README.md
  solution/3200-3299/3258.Count Substrings That Satisfy K-Constraint I/README_EN.md
  solution/3200-3299/3258.Count Substrings That Satisfy K-Constraint I/Solution.cpp
  solution/3200-3299/3258.Count Substrings That Satisfy K-Constraint I/Solution.go
  solution/3200-3299/3258.Count Substrings That Satisfy K-Constraint I/Solution.java
  solution/3200-3299/3258.Count Substrings That Satisfy K-Constraint I/Solution.py
  solution/3200-3299/3258.Count Substrings That Satisfy K-Constraint I/Solution.rs
  solution/3200-3299/3258.Count Substrings That Satisfy K-Constraint I/Solution.ts
Labels: md, ts, py, go, java, cpp, rs, core team

#3712 feat: add swift implementation to lcof2 problem: No.119
  lcof2/剑指 Offer II 119. 最长连续序列/README.md
  lcof2/剑指 Offer II 119. 最长连续序列/Solution.swift
Labels: md, core team, swift

#3713 feat: add swift solution 2 implementation to lcof2 problem: No.119
  lcof2/剑指 Offer II 119. 最长连续序列/README.md
  lcof2/剑指 Offer II 119. 最长连续序列/Solution2.swift
Labels: md, core team, swift

#3714 feat: add swift implementation to lcp problem: No.01
  lcp/LCP 01. 猜数字/README.md
  lcp/LCP 01. 猜数字/Solution.swift
Labels: md, core team, swift

#3716 feat: add js solutions to lc problems: No.219,3163
  solution/0200-0299/0219.Contains Duplicate II/Solution.js
  solution/3100-3199/3163.String Compression III/Solution.js
Labels: js

#3718 feat: update lc problems
  solution/0200-0299/0219.Contains Duplicate II/README.md
  solution/0200-0299/0219.Contains Duplicate II/README_EN.md
  solution/0200-0299/0219.Contains Duplicate II/Solution.js
  solution/2500-2599/2524.Maximum Frequency Score of a Subarray/README.md
  solution/2500-2599/2524.Maximum Frequency Score of a Subarray/README_EN.md
  solution/2600-2699/2685.Count the Number of Complete Components/README.md
  solution/2600-2699/2685.Count the Number of Complete Components/README_EN.md
  solution/3100-3199/3163.String Compression III/README.md
  solution/3100-3199/3163.String Compression III/README_EN.md
  solution/3100-3199/3163.String Compression III/Solution.js
  solution/README.md
  solution/README_EN.md
Labels: js, md, core team

#3719 feat: add swift implementation to lcp problem: No.02
  lcp/LCP 02. 分式化简/README.md
  lcp/LCP 02. 分式化简/Solution.swift
Labels: md, core team, swift

#3720 feat: add swift implementation to lcp problem: No.03
  lcp/LCP 03. 机器人大冒险/README.md
  lcp/LCP 03. 机器人大冒险/Solution.swift
Labels: md, core team, swift

#3721 feat: add swift implementation to lcp problem: No.05
  lcp/LCP 05. 发 LeetCoin/README.md
  lcp/LCP 05. 发 LeetCoin/Solution.swift
Labels: md, core team, swift

#3723 feat: add solutions to lc problem: No.2534
  solution/2500-2599/2532.Time to Cross a Bridge/README_EN.md
  solution/2500-2599/2534.Time Taken to Cross the Door/README.md
  solution/2500-2599/2534.Time Taken to Cross the Door/README_EN.md
  solution/2500-2599/2534.Time Taken to Cross the Door/Solution.cpp
  solution/2500-2599/2534.Time Taken to Cross the Door/Solution.go
  solution/2500-2599/2534.Time Taken to Cross the Door/Solution.java
  solution/2500-2599/2534.Time Taken to Cross the Door/Solution.py
  solution/2500-2599/2534.Time Taken to Cross the Door/Solution.rs
  solution/2500-2599/2534.Time Taken to Cross the Door/Solution.ts
Labels: md, ts, py, go, java, cpp, rs, core team

#3724 feat: add solutions to lc problem: No.2265
  solution/2200-2299/2265.Count Nodes Equal to Average of Subtree/README.md
  solution/2200-2299/2265.Count Nodes Equal to Average of Subtree/README_EN.md
  solution/2200-2299/2265.Count Nodes Equal to Average of Subtree/Solution.cpp
  solution/2200-2299/2265.Count Nodes Equal to Average of Subtree/Solution.go
  solution/2200-2299/2265.Count Nodes Equal to Average of Subtree/Solution.java
  solution/2200-2299/2265.Count Nodes Equal to Average of Subtree/Solution.py
  solution/2200-2299/2265.Count Nodes Equal to Average of Subtree/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#3726 feat: add solutions to lc problem: No.2267
  solution/2200-2299/2267.Check if There Is a Valid Parentheses String Path/README.md
  solution/2200-2299/2267.Check if There Is a Valid Parentheses String Path/README_EN.md
  solution/2200-2299/2267.Check if There Is a Valid Parentheses String Path/Solution.cpp
  solution/2200-2299/2267.Check if There Is a Valid Parentheses String Path/Solution.go
  solution/2200-2299/2267.Check if There Is a Valid Parentheses String Path/Solution.java
  solution/2200-2299/2267.Check if There Is a Valid Parentheses String Path/Solution.py
  solution/2200-2299/2267.Check if There Is a Valid Parentheses String Path/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#3727 feat: add solutions to lc problem: No.2270
  solution/2200-2299/2270.Number of Ways to Split Array/README.md
  solution/2200-2299/2270.Number of Ways to Split Array/README_EN.md
  solution/2200-2299/2270.Number of Ways to Split Array/Solution.cpp
  solution/2200-2299/2270.Number of Ways to Split Array/Solution.go
  solution/2200-2299/2270.Number of Ways to Split Array/Solution.java
  solution/2200-2299/2270.Number of Ways to Split Array/Solution.py
  solution/2200-2299/2270.Number of Ways to Split Array/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#3728 feat: add solutions to lc problem: No.0636
  solution/0600-0699/0636.Exclusive Time of Functions/README.md
  solution/0600-0699/0636.Exclusive Time of Functions/README_EN.md
  solution/0600-0699/0636.Exclusive Time of Functions/Solution.cpp
  solution/0600-0699/0636.Exclusive Time of Functions/Solution.go
  solution/0600-0699/0636.Exclusive Time of Functions/Solution.java
  solution/0600-0699/0636.Exclusive Time of Functions/Solution.py
  solution/0600-0699/0636.Exclusive Time of Functions/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#3730 fix(Update README.md):numbers[mid] == numbers[r] 并不能断定 numbers[mid] 一定不是最小值
  lcof/面试题11. 旋转数组的最小数字/README.md
Labels: md

#3731 feat: add solutions to lc problem: No.3344
  lcp/LCP 03. 机器人大冒险/README.md
  solution/0400-0499/0410.Split Array Largest Sum/README.md
  solution/0600-0699/0636.Exclusive Time of Functions/README.md
  solution/2200-2299/2265.Count Nodes Equal to Average of Subtree/README_EN.md
  solution/2200-2299/2270.Number of Ways to Split Array/README_EN.md
  solution/2500-2599/2526.Find Consecutive Integers from a Data Stream/README.md
  solution/2500-2599/2526.Find Consecutive Integers from a Data Stream/README_EN.md
  solution/2500-2599/2528.Maximize the Minimum Powered City/README_EN.md
  solution/2500-2599/2530.Maximal Score After Applying K Operations/README_EN.md
  solution/3200-3299/3222.Find the Winning Player in Coin Game/README.md
  solution/3300-3399/3336.Find the Number of Subsequences With Equal GCD/README.md
  solution/3300-3399/3344.Maximum Sized Array/README.md
  solution/3300-3399/3344.Maximum Sized Array/README_EN.md
  solution/3300-3399/3344.Maximum Sized Array/Solution.cpp
  solution/3300-3399/3344.Maximum Sized Array/Solution.go
  solution/3300-3399/3344.Maximum Sized Array/Solution.java
  solution/3300-3399/3344.Maximum Sized Array/Solution.py
  solution/3300-3399/3344.Maximum Sized Array/Solution.ts
  solution/README.md
  solution/README_EN.md
Labels: md, ts, py, go, java, cpp, core team

#3732 feat: add solutions to lc problem: No.3240
  solution/3200-3299/3240.Minimum Number of Flips to Make Binary Grid Palindromic II/README.md
  solution/3200-3299/3240.Minimum Number of Flips to Make Binary Grid Palindromic II/README_EN.md
  solution/3200-3299/3240.Minimum Number of Flips to Make Binary Grid Palindromic II/Solution.cpp
  solution/3200-3299/3240.Minimum Number of Flips to Make Binary Grid Palindromic II/Solution.go
  solution/3200-3299/3240.Minimum Number of Flips to Make Binary Grid Palindromic II/Solution.java
  solution/3200-3299/3240.Minimum Number of Flips to Make Binary Grid Palindromic II/Solution.py
  solution/3200-3299/3240.Minimum Number of Flips to Make Binary Grid Palindromic II/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#3733 chore: update solutions to lc problem: No.3242
  solution/3200-3299/3242.Design Neighbor Sum Service/README.md
  solution/3200-3299/3242.Design Neighbor Sum Service/README_EN.md
  solution/3200-3299/3242.Design Neighbor Sum Service/Solution.cpp
  solution/3200-3299/3242.Design Neighbor Sum Service/Solution.go
  solution/3200-3299/3242.Design Neighbor Sum Service/Solution.java
  solution/3200-3299/3242.Design Neighbor Sum Service/Solution.py
  solution/3200-3299/3242.Design Neighbor Sum Service/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#3735 feat: add solutions to lc problem: No.0540
  solution/0500-0599/0540.Single Element in a Sorted Array/README.md
  solution/0500-0599/0540.Single Element in a Sorted Array/README_EN.md
  solution/0500-0599/0540.Single Element in a Sorted Array/Solution.c
  solution/0500-0599/0540.Single Element in a Sorted Array/Solution.cpp
  solution/0500-0599/0540.Single Element in a Sorted Array/Solution.go
  solution/0500-0599/0540.Single Element in a Sorted Array/Solution.java
  solution/0500-0599/0540.Single Element in a Sorted Array/Solution.py
  solution/0500-0599/0540.Single Element in a Sorted Array/Solution.rs
  solution/0500-0599/0540.Single Element in a Sorted Array/Solution.ts
Labels: core team

#3736 feat: add biweekly contest 143 and weeky contest 423
  solution/0700-0799/0777.Swap Adjacent in LR String/README_EN.md
  solution/0900-0999/0909.Snakes and Ladders/README_EN.md
  solution/1200-1299/1257.Smallest Common Region/README_EN.md
  solution/2600-2699/2623.Memoize/README_EN.md
  solution/3000-3099/3011.Find if Array Can Be Sorted/README_EN.md
  solution/3200-3299/3255.Find the Power of K-Size Subarrays II/README.md
  solution/3300-3399/3345.Smallest Divisible Digit Product I/README.md
  solution/3300-3399/3345.Smallest Divisible Digit Product I/README_EN.md
  solution/3300-3399/3345.Smallest Divisible Digit Product I/Solution.cpp
  solution/3300-3399/3345.Smallest Divisible Digit Product I/Solution.go
  solution/3300-3399/3345.Smallest Divisible Digit Product I/Solution.java
  solution/3300-3399/3345.Smallest Divisible Digit Product I/Solution.py
  solution/3300-3399/3345.Smallest Divisible Digit Product I/Solution.ts
  solution/3300-3399/3346.Maximum Frequency of an Element After Performing Operations I/README.md
  solution/3300-3399/3346.Maximum Frequency of an Element After Performing Operations I/README_EN.md
  solution/3300-3399/3347.Maximum Frequency of an Element After Performing Operations II/README.md
  solution/3300-3399/3347.Maximum Frequency of an Element After Performing Operations II/README_EN.md
  solution/3300-3399/3348.Smallest Divisible Digit Product II/README.md
  solution/3300-3399/3348.Smallest Divisible Digit Product II/README_EN.md
  solution/3300-3399/3349.Adjacent Increasing Subarrays Detection I/README.md
  solution/3300-3399/3349.Adjacent Increasing Subarrays Detection I/README_EN.md
  solution/3300-3399/3350.Adjacent Increasing Subarrays Detection II/README.md
  solution/3300-3399/3350.Adjacent Increasing Subarrays Detection II/README_EN.md
  solution/3300-3399/3351.Sum of Good Subsequences/README.md
  solution/3300-3399/3351.Sum of Good Subsequences/README_EN.md
  solution/3300-3399/3352.Count K-Reducible Numbers Less Than N/README.md
  solution/3300-3399/3352.Count K-Reducible Numbers Less Than N/README_EN.md
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/contest.json
Labels: md, ts, py, go, java, cpp, core team

#3740 fix: update solutions to lc problem: No.53
  solution/0000-0099/0053.Maximum Subarray/README.md
  solution/0000-0099/0053.Maximum Subarray/README_EN.md
Labels: md, core team

#3743 feat: add swift solution 2 implementation to lcp problem: No.07
  lcp/LCP 07. 传递信息/README.md
  lcp/LCP 07. 传递信息/Solution2.swift
Labels: md, core team, swift

#3746 feat: add swift implementation to lcp problem: No.10
  lcp/LCP 10. 二叉树任务调度/README.md
  lcp/LCP 10. 二叉树任务调度/Solution.swift
Labels: md, core team, swift

#3747 feat: add swift implementation to lcp problem: No.11
  lcp/LCP 11. 期望个数统计/README.md
  lcp/LCP 11. 期望个数统计/Solution.swift
Labels: md, core team, swift

#3750 feat: add solutions to lc problem: No.2601
  solution/2600-2699/2601.Prime Subtraction Operation/README.md
  solution/2600-2699/2601.Prime Subtraction Operation/README_EN.md
  solution/2600-2699/2601.Prime Subtraction Operation/Solution2.js
  solution/2600-2699/2601.Prime Subtraction Operation/Solution2.ts
Labels: js, md, ts

#3751 chore: update lc problems
  lcp/LCP 07. 传递信息/README.md
  lcp/LCP 09. 最小跳跃次数/README.md
  lcp/LCP 10. 二叉树任务调度/README.md
  solution/3300-3399/3345.Smallest Divisible Digit Product I/README.md
  solution/3300-3399/3345.Smallest Divisible Digit Product I/README_EN.md
  solution/3300-3399/3346.Maximum Frequency of an Element After Performing Operations I/README.md
  solution/3300-3399/3346.Maximum Frequency of an Element After Performing Operations I/README_EN.md
  solution/3300-3399/3347.Maximum Frequency of an Element After Performing Operations II/README.md
  solution/3300-3399/3347.Maximum Frequency of an Element After Performing Operations II/README_EN.md
  solution/3300-3399/3348.Smallest Divisible Digit Product II/README.md
  solution/3300-3399/3348.Smallest Divisible Digit Product II/README_EN.md
  solution/3300-3399/3349.Adjacent Increasing Subarrays Detection I/README.md
  solution/3300-3399/3349.Adjacent Increasing Subarrays Detection I/README_EN.md
  solution/3300-3399/3350.Adjacent Increasing Subarrays Detection II/README.md
  solution/3300-3399/3350.Adjacent Increasing Subarrays Detection II/README_EN.md
  solution/3300-3399/3351.Sum of Good Subsequences/README.md
  solution/3300-3399/3351.Sum of Good Subsequences/README_EN.md
  solution/3300-3399/3352.Count K-Reducible Numbers Less Than N/README.md
  solution/3300-3399/3352.Count K-Reducible Numbers Less Than N/README_EN.md
  solution/README.md
  solution/README_EN.md
Labels: md, core team

#3752 feat: add swift implementation to lcp problem: No.12
  lcp/LCP 12. 小张刷题计划/README.md
  lcp/LCP 12. 小张刷题计划/Solution.swift
Labels: md, core team, swift

#3753 feat: add swift implementation to lcp problem: No.17
  lcp/LCP 17. 速算机器人/README.md
  lcp/LCP 17. 速算机器人/Solution.swift
Labels: md, core team, swift

#3754 feat: add swift implementation to lcp problem: No.18
  lcp/LCP 18. 早餐组合/README.md
  lcp/LCP 18. 早餐组合/Solution.swift
Labels: md, core team, swift

#3756 feat: add solutions to lc problem: No.0515
  solution/0500-0599/0515.Find Largest Value in Each Tree Row/README.md
  solution/0500-0599/0515.Find Largest Value in Each Tree Row/README_EN.md
  solution/0500-0599/0515.Find Largest Value in Each Tree Row/Solution.cpp
  solution/0500-0599/0515.Find Largest Value in Each Tree Row/Solution.go
  solution/0500-0599/0515.Find Largest Value in Each Tree Row/Solution.py
  solution/0500-0599/0515.Find Largest Value in Each Tree Row/Solution.rs
  solution/0500-0599/0515.Find Largest Value in Each Tree Row/Solution.ts
Labels: md, ts, py, go, cpp, rs, core team

#3757 fix（Update README.md）：函数 dfs(A,B) 的执行步骤第三条应该和下面的总结一致
  lcof/面试题26. 树的子结构/README.md
Labels: md

#3758 feat: add swift implementation to lcp problem: No.19
  lcp/LCP 19. 秋叶收藏集/README.md
  lcp/LCP 19. 秋叶收藏集/Solution.swift
Labels: md, core team, swift

#3759 feat: add solutions to lc problem: No.2226
  solution/2200-2299/2226.Maximum Candies Allocated to K Children/README.md
  solution/2200-2299/2226.Maximum Candies Allocated to K Children/README_EN.md
  solution/2200-2299/2226.Maximum Candies Allocated to K Children/Solution.cpp
  solution/2200-2299/2226.Maximum Candies Allocated to K Children/Solution.go
  solution/2200-2299/2226.Maximum Candies Allocated to K Children/Solution.java
  solution/2200-2299/2226.Maximum Candies Allocated to K Children/Solution.py
  solution/2200-2299/2226.Maximum Candies Allocated to K Children/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#3760 feat: add solutions to lc problem: No.0692
  solution/0600-0699/0692.Top K Frequent Words/README.md
  solution/0600-0699/0692.Top K Frequent Words/README_EN.md
  solution/0600-0699/0692.Top K Frequent Words/Solution.cpp
  solution/0600-0699/0692.Top K Frequent Words/Solution.go
  solution/0600-0699/0692.Top K Frequent Words/Solution.java
  solution/0600-0699/0692.Top K Frequent Words/Solution.ts
Labels: md, ts, go, java, cpp, core team

#3762 feat: add solutions to lc problem: No.0865
  solution/0800-0899/0864.Shortest Path to Get All Keys/README.md
  solution/0800-0899/0864.Shortest Path to Get All Keys/README_EN.md
  solution/0800-0899/0865.Smallest Subtree with all the Deepest Nodes/README.md
  solution/0800-0899/0865.Smallest Subtree with all the Deepest Nodes/README_EN.md
  solution/0800-0899/0865.Smallest Subtree with all the Deepest Nodes/Solution.cpp
  solution/0800-0899/0865.Smallest Subtree with all the Deepest Nodes/Solution.go
  solution/0800-0899/0865.Smallest Subtree with all the Deepest Nodes/Solution.java
  solution/0800-0899/0865.Smallest Subtree with all the Deepest Nodes/Solution.py
  solution/0800-0899/0865.Smallest Subtree with all the Deepest Nodes/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#3764 feat: add solutions to lc problem: No.830
  solution/0800-0899/0830.Positions of Large Groups/README.md
  solution/0800-0899/0830.Positions of Large Groups/README_EN.md
  solution/0800-0899/0830.Positions of Large Groups/Solution.java
  solution/0800-0899/0830.Positions of Large Groups/Solution.ts
  solution/3200-3299/3240.Minimum Number of Flips to Make Binary Grid Palindromic II/README.md
  solution/3200-3299/3240.Minimum Number of Flips to Make Binary Grid Palindromic II/README_EN.md
Labels: md, ts, java, core team

#3765 feat: add solutions to lc problem: No.1574
  solution/1500-1599/1574.Shortest Subarray to be Removed to Make Array Sorted/README.md
  solution/1500-1599/1574.Shortest Subarray to be Removed to Make Array Sorted/README_EN.md
  solution/1500-1599/1574.Shortest Subarray to be Removed to Make Array Sorted/Solution2.js
  solution/1500-1599/1574.Shortest Subarray to be Removed to Make Array Sorted/Solution2.ts
Labels: js, md, ts

#3766 feat: add solutions to lc problem: No.3254
  solution/3200-3299/3254.Find the Power of K-Size Subarrays I/README.md
  solution/3200-3299/3254.Find the Power of K-Size Subarrays I/README_EN.md
  solution/3200-3299/3254.Find the Power of K-Size Subarrays I/Solution2.js
  solution/3200-3299/3254.Find the Power of K-Size Subarrays I/Solution2.ts
Labels: js, md, ts

#3767 feat: add solutions to lc problem: No.0825
  solution/0800-0899/0825.Friends Of Appropriate Ages/README.md
  solution/0800-0899/0825.Friends Of Appropriate Ages/README_EN.md
  solution/0800-0899/0825.Friends Of Appropriate Ages/Solution.cpp
  solution/0800-0899/0825.Friends Of Appropriate Ages/Solution.go
  solution/0800-0899/0825.Friends Of Appropriate Ages/Solution.java
  solution/0800-0899/0825.Friends Of Appropriate Ages/Solution.py
  solution/0800-0899/0825.Friends Of Appropriate Ages/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#3768 feat: add weekly contest 424
  solution/0200-0299/0263.Ugly Number/README_EN.md
  solution/3300-3399/3354.Make Array Elements Equal to Zero/README.md
  solution/3300-3399/3354.Make Array Elements Equal to Zero/README_EN.md
  solution/3300-3399/3355.Zero Array Transformation I/README.md
  solution/3300-3399/3355.Zero Array Transformation I/README_EN.md
  solution/3300-3399/3356.Zero Array Transformation II/README.md
  solution/3300-3399/3356.Zero Array Transformation II/README_EN.md
  solution/3300-3399/3357.Minimize the Maximum Adjacent Element Difference/README.md
  solution/3300-3399/3357.Minimize the Maximum Adjacent Element Difference/README_EN.md
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/contest.json
Labels: md, core team, json

#3769 feat: add solutions to lc problems: No.3354~3356
  solution/3300-3399/3354.Make Array Elements Equal to Zero/README.md
  solution/3300-3399/3354.Make Array Elements Equal to Zero/README_EN.md
  solution/3300-3399/3354.Make Array Elements Equal to Zero/Solution.cpp
  solution/3300-3399/3354.Make Array Elements Equal to Zero/Solution.go
  solution/3300-3399/3354.Make Array Elements Equal to Zero/Solution.java
  solution/3300-3399/3354.Make Array Elements Equal to Zero/Solution.py
  solution/3300-3399/3354.Make Array Elements Equal to Zero/Solution.ts
  solution/3300-3399/3355.Zero Array Transformation I/README.md
  solution/3300-3399/3355.Zero Array Transformation I/README_EN.md
  solution/3300-3399/3355.Zero Array Transformation I/Solution.cpp
  solution/3300-3399/3355.Zero Array Transformation I/Solution.go
  solution/3300-3399/3355.Zero Array Transformation I/Solution.java
  solution/3300-3399/3355.Zero Array Transformation I/Solution.py
  solution/3300-3399/3355.Zero Array Transformation I/Solution.ts
  solution/3300-3399/3356.Zero Array Transformation II/README.md
  solution/3300-3399/3356.Zero Array Transformation II/README_EN.md
  solution/3300-3399/3356.Zero Array Transformation II/Solution.cpp
  solution/3300-3399/3356.Zero Array Transformation II/Solution.go
  solution/3300-3399/3356.Zero Array Transformation II/Solution.java
  solution/3300-3399/3356.Zero Array Transformation II/Solution.py
  solution/3300-3399/3356.Zero Array Transformation II/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#3770 feat: add solutions to lc problem: No.0862
  solution/0800-0899/0862.Shortest Subarray with Sum at Least K/README.md
  solution/0800-0899/0862.Shortest Subarray with Sum at Least K/README_EN.md
  solution/0800-0899/0862.Shortest Subarray with Sum at Least K/Solution.js
  solution/0800-0899/0862.Shortest Subarray with Sum at Least K/Solution.ts
Labels: js, md, ts

#3771 feat: add solutions to lc problem: No.3358
  solution/0200-0299/0263.Ugly Number/README.md
  solution/0600-0699/0661.Image Smoother/README.md
  solution/0600-0699/0661.Image Smoother/README_EN.md
  solution/0600-0699/0661.Image Smoother/Solution.cpp
  solution/0600-0699/0661.Image Smoother/Solution.rs
  solution/0600-0699/0661.Image Smoother/Solution.ts
  solution/2800-2899/2862.Maximum Element-Sum of a Complete Subset of Indices/README_EN.md
  solution/3300-3399/3356.Zero Array Transformation II/README_EN.md
  solution/3300-3399/3357.Minimize the Maximum Adjacent Element Difference/README_EN.md
  solution/3300-3399/3358.Books with NULL Ratings/README.md
  solution/3300-3399/3358.Books with NULL Ratings/README_EN.md
  solution/3300-3399/3358.Books with NULL Ratings/Solution.py
  solution/3300-3399/3358.Books with NULL Ratings/Solution.sql
  solution/DATABASE_README.md
  solution/DATABASE_README_EN.md
  solution/README.md
  solution/README_EN.md
Labels: md, ts, py, cpp, rs, core team, sql

#3773 feat: add swift implementation to lcp problem: No.24
  lcp/LCP 24. 数字游戏/README.md
  lcp/LCP 24. 数字游戏/Solution.swift
Labels: md, core team, swift

#3774 feat: add swift implementation to lcp problem: No.25
  lcp/LCP 25. 古董键盘/README.md
  lcp/LCP 25. 古董键盘/Solution.swift
Labels: md, core team, swift

#3775 feat: add swift implementation to lcp problem: No.28
  lcp/LCP 28. 采购方案/README.md
  lcp/LCP 28. 采购方案/Solution.swift
Labels: md, core team, swift

#3776 fix: update solution to lcof problem: No.20
  lcof/面试题20. 表示数值的字符串/README.md
Labels: md

#3777 docs: update lcof problem: No.044
  lcof/面试题44. 数字序列中某一位的数字/README.md
Labels: md

#3779 feat: add swift implementation to lcp problem: No.33
  lcp/LCP 33. 蓄水/README.md
  lcp/LCP 33. 蓄水/Solution.swift
Labels: md, core team, swift

#3780 feat: add swift implementation to lcp problem: No.34
  lcp/LCP 34. 二叉树染色/README.md
  lcp/LCP 34. 二叉树染色/Solution.swift
Labels: md, core team, swift

#3782 feat: add swift implementation to lcp problem: No.40
  lcp/LCP 40. 心算挑战/README.md
  lcp/LCP 40. 心算挑战/Solution.swift
Labels: md, core team, swift

#3784 feat: add swift implementation to lcp problem: No.44
  lcp/LCP 44. 开幕式焰火/README.md
  lcp/LCP 44. 开幕式焰火/Solution.swift
Labels: md, core team, swift

#3785 feat: add swift implementation to lcp problem: No.50
  lcp/LCP 50. 宝石补给/README.md
  lcp/LCP 50. 宝石补给/Solution.swift
Labels: md, core team, swift

#3786 feat: add swift implementation to lcp problem: No.51
  lcp/LCP 51. 烹饪料理/README.md
  lcp/LCP 51. 烹饪料理/Solution.swift
Labels: md, core team, swift

#3787 feat: add swift implementation to lcp problem: No.52
  lcp/LCP 52. 二叉搜索树染色/README.md
  lcp/LCP 52. 二叉搜索树染色/Solution.swift
Labels: md, core team, swift

#3791 feat: update solutions to lc problems: No.2251,2259
  solution/2200-2299/2251.Number of Flowers in Full Bloom/README.md
  solution/2200-2299/2251.Number of Flowers in Full Bloom/README_EN.md
  solution/2200-2299/2259.Remove Digit From Number to Maximize Result/README.md
  solution/2200-2299/2259.Remove Digit From Number to Maximize Result/README_EN.md
  solution/3200-3299/3243.Shortest Distance After Road Addition Queries I/README.md
  solution/3200-3299/3243.Shortest Distance After Road Addition Queries I/README_EN.md
Labels: md, core team

#3793 feat: update solutions to lc problem: No.0034
  solution/0000-0099/0034.Find First and Last Position of Element in Sorted Array/README.md
  solution/0000-0099/0034.Find First and Last Position of Element in Sorted Array/README_EN.md
  solution/0000-0099/0034.Find First and Last Position of Element in Sorted Array/Solution.cpp
Labels: md, cpp, core team

#3794 feat: add solutions to lc problem: No.1898
  solution/1800-1899/1898.Maximum Number of Removable Characters/README.md
  solution/1800-1899/1898.Maximum Number of Removable Characters/README_EN.md
  solution/1800-1899/1898.Maximum Number of Removable Characters/Solution.cpp
  solution/1800-1899/1898.Maximum Number of Removable Characters/Solution.go
  solution/1800-1899/1898.Maximum Number of Removable Characters/Solution.java
  solution/1800-1899/1898.Maximum Number of Removable Characters/Solution.js
  solution/1800-1899/1898.Maximum Number of Removable Characters/Solution.kt
  solution/1800-1899/1898.Maximum Number of Removable Characters/Solution.py
  solution/1800-1899/1898.Maximum Number of Removable Characters/Solution.rs
  solution/1800-1899/1898.Maximum Number of Removable Characters/Solution.ts
Labels: js, md, ts, py, go, java, cpp, rs, core team, kt

#3795 docs: update lcof problem: No.046
  lcof/面试题46. 把数字翻译成字符串/README.md
Labels: md

#3797 feat: update solutions to lc problem: No.0496
  solution/0400-0499/0496.Next Greater Element I/README.md
  solution/0400-0499/0496.Next Greater Element I/README_EN.md
  solution/0400-0499/0496.Next Greater Element I/Solution.cpp
  solution/0400-0499/0496.Next Greater Element I/Solution.go
  solution/0400-0499/0496.Next Greater Element I/Solution.java
  solution/0400-0499/0496.Next Greater Element I/Solution.js
  solution/0400-0499/0496.Next Greater Element I/Solution.py
  solution/0400-0499/0496.Next Greater Element I/Solution.rs
  solution/0400-0499/0496.Next Greater Element I/Solution.ts
  solution/0400-0499/0496.Next Greater Element I/Solution2.cpp
  solution/0400-0499/0496.Next Greater Element I/Solution2.go
  solution/0400-0499/0496.Next Greater Element I/Solution2.java
  solution/0400-0499/0496.Next Greater Element I/Solution2.js
  solution/0400-0499/0496.Next Greater Element I/Solution2.py
  solution/0400-0499/0496.Next Greater Element I/Solution2.rs
Labels: js, md, ts, py, go, java, cpp, rs, core team

#3798 feat: add solutions to lc problem: No.2257
  solution/2200-2299/2257.Count Unguarded Cells in the Grid/README.md
  solution/2200-2299/2257.Count Unguarded Cells in the Grid/README_EN.md
  solution/2200-2299/2257.Count Unguarded Cells in the Grid/Solution.js
  solution/2200-2299/2257.Count Unguarded Cells in the Grid/Solution2.js
  solution/2200-2299/2257.Count Unguarded Cells in the Grid/Solution2.ts
Labels: js, md, ts

#3800 feat: add solutions to lc problem: No.2056
  solution/2000-2099/2056.Number of Valid Move Combinations On Chessboard/README.md
  solution/2000-2099/2056.Number of Valid Move Combinations On Chessboard/README_EN.md
  solution/2000-2099/2056.Number of Valid Move Combinations On Chessboard/Solution.cpp
  solution/2000-2099/2056.Number of Valid Move Combinations On Chessboard/Solution.go
  solution/2000-2099/2056.Number of Valid Move Combinations On Chessboard/Solution.java
  solution/2000-2099/2056.Number of Valid Move Combinations On Chessboard/Solution.py
  solution/2000-2099/2056.Number of Valid Move Combinations On Chessboard/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#3802 feat: add solutions to lc problem: No.0739
  solution/0700-0799/0739.Daily Temperatures/README.md
  solution/0700-0799/0739.Daily Temperatures/README_EN.md
  solution/0700-0799/0739.Daily Temperatures/Solution.cpp
  solution/0700-0799/0739.Daily Temperatures/Solution.go
  solution/0700-0799/0739.Daily Temperatures/Solution.java
  solution/0700-0799/0739.Daily Temperatures/Solution.js
  solution/0700-0799/0739.Daily Temperatures/Solution.py
  solution/0700-0799/0739.Daily Temperatures/Solution.rs
  solution/0700-0799/0739.Daily Temperatures/Solution.ts
  solution/0700-0799/0739.Daily Temperatures/Solution2.cpp
  solution/0700-0799/0739.Daily Temperatures/Solution2.go
  solution/0700-0799/0739.Daily Temperatures/Solution2.java
  solution/0700-0799/0739.Daily Temperatures/Solution2.py
Labels: js, md, ts, py, go, java, cpp, rs, core team

#3806 feat: update lc problems
  lcp/LCP 33. 蓄水/README.md
  lcp/LCP 34. 二叉树染色/README.md
  lcp/LCP 41. 黑白翻转棋/README.md
  lcp/LCP 44. 开幕式焰火/README.md
  lcp/LCP 50. 宝石补给/README.md
  solution/0200-0299/0289.Game of Life/README.md
  solution/0200-0299/0289.Game of Life/README_EN.md
  solution/0300-0399/0308.Range Sum Query 2D - Mutable/README.md
  solution/0300-0399/0308.Range Sum Query 2D - Mutable/README_EN.md
  solution/2200-2299/2231.Largest Number After Digit Swaps by Parity/README.md
  solution/2200-2299/2231.Largest Number After Digit Swaps by Parity/README_EN.md
  solution/2200-2299/2231.Largest Number After Digit Swaps by Parity/Solution.cpp
  solution/2200-2299/2231.Largest Number After Digit Swaps by Parity/Solution.go
  solution/2200-2299/2231.Largest Number After Digit Swaps by Parity/Solution.java
  solution/2200-2299/2231.Largest Number After Digit Swaps by Parity/Solution.py
  solution/2200-2299/2231.Largest Number After Digit Swaps by Parity/Solution.ts
  solution/2200-2299/2275.Largest Combination With Bitwise AND Greater Than Zero/README.md
  solution/2200-2299/2275.Largest Combination With Bitwise AND Greater Than Zero/README_EN.md
  solution/2400-2499/2490.Circular Sentence/README.md
  solution/2400-2499/2490.Circular Sentence/README_EN.md
  solution/2500-2599/2532.Time to Cross a Bridge/README.md
  solution/2500-2599/2532.Time to Cross a Bridge/README_EN.md
  solution/2600-2699/2693.Call Function with Custom Context/README_EN.md
  solution/3300-3399/3355.Zero Array Transformation I/README_EN.md
  solution/3300-3399/3359.Find Sorted Submatrices With Maximum Element at Most K/README.md
  solution/3300-3399/3359.Find Sorted Submatrices With Maximum Element at Most K/README_EN.md
  solution/3300-3399/3359.Find Sorted Submatrices With Maximum Element at Most K/images/mine.png
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/contest.json
Labels: md, ts, py, go, java, cpp, core team, png

#3807 feat: update lc problems
  solution/0600-0699/0632.Smallest Range Covering Elements from K Lists/README.md
  solution/0600-0699/0632.Smallest Range Covering Elements from K Lists/README_EN.md
  solution/0600-0699/0632.Smallest Range Covering Elements from K Lists/Solution.java
  solution/3300-3399/3360.Stone Removal Game/README.md
  solution/3300-3399/3360.Stone Removal Game/README_EN.md
  solution/3300-3399/3360.Stone Removal Game/Solution.cpp
  solution/3300-3399/3360.Stone Removal Game/Solution.go
  solution/3300-3399/3360.Stone Removal Game/Solution.java
  solution/3300-3399/3360.Stone Removal Game/Solution.py
  solution/3300-3399/3360.Stone Removal Game/Solution.ts
  solution/3300-3399/3361.Shift Distance Between Two Strings/README.md
  solution/3300-3399/3361.Shift Distance Between Two Strings/README_EN.md
  solution/3300-3399/3362.Zero Array Transformation III/README.md
  solution/3300-3399/3362.Zero Array Transformation III/README_EN.md
  solution/3300-3399/3363.Find the Maximum Number of Fruits Collected/README.md
  solution/3300-3399/3363.Find the Maximum Number of Fruits Collected/README_EN.md
  solution/3300-3399/3363.Find the Maximum Number of Fruits Collected/images/example_1.gif
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
Labels: md, ts, py, go, java, cpp, core team, gif

#3808 feat: add solutions to lc problem: No.3361
  solution/3300-3399/3361.Shift Distance Between Two Strings/README.md
  solution/3300-3399/3361.Shift Distance Between Two Strings/README_EN.md
  solution/3300-3399/3361.Shift Distance Between Two Strings/Solution.cpp
  solution/3300-3399/3361.Shift Distance Between Two Strings/Solution.go
  solution/3300-3399/3361.Shift Distance Between Two Strings/Solution.java
  solution/3300-3399/3361.Shift Distance Between Two Strings/Solution.py
  solution/3300-3399/3361.Shift Distance Between Two Strings/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#3809 feat: add weekly contest 425
  solution/0600-0699/0632.Smallest Range Covering Elements from K Lists/README.md
  solution/3300-3399/3364.Minimum Positive Sum Subarray/README.md
  solution/3300-3399/3364.Minimum Positive Sum Subarray/README_EN.md
  solution/3300-3399/3364.Minimum Positive Sum Subarray/Solution.cpp
  solution/3300-3399/3364.Minimum Positive Sum Subarray/Solution.go
  solution/3300-3399/3364.Minimum Positive Sum Subarray/Solution.java
  solution/3300-3399/3364.Minimum Positive Sum Subarray/Solution.py
  solution/3300-3399/3364.Minimum Positive Sum Subarray/Solution.ts
  solution/3300-3399/3365.Rearrange K Substrings to Form Target String/README.md
  solution/3300-3399/3365.Rearrange K Substrings to Form Target String/README_EN.md
  solution/3300-3399/3366.Minimum Array Sum/README.md
  solution/3300-3399/3366.Minimum Array Sum/README_EN.md
  solution/3300-3399/3367.Maximize Sum of Weights after Edge Removals/README.md
  solution/3300-3399/3367.Maximize Sum of Weights after Edge Removals/README_EN.md
  solution/3300-3399/3367.Maximize Sum of Weights after Edge Removals/images/test1drawio.png
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/contest.json
Labels: md, ts, py, go, java, cpp, core team, json, png

#3810 feat: add solutions to lc problem: No.3365
  solution/3300-3399/3365.Rearrange K Substrings to Form Target String/README.md
  solution/3300-3399/3365.Rearrange K Substrings to Form Target String/README_EN.md
  solution/3300-3399/3365.Rearrange K Substrings to Form Target String/Solution.cpp
  solution/3300-3399/3365.Rearrange K Substrings to Form Target String/Solution.go
  solution/3300-3399/3365.Rearrange K Substrings to Form Target String/Solution.java
  solution/3300-3399/3365.Rearrange K Substrings to Form Target String/Solution.py
  solution/3300-3399/3365.Rearrange K Substrings to Form Target String/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#3811 feat: add solutions to lc problem: No.0743
  solution/0700-0799/0743.Network Delay Time/README.md
  solution/0700-0799/0743.Network Delay Time/README_EN.md
  solution/0700-0799/0743.Network Delay Time/Solution.cpp
  solution/0700-0799/0743.Network Delay Time/Solution.go
  solution/0700-0799/0743.Network Delay Time/Solution.java
  solution/0700-0799/0743.Network Delay Time/Solution.py
  solution/0700-0799/0743.Network Delay Time/Solution.ts
  solution/0700-0799/0743.Network Delay Time/Solution2.cpp
  solution/0700-0799/0743.Network Delay Time/Solution2.go
  solution/0700-0799/0743.Network Delay Time/Solution2.java
  solution/0700-0799/0743.Network Delay Time/Solution2.py
  solution/0700-0799/0743.Network Delay Time/Solution2.ts
  solution/0700-0799/0743.Network Delay Time/Solution3.cpp
  solution/0700-0799/0743.Network Delay Time/Solution3.go
  solution/0700-0799/0743.Network Delay Time/Solution3.java
  solution/0700-0799/0743.Network Delay Time/Solution3.py
  solution/0700-0799/0743.Network Delay Time/Solution4.cpp
  solution/0700-0799/0743.Network Delay Time/Solution4.go
  solution/0700-0799/0743.Network Delay Time/Solution4.java
  solution/0700-0799/0743.Network Delay Time/Solution4.py
  solution/3200-3299/3266.Final Array State After K Multiplication Operations II/Solution.go
Labels: md, ts, py, go, java, cpp, core team

#3812 feat: add solutions to lc problem: No.3366
  solution/0100-0199/0199.Binary Tree Right Side View/README.md
  solution/0100-0199/0199.Binary Tree Right Side View/README_EN.md
  solution/0100-0199/0199.Binary Tree Right Side View/images/tmpd5jn43fs-1.png
  solution/0100-0199/0199.Binary Tree Right Side View/images/tmpkpe40xeh-1.png
  solution/0100-0199/0199.Binary Tree Right Side View/images/tree.jpg
  solution/2500-2599/2502.Design Memory Allocator/README_EN.md
  solution/3300-3399/3362.Zero Array Transformation III/README.md
  solution/3300-3399/3363.Find the Maximum Number of Fruits Collected/README_EN.md
  solution/3300-3399/3366.Minimum Array Sum/README.md
  solution/3300-3399/3366.Minimum Array Sum/README_EN.md
  solution/3300-3399/3366.Minimum Array Sum/Solution.cpp
  solution/3300-3399/3366.Minimum Array Sum/Solution.go
  solution/3300-3399/3366.Minimum Array Sum/Solution.java
  solution/3300-3399/3366.Minimum Array Sum/Solution.py
  solution/3300-3399/3366.Minimum Array Sum/Solution.ts
  solution/3300-3399/3367.Maximize Sum of Weights after Edge Removals/README_EN.md
  solution/3300-3399/3368.First Letter Capitalization/README.md
  solution/3300-3399/3368.First Letter Capitalization/README_EN.md
  solution/CONTEST_README.md
  solution/DATABASE_README.md
  solution/DATABASE_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/contest.json
Labels: md, ts, py, go, java, cpp, core team, json, png, jpg

#3814 feat: add solutions to lc problem: No.1840
  solution/1800-1899/1840.Maximum Building Height/README.md
  solution/1800-1899/1840.Maximum Building Height/README_EN.md
  solution/1800-1899/1840.Maximum Building Height/Solution.cpp
  solution/1800-1899/1840.Maximum Building Height/Solution.ts
Labels: md, ts, cpp, core team

#3815 feat: add solutions to lc problem: No.3367
  solution/3300-3399/3367.Maximize Sum of Weights after Edge Removals/README.md
  solution/3300-3399/3367.Maximize Sum of Weights after Edge Removals/README_EN.md
  solution/3300-3399/3367.Maximize Sum of Weights after Edge Removals/Solution.cpp
  solution/3300-3399/3367.Maximize Sum of Weights after Edge Removals/Solution.go
  solution/3300-3399/3367.Maximize Sum of Weights after Edge Removals/Solution.java
  solution/3300-3399/3367.Maximize Sum of Weights after Edge Removals/Solution.py
  solution/3300-3399/3367.Maximize Sum of Weights after Edge Removals/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#3816 feat: add solutions to lc problem: No.1514
  solution/1500-1599/1514.Path with Maximum Probability/README.md
  solution/1500-1599/1514.Path with Maximum Probability/README_EN.md
  solution/1500-1599/1514.Path with Maximum Probability/Solution.cpp
  solution/1500-1599/1514.Path with Maximum Probability/Solution.go
  solution/1500-1599/1514.Path with Maximum Probability/Solution.java
  solution/1500-1599/1514.Path with Maximum Probability/Solution.py
  solution/1500-1599/1514.Path with Maximum Probability/Solution.ts
  solution/1500-1599/1514.Path with Maximum Probability/Solution2.cpp
  solution/1500-1599/1514.Path with Maximum Probability/Solution2.java
  solution/1500-1599/1514.Path with Maximum Probability/Solution2.py
  solution/3200-3299/3266.Final Array State After K Multiplication Operations II/README.md
  solution/3200-3299/3266.Final Array State After K Multiplication Operations II/README_EN.md
  solution/3200-3299/3266.Final Array State After K Multiplication Operations II/Solution.go
  solution/3300-3399/3367.Maximize Sum of Weights after Edge Removals/README.md
  solution/3300-3399/3367.Maximize Sum of Weights after Edge Removals/README_EN.md
  solution/3300-3399/3367.Maximize Sum of Weights after Edge Removals/Solution.cpp
Labels: md, ts, py, go, java, cpp, core team

#3817 feat: add solutions to lc problem: No.2924
  solution/2900-2999/2924.Find Champion II/README.md
  solution/2900-2999/2924.Find Champion II/README_EN.md
  solution/2900-2999/2924.Find Champion II/Solution.js
  solution/2900-2999/2924.Find Champion II/Solution2.js
  solution/2900-2999/2924.Find Champion II/Solution2.ts
Labels: js, md, ts

#3818 feat: add solutions to lc problems: No.1572,1574
  solution/1500-1599/1572.Matrix Diagonal Sum/README.md
  solution/1500-1599/1572.Matrix Diagonal Sum/README_EN.md
  solution/1500-1599/1572.Matrix Diagonal Sum/Solution.c
  solution/1500-1599/1572.Matrix Diagonal Sum/Solution.rs
  solution/1500-1599/1572.Matrix Diagonal Sum/Solution2.ts
  solution/1500-1599/1573.Number of Ways to Split a String/README_EN.md
  solution/1500-1599/1574.Shortest Subarray to be Removed to Make Array Sorted/README.md
  solution/1500-1599/1574.Shortest Subarray to be Removed to Make Array Sorted/README_EN.md
Labels: md, ts, rs, core team, c

#3819 feat: add solutions to lc problem: No.0935
  solution/0900-0999/0935.Knight Dialer/README.md
  solution/0900-0999/0935.Knight Dialer/README_EN.md
  solution/0900-0999/0935.Knight Dialer/Solution.cpp
  solution/0900-0999/0935.Knight Dialer/Solution.cs
  solution/0900-0999/0935.Knight Dialer/Solution.go
  solution/0900-0999/0935.Knight Dialer/Solution.java
  solution/0900-0999/0935.Knight Dialer/Solution.py
  solution/0900-0999/0935.Knight Dialer/Solution2.cpp
  solution/0900-0999/0935.Knight Dialer/Solution2.cs
  solution/0900-0999/0935.Knight Dialer/Solution2.go
  solution/0900-0999/0935.Knight Dialer/Solution2.java
  solution/0900-0999/0935.Knight Dialer/Solution2.py
  solution/0900-0999/0935.Knight Dialer/Solution2.ts
  solution/0900-0999/0935.Knight Dialer/solution.ts
Labels: md, ts, py, go, java, cpp, core team, cs

#3820 fix: remove duplicated code
  solution/0900-0999/0935.Knight Dialer/Solution.ts
  solution/0900-0999/0935.Knight Dialer/solution.ts
Labels: ts, core team

#3822 feat: add solutions to lc problems: No.1319,1320
  solution/1300-1399/1319.Number of Operations to Make Network Connected/README.md
  solution/1300-1399/1319.Number of Operations to Make Network Connected/README_EN.md
  solution/1300-1399/1320.Minimum Distance to Type a Word Using Two Fingers/README.md
  solution/1300-1399/1320.Minimum Distance to Type a Word Using Two Fingers/README_EN.md
Labels: md, core team

#3823 feat: add solutions to lc problems: No.0506,0507
  solution/0500-0599/0506.Relative Ranks/README.md
  solution/0500-0599/0506.Relative Ranks/README_EN.md
  solution/0500-0599/0506.Relative Ranks/Solution.cpp
  solution/0500-0599/0506.Relative Ranks/Solution.py
  solution/0500-0599/0506.Relative Ranks/Solution.ts
  solution/0500-0599/0507.Perfect Number/README.md
  solution/0500-0599/0507.Perfect Number/README_EN.md
  solution/0500-0599/0507.Perfect Number/Solution.cpp
  solution/0500-0599/0507.Perfect Number/Solution.go
  solution/0500-0599/0507.Perfect Number/Solution.java
  solution/0500-0599/0507.Perfect Number/Solution.py
  solution/0500-0599/0507.Perfect Number/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#3824 feat: add solutions to lc problem: No.2577
  solution/2500-2599/2577.Minimum Time to Visit a Cell In a Grid/README.md
  solution/2500-2599/2577.Minimum Time to Visit a Cell In a Grid/README_EN.md
  solution/2500-2599/2577.Minimum Time to Visit a Cell In a Grid/Solution.js
  solution/2500-2599/2577.Minimum Time to Visit a Cell In a Grid/Solution.ts
Labels: js, md, ts

#3825 feat: update solutions to lc problems: No.451,453
  solution/0400-0499/0451.Sort Characters By Frequency/README.md
  solution/0400-0499/0451.Sort Characters By Frequency/README_EN.md
  solution/0400-0499/0451.Sort Characters By Frequency/Solution.php
  solution/0400-0499/0453.Minimum Moves to Equal Array Elements/README.md
  solution/0400-0499/0453.Minimum Moves to Equal Array Elements/README_EN.md
  solution/0400-0499/0453.Minimum Moves to Equal Array Elements/Solution2.java
  solution/1300-1399/1320.Minimum Distance to Type a Word Using Two Fingers/README.md
  solution/1300-1399/1320.Minimum Distance to Type a Word Using Two Fingers/README_EN.md
  solution/3200-3299/3232.Find if Digit Game Can Be Won/README.md
  solution/3200-3299/3232.Find if Digit Game Can Be Won/README_EN.md
Labels: md, java, core team, php

#3826 feat: update lc problems
  solution/0200-0299/0277.Find the Celebrity/README_EN.md
  solution/0300-0399/0364.Nested List Weight Sum II/README.md
  solution/0300-0399/0364.Nested List Weight Sum II/README_EN.md
  solution/0700-0799/0773.Sliding Puzzle/README.md
  solution/0700-0799/0773.Sliding Puzzle/README_EN.md
  solution/0700-0799/0782.Transform to Chessboard/README.md
  solution/1600-1699/1683.Invalid Tweets/README.md
  solution/1600-1699/1683.Invalid Tweets/README_EN.md
  solution/1800-1899/1861.Rotating the Box/README.md
  solution/1800-1899/1861.Rotating the Box/README_EN.md
  solution/1800-1899/1891.Cutting Ribbons/README.md
  solution/1800-1899/1891.Cutting Ribbons/README_EN.md
  solution/2000-2099/2056.Number of Valid Move Combinations On Chessboard/README.md
  solution/2000-2099/2064.Minimized Maximum of Products Distributed to Any Store/README.md
  solution/2000-2099/2064.Minimized Maximum of Products Distributed to Any Store/README_EN.md
  solution/2100-2199/2107.Number of Unique Flavors After Sharing K Candies/README.md
  solution/2100-2199/2107.Number of Unique Flavors After Sharing K Candies/README_EN.md
  solution/2500-2599/2502.Design Memory Allocator/README.md
  solution/2500-2599/2532.Time to Cross a Bridge/README.md
  solution/2500-2599/2537.Count the Number of Good Subarrays/README_EN.md
  solution/2500-2599/2577.Minimum Time to Visit a Cell In a Grid/README_EN.md
  solution/3300-3399/3359.Find Sorted Submatrices With Maximum Element at Most K/README.md
  solution/README.md
  solution/README_EN.md
Labels: md, core team

#3827 feat: add cangjie solution to lc problem: No.0001
  solution/0000-0099/0001.Two Sum/README.md
  solution/0000-0099/0001.Two Sum/README_EN.md
  solution/0000-0099/0001.Two Sum/Solution.cj
Labels: md, core team, cj
