Repository doocs/leetcode, pull requests merged in 2025-07, with the labels that each got.

#4538 feat: add new lc problems
  solution/3600-3699/3601.Find Drivers with Improved Fuel Efficiency/README.md
  solution/3600-3699/3601.Find Drivers with Improved Fuel Efficiency/README_EN.md
  solution/DATABASE_README.md
  solution/DATABASE_README_EN.md
  solution/README.md
  solution/README_EN.md
Labels: md, core team

#4539 feat: update lc problems
  solution/0000-0099/0014.Longest Common Prefix/README.md
  solution/0000-0099/0014.Longest Common Prefix/README_EN.md
  solution/0900-0999/0912.Sort an Array/README.md
  solution/0900-0999/0912.Sort an Array/README_EN.md
  solution/0900-0999/0923.3Sum With Multiplicity/README.md
  solution/1100-1199/1152.Analyze User Website Visit Pattern/README.md
  solution/1100-1199/1152.Analyze User Website Visit Pattern/README_EN.md
  solution/1100-1199/1153.String Transforms Into Another String/README.md
  solution/1100-1199/1153.String Transforms Into Another String/README_EN.md
  solution/1300-1399/1375.Number of Times Binary String Is Prefix-Aligned/README_EN.md
  solution/1500-1599/1563.Stone Game V/README.md
  solution/1500-1599/1563.Stone Game V/README_EN.md
  solution/1600-1699/1645.Hopper Company Queries II/README.md
  solution/2000-2099/2014.Longest Subsequence Repeated k Times/README.md
  solution/2000-2099/2014.Longest Subsequence Repeated k Times/README_EN.md
  solution/3500-3599/3540.Minimum Time to Visit All Houses/README.md
  solution/3500-3599/3595.Once Twice/README.md
  solution/3500-3599/3595.Once Twice/README_EN.md
  solution/3500-3599/3596.Minimum Cost Path with Alternating Directions I/README.md
  solution/3500-3599/3596.Minimum Cost Path with Alternating Directions I/README_EN.md
  solution/3500-3599/3597.Partition String/README.md
  solution/3500-3599/3597.Partition String/README_EN.md
  solution/3500-3599/3598.Longest Common Prefix Between Adjacent Strings After Removals/README.md
  solution/3500-3599/3598.Longest Common Prefix Between Adjacent Strings After Removals/README_EN.md
  solution/3500-3599/3599.Partition Array to Minimize XOR/README.md
  solution/3500-3599/3599.Partition Array to Minimize XOR/README_EN.md
  solution/3600-3699/3600.Maximize Spanning Tree Stability with Upgrades/README.md
  solution/3600-3699/3600.Maximize Spanning Tree Stability with Upgrades/README_EN.md
  solution/CONTEST_README.md
  solution/README.md
  solution/README_EN.md
  solution/contest.json
Labels: md, core team

#4542 feat: add rust solution to lc problem: No.3304
  solution/3300-3399/3304.Find the K-th Character in String Game I/README.md
  solution/3300-3399/3304.Find the K-th Character in String Game I/README_EN.md
  solution/3300-3399/3304.Find the K-th Character in String Game I/Solution.rs
Labels: md, rs, core team

#4543 feat: add solutions to lc problem: No.3601
  solution/3600-3699/3601.Find Drivers with Improved Fuel Efficiency/README.md
  solution/3600-3699/3601.Find Drivers with Improved Fuel Efficiency/README_EN.md
  solution/3600-3699/3601.Find Drivers with Improved Fuel Efficiency/Solution.py
  solution/3600-3699/3601.Find Drivers with Improved Fuel Efficiency/Solution.sql
Labels: md, py, core team, sql

#4545 feat: add solutions to lc problem: No.3307
  solution/3300-3399/3307.Find the K-th Character in String Game II/README.md
  solution/3300-3399/3307.Find the K-th Character in String Game II/README_EN.md
  solution/3300-3399/3307.Find the K-th Character in String Game II/Solution.cs
  solution/3300-3399/3307.Find the K-th Character in String Game II/Solution.php
  solution/3600-3699/3601.Find Drivers with Improved Fuel Efficiency/README.md
  solution/DATABASE_README.md
  solution/README.md
Labels: md, core team, cs, php

#4544 Solution of 0016 and 0017 is done i c language
  solution/0000-0099/0016.3Sum Closest/README.md
  solution/0000-0099/0016.3Sum Closest/README_EN.md
  solution/0000-0099/0016.3Sum Closest/Solution.c
  solution/0000-0099/0017.Letter Combinations of a Phone Number/README.md
  solution/0000-0099/0017.Letter Combinations of a Phone Number/README_EN.md
  solution/0000-0099/0017.Letter Combinations of a Phone Number/Solution.c
Labels: md, c

#4550 feat: add rust solution to lc problem: No.1865
  solution/1800-1899/1865.Finding Pairs With a Certain Sum/README.md
  solution/1800-1899/1865.Finding Pairs With a Certain Sum/README_EN.md
  solution/1800-1899/1865.Finding Pairs With a Certain Sum/Solution.rs
Labels: md, rs, core team

#4551 feat: add biweekly contest 160
  solution/3600-3699/3602.Hexadecimal and Hexatrigesimal Conversion/README.md
  solution/3600-3699/3602.Hexadecimal and Hexatrigesimal Conversion/README_EN.md
  solution/3600-3699/3603.Minimum Cost Path with Alternating Directions II/README.md
  solution/3600-3699/3603.Minimum Cost Path with Alternating Directions II/README_EN.md
  solution/3600-3699/3604.Minimum Time to Reach Destination in Directed Graph/README.md
  solution/3600-3699/3604.Minimum Time to Reach Destination in Directed Graph/README_EN.md
  solution/3600-3699/3604.Minimum Time to Reach Destination in Directed Graph/images/screenshot-2025-06-06-at-004535.png
  solution/3600-3699/3604.Minimum Time to Reach Destination in Directed Graph/images/screenshot-2025-06-06-at-004757.png
  solution/3600-3699/3604.Minimum Time to Reach Destination in Directed Graph/images/screenshot-2025-06-06-at-004914.png
  solution/3600-3699/3605.Minimum Stability Factor of Array/README.md
  solution/3600-3699/3605.Minimum Stability Factor of Array/README_EN.md
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/contest.json
Labels: md, core team, json, png

#4553 feat: add weekly contest 457
  solution/3600-3699/3606.Coupon Code Validator/README.md
  solution/3600-3699/3606.Coupon Code Validator/README_EN.md
  solution/3600-3699/3607.Power Grid Maintenance/README.md
  solution/3600-3699/3607.Power Grid Maintenance/README_EN.md
  solution/3600-3699/3607.Power Grid Maintenance/images/powergrid.jpg
  solution/3600-3699/3608.Minimum Time for K Connected Components/README.md
  solution/3600-3699/3608.Minimum Time for K Connected Components/README_EN.md
  solution/3600-3699/3608.Minimum Time for K Connected Components/images/screenshot-2025-06-01-at-022724.png
  solution/3600-3699/3608.Minimum Time for K Connected Components/images/screenshot-2025-06-01-at-022812.png
  solution/3600-3699/3608.Minimum Time for K Connected Components/images/screenshot-2025-06-01-at-022930.png
  solution/3600-3699/3609.Minimum Moves to Reach Target in Grid/README.md
  solution/3600-3699/3609.Minimum Moves to Reach Target in Grid/README_EN.md
  solution/3600-3699/3610.Minimum Number of Primes to Sum to Target/README.md
  solution/3600-3699/3610.Minimum Number of Primes to Sum to Target/README_EN.md
  solution/3600-3699/3610.Minimum Number of Primes to Sum to Target/Solution.cpp
  solution/3600-3699/3610.Minimum Number of Primes to Sum to Target/Solution.go
  solution/3600-3699/3610.Minimum Number of Primes to Sum to Target/Solution.java
  solution/3600-3699/3610.Minimum Number of Primes to Sum to Target/Solution.py
  solution/3600-3699/3610.Minimum Number of Primes to Sum to Target/Solution.ts
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/contest.json
Labels: md, ts, py, go, java, cpp, core team, json, png, jpg

#4554 feat: add solutions to lc problem: No.1353
  solution/1300-1399/1353.Maximum Number of Events That Can Be Attended/README.md
  solution/1300-1399/1353.Maximum Number of Events That Can Be Attended/README_EN.md
  solution/1300-1399/1353.Maximum Number of Events That Can Be Attended/Solution.cpp
  solution/1300-1399/1353.Maximum Number of Events That Can Be Attended/Solution.go
  solution/1300-1399/1353.Maximum Number of Events That Can Be Attended/Solution.java
  solution/1300-1399/1353.Maximum Number of Events That Can Be Attended/Solution.py
  solution/1300-1399/1353.Maximum Number of Events That Can Be Attended/Solution.rs
  solution/1300-1399/1353.Maximum Number of Events That Can Be Attended/Solution.ts
Labels: md, ts, py, go, java, cpp, rs, core team

#4556 feat: add rust solution to lc problem: No.1751
  solution/1700-1799/1751.Maximum Number of Events That Can Be Attended II/README.md
  solution/1700-1799/1751.Maximum Number of Events That Can Be Attended II/README_EN.md
  solution/1700-1799/1751.Maximum Number of Events That Can Be Attended II/Solution.rs
  solution/1700-1799/1751.Maximum Number of Events That Can Be Attended II/Solution2.rs
Labels: md, rs, core team

#4558 feat: add solutions to lc problem: No.3606
  solution/3600-3699/3606.Coupon Code Validator/README.md
  solution/3600-3699/3606.Coupon Code Validator/README_EN.md
  solution/3600-3699/3606.Coupon Code Validator/Solution.cpp
  solution/3600-3699/3606.Coupon Code Validator/Solution.go
  solution/3600-3699/3606.Coupon Code Validator/Solution.java
  solution/3600-3699/3606.Coupon Code Validator/Solution.py
  solution/3600-3699/3606.Coupon Code Validator/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#4561 feat: add solutions to lc problem: No.3611
  solution/3600-3699/3601.Find Drivers with Improved Fuel Efficiency/README.md
  solution/3600-3699/3601.Find Drivers with Improved Fuel Efficiency/README_EN.md
  solution/3600-3699/3602.Hexadecimal and Hexatrigesimal Conversion/README.md
  solution/3600-3699/3602.Hexadecimal and Hexatrigesimal Conversion/README_EN.md
  solution/3600-3699/3603.Minimum Cost Path with Alternating Directions II/README.md
  solution/3600-3699/3603.Minimum Cost Path with Alternating Directions II/README_EN.md
  solution/3600-3699/3604.Minimum Time to Reach Destination in Directed Graph/README.md
  solution/3600-3699/3604.Minimum Time to Reach Destination in Directed Graph/README_EN.md
  solution/3600-3699/3605.Minimum Stability Factor of Array/README.md
  solution/3600-3699/3605.Minimum Stability Factor of Array/README_EN.md
  solution/3600-3699/3606.Coupon Code Validator/README.md
  solution/3600-3699/3606.Coupon Code Validator/README_EN.md
  solution/3600-3699/3607.Power Grid Maintenance/README.md
  solution/3600-3699/3607.Power Grid Maintenance/README_EN.md
  solution/3600-3699/3608.Minimum Time for K Connected Components/README.md
  solution/3600-3699/3608.Minimum Time for K Connected Components/README_EN.md
  solution/3600-3699/3609.Minimum Moves to Reach Target in Grid/README.md
  solution/3600-3699/3609.Minimum Moves to Reach Target in Grid/README_EN.md
  solution/3600-3699/3610.Minimum Number of Primes to Sum to Target/README.md
  solution/3600-3699/3611.Find Overbooked Employees/README.md
  solution/3600-3699/3611.Find Overbooked Employees/README_EN.md
  solution/3600-3699/3611.Find Overbooked Employees/Solution.py
  solution/3600-3699/3611.Find Overbooked Employees/Solution.sql
  solution/DATABASE_README.md
  solution/DATABASE_README_EN.md
  solution/README.md
  solution/README_EN.md
Labels: md, py, core team, sql

#4562 feat: add solutions to lc problem: No.1900
  solution/1900-1999/1900.The Earliest and Latest Rounds Where Players Compete/README.md
  solution/1900-1999/1900.The Earliest and Latest Rounds Where Players Compete/README_EN.md
  solution/1900-1999/1900.The Earliest and Latest Rounds Where Players Compete/Solution.cpp
  solution/1900-1999/1900.The Earliest and Latest Rounds Where Players Compete/Solution.go
  solution/1900-1999/1900.The Earliest and Latest Rounds Where Players Compete/Solution.java
  solution/1900-1999/1900.The Earliest and Latest Rounds Where Players Compete/Solution.py
  solution/1900-1999/1900.The Earliest and Latest Rounds Where Players Compete/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#4565 feat: add weekly contest 458
  solution/3600-3699/3612.Process String with Special Operations I/README.md
  solution/3600-3699/3612.Process String with Special Operations I/README_EN.md
  solution/3600-3699/3613.Minimize Maximum Component Cost/README.md
  solution/3600-3699/3613.Minimize Maximum Component Cost/README_EN.md
  solution/3600-3699/3613.Minimize Maximum Component Cost/images/minimizemaximumm.jpg
  solution/3600-3699/3613.Minimize Maximum Component Cost/images/minmax2.jpg
  solution/3600-3699/3614.Process String with Special Operations II/README.md
  solution/3600-3699/3614.Process String with Special Operations II/README_EN.md
  solution/3600-3699/3615.Longest Palindromic Path in Graph/README.md
  solution/3600-3699/3615.Longest Palindromic Path in Graph/README_EN.md
  solution/3600-3699/3615.Longest Palindromic Path in Graph/images/screenshot-2025-06-13-at-230017.png
  solution/3600-3699/3615.Longest Palindromic Path in Graph/images/screenshot-2025-06-13-at-230508.png
  solution/3600-3699/3615.Longest Palindromic Path in Graph/images/screenshot-2025-06-13-at-230714.png
  solution/3600-3699/3616.Number of Student Replacements/README.md
  solution/3600-3699/3616.Number of Student Replacements/README_EN.md
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/contest.json
Labels: md, core team, json, png, jpg

#4566 feat: add solutions to lc problems: No.3612,3613
  solution/3600-3699/3612.Process String with Special Operations I/README.md
  solution/3600-3699/3612.Process String with Special Operations I/README_EN.md
  solution/3600-3699/3612.Process String with Special Operations I/Solution.cpp
  solution/3600-3699/3612.Process String with Special Operations I/Solution.go
  solution/3600-3699/3612.Process String with Special Operations I/Solution.java
  solution/3600-3699/3612.Process String with Special Operations I/Solution.py
  solution/3600-3699/3612.Process String with Special Operations I/Solution.ts
  solution/3600-3699/3613.Minimize Maximum Component Cost/README.md
  solution/3600-3699/3613.Minimize Maximum Component Cost/README_EN.md
  solution/3600-3699/3613.Minimize Maximum Component Cost/Solution.cpp
  solution/3600-3699/3613.Minimize Maximum Component Cost/Solution.go
  solution/3600-3699/3613.Minimize Maximum Component Cost/Solution.java
  solution/3600-3699/3613.Minimize Maximum Component Cost/Solution.py
  solution/3600-3699/3613.Minimize Maximum Component Cost/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#4568 feat: add solutions to lc problem: No.1290
  solution/1200-1299/1290.Convert Binary Number in a Linked List to Integer/README.md
  solution/1200-1299/1290.Convert Binary Number in a Linked List to Integer/README_EN.md
  solution/1200-1299/1290.Convert Binary Number in a Linked List to Integer/Solution.cs
  solution/1200-1299/1290.Convert Binary Number in a Linked List to Integer/Solution.php
  solution/1200-1299/1290.Convert Binary Number in a Linked List to Integer/Solution.rs
Labels: md, rs, core team, cs, php

#4569 feat: add solutions to lc problem: No.3136
  solution/3100-3199/3136.Valid Word/README.md
  solution/3100-3199/3136.Valid Word/README_EN.md
  solution/3100-3199/3136.Valid Word/Solution.cs
  solution/3100-3199/3136.Valid Word/Solution.rs
Labels: md, rs, core team, cs

#4571 feat: add solutions to lc problems: No.3201,3202
  solution/3200-3299/3201.Find the Maximum Length of Valid Subsequence I/README.md
  solution/3200-3299/3201.Find the Maximum Length of Valid Subsequence I/README_EN.md
  solution/3200-3299/3201.Find the Maximum Length of Valid Subsequence I/Solution.cs
  solution/3200-3299/3201.Find the Maximum Length of Valid Subsequence I/Solution.rs
  solution/3200-3299/3202.Find the Maximum Length of Valid Subsequence II/README.md
  solution/3200-3299/3202.Find the Maximum Length of Valid Subsequence II/README_EN.md
  solution/3200-3299/3202.Find the Maximum Length of Valid Subsequence II/Solution.cs
  solution/3200-3299/3202.Find the Maximum Length of Valid Subsequence II/Solution.rs
  solution/3600-3699/3603.Minimum Cost Path with Alternating Directions II/README.md
  solution/3600-3699/3603.Minimum Cost Path with Alternating Directions II/README_EN.md
  solution/3600-3699/3612.Process String with Special Operations I/README.md
  solution/3600-3699/3612.Process String with Special Operations I/README_EN.md
  solution/3600-3699/3613.Minimize Maximum Component Cost/README.md
  solution/3600-3699/3613.Minimize Maximum Component Cost/README_EN.md
  solution/3600-3699/3614.Process String with Special Operations II/README.md
  solution/3600-3699/3614.Process String with Special Operations II/README_EN.md
  solution/3600-3699/3615.Longest Palindromic Path in Graph/README.md
  solution/3600-3699/3615.Longest Palindromic Path in Graph/README_EN.md
  solution/3600-3699/3616.Number of Student Replacements/README.md
  solution/3600-3699/3617.Find Students with Study Spiral Pattern/README.md
  solution/DATABASE_README.md
  solution/DATABASE_README_EN.md
  solution/README.md
  solution/README_EN.md
Labels: md, rs, core team, cs

#4572 feat: add solutions to lc problem: No.3203
  solution/3200-3299/3203.Find Minimum Diameter After Merging Two Trees/README.md
  solution/3200-3299/3203.Find Minimum Diameter After Merging Two Trees/README_EN.md
  solution/3200-3299/3203.Find Minimum Diameter After Merging Two Trees/Solution.cs
  solution/3200-3299/3203.Find Minimum Diameter After Merging Two Trees/Solution.go
  solution/3200-3299/3203.Find Minimum Diameter After Merging Two Trees/Solution.rs
Labels: md, go, rs, core team, cs

#4574 feat: add solutions to lc problem: No.2163
  solution/0800-0899/0871.Minimum Number of Refueling Stops/README.md
  solution/0800-0899/0871.Minimum Number of Refueling Stops/README_EN.md
  solution/0800-0899/0871.Minimum Number of Refueling Stops/Solution.ts
  solution/2100-2199/2163.Minimum Difference in Sums After Removal of Elements/README.md
  solution/2100-2199/2163.Minimum Difference in Sums After Removal of Elements/README_EN.md
  solution/2100-2199/2163.Minimum Difference in Sums After Removal of Elements/Solution.rs
  solution/2100-2199/2163.Minimum Difference in Sums After Removal of Elements/Solution.ts
Labels: md, ts, rs, core team

#4575 fix: update solutions to lc problems: No.1046,1354
  solution/1000-1099/1046.Last Stone Weight/README.md
  solution/1000-1099/1046.Last Stone Weight/README_EN.md
  solution/1000-1099/1046.Last Stone Weight/Solution.js
  solution/1000-1099/1046.Last Stone Weight/Solution.ts
  solution/1300-1399/1354.Construct Target Array With Multiple Sums/README.md
  solution/1300-1399/1354.Construct Target Array With Multiple Sums/README_EN.md
  solution/1300-1399/1354.Construct Target Array With Multiple Sums/Solution.ts
Labels: js, md, ts, core team

#4576 feat: add solutions to lc problem: No.1233
  solution/1200-1299/1233.Remove Sub-Folders from the Filesystem/README.md
  solution/1200-1299/1233.Remove Sub-Folders from the Filesystem/README_EN.md
  solution/1200-1299/1233.Remove Sub-Folders from the Filesystem/Solution2.go
  solution/1200-1299/1233.Remove Sub-Folders from the Filesystem/Solution2.js
  solution/1200-1299/1233.Remove Sub-Folders from the Filesystem/Solution2.ts
  solution/1200-1299/1233.Remove Sub-Folders from the Filesystem/Solution3.go
Labels: js, md, ts, go, core team

#4586 feat: add solutions to lc problem: No.3619
  solution/3600-3699/3619.Count Islands With Total Value Divisible by K/README.md
  solution/3600-3699/3619.Count Islands With Total Value Divisible by K/README_EN.md
  solution/3600-3699/3619.Count Islands With Total Value Divisible by K/Solution.cpp
  solution/3600-3699/3619.Count Islands With Total Value Divisible by K/Solution.go
  solution/3600-3699/3619.Count Islands With Total Value Divisible by K/Solution.java
  solution/3600-3699/3619.Count Islands With Total Value Divisible by K/Solution.py
  solution/3600-3699/3619.Count Islands With Total Value Divisible by K/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#4587 feat: update solutions to lc problem: No.1957
  solution/1900-1999/1957.Delete Characters to Make Fancy String/README.md
  solution/1900-1999/1957.Delete Characters to Make Fancy String/README_EN.md
  solution/1900-1999/1957.Delete Characters to Make Fancy String/Solution.cpp
  solution/1900-1999/1957.Delete Characters to Make Fancy String/Solution.go
  solution/1900-1999/1957.Delete Characters to Make Fancy String/Solution.java
  solution/1900-1999/1957.Delete Characters to Make Fancy String/Solution.js
  solution/1900-1999/1957.Delete Characters to Make Fancy String/Solution.php
  solution/1900-1999/1957.Delete Characters to Make Fancy String/Solution.py
  solution/1900-1999/1957.Delete Characters to Make Fancy String/Solution.ts
Labels: js, md, ts, py, go, java, cpp, core team, php

#4588 feat: add solutions to lc problem: No.3622
  solution/3600-3699/3622.Check Divisibility by Digit Sum and Product/README.md
  solution/3600-3699/3622.Check Divisibility by Digit Sum and Product/README_EN.md
  solution/3600-3699/3622.Check Divisibility by Digit Sum and Product/Solution.cpp
  solution/3600-3699/3622.Check Divisibility by Digit Sum and Product/Solution.go
  solution/3600-3699/3622.Check Divisibility by Digit Sum and Product/Solution.java
  solution/3600-3699/3622.Check Divisibility by Digit Sum and Product/Solution.py
  solution/3600-3699/3622.Check Divisibility by Digit Sum and Product/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#4590 feat: add rust solutions to lc problem: No.1695
  solution/1600-1699/1695.Maximum Erasure Value/README.md
  solution/1600-1699/1695.Maximum Erasure Value/README_EN.md
  solution/1600-1699/1695.Maximum Erasure Value/Solution.py
  solution/1600-1699/1695.Maximum Erasure Value/Solution.rs
  solution/1600-1699/1695.Maximum Erasure Value/Solution2.rs
Labels: md, py, rs, core team

#4593 feat: update lc problems
  solution/1900-1999/1948.Delete Duplicate Folders in System/README_EN.md
  solution/3600-3699/3615.Longest Palindromic Path in Graph/README.md
  solution/3600-3699/3615.Longest Palindromic Path in Graph/README_EN.md
  solution/3600-3699/3616.Number of Student Replacements/README.md
  solution/3600-3699/3616.Number of Student Replacements/README_EN.md
  solution/3600-3699/3618.Split Array by Prime Indices/README.md
  solution/3600-3699/3618.Split Array by Prime Indices/README_EN.md
  solution/3600-3699/3619.Count Islands With Total Value Divisible by K/README.md
  solution/3600-3699/3619.Count Islands With Total Value Divisible by K/README_EN.md
  solution/3600-3699/3620.Network Recovery Pathways/README.md
  solution/3600-3699/3620.Network Recovery Pathways/README_EN.md
  solution/3600-3699/3621.Number of Integers With Popcount-Depth Equal to K I/README.md
  solution/3600-3699/3621.Number of Integers With Popcount-Depth Equal to K I/README_EN.md
  solution/3600-3699/3622.Check Divisibility by Digit Sum and Product/README.md
  solution/3600-3699/3622.Check Divisibility by Digit Sum and Product/README_EN.md
  solution/3600-3699/3623.Count Number of Trapezoids I/README.md
  solution/3600-3699/3623.Count Number of Trapezoids I/README_EN.md
  solution/3600-3699/3624.Number of Integers With Popcount-Depth Equal to K II/README.md
  solution/3600-3699/3624.Number of Integers With Popcount-Depth Equal to K II/README_EN.md
  solution/3600-3699/3625.Count Number of Trapezoids II/README.md
  solution/3600-3699/3625.Count Number of Trapezoids II/README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/main.py
Labels: md, py, core team

#4598 feat: add solutions to lc problem: No.3480
  solution/3400-3499/3480.Maximize Subarrays After Removing One Conflicting Pair/README.md
  solution/3400-3499/3480.Maximize Subarrays After Removing One Conflicting Pair/README_EN.md
  solution/3400-3499/3480.Maximize Subarrays After Removing One Conflicting Pair/Solution.cpp
  solution/3400-3499/3480.Maximize Subarrays After Removing One Conflicting Pair/Solution.go
  solution/3400-3499/3480.Maximize Subarrays After Removing One Conflicting Pair/Solution.java
  solution/3400-3499/3480.Maximize Subarrays After Removing One Conflicting Pair/Solution.py
  solution/3400-3499/3480.Maximize Subarrays After Removing One Conflicting Pair/Solution.rs
  solution/3400-3499/3480.Maximize Subarrays After Removing One Conflicting Pair/Solution.ts
Labels: md, ts, py, go, java, cpp, rs, core team

#4599 feat: update lc problems
  solution/0000-0099/0017.Letter Combinations of a Phone Number/README.md
  solution/0000-0099/0017.Letter Combinations of a Phone Number/images/1200px-telephone-keypad2svg.png
  solution/0000-0099/0017.Letter Combinations of a Phone Number/images/1752723054-mfIHZs-image.png
  solution/0000-0099/0017.Letter Combinations of a Phone Number/images/17_telephone_keypad.png
  solution/0000-0099/0017.Letter Combinations of a Phone Number/images/200px-Telephone-keypad2.svg.png
  solution/0000-0099/0017.Letter Combinations of a Phone Number/images/200px-telephone-keypad2svg.png
  solution/0000-0099/0020.Valid Parentheses/README.md
  solution/0000-0099/0020.Valid Parentheses/README_EN.md
  solution/0100-0199/0190.Reverse Bits/README.md
  solution/0100-0199/0190.Reverse Bits/README_EN.md
  solution/0200-0299/0282.Expression Add Operators/README.md
  solution/0300-0399/0348.Design Tic-Tac-Toe/README.md
  solution/0300-0399/0391.Perfect Rectangle/README.md
  solution/0300-0399/0391.Perfect Rectangle/README_EN.md
  solution/0500-0599/0545.Boundary of Binary Tree/README_EN.md
  solution/0500-0599/0584.Find Customer Referee/README.md
  solution/0500-0599/0584.Find Customer Referee/README_EN.md
  solution/0700-0799/0778.Swim in Rising Water/README_EN.md
  solution/0800-0899/0802.Find Eventual Safe States/README.md
  solution/0800-0899/0854.K-Similar Strings/README.md
  solution/0800-0899/0854.K-Similar Strings/README_EN.md
  solution/0900-0999/0939.Minimum Area Rectangle/README.md
  solution/0900-0999/0951.Flip Equivalent Binary Trees/README.md
  solution/0900-0999/0963.Minimum Area Rectangle II/README.md
  solution/0900-0999/0963.Minimum Area Rectangle II/README_EN.md
  solution/0900-0999/0963.Minimum Area Rectangle II/images/4c.png
  solution/1100-1199/1164.Product Price at a Given Date/README.md
  solution/1200-1299/1258.Synonymous Sentences/README.md
  solution/1200-1299/1258.Synonymous Sentences/README_EN.md
  solution/1200-1299/1290.Convert Binary Number in a Linked List to Integer/README.md
  solution/1500-1599/1517.Find Users With Valid E-Mails/README.md
  solution/2500-2599/2561.Rearranging Fruits/README.md
  solution/2500-2599/2561.Rearranging Fruits/README_EN.md
  solution/2900-2999/2960.Count Tested Devices After Test Operations/README.md
  solution/2900-2999/2992.Number of Self-Divisible Permutations/README.md
  solution/2900-2999/2992.Number of Self-Divisible Permutations/README_EN.md
  solution/3400-3499/3440.Reschedule Meetings for Maximum Free Time II/README.md
  solution/3400-3499/3477.Fruits Into Baskets II/README.md
  solution/3400-3499/3477.Fruits Into Baskets II/README_EN.md
  solution/3400-3499/3479.Fruits Into Baskets III/README.md
  solution/3500-3599/3596.Minimum Cost Path with Alternating Directions I/README.md
  solution/CONTEST_README.md
  solution/README.md
  solution/README_EN.md
  solution/contest.json
Labels: md, core team, png

#4600 feat: add weekly contest 460
  solution/3600-3699/3627.Maximum Median Sum of Subsequences of Size 3/README.md
  solution/3600-3699/3627.Maximum Median Sum of Subsequences of Size 3/README_EN.md
  solution/3600-3699/3627.Maximum Median Sum of Subsequences of Size 3/Solution.cpp
  solution/3600-3699/3627.Maximum Median Sum of Subsequences of Size 3/Solution.go
  solution/3600-3699/3627.Maximum Median Sum of Subsequences of Size 3/Solution.java
  solution/3600-3699/3627.Maximum Median Sum of Subsequences of Size 3/Solution.py
  solution/3600-3699/3627.Maximum Median Sum of Subsequences of Size 3/Solution.ts
  solution/3600-3699/3628.Maximum Number of Subsequences After One Inserting/README.md
  solution/3600-3699/3628.Maximum Number of Subsequences After One Inserting/README_EN.md
  solution/3600-3699/3629.Minimum Jumps to Reach End via Prime Teleportation/README.md
  solution/3600-3699/3629.Minimum Jumps to Reach End via Prime Teleportation/README_EN.md
  solution/3600-3699/3630.Partition Array for Maximum XOR and AND/README.md
  solution/3600-3699/3630.Partition Array for Maximum XOR and AND/README_EN.md
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/contest.json
Labels: md, ts, py, go, java, cpp, core team, json

#4602 feat: add solutions to lc problem: No.2044
  solution/2000-2099/2044.Count Number of Maximum Bitwise-OR Subsets/README.md
  solution/2000-2099/2044.Count Number of Maximum Bitwise-OR Subsets/README_EN.md
  solution/2000-2099/2044.Count Number of Maximum Bitwise-OR Subsets/Solution.cpp
  solution/2000-2099/2044.Count Number of Maximum Bitwise-OR Subsets/Solution.go
  solution/2000-2099/2044.Count Number of Maximum Bitwise-OR Subsets/Solution.py
  solution/2000-2099/2044.Count Number of Maximum Bitwise-OR Subsets/Solution.rs
  solution/2000-2099/2044.Count Number of Maximum Bitwise-OR Subsets/Solution.ts
  solution/2000-2099/2044.Count Number of Maximum Bitwise-OR Subsets/Solution2.cpp
  solution/2000-2099/2044.Count Number of Maximum Bitwise-OR Subsets/Solution2.go
  solution/2000-2099/2044.Count Number of Maximum Bitwise-OR Subsets/Solution2.java
  solution/2000-2099/2044.Count Number of Maximum Bitwise-OR Subsets/Solution2.py
  solution/2000-2099/2044.Count Number of Maximum Bitwise-OR Subsets/Solution2.rs
  solution/2000-2099/2044.Count Number of Maximum Bitwise-OR Subsets/Solution2.ts
  solution/2000-2099/2044.Count Number of Maximum Bitwise-OR Subsets/Solution3.cpp
  solution/2000-2099/2044.Count Number of Maximum Bitwise-OR Subsets/Solution3.go
  solution/2000-2099/2044.Count Number of Maximum Bitwise-OR Subsets/Solution3.java
  solution/2000-2099/2044.Count Number of Maximum Bitwise-OR Subsets/Solution3.py
Labels: md, ts, py, go, java, cpp, rs, core team

#4604 chore: update lc problems
  solution/3600-3699/3628.Maximum Number of Subsequences After One Inserting/README_EN.md
  solution/3600-3699/3629.Minimum Jumps to Reach End via Prime Teleportation/README_EN.md
  solution/3600-3699/3630.Partition Array for Maximum XOR and AND/README_EN.md
Labels: md, core team

#4607 feat: add solutions to lc problem: No.2683
  solution/2600-2699/2683.Neighboring Bitwise XOR/README.md
  solution/2600-2699/2683.Neighboring Bitwise XOR/README_EN.md
  solution/2600-2699/2683.Neighboring Bitwise XOR/Solution.cs
  solution/2600-2699/2683.Neighboring Bitwise XOR/Solution.js
  solution/2600-2699/2683.Neighboring Bitwise XOR/Solution.rs
Labels: js, md, rs, core team, cs

#4608 feat: add solutions to lc problem: No.0118
  solution/0100-0199/0118.Pascal's Triangle/README.md
  solution/0100-0199/0118.Pascal's Triangle/README_EN.md
  solution/0100-0199/0118.Pascal's Triangle/Solution.cpp
  solution/0100-0199/0118.Pascal's Triangle/Solution.cs
  solution/0100-0199/0118.Pascal's Triangle/Solution.go
  solution/0100-0199/0118.Pascal's Triangle/Solution.java
  solution/0100-0199/0118.Pascal's Triangle/Solution.js
  solution/0100-0199/0118.Pascal's Triangle/Solution.rs
  solution/0100-0199/0118.Pascal's Triangle/Solution.ts
Labels: js, md, ts, go, java, cpp, rs, core team, cs

#4609 feat: update lc problems
  solution/3500-3599/3566.Partition Array into Two Equal Product Subsets/README.md
  solution/3500-3599/3566.Partition Array into Two Equal Product Subsets/README_EN.md
  solution/3500-3599/3567.Minimum Absolute Difference in Sliding Submatrix/README.md
  solution/3500-3599/3567.Minimum Absolute Difference in Sliding Submatrix/README_EN.md
  solution/3500-3599/3568.Minimum Moves to Clean the Classroom/README.md
  solution/3500-3599/3568.Minimum Moves to Clean the Classroom/README_EN.md
  solution/3500-3599/3569.Maximize Count of Distinct Primes After Split/README.md
  solution/3500-3599/3569.Maximize Count of Distinct Primes After Split/README_EN.md
  solution/3600-3699/3631.Sort Threats by Severity and Exploitability/README.md
  solution/3600-3699/3631.Sort Threats by Severity and Exploitability/README_EN.md
  solution/3600-3699/3632.Subarrays with XOR at Least K/README.md
  solution/3600-3699/3632.Subarrays with XOR at Least K/README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/main.py
Labels: md, py, core team
