Repository doocs/leetcode, pull requests merged in 2025-06, with the labels that each got.

#4455 feat: add solutions to lc problem: No.3568
  solution/3500-3599/3568.Minimum Moves to Clean the Classroom/README.md
  solution/3500-3599/3568.Minimum Moves to Clean the Classroom/README_EN.md
  solution/3500-3599/3568.Minimum Moves to Clean the Classroom/Solution.cpp
  solution/3500-3599/3568.Minimum Moves to Clean the Classroom/Solution.go
  solution/3500-3599/3568.Minimum Moves to Clean the Classroom/Solution.java
  solution/3500-3599/3568.Minimum Moves to Clean the Classroom/Solution.py
Labels: md, py, go, java, cpp, core team

#4457 feat: add solutions to lc problem: No.1298
  solution/1200-1299/1298.Maximum Candies You Can Get from Boxes/README.md
  solution/1200-1299/1298.Maximum Candies You Can Get from Boxes/README_EN.md
  solution/1200-1299/1298.Maximum Candies You Can Get from Boxes/Solution.cpp
  solution/1200-1299/1298.Maximum Candies You Can Get from Boxes/Solution.go
  solution/1200-1299/1298.Maximum Candies You Can Get from Boxes/Solution.java
  solution/1200-1299/1298.Maximum Candies You Can Get from Boxes/Solution.py
  solution/1200-1299/1298.Maximum Candies You Can Get from Boxes/Solution.rs
  solution/1200-1299/1298.Maximum Candies You Can Get from Boxes/Solution.ts
Labels: md, ts, py, go, java, cpp, rs, core team

#4463 feat: add solutions to lc problem: No.3442
  solution/3400-3499/3442.Maximum Difference Between Even and Odd Frequency I/README.md
  solution/3400-3499/3442.Maximum Difference Between Even and Odd Frequency I/README_EN.md
  solution/3400-3499/3442.Maximum Difference Between Even and Odd Frequency I/Solution.cs
  solution/3400-3499/3442.Maximum Difference Between Even and Odd Frequency I/Solution.rs
Labels: md, rs, core team, cs

#4464 feat: add solutions to lc problem: No.3405
  solution/3400-3499/3405.Count the Number of Arrays with K Matching Adjacent Elements/README.md
  solution/3400-3499/3405.Count the Number of Arrays with K Matching Adjacent Elements/README_EN.md
  solution/3400-3499/3405.Count the Number of Arrays with K Matching Adjacent Elements/Solution.cpp
  solution/3400-3499/3405.Count the Number of Arrays with K Matching Adjacent Elements/Solution.go
  solution/3400-3499/3405.Count the Number of Arrays with K Matching Adjacent Elements/Solution.java
  solution/3400-3499/3405.Count the Number of Arrays with K Matching Adjacent Elements/Solution.py
  solution/3400-3499/3405.Count the Number of Arrays with K Matching Adjacent Elements/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#4468 feat: add solutions to lc problem: No.3573
  solution/3500-3599/3573.Best Time to Buy and Sell Stock V/README.md
  solution/3500-3599/3573.Best Time to Buy and Sell Stock V/README_EN.md
  solution/3500-3599/3573.Best Time to Buy and Sell Stock V/Solution.cpp
  solution/3500-3599/3573.Best Time to Buy and Sell Stock V/Solution.go
  solution/3500-3599/3573.Best Time to Buy and Sell Stock V/Solution.java
  solution/3500-3599/3573.Best Time to Buy and Sell Stock V/Solution.py
  solution/3500-3599/3573.Best Time to Buy and Sell Stock V/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#4469 feat: add solutions to lc problem: No.0440
  solution/0400-0499/0440.K-th Smallest in Lexicographical Order/README.md
  solution/0400-0499/0440.K-th Smallest in Lexicographical Order/README_EN.md
  solution/0400-0499/0440.K-th Smallest in Lexicographical Order/Solution.rs
  solution/0400-0499/0440.K-th Smallest in Lexicographical Order/Solution.ts
Labels: md, ts, rs, core team

#4470 feat: add solutions to lc problem: No.3576
  solution/3500-3599/3576.Transform Array to All Equal Elements/README.md
  solution/3500-3599/3576.Transform Array to All Equal Elements/README_EN.md
  solution/3500-3599/3576.Transform Array to All Equal Elements/Solution.cpp
  solution/3500-3599/3576.Transform Array to All Equal Elements/Solution.go
  solution/3500-3599/3576.Transform Array to All Equal Elements/Solution.java
  solution/3500-3599/3576.Transform Array to All Equal Elements/Solution.py
  solution/3500-3599/3576.Transform Array to All Equal Elements/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#4472 chore: update problems
  solution/3500-3599/3506.Find Time Required to Eliminate Bacterial Strains II/README.md
  solution/3500-3599/3506.Find Time Required to Eliminate Bacterial Strains II/README_EN.md
Labels: md, core team

#4458 Solution of 0005 and 0006 in c languages done
  solution/0000-0099/0005.Longest Palindromic Substring/README.md
  solution/0000-0099/0005.Longest Palindromic Substring/README_EN.md
  solution/0000-0099/0005.Longest Palindromic Substring/Solution.c
  solution/0000-0099/0006.Zigzag Conversion/README.md
  solution/0000-0099/0006.Zigzag Conversion/README_EN.md
  solution/0000-0099/0006.Zigzag Conversion/Solution.c
Labels: md, c

#4473 feat: update solution to lc problem: No.3580
  solution/3500-3599/3580.Find Consistently Improving Employees/README.md
  solution/3500-3599/3580.Find Consistently Improving Employees/README_EN.md
  solution/3500-3599/3580.Find Consistently Improving Employees/Solution.py
  solution/3500-3599/3580.Find Consistently Improving Employees/Solution.sql
Labels: md, py, core team, sql

#4478 feat: update solutions to lc problem: No.0006
  solution/0000-0099/0006.Zigzag Conversion/README.md
  solution/0000-0099/0006.Zigzag Conversion/README_EN.md
  solution/0000-0099/0006.Zigzag Conversion/Solution.php
  solution/0000-0099/0006.Zigzag Conversion/Solution.rs
  solution/0000-0099/0006.Zigzag Conversion/Solution2.cpp
  solution/0000-0099/0006.Zigzag Conversion/Solution2.go
  solution/0000-0099/0006.Zigzag Conversion/Solution2.java
  solution/0000-0099/0006.Zigzag Conversion/Solution2.js
  solution/0000-0099/0006.Zigzag Conversion/Solution2.py
  solution/0000-0099/0006.Zigzag Conversion/Solution2.rs
  solution/0000-0099/0006.Zigzag Conversion/Solution2.ts
Labels: js, md, ts, py, go, java, cpp, rs, core team, php

#4480 docs: update readme guideline
  README.md
  README_EN.md
  images/pr-en.svg
  images/pr.svg
Labels: md, core team, svg

#4483 feat: add solutions to lc problem: No.3423
  solution/3400-3499/3423.Maximum Difference Between Adjacent Elements in a Circular Array/README.md
  solution/3400-3499/3423.Maximum Difference Between Adjacent Elements in a Circular Array/README_EN.md
  solution/3400-3499/3423.Maximum Difference Between Adjacent Elements in a Circular Array/Solution.cs
  solution/3400-3499/3423.Maximum Difference Between Adjacent Elements in a Circular Array/Solution.py
  solution/3400-3499/3423.Maximum Difference Between Adjacent Elements in a Circular Array/Solution.rs
Labels: md, py, rs, core team, cs

#4486 feat: add solutions to lc problem: No.3574
  solution/3500-3599/3574.Maximize Subarray GCD Score/README.md
  solution/3500-3599/3574.Maximize Subarray GCD Score/README_EN.md
  solution/3500-3599/3574.Maximize Subarray GCD Score/Solution.cpp
  solution/3500-3599/3574.Maximize Subarray GCD Score/Solution.go
  solution/3500-3599/3574.Maximize Subarray GCD Score/Solution.java
  solution/3500-3599/3574.Maximize Subarray GCD Score/Solution.py
  solution/3500-3599/3574.Maximize Subarray GCD Score/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#4489 feat: add solutions to lc problem: No.2616
  solution/2600-2699/2616.Minimize the Maximum Difference of Pairs/README.md
  solution/2600-2699/2616.Minimize the Maximum Difference of Pairs/README_EN.md
  solution/2600-2699/2616.Minimize the Maximum Difference of Pairs/Solution.cs
  solution/2600-2699/2616.Minimize the Maximum Difference of Pairs/Solution.php
  solution/2600-2699/2616.Minimize the Maximum Difference of Pairs/Solution.swift
Labels: md, core team, swift, cs, php

#4490 feat: add solutions to lc problem: No.2614
  solution/2600-2699/2614.Prime In Diagonal/README.md
  solution/2600-2699/2614.Prime In Diagonal/README_EN.md
  solution/2600-2699/2614.Prime In Diagonal/Solution.js
  solution/2600-2699/2614.Prime In Diagonal/Solution.ts
Labels: js, md, ts, core team

#4495 fix: correct case-sensitivity issue in lc problem No.1517
  solution/1500-1599/1517.Find Users With Valid E-Mails/README.md
  solution/1500-1599/1517.Find Users With Valid E-Mails/README_EN.md
  solution/1500-1599/1517.Find Users With Valid E-Mails/Solution.py
  solution/1500-1599/1517.Find Users With Valid E-Mails/Solution.sql
Labels: md, py, core team, sql

#4496 feat: add solutions to lc problem: No.1432
  solution/1400-1499/1432.Max Difference You Can Get From Changing an Integer/README.md
  solution/1400-1499/1432.Max Difference You Can Get From Changing an Integer/README_EN.md
  solution/1400-1499/1432.Max Difference You Can Get From Changing an Integer/Solution.rs
  solution/1400-1499/1432.Max Difference You Can Get From Changing an Integer/Solution.ts
Labels: md, ts, rs, core team

#4501 feat: add solutions to lc problem: No.3581
  solution/3500-3599/3581.Count Odd Letters from Number/README.md
  solution/3500-3599/3581.Count Odd Letters from Number/README_EN.md
  solution/3500-3599/3581.Count Odd Letters from Number/Solution.cpp
  solution/3500-3599/3581.Count Odd Letters from Number/Solution.go
  solution/3500-3599/3581.Count Odd Letters from Number/Solution.java
  solution/3500-3599/3581.Count Odd Letters from Number/Solution.py
  solution/3500-3599/3581.Count Odd Letters from Number/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#4503 feat: add solutions to lc problem: No.3405
  solution/3400-3499/3405.Count the Number of Arrays with K Matching Adjacent Elements/README.md
  solution/3400-3499/3405.Count the Number of Arrays with K Matching Adjacent Elements/README_EN.md
  solution/3400-3499/3405.Count the Number of Arrays with K Matching Adjacent Elements/Solution.rs
Labels: md, rs, core team

#4504 feat: update lc problems
  solution/0100-0199/0195.Tenth Line/README_EN.md
  solution/0700-0799/0799.Champagne Tower/README_EN.md
  solution/1100-1199/1108.Defanging an IP Address/README_EN.md
  solution/1100-1199/1111.Maximum Nesting Depth of Two Valid Parentheses Strings/README_EN.md
  solution/1100-1199/1138.Alphabet Board Path/README_EN.md
  solution/1100-1199/1139.Largest 1-Bordered Square/README_EN.md
  solution/1100-1199/1184.Distance Between Bus Stops/README_EN.md
  solution/1200-1299/1238.Circular Permutation in Binary Representation/README_EN.md
  solution/1200-1299/1256.Encode Number/README_EN.md
  solution/1300-1399/1301.Number of Paths with Max Score/README_EN.md
  solution/1300-1399/1318.Minimum Flips to Make a OR b Equal to c/README_EN.md
  solution/1300-1399/1324.Print Words Vertically/README_EN.md
  solution/1400-1499/1418.Display Table of Food Orders in a Restaurant/README_EN.md
  solution/1400-1499/1448.Count Good Nodes in Binary Tree/README_EN.md
  solution/1400-1499/1470.Shuffle the Array/README_EN.md
  solution/1400-1499/1481.Least Number of Unique Integers after K Removals/README_EN.md
  solution/1500-1599/1523.Count Odd Numbers in an Interval Range/README_EN.md
  solution/1500-1599/1534.Count Good Triplets/README_EN.md
  solution/1600-1699/1617.Count Subtrees With Max Distance Between Cities/README_EN.md
  solution/1600-1699/1618.Maximum Font to Fit a Sentence in a Screen/README_EN.md
  solution/1600-1699/1634.Add Two Polynomials Represented as Linked Lists/README_EN.md
  solution/1600-1699/1649.Create Sorted Array through Instructions/README_EN.md
  solution/1600-1699/1660.Correct a Binary Tree/README_EN.md
  solution/1700-1799/1725.Number Of Rectangles That Can Form The Largest Square/README_EN.md
  solution/1700-1799/1746.Maximum Subarray Sum After One Operation/README_EN.md
  solution/1700-1799/1768.Merge Strings Alternately/README_EN.md
  solution/1700-1799/1788.Maximize the Beauty of the Garden/README_EN.md
  solution/1800-1899/1801.Number of Orders in the Backlog/README_EN.md
  solution/1800-1899/1803.Count Pairs With XOR in a Range/README_EN.md
  solution/1800-1899/1808.Maximize Number of Nice Divisors/README_EN.md
  solution/1800-1899/1827.Minimum Operations to Make the Array Increasing/README_EN.md
  solution/1800-1899/1836.Remove Duplicates From an Unsorted Linked List/README_EN.md
  solution/1800-1899/1872.Stone Game VIII/README_EN.md
  solution/1800-1899/1874.Minimize Product Sum of Two Arrays/README_EN.md
  solution/1800-1899/1877.Minimize Maximum Pair Sum in Array/README_EN.md
  solution/1900-1999/1911.Maximum Alternating Subsequence Sum/README_EN.md
  solution/1900-1999/1913.Maximum Product Difference Between Two Pairs/README_EN.md
  solution/1900-1999/1914.Cyclically Rotating a Grid/README_EN.md
  solution/1900-1999/1915.Number of Wonderful Substrings/README_EN.md
  solution/1900-1999/1916.Count Ways to Build Rooms in an Ant Colony/README_EN.md
  solution/2500-2599/2519.Count the Number of K-Big Indices/README.md
  solution/2500-2599/2519.Count the Number of K-Big Indices/README_EN.md
  solution/2500-2599/2519.Count the Number of K-Big Indices/Solution.ts
  solution/3500-3599/3581.Count Odd Letters from Number/README.md
  solution/3500-3599/3581.Count Odd Letters from Number/README_EN.md
  solution/3500-3599/3582.Generate Tag for Video Caption/README.md
  solution/3500-3599/3582.Generate Tag for Video Caption/README_EN.md
  solution/3500-3599/3583.Count Special Triplets/README.md
  solution/3500-3599/3583.Count Special Triplets/README_EN.md
  solution/3500-3599/3584.Maximum Product of First and Last Elements of a Subsequence/README.md
  solution/3500-3599/3584.Maximum Product of First and Last Elements of a Subsequence/README_EN.md
  solution/3500-3599/3585.Find Weighted Median Node in Tree/README.md
  solution/3500-3599/3585.Find Weighted Median Node in Tree/README_EN.md
  solution/3500-3599/3586.Find COVID Recovery Patients/README.md
  solution/DATABASE_README.md
  solution/DATABASE_README_EN.md
  solution/README.md
  solution/README_EN.md
Labels: md, core team

#4505 feat: add rust solution to lc problem: No.2967
  solution/2900-2999/2967.Minimum Cost to Make Array Equalindromic/README.md
  solution/2900-2999/2967.Minimum Cost to Make Array Equalindromic/README_EN.md
  solution/2900-2999/2967.Minimum Cost to Make Array Equalindromic/Solution.rs
Labels: md, rs, core team

#4506 Solution done for 0008 and 0009 in c language with all the formatted it with clang format as you told to do
  solution/0000-0099/0008.String to Integer (atoi)/README.md
  solution/0000-0099/0008.String to Integer (atoi)/README_EN.md
  solution/0000-0099/0008.String to Integer (atoi)/Solution.c
  solution/0000-0099/0009.Palindrome Number/README.md
  solution/0000-0099/0009.Palindrome Number/README_EN.md
  solution/0000-0099/0009.Palindrome Number/Solution.c
Labels: md, c

#4508 Solution of 0010 and 0011 done in c language
  solution/0000-0099/0010.Regular Expression Matching/README.md
  solution/0000-0099/0010.Regular Expression Matching/README_EN.md
  solution/0000-0099/0010.Regular Expression Matching/Solution.c
  solution/0000-0099/0010.Regular Expression Matching/Solution2.c
  solution/0000-0099/0011.Container With Most Water/README.md
  solution/0000-0099/0011.Container With Most Water/README_EN.md
  solution/0000-0099/0011.Container With Most Water/Solution.c
Labels: md, c

#4509 feat: add rust solution to lc problem: No.3443
  solution/3400-3499/3443.Maximum Manhattan Distance After K Changes/README.md
  solution/3400-3499/3443.Maximum Manhattan Distance After K Changes/README_EN.md
  solution/3400-3499/3443.Maximum Manhattan Distance After K Changes/Solution.rs
Labels: md, rs, core team

#4510 feat: add php solution to lc problem: No.0010
  solution/0000-0099/0010.Regular Expression Matching/README.md
  solution/0000-0099/0010.Regular Expression Matching/README_EN.md
  solution/0000-0099/0010.Regular Expression Matching/Solution.php
  solution/0000-0099/0010.Regular Expression Matching/Solution2.php
Labels: core team

#4511 0012 and 0013 done in c
  solution/0000-0099/0012.Integer to Roman/README.md
  solution/0000-0099/0012.Integer to Roman/README_EN.md
  solution/0000-0099/0012.Integer to Roman/Solution.c
  solution/0000-0099/0013.Roman to Integer/README.md
  solution/0000-0099/0013.Roman to Integer/README_EN.md
  solution/0000-0099/0013.Roman to Integer/Solution.c
Labels: md, c, png

#4513 feat: add biweekly contest 159
  solution/3500-3599/3587.Minimum Adjacent Swaps to Alternate Parity/README.md
  solution/3500-3599/3587.Minimum Adjacent Swaps to Alternate Parity/README_EN.md
  solution/3500-3599/3588.Find Maximum Area of a Triangle/README.md
  solution/3500-3599/3588.Find Maximum Area of a Triangle/README_EN.md
  solution/3500-3599/3589.Count Prime-Gap Balanced Subarrays/README.md
  solution/3500-3599/3589.Count Prime-Gap Balanced Subarrays/README_EN.md
  solution/3500-3599/3590.Kth Smallest Path XOR Sum/README.md
  solution/3500-3599/3590.Kth Smallest Path XOR Sum/README_EN.md
  solution/3500-3599/3590.Kth Smallest Path XOR Sum/images/screenshot-2025-05-29-at-204434.png
  solution/3500-3599/3590.Kth Smallest Path XOR Sum/images/screenshot-2025-05-29-at-204534.png
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/contest.json
Labels: md, core team, json, png

#4514 feat: add solutions to lc problem: No.3587
  solution/3500-3599/3587.Minimum Adjacent Swaps to Alternate Parity/README.md
  solution/3500-3599/3587.Minimum Adjacent Swaps to Alternate Parity/README_EN.md
  solution/3500-3599/3587.Minimum Adjacent Swaps to Alternate Parity/Solution.cpp
  solution/3500-3599/3587.Minimum Adjacent Swaps to Alternate Parity/Solution.go
  solution/3500-3599/3587.Minimum Adjacent Swaps to Alternate Parity/Solution.java
  solution/3500-3599/3587.Minimum Adjacent Swaps to Alternate Parity/Solution.py
  solution/3500-3599/3587.Minimum Adjacent Swaps to Alternate Parity/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#4515 feat: add weekly contest 455
  solution/3500-3599/3591.Check if Any Element Has Prime Frequency/README.md
  solution/3500-3599/3591.Check if Any Element Has Prime Frequency/README_EN.md
  solution/3500-3599/3591.Check if Any Element Has Prime Frequency/Solution.cpp
  solution/3500-3599/3591.Check if Any Element Has Prime Frequency/Solution.go
  solution/3500-3599/3591.Check if Any Element Has Prime Frequency/Solution.java
  solution/3500-3599/3591.Check if Any Element Has Prime Frequency/Solution.py
  solution/3500-3599/3591.Check if Any Element Has Prime Frequency/Solution.ts
  solution/3500-3599/3592.Inverse Coin Change/README.md
  solution/3500-3599/3592.Inverse Coin Change/README_EN.md
  solution/3500-3599/3593.Minimum Increments to Equalize Leaf Paths/README.md
  solution/3500-3599/3593.Minimum Increments to Equalize Leaf Paths/README_EN.md
  solution/3500-3599/3593.Minimum Increments to Equalize Leaf Paths/images/1750474560-MhjFRU-screenshot-2025-05-28-at-134249.png
  solution/3500-3599/3593.Minimum Increments to Equalize Leaf Paths/images/1750474560-QqQFdh-screenshot-2025-05-28-at-134018.png
  solution/3500-3599/3593.Minimum Increments to Equalize Leaf Paths/images/1750474560-iuUALZ-screenshot-2025-05-28-at-135704.png
  solution/3500-3599/3593.Minimum Increments to Equalize Leaf Paths/images/screenshot-2025-05-28-at-134018.png
  solution/3500-3599/3593.Minimum Increments to Equalize Leaf Paths/images/screenshot-2025-05-28-at-134249.png
  solution/3500-3599/3593.Minimum Increments to Equalize Leaf Paths/images/screenshot-2025-05-28-at-135704.png
  solution/3500-3599/3594.Minimum Time to Transport All Individuals/README.md
  solution/3500-3599/3594.Minimum Time to Transport All Individuals/README_EN.md
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/contest.json
Labels: md, ts, py, go, java, cpp, core team, json, png

#4516 feat: add solutions to lc problem: No.1751
  solution/1700-1799/1751.Maximum Number of Events That Can Be Attended II/README.md
  solution/1700-1799/1751.Maximum Number of Events That Can Be Attended II/README_EN.md
  solution/1700-1799/1751.Maximum Number of Events That Can Be Attended II/Solution.cpp
  solution/1700-1799/1751.Maximum Number of Events That Can Be Attended II/Solution.ts
  solution/1700-1799/1751.Maximum Number of Events That Can Be Attended II/Solution2.ts
Labels: md, ts, cpp, core team

#4518 feat: add python solution to lc problem: No.3590
  solution/3500-3599/3590.Kth Smallest Path XOR Sum/README.md
  solution/3500-3599/3590.Kth Smallest Path XOR Sum/README_EN.md
  solution/3500-3599/3590.Kth Smallest Path XOR Sum/Solution.py
Labels: md, py

#4520 feat: add rust solutions to lc problem: No.2200
  solution/2200-2299/2200.Find All K-Distant Indices in an Array/README.md
  solution/2200-2299/2200.Find All K-Distant Indices in an Array/README_EN.md
  solution/2200-2299/2200.Find All K-Distant Indices in an Array/Solution.rs
  solution/2200-2299/2200.Find All K-Distant Indices in an Array/Solution2.rs
  solution/2200-2299/2200.Find All K-Distant Indices in an Array/Solution3.rs
Labels: md, rs, core team

#4521 feat: add rust solution to lc problem: No.2040
  solution/2000-2099/2040.Kth Smallest Product of Two Sorted Arrays/README.md
  solution/2000-2099/2040.Kth Smallest Product of Two Sorted Arrays/README_EN.md
  solution/2000-2099/2040.Kth Smallest Product of Two Sorted Arrays/Solution.rs
Labels: md, rs, core team

#4522 feat: add new lc problem
  solution/3500-3599/3595.Once Twice/README.md
  solution/3500-3599/3595.Once Twice/README_EN.md
  solution/README.md
  solution/README_EN.md
Labels: md, core team

#4525 feat: add rust solution to lc problem: No.3330
  solution/3300-3399/3330.Find the Original Typed String I/README.md
  solution/3300-3399/3330.Find the Original Typed String I/README_EN.md
  solution/3300-3399/3330.Find the Original Typed String I/Solution.rs
Labels: md, rs, core team

#4526 feat: add solutions to lc problem: No.2014
  solution/2000-2099/2014.Longest Subsequence Repeated k Times/README.md
  solution/2000-2099/2014.Longest Subsequence Repeated k Times/README_EN.md
  solution/2000-2099/2014.Longest Subsequence Repeated k Times/Solution.cpp
  solution/2000-2099/2014.Longest Subsequence Repeated k Times/Solution.go
  solution/2000-2099/2014.Longest Subsequence Repeated k Times/Solution.java
  solution/2000-2099/2014.Longest Subsequence Repeated k Times/Solution.py
  solution/2000-2099/2014.Longest Subsequence Repeated k Times/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#4527 feat: add solutions to lc problem: No.2099
  solution/2000-2099/2099.Find Subsequence of Length K With the Largest Sum/README.md
  solution/2000-2099/2099.Find Subsequence of Length K With the Largest Sum/README_EN.md
  solution/2000-2099/2099.Find Subsequence of Length K With the Largest Sum/Solution.cpp
  solution/2000-2099/2099.Find Subsequence of Length K With the Largest Sum/Solution.go
  solution/2000-2099/2099.Find Subsequence of Length K With the Largest Sum/Solution.java
  solution/2000-2099/2099.Find Subsequence of Length K With the Largest Sum/Solution.rs
Labels: md, go, java, cpp, rs, core team

#4528 chore: use setAll func to initialize array in Java solution
  solution/0500-0599/0506.Relative Ranks/README.md
  solution/0500-0599/0506.Relative Ranks/README_EN.md
  solution/0500-0599/0506.Relative Ranks/Solution.java
  solution/0800-0899/0853.Car Fleet/README.md
  solution/0800-0899/0853.Car Fleet/README_EN.md
  solution/0800-0899/0853.Car Fleet/Solution.java
  solution/1300-1399/1340.Jump Game V/README.md
  solution/1300-1399/1340.Jump Game V/README_EN.md
  solution/1300-1399/1340.Jump Game V/Solution2.java
  solution/1700-1799/1707.Maximum XOR With an Element From Array/README.md
  solution/1700-1799/1707.Maximum XOR With an Element From Array/README_EN.md
  solution/1700-1799/1707.Maximum XOR With an Element From Array/Solution.java
  solution/2400-2499/2418.Sort the People/README.md
  solution/2400-2499/2418.Sort the People/README_EN.md
  solution/2400-2499/2418.Sort the People/Solution.java
  solution/2500-2599/2593.Find Score of an Array After Marking All Elements/README.md
  solution/2500-2599/2593.Find Score of an Array After Marking All Elements/README_EN.md
  solution/2500-2599/2593.Find Score of an Array After Marking All Elements/Solution2.java
  solution/2600-2699/2611.Mice and Cheese/README.md
  solution/2600-2699/2611.Mice and Cheese/README_EN.md
  solution/2600-2699/2611.Mice and Cheese/Solution.java
  solution/2900-2999/2948.Make Lexicographically Smallest Array by Swapping Elements/README.md
  solution/2900-2999/2948.Make Lexicographically Smallest Array by Swapping Elements/README_EN.md
  solution/2900-2999/2948.Make Lexicographically Smallest Array by Swapping Elements/Solution.java
Labels: md, java, core team

#4529 feat: add solutions to lc problem: No.3696
  solution/3500-3599/3596.Minimum Cost Path with Alternating Directions I/README.md
  solution/3500-3599/3596.Minimum Cost Path with Alternating Directions I/README_EN.md
  solution/3500-3599/3596.Minimum Cost Path with Alternating Directions I/Solution.cpp
  solution/3500-3599/3596.Minimum Cost Path with Alternating Directions I/Solution.go
  solution/3500-3599/3596.Minimum Cost Path with Alternating Directions I/Solution.java
  solution/3500-3599/3596.Minimum Cost Path with Alternating Directions I/Solution.py
  solution/3500-3599/3596.Minimum Cost Path with Alternating Directions I/Solution.ts
  solution/README.md
  solution/README_EN.md
Labels: md, ts, py, go, java, cpp, core team

#4532 feat: add weekly contest 456
  solution/3500-3599/3597.Partition String/README.md
  solution/3500-3599/3597.Partition String/README_EN.md
  solution/3500-3599/3598.Longest Common Prefix Between Adjacent Strings After Removals/README.md
  solution/3500-3599/3598.Longest Common Prefix Between Adjacent Strings After Removals/README_EN.md
  solution/3500-3599/3599.Partition Array to Minimize XOR/README.md
  solution/3500-3599/3599.Partition Array to Minimize XOR/README_EN.md
  solution/3600-3699/3600.Maximize Spanning Tree Stability with Upgrades/README.md
  solution/3600-3699/3600.Maximize Spanning Tree Stability with Upgrades/README_EN.md
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/contest.json
Labels: md, core team, json

#4534 feat: add solutions to lc problem: No.3597
  solution/3500-3599/3597.Partition String/README.md
  solution/3500-3599/3597.Partition String/README_EN.md
  solution/3500-3599/3597.Partition String/Solution.cpp
  solution/3500-3599/3597.Partition String/Solution.go
  solution/3500-3599/3597.Partition String/Solution.java
  solution/3500-3599/3597.Partition String/Solution.py
  solution/3500-3599/3597.Partition String/Solution.ts
  solution/3500-3599/3597.Partition String/Solution2.cpp
  solution/3500-3599/3597.Partition String/Solution2.go
  solution/3500-3599/3597.Partition String/Solution2.java
  solution/3500-3599/3597.Partition String/Solution2.py
  solution/3500-3599/3597.Partition String/Solution2.ts
Labels: md, ts, py, go, java, cpp, core team

#4535 feat: add solutions to lc problem: No.3598
  solution/3500-3599/3598.Longest Common Prefix Between Adjacent Strings After Removals/README.md
  solution/3500-3599/3598.Longest Common Prefix Between Adjacent Strings After Removals/README_EN.md
  solution/3500-3599/3598.Longest Common Prefix Between Adjacent Strings After Removals/Solution.cpp
  solution/3500-3599/3598.Longest Common Prefix Between Adjacent Strings After Removals/Solution.go
  solution/3500-3599/3598.Longest Common Prefix Between Adjacent Strings After Removals/Solution.java
  solution/3500-3599/3598.Longest Common Prefix Between Adjacent Strings After Removals/Solution.py
Labels: md, py, go, java, cpp, core team

#4537 feat: add rust solution to lc problem: No.0594
  solution/0500-0599/0594.Longest Harmonious Subsequence/README.md
  solution/0500-0599/0594.Longest Harmonious Subsequence/README_EN.md
  solution/0500-0599/0594.Longest Harmonious Subsequence/Solution.rs
Labels: md, rs, core team
