Repository doocs/leetcode, pull requests merged in 2025-05, with the labels that each got.

#4381 feat: add solutions to lc problem: No.3527
  solution/3500-3599/3527.Find the Most Common Response/README.md
  solution/3500-3599/3527.Find the Most Common Response/README_EN.md
  solution/3500-3599/3527.Find the Most Common Response/Solution.cpp
  solution/3500-3599/3527.Find the Most Common Response/Solution.go
  solution/3500-3599/3527.Find the Most Common Response/Solution.java
  solution/3500-3599/3527.Find the Most Common Response/Solution.py
  solution/3500-3599/3527.Find the Most Common Response/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#4382 feat: add solutions to lc problem: No.2071
  solution/2000-2099/2071.Maximum Number of Tasks You Can Assign/README.md
  solution/2000-2099/2071.Maximum Number of Tasks You Can Assign/README_EN.md
  solution/2000-2099/2071.Maximum Number of Tasks You Can Assign/Solution.ts
Labels: md, ts, core team

#4383 feat: add solutions to lc problem: No.0838
  solution/0800-0899/0838.Push Dominoes/README.md
  solution/0800-0899/0838.Push Dominoes/README_EN.md
  solution/0800-0899/0838.Push Dominoes/Solution.ts
Labels: md, ts, core team

#4386 feat: add solutions to lc problem: No.1128
  solution/1100-1199/1128.Number of Equivalent Domino Pairs/README.md
  solution/1100-1199/1128.Number of Equivalent Domino Pairs/README_EN.md
  solution/1100-1199/1128.Number of Equivalent Domino Pairs/Solution.rs
  solution/1100-1199/1128.Number of Equivalent Domino Pairs/Solution.ts
Labels: md, ts, rs, core team

#4387 feat: add solutions to lc problem: No.3531
  solution/3500-3599/3531.Count Covered Buildings/README.md
  solution/3500-3599/3531.Count Covered Buildings/README_EN.md
  solution/3500-3599/3531.Count Covered Buildings/Solution.cpp
  solution/3500-3599/3531.Count Covered Buildings/Solution.go
  solution/3500-3599/3531.Count Covered Buildings/Solution.java
  solution/3500-3599/3531.Count Covered Buildings/Solution.py
  solution/3500-3599/3531.Count Covered Buildings/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#4388 feat: add solutions to lc problem: No.3532
  solution/3500-3599/3532.Path Existence Queries in a Graph I/README.md
  solution/3500-3599/3532.Path Existence Queries in a Graph I/README_EN.md
  solution/3500-3599/3532.Path Existence Queries in a Graph I/Solution.cpp
  solution/3500-3599/3532.Path Existence Queries in a Graph I/Solution.go
  solution/3500-3599/3532.Path Existence Queries in a Graph I/Solution.java
  solution/3500-3599/3532.Path Existence Queries in a Graph I/Solution.py
  solution/3500-3599/3532.Path Existence Queries in a Graph I/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#4389 feat: add solutions to lc problem: No.0790
  solution/0700-0799/0790.Domino and Tromino Tiling/README.md
  solution/0700-0799/0790.Domino and Tromino Tiling/README_EN.md
  solution/0700-0799/0790.Domino and Tromino Tiling/Solution.cpp
  solution/0700-0799/0790.Domino and Tromino Tiling/Solution.rs
  solution/0700-0799/0790.Domino and Tromino Tiling/Solution.ts
Labels: md, ts, cpp, rs, core team

#4390 feat: add weekly contest 448
  solution/0500-0599/0599.Minimum Index Sum of Two Lists/README.md
  solution/0800-0899/0819.Most Common Word/README_EN.md
  solution/0800-0899/0838.Push Dominoes/README.md
  solution/0800-0899/0838.Push Dominoes/README_EN.md
  solution/1100-1199/1160.Find Words That Can Be Formed by Characters/README_EN.md
  solution/3400-3499/3401.Find Circular Gift Exchange Chains/README.md
  solution/3500-3599/3528.Unit Conversion I/README.md
  solution/3500-3599/3528.Unit Conversion I/README_EN.md
  solution/3500-3599/3532.Path Existence Queries in a Graph I/README.md
  solution/3500-3599/3532.Path Existence Queries in a Graph I/README_EN.md
  solution/3500-3599/3533.Concatenated Divisibility/README.md
  solution/3500-3599/3533.Concatenated Divisibility/README_EN.md
  solution/3500-3599/3534.Path Existence Queries in a Graph II/README.md
  solution/3500-3599/3534.Path Existence Queries in a Graph II/README_EN.md
  solution/3500-3599/3535.Unit Conversion II/README_EN.md
  solution/3500-3599/3536.Maximum Product of Two Digits/README.md
  solution/3500-3599/3536.Maximum Product of Two Digits/README_EN.md
  solution/3500-3599/3536.Maximum Product of Two Digits/Solution.cpp
  solution/3500-3599/3536.Maximum Product of Two Digits/Solution.go
  solution/3500-3599/3536.Maximum Product of Two Digits/Solution.java
  solution/3500-3599/3536.Maximum Product of Two Digits/Solution.py
  solution/3500-3599/3536.Maximum Product of Two Digits/Solution.ts
  solution/3500-3599/3537.Fill a Special Grid/README.md
  solution/3500-3599/3537.Fill a Special Grid/README_EN.md
  solution/3500-3599/3537.Fill a Special Grid/images/1746289512-jpANZH-4123example3p1drawio.png
  solution/3500-3599/3538.Merge Operations for Minimum Travel Time/README.md
  solution/3500-3599/3538.Merge Operations for Minimum Travel Time/README_EN.md
  solution/3500-3599/3539.Find Sum of Array Product of Magical Sequences/README.md
  solution/3500-3599/3539.Find Sum of Array Product of Magical Sequences/README_EN.md
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/DATABASE_README.md
  solution/README.md
  solution/README_EN.md
  solution/contest.json
Labels: md, ts, py, go, java, cpp, core team, png

#4391 fix: update solutions to lc problems: No.3341,3342
  solution/3300-3399/3341.Find Minimum Time to Reach Last Room I/README.md
  solution/3300-3399/3341.Find Minimum Time to Reach Last Room I/README_EN.md
  solution/3300-3399/3341.Find Minimum Time to Reach Last Room I/Solution.ts
  solution/3300-3399/3342.Find Minimum Time to Reach Last Room II/README.md
  solution/3300-3399/3342.Find Minimum Time to Reach Last Room II/README_EN.md
  solution/3300-3399/3342.Find Minimum Time to Reach Last Room II/Solution.ts
Labels: md, ts, core team

#4399 feat: add new lc problems
  solution/3500-3599/3540.Minimum Time to Visit All Houses/README.md
  solution/3500-3599/3540.Minimum Time to Visit All Houses/README_EN.md
  solution/3500-3599/3541.Find Most Frequent Vowel and Consonant/README.md
  solution/3500-3599/3541.Find Most Frequent Vowel and Consonant/README_EN.md
  solution/3500-3599/3542.Minimum Operations to Convert All Elements to Zero/README.md
  solution/3500-3599/3542.Minimum Operations to Convert All Elements to Zero/README_EN.md
  solution/3500-3599/3543.Maximum Weighted K-Edge Path/README.md
  solution/3500-3599/3543.Maximum Weighted K-Edge Path/README_EN.md
  solution/3500-3599/3543.Maximum Weighted K-Edge Path/images/1746838989-LicEZO-screenshot-2025-04-10-at-061326.png
  solution/3500-3599/3543.Maximum Weighted K-Edge Path/images/1746838989-dlWmbI-screenshot-2025-04-10-at-061406.png
  solution/3500-3599/3543.Maximum Weighted K-Edge Path/images/1746838989-fIoKEG-screenshot-2025-04-10-at-061442.png
  solution/3500-3599/3544.Subtree Inversion Sum/README.md
  solution/3500-3599/3544.Subtree Inversion Sum/README_EN.md
  solution/3500-3599/3544.Subtree Inversion Sum/images/1746839116-ClbwfM-tree2-1.jpg
  solution/3500-3599/3544.Subtree Inversion Sum/images/1746839116-jjqxSJ-tree1-3.jpg
  solution/3500-3599/3545.Minimum Deletions for At Most K Distinct Characters/README.md
  solution/3500-3599/3545.Minimum Deletions for At Most K Distinct Characters/README_EN.md
  solution/3500-3599/3546.Equal Sum Grid Partition I/README.md
  solution/3500-3599/3546.Equal Sum Grid Partition I/README_EN.md
  solution/3500-3599/3546.Equal Sum Grid Partition I/images/1746839596-kWigaF-lc.jpeg
  solution/3500-3599/3547.Maximum Sum of Edge Values in a Graph/README.md
  solution/3500-3599/3547.Maximum Sum of Edge Values in a Graph/README_EN.md
  solution/3500-3599/3547.Maximum Sum of Edge Values in a Graph/images/1746840222-TPbWos-graphproblemex1drawio.png
  solution/3500-3599/3547.Maximum Sum of Edge Values in a Graph/images/1746840222-kMeeiO-graphproblemex2drawio.png
  solution/3500-3599/3548.Equal Sum Grid Partition II/README.md
  solution/3500-3599/3548.Equal Sum Grid Partition II/README_EN.md
  solution/3500-3599/3548.Equal Sum Grid Partition II/images/1746840111-NLKmla-chatgpt-image-apr-2-2025-at-02_50_29-am.png
  solution/3500-3599/3548.Equal Sum Grid Partition II/images/1746840111-gqGlwe-chatgpt-image-apr-1-2025-at-05_28_12-pm.png
  solution/3500-3599/3548.Equal Sum Grid Partition II/images/1746840111-qowVBK-lc.jpeg
  solution/CONTEST_README.md
  solution/CONTEST_README_EN.md
  solution/README.md
  solution/README_EN.md
  solution/contest.json
Labels: md, core team, png, jpg, jpeg

#4400 feat: add solutions to lc problem: No.3541
  solution/3500-3599/3541.Find Most Frequent Vowel and Consonant/README.md
  solution/3500-3599/3541.Find Most Frequent Vowel and Consonant/README_EN.md
  solution/3500-3599/3541.Find Most Frequent Vowel and Consonant/Solution.cpp
  solution/3500-3599/3541.Find Most Frequent Vowel and Consonant/Solution.go
  solution/3500-3599/3541.Find Most Frequent Vowel and Consonant/Solution.java
  solution/3500-3599/3541.Find Most Frequent Vowel and Consonant/Solution.py
  solution/3500-3599/3541.Find Most Frequent Vowel and Consonant/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#4404 feat: add solutions to lc problem: No.3335
  solution/3300-3399/3335.Total Characters in String After Transformations I/README.md
  solution/3300-3399/3335.Total Characters in String After Transformations I/README_EN.md
  solution/3300-3399/3335.Total Characters in String After Transformations I/Solution.cpp
  solution/3300-3399/3335.Total Characters in String After Transformations I/Solution.go
  solution/3300-3399/3335.Total Characters in String After Transformations I/Solution.java
  solution/3300-3399/3335.Total Characters in String After Transformations I/Solution.py
  solution/3300-3399/3335.Total Characters in String After Transformations I/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#4405 feat: add solutions to lc problem: No.3337
  solution/3300-3399/3337.Total Characters in String After Transformations II/README.md
  solution/3300-3399/3337.Total Characters in String After Transformations II/README_EN.md
  solution/3300-3399/3337.Total Characters in String After Transformations II/Solution.java
  solution/3300-3399/3337.Total Characters in String After Transformations II/Solution.py
Labels: md, py, java, core team

#4406 feat: add solutions to lc problem: No.3337
  solution/3300-3399/3337.Total Characters in String After Transformations II/README.md
  solution/3300-3399/3337.Total Characters in String After Transformations II/README_EN.md
  solution/3300-3399/3337.Total Characters in String After Transformations II/Solution.cpp
  solution/3300-3399/3337.Total Characters in String After Transformations II/Solution.go
  solution/3300-3399/3337.Total Characters in String After Transformations II/Solution.ts
Labels: md, ts, go, cpp, core team

#4409 feat: add solutions to lc problem: No.1477
  solution/1400-1499/1477.Find Two Non-overlapping Sub-arrays Each With Target Sum/README.md
  solution/1400-1499/1477.Find Two Non-overlapping Sub-arrays Each With Target Sum/README_EN.md
  solution/1400-1499/1477.Find Two Non-overlapping Sub-arrays Each With Target Sum/Solution.ts
  solution/1400-1499/1487.Making File Names Unique/README_EN.md
Labels: md, ts, core team

#4411 feat: add solutions to lc problems: No.3550,3551
  solution/3500-3599/3550.Smallest Index With Digit Sum Equal to Index/README.md
  solution/3500-3599/3550.Smallest Index With Digit Sum Equal to Index/README_EN.md
  solution/3500-3599/3550.Smallest Index With Digit Sum Equal to Index/Solution.cpp
  solution/3500-3599/3550.Smallest Index With Digit Sum Equal to Index/Solution.go
  solution/3500-3599/3550.Smallest Index With Digit Sum Equal to Index/Solution.java
  solution/3500-3599/3550.Smallest Index With Digit Sum Equal to Index/Solution.py
  solution/3500-3599/3550.Smallest Index With Digit Sum Equal to Index/Solution.ts
  solution/3500-3599/3551.Minimum Swaps to Sort by Digit Sum/README.md
  solution/3500-3599/3551.Minimum Swaps to Sort by Digit Sum/README_EN.md
  solution/3500-3599/3551.Minimum Swaps to Sort by Digit Sum/Solution.cpp
  solution/3500-3599/3551.Minimum Swaps to Sort by Digit Sum/Solution.go
  solution/3500-3599/3551.Minimum Swaps to Sort by Digit Sum/Solution.java
  solution/3500-3599/3551.Minimum Swaps to Sort by Digit Sum/Solution.py
  solution/3500-3599/3551.Minimum Swaps to Sort by Digit Sum/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#4412 feat: add solutions to lc problem: No.3552
  solution/3500-3599/3552.Grid Teleportation Traversal/README.md
  solution/3500-3599/3552.Grid Teleportation Traversal/README_EN.md
  solution/3500-3599/3552.Grid Teleportation Traversal/Solution.cpp
  solution/3500-3599/3552.Grid Teleportation Traversal/Solution.go
  solution/3500-3599/3552.Grid Teleportation Traversal/Solution.java
  solution/3500-3599/3552.Grid Teleportation Traversal/Solution.py
  solution/3500-3599/3552.Grid Teleportation Traversal/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#4413 feat: add solutions to lc problem: No.3356
  solution/3300-3399/3356.Zero Array Transformation II/README.md
  solution/3300-3399/3356.Zero Array Transformation II/README_EN.md
  solution/3300-3399/3356.Zero Array Transformation II/Solution.rs
Labels: md, rs, core team

#4414 feat: add rust solution to lc problem: No.0581
  solution/0500-0599/0581.Shortest Unsorted Continuous Subarray/README.md
  solution/0500-0599/0581.Shortest Unsorted Continuous Subarray/README_EN.md
  solution/0500-0599/0581.Shortest Unsorted Continuous Subarray/Solution.rs
  solution/0500-0599/0581.Shortest Unsorted Continuous Subarray/Solution2.rs
Labels: md, rs, core team

#4416 chore: add new lc problems
  solution/3500-3599/3554.Find Category Recommendation Pairs/README.md
  solution/3500-3599/3554.Find Category Recommendation Pairs/README_EN.md
  solution/3500-3599/3555.Smallest Subarray to Sort in Every Sliding Window/README.md
  solution/3500-3599/3555.Smallest Subarray to Sort in Every Sliding Window/README_EN.md
  solution/DATABASE_README.md
  solution/DATABASE_README_EN.md
  solution/README.md
  solution/README_EN.md
Labels: md, core team

#4417 feat: add solutions to lc problem: No.3555
  solution/3500-3599/3555.Smallest Subarray to Sort in Every Sliding Window/README.md
  solution/3500-3599/3555.Smallest Subarray to Sort in Every Sliding Window/README_EN.md
  solution/3500-3599/3555.Smallest Subarray to Sort in Every Sliding Window/Solution.cpp
  solution/3500-3599/3555.Smallest Subarray to Sort in Every Sliding Window/Solution.go
  solution/3500-3599/3555.Smallest Subarray to Sort in Every Sliding Window/Solution.java
  solution/3500-3599/3555.Smallest Subarray to Sort in Every Sliding Window/Solution.py
  solution/3500-3599/3555.Smallest Subarray to Sort in Every Sliding Window/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#4418 feat: add solutions to lc problem: No.3554
  solution/3500-3599/3554.Find Category Recommendation Pairs/README.md
  solution/3500-3599/3554.Find Category Recommendation Pairs/README_EN.md
  solution/3500-3599/3554.Find Category Recommendation Pairs/Solution.py
  solution/3500-3599/3554.Find Category Recommendation Pairs/Solution.sql
Labels: md, py, core team, sql

#4419 feat: add solutions to lc problem: No.2009
  solution/2000-2099/2009.Minimum Number of Operations to Make Array Continuous/README.md
  solution/2000-2099/2009.Minimum Number of Operations to Make Array Continuous/README_EN.md
  solution/2000-2099/2009.Minimum Number of Operations to Make Array Continuous/Solution.ts
  solution/2000-2099/2009.Minimum Number of Operations to Make Array Continuous/Solution2.rs
  solution/2000-2099/2009.Minimum Number of Operations to Make Array Continuous/Solution2.ts
Labels: md, ts, rs, core team

#4420 feat: add solutions to lc problems: No.2357,2358
  solution/2300-2399/2357.Make Array Zero by Subtracting Equal Amounts/README.md
  solution/2300-2399/2357.Make Array Zero by Subtracting Equal Amounts/README_EN.md
  solution/2300-2399/2357.Make Array Zero by Subtracting Equal Amounts/Solution.rs
  solution/2300-2399/2357.Make Array Zero by Subtracting Equal Amounts/Solution.ts
  solution/2300-2399/2358.Maximum Number of Groups Entering a Competition/README.md
  solution/2300-2399/2358.Maximum Number of Groups Entering a Competition/README_EN.md
  solution/2300-2399/2358.Maximum Number of Groups Entering a Competition/Solution.rs
Labels: md, ts, rs, core team

#4421 feat: add solutions to lc problem: No.3362
  solution/3300-3399/3362.Zero Array Transformation III/README.md
  solution/3300-3399/3362.Zero Array Transformation III/README_EN.md
  solution/3300-3399/3362.Zero Array Transformation III/Solution.cpp
  solution/3300-3399/3362.Zero Array Transformation III/Solution.go
  solution/3300-3399/3362.Zero Array Transformation III/Solution.java
  solution/3300-3399/3362.Zero Array Transformation III/Solution.py
  solution/3300-3399/3362.Zero Array Transformation III/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#4422 0001 Solution in c language
  solution/0000-0099/0001.Two Sum/README.md
  solution/0000-0099/0001.Two Sum/README_EN.md
  solution/0000-0099/0001.Two Sum/Solution.c
Labels: md, c

#4423 feat: add solutions to lc problem: No.2359
  solution/2300-2399/2359.Find Closest Node to Given Two Nodes/README.md
  solution/2300-2399/2359.Find Closest Node to Given Two Nodes/README_EN.md
  solution/2300-2399/2359.Find Closest Node to Given Two Nodes/Solution.cpp
  solution/2300-2399/2359.Find Closest Node to Given Two Nodes/Solution.go
  solution/2300-2399/2359.Find Closest Node to Given Two Nodes/Solution.java
  solution/2300-2399/2359.Find Closest Node to Given Two Nodes/Solution.py
  solution/2300-2399/2359.Find Closest Node to Given Two Nodes/Solution.rs
  solution/2300-2399/2359.Find Closest Node to Given Two Nodes/Solution2.cpp
  solution/2300-2399/2359.Find Closest Node to Given Two Nodes/Solution2.go
  solution/2300-2399/2359.Find Closest Node to Given Two Nodes/Solution2.java
  solution/2300-2399/2359.Find Closest Node to Given Two Nodes/Solution2.py
Labels: md, py, go, java, cpp, rs, core team

#4426 Solution of 0002 in c language and Readme file updated with all the terms
  solution/0000-0099/0002.Add Two Numbers/README.md
  solution/0000-0099/0002.Add Two Numbers/README_EN.md
  solution/0000-0099/0002.Add Two Numbers/Solution.c
Labels: md, c

#4430 feat: add solutions to lc problem: No.3556
  solution/3500-3599/3556.Sum of Largest Prime Substrings/README.md
  solution/3500-3599/3556.Sum of Largest Prime Substrings/README_EN.md
  solution/3500-3599/3556.Sum of Largest Prime Substrings/Solution.cpp
  solution/3500-3599/3556.Sum of Largest Prime Substrings/Solution.go
  solution/3500-3599/3556.Sum of Largest Prime Substrings/Solution.java
  solution/3500-3599/3556.Sum of Largest Prime Substrings/Solution.py
  solution/3500-3599/3556.Sum of Largest Prime Substrings/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#4432 feat: add solutions to lc problem: No.1857
  solution/1800-1899/1857.Largest Color Value in a Directed Graph/README.md
  solution/1800-1899/1857.Largest Color Value in a Directed Graph/README_EN.md
  solution/1800-1899/1857.Largest Color Value in a Directed Graph/Solution.ts
Labels: md, ts, core team

#4433 feat: add solutions to lc problem: No.0245
  solution/0200-0299/0245.Shortest Word Distance III/README.md
  solution/0200-0299/0245.Shortest Word Distance III/README_EN.md
  solution/0200-0299/0245.Shortest Word Distance III/Solution.ts
Labels: md, ts, core team

#4436 feat: add solutions to lc problem: No.3403
  solution/3400-3499/3403.Find the Lexicographically Largest String From the Box I/README.md
  solution/3400-3499/3403.Find the Lexicographically Largest String From the Box I/README_EN.md
  solution/3400-3499/3403.Find the Lexicographically Largest String From the Box I/Solution.cpp
  solution/3400-3499/3403.Find the Lexicographically Largest String From the Box I/Solution.go
  solution/3400-3499/3403.Find the Lexicographically Largest String From the Box I/Solution.java
  solution/3400-3499/3403.Find the Lexicographically Largest String From the Box I/Solution.py
  solution/3400-3499/3403.Find the Lexicographically Largest String From the Box I/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#4438 feat: update lc problems
  solution/2800-2899/2894.Divisible and Non-divisible Sums Difference/Solution.rs
  solution/3500-3599/3549.Multiply Two Polynomials/README.md
  solution/3500-3599/3549.Multiply Two Polynomials/README_EN.md
  solution/3500-3599/3550.Smallest Index With Digit Sum Equal to Index/README.md
  solution/3500-3599/3550.Smallest Index With Digit Sum Equal to Index/README_EN.md
  solution/3500-3599/3551.Minimum Swaps to Sort by Digit Sum/README.md
  solution/3500-3599/3551.Minimum Swaps to Sort by Digit Sum/README_EN.md
  solution/3500-3599/3552.Grid Teleportation Traversal/README.md
  solution/3500-3599/3552.Grid Teleportation Traversal/README_EN.md
  solution/3500-3599/3553.Minimum Weighted Subgraph With the Required Paths II/README.md
  solution/3500-3599/3553.Minimum Weighted Subgraph With the Required Paths II/README_EN.md
  solution/3500-3599/3556.Sum of Largest Prime Substrings/README_EN.md
  solution/3500-3599/3557.Find Maximum Number of Non Intersecting Substrings/README_EN.md
  solution/3500-3599/3558.Number of Ways to Assign Edge Weights I/README_EN.md
  solution/3500-3599/3559.Number of Ways to Assign Edge Weights II/README_EN.md
  solution/3500-3599/3562.Maximum Profit from Trading Stocks with Discounts/README_EN.md
  solution/3500-3599/3563.Lexicographically Smallest String After Adjacent Removals/README_EN.md
  solution/3500-3599/3564.Seasonal Sales Analysis/README.md
  solution/3500-3599/3564.Seasonal Sales Analysis/README_EN.md
  solution/3500-3599/3564.Seasonal Sales Analysis/Solution.py
  solution/3500-3599/3564.Seasonal Sales Analysis/Solution.sql
  solution/3500-3599/3565.Sequential Grid Path Cover/README.md
  solution/3500-3599/3565.Sequential Grid Path Cover/README_EN.md
  solution/3500-3599/3565.Sequential Grid Path Cover/images/ezgifcom-animated-gif-maker1.gif
  solution/DATABASE_README.md
  solution/DATABASE_README_EN.md
  solution/README.md
  solution/README_EN.md
Labels: md, py, rs, core team, sql, gif

#4439 feat: add solutions to lc problem: No.3565
  solution/3500-3599/3562.Maximum Profit from Trading Stocks with Discounts/images/screenshot-2025-04-10-at-054114.png
  solution/3500-3599/3565.Sequential Grid Path Cover/README.md
  solution/3500-3599/3565.Sequential Grid Path Cover/README_EN.md
  solution/3500-3599/3565.Sequential Grid Path Cover/Solution.cpp
  solution/3500-3599/3565.Sequential Grid Path Cover/Solution.go
  solution/3500-3599/3565.Sequential Grid Path Cover/Solution.java
  solution/3500-3599/3565.Sequential Grid Path Cover/Solution.py
  solution/3500-3599/3565.Sequential Grid Path Cover/Solution.ts
Labels: md, ts, py, go, java, cpp, core team, png

#4437 feat: add solutions to lc problem: No.0147
  solution/0100-0199/0147.Insertion Sort List/README.md
  solution/0100-0199/0147.Insertion Sort List/README_EN.md
  solution/0100-0199/0147.Insertion Sort List/Solution.go
Labels: md, go, core team

#4441 feat: add solutions to lc problem: No.0269
  solution/0200-0299/0269.Alien Dictionary/README.md
  solution/0200-0299/0269.Alien Dictionary/README_EN.md
  solution/0200-0299/0269.Alien Dictionary/Solution.go
Labels: md, go, core team

#4444 feat: add solutions to lc problem: No.3561
  solution/3500-3599/3561.Resulting String After Adjacent Removals/README.md
  solution/3500-3599/3561.Resulting String After Adjacent Removals/README_EN.md
  solution/3500-3599/3561.Resulting String After Adjacent Removals/Solution.cpp
  solution/3500-3599/3561.Resulting String After Adjacent Removals/Solution.go
  solution/3500-3599/3561.Resulting String After Adjacent Removals/Solution.java
  solution/3500-3599/3561.Resulting String After Adjacent Removals/Solution.py
  solution/3500-3599/3561.Resulting String After Adjacent Removals/Solution.ts
Labels: md, ts, py, go, java, cpp, core team

#4447 chore: add missing image
  solution/3500-3599/3562.Maximum Profit from Trading Stocks with Discounts/images/1748074339-XmAKtD-screenshot-2025-04-10-at-054114.png
Labels: core team, png

#4449 feat: update lc problems
  solution/3500-3599/3549.Multiply Two Polynomials/README.md
  solution/3500-3599/3549.Multiply Two Polynomials/README_EN.md
  solution/3500-3599/3555.Smallest Subarray to Sort in Every Sliding Window/README.md
  solution/3500-3599/3555.Smallest Subarray to Sort in Every Sliding Window/README_EN.md
  solution/3500-3599/3556.Sum of Largest Prime Substrings/README.md
  solution/3500-3599/3556.Sum of Largest Prime Substrings/README_EN.md
  solution/3500-3599/3557.Find Maximum Number of Non Intersecting Substrings/README.md
  solution/3500-3599/3557.Find Maximum Number of Non Intersecting Substrings/README_EN.md
  solution/3500-3599/3558.Number of Ways to Assign Edge Weights I/README.md
  solution/3500-3599/3558.Number of Ways to Assign Edge Weights I/README_EN.md
  solution/3500-3599/3559.Number of Ways to Assign Edge Weights II/README.md
  solution/3500-3599/3559.Number of Ways to Assign Edge Weights II/README_EN.md
  solution/3500-3599/3560.Find Minimum Log Transportation Cost/README.md
  solution/3500-3599/3560.Find Minimum Log Transportation Cost/README_EN.md
  solution/3500-3599/3561.Resulting String After Adjacent Removals/README.md
  solution/3500-3599/3561.Resulting String After Adjacent Removals/README_EN.md
  solution/3500-3599/3562.Maximum Profit from Trading Stocks with Discounts/README.md
  solution/3500-3599/3562.Maximum Profit from Trading Stocks with Discounts/README_EN.md
  solution/3500-3599/3563.Lexicographically Smallest String After Adjacent Removals/README.md
  solution/3500-3599/3563.Lexicographically Smallest String After Adjacent Removals/README_EN.md
  solution/3500-3599/3564.Seasonal Sales Analysis/README.md
  solution/3500-3599/3565.Sequential Grid Path Cover/README.md
  solution/DATABASE_README.md
  solution/DATABASE_README_EN.md
  solution/README.md
  solution/README_EN.md
Labels: md, core team

#4451 feat: add solutions to lc problem: No.0909
  solution/0900-0999/0909.Snakes and Ladders/README.md
  solution/0900-0999/0909.Snakes and Ladders/README_EN.md
  solution/0900-0999/0909.Snakes and Ladders/Solution.rs
Labels: md, rs, core team
